---
title: "リクルーターごっこは続く"
date: 2003-12-10
---
<p>近況</p><p>リクルーターごっこは続く. 今日は OB 面談会という名の会社説明会になぜか参加を要請された. スパイウェアの成果で暇がばれている, なんてのは妄想が過ぎる. カジュアルな格好でと説明があったはずの参加者は 8 割方がスーツ姿なのを見て, 自分もそうしたのを思いだす. リスクとは何か, あらためて考えようと思いながらよくみると. スーツ青年群の中にワイシャツの上からネクタイをしている男が一人いた. 間違い探しみたいだな. 彼はカジュアリティを理解している, 人事がそう解釈したかは知らない. </p><p>さて, 就職神話のひとつに "会社説明会の時から勝負は始まっている" という言説がある. これは弊社に限るとまるであてはまらないことを身をもって知った. なにしろ偽装面接官であるはずの OB(私)は, よれたシャツ姿に加えてメモ帳ひとつもっていないのだから. どうせならばしっとセットした髪にスーツも着て彼らの言動を事こまか観察してメモり, カジュアリティという建前を愚弄する大人社会の汚なさでも演出してやれば盛りあがったかもしれない. サービス精神が足りなかったと悔いる. "うちの会社は部長もバリバリとコードを書くんだよ" という技術者向けリップサービスも, のちに当人から "そこは &lt;で, 彼のバグが一番多いんだ&gt;とこっそりぼやいて笑いをとるとれるところだ" と指摘され, 更にへこむ材料にしかならなかった. コードの能力もコミュニケーションの能力も上司には遠く及ばないと. </p><p>だいたい観察されているのは私のほうだ. 21, 22 時に帰宅するのは "早い方なんですか？" と参加者からつっこまれた私のうろたえる姿を想像して欲しい. "自転車通勤なら終電は関係ないよ" というのがジョークならどんなによかったか.</p>
