---
title: "暖房を手に入れた"
date: 2003-12-24
---
<p>近況</p><p>暖房を手に入れた. ガスファンヒーター. "ガスの口くらいあるのでは" という指摘にあらためて壁をよくみるとありました. これで少しは人様を招待しやすくなる. 暇潰しの道具が何もない退屈な家だという欠点は相変らずだが, これは住んでいる人間を反映しているので仕方ない. せめて鍋とコンロを買おう. 誰か鍋しましょう. 鍋. おでんも可.</p>
