---
title: "環境危機をあおってはいけないビョルン・ロンボルグ "
date: 2003-12-11
---
<p>環境危機をあおってはいけない</p><p>ビョルン・ロンボルグ / 山形浩生訳 / <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4163650806">ASIN:4163650806</a> .</p><p>"沈黙の春" の読後, バランスをとるために読んでみた. 食料問題や環境破壊などの世間を不安にさせている問題について, 統計を使い "ものごとは改善している --- が十分によくはない" ことを示す. グリーンピースのような環境保護団体が数値をインチキして世論を煽るというのはありそうな話. ただ, その(あまり説得力がないはずの)主張がメディアからメディアへと波及して "常識" になる事実は面白い. 環境保護団体が世論に嘘をつくのは, きっと彼らが世間の良識を信用してないからだろう. けれどなぜその嘘を私達は喜んで受けいれたのか. よくわからない. </p><p>私達は "良い事" をしたい, 良い人であることからくる自己満足を得たい. そう思っているけれど, 一方で良い事をするコストを払うのには抵抗があるのかも知れない. 良い事をするためにものを考え, 準備するはしんどい. "良い事" の多くは文脈に依存するから, その文脈をとらえて資源を投じるには訓練と覚悟を必要とする. (この本はそうした多大な労力の結晶だと言える.) そういう敷居の高さを前にしたら, たしかにくじけてしまう気はする.</p><p>もう一つ. 私達は良いことをするのはタダであるか, あるいはあたりまえの事であると言われ続けてきてしまった. だから空気に金を払いたくないよう良い事に資源を割きたくないと感じて, 割と少いコストで寄与できると謳う非効率な "良いこと" を好んでしまうのではないか. そう思った. </p><p>良いことをするのはあたりまえだとする教育は, 環境危機をあおることと似ている. どちらも私達を信用していない. 不愉快なかんじ. 各人がそれなりに頭を使って利己的であろうとすれば全体が改善するようなシステムであるよう, 私達は世界を形造ろうとしている. 信じるならそんな話の方がいい.</p>
