---
title: "このあいだ会社の大掃除をしていたら, 背にエライ人の押印がある スーパーエンジニアへの道 というワインバーグの本をみつけた"
date: 2003-12-29
---
<p>近況</p><p>このあいだ会社の大掃除をしていたら, 背にエライ人の押印がある <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4320025636/">"スーパーエンジニアへの道"</a> というワインバーグの本をみつけた. エンジニア向けの自己啓発本で割と評判はいい. 私もまともなことが書いてあると思った. エライ人はこの本をどう評価したのだろうか, すこし気になる. 彼のことだから, "良い本だよ" と言ってさらりと流されそうだけれど. 年末はこれを読みなおそう. </p><p>良いお年を.</p>
