---
title: "ロンボルグ続きkorompa の紹介している 市民のための環境学ガイド を読んでみた"
date: 2003-12-12
---
<p>ロンボルグ続き</p><p>korompa の紹介している <a href="http://plaza13.mbn.or.jp/~yasui_it/">市民のための環境学ガイド</a> を読んでみた. ロンボルグ本のレビュー部分のみ. レビューは章ごとに行なわれていて, 問題のある点について環境学の専門家という視点から批判が行われる. 主な批判はロンボルグの経済学者に似た楽観主義や, 技術音痴からくる(これも)楽観に向けられている. 割と妥当な議論.</p><p>さて, ロンボルグはいつもおおよそ次のように議論を展開する: 1. まず統計を示し, 世に知られている俗説との乖離を明らかにする. それから 2. その統計を裏付けるための議論を行う.  1 の統計に関する部分がおおよそ正しい一方で, どうも 2 の議論部分は割と適当で, 楽観的すぎるようだ. レトリックも多い. そんな風に気をつけて読むと楽しめるかもしれない. 逆に統計部分は信用してよさそう.</p><p>自分の武器である統計を使うと環境問題という腫物に挑戦できることに気付いて, ロンボルグは張り切ったんだろう. 前書きの雰囲気から様子が伺える. それで調べてみたら色々言えてしまうことがわかり, 調子にのりすぎ慎重さを欠いてしまった. そんなところだろうなと想像した. 精緻さに隣り合う無邪気な不用意, うかつさはどこか共感をさそう. この少しの隙間から声が届くかもしれない. そんな感触.</p><p></p><p> そういえば, 10 章の森林破壊に関する議論によくわからない部分があったのを思いだしました.</p><blockquote><p>WWF は "アマゾンは世界の肺と呼ばれている" からとブラジルのアマゾン保護を主張した. でもこんなのは思いこみでしかない. 確かに植物は光合成によって酸素を生成する. でもその植物が死に, 腐敗する時には, まったく同じ量の酸素が消費される. したがって, 安定した森林(樹木が生長する一方で老木が倒れて, バイオマスがほぼ一定に保たれている状態)だと収支が打ち消しあって, 酸素は生産も消費もされない.</p></blockquote><p> というところ. そうなの？ 植物のだす酸素が黒字にならないと, 動物も含めた時に辻褄があわない気がするのだけれど...</p>
