---
title: "はてなダイアリで書いていると すみっこ感 を強く感じてしまう"
date: 2003-11-30
---
<p>近況</p><p>はてなダイアリで書いていると "すみっこ感" を強く感じてしまう.どうせすみっこなら, はてなのすみっこよりウェブのすみっこの方がいい. せっかく年会費を払っているのだ. dodgson.org に戻ろう. </p><p>などと考えてはてなの id を取り消した矢先, PC のディスクが壊れてしまった. 割と頑張って書いた xml-dev 観察記も, 書きかけのアンテナスクリプトも, 無くなってしまった. 不覚だ.</p><p>がっくり来ていたところ, 継続は力なりと諭された. めげずに書きます.</p>
