---
title: "私済むアパートには暖房がない"
date: 2003-12-18
---
<p>近況</p><p>私済むアパートには暖房がない. 冬の賞与で暖房機器を買おうか. エアコン, オイルヒーター, ホットカーペット. どれも一長一短だから選択に困る. 昨夜はあまりの寒さに震え, 数ヶ月振りに風呂を沸かした. おお, あったまるなあ ... 風呂があれば冬が越せるかもしれない. しかし暖房を買おうと思った当初の動機は, 知人友人を家に招くためだったのを思いだす. やはり暖房機器が必要だ. うーん...</p><p>ところで昭和築のこのアパート, 風呂に追い焚き機能がついている. 湯船の水は追い焚きで何日くらい使うものなんだろう. と同僚に聞いたら, それは一日の中で入浴時間に幅のある家族が, それぞれのタイミングで使うものだと言われた. たしかにそんな気がする. 一人暮らしに追い焚きは不要ということかしら. それも癪な話だから, とりあえず二日間は使ってみよう. で, 今日も風呂. ああ, しあわせ ... 暖房購入の切実さを失いゆく自己中心的な自分を風呂桶の中で倦みつつ, ぼんやりと本を読む夜.</p>
