---
title: "リクルーティングという名目で大学の研究室を訪れる"
date: 2003-12-09
---
<p>近況</p><p>リクルーティングという名目で大学の研究室を訪れる. 菓子折とパンフレットを持って昼下りの電車にのると, なんとなくビジネスマンといった風で気分が良い. 誰も興味はないだろうし, 菓子折の中身をつまんで適当に親玉と世間話でもしてこよう. なんて思っていたがそれなりに人はあつまり, パンフレットは配り切る. これで人事への義理は果たした. "フィナンシェが美味しかったですよ" というだけでは減俸を免れ得ない.</p><p>それにしても, こんなマイナー企業の説明でも一応聞く気になるとは. 就職活動をする学生にとってのこの時期はよっぽど不安なものらしい. 私は仕事を得ることについてほとんど不安がなかったから, 彼らの不安をあまりよく推し量ることができない. しかし健全な将来への希望を持ちながら自分に与えられうる仕事がプログラマと SE しか無いと思ってしまったら, それは確かに不幸かもしれない.</p><p>私の場合は将来への希望もなかったし, なにより自分の下僕体質を強く信じていた. 新卒学生の求職情報は, 多くの場合 "我々は主役になれる人材を探しています" と主張している. しかし主役の下で手足となって働く下僕の数は主役よりずっと多く必要だ. 私はその下僕としての能力を長いこと無批判に高めてきた. 文句を言わず働き, 仕事より大事なものも特になく, テクノロジーの表層を理解している. この能力が(例えば外国人の, 十年後には若者の)より安い労働力と競争できるか, また下僕として生きていくことに楽しみがあるかという問題に対しては特に考えを持っていない. だから質問されると答えに困る. 競争には負けるだろうし, 楽しくもないだろうね. そう答えることしかできない.</p><p></p><p> "らしさ" に憧れがある. 大学の後輩達と飲んだあと, ほんとうは "社会人らしく" あるいは "先輩らしく" 御馳走してあげたい. 安居酒屋だし. と思った. でもスマートに支払いを名乗り出すことができない. 自分が後輩であった時, 私はただ御馳走されることに喜ぶばかりで先達の振舞いをよく見ていなかった. あの頃は気がつくと会計が済んでいたような...</p><p>などとうろたえていると, 自分の財布を覗いていた彼らが "いま細かいのがないから後で..." とのたもうた. ナイスフォロー!  無事御馳走することができ, 彼らの見事な "後輩らしさ" に感謝するのだった.</p>
