---
title: "TRiCKFiSH ネットでの儀礼的無関心の可能性 は身につまされた"
date: 2003-12-04
published: false
---
<p>近況</p><p>TRiCKFiSH "<a href="http://d.hatena.ne.jp/TRiCKFiSH/20031130">ネットでの儀礼的無関心の可能性</a>" は身につまされた. 善意を持ってリンクをすることもできるし, 悪意を持ってリンクすることもできる. web のくらしが慣れてくると, 大抵は何も考えないでリンクするようになる. 逆にリンクをしないという判断をするとき, それは善意や儀礼であることもあれば, 悪意や無作法でもありうる. 2ch などで "ttp:" を使い URL を提示する時, そこには善意より悪意のあることが多いようにおもうし, 明示的なアンカーを使わないで他人の意見を罵倒するのは無作法だ. </p><p>覗き見や陰口の悪意. あるいはどことなくある後ろめたさ. それへの無自覚は不快感を放つ. 信頼を損なうこともあるだろう. ひそかな楽しみを味わうとき, ここに潜む悪意や後ろめたさを自ら検証するためには, たとえばこう考えてみる: 自分がそれを読んでいると知ったら, 相手は不愉快な思いをするだろうか？ そんな想像力が儀礼のもつ本質だと思う. 自分には想像力がないと思うなら, あるいは悪意や後ろめたさを抱えていると気付いたら, せめて注意深くありたい. それすらできない絶望は深いけれど.</p><p></p><p> 続くで終わった日記項ふたつは明日以降に.</p>
