---
title: "また PC が壊れた"
date: 2003-12-22
---
<p>近況</p><p>また PC が壊れた. 症状はディスク破損. 本田さんごめんなさい. 4 月から数えて 3 度めのディスク故障だ. ディスク以外にディスクを壊す要素がありそう. 原因を追及はしないけれど, またディスクを交換する気にもならない. PC を買いかえるか, PC を諦めるか. 年収 300 万円時代の情報産業末端労働者にとってはいずれも厳しい. </p><p>最近は嬉しくないことが続く. 仕事では競合他社に負けてその仕事を失い, 私生活では人格を疑われる事をして友達に嫌われ, ディスクは壊れ. ディスク故障以外は自分が原因だから文句は言えない. PC も DELL を買っておけば...と思うほど素直な良い子ではないけれど, 自分の無能さや無神経さや無気力や無目的のトレードオフを先送りできない年齢になったなとは思う.</p>
