---
title: "社内の会議室で開催された納会に出る"
date: 2003-12-26
---
<p>近況</p><p>社内の会議室で開催された納会に出る. 仕事もないのでぼんやり食べものをつまんでいたら, 割とえらい人や古株の人が中心に残ってのんでいる中に混じっていた. 酔った彼らの間で交されるやりとりは誹謗中傷すれすれできわどいものが多い. そういうのがジョークだと許容される関係を見るとこの人たちは仲間なんだなと思う. その席で "** はつっこみにくいんだよね. いつも逃げちゃうし." と冗談まじりに指摘され, しかしもっともだと思う.</p><!--<p>最近は会社の話ばかり書いている. 会社でも会社の話ばかりしている.</p><p>  --></p>
