---
title: "自分の無能さやつまらなさを決定づけているのは怠惰さであると長いこと思っていたけれど, 最近はそれに加えて不誠実なのもその要因だと気付いた"
date: 2003-12-21
published: false
---
<p>近況</p><p>自分の無能さやつまらなさを決定づけているのは怠惰さであると長いこと思っていたけれど, 最近はそれに加えて不誠実なのもその要因だと気付いた. なんだか非常にすっきり. ただ怠惰であるだけでは, 他人に対して無神経だったり無愛想だったり狭量だったりすることに説明がつかない. 自分が十分に怠惰でかつ不誠実だと考えれるとあれこれがしっくりくる. こんなことはもっと若いうちに気付きそうなものだ. なぜ今までそう思い至らなかったかといえば, それはまさに怠惰さ故のひきこもり生活のため, 自身の不誠実さを自覚する機会がなかったためなんだろうな. </p><p>怠惰さと不誠実さの関係は相補的で, たとえば誠実であろうとすると怠惰ではいられないけれど, なにか明示的な努力をするためには目的に対する誠実さが必要だったりする. まともな人間に至る bootstrap の鶏と卵を解決する機会を失したと思うのは, 時間に対して不誠実であるからだろうか. あるいは怠惰さがうむ言訳か, 今更ながらそんな不毛な議論にでも至ることができたのは, 本年の成果であるのかもしれない. こうしてつまらなさの中身を少しずつ暴いていければとおもう.</p>
