---
title: "大学時代の友人とあう"
date: 2003-12-01
---
<p>近況</p><p>大学時代の友人とあう.</p><p>彼は割と大手のゲームメーカーに勤めており, 与えられている仕事も, 話を聞く限りでは先のあるものに思えた. 私からすると前途洋々に見える彼の愚痴を聞く: わかりの悪い上司, 仕事ができずに八つ当りをしてくる先輩社員, 風通しがわるくむっつりとした職場. 会社はもういい, プライベートで腕を磨いて, 数年したら転職してやる.</p><p>思わず尻ごみする. 実際そんな職場なのかもしれない, そう思っても私は居心地の悪さを拭えず, "現場の無能さに失望した有能な新人" のいうことに曖昧な相槌をうつ. </p><p>彼はあまり抽象的なものの考え方をしない. だから枠組への過剰なコミットからおこるコストを自覚できない. かわりに枠組を怯えず, それに正面から取り組むことができる. 抽象的な考えを弄ぶばかりで具体的な問題にとりくめない私とは逆だ. </p><p>いや, 安易に対称性をもちだすのはよそう. 彼は自身の観察や戦略を誰かに示すのを, スタイルとして好まないのかもしれない. あるいは, 抽象と具象のコンテクスト・スイッチによるオーバーヘッドを嫌い, それを避けるという決定を下したのかも. 彼にはそんなストイックさが似合う. この方がずっといい. </p><p>"具象と抽象" という言い回しは lexical に非対称性を隠してしまう. 現実と, それを解釈するための道具の関係は対称でない. 私は言葉に甘えている. 言葉に甘えると, そんなことも見落してしまいがちになる. </p>
