---
title: "著作権の考え方"
date: 2004-01-04
---
<h3><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4004308690/">著作権の考え方</a></h3><p></p><p> <a href="http://moriyama.com/diary/2003/diary.03.12.htm#diary.03.12.23">森山日記</a>で勧められていたので読む. よくまとまっている. まず著作権をいくつかの権利の集合体として捉え, どんな権利があるのかを説明していく. その後の議論はその枠組みに従ってつづく. "誰が" "どんな権利を" もっているのかをはっきりさせながら議論を進めるためわかりやすい.</p><p>利害関係が競合する場面では &lt; "全員が不満" が "普通の状態" &gt; だと強調し, 正義ぶるのはやめなさいという主張や, 国内の著作権問題の大半はシステムの不備でなく契約をちゃんとしないで招いたトラブルだという話はもっともだと思う. JASRAC のような業界包括契約方式の限界についても指摘されている. コンテンツの仲介業で儲けるのはなかなか大変そう.</p><p>それにしても知らない話が多かった. 特許にばかり気をとられて, 著作権には興味をもっていなかったなあ.</p>
