---
title: "  コペンハーゲンに向かう航空機で同席したドイツ人は熱心に辞書をひきながら ラブひな を読んでいた"
date: 2004-05-08
---
<p>近況</p><p> <img src='/images/20040508_0.jpg' class='image'> </p><p>コペンハーゲンに向かう航空機で同席したドイツ人は熱心に辞書をひきながら "ラブひな" を読んでいた. フランス人の友人から Practical Japanese の入門書として勧められたというそれを, 彼はとてもお気に入りのようす. ふりがなもあるし, 話もとても楽しいですとのこと. 外国人の読む初めてのまんがはドラゴンボールかセーラームーンだと信じていたけれど, それは甚だしい時代錯誤であった. ( <a href="http://www.koyagi.com/recManga.html">最近の recommendations</a>. ) そんな彼に勧めるべきまんがは何だろうと考える. 東京大学物語, はやめておこう...</p>
