---
title: "SimpleServlet三井住友銀行のウェブ口座を使っている"
date: 2004-01-08
---
<p>SimpleServlet</p><p>三井住友銀行のウェブ口座を使っている. URL に目をやると path に "/servlet/" が含まれていた. ふと学生の頃を思いだす. アルバイトで <a href="http://java.sun.com/products/servlet/">servlet</a> をさわりだした時期, よくやったいたずらのこと.</p><p>そのいたずらは "/servlet/" のあとに具体的な servlet のクラス名を指定するというもので, 代表格が "SimpleServlet" だった. 例えば http://example.org/servlet/FooBar?... のような URL をみかけたら, "http://example.org/servlet/SimpleServlet" にアクセスしてみる. Not Found 以外の結果が表示されたら御名答という次第. SimpleServlet は servlet container の実装によくついてくるサンプルコードだ. たまにそれが残っており, アクセスできることがある.</p><p>その頃試したサイトはあらかた忘れてしまったけれど, 例えば <a href="http://itp.ne.jp/">インターネットタウンページ</a> はあたりサイトのひとつだった : <a href="http://itp.ne.jp/servlet/SimpleServlet">http://itp.ne.jp/servlet/SimpleServlet</a> 三井住友銀行はどうだろう.... <a href="https://direct.smbc.co.jp/servlet/SimpleServlet">https://direct.smbc.co.jp/servlet/SimpleServlet</a> ... 御名答!</p><p>SimpleServlet は特に意味のないプログラムだ. "SnoopServlet" という, もう少し凝ったサンプルがある. ITP のサイトには, これも残っていた : <a href="http://itp.ne.jp/servlet/SnoopServlet">http://itp.ne.jp/servlet/SnoopServlet</a> セキュリティ上すこしきわどい情報も含まれている. (三井住友銀行のページではさすがに見当たらない.)</p><p>しょうもないことばかりして遊んでいたひきこもりの日々, そんな学生の頃を思いだす. </p>
