---
title: "尊敬する人が困っている, なんとか手助けしたい"
date: 2004-05-11
---
<p>近況</p><p>尊敬する人が困っている, なんとか手助けしたい. こうした義理人情の強さを優先することもある. たとえば以下のような外野風議論は保留して:</p><p>Winny 作者の逮捕は, プログラマの直感からするとひどく馬鹿げたことだ. ただ, 世の中のプログラマ以外の人からすればどうだかわからないし, それが社会的に, あるいは自分にとって (長期的に) 意義のあることなのかもわからない. 法的にはたぶんグレーゾーン. それ以上説得力のある議論をできる気がしない. 警察やマスコミの態度は, 彼を知っている人からすれば酷いものなのだろうけれど, 今回のそれが殊更まずいかどうか判断はできない. 彼らにすればいつものことなのかもしれない. 騒いでも仕方ない.</p><p>慣れ親しんだこういう言い方を居心地悪く感じるなら, きっと望まない議論をしている. 報道やいくつかのページを見て, 友達と話して一晩ねて, 仕事をして, ようやくそう判断. まったく局所的な文脈に疎い. だから新井さんの lightwightness を尊敬し, うらやましく思う. 結局身の周りに張り巡らされたそんな文脈的葉脈こそがこの世を我慢できる程度の居心地に保っているのだろうから, 一見不合理に見えるそこへの投機はある種の経験則に従っているはずだ.</p><p>などと一般的な言訳はしないという話. 調布の公民館でみたミサイルの煙幕を忘れないかぎりは.</p><p></p><ul><p> <li><a href="http://www.moodindigo.org/blog/archives/000210.html">金子勇氏を支援しよう</a>.</li></p></ul>
