---
title: "The Universe Of English II"
date: 2004-01-06
---
<h3><a href="http://www.amazon.co.jp/exec/obidos/ASIN/4130821032/">The Universe Of English II</a></h3><p></p><p> 英語の勉強をする気になり, 読んでいる. が, 難しい ... ほとんど読み進まない. 仕様書や TOEIC に出てくるような英語は簡単な部類なのだと思いだす. 英語は本当に苦手だ. 勉強甲斐があるということにしておこう.</p>
