---
title: "ここ数ヶ月でだいぶ金遣いがルーズになったようだと, 家計簿を再開してわかった"
date: 2004-01-24
---
<p>近況</p><p>ここ数ヶ月でだいぶ金遣いがルーズになったようだと, 家計簿を再開してわかった. 赤字目前. 今週は家でおとなしくしていることにする. 外の騒音を紛らわすために音をならそうと思い, ネットラジオ端末をインストール. 以前使っていた <a href="http://www.spinner.com/">Spinner</a> はパスし, <a href="http://www.apple.com/itunes/">iTunes</a> を入れてみることにした. ブロードキャストされる機能もあるのだと同僚に教わったのだ. オンライン音楽販促ソフトウェアだと思っていたら, そんなこともできるとは. </p><p>チャンネル一覧を眺めていると, "xx 大学による放送" みたいのがけっこうある. それを配信する Apple に驚く. 次に "Japan-A-Radio" なる局が目についた. "Anime Musuc & Japanese Pop(Jpop / Anime)" というコメント. 他をさがしても日本語の放送はこれだけらしい. アニソンと JPOP でひとくくりかよ. そんなものかもしれない. 局は全体にアマチュアっぽい気がする. なお spinner と違って "buy now" 機能はない. なんとなく聴く→欲しくなる→買う というフローはナシらしい. 単純な RSTP のストリームだと曲情報を付加するのは難しいのかもしれない. 衝動買い傾向の人も安心.  </p><p>使ってみると, ネットラジオに専用クライアントを用意するアプローチの便利さを実感する. 単なるストリーム再生ではなく, 局選択もできるのが嬉しい. ウェブページのクリックから MIME で関連づけられたストリームやプレイリストを再生する草の根ネットラジオの仕組みはあまり便利でない. プレイヤの起動時間がかかるし, ブラウザとプレイヤのウィンドウが別々に振舞うので邪魔になる. 世間の草の根インターネットラジオ視聴者はあの不自由をどう思っているのだろう.</p><p></p><p>近況2</p><p>そういえば PC を新調したついでに, MSN Messenger を入れたのです. mikitaomo-at-hotmail-dot-com をかまってください.</p>
