---
title: "  風の強い夜だ"
date: 2004-03-11
---
<p>近況</p><p> <img src='/bn/images/20040311_0.jpg' class='image-right'> 風の強い夜だ.</p><p>家の風呂には小窓があり, そこから吹きこむ風が浴室の戸を揺らす. そんな日がある. 今日もだ. がたつく戸の疎ましさを蒲団の中で憂いながら眠りにつく. </p><p>風の強い夜だ.</p><p>戸の揺れる音に目を覚まされた. 窓を閉めよう. 時計に眠い目をやり, もう夜ではないことに気がつく. 異変は風呂の手前にある脱衣所の戸を開けることで明かされた. 湯気. 温泉の脱衣所まがいに立ちこめた湯気. 眠気がひく. 覗きこんだ風呂桶では湯が気泡で揺れていた. 風呂って文字どおり "沸く" こともあるんだな. そんなことを考える. なぜ追い焚きをしたままだったのかはよくわからない. たぶん湯がぬるかったから追い焚きを止めず風呂桶にはいり, そのまま出て忘れたのだろう. ガスを止め窓を全開, 水蒸気に没した風呂場, 脱衣所, 手洗いを雑巾で拭きながら, 再発防止策をぼんやりさまよい探した. 風呂をでる前にガスを確認する, なんてのは意味がない. 追い焚きをしない, これでは工学的に敗北だ. 追い焚きをする時は必ずタイマーを使い, 湯が十分熱くなるくらいの expiration を設定することにしようか. 熱ければ追い焚きを止めて入湯するだろうから. きっと. アホーダンス.</p><p>こうして知覚の問題からキッチンタイマーの必要性に到達したのが 5:30 のことでした. 期せずして実現された早起きに記念撮影. 眠い.</p>
