---
title: "花見"
date: 2004-03-16
---
<p>近況</p><p>花見/新緑を楽しむ会 は 4/3 にやります. ふるって御参加ください. まだふるってくださってない方でふるってくださる方は, omo at dodgson dot org か <a href="http://www.dodgson.org/omo/hiki.cgi?Hanami2004">花見告知ページ</a> に御連絡を.</p>
