---
title: "今週は早起早出勤早退社早寝を実施していた"
date: 2004-03-27
---
<p>近況</p><p>今週は早起早出勤早退社早寝を実施していた. 比較的早い時間に会社を出られるのは精神衛生上よろしい. ひたすらコードを書いていしまったり非常識な時間にミーティングを開催されたりするとこのサイクルは狂う. 飲んだくれも. そういうのをうまくかわしながらしばらくは節度ある暮らしを続け, この健康さを楽しみたい.</p><p></p><p>We see your potential</p><p><img class="right" src="http://www.microsoft.com/mscorp/images/piano.jpg"> 早寝のため, 夜は PC をつけずに過ごしてみる. かわりにつけたテレビで見かけた Microsoft の広告が幻想的. 気に入った. "We see your potential. You inspire us to create software, that helps you reach it." というやつ. ブランド強化の一環として去年からやっているらしい. (<a href="http://www.microsoft.com/japan/mscorp/ads/tv.asp">コーポレートブランド広告キャンペーン</a>, <a href="http://www.microsoft.com/mscorp/ads/tv.asp">英語版</a>.) 彼らや彼らのソフトウェアが広告通りかはさておくとして, 仕事でソフトウェアを作るってこういうことだよなと共感. 情報技術は単なる効率化の手段ではないというメッセージに励まされる. あまりがつがつした印象がないところもいい. 競合を泥仕合で蹴落とし顧客と上司をハッタリで牽制する自転車操業をやりながらあわよくばアイデア一発で億万長者...などと利己でささくれた日々を送っていると, 謙虚さのファンタジーが心にしみる. あなたの可能性を広げるのが私達の仕事です. そう言えたらいいと思う. </p>
