---
title: "花見案内今年も花見をやりたい, という話になった"
date: 2004-03-05
---
<p>花見案内</p><p>今年も花見をやりたい, という話になった. そんなわけでメールアドレスのわかる人には思いつく範囲でメール. メールがこない人はわたくしの老害故ですので, 参加していただけるなら omo at dodgson dot org まで. あるいは <a href="http://www.dodgson.org/omo/hiki.cgi?Hanami2004">花見告知ページ</a> にこっそり参加と書いてください.</p><p>花見の雨天対策に詳しい人の助言も求む.</p>
