---
title: "  密談は夜更けに咲く"
date: 2004-12-15
---
<p>近況</p><p> <img src='/bn/images/20041215_0.jpg' class='image-right'> 密談は夜更けに咲く. </p><p>人影まばらな作業場で, 虫を追いながら上司らの立ち話に聞き耳を立てた. 誰が, 出張, 交代, 面接. 彼だけ, 二人, 三人, 十人, どこに？ 週末, 三日, 一週間, 二週間, 三ヶ月. 回る, 回らない, 使える, 使えない, あの子は, あの人では. 資源割当に関する提案が浮き上がっては消え, 迫ってははぐらかされ, 保守的, 圧力, 変化, 無茶, 予定. 阻止する, 押し切る, 間に合う, ぶっちぎる. しなければ, 救済, でも, それでも. 遠く響く電話の鈴に呼応し, ベクトルは私の知らない次元への収束を始める. じゃ, そういう方向でいきましょう. よろしく.</p><p>気怠い香りをのこし, 密談は夜更けに散る. </p>
