---
title: "仕事中の気分転換にとなんとなくお手玉を買った"
date: 2004-01-30
---
<p>近況</p><p>仕事中の気分転換にとなんとなくお手玉を買った. <a href="http://www.naranja.co.jp/balls/tight/index.html">こういうやつ.</a> 今度の納期が春先だから, それまでにボール三つを回せるようになりたい, などと思いつつコンパイル中に練習. そこでこの遊びの思わぬ盲点を思い知らされる. うるさいのだ. 床に落とすと "ドスン" と音が響く. 先輩社員より苦情がきてやむをえず中断. 店でボールを選んだ時は落としてもまったく気にならなかったのになぜだろう, あちこちでボール落としながら考えて, 今時のオフィスの構造に気付いた. コンピュータの配線を隠すため, 床下が空洞になっているのだな. その床に割と重量のあるボールを落とすのは太鼓を叩くようなものだ. 音は床下を通じて響き渡るため, 簡易壁で区切られた会議室に籠もっても意味がない. 階段の躍り場は静かでいいけれど, 落とすと危険... オフィス内での練習場所を探している. 悲しい. アイチー化のばかー! 家では蒲団を敷き, その上に立って練習. 大家に叱られませんように...</p><p>お手玉ジャグリング入門ページ <a href="http://homepage.mac.com/abramr/juggling/">"The Wildcat Jugglers Tutorial"</a> を見ながら練習している. とてもわかりやすくていい. この手のものは言葉だけだとわかりにくいから, このページの動画が嬉しい. 別の入門ページ <a href="http://www.twjc.co.uk/tut001.html">"Three Ball Juggling Tutorials"</a> は文章による丁寧な説明. <a href="http://www.twjc.co.uk/tut001.html">素人向けのレクチャー</a> は "You are one of us now." と締めくくられ, すっかりやる気になります. </p>
