---
title: "徒歩十分の出張さえいつもおやつ持参で引率つきの私に単独渡欧を指示した 2-hop ascent の上司は, 旅の恥はかきすてと笑い家族のもとに去った"
date: 2004-05-01
---
<p>近況</p><p>徒歩十分の出張さえいつもおやつ持参で引率つきの私に単独渡欧を指示した 2-hop ascent の上司は, 旅の恥はかきすてと笑い家族のもとに去った. せめて nice to meet you! と握手しながら名刺交換をしたい. 名刺のアルファベットが明朝体で刻まれていたとしても, それは私の責任ではないのだから. それだけは.</p>
