---
title: "またしてもリクルートごっこ"
date: 2004-02-20
---
<p>近況</p><p>またしてもリクルートごっこ. 会社説明会におけるグループディスカッション(雑談)に呼ばれる.  前回の反省を踏まえ, しかしスーツは面倒なのでせめてもと髪にワックスし, メモ帳を片手に名刺も配布. 参加者の反応は鈍かった. よく考えてみると, 会社説明会でいきなりグループディスカッションを求めるのは不意打ちに近い気もする. なぜこの会社が面白そうだと思ったのかなんて聞いてしまい, 気の毒なことをした. 新卒支援サイトで勢いあまって登録してしまいましたとは言えまい. 気まずい雰囲気に心の中でつぶやく. 人事部の差し金なんだ, 許しておくれと.</p><p>数日後のこと, 参加者の一人からお礼と称したメールが届いた. マメだ. あたりさわりのない "質問" も忘れず添えられており, その律義さに感銘をうける. こうしてマニュアルやテンプレートどおりに振舞えるのはひとつの能力だと思う. それは怠惰さを乗り越えた証でもあるし, 自己批判の毒に打ち勝った厚顔の笑みでもある. 尊敬のおもいを秘めながら, 私もあたりさわりのない返事を書いた. あなたのようにたくましい人間の名前が私の記憶に残っていなかったのは, あなたの印象の薄さからではなく私の記憶力に問題があるのです. きっと. そう謝りながら.</p>
