---
title: "  新しい事務所では日暮から幾何かを過ぎると廊下の明かりが消える"
date: 2004-12-16
---
<p>近況</p><p> <img src='/images/20041216_0.jpg' class='image-right'> 新しい事務所では日暮から幾何かを過ぎると廊下の明かりが消える. 窓からの夜景が美しい. 星は見えない. 同僚達の何人かは自らの部署を不夜城と名乗るけれど, 遠く煌々とそびえる六本木ヒルズを眺めるとあれこそがその名に相応しく思える. 威圧的な照明,  不眠不倒の要塞. 燃えているのは明るい未来なのか. それが燃え尽きはしないか. 少し心配になる. 夜は暗い方がいい. </p>
