---
title: "そんなわけで RSS 出力のプラグインを適用してみました"
date: 2004-01-12
---
<p>近況</p><p>そんなわけで RSS 出力のプラグインを適用してみました. (<a href="index.rdf">index.rdf</a>). </p><p>私自身は, 現在 RSS 利用をひとやすみ中. 最初 <a href="http://www.feedreader.com/">FeedReader</a> を試してみたものの, 時々長時間 CPU を占有するのでやめた. それに web browser には Firebird を使っているので, IE Component を利用したものだと勝手がよくない. この条件で多くの reader が候補から外れてしまう. (なお .NET も信仰上の理由により遠慮申しあげたい.) 次に <a href="http://www.newsmonster.org/">NewsMonster</a> を試してみた. Mozilla, Firebird の plugin として動く reader で, 悪くない出来. ただどういうわけか Firebird の挙動がおかしくなってしまった. 仕方なく削除する. ブラウザの plugin にするというアイデアは善し悪しだ. ブラウザ本体の使い勝手に悪いインパクトがあると困る. </p><p>仕方ないので自分で作ろうかと思案中.	実装が簡単な localhost 専用ウェブサーバとして実装したい. <a href="http://www.oreillynet.com/~rael/lang/python/peerkat/">peerkat</a> のようなかんじ. (これも試してみたが, UI がおざなりなのでやめた.) </p><p>去年一年はあまりウェブをみなかったけれど, あまり困らなかった. 急ぐこともなかろうな. 暇をみながらのんびり実装したい. </p>
