---
title: "二日ぶりにケータイの電源を入れたらスパムが 50 通を越えていた"
date: 2005-04-26
---
<p>近況</p><p>二日ぶりにケータイの電源を入れたらスパムが 50 通を越えていた. 件数をみるだけでうんざりする. メール中毒患者にはスパムを山ほど送りつければいい. 重い腰をあげてメールアドレスを変更する. さようなら, スパムたち.</p><p>変更のおしらせが届いていない方はお手数ですが御連絡ください. </p>
