---
title: "欠勤"
date: 2005-03-30
---
<p>近況</p><p>欠勤.</p><p>重荷は日々少しづつ積み増されて, 今朝閾値を越え私の体をロックした. 行きたくない. そう何かがリフレインする. 少し前からこういう日がある. 一日家から出ず, 眠り, 本を読み, また眠ってすごす. そうしていくらかの積載を免れる. </p><p>社内をみまわすと, 私は特別ハードワークしているわけではない. 相対的に私は過労耐性が無いのだろう. 根性がないとも言う. そんなものは要らない. そんなものの要らない暮らしがしたい. しかしもう今のように働きたくないと上司に告げる勇気なく, 他の道をすすむ希望もない. 何も持たない私がおちた需要と供給の谷間は深く, その底から空を見上げて眩暈をおこす. </p>
