---
title: "最近家の中に無印良品製品が増えてきて,"
date: 2005-11-07
---
<h3>近況</h3>
<p>最近家の中に無印良品製品が増えてきて,
あまりにコミットしすぎな気がしてきた.
選ばなくて良いラクさから, つい買ってしまう.</p>
<p>ふと思った. はてなと無印良品は似ている. 選ばなくていい.
何かの本で  原研哉というデザイナが
無印は "無印 &lt;で&gt; いい" という判断を許したのが新しかった
というようなことを書いていた. &lt;が&gt; ではなくて &lt;で&gt;.
私にとってはてなもそんなかんじだ. 英語圏で現れた新しい便利そうな,
でもユーザ登録なんかが面倒そうで自分で使うには至っていないサービスを
さっと導入して, はてな &lt;で&gt; いいか と思わせる.
無印っぽい. 
特別オリジナルな製品があるというわけでもないが,
最先端ではないが粗悪品もない.
そこそこの品質で一通り揃っている.(たまにハズレもある.)
地味だが趣味のよいかんじのブランドイメージ. 
逆にそのイメージが鼻につくこともある.
それが嫌だからと代替品を探してみると案外高くて結局仕方なく使いつづける.
そんなわけで愛憎混じることもあるが, (恩恵に浴しているから)基本的には好意的.</p>
<p>というあたり.</p>
<p>そんでもって Yahoo はどこか ジャスコっぽい. というと言い過ぎか.
どこにでもあって便利だがどうにもダサいあたりが似ている気はする.</p>
<p>あとは excite が GAP とか livedoor が xxx とかいくつか考えてみたが
いまいちピンとこない. 現実の世界に比べてウェブの
大手ビジネス主体は割とどれも似ているからかも知れない.</p>
<p>Google が US 政府に似ている気がするのは
"世界政府" という彼らの自己像と一致しており意外性はない.
そうすると湾岸戦争の counterpart は Google 八分だろうか.
もっと徹底的にボコボコにする手段を持っている気もするのだが, 想像がつかない.
個人的には経済制裁, Google 禁止の方が厳しいな. たぶん.</p>
