---
title: "最後尾はこちらです"
date: 2005-03-14
---
<p>近況</p><p>最後尾はこちらです.</p><p>社会人としての責務を果たすべく向かった伊勢丹地階には虚ろな目をした男達の行列が這い, 私をデプレスした. あの人たちと仲間なんだなって思うとがっくりするよ. 公的求職施設を訪れた友人達は口を揃える. 華やかな赤や黒や白に彩られていても, ここはその話の舞台とどこか似通っている. 休日出勤の疲れが癒えぬ私は足早に用を済ませその場を去った.</p><p>というのは嘘で, 疲れを癒やすには甘いものが一番と自分用を物色. すばらしきかなデパチカ. 世の中でハシゴをする気になれるのは本屋とデパチカくらいだ. 近々また行こう.</p>
