---
title: "  日本語版の登場した Google サジェスト"
date: 2005-03-16
---
<p>近況</p><p> <img class="right"  src="http://newsimg.bbc.co.uk/media/images/39871000/jpg/_39871907_203.jpg" /> 日本語版の登場した <a href="http://www.google.co.jp/webhp?complete=1&hl=ja">Google サジェスト</a>. 面白い. そのうち検索結果もインタラクティブになるだろう. Google イメージ サジェスト みたいなものが登場したらエロ画像を探す御仁は重宝するに違いない, などと妄想しながら適当なエロ単語を入力したところ, 何も候補が表われず出鼻をくじかれた. 端的に "エロ" と試すとわかりやすい. 候補は瞬時に消える.</p><p>ウェブ上の多くの語片はアンダーグランドから吹きだす SEO の血潮に染まっている. だからナイーブな実装では, たとえばポーリング不要の配信テクノロジついて検索しようとする利用者に女性器(の卑語)を提案してしまう恐れがある. そうした不慮の事態を避けたいのだろう.</p><p>しかし一方でこの制限がアンダーグラウンドの住人を刺激し, 隠語の利用を促しはしないか. それらの隠語は彼等の努力によって広まり, 定着していくだろう. こうしていたちごっこは加速する. やがてあらゆる言葉が, あらゆる文脈で卑猥な影を落とすことになるかもしれない. Google という一企業の保身行為によって, 隔離されていたはずの不健全なメディアが公共の場に紛れこんでしまう危険. 事態が悪化する前に, 私達市民は声をあげねばならない. だからあえてこう言おう: Google はエロ単語もサジェストせよ.</p><p>あ, あと イメージ サジェスト もよろしく. (フィルタリングはしなくていいですからね.)</p>
