---
title: "本を聞く"
date: 2005-12-16
---
<h3>近況</h3>
<p>電子書籍を買ってみた。PDF で読むやつ。</p>
<p>なかなかいい。
なにしろ安い。それにマイナーだろうが洋書だろうが即座に手に入る。
したがって物欲に優しい。
電子化の利点の最右翼である「検索」はさほど有難くない。
大抵の書籍は冒頭からのシーケンシャルな読みに特化して書かれているからだ。
(逆にそうでないものは書籍にせず、より構造化された文書形式をとってほしい。)
かさらばないのもいい。かばんに入れて持ち歩かなくても家と会社の両方で読める。
また、会社で読んでいても目立たない。(読んでないけど。)</p>
<p>もちろん欠点はある。
まず紙ほど可読性は高くない。これはもっぱら表示デバイスのせい。
回転して縦長にできる UXGA の液晶があったらかなり状況は改善するだろう。
私は SXGA で横長固定という普通の液晶を使っているためけっこうしんどい。
Adobe Reader は "フルスクリーンで幅方向にフィット" という選択肢を許さないため、
縦長文書に横長液晶でフルスクリーンにすると左右の余白が無駄になってしまう。</p>
<p>持ち歩けないことは大きな欠点にはならない。
持ち歩いて読むのは他の本にすれば済む。
私は注釈愛好家なので付箋を貼ったりや傍線を引いたりできないのは悲しい。
有料版の Adobe Reader (Acrobat) が欲しくなる。</p>
<p>なお、紙で読みたい場合でも電子版を買って印刷は自分でする手はある。
たとえば紙だと $40 の書籍を $20 の PDF で買えば
$20 分は印刷してもまあまあ割に合う。
ただし紙質はだいぶ劣る...と言いたいところだが、
洋書は紙の悪いものも多いのでワーストケースを考えれば大差ない。
どうせ全部は読まないと割切り、読むところだけ刷るのは悪くない方法だと思う。
技術書だと前半だけしっかり読んで後半はつまみ食いすれば十分な本は多い。
良心が痛まないなら会社や学校で刷ってもいい。私が学生だったら絶対刷るね。
部分的に刷れば厚さの圧力もだいぶ薄れる。本を分割するのと同じ。</p>
<p>そんなわけで、計算機関係の本を買うなら amazon でチェックアウトする前に
電子版を探してみることを勧める。
以下の出版社が電子書籍を扱っている。他にもあると思う。</p>
<ul>
<li><a href="http://www.pragmaticprogrammer.com/bookshelf/">Pragmatic Bookshelf</a></li>
<li><a href="http://www.manning.com/">Manning Publications</a></li>
<li><a href="http://safari.oreilly.com/">O'Reilly</a></li>
</ul>
<p>ただ、理想的には日本の製本技術でオン・デマンド製本がしたい。
キンコーズは高いし、本として読むには紙が厚い気がする。
PDF で電子書籍を買って製本サービスに送ると、薄い紙に刷って綴じた本が届く。
根拠もなく Amazon に期待を寄せている。</p>
<h3>本を聞く</h3>
<p>少しでも画面を広く使おうと Adobe Reader の設定をいじっていて
(ツールバーを消すと少し広くなるし広告もなくなる)、
"読み上げ" というメニューに気付いた。いつからあったんだろう。
(インタビューした同僚は当然のようにその存在を知っていた...)</p>
<p>さっそく使ってみる。
たしかに読んでくれる。かなり人工的だがまあ聞ける。
英語の文章を読んでいると、疲れてくるにつれて適当に読みとばしたり
眠くなったりしてしまい、肝心な部分を読み損ねることがある。
逆に同じところをぐるぐる読んでいるときもある。
音読にガイドされればこうした軟弱なトラブルを改善できるかもしれない。
そんな期待が頭をよぎる。</p>
<p>結論: つらかった。</p>
<p>思ったよりよく読んでくれるが、それ以上に私の耳は寛容でなかった。
色々とつらい。機械発音の抑揚のなさなどは大目に見る
(もともと情緒あふれる文章を読んでいない)にしても問題は多い。</p>
<p>まず速度に問題がある。標準の設定は遅過ぎる。
そこで Windows のコントロール・パネルから速度を変更する。
(ヘルプによれば Adobe Reader の読み上げ機能は Windows の SAPI を使っている。)
設定によって読むスピードは速くなるが、速くなりかたが非常に不自然。
早口ではなく、音声の早送り再生のようになる。
ネイティブの英語はある傾向に従って非一様に音を省略し、
時間あたりの発話量を増やしている。
Adobe Reader の読み上げは音を省くのではなく、
速く再生することで発話量を増やしているように聞こえる。だから不自然でつらい。</p>
<p>何もかも無差別に読まれるのも辛い。
たぶん文書の構造化具合によるのだろうが、場合によっては
ヘッダやフッタの文字列を読んでくれてしまう。しんどい。
ソフトウェア関係の文書は
URL やソースコードのような音読に適さない文字列を大量に含んでいるため、
特に厄介だ。たとえば</p>
<pre>&lt;!-- The factory bean, which contains a method called
     createInstance --&gt;
&lt;bean id="myFactoryBean" class="..."&gt;
...
&lt;/bean&gt;
&lt;!-- The bean to be created via the factory bean --&gt;
&lt;bean id="exampleBean"
      factory-bean="myFactoryBean"
      factory-method="createInstance"/&gt;</pre>
<p>なんてのを読ませてみると, </p>
<p>"less than exclamation hyphen hyphen The factory bean ,
which contains a method called createInstance hyphen hyphen greater than
less than id equals double-quote myFactoryBean double-quote class euqals
double-quote dot dot dot double-quote greater than ... "</p>
<p>などと読まれ気の毒にも思えてくる。聞く側も耐えがたい。</p>
<p>あまり使われない機能だからだろうが、操作系は貧弱。
基本的には再生と一時停止のみで、巻き戻しや早送りはない。
先のソースコードなどは早送りがあるとスキップできるだろうから、
そういう "音声プレイヤ" としての機能があると嬉しい。
理想を言うなら、たとえば "クリックしたところから再生" など
本文のテキストと密接に連携した操作が欲しい。
(PDF ビューアとしての機能からは明らかに逸脱している気はする。)</p>
<p>辞書も十分ではない、たとえば Application を "アプリカテイオン" と発音する。
辞書に Application がなかったのだろう。
ただ、これは他の問題と比べればささいな問題に思える。
どうせ発音のわからない単語は沢山あるから...
むしろ音声が Sam というおっさんのものなのがうっとおしい。
これが冴子先生になるだけでだいぶ状況は救われるだろう。</p>
<p>もともと視覚障害者向けに作られた機能だろうから,
私のように "読みながら聞く" 利用者はまったくの想定外だろう。
実際そうした利用者が多いとも思えない。(英語ができれば問題ないですからね。)
機能強化への期待は薄い。</p>
<p>一方でアメリカには Audio Book の市場がある。
また mp3 プレイヤの普及とネットワークの広帯域化で
podcast のように音楽以外のデジタルな音源を聞く土壌もできつつある。
そうした市場をうまくとらえれば、
"読み上げ" や、それと協調した電子書籍が日の目を見ることもできはしないか。
なにしろ世にテキストのコンテンツは山のようにある。
そうしたレガシーで足場を固めつつ、
プレイヤとコンテンツの双方が少しずつ音声 aware になっていけば
辛い仕様書や技術書を読むのが少しは楽になるかもしれない。</p>
<p>自分の英語力を訓練する方がよっぽど現実的なのはまったくそのとおりなのですが。</p>
