---
title: "日記挫折"
date: 2005-07-15
---
<p>近況</p><p>日記挫折. 帰って寝る暮らしの中で30分かけて物を書くのは疲れる. ウェブに文章を書く場合は, プライバシーや機密保持の点でオーバーヘッドがある. その負担は大きい. 加えて長々と書きすぎている. 長いばかりで洞察がなされていない.</p><p>日記を書く時間は 5 分と何かで読んだのを思いだす. それは正しい. 5 分くらいで書くなら続けられるだろう. 5 分という制約にはそおそらく違う一面もある. ある日の出来事や考えを 5 分でまとめられるように訓練しようということ. まず書く内容を精選する必要がある. 考えをまとめるのも速くできなければいけない. そうした簡潔さや機敏さが, 思考の訓練として有効なのだと思う.</p>
