---
title: "おしらせ輪読の参加者は 4 人くらい集りました(自分ふくむ"
date: 2005-10-01
---
<p>おしらせ</p><p>輪読の参加者は 4 人くらい集りました(自分ふくむ.) ありがとうございます &gt; 参加してくれる予定のひと. 場所とりはこれからします. なんとか 11 月には始めたいです. 詳細は追って連絡いたします. それにしても, 思ったより需要はないのかなー. みんな読んじゃったのかしら. いや, 人徳か...</p>
