---
title: "日記九日目"
date: 2005-06-21
---
<p>日記</p><p>日記九日目. 8:30 起床.</p><p>ほぼ一週間ぶりに正しい勤務か. 研修レビュー. なんとなく閉塞している. 教材の進捗に個人差があり, 自分のコードをレビューされない人間がいるためか. 他人事になったとたんレビューは苦痛になる. 教材以外のコードもレビューしようと示唆.</p><p>集中力なし. 雑用をこなす, メール, エクセル, メール.</p><p>後輩のコードをレビュー. わからないなりに書いている. 悪くない. ドキュメントが無いとき効果を発揮するのは注釈つきステップ実行だ. ウォークスルーの亜種. ステップ実行とコードの解説を交互にこなす. 何もわからないまま一人でステップ実行するのと違い, 重要な部分に注力できるのがいい. しかしもう一工夫ほしい. また, レクチャーが使い捨てで evolve しにくい点も欠点. このプロセスを文書化できないものかと思う</p><p>よくわからないミーティングで時間をつぶす. エクセル, メール. 頓挫していた開発環境のセットアップ. </p><p>デスマーチの状況を伝えきく. 混乱のありさまはどこも似通っている. その皺寄せを受ける隣のチームにはでうんざりといった空気が漂う. こういうのを見るとのほほんと働いている自分の肩身を狭く感じる. 楽しそうに働いている別のチームと雑談をする. 辛そうに働く必要はないのだとわかる.</p><p>私は自分のコードに飽きてきている. なにしろ自分で書いたものだ. たかが知れている. より優れた, 新しいアイデアに触れたい. それを試したいと思う. 自分のコードに未練はある. 自分のコードを良くしたい, 速くしたい. 磨きあげたい. そんな執着に捕われるのが怖い. 板挟みから抜け出す気力がない. 自分の怠惰さに拘束されている.</p><p>9:30 出社, 23:30 帰宅, 昼食 居酒屋 I (生姜焼き定食), 晩飯 カフェ J (納豆スパゲティ). 間食なし.</p>
