---
title: "  不夜城の50階で空撮の東京を見た"
date: 2005-04-10
---
<p>近況</p><p> <img class="right"  src="http://www.muf.jp/exhibit/2005_01/2005_01_img/tokyo_01.jpg" /> 不夜城の50階で空撮の東京を見た. (<a href="http://www.muf.jp/exhibit/2005_01/index.html">これ.</a>) それは一言でいうならば押井守による<a href="http://www.taito.co.jp/game/history/90s_b/pop/rayst.html">レイストーム</a>風デモ画像. 無意味なロックオンとステージを繋ぐ遠景のパンにノスタルジーに似た興奮を覚える. 森ビルの宣伝が目的という政治的な制約のためか, 構成の退屈さは残念だ. しかし商業娯楽作家に依頼してドメイン依存の映像や物語を作るというのはいいな. そうした物語は多いが, 一部の業種を除いてそれらはコンテンツ・プロバイダによる市場調査の結果や単なる気紛れであるように見える. 産業界はそうした物語の生産により積極的な投資を行うべきだろう. たとえば以下のようなものを私は望む: </p><p></p><ul><p> <li>大友克洋 'MEMORY' : 主記憶と口約束をめぐるアンソロジー </li></p><p> <li>小川洋子 '密やかな凍結' : プログラマとテスタの間に生まれた淡い恋の物語 <q>秘密の引出しをあけるように, 私はそのバグをみつけた...</q></li></p><p> <li>原秀則 'ブレイク' : 急死したエースプログラマと残された同僚の友情 <q>あの時あいつの書いたコードに, 俺はまだ追いつけないんだ...</q></li></p></ul><p></p><p> そんなことばかりを考えていたわけではなく, 53 階も鑑賞. ウィリアム・ケントリッジの木炭アニメーションが<a href="http://www.ntt-west.co.jp/ad/making/index.html">フェレンク・カーコ</a>みたいで面白かった.</p>
