---
title: "あなたの書いている製品を売り込みにいくから他社との差別化にアイデアをくれ"
date: 2005-05-20
---
<p>近況</p><p>あなたの書いている製品を売り込みにいくから他社との差別化にアイデアをくれ. そう会議に呼ばれ, 二時間近くかけて次のようなご意見を拝聴する. あなたの書いている製品は競合他社のものと同じかより劣る. あなたのアイデアはビジネスに寄与しない. </p><p>私の書いたものは競合他社に劣っている. 私にアイデアはない. 私はそれをよく知っている. だから, あなたたちもそれをよく理解してほしい. それは劣っている. それに価値はない. あなたたちは正しい. あなたたちの言うとおりだ.</p><p>あなたたちが私により有意義な時間の使い方を提案するなら, たとえば価値のないものの開発に時間を割くなというなら, 私は喜んでそれに従うだろう. 吐瀉物で駅のホームが汚れる前に家路をゆくだろう.</p><p>ゼロイコールゼロの証明に資源を使うか, ゼロイコールゼロの検算に資源を使うか. それが私とあなたたちの違いなのだ.</p>
