---
title: "他人に勧める本"
date: 2005-10-22
---
<h3>近況</h3>
<p>グラフィクスの入門書で良いものは何かと聞かれると. 案外答えるのは難しい. 
特にインタラクティブ・グラフィクスの良い入門書は少い気がする.
技術の変化が速いせいかもしれない.
件の "Real-Time Rendering" はその候補だと思うけれども,
これを読むのに必要な前提知識を得る本となると難しい.</p>
<p>RTR を読むための前提知識を身につけるということだから, RTR より更に広く浅い本がよいんだろうな. あるいは RTR を読むのを動機づけるようなもの. グラフィクスに共通した話題 (フレームバッファとは何か, 座標変換, テクスチャ, 照光計算の方程式, ...)は, どんな本でも大抵触れられている. しかしそもそもグラフィクスの分野にはどういう話題があるのかを俯瞰できる本, RTR を読むとどう役に立つのかわかる本, そういうのははぱっと思いつかない. </p>
<p>しばらく考え, いくつか並べてみた.</p>
<h4>正統派路線</h4>
<p><span class='image'><a href='http://www.amazon.co.jp/3D-Computer-Graphics-Alan-Watt/dp/0201398559%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201398559' class='bookcover'><img data:asin='0201398559' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51kiGV%2B0ypL.jpg'></span></a></span> <a data:asin='4274064050' href='http://www.amazon.co.jp/%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%82%BF%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3%E3%83%83%E3%82%AF%E3%82%B9-%E7%90%86%E8%AB%96%E3%81%A8%E5%AE%9F%E8%B7%B5-James-D-Foley/dp/4274064050%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274064050'>コンピュータグラフィックス 理論と実践</a> や <a data:asin='0201398559' href='http://www.amazon.co.jp/3D-Computer-Graphics-Alan-Watt/dp/0201398559%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201398559'>3D Computer Graphics</a> は大学の講義で Reading になるような正統派の教科書. 私は "理論と実践" はつまみ読み, Watt の本は旧版で 1/3 くらい読んだ. どちらも権威の進める名著だけれど, 個人的には "理論と実践" は入門には厚過ぎると思う. 挫けやすい. あと古いので, 新しもの好きには向かないと思う. 今となっては Obsolete に感じる話が多く, 読んでいて不毛を覚えた記憶がある. ただ世間の評価を見るに, 通読すれば得るものは大きいのかもしれない. Watt の本は英語なのでちょっとしんどいけどそんなに厚くない. あと改版されているのでそれなりに新しい内容を期待できる. ただ <a href="http://www.amazon.com/gp/product/customer-reviews/0201398559/">Amazon のレビュー</a>はムラがある. 私はけっこう好きだったけど, これも全部は読んでいないのでした...</p>
<h4>実用路線</h4>
<p><span class='image'><a href='http://www.amazon.co.jp/OpenGL-Programming-Guide-Networking-Technology/dp/0321173481%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321173481' class='bookcover'><img data:asin='0321173481' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51MHM0EADXL.jpg'></span></a></span> 私は学生の頃からピクセル単位で絵を描くような低位の話にはあまり興味がなくて, API を使って絵がでるならそれでいいじゃん, と考えていた. 逆にどのような考えに基いてグラフィクスの API が作られているのかには興味があった. <a data:asin='0321173481' href='http://www.amazon.co.jp/OpenGL-Programming-Guide-Networking-Technology/dp/0321173481%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321173481'>OpenGL Programming Guide</a> はそうした欲求を満たしてくれた. API の下で何が起きているのかは簡単にしか触れないけれど, API (ここでは OpenGL だけれど, 他も似たようなもの)を使ってグラフィクスのプログラミングをする上で必要なことは大体書いてあると思う.
学生の頃, 私はもっぱらこの本と <a href="http://msdn.microsoft.com/library/en-us/directx9_c/directx/graphics/programmingguide/gettingstarted/gettingstarted.asp">Direct3D のリファレンス・マニュアル</a>, あとはウェブサイトを頼りにグラフィクスをはじめた気がする. (MSDN と OpenGL の本はハンドブックとして何度も参照した.) 
正しい勉強方法ではないかもしれないけれど, 動くプログラムと直結しているのが嬉しかった. (いざとなればコピーすれば動く.) かわりにレイ・トレーシングを始めとする非インタラクティブ系の知識やアカデミックなグラフィクスの話がさっぱりわからない. そこが悲しい.</p>
<h4>お勉強路線</h4>
<p>日本には <a href="http://www.cgarts.or.jp/">CG-ARTS</a> という CG の業界団体があって, そこが <a href="http://www.cgarts.or.jp/book/book/enlist.html">教科書</a> を出版している. この団体は CG 検定という検定試験をやっていて, その試験の教科書にもなる仕組み. 私は業界団体や資格試験が苦手であまり興味をもっていなかったのだけれど, たまたま見た教科書は案外よく書けていた. 読み物としての面白さや名著を読む高揚感はないので, 活字への欠乏感や見栄が読書の駆動力になる人には向かなそうではある.</p>
<h3>他人に勧める本</h3>
<p>他人に本を勧めるのは難しい. もっぱら自意識が邪魔をする. 自分を凄腕に見せたいと思うと, つい厚くて難しそうな "バイブル" を推薦したくなる. あるいは逆に "ウェブやリファレンスを見ながらサンプルいじってみれば？" などとそれらしいことを言いたくなる. しかし初学者にとって大抵の "バイブル" は難しすぎるし, サンプルをいじるのは五里霧中だろう. だから薄くて図が多くて, 多少は嘘が混っていてもなんとなくわかってコードも書けるようになるくらいの入門書がいい. バイブルやコードはその後の話.
しかし私の場合だと, そういう良い入門書をみつける前に非効率な方法でいびつながらもなんとなくできるようになり, それから復習のためにバイブルを読むことが多い. だから入門書は思いうかばず, 自意識も手伝って上のようなことを口走ってしまう. 他人に本を, 特に入門書を勧めるのはかように難しい.</p>
<p>仕方なく数を並べてお茶を濁したという次第です. みなさまのおすすめを求む.</p>
<h4>おまけ: CG 本リストへのリンク</h4>
<ul>
<li><a href="http://www.realtimerendering.com/">Real-Time Rendering Resources</a> : RTR のサポートページ. 網羅的過ぎる嫌いはある.</li>
<li>小池さんのリスト <a href="http://www.amazon.co.jp/exec/obidos/tg/listmania/list-browse/-/37IX63CH2E5GA/">1</a>, <a href="http://www.amazon.co.jp/exec/obidos/tg/listmania/list-browse/-/1V334EJLREQSI/">2</a> : Amazon で見ているとなぜかよく登場するリスト.</li>
<li><a href="http://msdn.microsoft.com//library/en-us/directx9_c/directx/directxsdk/dx9furtherinfo.asp#Graphics_Information">MSDN の推薦書籍リスト</a> : Microsoft が勧める書籍, なのかしら.</li>
</ul>
