---
title: "日記三日目"
date: 2005-06-16
---
<p>日記</p><p>日記三日目. 眠気をひきずり出社するも新人不在. 集合研修の日だった. うなだれる. </p><p>海外出張から戻ってきた元上司と昼食. 出発前は体調のすぐれない様子で, デスマーチをヘルプして体がもつか不安だったが, 今日話した感じだと元気そう. 安心する. 体が弱そうでも, 芯の部分が火事場に強い性質なのかもしれない. 話しぶりに場数の違いを感じる. 出張先の様子を聞くも, おおよそ他で聞いていたとおり.</p><p>午後, 文書レビューをうける. 結果を反映する作業. 面倒. 文書はコードのようにコンパイラもなく, もちろんテストを書いて検証する仕組みがない. だから修正が妥当なのか検証できず気分が晴れない.</p><p>やる気がでず, 一つ下の同僚の仕事をひやかす. しかし私はこの仕事が向いてない気がする, などと言われ困る. それを他の同僚のいるところで口にできるとは, ひどくやさぐれている. ここまで追いつめてしまった上司の罪は重い. 技術系の専門教育を受けていない人間を, 十分な教育なしに現場に配属して放置状態をつづけている. これは人事の罪とも言える. 教育するあてがないならこうした人材をとるべきではない. きわめてまともな人格と知性を持つ人間のキャリアを, ただの気紛れで無駄にしようとしている. 企業とは恐しい. 私は, この同僚が戦力としてまともに活躍できるようになることが, この会社がまともになるためのリトマステストだと思って見ていた. 今のままだとそれが適う見込みは薄い.</p><p>ふとみるとデイリービルドが一週間以上停止していた. 蒼ざめる. 何度がクリプトを動かしてみるとコンパイラが死んでいることがわかった. なぜかログファイルも消えてしまう. 明日はこれを直さねば. しかしビルドスクリプトのデバッグはターンアラウンドが長く, うんざりした時間を過すことになりそう. 気が重い.</p><p>退職する同僚の送迎会にあわせて定時退社. 職場そばの中華料理屋へ ."おもいでポイント(OP)" という言葉をきく. たとえば友人を飲みに誘う時, OP の獲得をだしに使うのだという. あほらしい一方で見事な命名でもある. "経験値" も同様の意味をもつ言葉だが, やや手垢のついた感じ. OP の方が気負いがなくていい. </p><p>10 時出社, 23 時帰宅. 昼飯 和食バー C, 晩飯 中華料理 D. 買い食いなし.</p>
