---
title: "日記17日目"
date: 2005-06-29
---
<p>日記</p><p>日記17日目. 9:00 起床.</p><p>出社, 研修レビューなし. メールを書いていたら昼. 本来はチームのレビュー時間だったと後できづき後悔する. 習慣化していないレビューはいつ立消えになってもおかしくない. 不安.</p><p>アルゴリズムを考えるも眠気に挫け集中できず. 少しずつ進める. ここ数週間は集中できてない. 私自身の不調, 周囲の喧噪, やる気のなさ. 生産性の低い時間を過すのは望ましくない. しかし解決できずにいる. 慣れつつあるのが怖い</p><p>飽きたので停滞している趣味プロジェクトを少しだけ進める.</p><p>退社時, 以前同じチームだった同僚にあう. "遅いですね" と声をかける. 今日の遅さは例外で, 普段は早目に帰り自宅で仕事をしているという. 職場の雰囲気が悪化していて仕事をしづらいそうだ. 仕事の持ち帰りはけじめのない悪い習慣だというのが一般の見解だろうけれど, 既婚者の場合そう単純ではないのかもしれない. たとえ仕事をしていても家にいる方が嬉しいという判断はありうる. 聞くところによると実際そのようであった.</p><p>以前, 居心地の良い会社と良い仕事をできる会社は違うという話を誰かから聞いた. いまいる会社は, 一部は前者なのかもしれない. 私自身そう感じることがあり, それが非効率な残業を招いている. 後者が望ましく, 前者は危険. 同僚のいる部署はどちらでもないのだろう.</p><p>10:00 出社, 23:30 帰宅. 昼飯  定食屋 A  (揚げなす定食), 晩飯 居酒屋 E (冷やし牛肉定食). つらいメール. しばらくは我慢. いずれ慣れる.</p><p></p><p> 眠いので "履歴について" を書けず.</p>
