---
title: "日記23日目"
date: 2005-07-06
---
<p>日記</p><p>日記23日目. 12:30 起床. 病欠. 私の基準だと一昨日, 昨日が既に病欠するべき体調不全だった. かなりしんどい.</p><p>ぐったりしつつ 昼飯, 買いもの. 水分, 柑橘類, 葛根湯. あとチューペットを発見. これも. チューペットが好きだ. 帰宅後や夜中におこる衝動的な甘味欲求に応えるにこれは無難な気がする. 所詮薄めた砂糖水を凍らせたもの. 経済的で, 生クリームよりはいくらか脂肪への恐怖も薄い.</p><p>活字追う気力なく, PC 環境の整理をする. いくつかの常用ソフトウェアを更新. あとは要らないものを消す. まず Windows Platform SDK; ATL が付属するの噂を聞きインストールしたがガセネタだったというもの. (添付の ATL は 64bit Windows 用だった.) Mono SDK; <a href="http://nat.org/demos/">Beagle のデモ</a> を見て GTK# が楽しそうに見えてインストールしたもの. 実際は Windows 上で使いものになる出来ではなかった. コンフィギュレーションが面倒な上, UI の looks もわるい. おそらく GTK# 自体のコードはまともなのだろうが, GTK for Win32 は, 特に日本語のレイアウトがまだ不出来であった. 逆に linux で使うには Java よりよほど便利なのかもしれない. msys; 使わない. cygwin ユーザには MinGW で十分だった. (MinGW もほとんど使わないけれど.) こうして衝動インストールの痕跡を消していく.</p><p>夕方, 新宿へ. 早帰りのプレースホルダーにと先週した知人との約束のため. (風邪をひく予定はなかった.) 食事, 近況など. 自分の甘さや情けなさを知る.</p><p>19:20 外出, 23:30 帰宅.</p>
