---
title: "日記二日目"
date: 2005-06-15
---
<p>日記</p><p>日記二日目. 目覚しをつけわすれ際どい時刻に起きる. 30 分で身支度して出社.</p><p>毎朝, 自分のいるチームに配属された OJT 中の新入社員と朝会をしている. もともとは研修で書いたコードのレビューをしており, その時間に朝会を加えた. 定時出社が義務づけられている OJT 中だからこそできる芸当. 基本的なノリは <a href="http://www.objectclub.jp/community/pf/">ウェブでみつけた記事</a> に準拠している. 効果はある. 被管理職にとって重要な, 口頭での報告技術をトレーニングできる. 私はどうも話が長くなりがちでいけない. 15 分で済ませたい.</p><p>仕事は文書作成つづき. こんなにやる気のでないものだったか. うろうろしながら作業を進める. しかしやる気がでないおかげで社内のセミナーに出席する気がおきた. NDA について説明をきく. 基本的にはモラルをもって行動すれば問題はなさそう. ただし協力会社の人にどれだけ情報を伝えていいかは気を使う必要があることがわかった. 私のチームにはいないから当面は関係ないけれど.</p><p>日が暮れたころにひととおり文書を作り終える. 完全ではないが, 初版はこんなものだろう. 拡充は先の仕事としておく.</p><p>文書作成に限らず今の仕事には飽きつつある. 私にとっての面白いところはだいたい終わって, 最近は後始末だ. 仕事の性質上, 後始末は数年の単位で続く危険がある. (実際そういう同僚は多い.) おそろしい. そうした恐怖から逃れるべく勝手に別のプロジェクトに着手する. 暇だと思われても困るので当面は上司には非公開. 本当は仕事の外でコードを書きたいが, 暇だと思われるリスクを考えると職場で何かした方がいい. それに今回のアイデアは個人でやって意味のある代物ではない. 自社製品と繋げることを前提にしている. </p><p>その趣味的プロジェクト用にレポジトリと Wiki のセットアップ. 久しぶりにみた <a href="http://pukiwiki.org/">PukiWiki</a> の最新版は tdiary のテーマが使えるようになっていた. clover のテーマを入れる. レポジトリには内製のフレームワークのスナップショットと簡易テストベッドをチェックイン. そうこうするうちに日付をまたぐ.</p><p>10 時出社, 25 時 帰宅. 昼飯定食屋 A, 晩飯ラーメン屋 B, 帰宅時サンドイッチ買い食い.</p>
