---
title: " 日記25日目"
date: 2005-07-09
---
<p>日記</p><p> 日記25日目. 11:00 起床. 掃除.</p><p>高田馬場へ. "<a data:asin='B0007TW7W8' href='http://www.amazon.co.jp/%E3%82%A8%E3%82%BF%E3%83%BC%E3%83%8A%E3%83%AB%E3%83%BB%E3%82%B5%E3%83%B3%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3-DTS%E3%82%B9%E3%83%9A%E3%82%B7%E3%83%A3%E3%83%AB%E3%83%BB%E3%82%A8%E3%83%87%E3%82%A3%E3%82%B7%E3%83%A7%E3%83%B3-DVD-%E3%82%B8%E3%83%A0%E3%83%BB%E3%82%AD%E3%83%A3%E3%83%AA%E3%83%BC/dp/B0007TW7W8%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB0007TW7W8'>エターナル・サンシャイン</a>" みる. なかなか良い. 大筋は記憶喪失/タイムトラベル SF に通じる枠組み. あとから考えるとややベタではあるが脚本がうまく見ている間は気にならない. ミシェル・ゴンドリーだけあって画がいい. 夢の中, 記憶の消えていく様子の描写は見事. 満足. 話の都合上, , 付き合っている間の場面が多いのは一般的なラブストーリーと違うところかもしれない. 実体験と重ねられればより楽しめよう.</p><p> その後渋谷へ. "<a href="http://www.uplink.co.jp/emerald/main.html">エメラルド・カウボーイ</a>" みる. エメラルド発掘の夢を追ってコロンビアに渡った男の半生記. 監督, 主演がその張本人というのがぶっとんでいる. 自分語りで, しかも完全自己肯定. 微塵の後悔もない. すばらしい. ダイヤモンド社あたりから出ている社長の自伝みたいなノリを極端にした感じ. ストーリーはストレオタイプな成功物語なので特に面白くないのだが, それが本人監督によるノンフィクションだという事実が衝撃. </p><p>14:30 外出, 24:00 帰宅. 昼飯 ロッテリア, 晩飯 チンギス韓 (焼肉). UPLINK 併設のカフェで間食.</p>
