---
title: "アンテナと 講読 RSS の棚卸しで一日が終わる"
date: 2005-05-21
---
<p>近況</p><p>アンテナと 講読 RSS の棚卸しで一日が終わる.</p><p>私は仕事中, 業務以外ではあまりウェブを見ない. たぶん平均すると 30 分くらい. 帰宅後か, 帰宅の直前にみる. 毎日見るのは知合いのページだけで, ニュースは見ない. 有名ブロクや技術記事もあまり見ない.</p><p>そういう時間のかかりそうなページは暇なときや週末にまとめて見ようと思いたつ. けれどアンテナ類は毎日毎時チェックするのを前提にコレクションされていた. それを改めて, 毎日見るページと週末や暇なときに見るページに分類しなおした. 知り合いの近況や娯楽などの毎日見るページは i-know (非公開) に, ひまな時見るページ i-know (公開) と bloglines (非公開) にまとめた. それぞれ 47 件, 39 件, 57 件. 公開している i-know.jp のページは <a href="http://i-know.jp/omo/">これ</a>. bloglines も公開しようと思っていたけれど, 眺めてみるとあまりに業務直結な内容. 私の匿名性が脅かされそうなのでやめておく. アンテナのメンテナンスは面倒な作業だ. 他人のアンテナを使うのが一番楽. とはいえ興味は人それぞれなので困る. アンテナをカテゴリわけして, 特定のカテゴリだけインポートさせてほしい.</p><p></p><p> ところで仕事中ウェブをみなくなったのは, 今のところ良い傾向な気がしている. なにしろ Web を見てると仕事が進まない. その上疲れる. 同僚にティッカー型の RSS リーダを使い, MSN Messenger を起動し, かつ煙草を喫う人がいる. 彼は一日の大半を RSS のチェックと喫煙に費しているのではないかと心配になる. 両方やめれば徹夜と残業を減らせるかもしれない. 余計なお世話なので黙っている.</p>
