---
title: "東京タワーがその灯をどう落とすか, きみは知っているだろうか"
date: 2005-03-04
---
<p>近況</p><p>東京タワーがその灯をどう落とすか, きみは知っているだろうか. 私は知っている. まず搭の上の灯が消え, それから下が暗くなる. </p><p>そんなことを知らずにすむ暮らしがしたい. 一年前に私のたてたロードマップ(大風呂敷のこと)は既に数度の遅延を経た. たちはだかるリスクがソフトウェア工学的なものとは限らず, ビジネス上のものとも限らず, (そのどちらもあったけれど), 極めて個人的なものであることもある. そんなものは見積れないし, 仮に見積っても上司は説得できないし, そもそも彼らに知られたくない. しかしそうした工学外のリスクが決定打となることはある. いずれにせよ見積りはあたらず, 計画は破綻する. そして希望が底が尽いたとき, 残業や休日出勤は懺悔に姿をかえるだろう. 遅れてごめんなさい. 遅れてますって言えなくてごめんなさい. やる気がなくてごめんなさい. 面倒みれなくてごめんなさい. 嘘ついてごめんなさい. つきうごかされるように, 速度が遅くてごめんなさい. 汚くてごめんなさい. バグばっかりでごめんなさい. デスマーチでごめんなさい. 役たたずでごめんなさい. ごめんなさい. 涙を流しながら床に頭をすりつける自分を想像し憂鬱になる. 恐怖を逃れ, 恐怖に飲込まれていく日々をおもい怖気づく.</p><p>半月後くらいそんなかんじの予定.</p>
