---
title: "朝の本"
date: 2006-02-03
---
<h3>近況</h3>
<p>最近, 朝が辛い. 寒さで蒲団から出ることができない. 
数回遅刻をしてしまった. </p>
<p>そんな時は蒲団の中で自律神経のブートストラップを待つのだと
<a href="http://d.hatena.ne.jp/ryoko_komachi/20051212">失言小町に書いてあって</a>, 
それはもっともな話だ. 
しかし朝の寒さは雪山の遭難に似ていて(たぶん), 
たとえ蒲団の中でも意識を保ち続けるのは難しい.
寒さに震え, 遠のく意識の中で遅延証明の夢を見ることになる.</p>
<p>私はもともと遅刻がちな人間で, 
遅刻をもみ消すために有給休暇を使い果たしたこともある. 
勤怠表のウェブ UI で出勤時刻を一括修正するブックマークレットも書いた. 
しかし今は休暇の蓄えも少く, 上司の席も近い. 
こうして物理的に遅刻が難しくなり, 
真面目に朝の危機管理を考える必要に迫られている. </p>
<h3>朝の本</h3>
<p>経験的に, 蒲団の中で待つ失言小町戦略は正しいと感じている. 
一度目を覚ましたら, なんとかしてこちら側に意識を繋ぎとめておけばよい. 
アルコールに弱い私は雪山に倣ってブランデーを飲むわけにもいかない. 
そこで, 本を読むことにした. 朝起きたら, 蒲団の中で. </p>
<p>朝読むのにふさわしい本は自明でない. 
夜, 寝入りばなに読む本の選択はだいぶ慣れている. 
まずはその逆だと考えることにしよう. 
寝る前に読む本は向こう側に行くための本だ. 
脳を専有している刺刺しい現実を追いやって安息を呼び戻す. 
その逆は安息を追い出して刺刺しい現実を呼び戻すこと ...
もう少し日本語を工夫するなら, 重苦しい暗闇を追い払い現実の光を呼び込むこと, 
とでも言えば良いだろう. 要は目が覚めるやつがいい. </p>
<p>まず詩歌や小説は望ましくない. "向こう側" に言ってしまう. 
技術書も難しい. ただでさえ眠いのだから. 
社会派なノンフィクションも厳しい. 
世の中の生き辛さを思いだしたら会社に生きたくなくなってしまう. 
私が最近読んでいるジャンルは全滅に近い. (向こう側読書生活なのかもしれない...)</p>
<p>元気が出るという意味で直接的なのは自己啓発本だろう. 
あとは NHK が一世を風靡したようなポジティブ系ノンフィクション. 
そのほかエッセイなどのどうでもいい読みもの. 
今回の主旨は朝起きることなので有益さは問わない. 
自己啓発本は刺激が強すぎてうんざりしてしまう危険もあったので, 
まずはノンフィクションから入ってみた. </p>
<h4>朝読んだ本: <a data:asin='4492653600' href='http://www.amazon.co.jp/%E7%89%A9%E7%90%86%E5%AD%A6%E8%80%85%E3%80%81%E3%82%A6%E3%82%A9%E3%83%BC%E3%83%AB%E8%A1%97%E3%82%92%E5%BE%80%E3%81%8F%E3%80%82%E2%80%95%E3%82%AF%E3%82%AA%E3%83%B3%E3%83%84%E3%81%B8%E3%81%AE%E8%BB%A2%E9%80%B2-%E3%82%A8%E3%83%9E%E3%83%8B%E3%83%A5%E3%82%A8%E3%83%AB-%E3%83%80%E3%83%BC%E3%83%9E%E3%83%B3/dp/4492653600%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492653600'>物理学者、ウォール街を往く。—クオンツへの転進</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E7%89%A9%E7%90%86%E5%AD%A6%E8%80%85%E3%80%81%E3%82%A6%E3%82%A9%E3%83%BC%E3%83%AB%E8%A1%97%E3%82%92%E5%BE%80%E3%81%8F%E3%80%82%E2%80%95%E3%82%AF%E3%82%AA%E3%83%B3%E3%83%84%E3%81%B8%E3%81%AE%E8%BB%A2%E9%80%B2-%E3%82%A8%E3%83%9E%E3%83%8B%E3%83%A5%E3%82%A8%E3%83%AB-%E3%83%80%E3%83%BC%E3%83%9E%E3%83%B3/dp/4492653600%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492653600' class='bookcover'><img data:asin='4492653600' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51Z6HF1G0AL.jpg'></span></a></span></p>
<p>というわけで読んだのがこれ. 
なかなか面白い本だった. 物理学出身の "クオンツ" である著者ダーマンの自伝. 
著者は計量ファイナンスの偉い人で, 
クオンツとは投資の世界でエンジニアリングを担当している人の事を指す(らしい).</p>
<p>話はダーマンが出身地の南アフリカから
コロンビア大学に留学してくるところから始まる. 
つかみはまるっきり物理学系の歴史読み物だ. フェルミ, シュワルツといった有名人の
名前, クォーク, ニュートリノなどの物理用語がぽこぽこ出てきて, 
野次馬心を満たしてくれる. 
"勇気を振り絞った私は, ファインマンとトイレで会話をすることにも成功した." 
というくだりは蒲団の中で拍手喝采した. 
ダーマンの筆致は軽やかなもので, 
60 年代東海岸での留学生による理系大学生活が, 当時の物理界の情勢を交えて
鮮やかに描かれている. 科学読み物好きにとっては楽しい.</p>
<p>その後ダーマンは論文を書いて各種の有名大学でポスドクをはしごしたりと
割と着実にキャリアを積んでゆくのだが, 本人は行き詰まりを感じて
AT&amp;T に転職する. ここからは計算機読み物になる. 
UNIX 全盛期にその発祥の地 ATnT の様子を端から眺めているかんじ. 
ダーマン自身は ATnT を気に入っておらず, その官僚主義への不満を募らせる様子が
延々と綴られる. しかしその一方でプログラミングに目覚め, 
社内のセミナーなどで UNIX ツール群を勉強して最後はプログラミング言語まで
作ってしまうあたりがすごい. (し, ちょっと得意気でもある.) 
ATnT への罵倒は徹底しているが, 
言葉とは裏腹にダーマンはそれなりに楽しんでいたのではないかと私は思う. 
プログラミングの素晴しさを熱心に語る部分は蒲団の中で強く頷きながら読んだ. </p>
<p>ATnT に三年勤めたあと, その物理と計算機の知識を行かしてダーマンは
いよいよ金融の世界, ゴールドマン・サックスに転職する. 
その後は物理の能力で理論を理解しながらそれを実装してトレーダに
提供する仕事で評価を高め, 
(C++ でオブジェクト指向金融システムを実装するなんて楽しそうでしょう.) 
更にはフィッシャー=ブラック (ブラック・ショールズ方程式の人) と共同で
金融の分野で有名な (らしい) <a href="http://en.wikipedia.org/wiki/Black-Derman-Toy">BDT モデル</a>を構築, その後も活躍は続いて
最後はコロンビア大学に教授として戻ってハッピーエンド, 現在に至って終わる. </p>
<p>金太郎(サラリーマン)や島耕作(部長)もびっくりの痛快な出世物語で
朝の眠気を払うはもってこいの一冊だったが, 
個人的な読みどころはむしろ物理学や ATnT を周縁からの視点で, 
かつ卑屈にならず描写している点にあった. 
その分野の話はたいてい主役の人々を中心にまとめられるのだが, 
ダーマンはちょうどいいタイミングでそこにでくわし, 
独特の距離感で自分の置かれた環境を楽しみながらやりすごしていく. そこが面白い. 
計算機の世界でワナビーをしていると
計算機を中心に世界が回っているような錯覚を覚えるが, 
それはあくまで部分なのだとファイナンス視点は思い出させてくれる.</p>
<p>というわけで先週は充実の朝を過ごすことができた. 
せっせと読みすぎて更なる遅刻を積み重ねたのは公然の秘密ということでひとつ.</p>
