---
title: "ぼそぼそ書くのは近況というより日記だ"
date: 2006-05-10
---
<h3>日記</h3>
<p>ぼそぼそ書くのは近況というより日記だ. </p>
<p>Social Software について少しずつ勉強しようと思いウェブを徘徊すると, 
その手の読み物が山ほど出てきて圧倒される. きりがない. 
とっかかりは権威からということで出版物を読むことに. 
最近 SIGCHI があった. そこで SIGCHI の TOC を眺め, 
まず <a href="http://portal.acm.org/citation.cfm?id=1124792">Dogear: Social bookmarking in the enterprise</a> を読む. IBM 製の企業向け bookmark の話. そういえば <a href="http://acmqueue.com/modules.php?name=Content&amp;pa=showpage&amp;pid=344">ACMQ</a> にも記事があった. </p>
<p>メモ:</p>
<ul>
<li>実名. プロファイルつき. どこの部署とかそういうの.<ul>
<li>社内 blog へのリンクもあるとか...</li>
<li>omo: そもそも社内 blog があるなんていい会社だ.</li>
</ul></li>
<li>イントラネット対応</li>
<li>認証つきのものもいちおうブックマークできる<ul>
<li>bookmarklet ならできそうではある.</li>
</ul></li>
<li>スライダの UI で tag cloud の絞りこみができる</li>
<li>Java で実装. 検索には Lucene</li>
<li>"People" ページ. (omo: おとなりブックマークみたいなものか.)</li>
<li>bookmark を使ったブラウズを pivot navigation と読んでいる.<ul>
<li>片足(一部のタグ)を固定して, 他のパラメタを変えるようなブラウズのこと.</li>
</ul></li>
<li>統計をとると, 23% のタグが内部のページ<ul>
<li>omo: 社内ブックマークは有用といいたい？</li>
<li>omo: そもそも文書が HTTP reachable になっていない会社も多そう.</li>
<li>omo: いっそ <span class='kw'>file:///</span> にもブックマークできればレガシー対応も万全か.</li>
</ul></li>
</ul>
<p>そういえばおとなりアンテナ (はてな) や購読推薦 (bloglines) はあるのに
相当の仕組みがブックマークにない. 
有名ブックマークや特定のタグを監視していれば済むからだろうか. 
妥当な気もするが, social な面白みには欠ける. 
ただ普通に bookmark の類似度だけを測っても仕方ない. (内容が同じわけだから.)
ひとつ考えられるのは, タグの傾向は似ているのに
ブックマークの内容が似ていない人を選ぶする方法. 
同じような興味を持っているけれど守備範囲が違う, というかんじ. 
うまいこと他人の守備範囲の恩恵にあずかれないものか. 
おとなりは単に自分が(読んだけれど)ブックマークしなかったページを
軒並みブックマークする人だった, というようなオチもありうるけれど. 
あとは似た傾向の人のブックマークから
興味のもてそうな差分をとりだせてもいいかもしれない. </p>
<p>もっとも, 特定個人に注目しなくていいのが bookmark の特徴という気もする.</p>
