---
title: "少し暇ができたので Web でも読むかという気になった"
date: 2006-04-20
---
<h3>近況</h3>
<p>少し暇ができたので Web でも読むかという気になった. 
ここ半年くらい英語圏のサイトをあまり読んでいなかったので, しばらく読みたい. 
そこでまず RSS feed の棚卸しをした. 
色々登録していくと, どうにも数が多過ぎる. 数えてみると 100 サイトくらいある. 
色々悩むうちに, 暇だから Web を見るという発想を考えなおした. </p>
<p>少し前までの忙しかった時, 
RSS やアンテナは気になるものだけを週末にまとめて読んでいた. 
これはなかなか効率が良かった. 
単純に考えてもサイト間の UI 遷移によるオーバーヘッドは 1/7. 
実際は積極的に飛ばし読みするようになるのでもう少し速度はあがる. 
最近少し暇ができたので毎日ウェブを見るようになったけれど, 
それが週に一回のまとめ読みより便利な気はしない. 
効率の良い方法がわかっているなら, 
暇ができたからといってわざわざ効率の悪い方法に切り替える必要もないだろう. 
そう考えることにした. </p>
<p>ただ一日で一週間分をまとめて見るのは疲れるのであまり件数は増やせない. 
Web のまとめ読みは 1 時間半か 2 時間が限度. 
もう少し高い頻度で読むにしても上限はある. 
仕方ないので当面は日本語のサイトを減らすことにした. 
知り合いのサイトと, 英語圏に代替のないサイトは残しておく. 
英語圏のサイトも知ったかぶりの材料にしかならそうなものはパスする. </p>
<p>少しストイック過ぎる気もするが, 
こういう選択は元気のある時に勢いあまってやっておくのが良い. 
アンテナを整理して知り合いのページ以外をばしばし削除する. 
この際だから RSS の無いページは巡回しないことにしよう. 
大学時代の友達の日記が plain old HTML なのに困った. 
しばらく読まないでおこうと思い, ブックマークだけしておく. 
そんなかんじで巡回先の登録を bloglines に統一した. すっきり. 
ついでにニュースサイトへのリンクも一つを残し駆逐. 
結局 40 まで減らした. 中にはメタサイト (topix.net) も
含まれるので一概には言えないが, このくらいなら読む気になるだろう. 
しばらく試してみよう. 
さようなら, i-know アンテナ. さようなら, plain old HTML の友達.</p>
<p>私はテレビを見ない. Web もあまり見なくなる. 
いよいよ話の合う人がいなくなりそうでちょっと寂しい. </p>
