---
title: "グラフの密度"
date: 2006-08-09
---
<h3>近況</h3>
<p>ソーシャルな気分が去ってしまったので, 
ソーシャルな気分だった時に思いついたことを忘れないうちにメモしておく. </p>
<h3>グラフの密度</h3>
<p>はい. </p>
<p>グラフの密度という概念がある. あるグラフの辺の数を, 
そのグラフの可能な辺の数 (頂点数 n のグラフなら n(n-1)/2) で割ったものをいう. 
(<a href="http://en.wikipedia.org/wiki/Sparse_graph">Wikipedia 参照</a>.) 
mixi でいうなら, マイミクの合計を全会員同士の組合せで割ったものといことになる. 
頂点の平均次数が同じなら, グラフが大きくなるほどグラフの密度は小さくなる. 
(mixi: 一人あたりのマイミクの人数が同じなら, 会員が増えるほどグラフの密度は小さくなる.) 
この密度(=濃さ)の定義が social network で有効なら, 
たまに見かける最近の mixi が "濃くなくなった" との主張は定義そのままだ. 
なにしろ会員数と比例してマイミクを増やさないと "濃さ" は保てない. 
mixi の会員数は
<span class='kw'>一年半前http://japan.cnet.com/news/media/story/0,2000056023,20080207,00.htm</span>
から <a href="http://www.nikkeibp.co.jp/wcs/leaf/CID/onair/jp/it/417411">半年前</a> の
一年で 6 倍以上増えているから, マイミクが 5 人だった人は 30 人まで増やさないと
ネットワークの密度を維持できない. なかなか難儀だ. </p>
<p>ただしこの "密度" の定義が social netowrk の文脈で relevant である根拠はない. 
グラフのサイズに強く影響する指標を評価に使うのが妥当なのか議論の余地がある. 
実際, 他の指標 (centrality とか) のなかにはサイズに類する指標で正規化をするものもある. 
一方でグラフのサイズが大きくなると密度が下がりがちなのは
本質的な性質なようでもある. よくわからない. 
それに "密度" はグラフ全体の性質をあらわす指標で, 割とおおざっぱだ. 
だから密度を気にかけるより 
centrality のように個々のノードに関する性質や balance のような
部分グラフに関する性質の方が調べ甲斐はありそう. </p>
<p>というようなことを, 件の挫けた <a data:asin='0521387078' href='http://www.amazon.co.jp/Social-Network-Analysis-Applications-Structural/dp/0521387078%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0521387078'>赤い本</a> を読んでいた時に思った.</p>
<h3>幾何級数と指数</h3>
<p><span class='image'><a href='http://www.amazon.co.jp/%E4%BA%BA%E6%9C%88%E3%81%AE%E7%A5%9E%E8%A9%B1%E2%80%95%E7%8B%BC%E4%BA%BA%E9%96%93%E3%82%92%E6%92%83%E3%81%A4%E9%8A%80%E3%81%AE%E5%BC%BE%E3%81%AF%E3%81%AA%E3%81%84-Professional-Computing-Series-%E3%83%95%E3%83%AC%E3%83%87%E3%83%AA%E3%83%83%E3%82%AF%E3%83%BBP/dp/4795296758%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4795296758' class='bookcover'><img data:asin='4795296758' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51DP8XC1PDL.jpg'></span></a></span></p>
<p>そういえば, 
"人員を増やすとプロジェクトの進みは遅くなる;  
なぜならコミュニケーションの複雑さが指数的に増加するから" などということがある. 
でも n(n-1)/2 って指数じゃないよな. 
ハイパーグラフなら指数になるのだけど, 
いずれにせよ実際のコミュニケーションパスはそんなに増えない. (密度を保つのは難しい.) 
適当にぐぐってみると, 指数と言っている人は実際にぼちぼちいる. 
(ex. 
<a href="http://www.01-tec.com/document/code_design/vol13.html">"コードデザイン最前線"</a>, 
<a href="http://www.atmarkit.co.jp/farc/rensai2/emer01/emer01d.html">"自己組織化プロジェクトの育て方"</a>) </p>
<p>この言い回しはどこから始まったのかと記憶をたどる, 
例の完全グラフの図で煽られた記憶...
まず思いつくのは <a data:asin='4795296758' href='http://www.amazon.co.jp/%E4%BA%BA%E6%9C%88%E3%81%AE%E7%A5%9E%E8%A9%B1%E2%80%95%E7%8B%BC%E4%BA%BA%E9%96%93%E3%82%92%E6%92%83%E3%81%A4%E9%8A%80%E3%81%AE%E5%BC%BE%E3%81%AF%E3%81%AA%E3%81%84-Professional-Computing-Series-%E3%83%95%E3%83%AC%E3%83%87%E3%83%AA%E3%83%83%E3%82%AF%E3%83%BBP/dp/4795296758%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4795296758'>人月の神話</a>. 読み直してみる. </p>
<p>2 章より:</p>
<blockquote><p>相互コミュニケーションとなるとさらにひどい. 仕事の各部分がそれ以外の部分と
個別に調整されなければいけないから, そのための労力は, 人が n 人いれば, 
n(n-1)/2 に比例する.</p>
</blockquote>
<p>おお. あった. </p>
<p>7 章より:</p>
<blockquote><p>プロジェトに n 人の要因がいる場合, 各二人のコミュニケーションについては,
(n^2-n)/2 通りのインターフェースがあり, 
潜在的には, 調整を必要とするグループの総数は約 n^2 通りとなる. </p>
</blockquote>
<p>こっちはハイパーグラフなのか. </p>
<p>件の主張はブルックスの法則というんだね. 2 章:</p>
<blockquote><p>遅れているソフトウェアプロジェクトへの要因追加はさらに遅らせるだけだ</p>
</blockquote>
<p>ちなみにコミュニケーションのオーバーヘッドはこの法則を支持する根拠の一部でしかない. 
他にもトレーニングのコストやタスクの原子性などの要因があげられている. 
またブルークスは, この法則をあくまで "ゼロ次近似として" 有効だと主張している. (19章) 
それにコミュニケーションの複雑さの爆発は無秩序な場合に起こるのだから, 
複雑さを克服するべく組織の構成をよく考えようという話につながる. 
人を増やしてはダメという話ではない. </p>
<p>だからブルークスの法則を引用する時にコミュニケーションの複雑さだけを
強調するのはいまいちフェアでない気がする. 
何か生産的な議論をしたい時はもう少し近似の精度を上げた方がいい. 
同様にコミニュケーションコストの爆発は人を増やすのに抗する口実ではなく, 
組織化を改善する動機として挙げる方が前向きだと思う. 
人を増やすべきでない理由は他にも色々あることだし. 金かかるとか. </p>
<p>それにしても, 読み直してみた "人月の神話" はまったく大した本だった. 
計算機は進歩するけど人類はなかなか進歩しないなあと我が身を恥じる. 
(そのほかの進歩しない人類の例: <a href="http://radar.oreilly.com/archives/2006/05/engineering_management_hacks_t.html">"Engineering Management Hacks: The BigBook Technique"</a>)</p>
<p>なお完全グラフを書いて煽っているのは 
<a data:asin='4756102107' href='http://www.amazon.co.jp/%E3%82%B3%E3%83%BC%E3%83%89%E3%82%B3%E3%83%B3%E3%83%97%E3%83%AA%E3%83%BC%E3%83%88%E2%80%95%E5%AE%8C%E5%85%A8%E3%81%AA%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%82%92%E7%9B%AE%E6%8C%87%E3%81%97%E3%81%A6-Microsoft-PRESS-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96-%E3%83%9E%E3%82%B3%E3%83%8D%E3%83%AB/dp/4756102107%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756102107'>CODE COMPLETE</a> だった. (27章.) 
ここでは "乗数的" と言っている. </p>
<h3>Rank と Page Rank</h3>
<p>赤い本つながり. </p>
<p>この本の 5 章は centrality と prestige に関する話題を扱っている. 
で, 最後の方に "rank prestige (status)" という指標がでてくる. 
これがとても PageRank に似ていて驚いた. 
違いがよくわからず, 私が記憶していたものは PageRank ではなくて Rank だったの? 
などと混乱した. </p>
<p>仕方なく <a href="http://dbpubs.stanford.edu:8090/pub/showDoc.Fulltext?lang=en&amp;doc=1999-66&amp;format=pdf">Page の原典(PDF)</a> を眺めてみた. 
related works を見ると色々載っている. eigenvector を使う方法もあるというから, 
そのへんの reference を辿っていくと普通の rank に辿りつくのかもしれない. </p>
<p>実際赤い本に載っている Rank とこの PageRank はけっこう違う. 
まず Rank は普通のグラフを扱うけれど, PageRank は有向グラフを扱う. 
また次数による重みづけ(Nv) や 謎のパラメタ E がある. 
なにより Rank の考え方を web の順位づけに使うというアプリケーションと
実装の存在が大きい. </p>
<p>というあたりで納得. Page エライ.</p>
<h3><a href="http://www.firstmonday.org/issues/issue8_6/adamic/">"A social network caught in the Web"</a></h3>
<p>つぎいこう.</p>
<p>"Club Nexus" という Stanford 学内 SNS のデータを分析した話. 
Club Nexus は Stanford の学生が勝手に始めた SNS で,  
2001 年ごろにあったらしい. (もうない.) そんなものがあった Stanford はすごいね. </p>
<p>会員登録の時に記入するアンケートとネットワーク構造からある種の相関を観察する. 
SNS の分析というと 赤い本みたいなことをするのが定番だと思っていたが, 
これはその手前, 普通の統計な話もある. </p>
<h4>Association by similarity</h4>
<p>まずネットワーク分析の話. </p>
<p>相関している(マイミクみたいなもんですね)人間同士は
趣味など属性の相関が強いという. まあそりゃそうだろな. 
また, ネットワーク上での距離と相関の強さの関係を見ると, 
距離の近い人ほど相関が強い. </p>
<p>ただそれも属性によって傾向がある. 
たとえば自分を "sexy" だという人間は友達も "sexy" だし, 
自分を "intelligent" だという人間も同じ傾向をもつ. 
一方で "内向的" みたいな属性は相関が強くない. 
要するに内向的な人同士は友達になってない, らしい. せつない...</p>
<p>趣味については, マイナーな趣味ほど相関が強いらしい. 
例えばスポーツだと "スカイダイビング" は "ジョギング" などより強い相関がある. 
本のジャンルも "小説" などより "技術書" の方が, 更には "同性愛" の方が相関が強い. 
マイノリチーはネットワークを活用するということかも. </p>
<h4>Properties of individual profiles</h4>
<p>あとは各属性の間の相関をみる話. 野次馬的に面白いのはこっち. </p>
<p>まずステレオタイプを確認する. 
自分のことを "weird" だと思っている人の友達は "weird" な傾向があり, 
また空き時間を家で過ごす人が多い. 趣味も SF やゲームだったりする. 
一方で自分を "successful" だと追おている人は恋愛や友情を重視し, 
空き時間はスポーツを好む. ついでにビジネス書が好き. らしい. うへ...</p>
<p>大学での専攻と personality の関係も載っている. 
政治学専攻の学生は自分を 
"attractive" だったり "lovable" だと思っている. わからなくもない. 
英文学専攻は本を読むのが好きで自分を "creative" だと思っている. 
また自分を "sexy" だとする人も 19%. 
比較して電子工学専攻で自分を sexy だと思っている人は 3/136 しかいない. 
ついでに自分を "weird" だと思っている学生が多いのは 物理, 数学, 電子工学. 
理科系は辛い目にあっているんですかね.... 
自分を "successful" だと思っている人は計算機科学に多いというあたりはさすが Stanford. </p>
<p>というような内容だった. 
ネットワーク分析以外にも調べると面白いことは色々ありそう. 
ただ現実をあらわにする作業がほんとうに楽しいのかはわからない...</p>
<p>なお, 著者のひとりは Google の Orkut Buyukkokten. 
<a href="http://www.orkut.com/">orkut</a> を作る前から SNS が好きだったようす. 
そもそも Google に来る前は SNS アプリケーションを売っている 
<a href="http://www.affinityengines.com/">Affinity Engines</a> という会社にいたという. 
(<a href="http://www.wired.com/news/business/0,1367,64046,00.html">前職のコードをぱくった疑惑</a> で訴えられたという記事もあった.) </p>
<h3>会社で Socialware</h3>
<p>上の記事の内容はさておき, 学内 SNS は楽しそうだ. 社内 SNS でもいいけれど, 
学校や会社といった実際の social network や community に対応した形で 
Web の SNS サービスを展開するのは public な SNS で競合しあうより実りあるような気がする. 
私には public な Web の SNS を複数使いわける動機がいまいちわからない. 
それと比べて学校 SNS, 会社 SNS は使ってもいいと思う. 
<a href="http://docs.openpne.jp/">OpenPNE</a> もそういうのを狙っているのだろう. </p>
<p>ただ実際に導入するのは難しいかもしれない. 
天下りで SNS が導入され, ただいきなり使え! と言っても使わないそう. 
Web 技術に関心の薄い人達は何が有り難いのがピンとこないだろうし, 
そういう人の方が多数派だろう. (上司の悪口が書けない SNS なんて!) 
なかなか使ってもらえないのは SNS に限った話ではなく情報システム全般に言える話ではある. 
けれど SNS のような socialware は皆で使わないと有難味が弱い. 
加えて業務のワークフローと無関係なので利用を促しにくい. </p>
<p>たとえば同じ socialware である Wiki は既に企業内でも広く導入されているけれど, 
賑っているもの, 情報が集約されているものは少い. 多くは放置されている. 
社内 Wiki については以前
<a href="http://www.dodgson.org/omo/t/?date=20040209">ちょっと書いた</a>
ことがある. 
よりまともな案内として <a href="http://many.corante.com/archives/2006/03/06/an_adoption_strategy_for_social_software_in_the_enterprise.php">"An Adoption Strategy for Social Software in the Enterprise"</a> という記事をみつけた. 
この記事では以下のようなベストプラクティスを挙げている. </p>
<ul>
<li>草の根で受け入れられるよう促す<ul>
<li>キーとなグループを特定する</li>
<li>その中でキーとなるユーザを特定し, 理解する</li>
<li>そのキーユーザを evangelist にする</li>
<li>evangelist に trainer もやってもらう</li>
<li>ボトムアップな受け入れと創発的な振舞いを支持する</li>
</ul></li>
<li>管理職からの支援<ul>
<li>身を持って示す</li>
<li>必須扱いする</li>
<li>十分なサポートを用意する</li>
<li>個人, 業務での利点を確認する</li>
</ul></li>
<li>時の流れを理解する (急には流行らない)</li>
<li>そもそもの目的を忘れない</li>
</ul>
<p>だいたい納得. 
ただこの記事は企業の意思として(トップダウンに)導入する場合の話なので, 
草の根でゲリラ的に導入したい末端従業員とは少し立場が違う. 
記事を書いているのは <a href="http://socialtext.com/">Social Text</a> という
企業向け Wiki の会社の人だから, 
経営者を説得して売り込んだあとのフェーズが興味の中心なんだろうね. </p>
<h4>草の根 Wiki を緩く繋ぐ</h4>
<p>私がいる職場は "会社で Enterprise Wiki を導入したから皆使うように..." 
なんて状況が想像しにくいところなので, 
どちらかというともともと草の根で導入した Wiki などを
どうやって広めていくかに興味がある. </p>
<p>最初のステップとして, 自分がたてた Wiki を保持してくことはできた. 
ただ他人に記事を書いてもらい, より広い範囲の情報を集めるのは難しい. 
そういう情熱のある人は既に自分で Wiki をセットアップして使っているかもしれない. 
また, 既存の Wiki があっても色々な事情から自分用を欲しがる人は多い. 
そういう情報の囲い込みに対して
<a href="www.oreillynet.com/go/web2">オライリー精神</a>が足りないと批判することもできるが, 
他人から見ればこちらだって自分のところに情報を囲いこんでいる. 
だから情報を公開しようとするだけ立派なもので、 
バラバラなのは草の根に情報を公開するコストだと割り切ってみる. 
その上で散乱した情報を上手くまとめるよう工夫が現実的だ. 
最近はそう思うようになった. </p>
<p>ただあまり良い方法はみつかっていない. 
<a href="http://www.planetplanet.org/">Planet Planet</a> 
や <a href="http://plagger.org/trac">Plagger</a> のような
公開 rss aggregation の仕組みを使うのが良いように見えるのだけれど, 
Wiki の出力する RSS はぱっとしないものが多い. 
レガシー Wiki をうまくまとめるのが目的だから高機能な Wiki Engine を
使えといっても仕方ない. 
アンテナのようなレガシー支援の仕組みを頑張る必要があるのかもしれない. 
あと planet 類やアンテナはちょっと構造が弱い. 
個人からなる Web のコミュニティとは違い, 組織にはもともとの構造がある. 
それを反映した方がわかりやすい気がする. </p>
<p>RSS aggregator 以外に欲しいと思うのは検索. 
これは <a href="http://hyperestraier.sourceforge.net/">Hyper Estraier</a> なり 
<a href="http://lucene.apache.org/nutch/">nutch</a> なりを頑張って運用すればよさそう. 
(ただ社内検索を試した友達は認証が面倒だと言っていた. たしかにね...)</p>
<p>下手にトップダウンな企業向けポータルを導入して草の根を踏み潰すより
こういうのを組合せて草の根企業内ポータルを作る方が楽しそうだ. 
逆に企業向けポータルをつくるなら草の根レガシーとうまく共存できるようなものが欲しい. </p>
<p>ただ実際のところ, 社内草の根情報というのはどのくらいあるものなんだろう. 
前の会社は草の根 Wiki (プロジェクト Wiki 含む) がやたら大量にあり, 
逆にトップダウンな情報共有グループウェアみたいのはなかった. (今は知らない.) 
だから上のようなことを考えた. 
今いる会社は逆に草の根 Wiki で生きているのは数えるほどしかない. 
プロジェクトで Wiki を作る習慣もない. 
かわりにグループウェアはそれなりに活用されている. 
だからグループウェアをモダンなものにしてレガシーから根性で移行する方が割にあうかもしれない. </p>
<p>また Wiki がどうこうは自分のいる開発の部署の話. 
会社の他の部署を見ると情報共有のやり方はもっと素朴だ. 
Windows の共有フォルダ, メールへの添付. 手作りの静的 HTML (<span class='kw'>file://</span> のリンクつき.)
これは前職も今も大差ない. 
売り物の企業向けポータルをつくるなら, 
より手強いこれらレガシーからの移行にとりくむ必要があるのだろう. 難儀だ...</p>
<p>こうした門外のレガシー相手の場合, 私は agent based な仕組みを採用している. 
詳しい人に聞くのがいちばん. めちゃめちゃ局所最適だけど...</p>
<h3>ネットでくだを巻く子供たち</h3>
<p>つぎ. </p>
<p><a href="http://www.danah.org/papers/AAAS2006.html">"Identity Production in a Networked Culture: Why Youth Heart MySpace"</a> という記事を読んだ. 
MySapces の話. </p>
<p>MySpaces は mixi みたいなものだと思っていたのだけれど, 
色々読んでいると 10 代の子供が多いらしい. 
この記事ではやつらが何でそんなにハマっているのかについて概説している. </p>
<p>面白かったのは, 
子供たちが何をしているかというというくだり. 
結局 "Hanging Out" しているだけなんだと. 
hang out は ブラブラする, くだを巻く, たむろする, というかんじかな. 
アメリカの街からは大人に邪魔されずくだを巻ける場所がなくなってしまった. 
だからオンラインでくだを巻くのだと著者は主張している. </p>
<p>この記事ではまず生活空間を三つに分類する: 
自分や知り合いだけでくつろげる private な空間, 
知らない人間にあふれた public な空間, 
職場のように誰かに 監視/管理 されている controlled な空間. 
大人はそれぞれの空間を持っているが, 
10 代の子供にとっては生活空間の大半が controlled だ. 
家では親が, 外では大人が, 学校では教師が自分達を管理している. </p>
<p>子供も子供社会での public, private な空間を必要としている. 
黄金の 50 年代はスケート場やハンバーガー屋がその役割を果たしていた. 
都市開発, ショッピングモールやコンビニの普及によってそうした場所が失われた. 
だから子供達はオンラインに来たのだというわけ. </p>
<p>で, そういうもんだからわかってやってくれよという話をする. 
たしかにオンラインには固有の危険がある. 
でもそうした危険はオンオフを限らず子供/若者が成熟するのに必要なものなのだと. </p>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%95%E3%82%A1%E3%82%B9%E3%83%88%E9%A2%A8%E5%9C%9F%E5%8C%96%E3%81%99%E3%82%8B%E6%97%A5%E6%9C%AC%E2%80%95%E9%83%8A%E5%A4%96%E5%8C%96%E3%81%A8%E3%81%9D%E3%81%AE%E7%97%85%E7%90%86-%E6%96%B0%E6%9B%B8y-%E4%B8%89%E6%B5%A6-%E5%B1%95/dp/4896918479%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4896918479' class='bookcover'><img data:asin='4896918479' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41WNVXYH1BL.jpg'></span></a></span></p>
<p>このへんの議論は日本の郊外論と通じるものがある. 
ただオンラインにその代替を求めるところが新鮮. 
Web にはまったく新しい世界が開けているという mochio-ish な主張も好きだけれど, 
社会と地つづきな部分についてよく考えてみるのも社会学的には面白そう. 
既存の素材が色々あるからね. </p>
<p>日本をかえりみると mixi は割と大人が多く, MySapces とは事情が違う. 
小中学生は別のコミュニティ, たとえば 
<a href="http://homepage3.nifty.com/kazano/200406b.html#14">ぱどタウン</a> 
などに生息しているのだろう. (詳しい人によると今は小学生だけでなく主婦なんかも多いらしい.) 
<a href="http://homepage3.nifty.com/kazano/200406b.html#14">読冊日記</a> 
の ぱどタウン潜入記 を思い出した. 
いまぐぐったら
<a href="http://mazoero.hp.infoseek.co.jp/pado2.html">こうしたウォッチ活動に対する批判</a>
もあることを知った. この記事はいくらか情緒的で意図を汲みにくいけれど, 
要は子供はくだ巻いてるだけなんだから見守ってやれという話に読める. そういうものなんだろな. </p>
<p>...</p>
<p>というところでブックマークの あとで書く をだいたい消化しおえた. 満足. </p>
