---
title: "洋書道"
date: 2006-07-14
---
<h3>洋書道</h3>
<ul>
<li>06/10 "Architectures for a Temporal Workflow management Systems." p.009 (0.5h)</li>
<li>06/10 "Social Network Analysis" 210-223/823 (1.0h)</li>
<li>06/15 "Social Network Analysis" 223-249/823 (1.5h)</li>
<li>06/20 "The Objective-C Programming Language" 001-061/146 (2.0h)</li>
<li>06/21 "The Objective-C Programming Language" 061-081/146 (1.0h)</li>
<li>06/22 "The Objective-C Programming Language" 081-108/146 (1.0h)</li>
<li>06/25 "The Objective-C Programming Language" 108-117/146 (0.5h) done</li>
<li>06/24 "Cocoa Fundamentals Guide" 001-042/212 (1.0h)</li>
<li>06/25 "Cocoa Fundamentals Guide" 042-059/212 (0.5h)</li>
<li>06/26 "Cocoa Fundamentals Guide" 059-069/212 (0.5h)</li>
<li>06/27 "Cocoa Fundamentals Guide" 069-095/212 (1.0h)</li>
<li>06/30 "Cocoa Fundamentals Guide" 095-107/212 (0.75h)</li>
<li>06/30 "From Seaside - A Multiple Control Flow Web Application Framework" p.029 (1.5h)</li>
<li>06/28 "Broad New OS Research: Challenges and Opportunities." (0.5h)</li>
<li>07/02 "Cocoa Fundamentals Guide" 107-135/212 (1.0h)</li>
<li>07/04 "Cocoa Fundamentals Guide" 135-157/212 (1.0h)</li>
<li>07/05 "Cocoa Fundamentals Guide" 157-175/212 (1.0h)</li>
<li>07/07 "Cocoa Fundamentals Guide" 175-188/212 (0.5h)</li>
<li>07/11 "Cocoa Fundamentals Guide" 188-196/212 (0.5h)</li>
<li>07/13 "Cocoa Fundamentals Guide" 196-210/212 (1.0h) done.</li>
<li>07/07 "WebObjects Web Applications Programming Guide" p.059 (1.0h) glance</li>
<li>07/12 "Key Value Coding Programming Guide" p.043 (1.0h) glance</li>
<li>07/12 "Key Value Observing Programming Guide" p.026 (0.5h)</li>
<li>07/12 "Cocoa Bindings Programming Topics" 001-036/092 (1.0h) 挫折</li>
</ul>
<p>06/07 から 07/13 まで 35.0h - 21.75h = 11.25h. のべおよそ 31.5 時間未達.
6, 7 月のサボりっぷりが尋常ではない. まあ理由ははっきりしている.
ひとつは家で web を解禁してしまって無駄に web する時間がふえたことと, 
趣味でちまちまコードを書く時間が増えたこと.</p>
<ul>
<li>帰宅 -&gt; ぐだぐだ web -&gt; ちょこっとコード -&gt; 寝る</li>
</ul>
<p>とダメライフになっている.</p>
<ul>
<li>帰宅 -&gt; とにかく読む -&gt; 気力次第でコードかぐだぐだ</li>
</ul>
<p>という風に改めたい. 決意が弱らないうちに<a href="http://wikimediafoundation.org/wiki/Fundraising">寄付</a>しよう. した. 
(31.5*\500)/115 = $137.  こんな時に限って円安. </p>
<p>上で読んだものの感想は気がむいたら. 
以下はアップロードしわすれていた 6 月序盤のメモ: </p>
<hr>
<h3>最近読んだ本</h3>
<p>あまり読んでない.</p>
<h4><a data:asin='1932394281' href='http://www.amazon.co.jp/Lucene-In-Action-Erik-Hatcher/dp/1932394281%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1932394281'>Lucene IN ACTION</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Lucene-In-Action-Erik-Hatcher/dp/1932394281%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1932394281' class='bookcover'><img data:asin='1932394281' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41ZyzWAsvvL.jpg'></span></a></span></p>
<p>なかなか良かった. Lucene の筋がいいせいもあるのだろうけれど, とてもわかりやすい. 
色々できそうに思えてけっこう楽しく読める. 
この手のライブラリの本で楽かったのは久しぶりだなあ. 
Web のフレームワークにかなり食傷していたと気付く. </p>
<p>pagination する時は結果をキャッシュするより二回検索する方がいいんだぜ
というところで, なぜなら lucene は "breezingly fast" だと言ってみたりする. 
端々の過剰な表現から Lucene に対する著者の思い入れを感じる. </p>
<p>最近は<a data:asin='4774127809' href='http://www.amazon.co.jp/Apache-Lucene-%E5%85%A5%E9%96%80-%7EJava%E3%83%BB%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%82%BD%E3%83%BC%E3%82%B9%E3%83%BB%E5%85%A8%E6%96%87%E6%A4%9C%E7%B4%A2%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0%E3%81%AE%E6%A7%8B%E7%AF%89-%E9%96%A2%E5%8F%A3/dp/4774127809%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4774127809'>日本語の本</a> も出たらしい. そっちは読んでない. 
フレームワークと違って妙な流儀や思想は少いからどれを読んでも安全だとは思う. </p>
<h4><a data:asin='482224511X' href='http://www.amazon.co.jp/%E9%87%91%E8%9E%8D%E5%B7%A5%E5%AD%A6%E8%80%85%E3%83%95%E3%82%A3%E3%83%83%E3%82%B7%E3%83%A3%E3%83%BC%E3%83%BB%E3%83%96%E3%83%A9%E3%83%83%E3%82%AF-%E3%83%9A%E3%83%AA%E3%83%BC%E3%83%BB%E3%83%A1%E3%83%BC%E3%83%AA%E3%83%B3%E3%82%B0/dp/482224511X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D482224511X'>金融工学者フィッシャー・ブラック</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E9%87%91%E8%9E%8D%E5%B7%A5%E5%AD%A6%E8%80%85%E3%83%95%E3%82%A3%E3%83%83%E3%82%B7%E3%83%A3%E3%83%BC%E3%83%BB%E3%83%96%E3%83%A9%E3%83%83%E3%82%AF-%E3%83%9A%E3%83%AA%E3%83%BC%E3%83%BB%E3%83%A1%E3%83%BC%E3%83%AA%E3%83%B3%E3%82%B0/dp/482224511X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D482224511X' class='bookcover'><img data:asin='482224511X' class='asin image-right' src='http://ecx.images-amazon.com/images/I/415SBQYQ8ML.jpg'></span></a></span></p>
<p>フィッシャー・ブラックの伝記. ダーマンと違って自伝ではない. 
(フィッシャーはもう死んじゃってるからね.) 
専門的な話が多く, 半分以上わからなかったのが正直なところ. 
フィッシャーの特異なキャラクターはなんとなくわかった. </p>
<h4><a data:asin='4582853099' href='http://www.amazon.co.jp/UFO%E3%81%A8%E3%83%9D%E3%82%B9%E3%83%88%E3%83%A2%E3%83%80%E3%83%B3-%E5%B9%B3%E5%87%A1%E7%A4%BE%E6%96%B0%E6%9B%B8-%E6%9C%A8%E5%8E%9F-%E5%96%84%E5%BD%A6/dp/4582853099%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4582853099'>UFO とポストモダン</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/UFO%E3%81%A8%E3%83%9D%E3%82%B9%E3%83%88%E3%83%A2%E3%83%80%E3%83%B3-%E5%B9%B3%E5%87%A1%E7%A4%BE%E6%96%B0%E6%9B%B8-%E6%9C%A8%E5%8E%9F-%E5%96%84%E5%BD%A6/dp/4582853099%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4582853099' class='bookcover'><img data:asin='4582853099' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41Z06WWMH9L.jpg'></span></a></span></p>
<p>アメリカの近代化の流れと UFO 神話の傾向は符合してますよ, というような話. 
細かい話題はそもそも良く知らないものが多かった. (なんとか報告書とかの類.)
それなりに UFO 好きな方が楽しめそう. </p>
<h4><a data:asin='4163247408' href='http://www.amazon.co.jp/%E3%81%AB%E3%82%87%E3%81%A3%E8%A8%98-%E7%A9%82%E6%9D%91-%E5%BC%98/dp/4163247408%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4163247408'>にょっ記</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%81%AB%E3%82%87%E3%81%A3%E8%A8%98-%E7%A9%82%E6%9D%91-%E5%BC%98/dp/4163247408%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4163247408' class='bookcover'><img data:asin='4163247408' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51JY86Y4KVL.jpg'></span></a></span></p>
<p>穂村弘の日記風フィクション. 
一連のダメ人間エッセイよりだいぶ味がある. 満足. </p>
<h3>洋書道</h3>
<ul>
<li>05/07 "Social Network Analysis" 069-076/823 (1.0h)</li>
<li>05/08 "Social Network Analysis" 077-099/823 (1.0h)</li>
<li>05/09 "Social Network Analysis" 100-125/823 (1.0h)</li>
<li>05/10 "Social Network Analysis" 126-146/823 (1.0h)</li>
<li>05/10 "Social Network Analysis" 147-155/823 (0.5h)</li>
<li>05/24 "Social Network Analysis" 156-183/823 (1.0h)</li>
<li>05/28 "Social Network Analysis" 184-194/823 (1.0h)</li>
<li>06/07 "Social Network Analysis" 195-209/823 (1.0h)</li>
<li>06/07 "Social Network Analysis" 195-209/823 (1.0h)</li>
<li>06/01 "Real-Time Rendering" 181-203/??? (1.0h)</li>
<li>06/04 "Real-Time Rendering" 203-219/??? (1.0h)</li>
<li>06/05 "Real-Time Rendering" 219-245/??? (1.0h)</li>
<li>05/13 "Lucene IN ACTION" -10-027/421 (1.0h)</li>
<li>05/14 "Lucene IN ACTION" 028-067/421 (1.0h)</li>
<li>05/15 "Lucene IN ACTION" 068-104/421 (1.0h)</li>
<li>05/16 "Lucene IN ACTION" 105-170/421 (1.5h)</li>
<li>05/17 "Lucene IN ACTION" 171-213/421 (1.0h)</li>
<li>05/18 "Lucene IN ACTION" 214-341/421 (1.0h) とばしよみ</li>
<li>05/22 "Lucene IN ACTION" 342-407/421 (1.0h) とばしよみ, 読了.</li>
<li>05/23 "The Slab Allocator: An Object-Caching Kernel Memory Allocator" 12p (0.5h)</li>
<li>05/23 "Magazines and Vmem: Extending the Slam Allocator to Many CPUs and Arbitrary Resources" 18p (1.0h)</li>
<li>05/24 "Using Hybrid Networks for the Analysis of Online Software Development Communities" 9p (0.5h)</li>
<li>05/24 "How to search a social network" 21p (1.0h)</li>
<li>05/25 ACMQ Apri/2006 (1.0h)<ul>
<li>"A Conversation with Chunk McManis" 013-018/???</li>
<li>"Tivo-lution" 029-038/???</li>
</ul></li>
</ul>
<p>05/07-06/07 で 24 時間. だいぶさぼってしまったなー. 
(32-24) = 8h 未達. のべ 20 時間未達. 
wikipedia への donation が \10k を超えた...</p>
