---
title: "洋書行"
date: 2006-01-13
---
<h3>近況</h3>
<p>少し前に転職した. 仕事は普通の IT 屋さん. 
転職して得たものもあれば失ったものもある. 
得たのは時間だ. 割と人間的な時間に帰宅できるようになった. 
洋書を読もうと思ったのは時間ができたせいでもある. 
失ったものの話は寂しくなるからやめておく. </p>
<h3>洋書行</h3>
<ul>
<li>01/08 "Gurus, Hired Guns, and Warm Bodies" : 224-243/332 (1.5h)</li>
<li>01/08 "Real-Time Rendering": 118-132/835 (0.5h)</li>
<li>01/09 "Gurus, Hired Guns, and Warm Bodies" : 243-265/332 (2.0h)</li>
<li>01/10 "Gurus, Hired Guns, and Warm Bodies" : 266-279/332 (1.0h)</li>
<li>01/11 "Gurus, Hired Guns, and Warm Bodies" : 280-293/332 (1.0h)</li>
<li>01/12 "Gurus, Hired Guns, and Warm Bodies" : 294-312/332 (1.5h)</li>
<li>01/13 "Gurus, Hired Guns, and Warm Bodies" : 313-319/332 (0.5h) 読了</li>
<li>01/13 "Database Management Systems"        : 309-322/906 (0.5h)</li>
</ul>
<p>ようやく一冊読み切った. やっほー.
速度は安定して遅い, 道程はながい.</p>
<h3>最近読んだ本</h3>
<h4><a data:asin='0691119430' href='http://www.amazon.co.jp/Gurus-Hired-Guns-Warm-Bodies/dp/0691119430%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0691119430'>Gurus, Hired Guns, and Warm Bodies</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Gurus-Hired-Guns-Warm-Bodies/dp/0691119430%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0691119430' class='bookcover'><img data:asin='0691119430' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51Ch-fjTzdL.jpg'></span></a></span></p>
<p>"洗脳するマネジメント" の著者による, 
シリコンバレー周辺に棲む技術系契約社員の民族誌.
けっこう面白い. 
契約社員に対する二つの見方: 
組織に縛られない自由な生き方であるという前向きなものと
後ろだての組織を持たない弱い立場であるというもののどちらも一面に過ぎず, 
詳細なインタビューからその実態を明らかにする...という話.
Guru, Hird Gun, Warm Bodies はそれぞれ契約社員のステレオタイプらしい.</p>
<p>契約社員の生態, 正社員との緊張関係なんかの話も面白いのだが, 
それに加えて契約社員の仲介会社や契約社員を使う立場の管理者にも
色々インタビューをしていて, そのへんも読みでがある.</p>
<p>私には契約社員のタフな生き方を真似できそうにない.
ただ政治を頼らず技術と個人的なネットワークを頼りに生きるスタイルは
技術従属者の理想にも思える. 
ある種のプログラマは読んでいて共感できるのではないかと思う. </p>
<p>取材が行なわれたのは 2000 年, IT バブルの絶頂期で, 
その後は労働市場が縮小し以前ほど契約社員がこの世の春を謳歌する
というかんじではなくなったとエピローグにあった. 
もっともそれは正社員も同じだけれども. </p>
<h4><a data:asin='4047100242' href='http://www.amazon.co.jp/%E6%96%B0%E5%8D%92%E3%82%BC%E3%83%AD%E7%A4%BE%E4%BC%9A%E2%80%95%E5%A2%97%E6%AE%96%E3%81%99%E3%82%8B%E3%80%8C%E6%93%AC%E6%85%8B%E7%A4%BE%E5%93%A1%E3%80%8D-%E8%A7%92%E5%B7%9Done%E3%83%86%E3%83%BC%E3%83%9E21-%E5%B2%A9%E9%96%93-%E5%A4%8F%E6%A8%B9/dp/4047100242%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4047100242'>新卒ゼロ社会</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E6%96%B0%E5%8D%92%E3%82%BC%E3%83%AD%E7%A4%BE%E4%BC%9A%E2%80%95%E5%A2%97%E6%AE%96%E3%81%99%E3%82%8B%E3%80%8C%E6%93%AC%E6%85%8B%E7%A4%BE%E5%93%A1%E3%80%8D-%E8%A7%92%E5%B7%9Done%E3%83%86%E3%83%BC%E3%83%9E21-%E5%B2%A9%E9%96%93-%E5%A4%8F%E6%A8%B9/dp/4047100242%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4047100242' class='bookcover'><img data:asin='4047100242' class='asin image-right' src='http://ecx.images-amazon.com/images/I/517RA9B8W7L.jpg'></span></a></span></p>
<p>労働つながり. 昔の会社員と今の会社員はどう違うんだろうねと
友達と話していたのを思いだして読んでみた. 
40 年くらい続いている新入社員へのアンケート結果の遷移をもとに
その変遷を追う. </p>
<p>かつては会社が一つの社会であり, 昔と今の違いは,
会社員が仕事にコミットするというよりもむしろ
会社という社会やその人間関係に深くコミットしていて
結果として "社畜" とも呼ばれるような会社人間が生まれた, 
企業の合理化とともにその社会が消えていったと. そんなかんじの話など. </p>
<p>特段新しい話題はないけれど, インタビュー結果のディティールが面白い.
たとえば昔は終身雇用があたりまえでそれを期待していた印象がある.
しかし実際に "定年まで働きたい" という意志をもっている人は
1971 年でも 21% だけだった. 去年は 18%. 
つまりなんとなくおっさんになってなんとなく定年を迎えるのが
どちらかいうと正しい昔の会社員ということになる.
ちょっと共感. (やめちゃったけど.) 
今はなんとなく暮らしているとクビになるようになっただけなのだな.</p>
<h4><a data:asin='4757141041' href='http://www.amazon.co.jp/%E5%A4%9A%E5%85%83%E5%8C%96%E3%81%99%E3%82%8B%E3%80%8C%E8%83%BD%E5%8A%9B%E3%80%8D%E3%81%A8%E6%97%A5%E6%9C%AC%E7%A4%BE%E4%BC%9A-%E2%80%95%E3%83%8F%E3%82%A4%E3%83%91%E3%83%BC%E3%83%BB%E3%83%A1%E3%83%AA%E3%83%88%E3%82%AF%E3%83%A9%E3%82%B7%E3%83%BC%E5%8C%96%E3%81%AE%E3%81%AA%E3%81%8B%E3%81%A7-%E6%97%A5%E6%9C%AC%E3%81%AE%E3%80%88%E7%8F%BE%E4%BB%A3%E3%80%8913-%E6%9C%AC%E7%94%B0-%E7%94%B1%E7%B4%80/dp/4757141041%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4757141041'>多元化する能力と日本社会</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%A4%9A%E5%85%83%E5%8C%96%E3%81%99%E3%82%8B%E3%80%8C%E8%83%BD%E5%8A%9B%E3%80%8D%E3%81%A8%E6%97%A5%E6%9C%AC%E7%A4%BE%E4%BC%9A-%E2%80%95%E3%83%8F%E3%82%A4%E3%83%91%E3%83%BC%E3%83%BB%E3%83%A1%E3%83%AA%E3%83%88%E3%82%AF%E3%83%A9%E3%82%B7%E3%83%BC%E5%8C%96%E3%81%AE%E3%81%AA%E3%81%8B%E3%81%A7-%E6%97%A5%E6%9C%AC%E3%81%AE%E3%80%88%E7%8F%BE%E4%BB%A3%E3%80%8913-%E6%9C%AC%E7%94%B0-%E7%94%B1%E7%B4%80/dp/4757141041%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4757141041' class='bookcover'><img data:asin='4757141041' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41RZTBC55KL.jpg'></span></a></span></p>
<p>これも労働つながり.
最近は学力のような "近代的な" 能力だけでなく,
対人能力やポジティブ嗜好といった "ポスト近代的" な(他の表現はないのか...)
能力が求められるようになってきた. "ポスト近代的" な能力は
生まれ育ちに依存する傾向があり, その結果不平等が広がる恐れがある. 
と, "下流社会" に出てきた話題を詳しく書いたような話.</p>
<p>中学生, 高校生に要求される新しい能力の実態や, 
その育てる教育方針を巡る報道などについて述べられている.</p>
<p>著者はそのカウンターとして "専門性" を身につけよという. 
専門性を軸に視野を広げていくことで 今時の能力を要請する社会と渡り合えるのだと.
その根拠はいまいちはっきりしないけれど, 
言われてみればプログラマは割とそいういうところがある.
対人能力やポジティブ嗜好で食ってるプログラマはあまりいない.
(管理職になってしまうから...)</p>
<p>そういえば "Gurus, ..." の話も, 政治力というポモ的能力の制約から逃れて
より専門能力セントリックに生きようという話にも読める.
ただ世の中はポモ力な人向けにできているから,
それを変えていくには政治的な努力が必要. 鶏と卵ではある.</p>
<p>こんなのばっかし読んでるとだんだん飽きてくるね... </p>
<h3>プログラマという仕事</h3>
<p><span class='image'><a href='http://www.amazon.co.jp/Job-Went-India-Pragmatic-Programmers/dp/0976694018%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0976694018' class='bookcover'><img data:asin='0976694018' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51BfF0wLtEL.jpg'></span></a></span></p>
<p>最近は(帰りが早くなったせいもあり)けっこういい仕事な気がしている. 
私の場合給料はあまり良くないが喰っていけないほどでもないし, 
時には過労だが当面はクビになるかんじでもない. </p>
<p>ただこれは日本の場合の話で, 
最近のアメリカ人プログラマはクビを気にしているらしい. 
英語圏はアウトソーシングで外国人に仕事をとられる危機感があるからだという. 
そんな話が少し前の <a href="http://acmqueue.org/modules.php?name=Content&amp;pa=showpage&amp;pid=351">ACM Queue に載っていた</a>. </p>
<p>その記事は, 仕事はあるから心配するな, 
おまえらが自分の仕事を悪くいうから学生の IT 人気が下がってしまったじゃないか. 
特に女の子の間では人気が 1/10 になったんだ. どうしてくれる. 
心配するヒマがあったら勉強しろ, 
ACM はオンライン学習の支援もばっちりだ...というような内容だった. 
(実際オンライン書籍の提供など, ACM のオンライン学習支援は極めて充実している.)</p>
<p>そういえば CACM には <a href="http://www.cne.gmu.edu/pjd/PUBS/CACMcols/cacmNov05.pdf">"Recentering Computer Science"</a>(PDF) という記事があった. 
ACM にとって学生の IT 人気は死活問題だからかもしれない. 
彼らがいつか Dilbert を訴えはしないか. 他人事ながら心配になる. </p>
<p>実態はともかくアメリカ人プログラマの不安はそれなりなようで, 
<a data:asin='0976694018' href='http://www.amazon.co.jp/Job-Went-India-Pragmatic-Programmers/dp/0976694018%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0976694018'>My Job Went to India</a> なんて本まで (Rails の本に並んで) 出版されている. 
アホっぽいかんじで面白そう. そのうち読みたい. </p>
<p>日本だと "My Job Went to YRP" ... などというのはまったくの誹謗中傷であります.</p>
