---
title: "RTR 読書会 参加者募集中"
date: 2006-07-24
---
<pre></pre>
<h3>近況</h3>
<p>最近の RTR 読書会は秋葉原でやっている. 今日は 30 分早く到着. 
暇とはいえコーヒーを飲む気にもならず, ダイビル側の駅前広場でぼーっとしていた. 
あの駅前は眺めていると面白い. 
たとえば渋谷の駅前だと人が多すぎて鑑賞対象を絞りにくい. 
秋葉原のあの駅前は適度に閑散としていている. 
だから個々のキャラクタがどう動いているか素人にも追える. 入門向けの駅前ってとこかしら. </p>
<p>入門向けと思っている人は他にもいるようだ. 
<a href="http://www.google.com/search?q=%20%E6%89%8B%E7%9B%B8%E3%81%AE%E5%8B%89%E5%BC%B7">手相勉強会</a> の人々が熱心に活動していた. 
4 人くらい. けっこう捕獲率は高い. 素朴な若者が多いのかもね. 
だいたい 5 分とかからず相手をつかまえられている. まったく入門向けだ. </p>
<p>ただひとつ, どうも様子のおかしい組がいる. 
つかまっているのはチョビヒゲのサブカルメガネ男子下北風. 
つかまえた側はグレーのサマーセータの女の子. 
もう 15 分以上立ち話をしている. 
時々手のひらを示して何事か囁いているところを見ると手相系に間違いはなさそう. 
ただ, 進展がない. もどかしい. 
もっとこう肩をよせあったりじっと見つめたり
手を握ったりして攻勢するんじゃないのか. 
逆にメガネ男子の方がかなり喋っている. </p>
<p>あの手相の子はソーシャルハックされてるんじゃなかろうか. 気の毒に. 
私は何人かのチョビヒゲサブカルメガネ男子を知っているけれど, 
みな例外なく手相の学習につきあうタイプではない. (偏見かもしれない.) 
他の手相衆はくっつきつ離れつをくりかえしている. 
もっと他の, 秋葉原らしいより純朴な他の男を狙った方がうまくいくのではなかろうか. </p>
<p>などと彼女の身を慮っていると, 二人の間に割り込みが入った. 
ジーンズに T シャツ, アングロサクソンのイケメン. 
背中につけた羽根飾りから違和感が溢れている. (メイド文化へのオマージュ?) 
男はなかなか喋りのノリがいい. にわかにゆるむ二人の緊張関係. 
こいつは誰だ? 微笑みあいながらめくばせをする二人. (気のせいかもしれない.) 
男は絵はがきを売っているらしい. 慈善活動か自己表現か新手の何かか. 
数分の歓談の末, サブカルメガネと手相女子ははがきを手にし, 
目的を達成した羽根の男は去り, 取り残された二人はまた何か話し始めている. 
ふりだしにもどる. </p>
<p>もしかして手相女子は逆にナンパされているのだろうか. 
だとしたらなんとなく辻褄はあう(というか生理的に納得できる.) 
4 人いる手相団のなかで, そのグレーの女子がいちばん, その, まともっぽい. 
あのメガネ男子とは趣味があうかもしれない. その一方でかすかな疎外感. </p>
<p>いまだ進展はない. 二人が話しはじめてから 20 分以上たつ. そろそろ足が疲れそうなものだ. 
研修で非言語コミュニケーションについて教わらなかったのだろうか. まだ学生だろうか. 
向いあって二歩の位置は緊張した膠着関係の距離と角度だ. 
どっちでもいいから脇に回りこむんだ. そして手を触れろ! なんのための手相の勉強なんだよ! 
だんだん落ちつくなくなってくる. (私が.)</p>
<p>膠着状態に気がついた第三者は他にもいた. 
どこからかあらわれ, 二人に歩みよる紺ニットの女性. 
さっきまでは姿を見なかった. 監視...メンターかもしれない. 
二人の仲を引き裂き, 決着を図ろうとする紺ニット. 
しかし先の羽根男の時とは違い, 二人の位置は変わらない. 
入りこめずに足先の落ち着かない紺のメンター(仮). 
話題をふるメンター. 手をさしだすメガネ. グレーはふたたび手相のモーション. 
うなずくメガネ. それさっきもやったろ! </p>
<p>結局, 紺は入りこめない. 腕を組み, やや不機嫌そうに再び足先の落ち着かない紺. グレーとメガネの間には, 今や何か絆のようなものが芽生えているようにも見える. 笑顔. </p>
<p>二人は歩みよるのだろうか. 紺の次の一手は?
というあたりが気にはなったけれど時間がきたので会議室に向かいました. </p>
<h3>RTR 読書会 参加者募集中</h3>
<p>隔週開催の RTR 読書会は一緒に本を読むメンバを探しています. </p>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%AA%E3%82%A2%E3%83%AB%E3%82%BF%E3%82%A4%E3%83%A0-%E3%83%AC%E3%83%B3%E3%83%80%E3%83%AA%E3%83%B3%E3%82%B0-%E7%AC%AC2%E7%89%88-Tomas-Akenine-Moller/dp/4939007359%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4939007359' class='bookcover'><img data:asin='4939007359' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51h5tADC7zL.jpg'></span></a></span></p>
<p><a data:asin='4939007359' href='http://www.amazon.co.jp/%E3%83%AA%E3%82%A2%E3%83%AB%E3%82%BF%E3%82%A4%E3%83%A0-%E3%83%AC%E3%83%B3%E3%83%80%E3%83%AA%E3%83%B3%E3%82%B0-%E7%AC%AC2%E7%89%88-Tomas-Akenine-Moller/dp/4939007359%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4939007359'>リアルタイム レンダリング 第2版</a>  の日本語訳が出ました.
読書会のメンバは半数が日本語版を参照しています. 
日本語版だけでも OK です. 中身は一緒. </p>
<p>今は 6 章 ("高度なライティングとシェーディング") あたり. 
パイプラインだのテクスチャだのの基本的である意味かったるい所が終わったくらい. 
ためしに参加してもいいよーという方は omo at dodgson dot org かコメント欄でご連絡を. </p>
