---
title: "職を変えて以来, 色々と初体験のサプライズが多い"
date: 2006-02-15
---
<h3>近況</h3>
<p>職を変えて以来, 色々と初体験のサプライズが多い. 
今日は特にそれが極端で眩暈をおぼえる. 
本を読んでも内容が頭に入ってこない. 
仕方がないので近況でも書くことにする. 
今日のサプライズは以下の二点. </p>
<h4>サプライズ 1 : コンパイルを通ったコード</h4>
<p>今のプロジェクトは別のチームのエンジニアと並列作業をしており, 
私のコードが相手のコードに依存している. 
およそ一ヶ月前に空実装した状態のコードを受けとっていた. 
そのコードは interface として差し替え可能になっていなかたため, 
私はそれをラップしてモックをつくり, それに対して作業をしていた. 
先週相手のコードができあがったというので, 今週に入ってから
コードをマージし, モックを実物に差し替えたところ動かない. 
やはり統合のトラブルは多いから継続的統合が必要だよなと思いつつ, 
しかしチームを跨いでの作業で政治的に面倒な部分が多い. 
そういう状況で継続的統合とか言うのは疲れそうなのでやめておいたのだ. 
テストもしていないらしいから統合時の多少のトラブルは仕方ないと
相手のコードを読みつつバグを追った. </p>
<p>しかし最も単純なケースでも動かない. 
エラーが出ているのは確実にとおるパスで, 
設定などの外部要因でひっかかる類のものではない. 
おそるおそる "これ動かした？" と聞いたところ, 動かしていないという. 
これが噂の "テストをしていないコード" か. と感動する. 
"テストをしていない" にも色々あるが, 
これは起動すらしていないカバレッジ 0% の希少品. 
実物を見るのははじめてだ. (都市伝説だとおもっていた.) 
私は実のところ "頼んでおいた作業が全然できていない" という状況に
出会ったことがなかった. どうすればそんなことが可能なのか疑問だったが, 
見てみれば納得する. 成果物をレビューしていなかったためだ. 
そういえば先週のあたまくらいに "これ見といて" と
上司経由でコードを貰った気がする. 
あれはレビューをしておけという意味だったのか. 
私は単に early access 版としてインターフェイスに変更がないことを
確認しただけだった. 私が間違っていた. 私が要求されていたのは, 
コンパイルが通っただけのコードが正しく動いているか確認することだったのだ. 
そう言ってくれればいいのに (たぶん突き返したと思うけど) ...</p>
<h4>サプライズ 2 : 残業と休日出勤を要請する上司</h4>
<p>上司から残業と休日出勤を要請された. 実はこれも初体験. 
呪詛の言葉が口をつく. こんなにも理不尽で屈辱的な体験なんだね. サプライズ. 
これまでも残業や休日出勤はそれなりにやってきたが, すべて自己判断だった. 
自分でスケジュールを管理, 把握していたから, 
ここらでやっておこうと判断ができた. </p>
<p>上司の要請は, 件の "コンパイルだけ通るコード" を動くようにしろというもの. 
加えて, "また遅延すると親請けの担当者のクビがとぶ" から, 
せめてこれだけやったけどここまでしかできなかったという "姿勢を示す"
必要があるという. 無精髭とフケ髪で寝袋を床に拝をする, 供物としての過労だ. 
私の中にはないある種の宗教観を垣間見た気がした. 
彼は良い人で仕事ぶりもなかなかなのだが, いくらか信仰心が強すぎる気がする. 
私は良いコードを書き効率的に仕事をしようと意識しているし, 
それを合理的で当然のことだと思っている. 
しかしそうして作った時間を発注元信仰に貢ぐのは気がひける. 
豚肉を喰えと迫られるイスラム教徒はこんな気持なのかもしれない. </p>
<p>こんなかんじの驚きと刺激に満ちた日々を送っています. </p>
