---
title: "blog にして読みたい日本語"
date: 2006-12-03
---
<h3>blog にして読みたい日本語</h3>
<p>"<a href="http://nihongo.3yen.com/">Learn Japanese</a>" という blog がある. 
日本語を勉強したい非日本人向けに書かれた英語の記事が面白く, しばらく購読している. 
面白い話題があったら紹介しようと思っていたのだけれど, 
基本的にいつも面白いせいで結局紹介しそびれていた. </p>
<p>最近の記事も面白かった. 日本語リーディングの練習に blog を読もうという話. 
"Japanese blogs are good reading practice if you can find some interesting ones." から話がはじまり, "Most share some unique characteristics." とつづく. 
どんな特徴が unique なのかは <a href="http://nihongo.3yen.com/2006-11-15/and-then-scroll-scroll-scroll-never-mind/">ページ</a> を見れば一目瞭然. 
この記事自身がその特徴を真似しているのだ. 仕掛けに気付き吹き出しそうになった. 
WYSWIG エディタが生んだ文単位の &lt;p&gt;, ケータイ由来の顔文字, 90 年代風文字装飾, 
ネタバレ禁止の過剰改行, など. 確かに unique だし, 
読む側にしてみれば annoying な様式だろう. 
私がこの手の ブログ をほとんど読んでいないせいか, あまり気にとめていなかった. </p>
<p>ところで
非日本語圏の人々がどれだけ Japanese celebrity の書くものを楽しめるのだろう. 
単純に読み物として見ても面白いわけではなく, 読解にはかなりの文脈が必要そうだからなあ. 
Learn Japanese の書き手はけっこう楽しんでいるように見える. これは多数派なんだろうか. 
私の偏見によると, 日本語に興味を持つきっかけは
おたく文化の影響が支配的ということになっている. 
そう仮定するなら celebrity blog より おたく文化圏の blog の方が読み甲斐はありそうだ. 
私が英語の blog を購読する時に 
<a href="http://cats.about.com/About_Cats.htm">"About Cats"</a>
(<a href="http://www.bloglines.com/preview?siteid=2680">bloglines 購読者数 15,000</a>) 
ではなく 
<a href="http://www.pluralsight.com/blogs/dbox/">"Don Box's Spoutlet"</a> 
(<a href="http://www.bloglines.com/preview?siteid=559101">bloglines 購読者数 1,500</a>) 
を選ぶ理由も同じ. 
私にとって米国は(猫の国ではなく)プログラマの国なんだな. </p>
<p>そんなわけで日本語学習者に向けて, おたくの国日本の blog をいくつか紹介... 
するならどのサイトが面白いんだろう... 自国の文化に疎い自分に気付く. 
<a href="http://rank.readmej.com/M/latest/">ReadMe! Japan</a> などからピックアップするのが
いいんだろうけれど, 気力がないのでパス. 
おたく文化を俯瞰する意味で <a href="http://artifact-jp.com/">ARTIFACT —人工事実—</a> や 
<a href="http://amanoudume.s41.xrea.com/">発熱地帯</a> は面白いかもしれない. </p>
<p>まあいいや. 
書き手の Kim さんはかなり専門的な日本語の人らしい. 
<a href="http://www.guidetojapanese.org/">"Tae Kim's A Japanese guide to Japanese grammar"</a> というオンライン日本語教科書を書いている. このページ付属の <a href="http://www.guidetojapanese.org/forum/">forum</a> を眺めるのは悪趣味ながら密やかな楽しみ. <a href="http://www.guidetojapanese.org/forum/viewforum.php?id=2">Questions about Japanese</a> にまったく答えられない自分が少し悲しい. </p>
