---
title: "夏のあいだ挫けていた洋書道を復活しようと, "
date: 2006-10-11
---
<h3>近況</h3>
<p>夏のあいだ挫けていた洋書道を復活しようと, 
OS の教科書(タネンバウムのやつ)を読み始めた. 
まだ導入部分. コンピュータの歴史をたどる. </p>
<p>この手の史料は現存しないものの話が面白い. 
Google 読み物だったら破れさった検索エンジンの話が面白いのと同じ. 
だから OS の話で面白いのは Multics までだ. あとはだいたい生きてるからね. </p>
<p>本文中で Multics のファンサイト 
<a href="http://multicians.org/mepap.html">multician.org</a> が紹介されていた. 
覗いてみる. 90 年代後半まではまだけっこう稼動していたらしい. 現存してるじゃん! おどろき. 
このサイトは他にも(部外者視点からは)かなりどうでもいい読み物が色々あって面白い. 
たとえば Multics は Emacs 支援のために 
PL/1 -&gt; Lisp コールバックをサポートしていた話とか. ウヘ. </p>
<h4>未来の Analytical Engine</h4>
<p>教科書に戻ると, 
コンピュータの始祖として 18 世紀に考案された 
<a href="http://www.fourmilab.ch/babbage/library.html">Analytical Engine</a> 
が紹介されている. 
トランジスタも真空管もない時代に生まれ,  結局完成を見ることのなかった野心作. </p>
<p>タネンバウムは Multics を Analytical Engine みたいなものと評している. 
うまいこと言うね. 
Multics は "Boston 一帯の利用者全て" を一手に引き受ける計算資源であろうとした. 
今でいうデータセンタみたいなものだろうか. 
それをひとつのシステムで動かそうというのだから, 
いかに野心的で無茶なプロジェクトだったかわかる. </p>
<p>さて, 今やこの目標は Google を始めとする大規模システム業界の手で実現されつつある. 
Analytical Engine は 20 世紀の科学者によって, 
Multics は 21 世紀の技術者によって実現された...というのは誇張かな. 
技術の加速を鑑みると, 20-30 年後には次の Analytical Engine が実現されるのだろう. 
それがどんなものか想像してみたいけれど, そのためにはまずこの教科書を読まないと. 
そう自分を動機づけたのでした. </p>
