---
title: "Size Is Everything"
date: 2006-12-13
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?WhirlwindTutorialOnCreatingReallyTeensyElfExecutablesForLinux">Size Is Everything</a></h3>
<p>本が出たり催し物があったりと, 一部の世の中はバイナリブームらしい. 
私も若者ぶるべく流行り物を追いかけたいけれど, 
本を買う金はなく積読はあり, 
催し物の存在に気付いたのは応募の締切からだいぶあとだった. 
悲しい. 世はドッグイヤーなり. </p>
<p>せめて外野で勝手に盛り上がることにして, 
最近読んだバイナリなかんじのページをざっと訳してみた: 
"<a href="http://www.hyuki.com/yukiwiki/wiki.cgi?WhirlwindTutorialOnCreatingReallyTeensyElfExecutablesForLinux">Size Is Everything</a>". 
どこまで小さい実行ファイルをつくれるかという話で, 
3998 バイトのバイナリをだんだん縮めていく. 
序盤はやや退屈だけど後半だんだんとハックぶりが加熱していく. </p>
<p>また Yukiwiki に置かせてもらったので, 
誤字脱字誤訳脱訳をみかけたらそっと直してやってくさい. 
著者への連絡はこれから. </p>
