---
title: "追記"
date: 2006-07-17
---
<pre></pre>
<h3>近況</h3>
<p>あと半年, もう Wikipedia に寄付はしまいと読書プランを考え, 挫けた. 
ブックマークに並ぶ本が多過ぎて萎える. 気分は積読. 
財政も厳しい手前, とりあえず手持ちの技術書積読から読んでいくことにした. 
ただ, ふつう積読には訳がある. 読めるならもう読んでいるはず. 
最初のターゲットである "Introduction to Algorithms" もそれに該当する. 
厚い. そして眠い. しかしいずれは読まねば思っていたので読むことにする. 
半分くらいまでは進みたい... 
気分がソーシャルからコードに変わってきて "Social Network Analysis" は挫折中. 
コードに飽きたころにまた読むかもしれない. </p>
<p>気の重い本と一対一で戦うのは辛い. 軽めの本も混ぜていきたい. 
ただこの半年の反省がある; 軽い本が楽しいとは限らない. 
どうでもいい本もけっこうある. 特にチュートリアル系は内容が水増しされていたりする. 
英語で水増しされるとオーバーヘッドが大きすぎて疲れる. </p>
<p>そこで気分を変えコンピュータ以外の本をあたることにした. 
小説は語彙が足りそうにないからノンフィクションを試してみよう. 
ということでブックマークにあった "American Prometheus" を注文. 
今年のピューリツアー賞ノンフィクション部門受賞といから, それなりに面白いのだろう. 
英語が難しかったら泣きそう. </p>
<p>それからなんとなく英語圏の書籍レビューサイトをぐぐってみた. 
大量にある. (当たり前.) 
自己顕示に走らず, 適当に面白い本を紹介してくれるサイトはないか. 
とりあえず <a href="http://www.nytimes.com/pages/books/">nytimes.com</a> を見てみた. 
うーむ...日本でいうと "本の雑誌" くらいの脱力度がいいんだけどなあ. </p>
<h3>追記</h3>
<p>"Introduction to Algorithms" を読み始めた. 早くも眠い. たすけてー</p>
<ul>
<li>07/17 "Introduction to Algorithms" p.005-027/1180 (1.0h)</li>
</ul>
