---
title: "月を撃つ"
date: 2006-04-27
---
<h3>近況</h3>
<p>電気代がピーク時の 1/3 に激減した. 
ハロゲンヒーターはもう要らない. 春になった. たしかに. 
最近 Web で訓話的な読み物が流行るのを見て, なぜだろうと思っていた. 
春だからだね. </p>
<p>その中で私がいちばん気に入ったのは, 
Microsoft technical evangelist の Robert Scoble による 
<a href="http://scobleizer.wordpress.com/2006/04/24/how-microsoft-can-shut-down-mini-microsoft/">How Microsoft can shut down Mini-Microsoft</a> という記事. 
microsoft ファンである私にとっては痺れる記事だった. 
さすが職業 evangelist だ. 
(このあいだ evangelist より enthusiast だよねという話をした気もする. 
まあそれはそれ...)</p>
<p>この記事は, 肥大化した microsoft を批判する匿名MS社員の blog 
<a href="http://minimsft.blogspot.com/">Mini-Microsoft</a> に充てて書かれている. Scobe は
"君の不満はわかる. microsoft がこんな風になればその不満はなくなるかい？" 
という立場で, 将来 microsoft が向かうべき方向を提案する. </p>
<h3>月を撃つ</h3>
<p>しかるべき前置きのあと Scoble はこう語りはじめる. </p>
<pre>Apologies to Martin Luther King.
I have a dream.</pre>
<p>私には夢がある...キング牧師のオマージュからはじまる語りはこんな風に続く:</p>
<p>microsoft 社員全員が使命感を持って, 
人類の進歩のために働いていると思える日々を夢みている. 
今は皆が言う. 
社内政治や官僚主義, 中央集権の権力や冴えないマーケティング(Office の恐竜とか)に
うんざりしている, それに, もう '80 のような使命感は失われてしまったと. 
全てのデスクトップに PC を! 
OS/2 を捨て, Windows で行くと決めたとき響きわたったあの怒号は
どこに行ってしまったんだろう. (注意: このへんだいぶ意訳)</p>
<p>この九月には, <a href="http://secondlife.com/">Second Life</a> 世代が高校に進学する. 
彼らはネットワーク接続が所与のものである世界に生まれた. 
PC はあたりまえで, 今や競争のあり方も変わってしまった. 
SNS が台頭する一方, OS の選択はもはや重要でない. 
そんな世代が社会人になるとき, 彼らはどんな仕事を求めるだろう. 
彼らの期待に応えるには？</p>
<p>このような問題提起がなされたあと Scobe は 5 つの提言をする. 
そのうち, なんといっても最初の提言がいかす. (他は割とどうでもいい.)</p>
<pre>First, we need a big dream. A moonshot.</pre>
<p>Moontshot! </p>
<p>ビジョンが必要なんてのはよく聞く. そこに moonshot とは...
語感が圧倒的にかっこいい. 
辞書によると moonshot というのは月面を目指す宇宙船やその打ち上げのことらしい. 
Agile 学派はソフトウェア開発をもはやロケットサイエンスでないという. 
それに対して 
Scobe は microsoft がロケットサイエンティストたるべきだと主張しているわけ. 
これにおもわずキュンとなった. 工学人のツボをよくわかってる. 
アメリカには冷戦時代の経緯もある. 
語義どおりのロケットサイエンスに対する思い入れは格別だろう. </p>
<p>良いエンジニアを捕まえるには彼らの好む難題を用意すればいい. 
この立場こそハイテクの象徴だと思う. 
参考までに以前 Google が CACM に出した広告のコピー: 
"We've got problems with your name on them." 
これも挑発的で格好いいけれど, 私の好みは moonshot だな. 
(どちらからもお呼びでないのでどうでもいいです.) </p>
<p>さて, 話はつづく. その "moonshot" はなんだろう. </p>
<pre>A guaranteed Terabyte of Internet-based storage space for
EVERYTHING and for EVERYONE running Windows in the world.</pre>
<p>ああ...興奮はしぼみ始める. 
これって <a href="http://labs.google.com/papers/gfs.html">GFS</a> だよ, まるで. 
moonshot を巡る競争は始まる前から決着してしまうのだろうか. 
もちろんディティールに違いはある. その違いを取り除くとこうなる:</p>
<pre>A Terabyte of Internet-based storage space for
EVERYTHING and for EVERYONE in the world.</pre>
<p>こっちの方がスマートに見える. 
取り除いたのは "guaranteed" と "running Windows". 
trustworthy な Windows という microsoft の強みがまるごと邪魔なのか. 
やや悲しい. </p>
<h3>ロケットサイエンスとグランドチャレンジ</h3>
<p>それに, インターネット・ストレージはときめきが足りない. 
けれどその向こうに何か未知の世界が待っている感じがない. 
microsoft の敵であるウェブにロケットサイエンスはないかもしれない. 
けれどそこにはグランドチャレンジがある. 
向こうで何かが待っている, そんな空気がある. 
インターネット・ストレージを作るのはとても難しくて, 
優秀なエンジニアを大量に必要とするのはわかる. 
けれど, この挑戦は向こうに何かがあると思わせる引力を欠いている. 
ただ難しいだけ. 
結局, それはロケットサイエンスであっても
グランドチャレンジではないのかもしれない. </p>
<p>ロケットを作りたい. けれど向かうべき星が見えない. 
ソフトウェアの巨人が抱える悩みには20世紀アメリカ的な感傷が溢れている. 
そんな彼らに, 私はふたたびキュンとなってしまうのです. </p>
<p>Second Life 世代にはうけないかもしれないけれどね.</p>
