---
title: "積んでおく人 (2)"
date: 2006-09-16
---
<h3>積んでおく人 (2)</h3>
<p>前回のつづき.</p>
<p>自分が積読しなくなった理由を考えた. 
積読の損益分岐を判定するモデルをたてたりもしたがうまくいかず, 
仕方なくアドホックに記憶をたどる. </p>
<p>ひとつに進歩したウェブの恩恵がある. 手元に読む本がない恐怖がなくなった. 
"すぐに読みたい本" は amazon でいつでも買えるようになった. 
"いつか読みたい本" をメモするのにブックマークが使えるようになった. 
だから, 読むかもしれない... という動機で本を買わなくなった. </p>
<p>手持ちの本にいま読みたいものがなくても, ウェブの読み物で代用がきくようになった. 
以前は今ほど手頃な読み物はなかったとおもう. 
すぐにみつかるのは usenet の FAQ か HOWTO の類くらいで, どちらも読み物の面白さは薄い. 
逆に読み物として面白いものは完全に娯楽で, 技術書の代用として読むには心苦しかった. 
技術者向け記事サイトみたいのもあったけれど, 
一次情報でないのがあまり好きでなかった. (今は少しずつ読むようになった.) 
他人のアンテナを物色する手もあったけれど, 
ウェブ日記は飛び入りで読んでもいまいちよくわからないことが多かった. </p>
<p>今は フィード, ブックマーク, wikipedia など読み物探しで困ることはない. 
他人のアンテナや feed, planet をあたるのも悪くない. 
blog はウェブ日記より他人の目を気にしているものが多いから, 
いきなり読んでもそれなりに楽しめる. それに以前とは絶対量が違う. </p>
<p>要するに積読するのは不安に煽られた末の割に合わない投機だった. 
テクノロジがその不安を取り除いてくれたんだね. めでたい. </p>
<p>もう一つは買ったあとの態度の変化. 
まったくまたは一部しか読んでいない本を 
"あとで読む" とか "そのうち読む" ものと考えなくなった. 
かわりに, "挫けた", "飽きた", "物欲だった", "ハズレだった" 
というように 済んだもの として捉えるようになった. 
だから 読まねば という圧力を感じない. </p>
<p>年をとったのかもしれない. 現実的になったとも言える. 
学生の頃は挫けたり飽きたりする自分を許容できなかった気がするもんな. </p>
<p>そんなこんなで積読は減った. 少くともそれを負担に感じることはなくなった. 
けれど, 読書の効率はあがっていない. 今後はそこを改善したいと思っている. 
効率というのは速度じゃなくて読んで得た見返りの量の話ね. 
これは結構難しい. そもそも見返りとして何が得たいのかがはっきりしていない. 
このへんは自分の生き方の曖昧さと関係している. すぐには解決しそうにない. </p>
<p>ただ局所的な改善はできそうな気はしている. 
最近のボトルネックはごつい洋書に挑んで挫けるパターン. 
挫けるまでに時間がかかっていけない. 段々読む量が減っていて, 最後にギブアップ. 
ここの見切りをさっさとつけられうようになるか, 
願わくばちゃんと読み切れるようになりたい. 
あるいは読み切れそうな本を選びたい. 
そのためにはもう少し試行錯誤を続け, 読書能力や洋書を見る目を養う必要がありそう. 
挫け本の山を積読と呼ぶのなら, 私はしばらく積読者でいるのかもしれない. </p>
