---
title: "洋書行"
date: 2006-02-26
---
<h3>近況</h3>
<p>サプライズつづき. </p>
<h4>サプライズ 3 : UML を書く設計者</h4>
<p>私は今のプロジェクトに途中から, 
具体的には顧客へのヒアリングがだいたい終わったあたりでプログラマとして参加した. 
上司はこれまでに作成された機能仕様書(2/3 くらい確定したもの)と
他のチームのメンバが書いた UML を渡し, "これで作ってね" と宣うた. 
これが噂の "上流工程" か! 設計と実装を別の人間が担当するケースは
噂に伝え聞いてはいたが, コード量が 1 万行に満たない規模のソフトウェアで
それに出会えるとは運がいい. 
その UML は単一クラス図だけを含んでいた. 
静的な設計からそのソフトウェアの動的な側面は自動的に導かれるという立場だろう. 
クラス図にはおよそ 20 個ある全てのクラスが集約されており, 一覧性を高めている.
クラスにはすべてのメソッドと属性が明記されていて曖昧さはない. 
ノートのような自然言語を用いないところにも
曖昧さを排除しようという強い意思が感じられる. 
継承の矢印は上から下へ向かっており, まず具象クラスという具体例を示し
そこから共通点を抜き出し汎化するという
モデリング・プロセスを読者にわかりやすく示している. 
関連の線は幾重にも重なっており, 
ソフトウェアの持つ本質的な複雑さを不用意に隠蔽しない. 
設計者の深慮が伺える. </p>
<p>残念なことにその設計は十分に曖昧であるにも関わらず
いくつかの明らかな欠陥を含んでいたため, 
仕方なく破棄してざっと作りなおした. </p>
<h4>サプライズ 4 : 障害データベースの不在</h4>
<p>入社当時, 私のいるチームには一応の主力製品があるにも関わらず
障害データベースがなかった. あるはずのものがない... 
障害データベースを眺めて主力製品が抱えている難しさを学ぼうと思っていた私に
これは不意打ちだった. バグの一覧は Wiki ページに箇条書きされていた. 
なかなか agile だ. ただどれも記述が一行で再現方法や問題がよくわからない. </p>
<p>隣のチームが持っていた障害管理システムを間借りすることを提案したが, 
その後どうなったかは知らない. 
その製品と無関係な仕事に割り振られた私はとりあえず TRAC を使っている. </p>
<h4>サイズライズ 5 : 正しさの確信</h4>
<p>屈辱の休日出勤でサプライズ 1 の問題を修正し, 件のエンジニアに報告したところ
そのコードが動かなかった事実をなかなか信じてもらえなかった. 
問題の箇所を説明し, フレームワークの拡張のうち必要な部分が
すっぽり(1000 行くらい)抜けおちていたことを説明して
コードを具体的に示したところ, ようやく納得してもらえたようだった. 
その自信の強さに心打たれる. 
たとえば, 彼はバージョン管理システムを使わない. 
失敗をしないという前提に立てば cvs や svn はまったく意味をもたないのだろう.</p>
<p>私には自信が足りないのかもしれない. 
動かすまでもなく自分の書いたコードは正しい; 
そう思えるようになりたいかといわれるとわからないけれど.</p>
<p>かくして日々の驚きは尽きない.</p>
<h3>洋書行</h3>
<ul>
<li>02/13 "Database Management Systems" : 523-537/906 (1.0h)</li>
<li>02/13 "Ajax IN ACTION" : -14-076/650 (1.0h)</li>
<li>02/14 "Database Management Systems" : 548-546/906 -2 (1.0h)</li>
<li>02/14 "Ajax IN ACTION" : 077-143/650 (1.0h)</li>
<li>02/16 "Database Management Systems" : 547-560/906 (1.0h)</li>
<li>02/16 "Database Management Systems" : 561-571/906 -2 (0.5h)</li>
<li>02/18 "Database Management Systems" : 572-593/906 -4 (1.0h)</li>
<li>02/20 "Database Management Systems" : 417-425/906 (1.0h) この章挫折</li>
<li>02/20 "Ajax IN ACTION" : 144-168/650 (0.5h)</li>
<li>02/21 "Database Management Systems" : 426-436/906 (1.0h)</li>
<li>02/21 "Ajax IN ACTION" : 169-207/650 (0.5h)</li>
<li>02/22 "Database Management Systems" : 437-440/906 (0.5h)</li>
<li>02/22 "Ajax IN ACTION" : 208-262/650 (1.0h)</li>
<li>02/23 "Ajax IN ACTION" : 263-345/650 (1.0h)</li>
<li>02/23 "Database Management Systems" : 597-616/906 (1.0h)</li>
</ul>
<p>加速する残業に目標ラインすれすれの低空飛行が続く. まったく...</p>
<p>Databse ... は正規化の話で挫折. 以前にも他の本で挫折した記憶あり. 苦手だ...
そのうちもっと易しいやつを探して読もう. 
Ajax ... はたいして面白くないものの適当に読める本というコンセプトには合致. 
かなり読みとばしている. もっと薄くていい.</p>
