---
title: "このごろ出費がかなりだらしない"
date: 2006-09-03
---
<h3>近況</h3>
<p>このごろ出費がかなりだらしない. 身を引き締めようと家計簿をつけはじめた. </p>
<p>まず目標額を算出したりなんだりをする必要がある. それから日々の記録. 
よしやるぜと比喩的に立ち上がり, ふと困ったことに気がついた. 表計算ソフトがない. 
数カ月前 Mac に乗り換えてしまったのだが(←だらしない出費の例), 
Mac 版 OOo はあまり出来がよくない. 
困ったと思いながらふと gmail の画面を見ると, 
<a href="http://spreadsheet.google.com/">spreadsheets</a> へのリンクがある. 
試してみよう. 試してみた. </p>
<h4>Google Spreadsheets</h4>
<p>ウェブアプリなりにけっこう良くできている. 
当然細かい使い勝手は本家 Excel には及ばない. 
Excel Guru の経理な人などはとても使う気にはなれないだろうし, 
敏腕アーキテクトが AAGBD(axis aligned grid based diagrams) を
描くのにも使えそうにない. 
ただ私は経理でもアーキテクトでもない Excel 素人. 
こんなもんでも我慢して使っていいという気になった. 
いちおうコピー/ペーストはできるし, F2 もできる. 
右クリックでコンテクストメニューもでる. 数式も簡単なのは使える. 
情報産業の最先端は利用者の ＩＴリテラシー の低さに依存していたのかと思う瞬間. </p>
<p>不満はある. 時々とても重い. "updating" と表示されたまま, ずっと帰って来ないことがある. 
あまり投資されてないだけか, google のスケーラビリチーにも限界があるのか. 悲しい. 
ただ他のウェブ表計算よりはよく出来ている気がする. 
一応 <a href="http://numsum.com/">NumSum</a> と <a href="http://www.jot.com/">JotSpot</a> も
試してみたけれど, 個人的には Google の方が気に入った. 
一つのファイルで複数のシートを持てるのは Google だけなようだし, JotSpot は有料だ. 
NumSum はぱっと見だと Excel しているのだが, マネ度が高過ぎる. 
Google の UI は基本 Excel だけれど, 割と(良い方に)オリジナリティがある. 
たとえば本家 Excel にはないであろう自動保存機能がある. これは案外便利だった. 
(JotSpot はもっと徹底して編集履歴を残している. Wiki のメタファに従っているためらしい.) 
まあ何より gmail の画面から遷移できるのがいいよね. そりゃ kiko も売られるよ...</p>
<p>細かい出来の悪さは素人には関係ない...と言ったけれど, 
単調な作業を続けているとやはり不満は少しづつ積もってくる. 
個々の不満の内訳は, ちょっとだけレスポンスが悪いとか, 
細かいキー操作がデスクトップと違うとか, 小さなものでしかない. 
でも繰り返していると気になってくる. 
こういう違いは数値をプチプチといじって試行錯誤をしているうちはあまり気にならない. 
単調な繰り返し作業, 家計簿だと毎日のレシートを反映するときがつらい. うっとおしい. </p>
<p>もっとも単調な作業はいずれにせようっとおしいものだから, 本来ならもっと自動化したい. 
Excel があるなら <a href="http://jp.rubyist.net/magazine/?0003-Win32OLE">win32ole</a> 
を使って, 日々の記録を howm ファイルから値をコピーすればいい.  
(howm への入力はそんなに面倒じゃない. なぜなら emacs だから...) 
Google Spreadsheets も API で口を用意してくれたら楽なのにと思う. 
そしたら howm ファイルを以下略できる. モダンな若者なら Plaなんとか を使ってもいい. </p>
<h4>いまどき対話的であるなら</h4>
<p>Web アプリは UI の細かいチューニングが苦手だけれど, 
Spreadsheets/Excel に限ればそうした well tuned な GUI の恩恵に与っていたのは
下っ端のデータ入力要員な気がする. 
そのへんは計算機に任せることにしてほしい. 一応21世紀だし. 
私は今の UI がもう少し快適になるくらいでいい. 
表計算に GUI がある意義は構造化されたデータを対話的に分析することで, 
高速に紙の記録をコピーすることではない. と言いたい. </p>
<p>だから UI の強化よりは, 
分析の材料である天気や株価やその他のような外部のデータを
積極的自動的にインポートできて欲しい. 
Google News ばりに顰蹙を買うだろうけれど, 
それが Google way ではなかったか. (違うかも知れない.) 
まあ Google 自身がやらなくても, 
口さえあればリクス選好なサードパーティがデータを Google Spreadsheets "へ" 
エクスポートすることはできる. 投資の成績, 体重の遷移, メールの中の ｗ の数...
などと, データを愛する会社の作る表計算ウェアに夢は膨らむ一方. </p>
<p>でもまずは家計簿. 推測するな, 計測せよ! (貯金を!)</p>
