---
title: "余暇で書いたアプリケーションがいまいちだった話"
date: 2006-08-21
---
<h3>余暇で書いたアプリケーションがいまいちだった話</h3>
<p>余暇ではあまり真面目なコードを書かない私にとって, flino はけっこう大きい. 
空行こみで 2.5 万行. でもがんばった割にいまいち便利じゃない. 悲しい. </p>
<p>プロキシのキャッシュが検索できるメリットは, 
Google で検索できないものが検索できる点にある...と思っていた. 
具体的には社内 web. あと SNS のように closed なサイト. 
ところが, 私はどちらにもあまり縁がなかった. 
社内 web には私にとって有用な情報が少いし, SNS 活用度は低い. 
結局 Google で事足りる. Google はブラウザの検索機能とくっついているせいも大きい. 
flino の UI を開いて検索する前に手が Google している. 
(firefox 2.0 は OpenSearch に対応するから, 
こういうニッチ検索の立場も少しは改善するかも.)</p>
<p>そこで次は del.icio.us との連携をつけて, 
del.icio.us とそのブックマーク先も flino 内にとりこむようにしてみた. 
これも思ったより有難味は薄かった. 
del.icio.us でブックマークしてある情報は Web reachable (=Googlable) だし, 
del.icio.us 本体にも検索はある. 
横から持っていったデータを使うより, 本家の UI を使う方が色々便利だ. 
これとセットで flino にブックマーク機能自体もつけてみたのだが, 
flino でブックマークしたい情報はないんだよなと再確認しただけだった. 
要するに社内 Web にも mixi にもブックーマークしたいページは無かった. </p>
<p>あとブックマークを作ってみてひとつわかったことがある. 
それは私にとって del.icio.us のキラー機能はタグの自動補完だということ. 
flino でも del.icio.us を真似て bookmarklet をつけてみたが, 
もはや補完のない bookmark 登録はもかったるくてやってられない. Crowd ばんざい. </p>
<p>他にはなにか検索するものはないかなーと考えて, 今度は外部 HTML のインポートも作ってみた. 
ダウンロードしてきた javadoc をインポートして検索したいというのが動機. 
これはそこそこ便利だったけれど, 
それでもなお Google や javadoc 専用の検索エンジンの方が便利だった. 
そもそも proxy という基本コンセプトから外れているし, 
ローカルのファイルを検索するなら namazu でいいじゃんという面もある. </p>
<p>次に考えたのが POP のプロキシ. 
全文検索機能を備えたメーラはけっこうあるけれど, 
一方でメーラはレガシー指数が高くなかなか乗り換えない人も多い. 
メーラを乗り換えなくても検索を使える POP プロキシは良いアイデアに思えた. 
レガシーを抱えたあなたに! というわけ. 
ただ, 私自身はその "あなた" ではなかったのが盲点. 
家では gmail を使いすでに検索可能, 会社は Outlook だから POP を使えない. がっかり. 
二人称はいかん. あとメールを閲覧する UI を作るのがとても面倒で, けっこう挫けた. </p>
<h4>諦め時はいつだった ?</h4>
<p>こんなかんじでそれなりに試行錯誤をして作った flino だけれど, 
結局自分でもあまり活用できていない: proxy にはしているけれど検索することはあまりない. 
たぶん proxy で検索をするアイデアは筋がよくないのだろう. 
少なくとも私のアイデアの範囲では. </p>
<p>アイデアに当たり外れがあるのは当たり前だから, できたものがハズレなのはいい. 
ただアイデアがいまいちだと判断してコードを捨てるタイミングがわからない. 
たとえば, キャッシュの検索機能自体は作り始めてから一ヶ月弱で動いている. 
この時点でいまいちと判断して諦めた方がよかった気がする. </p>
<p>普段から余暇のコードを書いている常習余暇プログラマなら, 
この時点でさっさとコードを捨てることができるのかもしれない. 
私はふだん余暇コードを書かない分, 書いたコードに執着してしまった節がある. </p>
<p>一方で, 試行錯誤にも得るものはあった. 特に UI. 
世間の Web の UI を色々真似したので, それがとても良くできていることがわかった. 
たとえば検索では Google や Yahoo を, 
ブックマークでは del.icio.us やはてなブックマークを真似た. あとメール一覧は gmail. 
このへんのページは地味だけれどほんとによくできてるね. 
まず自分で適当に作ったものを使ってみて, なぜか明らかに使いにくいので真似元を見る. 
そうすると違いが目につく. 
あーここは右寄せがいいのか, 
抜粋する文字列の長さはこのくらいなのか, 
リンクの下線はみっともないけど必要だな, 
フォントは小さくても bold  にすると目につくもんだな, とか. 色々. </p>
<p>そんなかんじで, 今回の試行錯誤については結果オーライという気もする. 
ただ, やはりハズレのアイデアに費す労力は減らしたい. 徒労感が強い. 
この先しばらく, 私は余暇コードの量を増やしたいと思っている. 色々作りたいものがある. 
自分の限られた時間と気力のなかで意味のあるものを作るためには
もう少し計画に気を使う方がいい気がする. 
意欲や能力を持て余すスーパープログラマと同じ方針だと厳しい. </p>
<p>そんなわけで庶民の余暇プログラミングのありかたについて考えさせられた失敗作でした. </p>
