---
title: "Wikipedia を書いているのは誰 ?"
date: 2006-09-04
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?WhoWritesWikipedia">Wikipedia を書いているのは誰 ?</a></h3>
<p>Aaron Swartz による 
"<a href="http://www.aaronsw.com/weblog/whowriteswikipedia">Who Writes Wikipedia?</a>"
という記事が面白かったので久しぶりに日本語訳をやってみた. 
かなり勢い余って訳したため, 品質に難があるかもしれない. 
他の人にも直せるよう他所の Wiki に置かせてもらうことにした. 
なんとなく他所者にも寛容そうな 
<a href="http://www.hyuki.com/yukiwiki/wiki.cgi?WhoWritesWikipedia">YukiWikiに投稿</a>. 
興味のある方はどうぞ. Aaron さんへの連絡はこれから. 
日本語のキャラクタは <a href="http://www.emptypage.jp/translations/aaron/productivity.html">先人</a> にならったつもりだけれど, 似てなかったらすみません. </p>
<p>話の内容は, "実は Wikipedia は群集知じゃないんだぜ" と 
Wikipedia の親玉が言っているけれど, いやいや本当はやっぱり群集知なんだぜ. 
調べてみたよ, というもの. 
後半はやや政治色が強く意見の分かれる人もいると思うけれど, 本題の調査のところが面白い. </p>
<p>私のなかの Aaron Swartz は <a href="http://www.aaronsw.com/2002/rss30">RSS3.0</a> 
とか言っちゃう困った人という印象だったけれど, 
だいぶ見直した. 才能と若さ溢れる情熱的な若者だった. 
それに RSS はそろそろ時効ですね. 過去のことを持ち出すのはよくありません. </p>
<p>でも本当は, Wikipedia って <a href="http://ja.wikipedia.org/wiki/Wikipedia:Database_download">クローラ使っちゃダメ</a> ってことになってるんだよ...</p>
