---
title: "未来の造花"
date: 2006-09-09
---
<h3>未来の造花</h3>
<p><a href="http://www.mturk.com/">Amazon mechanical turk (mturk)</a> というサービスがある. 
少し前の ACMQ で知った. (<a href="http://www.acmqueue.com/modules.php?name=Content&amp;pa=showpage&amp;pid=386">該当記事</a>.)  
このサービスはある種の労働市場だ. 
働いて欲しい人が仕事をポストする. 働きたい人がその仕事をこなす. 
ただ, 仕事の単位はとても小さい. 所要時間数十秒から長くても数十分. 
仕事の依頼を API でポストできるのがウリらしい. 
依頼人が API で mturk に仕事をポストすると, mturk のウェブにその仕事が表示される. 
mturk のサイトを見ているユーザがそれをこなす. 結果はポストした側に返される. 
(あとから非同期で知らされる.) 金銭の授受は amazon の課金システムに乗るから, 
売り手も借り手もそのへんの手間はない. </p>
<p>Amazon はこれを "人口人口知能" と銘打っている. 
基本的には人力検索の類を思いきり汎用にしたもの. 
ACMQ の記事を読む限り, けっこう気合の入ったプロジェクトに見える. 
API が用意されているだけでなく, 質問/回答の形式も柔軟かつ構造化されたものを許している. 
仕事依頼は HTML の断片とメタデータから成る. 
回答方法はチェックボックスのような選択式から, 自由な文章まで. 
(期待される回答の様式もメタデータで書いておく.)</p>
<p>品質を高めるために, 仕事には作業者の qualification; ある種の資格を設定できる. 
たとえば話せる言語, 年齢なんかがそう. 
またエラー訂正のために同じ仕事を複数人に割り振る. 
作業者の成績もきっちり管理されている. 
労働をオンラインで流通させる工夫が色々あって Amazon らしい. </p>
<p>サービスが始まったのは去年の末だという. ぐぐるとその頃にウェブで気にしている人も結構いた. 
(<a href="http://www.ce-lab.net/ringo/archives/2005/11/06/">Ringo's Weblog</a>, <a href="http://mojix.org/2005/11/05/112320">Zope ジャンキー日記</a>, <a href="http://amanoudume.s41.xrea.com/2005/11/web20.html">発熱地帯</a>, <a href="http://www.h-yamaguchi.net/2006/07/massively_paral_3263.html">H-Yamaguchi.net</a> ...) 
<a href="http://www.techcrunch.com/2005/11/04/amazon-finally-shows-itself-as-the-matrix/">TechCrunch</a> の記事もあった. これが発端かな. </p>
<p>割と楽観的な人が多い. 新たな労働市場の創出だ. 万歳! というわけ. 
私はどちらかというと, 
市場の効率化と大局化が進んで労働者は絞りとられやすくなるなあ嫌だなあと思ってしまう. 
労働が生まれるのは確かだろうけれど, それが人類にとって幸せなのかはわからない. 
造花や宛名書きみたいな低所得労働が増えるだけにも見える. 
先進国による途上国の搾取に使われるかもしれない. 
100ドルPCを配ったら子供達は Amazon にこき使われるようになってしまった...
なんてのもありうる. 
salon.com の記事 "<a href="http://www.salon.com/tech/feature/2006/07/24/turks/">I make $1.45 a week and I love it</a>" ではそうした話題も議論されている. 実際に mturk で仕事をしている人の談話もあって面白い. </p>
<h3>仕事の中身</h3>
<p>ただ今のところ楽観も悲観も大袈裟すぎるようだ. 
<a href="http://www.mturk.com/mturk/findhits">mturk.com</a> を見れば, 
このサービスがほとんど流行っていないとわかる. 
ゲスト状態では 50 件くらいしか仕事がない. 
qualification のフィルタがあるからこの一覧が全てではないにしろ, 
造花のノリでできる未経験者歓迎の仕事がこれだけなのも事実. 
まだ市場と呼ぶのは苦しい. 
私がログインすると件数は更に減る. 
US に住んでないとダメなものがあるのかも. 
小遣い稼ぎの密かな野望は潰えた. </p>
<p>まあいいや. 具体的にどんな仕事があるのか眺めてみよう. </p>
<h4>レストランを照合せよ</h4>
<p>あるレストランに関する情報 (名前, 住所, 電話番号, ドレスコードなど) の記述を確認し, 
事実の内容や文法間違いを探す. 住所は Google Map などで確認すればいいらしい. 
あとは電話して確認するのも OK とある. 
ドレスコードなんて日本からは確認のしようがない. 
たぶん近所の人向けの仕事なんだろうね. </p>
<p>発注元はレストランガイドを作っている会社らしい. 
レストラン一軒につき 0.03 ドル. </p>
<h4>登記番号を探せ</h4>
<p>地方自治体(US)のウェブサイトに不動産の情報を検索するサービスを持つものがある. 
それを使ってある不動産を検索し, その登記番号をみつけるのが仕事. 
ヒントとして住所や所有者の名前とおぼしきものが示される. 
こんなのスクリプトでやれよと思いたいのだが, 
サイトの用意した検索機能がへぼいせいで人手が必要になっている. </p>
<p>発注元はよくわからない. 0.03 ドル. </p>
<h4>Podcast を書き下せ</h4>
<p>Podcast のトークを聞き取って文章に落とせというもの. 
ちょっといいね. </p>
<p>発注元は <a href="http://castingwords.com/">castingwords</a> という
Podcast 検索エンジンの会社. なるほど. 7 分のトークで 1.36 ドル. 
値段は時間に応じるようす. </p>
<h4>書き下された Podcast の文章を格付けせよ</h4>
<p>上との関連. 聞き取りって書かれたテキストが与えられて, それを 10 点満点で評価する. 
資料として満点のサンプル, <a href="http://castingwords.jot.com/WikiHome/Turkers%20Transcription%20Style%20Guide">スタイルガイド</a> と <a href="http://castingwords.jot.com/WikiHome/CastingWords%20Grading%20Guidelines">採点ガイド</a> が用意されている. </p>
<p>発注は同じく castingwords. 五千語のテキストで 0.05 ドル. 
日本人には無理です.... </p>
<h4>ニュースを要約せよ</h4>
<p>与えられたニュース記事を 2,3 文に要約する. 
ニュース記事のジャンルは発注者に指定されている. (ここでは "写真関係" のニュース.) 
請け負った側は自分でみつけたニュースを要約してもいいし, 
発注者が公開している RSS リーダから "あとでよむ" ... じゃなくて "relevant" と
タグのついた記事を選んで要約してもいい. 
けっこう注文の細かい仕事だ. 引用はちゃんと引用だとわかるようにしろとか, 
一週間以内のニュースじゃないとダメとか, 画像つきが望ましいとか... </p>
<p>要約一本につき 0.5 ドル. 発注者は 
<a href="http://www.studiolighting.net/">StudioLighting.net</a> 
という写真屋ポータルの代理人らしい. 
件のニュースは <a href="http://www.studiolighting.net/studio-lighting-news/">これ</a>. </p>
<p>要約の仕事は他にも結構あった.</p>
<h4>モバイルのページをテストせよ</h4>
<p>ページにアクセスして表示されたメッセージを書いてね, という仕事. 
依頼には URL が書いてある. 楽だなー. 
ただし PC はダメで, ケータイや PDA を使えとある. 
機種の検出機能をテストしたいらしい. au の電話機はいいんだろうか...</p>
<p>0.03 ドル. 個人発注. </p>
<h4>大学の窓口を列挙せよ</h4>
<p>まず与えられた大学名のリストから大学をひとつ選ぶ. 
すると調べるべき窓口の一覧が表われるので, 
その大学のウェブページから必要な情報を探してデータをコピペし一覧を埋める. 
窓口の種類はたとえば, 進学相談, IT部門, 学長, とかそういうの. </p>
<p>大学ひとつで 0.1 ドル. 
発注者は個人だけど, 会社で頼まれた仕事じゃないだろうね? これ...</p>
<h4>これと同じ椅子が欲しい</h4>
<p>椅子の写真を示され, この椅子の商品名と URL を調べてくれというもの. </p>
<p>0.10 ドル. 発注者は個人. </p>
<h4>家を買ったことのある人に質問です</h4>
<p>ここ数年以内に家を買った(または売った)ことのある人に対して質問をしている. 
人力検索みたいな内容. 
に住んでいる場所に加えて, そのとき仲介をした不動産屋の善し悪しや, 
不動産屋がどういうサービスをしてくれたら嬉しかったか教えてほしいと尋ねる. 
おまけで不動産屋自身へのメッセージもあった. メールくれたら結果のコピーを送るよとある. 
ウハハ. </p>
<p>0.25 ドル. 発注者は個人. 不動産屋か投資家?</p>
<h4>あるボランティアの体験談求む</h4>
<p><a href="http://www.projectbackpack.org/">Project Backpack</a> というボランティアがある. 
カトリーナ台風で被災した子供にリュックを送ろうというものらしい. 
このプロジェクトに関係した人に対して, その体験談を募っている. e-book にするという. </p>
<p>発注者は個人で, ぐぐったところによるとプロジェクトの関係者らしい. 0.1 ドル. 
メールアドレスを一緒に送るとできあがった e-book が貰える, らしい. </p>
<h4>好きな地元バンドベスト 10 を教えて</h4>
<p>アンケートだね. 地元といっても地名が指定されている. (Autstin.) 
ローカルだなあ...</p>
<p>アンケートは他にも時々混じっているようす. 
Amazon による発注もこういうアンケートっぽいのが多い. "夏を過ごすならどこがいい?" とか. </p>
<p>値段調べわすれ. </p>
<h4>ママ, 片足で立ってみてよ</h4>
<p>誰かの母親に片足で立ってもらって, その衝撃写真をよこせという. 
母親の名前と年齢, 写真をとった場所も必要とのこと. 
ウヘ. なんだそりゃ...</p>
<p>一枚あたり 2 ドル. 母親をおだてるのは高くつくね. 
同じ人による変な写真シリーズはもう一つあった. 写真のアップロードはどうやるんだろう?</p>
<p>発注者は個人. (ぐぐってもヒットせず.)</p>
<h3>知能を売買する難しさ: 報酬と文脈</h3>
<p>疲れた. お仕事探しはここまで... 
ACMQ の記事にあった 
"日本語の縦書き/横書き判定" とか "会社紹介で見栄えのする写真の選択" みたいな
おいしい仕事はあまりなかったなあ. 残念. 小遣い...</p>
<p>件の記事では, 他に次のような仕事がありうるとしている:</p>
<ul>
<li>podcast の聞き取り (ありました)</li>
<li>翻訳/通訳</li>
<li>製品カタログの改善</li>
<li>データ収集 (大学の住所のやつはこれだね)</li>
<li>画像のタグづけ (<a href="http://images.google.com/imagelabeler/">google image labeler</a>) みたいなもの)</li>
<li>ウェブサイトの評価 (テストはあったね)</li>
<li>マーケティングの調査 (これもあったか)</li>
<li>音声の識別</li>
<li>顔画像の識別</li>
</ul>
<p>この要約だけ見てもピンとこないけど, 実際の仕事を眺めたら雰囲気はわかった. 
求められている知能の度合いや種類にはバラつきがある. 
聞き取りのように退屈な "作業" とアンケートなどに "知恵を貸す" のはだいぶ違う. </p>
<h4>有機的な仕事の困難: 報酬の問題</h4>
<p>人間らしい有機的な問題は既存の QnA サービスと競合しやすい. 
QnA といっても質問の仕方によってはある種のタスクを行うことはできる. 
質問形式で仕事を記述できればいい. 
(ex: XX 大学の代表者の電話番号を "教えて" ください.) 
別の見方をすれば, レスポンスに自然言語を多く含むもの, 
回答のチェックを人間がやらなければいけないものは QnA っぽくなる. </p>
<p>報酬を現金で払わない QnA サービスは多い. 
それでも一部の QnA サービスはけっこう賑っている. 
これはまさにコミュニティの力だと言える. 
回答を公開し, 知識を蓄積することや注目を集めることのよろこびで
利用者を reward している. </p>
<p>現金化するのはむずかしいけれど, 共有や注目は結構な資産だ. 
誰もが人気のある blog を書き, 賑うコミュニティを作れるわけではない. 
うまくやるには技術や時間がいる. 
共有や注目は, そうした資源を投じることでようやく得られる非現金財だと言える. </p>
<p>回答は非公開, 報酬は現金という mturk のモデルで既存の QnA 群と張り合うのは大変だと思う. 
現金と非現金は交換しにくいからだ. 財の使い道にも向き不向きがある. 
ある非現金のためになされる仕事と同じものを現金で買い取ろうとすると, 
そのオーバーヘッドはとても大きくなるだろう. </p>
<h4>機械的な仕事の困難: 文脈の問題</h4>
<p>ACMQ の記事を読んでも, mturk はより機械的な作業に使われることを
期待しているかんじがする. でもそれはそれで難しい. </p>
<p>まずシステムの不備による難しさがある. 
mturk は今のところ "働く側" の API を用意していない. 
だから労働者は mturk の UI を使って作業をする必要がある. 
この UI の出来はさほど良くない. 扱う仕事の種類は色々あるのに, 
限られた HTML の form でしか仕事をこなすことができない. 
労働者が生産性をあげるためにできる工夫は限られている. </p>
<p>API が用意され, 問題領域固有の労働者向けアプリケーションを
サードパーティが作れるようになると色々やりがいができる. 
たとえば翻訳の仕事をやるのに Web 版 TRADOS みたいなものがあったら, 
翻訳の速度や質は良くなるだろう. 
聞き取りにはオーディオプレイヤと連携したアプリがあると嬉しい. 
単純作業ほどツールでの支援はやりやすくなる. 
(なお, 労働者側 API の提供は検討されているという話. はやくー.) </p>
<p>より本質的な問題は, 仕事から文脈を切り離すのが難しいことだと思う. 
mturk では理想的な仕事を
"self-contained and required little, if any, global context" 
としている. これはとても難しい. 
仕事が 文脈を require しないのはあたりまえ, 
現実問題としては仕事が文脈を provide してもいけない. 
要するに顧客情報などの企業秘密を含む問題は出題できない. したくない. 
たとえば, 私が Wiki 文法で書いた機密情報入り仕様書をスペルチェックしつつ MS Word 化する, 
10 ドル... という仕事は mturk に頼めない. 
世の中の大半の仕事は文脈をひきずっている. </p>
<p>一方で, 文脈を切り離す作業をアウトソースの要件と見ることもできる. 
中国やインドの会社の会ったこともないプログラマに移譲できる仕事のコードは, 
きっとさしたる機密を含まないだろう. 
そうした部分を増やせばアウトソースの機会も増え, 開発のコストは下がりそうだ. 
コストに厳しい企業なら作業を文脈から切り離すための努力はするはず. 
mturk はそんなトレンドの一部なのかもしれない. </p>
<p>もっとも, 文脈を完全に切り離して問題を記述できたなら
その問題は計算機に任せることができてしまう. (NP とかじゃなければ.) 
だから mturk は "機械が持たず人間なら誰でも持っている文脈" だけに依存した仕事を求めている. 
世の中にはそういう仕事が十分にあると期待しているんだね. 
なかなか投機的なスキマ稼業だよなあ. </p>
<h3>プログラマには苦手な仕事</h3>
<p>なにか mturk に頼める仕事はないものかとしばらく考えた. 
私にもぼちぼち面倒な仕事があるけれど, 他人に頼みにくいものばかり. 
(遅刻をちょろまかしつつ勤怠記録を入力するとかね.) 
私は単純な繰り返し作業がとても嫌いで, 生理的なレベルで避けてしまう. 
きっとプログラマに mturk ビジネスの開拓は向いていない. 
他の業種に目を向けた方がいい気がしてきた...</p>
<p>たとえばテストのマルつけなんてのはどうだろう. 
小中学校で日々おこなわれているペーパーテストの採点作業は自動化できない繰り返し仕事だ. 
しかも氏名欄を隠すだけで文脈から切り離せる. possibly mturkable でしょ. 
答案をスキャンにかける教師. 藁半紙が次々とスキャナに吸い込まれていく. 
日本中のひきこもりや主婦がPCの前で待ち構えている. 
彼ら彼女らのPCに答案が(模範回答と共に)フィードされる. 
みな見知らぬ子供達のためにマルやバツをつけつづける. 
一服して戻った教師のもとには採点結果を知らせるメールが届く. 
教師はスコアをにらながらコメントを書き加える ... お. 近未来だなこりゃ. </p>
<p>私はたまたま教員の息子だから学校に着想したけれど, 
広い世の中, 他にも似たような仕事があっていい. (いや, ない方がいいんだけれど...) 
知り合いのホワイトカラーから日々の退屈の愚痴を聞くことがあったら, 
それが mturkable か考えてみると面白いかもしれない. </p>
<p>なんて考えるほど, やっぱり mturkable な仕事はやりたくないなあと思う. 
私は小遣い稼ぎに向いてないんだね. きっと. </p>
