---
title: "今年の目標を 洋書を一日一時間読む にした"
date: 2006-01-06
---
<h3>近況</h3>
<p>今年の目標を "洋書を一日一時間読む" にした.</p>
<p>私がプログラマとして暮らしていく上で苦手意識を感じているもの, 
いわゆるコンプレクスは三つある: 英語, 数学, lisp. 
lisp は苦手だが苦手でもあまり困らないし, 
使おうと思えば使えるようになるだろう. (たぶん.) 
数学は苦手なせいで結構困っているのだが, 
その困り方が散発的な上に上達するのがとても大変そう. 
というわけでまずは継続的な不自由を感じておりかつ
努力の報われそうな英語をやることにする. </p>
<p>計算機関係の本は洋書が多いのだが, 
私の読みたいニッチな話題はなかなか翻訳されない. 
翻訳があっても出来のぱっとしないものが多い. 
そこで自分で読めるようにしようというのが今年の目標.
具体的には速度をあげ, また読み疲れないようにしたい.
今は読むのが遅い上にすぐ疲れ, 一冊を読みきることができない.</p>
<p>一日一時間は週の平均ということにしておく. 
洋書は, ウェブページはカウントしない. 雑誌もナシ.
PDF は等価な出版物がある場合は OK. 論文とかリファレンスはナシ.
効率を追求して単語をメモするだとか要約をつくるだとかも挫けそうなのでやらない.
達成を優先し, ミニマムな目標にしておく.
書籍もあまり内容の難しくない(=数式の少ない)計算機関係のものを
中心に読んでいく予定.
ただ読んだ量については記録を残し, 
ウェブを更新するタイミングで推移を公開してみよう.
今は去年読みかけたまま積んであった本を途中から読んでいる.</p>
<ul>
<li>1/6 "Gurus, Hired Guns, and Warm Bodies": 209-223/332 (1h)</li>
</ul>
<p>こんな感じて書いてく予定. 挫けそうな割に挫けたらみっともないなあ...</p>
<p>なお, どうかネタバレは禁止でおねがいします.</p>
