---
title: "読んだ本"
date: 2006-01-04
---
<h3>近況</h3>
<p>また年が明けていた.</p>
<p>人目につくところに書かないと圧力にならないから
今年の目標をウェブに書きたいと思っているのだが, それは次回にしよう.</p>
<p>去年は本を読むのが目標だと書いた. これは未達.
数値目標が必要なのかもしれない.</p>
<h3>読んだ本</h3>
<p>前回書いてからだいぶ間があいてしまった. 案の定中身を忘れている本が多い.
せめて読んだという事実は忘れないようにしたい.</p>
<p>そんな中, 去年読んだ本で一番面白かったのは
計算機以外だと <a data:asin='4822244679' href='http://www.amazon.co.jp/%E6%B4%97%E8%84%B3%E3%81%99%E3%82%8B%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%7E%E4%BC%81%E6%A5%AD%E6%96%87%E5%8C%96%E3%82%92%E6%93%8D%E4%BD%9C%E3%81%9B%E3%82%88-%E3%82%AE%E3%83%87%E3%82%AA%E3%83%B3%E3%83%BB%E3%82%AF%E3%83%B3%E3%83%80/dp/4822244679%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822244679'>洗脳するマネジメント</a>
計算機関係だと <a data:asin='489100388X' href='http://www.amazon.co.jp/%E3%83%94%E3%82%A2%E3%83%AC%E3%83%93%E3%83%A5%E3%83%BC-Karl-E-Wiegers/dp/489100388X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D489100388X'>ピアレビュー</a> を挙げておく.
前者はエンジニアとして働くとはどういうことかを考える機会になった.
後者はプログラマの, プログラミング以外の能力として何が必要かという
ケーススタディ.</p>
<h4><a data:asin='4163674306' href='http://www.amazon.co.jp/9%EF%BD%A511%E7%94%9F%E6%AD%BB%E3%82%92%E5%88%86%E3%81%91%E3%81%9F102%E5%88%86-%E5%B4%A9%E5%A3%8A%E3%81%99%E3%82%8B%E8%B6%85%E9%AB%98%E5%B1%A4%E3%83%93%E3%83%AB%E5%86%85%E9%83%A8%E3%81%8B%E3%82%89%E3%81%AE%E9%A9%9A%E3%81%8F%E3%81%B9%E3%81%8D%E8%A8%BC%E8%A8%80-%E3%82%B8%E3%83%A0%E3%83%BB%E3%83%89%E3%83%AF%E3%82%A4%E3%83%A4%E3%83%BC/dp/4163674306%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4163674306'>9.11 生死を分けた102分</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/9%EF%BD%A511%E7%94%9F%E6%AD%BB%E3%82%92%E5%88%86%E3%81%91%E3%81%9F102%E5%88%86-%E5%B4%A9%E5%A3%8A%E3%81%99%E3%82%8B%E8%B6%85%E9%AB%98%E5%B1%A4%E3%83%93%E3%83%AB%E5%86%85%E9%83%A8%E3%81%8B%E3%82%89%E3%81%AE%E9%A9%9A%E3%81%8F%E3%81%B9%E3%81%8D%E8%A8%BC%E8%A8%80-%E3%82%B8%E3%83%A0%E3%83%BB%E3%83%89%E3%83%AF%E3%82%A4%E3%83%A4%E3%83%BC/dp/4163674306%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4163674306' class='bookcover'><img data:asin='4163674306' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51F3TBE4AGL.jpg'></span></a></span></p>
<p>9.11 の WTC 内での様子をインタビューと取材を元に再構築したノンフィクション.
構成もよく, かなり読ませる.
人が落ちていくくだりなどは戦慄. 高いビルで働きたくなくなる.</p>
<h4><a data:asin='4532350972' href='http://www.amazon.co.jp/%E3%82%A6%E3%82%A9%E3%83%BC%E3%83%AB%E8%A1%97%E3%81%AE%E3%83%A9%E3%83%B3%E3%83%80%E3%83%A0%E3%83%BB%E3%82%A6%E3%82%A9%E3%83%BC%E3%82%AB%E3%83%BC%E2%80%95%E6%A0%AA%E5%BC%8F%E6%8A%95%E8%B3%87%E3%81%AE%E4%B8%8D%E6%BB%85%E3%81%AE%E7%9C%9F%E7%90%86-%E3%83%90%E3%83%BC%E3%83%88%E3%83%B3-%E3%83%9E%E3%83%AB%E3%82%AD%E3%83%BC%E3%83%AB/dp/4532350972%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4532350972'>ウォール街のランダム・ウォーカー</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A6%E3%82%A9%E3%83%BC%E3%83%AB%E8%A1%97%E3%81%AE%E3%83%A9%E3%83%B3%E3%83%80%E3%83%A0%E3%83%BB%E3%82%A6%E3%82%A9%E3%83%BC%E3%82%AB%E3%83%BC%E2%80%95%E6%A0%AA%E5%BC%8F%E6%8A%95%E8%B3%87%E3%81%AE%E4%B8%8D%E6%BB%85%E3%81%AE%E7%9C%9F%E7%90%86-%E3%83%90%E3%83%BC%E3%83%88%E3%83%B3-%E3%83%9E%E3%83%AB%E3%82%AD%E3%83%BC%E3%83%AB/dp/4532350972%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4532350972' class='bookcover'><img data:asin='4532350972' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51JY8YXBKZL.jpg'></span></a></span></p>
<p>投資の古典らしい. 投資をしようという気はなく, 単なる興味で読む.</p>
<p>著者はインデクスと呼ばれる分散投資でもって長期ホールド
(買ったらしばらく売らない)戦略を勧める人で, それ以外の方法論,
たとえばローソクを眈む "テクニカル" や業績や成長予測に基いて投資する
"ファンダメンタル" はどちらも割に合わないと主張する. 
特に "テクニカル" に対するこきおろしぶりは痛快.
古典という割に何度も版を重ねていて, IT バブルなど最近の話題も多い.</p>
<p>それにしても, 老後に向けて数十年という単位で投資を続けていける人ってえらいね.
私は途中で挫ける気がする.</p>
<h4><a data:asin='4791760468' href='http://www.amazon.co.jp/%E3%83%93%E3%83%AB%E3%83%BB%E3%82%B2%E3%82%A4%E3%83%84%E3%81%AE%E9%9D%A2%E6%8E%A5%E8%A9%A6%E9%A8%93%E2%80%95%E5%AF%8C%E5%A3%AB%E5%B1%B1%E3%82%92%E3%81%A9%E3%81%86%E5%8B%95%E3%81%8B%E3%81%97%E3%81%BE%E3%81%99%E3%81%8B-%E3%82%A6%E3%82%A3%E3%83%AA%E3%82%A2%E3%83%A0-%E3%83%91%E3%82%A6%E3%83%B3%E3%83%89%E3%82%B9%E3%83%88%E3%83%BC%E3%83%B3/dp/4791760468%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4791760468'>ビル・ゲイツの面接試験</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%93%E3%83%AB%E3%83%BB%E3%82%B2%E3%82%A4%E3%83%84%E3%81%AE%E9%9D%A2%E6%8E%A5%E8%A9%A6%E9%A8%93%E2%80%95%E5%AF%8C%E5%A3%AB%E5%B1%B1%E3%82%92%E3%81%A9%E3%81%86%E5%8B%95%E3%81%8B%E3%81%97%E3%81%BE%E3%81%99%E3%81%8B-%E3%82%A6%E3%82%A3%E3%83%AA%E3%82%A2%E3%83%A0-%E3%83%91%E3%82%A6%E3%83%B3%E3%83%89%E3%82%B9%E3%83%88%E3%83%BC%E3%83%B3/dp/4791760468%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4791760468' class='bookcover'><img data:asin='4791760468' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41XBN1T698L.jpg'></span></a></span></p>
<p>ビル・ゲイツのというよりは, マイクロソフトのという方が正しい.
クイズを解かせたりコードを書かせたりする MS 式面接の実態から始まり,
採用試験に関する話題について広く書かれた本. けっこう面白い.
Joel On Software でも面接ではコードを書かせろという話があったのを思いだす.</p>
<p>もっとも, 形式的にではなく本当の意味で人を選べる側にある企業というのは
そう多くない気はする. 大抵の企業が人手不足である以上, 
えいやと採用してしまう会社が多いことに不思議はない.
長期的にはとてもリスキーなのだろうが, 大抵は目先の仕事の圧力に屈しますね.</p>
<h4><a data:asin='4087203131' href='http://www.amazon.co.jp/%E3%82%A4%E3%83%B3%E3%83%95%E3%83%AB%E3%82%A8%E3%83%B3%E3%82%B6%E5%8D%B1%E6%A9%9F-%E3%82%AF%E3%83%A9%E3%82%A4%E3%82%B7%E3%82%B9-%E9%9B%86%E8%8B%B1%E7%A4%BE%E6%96%B0%E6%9B%B8-%E6%B2%B3%E5%B2%A1-%E7%BE%A9%E8%A3%95/dp/4087203131%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4087203131'>インフルエンザの世紀</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A4%E3%83%B3%E3%83%95%E3%83%AB%E3%82%A8%E3%83%B3%E3%82%B6%E5%8D%B1%E6%A9%9F-%E3%82%AF%E3%83%A9%E3%82%A4%E3%82%B7%E3%82%B9-%E9%9B%86%E8%8B%B1%E7%A4%BE%E6%96%B0%E6%9B%B8-%E6%B2%B3%E5%B2%A1-%E7%BE%A9%E8%A3%95/dp/4087203131%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4087203131' class='bookcover'><img data:asin='4087203131' class='asin image-right' src='http://ecx.images-amazon.com/images/I/21XS8R94J0L.jpg'></span></a></span></p>
<p>内容わすれた.</p>
<h4><a data:asin='4004309638' href='http://www.amazon.co.jp/%E5%83%8D%E3%81%8D%E3%81%99%E3%81%8E%E3%81%AE%E6%99%82%E4%BB%A3-%E5%B2%A9%E6%B3%A2%E6%96%B0%E6%9B%B8-%E6%96%B0%E8%B5%A4%E7%89%88-963-%E6%A3%AE%E5%B2%A1/dp/4004309638%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4004309638'>働きすぎの時代</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%83%8D%E3%81%8D%E3%81%99%E3%81%8E%E3%81%AE%E6%99%82%E4%BB%A3-%E5%B2%A9%E6%B3%A2%E6%96%B0%E6%9B%B8-%E6%96%B0%E8%B5%A4%E7%89%88-963-%E6%A3%AE%E5%B2%A1/dp/4004309638%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4004309638' class='bookcover'><img data:asin='4004309638' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41T1W1MPTTL.jpg'></span></a></span></p>
<p>内容わすれた...</p>
<p>現代では高年収になるほど労働時間が長くなる傾向があるという話をして,
市場による絶えまない欲望への刺激が人を収入の獲得へと駆り立て,
その結果いくら技術が進歩しても人にはゆとりができないのだ, というような話,
だった気がする.</p>
<h4><a data:asin='4000228609' href='http://www.amazon.co.jp/%E9%9B%87%E7%94%A8%E7%A0%B4%E5%A3%8A-%E9%9D%9E%E6%AD%A3%E7%A4%BE%E5%93%A1%E3%81%A8%E3%81%84%E3%81%86%E7%94%9F%E3%81%8D%E6%96%B9-%E9%B9%BF%E5%B6%8B-%E6%95%AC/dp/4000228609%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4000228609'>雇用破壊 非正社員という生き方</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E9%9B%87%E7%94%A8%E7%A0%B4%E5%A3%8A-%E9%9D%9E%E6%AD%A3%E7%A4%BE%E5%93%A1%E3%81%A8%E3%81%84%E3%81%86%E7%94%9F%E3%81%8D%E6%96%B9-%E9%B9%BF%E5%B6%8B-%E6%95%AC/dp/4000228609%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4000228609' class='bookcover'><img data:asin='4000228609' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41PEZ9ARC7L.jpg'></span></a></span></p>
<p>正社員は忙しすぎ, 非正社員は貧乏だ, という話.
非正社員の貧乏さ(処遇の悪さ), 加えて実は忙しいという実態について調べ,
忙しさと貧乏さの中間も選べるようにすべきだと主張する. </p>
<h4><a data:asin='4334033210' href='http://www.amazon.co.jp/%E4%B8%8B%E6%B5%81%E7%A4%BE%E4%BC%9A-%E6%96%B0%E3%81%9F%E3%81%AA%E9%9A%8E%E5%B1%A4%E9%9B%86%E5%9B%A3%E3%81%AE%E5%87%BA%E7%8F%BE-%E5%85%89%E6%96%87%E7%A4%BE%E6%96%B0%E6%9B%B8-%E4%B8%89%E6%B5%A6-%E5%B1%95/dp/4334033210%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4334033210'>下流社会</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E4%B8%8B%E6%B5%81%E7%A4%BE%E4%BC%9A-%E6%96%B0%E3%81%9F%E3%81%AA%E9%9A%8E%E5%B1%A4%E9%9B%86%E5%9B%A3%E3%81%AE%E5%87%BA%E7%8F%BE-%E5%85%89%E6%96%87%E7%A4%BE%E6%96%B0%E6%9B%B8-%E4%B8%89%E6%B5%A6-%E5%B1%95/dp/4334033210%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4334033210' class='bookcover'><img data:asin='4334033210' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41D77B7JASL.jpg'></span></a></span></p>
<p>アンケートなどの調査の結果から, 
コンサバティブな教育をしている家の方が
リベラルな(個性や男女平等を重んじる)教育をしている家より学歴や所得が高く,
また自分自身を幸せに感じる傾向が強いことがわかった, という話.</p>
<p>前作 "ファスト風土化する日本" と比べると, 議論はやや雑な印象.
身も蓋もなさは面白い.</p>
<h4><a data:asin='4121501748' href='http://www.amazon.co.jp/%E3%80%8C%E8%B2%A0%E3%81%91%E3%81%9F%E3%80%8D%E6%95%99%E3%81%AE%E4%BF%A1%E8%80%85%E3%81%9F%E3%81%A1-%E3%83%8B%E3%83%BC%E3%83%88%E3%83%BB%E3%81%B2%E3%81%8D%E3%81%93%E3%82%82%E3%82%8A%E7%A4%BE%E4%BC%9A%E8%AB%96-%E4%B8%AD%E5%85%AC%E6%96%B0%E6%9B%B8%E3%83%A9%E3%82%AF%E3%83%AC-%E6%96%8E%E8%97%A4-%E7%92%B0/dp/4121501748%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4121501748'>「負けた」教の信者たち</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%80%8C%E8%B2%A0%E3%81%91%E3%81%9F%E3%80%8D%E6%95%99%E3%81%AE%E4%BF%A1%E8%80%85%E3%81%9F%E3%81%A1-%E3%83%8B%E3%83%BC%E3%83%88%E3%83%BB%E3%81%B2%E3%81%8D%E3%81%93%E3%82%82%E3%82%8A%E7%A4%BE%E4%BC%9A%E8%AB%96-%E4%B8%AD%E5%85%AC%E6%96%B0%E6%9B%B8%E3%83%A9%E3%82%AF%E3%83%AC-%E6%96%8E%E8%97%A4-%E7%92%B0/dp/4121501748%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4121501748' class='bookcover'><img data:asin='4121501748' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41gNGgLqXYL.jpg'></span></a></span></p>
<p>内容わすれた. 雑誌連載をまとめたもの.</p>
<h4><a data:asin='4087203182' href='http://www.amazon.co.jp/%E4%B9%B1%E4%B8%96%E3%82%92%E7%94%9F%E3%81%8D%E3%82%8B-%E5%B8%82%E5%A0%B4%E5%8E%9F%E7%90%86%E3%81%AF%E5%98%98%E3%81%8B%E3%82%82%E3%81%97%E3%82%8C%E3%81%AA%E3%81%84-%E9%9B%86%E8%8B%B1%E7%A4%BE%E6%96%B0%E6%9B%B8-%E6%A9%8B%E6%9C%AC-%E6%B2%BB/dp/4087203182%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4087203182'>乱世を生きる 市場原理は嘘かもしれない</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E4%B9%B1%E4%B8%96%E3%82%92%E7%94%9F%E3%81%8D%E3%82%8B-%E5%B8%82%E5%A0%B4%E5%8E%9F%E7%90%86%E3%81%AF%E5%98%98%E3%81%8B%E3%82%82%E3%81%97%E3%82%8C%E3%81%AA%E3%81%84-%E9%9B%86%E8%8B%B1%E7%A4%BE%E6%96%B0%E6%9B%B8-%E6%A9%8B%E6%9C%AC-%E6%B2%BB/dp/4087203182%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4087203182' class='bookcover'><img data:asin='4087203182' class='asin image-right' src='http://ecx.images-amazon.com/images/I/4173HM2C0FL.jpg'></span></a></span></p>
<p>"上司は思いつきでものを言う" とその前のエッセイとで三部作らしい.
内容はいつものかんじ.</p>
<h4><a data:asin='4822244679' href='http://www.amazon.co.jp/%E6%B4%97%E8%84%B3%E3%81%99%E3%82%8B%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%7E%E4%BC%81%E6%A5%AD%E6%96%87%E5%8C%96%E3%82%92%E6%93%8D%E4%BD%9C%E3%81%9B%E3%82%88-%E3%82%AE%E3%83%87%E3%82%AA%E3%83%B3%E3%83%BB%E3%82%AF%E3%83%B3%E3%83%80/dp/4822244679%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822244679'>洗脳するマネジメント</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E6%B4%97%E8%84%B3%E3%81%99%E3%82%8B%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%7E%E4%BC%81%E6%A5%AD%E6%96%87%E5%8C%96%E3%82%92%E6%93%8D%E4%BD%9C%E3%81%9B%E3%82%88-%E3%82%AE%E3%83%87%E3%82%AA%E3%83%B3%E3%83%BB%E3%82%AF%E3%83%B3%E3%83%80/dp/4822244679%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822244679' class='bookcover'><img data:asin='4822244679' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41Ulw-qZgWL.jpg'></span></a></span></p>
<p>(今は亡き) DEC に潜入し, その従業員の生き方, 
企業がいかに社員を動機づけ働かせようとしているかを調べた民族誌.
著者はハイテク産業の会社が社員をこきつかうための
枠組みを明らかにしようとしており, そういう視点で読むととても面白い.
Microsfot にせよ Google にせよ, 大枠ではその枠組みに従っているように思える.</p>
<p>邦題の "洗脳するマネジメント" は煽りすぎ. 現代 "Engineering Culture" の方が
企業文化すらエンジニアリングの対象にする, という雰囲気がでていて良い.
"企業文化工学" というかんじ.</p>
<h4><a data:asin='4623043770' href='http://www.amazon.co.jp/%E5%A5%B3%E5%AD%90%E3%83%9E%E3%83%8D%E3%83%BC%E3%82%B8%E3%83%A3%E3%83%BC%E3%81%AE%E8%AA%95%E7%94%9F%E3%81%A8%E3%83%A1%E3%83%87%E3%82%A3%E3%82%A2%E2%80%95%E3%82%B9%E3%83%9D%E3%83%BC%E3%83%84%E6%96%87%E5%8C%96%E3%81%AB%E3%81%8A%E3%81%91%E3%82%8B%E3%82%B8%E3%82%A7%E3%83%B3%E3%83%80%E3%83%BC%E5%BD%A2%E6%88%90-%E9%AB%98%E4%BA%95-%E6%98%8C%E5%90%8F/dp/4623043770%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4623043770'>女子マネージャーの誕生とメディア</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%A5%B3%E5%AD%90%E3%83%9E%E3%83%8D%E3%83%BC%E3%82%B8%E3%83%A3%E3%83%BC%E3%81%AE%E8%AA%95%E7%94%9F%E3%81%A8%E3%83%A1%E3%83%87%E3%82%A3%E3%82%A2%E2%80%95%E3%82%B9%E3%83%9D%E3%83%BC%E3%83%84%E6%96%87%E5%8C%96%E3%81%AB%E3%81%8A%E3%81%91%E3%82%8B%E3%82%B8%E3%82%A7%E3%83%B3%E3%83%80%E3%83%BC%E5%BD%A2%E6%88%90-%E9%AB%98%E4%BA%95-%E6%98%8C%E5%90%8F/dp/4623043770%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4623043770' class='bookcover'><img data:asin='4623043770' class='asin image-right' src='http://ecx.images-amazon.com/images/I/414NCW0H9AL.jpg'></span></a></span></p>
<p>ここでいう女子マネージャーは野球部なんかにいるあれ.
かつては男がつとめていた体育系のマネージャというポジションに,
いつからどのように女性がはいりこんだか, 
彼女たちはどういうアイデンティティでその仕事をしているのかという話.</p>
<p>"タッチ" の影響は今でも大きいが, 
一方で当人たちは "タッチ" のような役得にあづかれることを
期待しているわけでもない, など. 割とおもしろい.</p>
<h4><a data:asin='4768467474' href='http://www.amazon.co.jp/%E3%83%95%E3%82%A3%E3%83%BC%E3%83%AB%E3%83%89%E3%83%AF%E3%83%BC%E3%82%AF%E3%81%AE%E7%89%A9%E8%AA%9E%E2%80%95%E3%82%A8%E3%82%B9%E3%83%8E%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3%E3%83%BC%E3%81%AE%E6%96%87%E7%AB%A0%E4%BD%9C%E6%B3%95-%E3%82%B8%E3%83%A7%E3%83%B3-%E3%83%B4%E3%82%A1%E3%83%B3-%E3%83%9E%E3%83%BC%E3%83%8D%E3%83%B3/dp/4768467474%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4768467474'>フィールドワークの物語</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%95%E3%82%A3%E3%83%BC%E3%83%AB%E3%83%89%E3%83%AF%E3%83%BC%E3%82%AF%E3%81%AE%E7%89%A9%E8%AA%9E%E2%80%95%E3%82%A8%E3%82%B9%E3%83%8E%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3%E3%83%BC%E3%81%AE%E6%96%87%E7%AB%A0%E4%BD%9C%E6%B3%95-%E3%82%B8%E3%83%A7%E3%83%B3-%E3%83%B4%E3%82%A1%E3%83%B3-%E3%83%9E%E3%83%BC%E3%83%8D%E3%83%B3/dp/4768467474%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4768467474' class='bookcover'><img data:asin='4768467474	' class='asin image-right' src='http://ecx.images-amazon.com/images/I/417C1D1RPDL.jpg'></span></a></span></p>
<p>内容わすれた.</p>
<p>"洗脳するマネジメント" が面白かったので, 
民族誌というのがどういう分野なのかを知りたくて読んだ本.
書き手の自我や客観的になれるという傲慢といかにやりあっていくか.
それが難しいジャンルなのだ, というような話だった気がする.
方法論より実際の民族誌を読む方が面白いのだなと学ぶ.</p>
<h4><a data:asin='414088052X' href='http://www.amazon.co.jp/%E3%82%AE%E3%83%A3%E3%83%B3%E3%83%96%E3%83%AB%E4%BE%9D%E5%AD%98%E7%97%87-%E7%94%9F%E6%B4%BB%E4%BA%BA%E6%96%B0%E6%9B%B8-%E7%94%B0%E8%BE%BA-%E7%AD%89/dp/414088052X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D414088052X'>ギャンブル依存症</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%AE%E3%83%A3%E3%83%B3%E3%83%96%E3%83%AB%E4%BE%9D%E5%AD%98%E7%97%87-%E7%94%9F%E6%B4%BB%E4%BA%BA%E6%96%B0%E6%9B%B8-%E7%94%B0%E8%BE%BA-%E7%AD%89/dp/414088052X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D414088052X' class='bookcover'><img data:asin='414088052X' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41JTBVQYAFL.jpg'></span></a></span></p>
<p>依存症そのもののあり方に興味があって読む.
依存の症状や心理状態はウェブ依存症にも通じるものがある.
もっとも興味のあったギャンブル依存症からの脱出方法は, 
著者によれば自助組織に参加しろとのこと.
自助組織というのは元ギャンブル中毒者や
その家族が集まって互いに励ましあう集りのことらしい.</p>
<p>中毒者は自分の力でそれをやめたいと思うわけだが, 
回復への第一歩は自分の無力さを知ることだと言われその困難を知る.</p>
<h4><a data:asin='4087202283' href='http://www.amazon.co.jp/%E4%BA%BA%E3%81%AF%E3%81%AA%E3%81%9C%E9%80%83%E3%81%92%E3%81%8A%E3%81%8F%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%8B%E2%80%95%E7%81%BD%E5%AE%B3%E3%81%AE%E5%BF%83%E7%90%86%E5%AD%A6-%E9%9B%86%E8%8B%B1%E7%A4%BE%E6%96%B0%E6%9B%B8-%E5%BA%83%E7%80%AC-%E5%BC%98%E5%BF%A0/dp/4087202283%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4087202283'>人はなぜ逃げおくれるのか</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E4%BA%BA%E3%81%AF%E3%81%AA%E3%81%9C%E9%80%83%E3%81%92%E3%81%8A%E3%81%8F%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%8B%E2%80%95%E7%81%BD%E5%AE%B3%E3%81%AE%E5%BF%83%E7%90%86%E5%AD%A6-%E9%9B%86%E8%8B%B1%E7%A4%BE%E6%96%B0%E6%9B%B8-%E5%BA%83%E7%80%AC-%E5%BC%98%E5%BF%A0/dp/4087202283%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4087202283' class='bookcover'><img data:asin='4087202283' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41N2CGWAJFL.jpg'></span></a></span></p>
<p>9.11 つながり. なぜ逃げおくれるのかは話題の中心ではなく, 
防災の話題を広くまとめている本だった.
地震を予測するという野心をもって始まったプロジェクトが
だんだん地震がおきてもその被害を少なくする路線に方向転換していく話や,
災害復興時のコミュニティのフェーズが時間を追ってどう変化するかなど.</p>
<h4><a data:asin='4105217097' href='http://www.amazon.co.jp/%E3%83%8A%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%AB%E3%83%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AA%E3%83%BC%E3%83%BB%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88-%E3%83%9D%E3%83%BC%E3%83%AB%E3%83%BB%E3%82%AA%E3%83%BC%E3%82%B9%E3%82%BF%E3%83%BC/dp/4105217097%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4105217097'>ナショナル・ストーリー・プロジェクト</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%8A%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%AB%E3%83%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AA%E3%83%BC%E3%83%BB%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88-%E3%83%9D%E3%83%BC%E3%83%AB%E3%83%BB%E3%82%AA%E3%83%BC%E3%82%B9%E3%82%BF%E3%83%BC/dp/4105217097%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4105217097' class='bookcover'><img data:asin='4105217097' class='asin image-right' src='http://ecx.images-amazon.com/images/I/4186QXY35GL.jpg'></span></a></span></p>
<p>ポール・オースターがラジオ番組で呼び掛けて集まった "実話" 集.
とてもよかった. 
印象的な場面, まるでポール・オースターの小説の冒頭かと思わせるような
書き出しで始まり, しかし何もないまま終わる話などを読むと, 
物語とは現実の島々に想像力の橋をかける作業なのだと思えてくる.</p>
<h4><a data:asin='4309204503' href='http://www.amazon.co.jp/%E3%81%AA%E3%81%A4%E3%81%8B%E3%81%97%E3%81%8F%E8%AC%8E%E3%82%81%E3%81%84%E3%81%A6-Modern-classic-%E3%82%A2%E3%83%BC%E3%82%B7%E3%83%A5%E3%83%A9%E3%83%BBK-%E3%82%B0%E3%82%A6%E3%82%A3%E3%83%B3/dp/4309204503%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4309204503'>なつかしく謎めいて</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%81%AA%E3%81%A4%E3%81%8B%E3%81%97%E3%81%8F%E8%AC%8E%E3%82%81%E3%81%84%E3%81%A6-Modern-classic-%E3%82%A2%E3%83%BC%E3%82%B7%E3%83%A5%E3%83%A9%E3%83%BBK-%E3%82%B0%E3%82%A6%E3%82%A3%E3%83%B3/dp/4309204503%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4309204503' class='bookcover'><img data:asin='4309204503' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51WR73KZGPL.jpg'></span></a></span></p>
<p>ル・グウィン. 得意分野の異世界往訪ものなのだが, 適度に力が抜けていて良い.</p>
<h4><a data:asin='4104299057' href='http://www.amazon.co.jp/%E6%B2%BC%E5%9C%B0%E3%81%AE%E3%81%82%E3%82%8B%E6%A3%AE%E3%82%92%E6%8A%9C%E3%81%91%E3%81%A6-%E6%A2%A8%E6%9C%A8-%E9%A6%99%E6%AD%A9/dp/4104299057%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4104299057'>沼地のある森を抜けて</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E6%B2%BC%E5%9C%B0%E3%81%AE%E3%81%82%E3%82%8B%E6%A3%AE%E3%82%92%E6%8A%9C%E3%81%91%E3%81%A6-%E6%A2%A8%E6%9C%A8-%E9%A6%99%E6%AD%A9/dp/4104299057%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4104299057' class='bookcover'><img data:asin='4104299057' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41M27KRJYZL.jpg'></span></a></span></p>
<p>そこそこ面白いのだが, いかにも梨木香歩という芸風のようなものが
固まってきた気がする. 
もっぱら感触で読ませる作家なので, それが似てくると飽きそう.</p>
<h4><a data:asin='4022500778' href='http://www.amazon.co.jp/%E3%81%82%E3%82%8B%E3%81%8D%E3%81%8B%E3%81%9F%E3%81%8C%E3%81%9F%E3%81%A0%E3%81%97%E3%81%8F%E3%81%AA%E3%81%84-%E6%9E%A1%E9%87%8E-%E6%B5%A9%E4%B8%80/dp/4022500778%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4022500778'>あるきかたがただしくない</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%81%82%E3%82%8B%E3%81%8D%E3%81%8B%E3%81%9F%E3%81%8C%E3%81%9F%E3%81%A0%E3%81%97%E3%81%8F%E3%81%AA%E3%81%84-%E6%9E%A1%E9%87%8E-%E6%B5%A9%E4%B8%80/dp/4022500778%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4022500778' class='bookcover'><img data:asin='4022500778' class='asin image-right' src='http://ecx.images-amazon.com/images/I/519CMM462RL.jpg'></span></a></span></p>
<p>穂村弘よりはこの人の方が信頼できるね. 自分の情けなさを自覚しながらも
職業意識はとても高い. そこがいい.</p>
<p>ところで "あるきかたがただしくない" は漢字の読み方だったのか. ぐぐって知る.</p>
<h4><a data:asin='4839915946' href='http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%81%AE%E5%BF%83%E7%90%86%E5%AD%A6%E2%80%95%E3%81%BE%E3%81%9F%E3%81%AF%E3%80%81%E3%83%8F%E3%82%A4%E3%83%86%E3%82%AF%E3%83%8E%E3%83%AD%E3%82%B8%E3%83%BC%E3%81%AE%E4%BA%BA%E9%96%93%E5%AD%A6-25%E5%91%A8%E5%B9%B4%E8%A8%98%E5%BF%B5%E7%89%88-%E3%82%B8%E3%82%A7%E3%83%A9%E3%83%AB%E3%83%89%E3%83%BBM-%E3%83%AF%E3%82%A4%E3%83%B3%E3%83%90%E3%83%BC%E3%82%B0/dp/4839915946%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4839915946'>プログラミングの心理学</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%81%AE%E5%BF%83%E7%90%86%E5%AD%A6%E2%80%95%E3%81%BE%E3%81%9F%E3%81%AF%E3%80%81%E3%83%8F%E3%82%A4%E3%83%86%E3%82%AF%E3%83%8E%E3%83%AD%E3%82%B8%E3%83%BC%E3%81%AE%E4%BA%BA%E9%96%93%E5%AD%A6-25%E5%91%A8%E5%B9%B4%E8%A8%98%E5%BF%B5%E7%89%88-%E3%82%B8%E3%82%A7%E3%83%A9%E3%83%AB%E3%83%89%E3%83%BBM-%E3%83%AF%E3%82%A4%E3%83%B3%E3%83%90%E3%83%BC%E3%82%B0/dp/4839915946%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4839915946' class='bookcover'><img data:asin='4839915946' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51CG691XGBL.jpg'></span></a></span></p>
<p>"エゴレス・プログラミング" がはじめて登場した本だとか.
資料的価値は高いかもしれないけれど, ワインバーグの考えを知るには
その後に書かれた本を読む方がよくまとまっている気がする.
読み物としては面白く, 特に昔話が好きな向きにはよい.</p>
<h4><a data:asin='4797323442' href='http://www.amazon.co.jp/STRUTS%E3%83%BB%E3%82%A4%E3%83%B3%E3%83%BB%E3%82%A2%E3%82%AF%E3%82%B7%E3%83%A7%E3%83%B3-%E3%83%86%E3%83%83%E3%83%89%E3%83%BB%E3%83%8F%E3%82%B9%E3%83%86%E3%82%A3%E3%83%83%E3%83%89/dp/4797323442%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797323442'>Struts イン アクション</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/STRUTS%E3%83%BB%E3%82%A4%E3%83%B3%E3%83%BB%E3%82%A2%E3%82%AF%E3%82%B7%E3%83%A7%E3%83%B3-%E3%83%86%E3%83%83%E3%83%89%E3%83%BB%E3%83%8F%E3%82%B9%E3%83%86%E3%82%A3%E3%83%83%E3%83%89/dp/4797323442%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797323442' class='bookcover'><img data:asin='4797323442' class='asin image-right' src='http://ecx.images-amazon.com/images/I/5144EZRVHKL.jpg'></span></a></span></p>
<p>Web の Struts の資料はどうも散漫なので, こうやって本にまとまっていると嬉しい.
ただ In Action シリーズは全般に厚すぎ.</p>
<h4><a data:asin='1932394117' href='http://www.amazon.co.jp/Tapestry-Action-Howard-Lewis-Ship/dp/1932394117%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1932394117'>Tapestry In Action</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Tapestry-Action-Howard-Lewis-Ship/dp/1932394117%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1932394117' class='bookcover'><img data:asin='1932394117' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41Nr8S025TL.jpg'></span></a></span></p>
<p>Tapestry の作者が書いているので内容は信頼できるのだが,
Tapestry 3.0 に基いて書かれているので 4.0 の大幅変更分の差分はない.
ウェブの資料を読む方が最新かつコンパクトで手頃かもしれない.
全体的なアーキテクチャは変わっていないので, それを知るには良い. あとはお布施.</p>
<h4><a data:asin='097669400X' href='http://www.amazon.co.jp/Agile-Web-Development-With-Rails/dp/097669400X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D097669400X'>Agile Web Development With Rails</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Agile-Web-Development-With-Rails/dp/097669400X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D097669400X' class='bookcover'><img data:asin='097669400X' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51lbXFwhFvL.jpg'></span></a></span></p>
<p>チュートリアルからアーキテクチャまで, とても良く書かれている.
ウェブにある Rails ののチュートリアルはあっさりしすぎているし 
各種記事も散在しているため, この本なしで Rails を使うのはかなりしんどい.</p>
<h4><a data:asin='4873111978 ' href='http://www.amazon.co.jp/JavaServer-Faces%E5%AE%8C%E5%85%A8%E3%82%AC%E3%82%A4%E3%83%89-%E3%83%8F%E3%83%B3%E3%82%B9-%E3%83%90%E3%83%BC%E3%82%B0%E3%82%B9%E3%83%86%E3%83%B3/dp/4873111978%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873111978'>JavaServer Faces 完全ガイド</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/JavaServer-Faces%E5%AE%8C%E5%85%A8%E3%82%AC%E3%82%A4%E3%83%89-%E3%83%8F%E3%83%B3%E3%82%B9-%E3%83%90%E3%83%BC%E3%82%B0%E3%82%B9%E3%83%86%E3%83%B3/dp/4873111978%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873111978' class='bookcover'><img data:asin='4873111978 ' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51RHQ4E1B7L.jpg'></span></a></span></p>
<p>Rails とは逆に JSF は仕様書もチュートリアルも Sun が公開しているため,
この本の存在意義は乏しい. 本の内容もかなりオンライン資料と重複していた.</p>
<p>JavaServer と Faces の間に空白がある謎は解けない.</p>
<h4><a data:asin='4891004762' href='http://www.amazon.co.jp/%E6%96%B0%E8%A8%B3-%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%82%B5%E3%83%90%E3%82%A4%E3%83%90%E3%83%AB%E3%82%AC%E3%82%A4%E3%83%89-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96-%E3%83%9E%E3%82%B3%E3%83%8D%E3%83%AB/dp/4891004762%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891004762'>ソフトウェアプロジェクト サバイバルガイド</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E6%96%B0%E8%A8%B3-%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%82%B5%E3%83%90%E3%82%A4%E3%83%90%E3%83%AB%E3%82%AC%E3%82%A4%E3%83%89-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96-%E3%83%9E%E3%82%B3%E3%83%8D%E3%83%AB/dp/4891004762%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891004762' class='bookcover'><img data:asin='4891004762' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51LEMEJpxZL.jpg'></span></a></span></p>
<p>Agile 登場以前からある本だが, けっこう Agile している.
ユーザマニュアルを仕様書とするなど, 実現できればとても有効な方法論の集合.
自社製品を作っているのでないと実践は厳しそう.</p>
<h4><a data:asin='489100388X' href='http://www.amazon.co.jp/%E3%83%94%E3%82%A2%E3%83%AC%E3%83%93%E3%83%A5%E3%83%BC-Karl-E-Wiegers/dp/489100388X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D489100388X'>ピアレビュー</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%94%E3%82%A2%E3%83%AC%E3%83%93%E3%83%A5%E3%83%BC-Karl-E-Wiegers/dp/489100388X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D489100388X' class='bookcover'><img data:asin='489100388X' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41uGufLoqDL.jpg'></span></a></span></p>
<p>ソフトウェアの品質改善手法であるピアレビューの入門書.
もっぱらレビューの運用方法や実施上の注意点について述べられている.
ピアレビューはコミュニケーションを主体とするプロセスなので,
プログラミングとは別の技能を要求されることがわかる.</p>
<h4><a data:asin='4320097270' href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%82%A4%E3%83%B3%E3%82%B9%E3%83%9A%E3%82%AF%E3%82%B7%E3%83%A7%E3%83%B3-Tom-Gilb/dp/4320097270%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4320097270'>ソフトウェアインスペクション</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%82%A4%E3%83%B3%E3%82%B9%E3%83%9A%E3%82%AF%E3%82%B7%E3%83%A7%E3%83%B3-Tom-Gilb/dp/4320097270%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4320097270' class='bookcover'><img data:asin='4320097270' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51F9hg5xCCL.jpg'></span></a></span>
ピアレビューのうち, もっとも本格的かつ効率的と言われている
"インスペクション" の実施方法.
フォーマルな方法論につきものの厳格さがあり, これを実施するのは大変そう.
"バグは工程の上流でみつけるほどコストが低い" という原則に基き
ソースコードではなく文書のレビューに重点を置いている.
大規模開発をする上では参考になりそう.</p>
<p>後半はいくつかケース・スタディが載っている
半分以上がインスペクションの導入に失敗する例というのがなんというか, 厳しい.</p>
<h4><a data:asin='4822281132' href='http://www.amazon.co.jp/%E5%9F%BA%E6%9C%AC%E3%81%8B%E3%82%89%E5%AD%A6%E3%81%B6%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%86%E3%82%B9%E3%83%88-Cem-Kaner/dp/4822281132%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822281132'>基礎から学ぶソフトウェアテスト</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%9F%BA%E6%9C%AC%E3%81%8B%E3%82%89%E5%AD%A6%E3%81%B6%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%86%E3%82%B9%E3%83%88-Cem-Kaner/dp/4822281132%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822281132' class='bookcover'><img data:asin='4822281132' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51PEE5ZNQSL.jpg'></span></a></span></p>
<p>テスト担当のエンジニア向けの本. 網羅的で, 細かいテストの技法より
開発プロセスのなかでテストをどう運用していくかという点に重点がある.
他のチームのメンバ, 特にプログラマといかにコミュニケーションをとるかにも
随所で触れられており, プログラマがいかに扱いにくい生き物と思われているかわかる.</p>
<p>プログラマとして自分でどうテストをするかという点ではあまり役に立たないが,
テスト担当者がどういう視点で働いているかを知るには良い.</p>
<h4><a data:asin='4764900599' href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%BB%E3%83%86%E3%82%B9%E3%83%88%E3%81%AE%E6%8A%80%E6%B3%95-G-J-%E3%83%9E%E3%82%A4%E3%83%A4%E3%83%BC%E3%82%BA/dp/4764900599%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4764900599'>ソフトウェア・テストの技法</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%BB%E3%83%86%E3%82%B9%E3%83%88%E3%81%AE%E6%8A%80%E6%B3%95-G-J-%E3%83%9E%E3%82%A4%E3%83%A4%E3%83%BC%E3%82%BA/dp/4764900599%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4764900599' class='bookcover'><img data:asin='4764900599' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51K9AA6XX7L.jpg'></span></a></span></p>
<p>まだプログラマとテスト・エンジニアの分業が進む前の古い本.
そのおかげで専業テストの文脈では無視されがちな
プログラマによるテストの参考になる.</p>
<p>内容にはあまり古さを感じない. 
テスト技術が進歩していないからか, 私が不勉強だからか.</p>
<h4><a data:asin='0521616786' href='http://www.amazon.co.jp/The-Elements-UML%E2%84%A2-2-0-Style/dp/0521616786%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0521616786'>The Elements Of UML 2.0 Style</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/The-Elements-UML%E2%84%A2-2-0-Style/dp/0521616786%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0521616786' class='bookcover'><img data:asin='0521616786' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41Vuvx8ugwL.jpg'></span></a></span></p>
<p>UML の描き方ガイド. 
左から右/上から下に書けだとか, 線は交差するなとか,
そういう見た目の話をトピック単位で中心としており, モデリングの本ではない.
一方で見た目の悪いモデルは内容も悪いモデルであることは多いし,
そもそもモデルをコミュニケーションの手段として捉えるなら見た目はとても重要.
人にもよると思うけれど, ガイドに従うとかなり図は改善されて楽しい.</p>
<p>薄くて手軽. 
普段自分の使わない図については読まなかったら実際に読んだのは 50 ページくらい.</p>
<h4><a data:asin='4774125814' href='http://www.amazon.co.jp/%E3%82%A2%E3%82%B9%E3%83%9A%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E5%85%A5%E9%96%80-Java-%E3%83%BB-%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E3%81%8B%E3%82%89-AspectJ%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%81%B8/dp/4774125814%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4774125814'>アスペクト指向入門</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A2%E3%82%B9%E3%83%9A%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E5%85%A5%E9%96%80-Java-%E3%83%BB-%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E3%81%8B%E3%82%89-AspectJ%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%81%B8/dp/4774125814%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4774125814' class='bookcover'><img data:asin='4774125814' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51B395VKV7L.jpg'></span></a></span>
AspectJ を中心にアスペクト指向の解説をする. 
変に難しいことを言わず平易に書いてあり, ありがたい. 薄いし.
AOP は何度か論文を読んだけど途中から用語が混乱してよくわからなくなっていたが,
これを読んでだいぶ整理された. 著者の千葉滋は JBoss AOP の土台となる
コード生成ライブラリ <a href="http://www.csg.is.titech.ac.jp/~chiba/javassist/">Javassist</a> の作者. 信頼してよさそう.</p>
<p>ただ読んで思ったのは, Aspect 指向はともかく AspectJ は複雑すぎる.
アスペクト指向として括るには無理のある雑多な機能の寄せ集めという部分がある.
これは実験台ということにして, 
もう少しシンプルなアスペクト指向技術が普及するのを期待.</p>
