---
title: "ふたつの E"
date: 2006-06-25
---
<p>気分転換に WordPress を使ってみよう. かっこよさそうだし. 
そう思ってインストールをし, すぐ挫けた. 
色々と欲しい機能が足りていない. いらない機能は山ほどあるのに. 悲しい. 
対する tdiary はよくできている. 私の欲しいものがピンポイントでちゃんとある. </p>
<p>最低限のウェブ日記機能に加えて私が欲しいのはこんなもの:</p>
<ul>
<li>amazon.co.jp へのリンク, 本の画像表示</li>
<li>Wiki 書式</li>
<li>referrer 一覧</li>
</ul>
<p>tdiary だと上のふたつは plugin, referrer 一覧は buit-in で用意されている. 
WordPress はすべて plugin. 
plugin なのは構わないけれど, その実現方法が気にくわない. 以下愚痴. </p>
<p>まず amazon へのリンク機能. 
これは <a href="http://www.sozu.co.uk/software/amm/">Amazon Media Manager(AMM)</a>, 
<a href="http://manalang.com/wp-amazon/">WP-Amazon</a> のどちらかを使うことになる. 
どちらも AWS を使い実装されている. アフィリエイトの機能もある. 
しかし肝心なものがない; 本文中から書籍をインラインで参照する簡単な方法が用意されていない. </p>
<p>どうやら AMM はサイドバーに本の一覧を表示するような用途を想定しているらしい. 
だからマニュアルにはテーマ(テンプレート)を書き換えて本を表示する使い方が書いてある. 
本文内からの参照する使い方は説明されていない. 
これだと私の用途からは外れる. </p>
<p>WP-Amazon は本文からの書籍リンクを支援する. 
やりかたははてなダイアリの "はまぞう" と似ている. 
編集画面に "Insert content from Amazon" というメニューが追加され, 
これをクリックすると検索のためのウィンドウがポップアップする. 
目的の本を検索して "Add to HTML Post" をクリックすると
本文に書籍へのリンクを含む HTML 片を挿入する. 
この支援方法が気にくわない. 
HTML 片は変化に弱い. amazon の URL フォーマットが変わったら古いページは全滅だ. 
それに私は Wiki 書式を使いたいので HTML 片を挿入されても困る. </p>
<p>その Wiki 書式にもやや不満がある. 
英語圏ではプログラムから利用できる Wiki 風書式フォーマッタとして
<a href="http://daringfireball.net/projects/markdown/">Markdown</a> と
<a href="http://textism.com/tools/textile/">Textile</a> がよく知られている. 
日本だと RDoc みたいなもの. どちらも何種類かの言語で実装されたバージョンがある. 
PHP バージョンもあり, WordPress ではどちらも利用できる. 
正直, 私はどちらの書式もあまり好きではない...けれどそれは置いておくとして, 
どちらも pluggable になっていないのが困る. 
要するに tdiary の amazon plugin みたいなものを実現する枠組みがない. 
PHP も評価できない. だから markdown/textile の許す HTML しか出力することができない. </p>
<p>そもそも, WordPress は本文をプログラマブルにする流儀では無いようだ. 
本文中では HTML は使えても php は使えない. 
セキュリティの事情を考えると無理もないことだが, それを代替する仕組みがないため厳しい. 
結局, 本文中で PHP を使えるようにするプラグインが用意されている. 
セキュリティは台無し. ともとのポリシーがまずい気がする. 
それに, PHP の評価がデフォルトになっていないせいで 
Markdown など書式を書き換えるプログラムがそれを意識してくれていない. 
tdiary はもともと 本文が plugin の仕組みをもっている. 
(おそらく当初は素の eruby が評価可能だったのだとおもう.)
オプションである Wiki 書式も標準の書式と同じ plugin を呼びだすことができる. 
この違いは大きい. </p>
<p>そんなわけで WordPress への移行はあきらめました. 
ちぇっ...今風にかっこいいテーマを使ってみたかったんだけどなあ. </p>
<h3>ふたつの E</h3>
<p>WordPress と tdiary を比べていて, ふと Eclipse(+Java) と Emacs(+ruby) を連想した. 
WordPress は Eclipse の, tdiary は Emacs のにおいがする. 
WordPresss/Eclipse は複雑さを力でねじふせるかんじ. 
tdiary/Emacs は複雑なのは諦めてできる範囲でやることやるかんじ. 
私は Eclipse(+Java) と Emacs(+ruby) だったら Eclipse(+Java) が好きだけれど, 
WordPress と tdiary だったら tdiary が好きだ. 
WordPress と Eclipse の違いは, おそらく投入されているリソースの量の差だろう. 
オープンソースとはいえ IBM  という企業が取り組んでいる Eclipse と, 
コミュニティ駆動の WordPress で馬力に差があるのは仕方ない. </p>
<p>とはいえ資源の少なさを乗りこなすのに, あのリッチ路線は厳しい気がする. 
見た目の派手さを捨てるかわりに現実的な使いやすさを指向する tdiary を選びたい. </p>
<p>少い資源でうまくやるという意味で, tdiary と ruby は似ている. 
たとえば python は ruby よりずっと人手が多そうだが, 
その割に使いやすさでは ruby と大差ない. syntax は置いておいても, 
ruby は標準添付されるライブラリの粒が揃っていて好きだ. 
私は ruby-1.6.x の頃まで python と ruby を行ったりきたりしていたけれど, 
ruby-1.8.x からは ruby しか使っていない. 
REXML と eruby と WEBrick が私にとってのキラー機能だった. 
同様に tdiary では amazon.rb と 
Wiki スタイル と referrer 一覧がキラー機能になった. </p>
<p>どちらも競合と比べて必ずしも機能が豊富なわけではない. 
けれども欲しいものはピンポイントで用意されている. 
私もそんな風に気の効いたソフトウェアを作りたいと思った. </p>
<h3>追記</h3>
<p>ふとかっこいいテーマを使いたいならそれを移植すればいいことに気付く. で, 移植してみた.
もとねたは <a href="http://www.wpdemo.kaushalsheth.com/index.php?wptheme=Blue+Horizon">これ</a>. 移植というには原型をとどめていませんが... GPL につき, そのうちアーカイブして公開します.</p>
