---
title: "最近もらった本 : My Job Went To India オフショア時代のソフトウェア開発者サバイバルガイド "
date: 2006-09-24
---
<h3>近況</h3>
<p>オーム社の中の人から本をもらった. ありがとうございます. 
もらったのは "<a data:asin='4274066592' href='http://www.amazon.co.jp/My-Job-Went-India-%E3%82%AA%E3%83%95%E3%82%B7%E3%83%A7%E3%82%A2%E6%99%82%E4%BB%A3%E3%81%AE%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E8%80%85%E3%82%B5%E3%83%90%E3%82%A4%E3%83%90%E3%83%AB%E3%82%AC%E3%82%A4%E3%83%89/dp/4274066592%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066592'>My Job Went To India</a>" と 
"<a data:asin='4274066568' href='http://www.amazon.co.jp/Ship-%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88-%E6%88%90%E5%8A%9F%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E9%81%94%E4%BA%BA%E5%BC%8F%E3%82%AC%E3%82%A4%E3%83%89%E3%83%96%E3%83%83%E3%82%AF-Jared-Richardson/dp/4274066568%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066568'>Ship It!</a>". 
ちょうど活字を切らしていたこともあり, ありがたく読みました. </p>
<h3>最近もらった本 : <a data:asin='4274066592' href='http://www.amazon.co.jp/My-Job-Went-India-%E3%82%AA%E3%83%95%E3%82%B7%E3%83%A7%E3%82%A2%E6%99%82%E4%BB%A3%E3%81%AE%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E8%80%85%E3%82%B5%E3%83%90%E3%82%A4%E3%83%90%E3%83%AB%E3%82%AC%E3%82%A4%E3%83%89/dp/4274066592%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066592'>My Job Went To India オフショア時代のソフトウェア開発者サバイバルガイド </a></h3>
<p><span class='image'><a href='http://www.amazon.co.jp/My-Job-Went-India-%E3%82%AA%E3%83%95%E3%82%B7%E3%83%A7%E3%82%A2%E6%99%82%E4%BB%A3%E3%81%AE%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E8%80%85%E3%82%B5%E3%83%90%E3%82%A4%E3%83%90%E3%83%AB%E3%82%AC%E3%82%A4%E3%83%89/dp/4274066592%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066592' class='bookcover'><img data:asin='4274066592' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51HVFGBSN7L.jpg'></span></a></span></p>
<p>元ネタのほうは <a href="http://www.dodgson.org/omo/t/?date=20060311">前に読んでいた</a>. 
日本語で読みなおし. </p>
<p>プログラマに絞ったキャリア設計の話なのだけれど, 
よくあるキャリア読み物と違うのはとりあえず転職を煽ることがないこと. 
あと無闇にステップアップを煽らないこと. (アーキテクトになろう! とは言わない.) 
書いているのが人材業界の人ではないからかもしれない. いくらか信用できるかんじ. </p>
<p>話題は雑多. 一つの読み方としては 
"資産であるスキルを分散してリスクに備えよ" という暗黙の主張を軸に話を追う方法があると思う. 
この基本方針のもとに, 著者はプログラマが嫌がったり見落したりしがちな分散先を色々紹介する. 
たとえば嫌いなテクノロジ (ex. Java 屋からみた .NET)  を勉強しろ, 
レガシー仕事をこなせ, 営業や企画, 上司や同僚と仲良くしろ, などという. 
まっとうだ. </p>
<p>紹介されているプラクティス(格言)は 60 近くある. 
ちょっと多い. 全部やっていたらオフショアされる前に定年になってしまう. 
粒度もまちまちだから, まず先のメタな方針(リスク分散)をふまえ, 
著者の経験に基いたなるべく具体的なプラクティスに耳を傾けるのがいいとおもう. 
プラグマティック業界の受け売りな部分もある. そのへんは御愛嬌. 
あといかにもアメリカンな部分は典型的日本の職場勤めならスルーしていいと思う. 
たとえば同僚や上司を顔をあわさず口も利かずに一日を過ごす(←悪い習慣)なんて, 
私のオフィスじゃ不可能だ. 隣や向かいにいるんだもん. </p>
<p>私はこの主張を全面的には支持できないし従っていないものも多いけれど. 
それは主張が間違っているというより
私がリスク選好だということな気がする. 
保守的なつもりなんだけどなー...</p>
<p>訳はおもしろい. 
訳者 "でびあんぐる" の人達はがんばってるなあ. スループットも高い. 
他のイマイチな訳者にとられないよう, 頑張って色々訳してほしい. </p>
<h3>最近貰った本 : <a data:asin='4274066568' href='http://www.amazon.co.jp/Ship-%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88-%E6%88%90%E5%8A%9F%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E9%81%94%E4%BA%BA%E5%BC%8F%E3%82%AC%E3%82%A4%E3%83%89%E3%83%96%E3%83%83%E3%82%AF-Jared-Richardson/dp/4274066568%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066568'>Ship It! ソフトウェアプロジェクト 成功のための達人式ガイドブック</a></h3>
<p><span class='image'><a href='http://www.amazon.co.jp/Ship-%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88-%E6%88%90%E5%8A%9F%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E9%81%94%E4%BA%BA%E5%BC%8F%E3%82%AC%E3%82%A4%E3%83%89%E3%83%96%E3%83%83%E3%82%AF-Jared-Richardson/dp/4274066568%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066568' class='bookcover'><img data:asin='4274066568' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51VF38AXB2L.jpg'></span></a></span></p>
<p>Agile な方法論や実用主義の教えをもとに, 実用的なプラクティスをコンパトにまとめた本. 
プログラマ向けの読み物だけれど, 扱っているのはプログラミング "以外" の話. 
スケジュール管理とかビルドとかテストとかミーティングとか, そういうの. 
これは私が求めていた 
"<a href="http://www.dodgson.org/omo/t/?date=20050430">Doing Solid Jobs(仮)</a>" 
に近い. なかなかいい.</p>
<p>なんといっても薄い. 
およそ 40 のプラクティスに 付録を入れて 200 ページ. これなら同僚や新人に読めと言える. 
(でも私の下にいる新人はもうすぐ他所に引き抜かれるらしい. また独りだ. 切ない...)</p>
<p>agile やプロジェクト管理に興味を持っている人には目新しい内容ではないと思う. 
それは著者らも承知しており, むしろ "結構なことだ" と言っている. 
たしかに結構なことかも. 枯れてる話は揉めないからね. 
若干達人バイアスがかかっていて趣味の合わない部分もある. これは許容範囲. 
読んでいるともう少し詳しく書いて欲しい部分もするけれど,  
それをせず薄さを保っているのがエライ. 巻末の参考文献は手堅い. </p>
<h4>お仕事バグリスト</h4>
<p>目新しいものはないといいつつ実行していないプラクティスもけっこうあった.
自戒の意味でならべておこう... 
(このリストは本の目次にあるプラクティスそのものではなく, 
本文内で補足されたポイントから適当に要約してます.)</p>
<ul>
<li>サードパーティの項目も SCM に入れる (入れてない)</li>
<li>テストが自動ビルド内で動作するか確認 (テストは動かしてない)</li>
<li>作業リストは関係者全員に公開 (見える場所にあるけど積極的には公開してない. 積極的に disclose したい)</li>
<li>技術主任を置く (いない. 下っ端の権限外だけど...)</li>
<li>プロジェクトの現状概略を 5 分で作れる (今はできるけどできない時期があった.)</li>
<li>毎日のミーティング (してない. 挨拶参りのみ)</li>
<li>コードの変更通知 (してない)</li>
<li>曳光弾(えいこうだん)開発 (今はしているけどしないことが多かった.)</li>
<li>実働環境で使う要素を開発中に使う (実働環境がないのを理由にさぼるとことも. 交渉すべき.)</li>
<li>動作可能なデモを開発の初期段階から提供する (やらないことが多かった.)</li>
<li>実践例を見せて説得 (時々説教ドリブンになる)</li>
</ul>
<p>うー</p>
<p>テストの実行と差分の配信あたりかかな. 
<a href="http://damagecontrol.codehaus.org/Continuous+Integration+Server+Feature+Matrix">CI ツール</a> が win32 や C++ に冷たいのが辛い...</p>
