---
title: "最近読んだ本"
date: 2006-03-11
---
<h3>最近読んだ本</h3>
<h4><a data:asin='489100472X' href='http://www.amazon.co.jp/SOFTWARE-FACTORIES%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%95%E3%82%A1%E3%82%AF%E3%83%88%E3%83%AA%E3%83%BC-%E3%82%B8%E3%83%A3%E3%83%83%E3%82%AF-%E3%82%B0%E3%83%AA%E3%83%BC%E3%83%B3%E3%83%95%E3%82%A3%E3%83%BC%E3%83%AB%E3%83%89/dp/489100472X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D489100472X'>ソフトウェアファクトリー</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/SOFTWARE-FACTORIES%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%95%E3%82%A1%E3%82%AF%E3%83%88%E3%83%AA%E3%83%BC-%E3%82%B8%E3%83%A3%E3%83%83%E3%82%AF-%E3%82%B0%E3%83%AA%E3%83%BC%E3%83%B3%E3%83%95%E3%82%A3%E3%83%BC%E3%83%AB%E3%83%89/dp/489100472X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D489100472X' class='bookcover'><img data:asin='489100472X' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51PF587Q9PL.jpg'></span></a></span></p>
<p>Microsoft がソフトウェア工学の叡智を結集して何かしようとしている, 
その blueprint のような本. 
Software Factory 自体は野心的すぎて実現はだいぶ先になりそうだが, 
実現する手段として既存のソフトウェア工学を網羅的にまとめており, 勉強になる. </p>
<p>たとえば lightweight/agile なプロセスと heaviweight/formal なプロセスを
比較するとき, 前者を変化と戦うための手段, 
後者を複雑さと戦うための手段と分類する. なるほどと視界が晴れた. 
そういう発見が随所にある. 
あと MDA 言語としての UML を批判している部分も読みどころの一つ. 
上司が時々 UML/MDA をしたそうにしており私は冷や汗を流していたが, 
これで理論武装は万全. </p>
<p>Software Factory の内部に踏み込む後半は
話が複雑かつ野心的になってゆき, 私の知識と根性では付いていくのがしんどい. 
そのへんは挫折した. </p>
<p>ところで時々 Software Factory は日本発の技術だというような話を見かけるが, 
本文中にそんな話はでてこない. 
60-80 年代に日本で行われたという大規模ソフトウェア開発が
たまたま "ソフトウェア工場" と呼ばれていたのことに便乗した風聞だと
私は穿っている. 実際はどうなんだろう.</p>
<h4><a data:asin='4274066304' href='http://www.amazon.co.jp/Joel-Software-Spolsky/dp/4274066304%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066304'>Joel on Software</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Joel-Software-Spolsky/dp/4274066304%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066304' class='bookcover'><img data:asin='4274066304' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51YQa%2BrTYPL.jpg'></span></a></span>
朝本.</p>
<p>いくつか思うところはあれどもそれは置いておくとして, 
<a data:asin='4274065669' href='http://www.amazon.co.jp/%E3%83%9A%E3%83%BC%E3%83%91%E3%83%BC%E3%83%97%E3%83%AD%E3%83%88%E3%82%BF%E3%82%A4%E3%83%94%E3%83%B3%E3%82%B0-%E6%9C%80%E9%81%A9%E3%81%AA%E3%83%A6%E3%83%BC%E3%82%B6%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%95%E3%82%A7%E3%83%BC%E3%82%B9%E3%82%92%E5%8A%B9%E7%8E%87%E3%82%88%E3%81%8F%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%99%E3%82%8B-Carolyn-Snyder/dp/4274065669%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274065669'>ペーパープロトタイピング</a> と <a data:asin='0131429019' href='http://www.amazon.co.jp/Programming-Addison-Wesley-Professional-Computing-Series/dp/0131429019%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0131429019'>The Art Of UNIX Programming</a> は積読リストのローングテイルに追加. 
<a data:asin='1893115941' href='http://www.amazon.co.jp/User-Interface-Design-Programmers-Spolsky/dp/1893115941%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1893115941'>User Interface Design for Programmers</a> は日本語版がでるはずと見込んで保留かな. </p>
<h4><a data:asin='4480062858' href='http://www.amazon.co.jp/%E3%82%A6%E3%82%A7%E3%83%96%E9%80%B2%E5%8C%96%E8%AB%96-%E6%9C%AC%E5%BD%93%E3%81%AE%E5%A4%A7%E5%A4%89%E5%8C%96%E3%81%AF%E3%81%93%E3%82%8C%E3%81%8B%E3%82%89%E5%A7%8B%E3%81%BE%E3%82%8B-%E3%81%A1%E3%81%8F%E3%81%BE%E6%96%B0%E6%9B%B8-%E6%A2%85%E7%94%B0-%E6%9C%9B%E5%A4%AB/dp/4480062858%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480062858'>ウェブ進化論</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A6%E3%82%A7%E3%83%96%E9%80%B2%E5%8C%96%E8%AB%96-%E6%9C%AC%E5%BD%93%E3%81%AE%E5%A4%A7%E5%A4%89%E5%8C%96%E3%81%AF%E3%81%93%E3%82%8C%E3%81%8B%E3%82%89%E5%A7%8B%E3%81%BE%E3%82%8B-%E3%81%A1%E3%81%8F%E3%81%BE%E6%96%B0%E6%9B%B8-%E6%A2%85%E7%94%B0-%E6%9C%9B%E5%A4%AB/dp/4480062858%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480062858' class='bookcover'><img data:asin='4480062858' class='asin image-right' src='http://ecx.images-amazon.com/images/I/511621HKYPL.jpg'></span></a></span></p>
<p>比喩が上手い. たとえば "情報発電所" は一見ベタだけれどもとても的確だ. 
しゃれたそれらしい言い回しより, 
こういう方が意見そのものはよく伝わる気がする. </p>
<p>梅田望夫は賢くて勉強家なだけでなく, 思いこみが強くていい. 
このくらいはっきりと自信を持って色々言われると説得されてしまう. 
それが彼の楽観性を支えているような気もする. 
以前たまに evangelist なる立場が流行ったことがあったけれど, 
最近は enthusiast という言い回しをよく見かける. 
ウェブの世界では, 広告然としてエラそうになりがちな evangelist より
自身がコミットしてそうに見える enthusiast の方が支持を得たのかもしれない. </p>
<h4><a data:asin='0976694018' href='http://www.amazon.co.jp/Job-Went-India-Pragmatic-Programmers/dp/0976694018%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0976694018'>My Job Went to India</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Job-Went-India-Pragmatic-Programmers/dp/0976694018%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0976694018' class='bookcover'><img data:asin='0976694018' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51BfF0wLtEL.jpg'></span></a></span></p>
<p>普通のプログラマ向け自己啓発本. 
プログラマ向けの自己啓発本は他にもあるような気はするが, 
この本は企業内システム開発などに従事する
普通の奴らに向けてかかれており, 
lisp を使えだとかスーツや上司はアホだというような話ではない. 
かわリにレガシーのメンテナンスも悪くないんだというような話をする. 
またベンチャー路線への転身を煽りたてることもなく, 
その会社でクビにならずどのように価値を作っていくかという立場. 
いくらか現実的で好感が持てる. </p>
<p>自分という製品を企業に売りこむというメタファを中心にトピックが構成されており, 
そのためには(例えば)市場調査や広告も重要だと説く. 
プラクティスは 52 個あるので, 読めば一つくらいは気に入るものもあるだろう. </p>
<p>著者はアウトソース導入の担当としてインドに飛ばされ, そこで仕事をしていた. 
そうした経験談から自己啓発のベスト・プラクティスに話を進める. 
(仕事がインドなどにアウトソースされるのではないかという
アメリカ人プログラマの危機感が背景にあるというのは前にちょっと書いたとおり.)
体験談のノリが初めての海外旅行から帰ってきた人のそれと似ていて微笑ましい. 
妙なニヒリズムに陥らない素朴さがいい. 
これが大半のプログラマの現実だという気がする.</p>
<h4><a data:asin='1932394613' href='http://www.amazon.co.jp/Ajax-Action-David-Crane/dp/1932394613%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1932394613'>Ajax IN ACTION</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Ajax-Action-David-Crane/dp/1932394613%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1932394613' class='bookcover'><img data:asin='1932394613' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41977lG3DCL.jpg'></span></a></span></p>
<p>今時のウェブ・プログラミングはどんなものかと読んでみた. 
が, あまり面白くなかった...
まずリッチ・クライアント, MVC, デザイン・パターン, 
リファクタリング, GUI などの説明に結構なページを割いているのだが, 
どれも教科書の丸写しみたいであまり洞察がない. 
たとえばリファクタリングの話はするがテストの話はない. 
デザイン・パターンが持ち込む不必要な複雑さに関する議論もない. 
HTML, CSS, JavaScript, DOM などの説明も結構あるのだが, このへんも冗長. 
Ajax を勉強しようというプログラマが CSS や DOM を知らないとは考えにくい.
表面的な体裁をととのえるために厚くしないでほしい. 
IN ACTION だから仕方ないのだが, 全体的に入門向けの度合いが強過ぎる. 
ロバストで高機能な Ajax アプリケーションをいかに開発するかというところに
フォーカスをした本を読みたい. </p>
<p>ただ, 性能に関する話は面白かった. 
たとえばブラウザ上の JavaScript の実行性能はスクリプトそのものの実行時間より
ブラウザの再描画やネイティブ機能を呼び出すために言語境界を跨ぐ部分の時間に
影響される. (普通のアプリケーションが I/O bound になるのと似ている.) 
著者はそうした点を指摘し, 高速化の定石を示す. 
また, DOM と JavaScript の組合せはオブジェクトの循環参照を作りやすく, 
その結果メモリリークが起こる. 
長時間同じページを使いつづけるモデルだとこのリークが問題になる. 
その解決方法についても議論されている.
このへんは Ajax 特有の問題でなかなか楽しい.</p>
<p>サンプル・アプリケーションの解説では
サード・パーティ製 JavaScript ライブラリを使っている部分があり, 
そこもすこし参考になった. </p>
<h3>洋書行</h3>
<ul>
<li>02/23 "Database Management Systems" : 597-616/906 (1.0h)</li>
<li>02/27 "Database Management Systems" : 616-627/906 (0.5h)</li>
<li>02/27 "Ajax IN ACTION" : 345-371/650 0.5h)</li>
<li>03/02 "Database Management Systems" : 628-641/906 -2 (0.5h)</li>
<li>03/02 "Ajax IN ACTION" : 後半パラパラ眺める/650 (0.5h) 興味持てず了.</li>
<li>03/02 "Technical Wiring and Professional Communication" : -06-003/746 (0.5h)</li>
<li>03/02 "Technical Wiring and Professional Communication" : 009-034/746 (1.0h)</li>
<li>03/04 "Working Effectively with Legacy Code" : 003-022/434 (0.5h)</li>
<li>03/05 "Working Effectively with Legacy Code" : 023-057/434 (1.0h)</li>
</ul>
<p>"IN ACTION", 英語はともかく technically につまらなかった...
"Database Management Systems" 興味のある部分は読了. 
Advanced Topics は新しい版を買って呼んだ方が良さそうだ. </p>
<p>2/20-2/26 の週が 0.5 時間目標に満たなかった. 
残業をすると時間が無い上に帰宅後も疲れている上にイライラしていて本が読めない. </p>
<p>私は教科書が好きなのかもしれない. 教科書はぎっしり詰まっていていい. 
数式の少ない教科書が読みたい.</p>
