---
title: "本を読む時は一時間ごとに休憩をとることにしている"
date: 2006-05-16
---
<p>本を読む時は一時間ごとに休憩をとることにしている. 
疲れていなくても休憩をとるのが長期戦のコツだと勉強の達人に教わったからだ. 
休憩中は活字を追わない方がいい. このごろは口笛を吹くようになった. 
ただ, 音がかすれて悲しい. それにすぐ疲れる. 
その昔に管楽器をやっていたころは 2 octave まで鳴ったのに. </p>
<p>管楽器, 特に金管楽器は口笛増幅装置みたいなもの. 
金管の人々は唇の筋肉が発達しており口笛がうまい. 
ある先輩は 3 octave 近くを誇り, 口笛も楽器もよく響いた. </p>
<p>そういえば, 大学院の頃もよく口笛を吹いていた. 
私の研究室は人が少なく, 夜中になると私一人で部屋にいることも多かった. 
そんな時は音楽のボリュームをあげ, 口笛を吹き, 
床を踏み鳴らしながらプログラミング. 
防音のいい研究棟に気兼ねはなかった. 
(隣の研究室にいた人からは少々奇怪に思われていたかもしれない.)</p>
<p>会社で口笛を吹くことはない. 気がひける. 
他人に迷惑かというと, 電話や無駄話と大差はないようにも思える. 
ただオフィスの雰囲気にはそぐわない. 謀略と確執をうたうわけにもいくまい. </p>
<p>口笛を吹きながらできる仕事がいい. 
防音の効いた個室, Wi-Fi な公園, 生活防水の計算機. 
ハモれる同僚とマイルストンのファンファーレをめざそう. 
(デスマーチはよそでよろしく.) </p>
