---
title: "洋書道"
date: 2006-04-08
---
<h3>近況</h3>
<p>未練惜しそうに散る桜の下, 花見客の中に nikq の姿はなかった. 
花見が中止になったことを電話で知る. 宴は夜からだと. </p>
<p>宴会には irc://#lab_dodgson にいた人が多く集っていた. 
ものすごく久し振りに見る顔もある. 
私が IRC を始めたころのことを知る, 数少ないメンバがいた. 当人はその時中学生. 
若くから IRC に手を染め, その後 2ch-er になっていく彼を見ながら
私はその将来を危惧していたが, 
今はベンチャーでネットワークのミドルウェアを書いているという. 凄腕. 
これがネットに棲むということなのかと感動し, 我が身のありかたをふりかえる. 
過剰なほどウェブに依存していた私も仕事の探し方は平凡だった. 
その結果に後悔はないけれど, 違う方法もあったかもしれないと思うと面白い. </p>
<p>...路頭に迷ったろうな. きっと. </p>
<h3>洋書道</h3>
<ul>
<li>03/25 "mining the web" : 076-089/345 (1.0h)</li>
<li>03/27,28 "Inside C++ Object Model" -07-069/280 (2h?)</li>
<li>03/26 "mining the web" : 089-131/345 (2.0h) : 挫折, 途中スキップ.</li>
<li>03/27 "mining the web" : 203-207/345 (0.5h)</li>
<li>04/01 "mining the web" : 207-226/345 (1.0h)</li>
<li>04/03 "mining the web" : 226-254/345 (1.5h)</li>
<li>04/04 "mining the web" : 254-272/345 (1.0h)</li>
<li>04/05 "mining the web" : 272-286/345 (1.0h)</li>
<li>04/05 "Getting Real"  : 096-171/171 (1.5h) : 了</li>
<li>04/06 "mining the web" : 287-306/345 (1.0h) : 了</li>
<li>04/07 "Inside C++ Object Model" 069-080/280 (0.5h)</li>
<li>04/08 "Inside C++ Object Model" 080-132/280 (1.5h)</li>
<li>04/08 "The Art of Project Management" -07-014/374 (1.0h)</li>
</ul>
<p>"mining the web" で重傷, "Inside C++..." で追いうち. 
内容がわからない本のしんどさをヘッジしきれていない. 今月は軟弱路線に逃げたい...</p>
<p>3/24 の週は 0.5 足らず. 宴会が多かったからだな. 情けなや. 
現在のべ 2.5h 未達. ペナルティは \500/1h くらいを予定. 挫けた時点で清算. 
寄付先は wikipedia にしようかな. よく使うし重いから. </p>
