---
title: "深く理解すること"
date: 2006-06-28
---
<p>"富士山を動かすのにかかる時間は?" </p>
<p>答えるのが難しい質問をして, 相手の反応からその smartness を類推する. 
ハイテク面接のそんな定石は <a data:asin='4791760468' href='http://www.amazon.co.jp/%E3%83%93%E3%83%AB%E3%83%BB%E3%82%B2%E3%82%A4%E3%83%84%E3%81%AE%E9%9D%A2%E6%8E%A5%E8%A9%A6%E9%A8%93%E2%80%95%E5%AF%8C%E5%A3%AB%E5%B1%B1%E3%82%92%E3%81%A9%E3%81%86%E5%8B%95%E3%81%8B%E3%81%97%E3%81%BE%E3%81%99%E3%81%8B-%E3%82%A6%E3%82%A3%E3%83%AA%E3%82%A2%E3%83%A0-%E3%83%91%E3%82%A6%E3%83%B3%E3%83%89%E3%82%B9%E3%83%88%E3%83%BC%E3%83%B3/dp/4791760468%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4791760468'>件の本</a> などによって知られている. 
元 Google 社員による blog <a href="http://sitereservation.com/xooglers/">Xooglers</a> 
を読んでいたら, Google バージョンの難問がひとつ披露されていた. 
面白かったので紹介. </p>
<p>記事を書いた <a href="http://www.blogger.com/profile/15410489">Doug Edwards</a> は, 
1999 年からおよそ 5 年間 Google のマーケティング部門で働いていたという. 
彼が Sergey Brin との面接を回想する記事 
<a href="http://sitereservation.com/xooglers/index.cfm?entryid=8">"Answer a hard question, get some raw fish"</a> から, ハイライトを引用しよう.</p>
<pre>"I'm going to give you five minutes,"
he told me.
"When I come back, I want you to explain to me something
 complicated that I don't already know."</pre>
<p>"私がまだ知らないことを何か私に説明してほしいな." というわけ. 
Brin はそのままおやつゾーンに出ていってしまい, 
Doug は途方にくれてもう一人の面接相手 Cindy に目をやる. 
"何をやっても変なのよ. 彼." と Cindy. 
"趣味でも, なにか技術的なことでも, 好きなことを話せばいいのよ. 
そう, あなたが本当によくわかっていることをね." </p>
<p>はあ... Doug でなくても途方にくれるよな. 
この質問はかなりうまいところを付いていると思う. 
なにかを深く理解し, それを整理して他人に説明できること. 
うまくやれば, これはヒトの知性を推し量る強力な関数になりうる. 
クイズと違って暗記でごまかせないし, 喋りの能力だけで乗り切るのも難しい. 
それに, この質問は <a href="http://www.google.com/intl/en/corporate/">Google の使命</a>
である 
"organize the world's information and make it 
universally accessible and useful." 
にぴたりと符合している. 
おまえの持っている information を organize して
私から accessible にしろいうわけだから. 
世の smart は様々なれど,  Google 的なそれをピンポイントで暴く. 
これは feeling lucky な問いだといえる. </p>
<p>一方で質問者の資質も問われる. 
優れた洞察を示されてもそれを理解できず反故にしたり, 
逆にわかったふりをして的外れな理解を示したら recruitee の失望を買うだろう. 
要するに雇用側の能力が明らさまに被雇用者の能力を bound する. ガチンコだ. 
安易に真似できない. 
それをやってのける Brin はとんでもない切れ者で, かつそれを自覚しているのだろう. 
Google 創業者の個性を垣間見れた気がした. </p>
<h3>深く理解すること</h3>
<p>私はこれを読んで以来, Brin に何を説明したものかと無駄に思い悩んでいた. 
答えはでなかった. 
それから, ここしばらく何かを深く理解しようとしていない自分に気がつく. 
学生の頃は何かを深く理解しようとしていた. 
できたかどうかはともかく, そう試みていた. いつも何か考えていた. 
いつからか何も考えなくなっている. </p>
<p>理由のひとつは, 何も考えないところで実害はないからだろう. 
ものを考えるのは大変だし, 時間がかかる. その割に普段は対して役に立たない. 
むしろ物事に深くはまっていく方が危険だとさえ感じる. 
思考のコストに加えてそういう "バランス感覚" が私を無思考にしている気がする. </p>
<p>物事を深く考えるのはかなりの投機だと思う. すくなくとも私にとってはそう. 
思考や洞察は時間や体力を使うし, そのための実験には失敗がつきまとう. 
そのうえ考え抜いたところで結論が出ないことはよくある. 
それに比べると勉強は投機というより投資に近い. 勉強すれば何かは身につく. 
それが無駄になる可能性もあるけれど, 
勉強の題材にはそれなりのトレンドがあるから割にヘッジしやすい. 
プログラマは特にそう. 
たとえば Java なり Perl なりを勉強すれば当面の仕事にあぶれることはない. </p>
<p>洞察をしない私も勉強なら少しはしている. 
勉強はそれなりに面白いけれど, さほど exciting ではない. 
頭を使うことで刺激を得たいと思ったら, 
ただ勉強をするだけでなくより投機的に思考を巡らせる必要があるのだろう. 
それこそが勉強だという人もいる. 
そういう人は根が知的リスク選好な性格なのだと思う. 
私は知的リスク回避な性格だということになる. 要するに臆病ということか. 
プログラマとしてやっていくには少しいまいちだ. 意識的にリスクをとって行きたい. </p>
<p>この bottom line からして無難でリスク回避的だなあ我ながら...</p>
<h3>余談: ex-FooBar</h3>
<p>ところで 先の Xooglers は読み物としてけっこう面白い. 
Doug は個人的な体験を通して軽妙に Google の雰囲気を伝えている. なかなかの書き手. 
さすがはマーケターというところだろうか. 
もう一人の書き手であるエンジニアの Ron は逆に, 天才に囲まれて仕事をするプレッシャーを描く. 
交互にあらわれる二人の話は好対照で飽きない. (私はまだ半分も読んでないけれど.) 
Google 三部作(?) の番外編にどうぞ. </p>
<p>なお, どこかの会社の元社員 blog ではこの他に ex-Amazon の <a href="http://www.syndic8.com/~jeff/blog/?page_id=313">Geeking with Greg</a> がいい. (ぐぐったら <a href="http://www.syndic8.com/~jeff/blog/?page_id=313">ex-Amazon の blogger 一覧</a> なんてのがあった...なんちゅうか大らかでいいなあ.) ex-MSFT は列挙する気も起きないほど山ほどいそうだけれど, 
筆頭はなんといっても <a href="http://www.joelonsoftware.com/">Joel on Software</a> だね. 
Microsoft は元社員の活躍という形で世に貢献している気もする. 
日本でも <a href="http://satoshi.blogs.com/life/">中島聡</a> や 
<a href="http://furukawablog.spaces.msn.com/PersonalSpace.aspx">古川享</a> など
役者が揃ってます. </p>
