---
title: "洋書行"
date: 2006-02-18
---
<h3>洋書行</h3>
<ul>
<li>02/04 "Real-Time Reandering" : 149-164/835 (1.0h)</li>
<li>02/04 "My Job Went to India" : 078-090/185 (0.5h)</li>
<li>02/05 "Real-Time Reandering" : 165-179/835 (0.5h)</li>
<li>02/06 "My Job Went to India" : 138-159/185 (1.0h)</li>
<li>02/06 "Database Management Systems" : 323-334/906 (1.0h)</li>
<li>02/07 "My Job Went to India" : 160-185/185 (1.0h) 読了</li>
<li>02/08 "Database Management Systems" : 35-349/906 (1.0h)</li>
<li>02/09 "Database Management Systems" : 350-373/906 (1.0h) -3p(exercise)</li>
<li>02/11 "Database Management Systems" : 374-413/906 (1.5h)</li>
</ul>
<p>残業を強いられると目標達成が際どくなる. つらい. 
残業をしても続けられるよう, 読める日に読み溜めてないといかん. 
My Job ... は薄い上に字の密度も薄かった. ページ数じゃ速度はわかんないな. 
Database ... はやはりしんどい. 全部読まないにしろ, どこまで読もう. </p>
