---
title: "凄腕の居場所"
date: 2006-09-02
---
<h3>近況</h3>
<p>なぜか <a href="http://cedec.cesa.or.jp/">CEDEC2006</a> に行ってきた. 最終日だけ参加. 
Square-Enix の人による FF12 開発による話と, <a href="http://blogs.msdn.com/hiroyuk/default.aspx">Microsoft の人</a> による D3D10/WPF の話を聞く. どちらも面白かった. どちらもミーハーだ. </p>
<p>FF12 話は メインプログラマによるシステムの話, グラフィクス/ツールプログラマによるツール(デザイナや企画の人に使ってもらうやつ)の話, グラフィクスのディレクタの話. </p>
<p>システムの話は, あーゲームって組込み業界なんだなーと思わせる内容. 
メモリマップとかコンパクションとかメモリブロックのビューアとか, 
どこかで見たようなものが色々. 
ほかには品質や検証の話も. 戦闘シーンとクエスト(徒歩)シーンが別れているゲームと違い, 
FF12 のように二つがシームレスにくっついているゲームは検証すべき状態がとても多い. 
しかもメモリ不足になってはいけない. 
組込みの堅牢さと大規模ゲームの複雑さを両立させる苦労は想像するだに恐しい. </p>
<p>ツールの人の話とグラフィクスの人の話はリンクしていた. 
大量にある絵の品質を上げるには, 結局はデザイナがチマチマがんばるしかない. 
だからその作業のターンアラウンドをいかに改善するかがツール屋の仕事だという話だった. 
ディレクタの人の仕事は, こういうツールがあればもっと頑張れるから作ってくれと
話をまとめることらしい. (この文脈では.) </p>
<p>普段使うツール(Maya/Photoshop など)から
直接実機にデータを送ってプレビューできるあたりは想像の範囲だけれど, 
(実機上で動く)実際のシーンに配置したモデルなどを対話的に編集できるというのはすごい. 
エフェクトエディタも良くできていそうだった. 
ふつうの CG ツールでできる作業以外に, そのゲーム特有のパラメタを降らせることができる. 
きっと彼らの理想は実際に動くゲームの任意の点で一時停止して, 
そのカメラ位置, 背景, 光源なんかの上でモデルを編集したいんだろうね. 
動きをつけるのは更に大変だろうけど, まあ似たようなメタファーがありそうな気はする. </p>
<p>FF12 を買わないといけない気がする講演だった. でもテレビがない...</p>
<p>つぎは D3D10/WPF の話. 話の内容はだいたい聞いたことのあるもの. 
実際に動いているのを見るとやはり感動がある. 
デスクトップや開発環境の技術では(ゲームとは無関係に)他を圧倒してるよね. 
知り合いの Microsoft ファンなウェブプログラマは, 会うたびに 
"もう HTML+JS は嫌! XAML と C# で生きていきたい" という. 彼の気持がわかった. 
世の中のトレンドがそうなっていないのは気の毒というほかない. </p>
<h3>凄腕の居場所</h3>
<p>FF12 の講演に登場したプログラマ両氏は割とベテランなかんじで, 
あのチームにはベテラン(かつ凄腕)プログラマの需要があるのだなと羨しく思った. 
また夜の宴会でゲーム・プログラマの話を聞いていると, 
彼らは会うたび着実に実力を増している. 
もともと私の知るゲーム・プログラマには凄腕が多い. 
自分がいかにぼんやりと日々を過ごしているか思い知らされる. </p>
<p>ゲーム・プログラマに凄腕が多いことと, 
Square-Enix にベテランのプログラマがいることには多少関係があるように思える. 
きっと, ゲーム産業には凄腕のプログラマを必要としていて, 凄腕になるには時間がかかるのだろう. </p>
<p>私の周りをみると, 凄腕のプログラマが必要な場面は案外少い. 
たとえば "ここに凄腕が一人いればなあ" というぼやきを聞くことは少い.
"あと 10 人プログラマがいればなー" といったパターンはよくある. 
量は必要でも, その腕はあまり問われていない. 
あと "もっと仕事をとってこないと" とか, "交渉をがんばらないと" というのもある. 
知り合いの非ゲームなプログラマも, プログラマとしての実力不足で困るより
他の仕事 (たとえば管理業務) の未熟さをいつも嘆いている. 
勉強ももっぱらそんな方面に進んでいる. </p>
<p>逆にゲーム産業は凄腕プログラマを必要としているように見える. 
素数コアのハードウェア. 少いメモリ. 描画品質の競争. 出番は多そうだ. 
私がそこでやっていけるかは別として, プログラマの進む道があるのは良いことだと思う. </p>
<p>隣の芝かもしれないけれどね. </p>
