---
title: "最近読んだ本 : ザ・サーチ グーグルが世界を変えた"
date: 2006-05-01
---
<h3>近況</h3>
<p>二時に羽田, 東京バナナを 4 箱確保すること. 簡潔な母からののメールに従い
墓参りに飛んだ北国の空気は, まだ心地良い冷たさを残していた. </p>
<p>夜, 息子の勤めとして母親の愚痴を拝聴した. 
小学校の教員である母は, 公務員でありながらなかなか過労の様子. 
(蔑視発言かもしれないけれど.) 
どうも私の方が労働時間の短い節がある. とても口にできない. </p>
<p>会社員を数年やってから公務員(教員)の愚痴を聞くと, 
向こうがなかなか不思議な世界に思えてくる. 
一番驚くのは, 新米教員に就職時の研修らしいものがないこと. 
散発的にはあるというが, 
そこらへんの企業のように数ヶ月間にわたる集中的な指導をうけることはない. 
そういえば大学を出て一年目の教員に教わった記憶がある. たしかに. 
小学生の親にしてみればリスキーな話だ. 
教職員免許を持つ大学時代の同級生を, 
あるいは自分の部署に配属になった新入社員を思いうかべ, 
あんなのに自分の子を預けるのかと想像する ... 不安は大きいだろう. </p>
<p>小学校の教員はだいたい定員ちょうどしか採用されない. 
(だぶついている教員というのはあまり想像がつかない.) 
計算機産業からするとこれは異様な雇用様式に見える. 
ここでは何人かが辞めることを前提とし, 余裕を持って雇用するのが一般的. 
それに人員配置には調整が効く. 新人はしばらく古参社員の下で修行(OJT)をつむ. 
小学校教員にはそういう調整の余白がない. 
いきなり実践投入となる. (たまに副担任というケースもあるらしい.) 
だから他人に授業の様子を見てもらうことも, 他人の授業を見ることもない. 
要するに全員独学の世界. 
準備や事務処理など, 授業以外の部分では教育の機会もある. 
しかし授業をするのは一教室に一人. 冗長さが無い. 
こうした状況で質の一定した教育を期待するのには無理がある. 
私立学校に子をやる親の気持が少しわかった. </p>
<p>それにしても, 教育の専門家の教育がおざなりとは冴えない話だよな. </p>
<h3>最近読んだ本 : <a data:asin='4822244873' href='http://www.amazon.co.jp/%E3%82%B6%E3%83%BB%E3%82%B5%E3%83%BC%E3%83%81-%E3%82%B0%E3%83%BC%E3%82%B0%E3%83%AB%E3%81%8C%E4%B8%96%E7%95%8C%E3%82%92%E5%A4%89%E3%81%88%E3%81%9F-%E3%82%B8%E3%83%A7%E3%83%B3%E3%83%BB%E3%83%90%E3%83%83%E3%83%86%E3%83%AB/dp/4822244873%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822244873'>ザ・サーチ グーグルが世界を変えた</a></h3>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%B6%E3%83%BB%E3%82%B5%E3%83%BC%E3%83%81-%E3%82%B0%E3%83%BC%E3%82%B0%E3%83%AB%E3%81%8C%E4%B8%96%E7%95%8C%E3%82%92%E5%A4%89%E3%81%88%E3%81%9F-%E3%82%B8%E3%83%A7%E3%83%B3%E3%83%BB%E3%83%90%E3%83%83%E3%83%86%E3%83%AB/dp/4822244873%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822244873' class='bookcover'><img data:asin='4822244873' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51YZ7X5G77L.jpg'></span></a></span></p>
<p>はやりもの. これで Google トリロジー完結. (らしい. 正しい順序はしらない.) </p>
<p>いわゆるシリコンバレー読み物. なかなかエキサイティングでいい. 
そういうのが好きな向きには楽しいと思う. 
当事者のインタビューが多く, 
また Google 以外についても詳しいところが前二部へのアドバンテージ. 
娯楽向け仕様で参考文献はなし. </p>
<h3>最近読んだ本 : <a data:asin='4873112834' href='http://www.amazon.co.jp/%E3%82%A2%E3%83%B3%E3%83%93%E3%82%A8%E3%83%B3%E3%83%88%E3%83%BB%E3%83%95%E3%82%A1%E3%82%A4%E3%83%B3%E3%83%80%E3%83%93%E3%83%AA%E3%83%86%E3%82%A3-%E2%80%95%E3%82%A6%E3%82%A7%E3%83%96%E3%80%81%E6%A4%9C%E7%B4%A2%E3%80%81%E3%81%9D%E3%81%97%E3%81%A6%E3%82%B3%E3%83%9F%E3%83%A5%E3%83%8B%E3%82%B1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%82%92%E3%82%81%E3%81%90%E3%82%8B%E6%97%85-Peter-Morville/dp/4873112834%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873112834'>アンビエント・ファインダビリティ</a></h3>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A2%E3%83%B3%E3%83%93%E3%82%A8%E3%83%B3%E3%83%88%E3%83%BB%E3%83%95%E3%82%A1%E3%82%A4%E3%83%B3%E3%83%80%E3%83%93%E3%83%AA%E3%83%86%E3%82%A3-%E2%80%95%E3%82%A6%E3%82%A7%E3%83%96%E3%80%81%E6%A4%9C%E7%B4%A2%E3%80%81%E3%81%9D%E3%81%97%E3%81%A6%E3%82%B3%E3%83%9F%E3%83%A5%E3%83%8B%E3%82%B1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%82%92%E3%82%81%E3%81%90%E3%82%8B%E6%97%85-Peter-Morville/dp/4873112834%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873112834' class='bookcover'><img data:asin='4873112834' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51JAKEE21DL.jpg'></span></a></span></p>
<p>はやりもの. ミーハーの勢いで読む. 
ウェブの検索とモバイルを中心に, 多岐に渡る内容の技術エッセイ. 
レトリックもあってけっこう読みづらい.
色々面白い部分はあるが, 何がいいたいのかわからない部分も多かった. 
内容が抽象的すぎるかもしれない. 教科書という感じではなく, 
どちらかというと丁寧に書かれた blog という感じ. 
たぶん, ウェブ周辺をよく勉強している人には含蓄とむ内容なのだと思う. 
私にはちょっと厳しかった. </p>
<p>話題は新しく参照も充実しているから, 
興味のある話題を調べる糸口にはいいかもしれない. 
今時のウェブっ子なら何かしら興味のある話が載っていると思う. 
私もけっこう付箋した. </p>
<h3>最近読んだ本 : <a data:asin='4798110523' href='http://www.amazon.co.jp/%E3%80%8C%E3%81%B8%E3%82%93%E3%81%AA%E4%BC%9A%E7%A4%BE%E3%80%8D%E3%81%AE%E3%81%A4%E3%81%8F%E3%82%8A%E6%96%B9-NT2X-%E8%BF%91%E8%97%A4-%E6%B7%B3%E4%B9%9F/dp/4798110523%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798110523'>「へんな会社」のつくりか方</a></h3>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%80%8C%E3%81%B8%E3%82%93%E3%81%AA%E4%BC%9A%E7%A4%BE%E3%80%8D%E3%81%AE%E3%81%A4%E3%81%8F%E3%82%8A%E6%96%B9-NT2X-%E8%BF%91%E8%97%A4-%E6%B7%B3%E4%B9%9F/dp/4798110523%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798110523' class='bookcover'><img data:asin='4798110523' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51CEFZGYJVL.jpg'></span></a></span></p>
<p>ヒコーキの中で. ミーハーの勢いとどまるところを知らず. 
しかし記事はだいたいウェブで読んでいたことに気付く...</p>
<p>インタビューはちょっと面白かった. 
景色のいい職場がいいとか, 東京は時間の流れが速いとか, 
そういう土着の感覚みたいなものがいい. 
しかしウェブの時間の流れは東京より速いと思う. 
ゆっくりとした時間の流れとウェブの速さの間でどう折り合うのかには興味がある. </p>
<h3>最近読んだ本 : <a data:asin='4334032729' href='http://www.amazon.co.jp/%E3%82%B9%E3%83%86%E3%82%A3%E3%82%B0%E3%83%AA%E3%83%83%E3%83%84%E6%97%A9%E7%A8%B2%E7%94%B0%E5%A4%A7%E5%AD%A6%E8%AC%9B%E7%BE%A9%E9%8C%B2-%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%90%E3%83%AA%E3%82%BC%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E5%86%8D%E8%80%83-%E5%85%89%E6%96%87%E7%A4%BE%E6%96%B0%E6%9B%B8-%E8%97%AA%E4%B8%8B-%E5%8F%B2%E9%83%8E/dp/4334032729%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4334032729'>スティグリッツ早稲田大学講義録</a></h3>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%B9%E3%83%86%E3%82%A3%E3%82%B0%E3%83%AA%E3%83%83%E3%83%84%E6%97%A9%E7%A8%B2%E7%94%B0%E5%A4%A7%E5%AD%A6%E8%AC%9B%E7%BE%A9%E9%8C%B2-%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%90%E3%83%AA%E3%82%BC%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E5%86%8D%E8%80%83-%E5%85%89%E6%96%87%E7%A4%BE%E6%96%B0%E6%9B%B8-%E8%97%AA%E4%B8%8B-%E5%8F%B2%E9%83%8E/dp/4334032729%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4334032729' class='bookcover'><img data:asin='4334032729' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41nWXfP2xsL.jpg'></span></a></span></p>
<p>スティグリッツの講演の再録と, その解説. 
こんな講演があるなんて早稲田はいい大学だなあ. </p>
<p>内容はもっぱら IMF に対する批判. 厳しい内容だが歯切れはよく説得力がある. 
要するに IMF はアメリカの息がかかっている上, 
古い理論に盲信的でしかも反省がない. 
反省がないのは組織が不透明で責任の所在をごまかせるから. 
民主主義の原則に従い, その運営は透明であるべき. というような話. </p>
<p>スティグリッツは IMF の進めた原理主義的な自由化を強く批判する. 
自由化それ自体は公理ではないのだと. 
これには少し身をつまされる. 
私は何かとリベラルだったりアナーキーな方向に物事を考えがちだ. 
それは一般にそうあるべきだと思っているからで, 深い考えがあるわけではない. 
たとえばセキュリティやプライバシーの問題. 
ネットワークに対する法規制について私はかなり否定的だけれど, 
そこで硬直していると原理主義者になってしまうのだと思う. </p>
<p>新版も出たことだし, ミクロ経済学を読もうかな... </p>
<h3>最近読んで挫けた本 : <a data:asin='0596007868' href='http://www.amazon.co.jp/Project-Management-Theory-Practice-OReilly/dp/0596007868%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596007868'>The Art Of Project Management</a></h3>
<p><span class='image'><a href='http://www.amazon.co.jp/Project-Management-Theory-Practice-OReilly/dp/0596007868%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596007868' class='bookcover'><img data:asin='0596007868' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41R0IxNIBgL.jpg'></span></a></span></p>
<p>Joel On Software を読み, Microsoft のマネジメント様式に興味を持った. 
著者は exMSFT のプロジェクト・マネージャで, 
(本書あとがき曰く)本を書くために MS を辞めてコンサルになったらしい. 
そんな彼に MS マネジメントの話を期待して読んだのだけれど半分くらいで挫折. </p>
<p>まず英語がしんどい. レトリックが多く語彙も豊富. 
プログラマ向けの直線的な言い回しに慣れていると厳しい. 
また, 話自身も割と抽象的. </p>
<p>私がこれまでに読んだこの手の本はベスト・プラクティス駆動で話を進めた. 
"XX しよう! なぜなら YY だから. ZZ という問題もあるけど WW というわけでいいんだよ." と議論する. これは私にとってわかりやすい. 
まず XX しよう, というのを念頭に置いて読み進み, 
その命題に自分が納得するのを待つ. 最後に納得しておわる. </p>
<p>本書は, "何事もそう簡単ではない" というスタンス. 
"こんな感じで色々面倒なことがある..." と話を進め, 最後に 
"一概に良い方法はないけど私はこうやった" とガイドラインを並べる. 
でも前置きで疲弊していて肝心なガイドラインが頭に入ってこない. 
上司に説教されている気分. 
それなりにまともなことが書いてあるのだが, 意欲を保てず挫けた. 
Microsoft Way には到達できず. </p>
<p>プロジェクト・マネジメントがシンプルに行かないというのは事実かもしれない. 
ただ私はマネジメントをしたいわけでもなく, 説教を受けいれる準備ができてない. 
実際にまともにマネジメントをやって
酷い目に遭ったあとだと意欲を持って読めるのかも. 
自分にマネジメント・ブームがきたら読み直したい. </p>
<h3>最近読む前に挫けた本 : <a data:asin='4797333553' href='http://www.amazon.co.jp/%E3%81%AA%E3%81%9C%E3%83%A2%E3%83%81%E3%83%99%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%81%8C%E4%B8%8A%E3%81%8C%E3%82%89%E3%81%AA%E3%81%84%E3%81%AE%E3%81%8B-%E3%82%BD%E3%83%95%E3%83%88%E3%83%90%E3%83%B3%E3%82%AF%E6%96%B0%E6%9B%B8-%E5%85%90%E7%8E%89-%E5%85%89%E9%9B%84/dp/4797333553%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797333553'>なぜモチベーションが上がらないのか</a></h3>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%81%AA%E3%81%9C%E3%83%A2%E3%83%81%E3%83%99%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%81%8C%E4%B8%8A%E3%81%8C%E3%82%89%E3%81%AA%E3%81%84%E3%81%AE%E3%81%8B-%E3%82%BD%E3%83%95%E3%83%88%E3%83%90%E3%83%B3%E3%82%AF%E6%96%B0%E6%9B%B8-%E5%85%90%E7%8E%89-%E5%85%89%E9%9B%84/dp/4797333553%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797333553' class='bookcover'><img data:asin='4797333553' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41U58dlVuOL.jpg'></span></a></span></p>
<p>ソフトバンクが新書! と勢いで買う. 
しかし帰宅後にぱらぱらと読むと, 
そのまっとうかつ退屈なオーラにうんざりして放棄. </p>
<p>読んでないので不当な評価ではある. 
最近メンタルモデルが偏屈になってるのかもしれない...
読んで面白かった人がいたら教えてください. 再挑戦します. </p>
<h3>最近読んだ記事 : <a href="http://www.virtuas.com/articles/webframework-sweetspots.html">Java Web Framework Sweet Spots</a></h3>
<p>代表的な Java 製フレームワークの作者に, 
自分のフレームワークの利点と欠点などをインタビューしてまとめたもの. 
TheServerSide.com のイベントにあわせて作られた記事. 
登場するフレームワークは以下のとおり: JSF, RIFE, Seam, Spring MVC, Spring Web Flow, Stripes, Struts, Tapestry, Trails, WebWork, Wicket. 
(こんなにあるのかよ...)</p>
<p>設問が面白い. "ここに登場する他のフレームワークをどう思いますか" とか
"あなたのフレームワークで誤解されているところは？", 
"Ruby on Rails をどう思いますか？" など. 
特に RoR に関する質問への解答に開発者のキャラクタがあらわれて楽しい. 
ちゃんと勉強してるいるか
(ライバル心剥きだしなフレームワークは勉強してそう), 
誠実か(影響はでかいと思うよ...などと短くまとめてるのは怪しい.
まだちゃんと触ってない, というのは信用できる) など. </p>
<p>基本的に各人が勝手なことを言っているだけで
実際のフレームワーク選定に役立つとは考えにくい. 
マニア向け読み物. </p>
<h3>洋書道</h3>
<ul>
<li>04/10 "The Art of Project Management" 015-027/374 (0.5h)</li>
<li>04/15 "The Art of Project Management" 028-048/374 (1.0h)</li>
<li>04/16 "The Art of Project Management" 049-049/374 (1.0h)</li>
<li>04/17 "SWEBOK"                            1.1-2.2 (0.5h)</li>
<li>04/17 "The Art of Project Management" 049-067/374 (1.0h)</li>
<li>04/18 "The Art of Project Management" 068-082/374 (1.0h)</li>
<li>04/19 "The Art of Project Management" 082-095/374 (1.0h)</li>
<li>04/20 "The Art of Project Management" 095-109/374 (1.0h)</li>
<li>04/22 "The Art of Project Management" 109-125/374 (1.0h)</li>
<li>04/23 "The Art of Project Management" 125-140/374 (1.0h)</li>
<li>04/25 "The Art of Project Management" 140-154/374 (1.0h)</li>
<li>04/26 "The Art of Project Management" 154-174/374 (1.5h)</li>
<li>04/26 "SWEBOK"                            2.3-3.2 (0.5h)</li>
<li>04/27 "CACM April 2006"               037-051 (1h)<ul>
<li>"Supporting Exploratory Search"</li>
<li>"Exploratory Search From Fining To Understanding"</li>
<li>"Exploring Personal Information"</li>
</ul></li>
<li>04/27 "The Structure of Collaborative Taggin Systems" 001-008 (1h)</li>
</ul>
<p>4/10 の週は何をやっていたんだ我ながら... 
ハズレのダメージは非プログラマ向けの本だとさらにでかい. 
あとはアップロードをさぼったことか. 
慎重に面白そうな本を選び, 予備でヘッジし, こまめにアップロード. 
あと論文解禁. やっぱりこれが別枠だと読めなくて悲しい. </p>
<p>5h 未達, 合計 7.5h 未達. \3.5k か. 半年くらいで一度清算しよう. wikipedia 万歳...</p>
