---
title: "積んでおく人 (1)"
date: 2006-09-13
---
<h3>積んでおく人 (1)</h3>
<p>会社の同僚と雑談をしていて, 積読の話になった. プログラマの積読. 
その同僚自身は積読をしない人なのだが, 友人にヘビー積読者がいるという. 
一緒に本屋にいく, 計算機書籍フロアに寄る, そしてガサガサッとつかむ. 
特にレアな本(計算機本でレアってのも珍しいですね)を発見すると見境ない. 
重くて持ち帰りに苦労するくらい金に糸目をつけないで買うらしい. 
でも読まないんだって. </p>
<p>彼の家へ遊びにいくと床が抜けるんじゃないかというくらい 
(読まれていない) 計算機書籍が山積みになっていて, まさに積読なのだということだった. 
ふしぎだねーと相槌をうち, 雑談は終息した.  </p>
<p>私の知り合いにも重度の積読者がいる. 
一緒に本屋にいくと, 必ず何かしら計算機書を買っている. 
彼の家にいくとマンガに紛れて色々気になる本が積んである. でも読まれていない. 
いつも借りていこうかと迷うのだが, 私は下線を引いたり破いたりしたい. 
だから結局借りることはなく, いつも指をくわえている. 
(かわりにマンガを読むからいいんだけれど.) </p>
<p>私にも積読はある. でも, 積読するのは挫けた本だ. 
なんでもいちおう 2 章くらいまでは読むのがふつう. (難関すぎて瞬殺された場合を除く.) 
積読者の友人は, 挫ける以前に手をつけない. たまに前書きと導入部くらいは読んでいるらしい. 
もったないなくて涙がでる. 
半額で売ってくれと迫りそうになるも, 友情のためにそれは控えている. </p>
<h4>私の積読歴: 積読期</h4>
<p>他人事のように書いているけれど, 思いかえせば私にも積読の時期があった. 
学生の頃はかなり積読していた気がする. 
あのころはカゴを抱えてジュンク堂をトラバースし, 
両手に袋を下げて帰宅することが何度かあった. 
どういうポートフォリオで本を選んでいたのかはよく覚えていないけれど, 
だいたい 5 冊買って 2,3 冊読むくらいだった記憶がある. 
といっても読まない本があるんじゃなくて, 
途中で飽きたり難しかったりでパスするのが普通だった. </p>
<p>大学院の頃からは洋書に手をだしはじめた. 
洋書は完全にノータッチの本がけっこうあった. 
というかまともに読む方が珍しかった. 前書きと一章くらいで挫けるのは日常だった. 
研究の流れで CG 関係の本をよく買ったけれど, どれも数学が多くて辛かった. 
スキップしつつも最後まで読んだのは, 
初版の <a data:asin='1568811829' href='http://www.amazon.co.jp/Real-Time-Rendering-Tomas-Akenine-Mo%CC%88ller/dp/1568811829%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1568811829'>RTR</a> と 
OpenGL の <a data:asin='0321335732' href='http://www.amazon.co.jp/OpenGL-Programming-Guide-Official-Learning/dp/0321335732%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321335732'>赤本</a> くらいだと思う. どちらも数式は控え目. 
この頃の私はヘビー積読として振る舞っていた気がする. </p>
<p>CG と無関係な仕事に就いたので, CG の本を買い増すことはなくなった. 
RTR を除くと最後に買ったのは <a data:asin='1568811985' href='http://www.amazon.co.jp/Realistic-Ray-Tracing-Second-Edition/dp/1568811985%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1568811985'>Realistic Ray Tracing</a> かな. 
これは中盤に熱力学の話が出てきて積分記号に挫けた. (ほらやっぱり数式だ...) 
この時期は, そもそもあまり技術書を読んでいない. もっぱら仕事ばかりしていたためだ. 
この日記を確認しても, 2003-2005 はほとんど技術書の紹介がない. 
また読むようになったのはこの一年以内. それまで三年くらいブランクがあるんだね. </p>
<h4>私の積読歴: 節約期</h4>
<p>このごろはまた読むようになったけれど, なるべく積読はしないように心がけている. 
理由はいくつかある. まず, 外部的な制約があること. 
ひとつは本棚の体積. もう一杯なのでなるべく増やしたくない. もう一つは予算. 金がない. </p>
<p>積読するとかえって読まなくなる, という経験のせいもある. 
学生の頃は暇だったので, 5 冊積めば 2 冊は読んだ. 今は時間の制約で, 
何冊詰まれても読める量はずっと少い. 
だから積読が増えると, どれも読まなければいけない圧力でかえって読めなくなる. 
積読スラッシング. </p>
<p>あとは反面教師から学んだ. 本を買っても読まない人を自分以外に何人も見てきた. 
会社の机の上にある種の名著が置かれている人はけっこういる. 
でも, それを読んでいる人は稀だ. だいたい積んであるだけ. 
そういう人に限って他人には本を読めなどと説教するので, 何度か不愉快な思いをした. 
だから生理的なレベルで見せ積読に不快感を持つようになった. 
逆に, 本当によく本を読んでいる人に会った影響もある. 
そういう人は議論の論拠として書籍のベストプラクティスを引くことができた. 
そうありたいと思うようになった. </p>
<p>だから最近, 特に技術書の積読はだいぶ減った. 
(逆に小説や専門外の教科書などがやや積んでおかれるようになった.)</p>
<h4>積読への引力</h4>
<p>なぜ積読者は読まない本を買うのか. 
そのメンタリティを知るには, まず大学院の頃を思いだせば良さそうだ. 
(当事者ですからね.) </p>
<p>あのころは財力と場所があった. 欲しい本の半分くらいは研究室の予算で買えたし, 
親元住まいかつバイトをしていたおかげで経済力もあった. 
買った本を置く場所は研究室の本棚だったので, 場所の心配もなかった. 
だから心おきなく本を買えた. </p>
<p>CG の世界には英語の専門書がたくさんあった. (これはどの分野でも同じか...) 
研究者たるもの専門書を読まねばという思いこみがあったせいで, 
とりあえずと色々買っていた. でも読まなかった.</p>
<p>でもこれだけだと, 私がいま積読をしていないのは
単にパラメタの問題という気がしてくる. そんなことはない, とおもう. 
状況証拠だけだと読まないのに買う根拠ははっきりしない. 
もっとうまく説明できないものか...</p>
<p>先週からそんなことを考えている. つづくかも.</p>
