---
title: "TODO: make someone happy"
date: 2007-10-21
---
<h3>TODO: make someone happy</h3>
<p>ある日、きみは決意する。<br />
来週から N 回続けて金曜日に女の子とデートをしよう。<br />
とりあえず N=8。<br />
まずきみは計画をたてる。<br />
食事の予約(詳細は保留)、部屋の掃除、花。<br />
あとはデートそのもの。<br />
きみはその計画をぼくらのツールに登録する。<br /></p>
<p>翌日、きみは気付く。<br />
なにより女の子に電話して約束をとりつけなければ。<br />
不幸なことに、それには時間がかかることをきみは知っている。<br />
気が弱いんだ。きみは。<br />
更新した計画は時間が溢れるとわかる。きみは部屋の掃除を諦める。<br />
どのみち女の子を部屋まで誘う望みは薄い。</p>
<p>月曜が来て、きみは予定をこなしていく。<br />
金曜日はデート、土曜日はうかれて歌い、日曜は昼まで眠る。<br /></p>
<p>これを二週くりかえし、三度目の月曜。<br />
きみは過去の計画を見直すことにする。<br />
優しい店員に恵まれて、花束作りはすぐに終わった。<br />
(財布に優しくはなかったけれど。)<br />
そしてやっぱり電話は苦手で、誘い出すのに手間どった。<br />
先週も、先々週も。<br /></p>
<p>きみはこの実績から将来の予定を更新する。<br />
残りは 6 週。たぶん、きっとうまくいく。<br />
そのあとはどうしよう。<br />
誰かを幸せにする、そんな予定をたててみる。<br /></p>
<p>汚いままの部屋をきみが思いだすのは、四日後、金曜の夜のこと。<br /></p>
<p>...なんてかんじのテストデータ用シナリオを TODO ツール向けに書き、
寂しい気持ちになった日曜の夜でした。
ほんとさびしい。あらあらかしこ。</p>
