---
title: "Efficient JavaScripit"
date: 2007-04-20
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?EfficientJavaScript">Efficient JavaScripit</a></h3>
<p>知り合いが "ちょっぱやいウェブアプリを作りたい" というので訳してみた. 
いつもどおり <a href="http://www.hyuki.com/yukiwiki/wiki.cgi?EfficientJavaScript">YukiWiki に置かせてもらってます</a>. 
訳したのはいいけれど, 話を聞く限り彼の方が色々知ってそうな気がする. 
世間の JavaScripten にとっては当たり前の話なのかもしらん. 
性能話の例にもれず, ちょっと怪しい部分もあるし...
個人的には DOM 周りがそれなりに面白かった. Opera の頑張りが色々わかる. 
著者の Mark "Tarquin" Wilton-Jones は 
<a href="http://www.howtocreate.co.uk/operaStuff/myJob.html">Opera の technical writer だそうな</a>. </p>
<p>文中にでてくる再フロー(reflow)は, 要するにページのレイアウトを決める作業のこと. 
このあいだ Mozilla の reflow の経過から動画をつくった人がいて, 
とても面白かった: "<a href="http://d.hatena.ne.jp/gyuque/20070327">最速チュパカブラ研究会: GeckoのReflowをアニメーションにする</a>". たしかに "フロー" なかんじがするよね. </p>
<h4>追記</h4>
<p>リファラ...じゃないけど。</p>
<ul>
<li><a href="http://mumrik2.spaces.live.com/Blog/cns!51ED6D671E97A131!633.entry">勉強するのが、そんなに偉い訳！？: 計測せずに速度を語るのって</a></li>
</ul>
