---
title: "Community Engine には "
date: 2007-05-26
---
<h3>近況</h3>
<p>Community Engine には 
<a href="http://www.greasespot.net/">Greasemonkey</a> ユーザが多い. 
社内向け userscript まである. 
Web 中毒な若者のおもちゃだと信じていた拡張だけに, ちょっと意外. 
(みな Web 中毒者なのかもしれないけど...) 
遅延大衆型中年であるところの私は bookmarklet で用が足りており, 
Greasemonkey はインストールしていない. 
Firebug も <a href="http://shibuyajs.org/articles/2007/03/09/shibuya-js-technical-talk-3-shibuya-es">Shibuya.js</a> で実物を見て感動し, ようやくインストールした ... Web プログラマじゃないから使い道はないけれど, 時々エラーが出ているのを見つけるとなんとなく嬉しい.</p>
<p>それはさておき, このごろまったく読書が捗らない. 
原因はグダグダと Web を見ているせい. これはいかん. 
そこでしばらく平日の夜をオフラインで過ごそうと決め, 
先週はケーブルを抜いて会社に持っていった. 
Bloglines の未読は週末にこなそう...と思ったら, 案外量が多い. 辛い. 
とりあえず読みそうなやつだけブックマークしておいて平日に読むことにした. 
(言いたいことはあろうけれど読み流してください.) </p>
<p>どうやら <a href="http://reader.livedoor.com/">livedoor Reader</a> には
それを支援する <a href="http://reader.livedoor.com/guide/clip.html">一発クリップ</a> 
なる仕組みがあるらしい. こういうのが欲しい. でも乗り換えはめんどくさい. 
Bloglines にも似たようなクリップ機能があるが, 閲覧性が著しく低い. 
ふつうのオンラインブックマークに登録したい. 
こうしてめでたく Greasemonkey デビューをすることにした. </p>
<p>ぐぐってみるとほぼ欲しいものが見つかった; <a href="http://userscripts.org/scripts/show/3663">Bloglines - Post to Del.icio.us</a> というスクリプト. 
ただ del.icio.us のブックマークにあとでよむページを登録するのは偲びない. 
どうせ大半はどうでもいい話だろう. 
他のブックマーク・サービスをいくつか試したけれど, どれもゴツすぎて今回の用途には向かない. 
タグもフィルタもいらないから, URL だけ登録させてほしい. 
ふと昨今流行なミニブログ類は使えないかと思い, いくつか試す. 
<a href="http://twitter.com/">Twitter</a> は URL 長に制限があるらしいからパスして, 
<a href="http://www.tumblr.com/">Tumblr</a> にしてみた. 
あとは先のスクリプトを Tumblr 用に手直しすればいい. おお, なかなか快適. せっかくなので Mercurial で公開してみよう: <a href="http://dodgson.org/omo/toybox/?raw-file/tip/userjs/bloglines_post_to_tumblr.user.js">Bloglines - Post to to Tumblr</a> ... バグなおして URL 書き換えただけだけど ... </p>
<p>こうして(どことなく無理のある)若者ポイントが 3 点加算された週末でありました. 
読書は捗っておりません. </p>
