---
title: "近況。"
date: 2007-08-01
---
<h3>近況。</h3>
<p>「マクドナルドはいかが」<br />
ある遅い夜、私の誘いに胃袋はギュっとノーを答えた。
こんな胃袋は初めてだ。当惑する私に胃袋は続ける。<br />
「僕は少し濃い醤油味のおかずで、御飯と味噌汁をおなか一杯たべたいのです。
ハンバーガーでもステーキでもない、
ラーメンでもチャーハンでもカレーでもピザでもない、御飯がたべたいのです」</p>
<p>食事を終えた私はふたたび胃袋に尋ねる。<br />
「じゃあビールはいかが」<br />
胃袋は嬉しそうにキュっと鳴り、しかしすぐ我に返って横隔膜を正す。<br />
「明日も仕事ですから。それに、もうすぐ閉店ですよ」<br />
胃袋の考えが私にはわからない。けれど、胃袋は私のことをわかっている。
私は胃袋を信じている。<br />
「せめてデザートはいかが」</p>
