---
title: "Reddit の 良心 - 最初のお願い"
date: 2007-05-17
---
<h3><a href="http://redditscon.blogspot.com/2007/05/first-charge.html">Reddit の 良心 - 最初のお願い</a></h3>
<p>いいかい redditer のみんな, 
もうエリートぶったり, 鬱積した十代の連中みたいに振る舞うのをやめる潮時だ. 
このサイトで僕達が支持する内容についてよく考えてみよう. 
ただ何時間もの暇をつぶすためだけに, 
あるいは創造的な人は非論理的だとか, 
温暖化は本当だとかそんな話を説くためだけにこのサイトを使うなんて悲しい. 
その手の話は 1, 2 年続いている. もうわかった. みんな納得してるよ. </p>
<p>僕らはとても似通った人間の集まりだと自覚しなければならない. 
大半は疑り深く(従って無神論者で), 
少なくとも宗教に対しては従来的な批判の姿勢をとっている. 
僕らは左翼で, 科学指向で, 技術やプログラミングや計算機に強い. 
言論や表現の自由, 情報交換の自由を強く支持している. </p>
<p>さて僕らはここで自己満足をするだけなんだろうか? 
同じゴミネタ相手に何度も何度もピーチクやって, 
自分自身の見方は正しく, より優れている, そう確かめているだけだろうか? 
僕らは沢山の記事を投稿する. 
その記事はどれだけアメリカが, 政府が, 世界が, 環境が間違っているかを書いている. 
僕らはなんとなく世界をよくした気になる. それを読んだだけで. 
不幸なことに, どれだけその問題について読み耽ったところで, 
僕らがやっていることはそれだけだ. 読むこと. 何も問題は解決しない. 
<a href="http://en.wikipedia.org/wiki/Ichthys">イエスの魚マーク</a> を
車に貼ってる連中とおなじだ. 
その記事が問題について実際に優れた大局的な視点を示さないなら, 
僕達がこのサイトでしていることは精神的なオナニーと同じだ. </p>
<p>僕から君たちにお願いがある. もう少しだけ, 何をアゲて何をサゲるか考えるようにしてほしい. 
たとえばいつもの語り口でドーキンスの主張を見るのは何度でも楽しいし, 大賛成の気分になる 
...けれど, それはまったくどうでもいいことなんだ. 
もし僕らが本当に宗教がらみの問題をどうにかしたいと気にかけるなら, 
身内で盛り上がるのは止めよう. 
少し時間をかけて学ぶといい. 
僕らにとってこんなにも自明で論理的な考えを, 信心深い人々はなぜ拒むのだろうか. 
どうしたらこの問題を正すことができるか, 
そのアイデアを読み交わすことに時間を使う必要がある. 
クリスチャンである君の友達に神の存在についての論理バトルで勝っても, 彼は何も変わらない. 
君が鼻を高くするだけで, 友達はもっと極端な態度をとるようになるだろう. 
この成行きは reddit で扱われることすべてに共通している. 
物事をけなしたりエゴを膨らますのに reddit を使うのはやめよう. 
本当の意味で問題にとりくむ手段としてこれを使おう. </p>
<p>僕らは 60 年代のカウンターカルチャーをある種の比較に使えると思う. 
サイケ革命とともに失敗はしたけれど, 
(原因は Hunter T. Thompson が歌うように説明している.) 
今でもその影を残している. 
彼らは新聞で間違った出来事について読むことから革命を成し遂げたわけじゃない. 
直接行動したんだ ... 参加することによって. 彼らは強引でも声高でもなかった. 
けれど "融和主義者(inclusionist)" だった. 
reddit は, 今のところ 100% 排他的(exclusion based)だ. 
気に入らない意見があったらサゲる. 
こんなことで, 他の人達が僕らのところに入ってきたくなるだろうか. </p>
<p>だからもう馬鹿みたいな真似はやめよう. 
ここが分かれ道だ. reddit が単なる僕らの共通見解掲示板になってしまうか, 
あるいは真の意味で物事に興味を持つ人々が集い, 
必要なことをなすために考えを交わして視野を広げる, そんな場所になるか. </p>
<p>そして今すぐやるべきことは, 自分がアゲることの効果を少しだけ考えてみること. 
そして同じくらい大事で気を使いたいのが, 何を投稿するかということ. 
トップページの六番目が自分の投稿だと IM で友達に自慢するヨロコビは僕にもわかる. 
けれど宿命的ともいえるその大きな力に, 僕たちは抗することができるはず. そう信じている. 
(それは多少なりとも既得利権のオンライン版なわけで, 君のバブルを弾いてしまうのは申しわけない.)</p>
<p>僕がこんなことを言うのは, reddit の持っている, 持つことのできる力を, 
心から気にかけているからだ. 
影響に足るだけの redditer が同じように感じてくれたらいいと思う. 
reddit のコンテンツがずり下がっていると感じている人, 
サイトを濫用するのではなく良くしようと努めている人. 
インターネットは, 特に reddit は, 監視のない自由な情報交換の力を持っている. 
そう僕らが考えているなら, 僕らは目を覚まさなければならない. 
その高潔さと役割を支える力は僕らだけが持っているのだから. 
僕らを取り締り, 肩越しに監視する人は誰もいない ...自分のことは自分でやる. 
自分を守れるのは自分だけだ. 僕らにはこの困難に立ち向かう責務がある. </p>
<h4>補足と所感</h4>
<p>元は <a href="http://redditscon.blogspot.com/2007/05/first-charge.html">Reddit's Conscience - The First Charge</a> という記事. ちょっと面白かったので訳してみた. </p>
<p>私は <a href="http://programming.reddit.com/">programming.reddit</a> 
を RSS で読んでいるだけから, 
<a href="http://reddit.com/">reddit 全体</a> がこの記事でいうような事態になっているかは知らない. 
(programming.reddit は, Haskell と Erlang と Paul Graham の話が多い以外はまあまあ面白いと思って読んでいる. もうちょっと Windows や C++ や Java を構って欲しい気はするけど.) 
コメント欄を見ても, 同意を示す人もいれば 
"別にそんなに悪くないよ" とか "どうせ時間つぶしだからいいんだよ" みたいな意見もあり, 
賛否はわかれているようす. (そもそも大して盛り上ってない.) 
それに明示的な rating は上手くいかないのが世の定めだと聞き齧っている身からすると, 
reddit がその仕組みで上手くやってきた事実の方にむしろ驚きがある. </p>
<p>内容の是非はさておき, 
reddit にはこんなにコミュニティ意識の強いユーザがいるという事実が心を打つ. 
はてなブックマークにもコミュニティがあるらしいけれど, 
自分で使っていないせいかあまりピンとこない. 
はてなダイアリーのコミュニティのサブセット +a くらいの印象. 
もともとはてなブックマークは reddit より個人向けのツール指向が強そうだから, 
あまりコミュニティぽっさを感じないのかもしれない. そんな個性なんだな. 
そのほか, 上の記事では redditer をエリートと呼び, それを問題視している. 
以前はてなブックマークで質の劣化が騒がれた時は, 
逆にユーザがアホという論調が目立っていた. 
同じようなツールなのにユーザ側からこういう違いが現れるのは面白い. </p>
<p>そういえば私は 
<a href="http://b.hatena.ne.jp/hotentry?cname=elec">はてなブックマークのコンピュータエントリ</a>
も読んでいる. 
コンピュータという括りの広さや日本語のプログラマ読み物の少なさを踏まえれば
そんなに悪くない内容だと思う. 量もほど良いし. 
vote のないはてなブックマークと比べてみると, 
reddit の vote それ自身はあまり選別の役に立っていない気がする. 
かわりに vote という行為自体やフォーラム風のコメント欄を通じて
ユーザのコミュニティ意識が高まり, 
その意識によって reddit の質が制御されているのかもしれない. </p>
<p>そんなあれこれから socialware の力学を垣間見た気になる日本語訳でありました. 
あらあらかしこ. </p>
