---
title: "花見のおしらせ"
date: 2007-03-15
---
<h3>花見のおしらせ</h3>
<p>今年は花見やります. </p>
<p>メールアドレスが発掘できた範囲で連絡をさしあげましたが, 
連絡の届いていない方は omo-at-dodgson-dot-org か
コメント欄までおしらせください. 
なんかよくわからんけど花見したい, という方もお待ちしております. </p>
<p>概要：</p>
<ul>
<li>日時: 2007/3/31(土)</li>
<li>場所: 上野公園</li>
<li>宴会: あり</li>
<li>雨天宴会のみ</li>
</ul>
