---
title: "最近もらった本 : アジャイルプラクティス 達人プログラマに学ぶ現場開発者の習慣"
date: 2007-12-22
---
<h3>最近もらった本 : <a data:asin='4274066940' href='http://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%83%97%E3%83%A9%E3%82%AF%E3%83%86%E3%82%A3%E3%82%B9-%E9%81%94%E4%BA%BA%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%81%AB%E5%AD%A6%E3%81%B6%E7%8F%BE%E5%A0%B4%E9%96%8B%E7%99%BA%E8%80%85%E3%81%AE%E7%BF%92%E6%85%A3-Venkat-Subramaniam/dp/4274066940%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066940'>アジャイルプラクティス 達人プログラマに学ぶ現場開発者の習慣</a></h3>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%83%97%E3%83%A9%E3%82%AF%E3%83%86%E3%82%A3%E3%82%B9-%E9%81%94%E4%BA%BA%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%81%AB%E5%AD%A6%E3%81%B6%E7%8F%BE%E5%A0%B4%E9%96%8B%E7%99%BA%E8%80%85%E3%81%AE%E7%BF%92%E6%85%A3-Venkat-Subramaniam/dp/4274066940%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066940' class='bookcover'><img data:asin='4274066940' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51YiZblziqL.jpg'></span></a></span></p>
<p>いただきました. ありがとうございます &gt; 訳者のかたとオーム社の中のかた. 
薄くまとまっているのは良いと思いました. 
あとはなにより訳が良いというのはアジャイル本では重要なのだと再認識しました. </p>
<p>これは本を貰ったお世辞が二割くらいで八割本当. 
私がこれまでに読んだアジャイルの本はなんというか lost in translation があり, 
アジャイル固有の良く言えば情熱的な, 悪くいえば宗教がかった迸りが失われていた. 
この本でも強調されているとおり, 
アジャイルの文脈では態度や感情の持ち方がそれなりの比率を占めている. 
それを伝える上で文体の果たす役割は大きい. 
訳文はそうしたアジャイルのノリをうまくあらわしていると思う．　</p>
<p>具体的な内容は, 私にとってはおおよそどこかで聞いた話だった. 
アジャイル関係の本はちょこちょこと読んでいるから当たり前かもしれない. 
入門書として見た時の話題の選び方は妥当なかんじ. </p>
<p>...</p>
<p>もう少し素直に言うと, 
この本に従って上手くいく人は半分以下じゃなかろうか. 
薄さとのトレードオフで細部が犠牲になっている. 
最初はここで自分の体験からどのように上手くいかないかを延々と列挙するつもりだったけれど, 
考えているうちに記憶が蘇えり比喩でなく涙が出そうになったのでやめておいた. 
それに, 書いたところでうさ晴らし以上の役には立たないだろう. 
"幸福は驚くほど一様だが, 不幸は様々である" ってやつ. 
(<a href="http://www.gutenberg.org/etext/1399">元ねたはトルストイ</a>だと最近知った.) 
文脈に依存した細部は一般化しづらい. <a href="http://www.acmqueue.org/modules.php?name=Content&amp;pa=showpage&amp;pid=497">Joel</a> も <a href="http://beautifulcode.oreillynet.com/2007/09/when_good_code_looks_bad.php">Michael Feather</a> も文脈の重要性を強調している. 
そう考えるとこの薄さは妥当なトレードオフだと言える. </p>
<p>アジャイルの入門書がもつ役割は, ある &lt;一様な幸福&gt; のプロトタイプをもたらすことだと思う. 
アジャイルの方法論が誰にとってもハッピーとは限らない.  
だから気に入らなかった人は無理に従うこともない. 
一方で, そもそも楽しく働くのがどういう状態かを
想像できていないプログラマも世の中にはけっこういる. 
そういう人は独占的外資IT企業や実体のわからないベンチャーの人事広報が広める
独占的コーラ飲み放題や実体のわからない自由研究制度の宣伝に振り回されながら, 
ただやさぐれていくことしかできない. </p>
<p>アジャイルの方法論も無茶な理想に走りすぎる部分はある. (ex: XP1ed. のオンサイト顧客) 
けれど少しは現実的でもある. 
たとえば製品開発でなく受託開発に使える. 
湯水のような余剰資金とスーパーハッカーのかわりに
頭のとんがっていない上司とそこそこ仲の良い同僚がいればいい, ことになっている.  
彼らを説得するのは富士山を動かすよりもいくらか楽だろう. 
(一人ではじめてもいいけれど, 辛い道程になる.) </p>
<p>私は割と早い時期, XP が出始めた頃からアジャイルの話を読んでいる. 
そのせいか, 大半のプログラマはアジャイルいいなあと思っているものだと勝手に信じていた. 
けれど仕事をする中で, 開発プロセスに興味のないプログラマが多いことを知った. 
"技術が好き" という立場をとるプログラマはプロセスを好まない. 
そうでなくても, 仕事術やリーダーシップ, 果てはプロジェクト管理の本を読みながら
アジャイルをはじめとする開発プロセスの話を読んでないケースがある. 
そうした人々はアジャイルとフラジャイル(=グダグダ)の区別がついていない. 
先の lost in translation 問題も事態を助長している. </p>
<p>アジャイルに限らず, 開発プロセスの本はソフトウェア開発に特化したビジネス書だ. 
だからプログラマなら一般的な自己啓発本やライフハックをかじる前に 
XP なり Scrum なりを調べてみる方が実入りはいい気がする. 
なにしろソフトウェア開発に話題を絞り, 断片的なハックでなくまとまった仕事術が
開発プロセスの手法なわけだから. 
この本が開発方法論以外のもう少し軽薄(?)な文脈で話題になり, 
これまで敷居の高さからリーチしなかったプログラマにまで届けば良いと思う. </p>
<p>そうしてアジャイルいいなと試してみて失敗して, 結局はハックが必要になる. 
けれど, そんなときプログラマとしてアジャイルに楽しく働ける状態が想像できれば
工夫の仕方も変わってくるだろう. 
私はしばらくそうした職場ハックの意欲を失っていた. 
でもまだ試していないことはあるなと気を取り直した. 
どうぞよろしくおねがいします. &gt; 同僚のひとたち </p>
