---
title: "パーティーで会った素敵な女の子が君のプログラミング言語に思うこと"
date: 2007-03-28
---
<pre></pre>
<h3><a href="http://clintonforbes.blogspot.com/2007/03/what-does-hot-girl-at-party-think-of.html">パーティーで会った素敵な女の子が君のプログラミング言語に思うこと</a></h3>
<p>こんな場面を考えてごらん. 
もしおたくの君が, 仮に, パーティーで会った素敵な女の子に話しかけたとする. 
それっていかにも架空の話なわけだけれども.  
おたくの君はちょっと挨拶をしただけで, 
天気や音楽だとかの話題を切らしてしまった. 
そこで古のお約束を口にする. </p>
<pre></pre>
<p><em>おたく:</em> 
で, 君は最近なにしてるの ?</p>
<p><em>女の子:</em> 
えっと, 平日は怪我をした野生の狼を保護するシェルタで仕事してるの. 
週末は Viper Room に詰めて踊ったりかな. </p>
<p><em>おたく:</em> 
すごいや !</p>
<p><em>女の子:</em> 
それで, あなたは ?</p>
<p><em>おたく:</em> 僕は小さな会社で働いてる. XXXXXX プログラマなんだ.</p>
<p>さて, この XXXXXX には君の使っているプログミング言語が入る. 
計算機プログラミングの話なんてしようものなら, 
女の子はすぐ違う話に移ろうと自分のインメモリ・データベースを検索しだすだろう. 
間違いない. 
けれど, 女の子がどれだけすぐに逃げだすかは XXXXXX の中味で決まる. 
彼女が逃げだすまでに話題を変えるチャンスには差がでてくる. </p>
<p>この問題についておたくの民を啓蒙すべく, 
僕は 500 人のビキニモデルにインタビューした. 
彼女達が代表的なプログラミング言語に持つ印象を聞いてみたわけ. 
結果は以下のとおり:</p>
<ul>
<li><em>PHP</em>: 好奇心のある女の子なら, PHP が何なのかを聞いてくるだろう. 君は PHP の略称を説明する... "PHP: Hypertext Preprocessor". パーティーの会話で "再帰的" と口にした瞬間, 君は夜が終わったと気付く. 君はしずかに家路につく.</li>
</ul>
<ul>
<li><em>Ruby</em>: 少女の名前がついた道具で一日中仕事をしているなんて. 彼女はわらう. そしてボーイフレンドのことをぽろりと口にする. スタンレイ, アームストロング, シックローム. そんな男らしい名前の道具を使う, 機械工の彼のことを.</li>
</ul>
<ul>
<li><em>Python</em>: 君がお気に入りの言語の名前を口にした途端, 彼女は君に同情の視線をよこす. 彼女は考える. 明らさまに性的な名前の言語を使うなんて, 何か自信のなさをごまかそうとしているかしら. V8 convertible に乗る中年を見るような目で, 彼女は君をみる.</li>
</ul>
<ul>
<li><em>C++</em>: 説明の余地はない. 単項演算子がなかったら, 君は好きな言語の名前を口にすらできない. "シー・プラス・プラス", 間抜けな響きが君の口を離れる間もなく彼女はこたえる. "頭がいたくなってきちゃった. もう帰るわ."</li>
</ul>
<ul>
<li><em>Fortran</em>: 勘違いした彼女はいう. 弟の好きな映画が "ゴジラ対フォートラン" だったわ. 自然と会話は進み, Mark Wahlberg の新作映画の話になる. それを観たいと彼女はいう. 危機は去る. 君は勇気を振り絞って彼女を誘う. "<a href="http://imdb.com/title/tt0822854/,Shooter">Shooter</a>" を観にいきませんか. 彼女は気付く. なんて素敵なおたくなの. 二人は末永く幸せに暮しましたとさ.</li>
</ul>
<p>ありそうもないことだけれど, どこかの女の人がこの記事を読んだとしよう. 
その女の人は考えるかもしれない. もし仮に, 立場が逆だったらどうなるだろう. 
あなたに秘密を教えてあげよう. 男が女の人に何かを聞くとき, 
奴は答えなんて聞いちゃいない. 人の裸を想像するので目一杯なんだよ. </p>
<p><em>脚注1:</em> Fortran パートの違和感は <a href="http://en.wikipedia.org/wiki/John_Backus">John Backus</a> に捧ぐ. 土曜日に死去した彼は最も格好良い響きの名前を持つプログラミング言語の作者だった. Visual Basic だの Java だの軽薄な名前の言語と比べると, 火を吐き十の頭を持つように響く言語が恋しくなる. </p>
<p>追記: 
女の子にこんな話をするはずがない, ナンセンスなことを書くなというコメントをくれた人へ. 
あなたはだいたい正しい. 僕はかれこれ11年は素敵な女の子とパーティーで話してない. 
ビキニモデルにインタビューもしていない. 
なにしろ僕の素敵な奥さんが許してくれないからね. 
昨日の夜この記事を呼んだ彼女の反応は次のとおり: 
"頭がいたくなってきちゃった. もう寝るわ." </p>
<h4>補足</h4>
<ul>
<li>"<a href="http://clintonforbes.blogspot.com/2007/03/what-does-hot-girl-at-party-think-of.html">What does the hot girl at the party think of your programming language?</a>" の日本語訳です.</li>
<li>ステップス・トゥ・ファンタージェン は シー・プラス・プラス を応援しています.</li>
<li>関連記事<ul>
<li><a href="http://www.dodgson.org/omo/t/?date=20031215">How not to propose marriage / あるいはインテルより愛を込めて</a></li>
<li><a href="http://www.dodgson.org/omo/t/?date=20031219">宴会プロトコル</a></li>
</ul></li>
</ul>
<h4>追記:</h4>
<ul>
<li>誤訳とタイポを修正</li>
<li>リファラより: <a href="http://d.hatena.ne.jp/lovepotion/20070330">パーティーで会った素敵な男の子があたしのプログラミング言語に思うこと</a></li>
</ul>
