---
title: "花見続報"
date: 2007-03-25
---
<h3>花見続報</h3>
<p>連絡をいただいた方に宴会場所などの詳細をメールしました. 
連絡したのにメールがこない, 
という方は私がアホミスをしていると思うので
もう一度連絡をしてやってください. </p>
<p>花見のページランク一位 
"<a href="http://www.excite.co.jp/season/sakura/">エキサイト シーズンカレンダー</a>" 
によると, <a href="http://www.excite.co.jp/season/sakura/list/13/43241/">上野公園はまだつぼみ</a> とのこと. 今日の嵐で散ってしまいはしてなさそう. よかった. 
<a href="http://weather.yahoo.co.jp/weather/jp/13/4410.html">週末の雲行きは怪しい</a>ですが, 
こればかりは仕方ありません. 天に祈って雨天宴会. </p>
