---
title: "Jolt Awards が読みたい"
date: 2007-07-14
---
<h3>Jolt Awards が読みたい</h3>
<p>よく書評を読む. 本屋で勢い余ってハズレの本を引きたくない. 
一方で世の中あてにならない書評も多い. 
どこかに鉄板のおすすめ本リストはないかと考え, ふと Jolt Awards を思いだした. 
<a href="http://www.joltawards.com/">Jolt Awards</a> 
は プログラマ向けのソフトウェアからウェブサイトや書籍までを扱う総花的なアワード. 
<a href="http://www.ddj.com/">DDJ</a> などを発行する 
<a href="http://www.cmp.com/">CMP</a> が開催している. 
ウェブサイトには "The Jolt Awards are the Oscars of our industry." とあるが, 
ちょっと褒めすぎだとは思う. </p>
<p>アフィリエイトがてら Jolt Awards の歴代入賞本を並べてみた. 
思ったより玉石混合. でも時系列に眺めると時代を感じて楽しい. 
1990 年から 2006 年まで. 
"Jolt Winner" がいわゆる "大賞", "Productivity Winners" は入賞くらいかな. 
2002 年から要素技術よりの "Technical" と偏りのない "General" にわかれている. 
日本語訳や書籍の公式ページなどがみつかったものは併記してある. 
版は現時点で最新のものを載せた. </p>
<h4><a href="http://www.joltawards.com/2007/">2006</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Agile-Software-Development-Cooperative-Series/dp/0321482751%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321482751' class='bookcover'><img data:asin='0321482751' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51Dd6LnMf1L.jpg'></span></a></span></p>
<p>Books General/Jolt Winner:</p>
<ul>
<li><a data:asin='0321482751' href='http://www.amazon.co.jp/Agile-Software-Development-Cooperative-Series/dp/0321482751%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321482751'>Agile Software Development : The Cooperative Game</a><ul>
<li><a data:asin='4894715791' href='http://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA-Agile-Software-Development-Series/dp/4894715791%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894715791'>アジャイルソフトウェア開発 (初版)</a></li>
</ul></li>
</ul>
<p>Books General/Productivity Winners:</p>
<ul>
<li><a data:asin='0321336623' href='http://www.amazon.co.jp/Catastrophe-Disentanglement-Getting-Software-Projects/dp/0321336623%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321336623'>Catastrophe Disentanglement</a></li>
<li><a data:asin='097451408X' href='http://www.amazon.co.jp/Practices-Agile-Developer-Pragmatic-Programmers/dp/097451408X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D097451408X'>Practices of an Agile Developer</a></li>
<li><a data:asin='0735605351' href='http://www.amazon.co.jp/Software-Estimation-Demystifying-Developer-Practices/dp/0735605351%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0735605351'>Software Estimation: Demystifying the Black Art</a><ul>
<li><a data:asin='489100522X' href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E8%A6%8B%E7%A9%8D%E3%82%8A-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96-%E3%83%9E%E3%82%B3%E3%83%8D%E3%83%AB/dp/489100522X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D489100522X'>ソフトウェア見積り: 人月の暗黙知を解き明かす</a></li>
</ul></li>
</ul>
<p>Books Technical/Jolt Winner:</p>
<p><span class='image'><a href='http://www.amazon.co.jp/Head-First-Object-Oriented-Analysis-Design/dp/0596008678%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596008678' class='bookcover'><img data:asin='0596008678' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51mE7FBCw8L.jpg'></span></a></span></p>
<ul>
<li><a data:asin='0596008678' href='http://www.amazon.co.jp/Head-First-Object-Oriented-Analysis-Design/dp/0596008678%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596008678'>Head First Object-Oriented Analysis &amp; Design</a></li>
</ul>
<p>Books Technical/Productivity Winners:</p>
<ul>
<li><a data:asin='0321166078' href='http://www.amazon.co.jp/Code-Quality-Perspective-Effective-Development/dp/0321166078%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321166078'>Code Quality: The Open Source Perspective</a><ul>
<li><a data:asin='4839919798' href='http://www.amazon.co.jp/Code-Quality-%7E%E3%82%B3%E3%83%BC%E3%83%89%E3%83%AA%E3%83%BC%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0%E3%81%AB%E3%82%88%E3%82%8B%E9%9D%9E%E6%A9%9F%E8%83%BD%E7%89%B9%E6%80%A7%E3%81%AE%E8%AD%98%E5%88%A5%E6%8A%80%E6%B3%95%7E-Diomidis-Spinellis/dp/4839919798%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4839919798'>Code Quality ~コードリーディングによる非機能特性の識別技法~ </a></li>
</ul></li>
<li><a data:asin='0321293533' href='http://www.amazon.co.jp/Refactoring-Databases-Evolutionary-Addison-Wesley-Signature/dp/0321293533%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321293533'>Refactoring Databases: Evolutionary Database Design</a></li>
<li><a data:asin='0596526873' href='http://www.amazon.co.jp/Missing-Manual-David-Sawyer-McFarland/dp/0596526873%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596526873'>CSS: The Missing Manual</a></li>
</ul>
<h4><a href="http://www.ddj.com/187900423">2005</a></h4>
<p>Books General/Jolt Winner:</p>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%97%E3%83%AC%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0-%E2%80%95%E3%83%AA%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0%E8%BB%BD%E6%B8%9B%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E6%96%B0%E8%A8%AD%E8%A8%88-THEORY-IN-PRACTICE/dp/4873112729%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873112729' class='bookcover'><img data:asin='4873112729' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51NKHRBZ9CL.jpg'></span></a></span></p>
<ul>
<li><a data:asin='0596008740' href='http://www.amazon.co.jp/Prefactoring-Ken-Pugh/dp/0596008740%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596008740'>Prefactoring</a><ul>
<li><a data:asin='4873112729' href='http://www.amazon.co.jp/%E3%83%97%E3%83%AC%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0-%E2%80%95%E3%83%AA%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0%E8%BB%BD%E6%B8%9B%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E6%96%B0%E8%A8%AD%E8%A8%88-THEORY-IN-PRACTICE/dp/4873112729%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873112729'>プレファクタリング: リファクタリング軽減のための新設計</a></li>
</ul></li>
</ul>
<p>Books General/Productivity Winners:</p>
<ul>
<li><a data:asin='0596007868' href='http://www.amazon.co.jp/Project-Management-Theory-Practice-OReilly/dp/0596007868%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596007868'>The Art of Project Management</a><ul>
<li><a href="http://www.scottberkun.com/the-book-the-art-of-project-management/">http://www.scottberkun.com/the-book-the-art-of-project-management/</a></li>
<li><a data:asin='4873112990' href='http://www.amazon.co.jp/%E3%82%A2%E3%83%BC%E3%83%88%E3%83%BB%E3%82%AA%E3%83%96%E3%83%BB%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88-%E2%80%95%E3%83%9E%E3%82%A4%E3%82%AF%E3%83%AD%E3%82%BD%E3%83%95%E3%83%88%E3%81%A7%E5%9F%B9%E3%82%8F%E3%82%8C%E3%81%9F%E5%AE%9F%E8%B7%B5%E6%89%8B%E6%B3%95-THEORY-IN-PRACTICE/dp/4873112990%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873112990'>アート・オブ・プロジェクトマネジメント: マイクロソフトで培われた実践手法</a></li>
</ul></li>
<li><a data:asin='1558608893' href='http://www.amazon.co.jp/Innovation-Happens-Elsewhere-Business-Strategy/dp/1558608893%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1558608893'>Innovation Happens Elsewhere: Open Source as Business Strategy</a><ul>
<li><a href="http://dreamsongs.com/IHE/">http://dreamsongs.com/IHE/</a></li>
</ul></li>
<li><a data:asin='0596007590' href='http://www.amazon.co.jp/Producing-Open-Source-Software-Sucessful/dp/0596007590%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596007590'>Producing Open Source Software: How to Run a Successful Free Software Project</a><ul>
<li><a href="http://producingoss.com/">http://producingoss.com/</a></li>
</ul></li>
</ul>
<p>Books Technical/Jolt Winner:</p>
<p><span class='image'><a href='http://www.amazon.co.jp/Rails%E3%81%AB%E3%82%88%E3%82%8B%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%ABWeb%E3%82%A2%E3%83%97%E3%83%AA%E3%82%B1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E9%96%8B%E7%99%BA-%E5%89%8D%E7%94%B0-%E4%BF%AE%E5%90%BE/dp/4274066401%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066401' class='bookcover'><img data:asin='4274066401' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51481HMGD1L.jpg'></span></a></span></p>
<ul>
<li><a data:asin='0977616630' href='http://www.amazon.co.jp/Agile-Development-Rails-Pragmatic-Programmers/dp/0977616630%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0977616630'>Agile Web Development with Rails</a><ul>
<li><a href="http://www.pragmaticprogrammer.com/titles/rails/">http://www.pragmaticprogrammer.com/titles/rails/</a></li>
<li><a data:asin='4274066401' href='http://www.amazon.co.jp/Rails%E3%81%AB%E3%82%88%E3%82%8B%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%ABWeb%E3%82%A2%E3%83%97%E3%83%AA%E3%82%B1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E9%96%8B%E7%99%BA-%E5%89%8D%E7%94%B0-%E4%BF%AE%E5%90%BE/dp/4274066401%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066401'>RailsによるアジャイルWebアプリケーション開発 (初版)</a></li>
</ul></li>
</ul>
<p>Books Technical/Productivity Winners:</p>
<ul>
<li><a data:asin='0321246756' href='http://www.amazon.co.jp/Framework-Design-Guidelines-Conventions-Development/dp/0321246756%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321246756'>Framework Design Guidelines: Conventions, Idioms, and Patterns for Reusable .NET Libraries</a></li>
<li><a data:asin='1590592395' href='http://www.amazon.co.jp/Practical-Common-Lisp-Books-Professionals/dp/1590592395%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1590592395'>Practical Common Lisp</a><ul>
<li><a href="http://www.gigamonkeys.com/book/">http://www.gigamonkeys.com/book/</a></li>
<li><a href="http://video.google.com/videoplay?docid=448441135356213813">http://video.google.com/videoplay?docid=448441135356213813</a></li>
</ul></li>
<li><a data:asin='1558608664' href='http://www.amazon.co.jp/Why-Programs-Fail-Systematic-Debugging/dp/1558608664%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1558608664'>Why Programs Fail: A Guide to Systematic Debugging</a><ul>
<li><a href="http://www.whyprogramsfail.com/">http://www.whyprogramsfail.com/</a></li>
</ul></li>
</ul>
<h4><a href="http://www.ddj.com/dept/architect/184415340">2004</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Head-First%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3-%E2%80%95%E9%A0%AD%E3%81%A8%E3%81%8B%E3%82%89%E3%81%A0%E3%81%A7%E8%A6%9A%E3%81%88%E3%82%8B%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%81%AE%E5%9F%BA%E6%9C%AC-Eric-Freeman/dp/4873112494%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873112494' class='bookcover'><img data:asin='4873112494' class='asin image-right' src='http://ecx.images-amazon.com/images/I/5172C1X4CWL.jpg'></span></a></span></p>
<p>Books General/Jolt Winner:</p>
<ul>
<li><a data:asin='0596007124' href='http://www.amazon.co.jp/Head-First-Design-Patterns-Freeman/dp/0596007124%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596007124'>Head First Design Patterns</a><ul>
<li><a href="http://www.headfirstlabs.com/books/hfdp/index.php">http://www.headfirstlabs.com/books/hfdp/index.php</a></li>
<li><a data:asin='4873112494' href='http://www.amazon.co.jp/Head-First%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3-%E2%80%95%E9%A0%AD%E3%81%A8%E3%81%8B%E3%82%89%E3%81%A0%E3%81%A7%E8%A6%9A%E3%81%88%E3%82%8B%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%81%AE%E5%9F%BA%E6%9C%AC-Eric-Freeman/dp/4873112494%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873112494'>Head First デザインパターン: 頭とからだで覚えるデザインパターンの基本</a></li>
</ul></li>
</ul>
<p>Books General/Productivity Winners:</p>
<ul>
<li><a data:asin='1590593898' href='http://www.amazon.co.jp/Joel-Software-Occasionally-Developers-Designers/dp/1590593898%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1590593898'>Joel on Software</a><ul>
<li><a href="http://www.joelonsoftware.com/">http://www.joelonsoftware.com/</a></li>
<li><a data:asin='4274066304' href='http://www.amazon.co.jp/Joel-Software-Spolsky/dp/4274066304%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066304'>Joel on Software (日本語)</a></li>
</ul></li>
<li><a data:asin='0321213351' href='http://www.amazon.co.jp/Refactoring-Patterns-Addison-Wesley-Signature-Series/dp/0321213351%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321213351'>Refactoring to Patterns</a><ul>
<li><a data:asin='4822282384' href='http://www.amazon.co.jp/%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E6%8C%87%E5%90%91%E3%83%AA%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0%E5%85%A5%E9%96%80%7E%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A8%E3%82%A2%E8%A8%AD%E8%A8%88%E3%82%92%E6%94%B9%E5%96%84%E3%81%99%E3%82%8B27%E3%81%AE%E4%BD%9C%E6%B3%95-%E3%82%B8%E3%83%A7%E3%82%B7%E3%83%A5%E3%82%A2%E3%83%BB%E3%82%B1%E3%83%AA%E3%83%BC%E3%82%A8%E3%83%96%E3%82%B9%E3%82%AD%E3%83%BC/dp/4822282384%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822282384'>パターン指向リファクタリング入門~ソフトウエア設計を改善する27の作法</a></li>
</ul></li>
<li><a data:asin='0471202843' href='http://www.amazon.co.jp/Software-Factories-Assembling-Applications-Frameworks/dp/0471202843%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0471202843'>Software Factories</a><ul>
<li><a data:asin='489100472X' href='http://www.amazon.co.jp/SOFTWARE-FACTORIES%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%95%E3%82%A1%E3%82%AF%E3%83%88%E3%83%AA%E3%83%BC-%E3%82%B8%E3%83%A3%E3%83%83%E3%82%AF-%E3%82%B0%E3%83%AA%E3%83%BC%E3%83%B3%E3%83%95%E3%82%A3%E3%83%BC%E3%83%AB%E3%83%89/dp/489100472X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D489100472X'>ソフトウェアファクトリー: パターン、モデル、フレームワーク、ツールによるアプリケーションの組み立て</a></li>
</ul></li>
</ul>
<p>Books Technical/Jolt Winner:</p>
<p><span class='image'><a href='http://www.amazon.co.jp/%E8%BB%BD%E5%BF%AB%E3%81%AAJava%E2%80%95Better-Faster-Lighter-Java-%E3%83%96%E3%83%AB%E3%83%BC%E3%82%B9%E3%83%BBA/dp/487311201X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D487311201X' class='bookcover'><img data:asin='487311201X' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41H9C3C5S9L.jpg'></span></a></span></p>
<ul>
<li><a data:asin='0596006764' href='http://www.amazon.co.jp/Better-Faster-Lighter-Java-Bruce/dp/0596006764%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596006764'>Better, Faster, Lighter Java</a><ul>
<li><a data:asin='487311201X' href='http://www.amazon.co.jp/%E8%BB%BD%E5%BF%AB%E3%81%AAJava%E2%80%95Better-Faster-Lighter-Java-%E3%83%96%E3%83%AB%E3%83%BC%E3%82%B9%E3%83%BBA/dp/487311201X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D487311201X'>軽快な Java—Better,Faster,Lighter Java</a></li>
</ul></li>
</ul>
<p>Books Technical/Productivity Winners:</p>
<ul>
<li><a data:asin='0321113586' href='http://www.amazon.co.jp/Coding-Standards-Guidelines-Practices-In-Depth/dp/0321113586%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321113586'>C++ Coding Standards: 101 Rules, Guidelines, and Best Practices</a><ul>
<li><a href="http://www.gotw.ca/publications/c++cs.htm">http://www.gotw.ca/publications/c++cs.htm</a></li>
<li><a data:asin='4894716860' href='http://www.amazon.co.jp/C-Coding-Standards%E2%80%95101%E3%81%AE%E3%83%AB%E3%83%BC%E3%83%AB%E3%80%81%E3%82%AC%E3%82%A4%E3%83%89%E3%83%A9%E3%82%A4%E3%83%B3%E3%80%81%E3%83%99%E3%82%B9%E3%83%88%E3%83%97%E3%83%A9%E3%82%AF%E3%83%86%E3%82%A3%E3%82%B9-%E2%80%90depth/dp/4894716860%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894716860'>C++ Coding Standards: 101のルール、ガイドライン、ベストプラクティス</a></li>
</ul></li>
<li><a data:asin='0596006969' href='http://www.amazon.co.jp/Hibernate-Developers-Notebook-James-Elliot/dp/0596006969%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596006969'>Hibernate: A Developera&#39;s Notebook</a><ul>
<li><a data:asin='487311215X' href='http://www.amazon.co.jp/Hibernate-%E9%96%8B%E7%99%BA%E8%80%85%E3%83%8E%E3%83%BC%E3%83%88%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-James-Elliott/dp/487311215X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D487311215X'>Hibernate (開発者ノートシリーズ)</a></li>
</ul></li>
<li><a data:asin='0321305027' href='http://www.amazon.co.jp/Java-Developers-Guide-Eclipse-The/dp/0321305027%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321305027'>Java Developer&#39;s Guide to Eclipse (2nd  Edition)</a><ul>
<li><a href="http://www.jdg2e.com/">http://www.jdg2e.com/</a></li>
<li><a data:asin='4875662912' href='http://www.amazon.co.jp/Java%E9%96%8B%E7%99%BA%E8%80%85%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AEEclipse%E3%82%A8%E3%82%AD%E3%82%B9%E3%83%91%E3%83%BC%E3%83%88%E3%82%AC%E3%82%A4%E3%83%89-%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%82%BD%E3%83%BC%E3%82%B9%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%A9%E3%82%A4%E3%83%96%E3%83%A9%E3%83%AA%E3%83%BB%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E3%82%B7%E3%82%A7%E3%83%AA%E3%83%BC-%E3%82%B7%E3%82%A7%E3%82%A4%E3%83%90%E3%83%BC/dp/4875662912%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4875662912'>Java開発者のためのEclipseエキスパートガイド(初版)</a></li>
</ul></li>
</ul>
<h4><a href="http://www.ddj.com/dept/architect/184415149?pgno=16">2003</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E7%86%8A%E3%81%A8%E3%83%AF%E3%83%AB%E3%83%84%E3%82%92-%E3%83%AA%E3%82%B9%E3%82%AF%E3%82%92%E6%84%89%E3%81%97%E3%82%80%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E7%AE%A1%E7%90%86-%E3%83%88%E3%83%A0%E3%83%BB%E3%83%87%E3%83%9E%E3%83%AB%E3%82%B3/dp/4822281868%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822281868' class='bookcover'><img data:asin='4822281868' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51704T9SZKL.jpg'></span></a></span></p>
<p>Books General/Jolt Winner:</p>
<ul>
<li><a data:asin='0932633609' href='http://www.amazon.co.jp/Waltzing-With-Bears-Managing-Software/dp/0932633609%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0932633609'>Waltzing with Bears</a><ul>
<li><a data:asin='4822281868' href='http://www.amazon.co.jp/%E7%86%8A%E3%81%A8%E3%83%AF%E3%83%AB%E3%83%84%E3%82%92-%E3%83%AA%E3%82%B9%E3%82%AF%E3%82%92%E6%84%89%E3%81%97%E3%82%80%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E7%AE%A1%E7%90%86-%E3%83%88%E3%83%A0%E3%83%BB%E3%83%87%E3%83%9E%E3%83%AB%E3%82%B3/dp/4822281868%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822281868'>熊とワルツを - リスクを愉しむプロジェクト管理</a></li>
</ul></li>
</ul>
<p>Books General/Productivity Winners:</p>
<ul>
<li><a data:asin='0131429019' href='http://www.amazon.co.jp/Programming-Addison-Wesley-Professional-Computing-Series/dp/0131429019%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0131429019'>The Art of Unix Programming</a><ul>
<li><a href="http://www.faqs.org/docs/artu/">http://www.faqs.org/docs/artu/</a></li>
<li><a data:asin='4756149480' href='http://www.amazon.co.jp/The-UNIX-Programming-Eric-S-Raymond/dp/4756149480%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756149480'>The Art of Unix Programming (日本語)</a></li>
</ul></li>
<li><a data:asin='0321150783' href='http://www.amazon.co.jp/Lean-Software-Development-Toolkit-Series/dp/0321150783%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321150783'>Lean Software Development: An Agile Toolkit</a><ul>
<li><a href="http://www.poppendieck.com/ld.htm">http://www.poppendieck.com/ld.htm</a></li>
<li><a data:asin='4822281930' href='http://www.amazon.co.jp/%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A8%E3%82%A2%E9%96%8B%E7%99%BA%EF%BD%9E%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E9%96%8B%E7%99%BA%E3%82%92%E5%AE%9F%E8%B7%B5%E3%81%99%E3%82%8B22%E3%81%AE%E6%96%B9%E6%B3%95%EF%BD%9E-%E3%83%A1%E3%82%A2%E3%83%AA%E3%83%BC%E3%83%BB%E3%83%9D%E3%83%83%E3%83%9A%E3%83%B3%E3%83%87%E3%82%A3%E3%83%BC%E3%82%AF/dp/4822281930%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822281930'>リーンソフトウエア開発~アジャイル開発を実践する22の方法</a></li>
</ul></li>
<li>The Pragmatic Starter Kit<ul>
<li><a href="http://www.pragmaticprogrammer.com/starter_kit/index.html">http://www.pragmaticprogrammer.com/starter_kit/index.html</a></li>
<li><a data:asin='0977616657' href='http://www.amazon.co.jp/Pragmatic-Version-Control-Subversion-Starter/dp/0977616657%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0977616657'>Pragmatic Version Control: Using Subversion</a></li>
<li><a data:asin='0974514012' href='http://www.amazon.co.jp/Pragmatic-Unit-Testing-Junit-Programmers/dp/0974514012%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0974514012'>Pragmatic Unit Testing in Java with JUnit</a></li>
<li><a data:asin='0974514039' href='http://www.amazon.co.jp/Pragmatic-Project-Automation-Monitor-Starter/dp/0974514039%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0974514039'>Pragmatic Project Automation: How to Build, Deploy, and Monitor Java Apps</a></li>
<li><a data:asin='475614599X' href='http://www.amazon.co.jp/%E9%81%94%E4%BA%BA%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%83%BC%E2%80%95%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%81%AB%E4%B8%8D%E5%8F%AF%E6%AC%A0%E3%81%AA%E5%9F%BA%E7%A4%8E%E7%9F%A5%E8%AD%98-%E3%83%90%E3%83%BC%E3%82%B8%E3%83%A7%E3%83%B3%E7%AE%A1%E7%90%86-%E3%83%A6%E3%83%8B%E3%83%83%E3%83%88%E3%83%86%E3%82%B9%E3%83%88-software-engineering/dp/475614599X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D475614599X'>達人プログラマー: ソフトウェア開発に不可欠な基礎知識 バージョン管理/ユニットテスト/自動化</a></li>
</ul></li>
</ul>
<p>Books Technical/Jolt Winner:</p>
<p><span class='image'><a href='http://www.amazon.co.jp/Test-Driven-Development-Practical-Guide-Series/dp/0131016490%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0131016490' class='bookcover'><img data:asin='0131016490' class='asin image-right' src='http://ecx.images-amazon.com/images/I/511w2-kIv0L.jpg'></span></a></span></p>
<ul>
<li><a data:asin='0131016490' href='http://www.amazon.co.jp/Test-Driven-Development-Practical-Guide-Series/dp/0131016490%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0131016490'>Test-Driven Development: A Practical Guide</a></li>
</ul>
<p>Books Technical/Productivity Winners:</p>
<ul>
<li><a data:asin='0470084111' href='http://www.amazon.co.jp/About-Face-Essentials-Interaction-Design/dp/0470084111%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0470084111'>About Face 3: The Essentials of Interaction Design</a><ul>
<li><a href="http://www.cooper.com/insights/books/">http://www.cooper.com/insights/books/</a></li>
<li><a data:asin='4881353683' href='http://www.amazon.co.jp/%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%95%E3%82%A7%E3%82%A4%E3%82%B9%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E2%80%95Windows95%E6%99%82%E4%BB%A3%E3%81%AE%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%82%92%E8%80%83%E3%81%88%E3%82%8B-Programmer%E2%80%99s-SELECTION-%E3%82%A2%E3%83%A9%E3%83%B3-%E3%82%AF%E3%83%BC%E3%83%91%E3%83%BC/dp/4881353683%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4881353683'>ユーザーインターフェイスデザイン: Windows95時代のソフトウェアデザインを考える (初版)</a></li>
</ul></li>
<li><a data:asin='0471202835' href='http://www.amazon.co.jp/Agile-Database-Techniques-Application-Development/dp/0471202835%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0471202835'>Agile Database Techniques: Effective Strategies for the Agile Software Developer</a><ul>
<li><a href="http://www.ambysoft.com/books/agileDatabaseTechniques.html">http://www.ambysoft.com/books/agileDatabaseTechniques.html</a></li>
</ul></li>
<li><a data:asin='0201799405' href='http://www.amazon.co.jp/Code-Reading-Perspective-Effective-Development/dp/0201799405%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201799405'>Code Reading: The Open Source Perspective</a><ul>
<li><a href="http://www.spinellis.gr/codereading/">http://www.spinellis.gr/codereading/</a></li>
<li><a data:asin='4839912653' href='http://www.amazon.co.jp/Code-Reading%E2%80%95%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%82%BD%E3%83%BC%E3%82%B9%E3%81%8B%E3%82%89%E5%AD%A6%E3%81%B6%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E6%8A%80%E6%B3%95-%E3%83%88%E3%83%83%E3%83%97%E3%82%B9%E3%82%BF%E3%82%B8%E3%82%AA/dp/4839912653%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4839912653'>Code Reading: オープンソースから学ぶソフトウェア開発技法</a></li>
</ul></li>
</ul>
<h4><a href="http://www.ddj.com/dept/architect/184414991">2002</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%81%AE%E5%A5%A5%E7%BE%A9-%E3%83%AD%E3%83%90%E3%83%BC%E3%83%88%E3%83%BBC%E3%83%BB%E3%83%9E%E3%83%BC%E3%83%81%E3%83%B3/dp/4797323361%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797323361' class='bookcover'><img data:asin='4797323361' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51YANQY595L.jpg'></span></a></span></p>
<p>Books General/Jolt Winner:</p>
<ul>
<li><a data:asin='0135974445' href='http://www.amazon.co.jp/Software-Development-Principles-Patterns-Practices/dp/0135974445%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0135974445'>Agile Software Development: Principles, Patterns and Practices</a><ul>
<li><a data:asin='4797323361' href='http://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%81%AE%E5%A5%A5%E7%BE%A9-%E3%83%AD%E3%83%90%E3%83%BC%E3%83%88%E3%83%BBC%E3%83%BB%E3%83%9E%E3%83%BC%E3%83%81%E3%83%B3/dp/4797323361%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797323361'>アジャイルソフトウェア開発の奥義</a></li>
</ul></li>
</ul>
<p>Books General/Productivity Winners:</p>
<ul>
<li><a data:asin='0201703726' href='http://www.amazon.co.jp/Documenting-Software-Architectures-Beyond-Engineering/dp/0201703726%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201703726'>Documenting Software Architectures: Views and Beyond</a><ul>
<li><a href="http://www.sei.cmu.edu/architecture/products_services/dsa_book.html">http://www.sei.cmu.edu/architecture/products_services/dsa_book.html</a></li>
<li><a data:asin='4526053538' href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%82%A2%E3%83%BC%E3%82%AD%E3%83%86%E3%82%AF%E3%83%81%E3%83%A3%E3%83%89%E3%82%AD%E3%83%A5%E3%83%A1%E3%83%B3%E3%83%88%E2%80%95%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E6%88%A6%E7%95%A5%E3%81%AE%E4%B8%AD%E6%A0%B8-%E3%82%A2%E3%83%BC%E3%82%AD%E3%83%86%E3%82%AF%E3%83%81%E3%83%A3%E3%82%92%E6%8D%89%E3%81%88%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%82%92%E9%9D%A9%E6%96%B0%E3%81%99%E3%82%8B-Paul-Clements/dp/4526053538%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4526053538'>ソフトウェアアーキテクチャドキュメント</a></li>
</ul></li>
<li><a data:asin='0321127420' href='http://www.amazon.co.jp/Enterprise-Application-Architecture-Addison-Wesley-Signature/dp/0321127420%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321127420'>Patterns of Enterprise Application Architecture</a><ul>
<li><a href="http://www.martinfowler.com/eaaCatalog/">http://www.martinfowler.com/eaaCatalog/</a></li>
<li><a data:asin='4798105538' href='http://www.amazon.co.jp/%E3%82%A8%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%97%E3%83%A9%E3%82%A4%E3%82%BA-%E3%82%A2%E3%83%97%E3%83%AA%E3%82%B1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%82%A2%E3%83%BC%E3%82%AD%E3%83%86%E3%82%AF%E3%83%81%E3%83%A3%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3-Object-Oriented-Selection/dp/4798105538%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798105538'>エンタープライズ アプリケーションアーキテクチャパターン</a></li>
</ul></li>
<li><a data:asin='0321146530' href='http://www.amazon.co.jp/Test-Driven-Development-Addison-Wesley-Signature/dp/0321146530%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321146530'>Test-Driven Development: By Example</a><ul>
<li><a data:asin='4894717115' href='http://www.amazon.co.jp/%E3%83%86%E3%82%B9%E3%83%88%E9%A7%86%E5%8B%95%E9%96%8B%E7%99%BA%E5%85%A5%E9%96%80-%E3%82%B1%E3%83%B3%E3%83%88-%E3%83%99%E3%83%83%E3%82%AF/dp/4894717115%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894717115'>テスト駆動開発入門</a></li>
</ul></li>
</ul>
<p>Books Technical/Jolt Winner:</p>
<p><span class='image'><a href='http://www.amazon.co.jp/Thinking-Java-Bruce-Eckel/dp/0131872486%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0131872486' class='bookcover'><img data:asin='0131872486' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51nrRHBSPHL.jpg'></span></a></span></p>
<ul>
<li><a data:asin='0131872486' href='http://www.amazon.co.jp/Thinking-Java-Bruce-Eckel/dp/0131872486%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0131872486'>Thinking in Java (4th Edition)</a><ul>
<li><a href="http://mindview.net/Books/TIJ4">http://mindview.net/Books/TIJ4</a></li>
<li><a href="http://www.mindviewinc.com/">http://www.mindviewinc.com/</a></li>
<li><a data:asin='4894711443' href='http://www.amazon.co.jp/Bruce-Eckel%E3%81%AEJava%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%83%9E%E3%82%B9%E3%82%BF%E3%83%BC%E3%82%B3%E3%83%BC%E3%82%B9%E2%80%95%E5%BE%B9%E5%BA%95%E6%8E%A2%E7%A9%B6-Java%E3%81%AE%E3%81%97%E3%81%8F%E3%81%BF%E3%81%A8%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E4%BD%9C%E6%B3%95%E3%80%88%E4%B8%8A%E3%80%89-%E3%83%96%E3%83%AB%E3%83%BC%E3%82%B9-%E3%82%A8%E3%83%83%E3%82%B1%E3%83%AB/dp/4894711443%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894711443'>Bruce EckelのJavaプログラミングマスターコース (初版)</a></li>
</ul></li>
</ul>
<p>Books Technical/Productivity Winners:</p>
<ul>
<li><a data:asin='0131482025' href='http://www.amazon.co.jp/Core-Volume-I-Fundamentals-Edition-Series/dp/0131482025%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0131482025'>Core Java 2, Vol. 1: Fundamentals (7th edition)</a><ul>
<li><a data:asin='4756139701' href='http://www.amazon.co.jp/%E3%82%B3%E3%82%A2Java2%E3%80%88Vol-1%E3%80%89%E5%9F%BA%E7%A4%8E%E7%B7%A8-%E3%82%B5%E3%83%B3%E3%82%BD%E3%83%95%E3%83%88%E3%83%97%E3%83%AC%E3%82%B9%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E3%82%B1%E3%82%A4%E3%83%BBS-%E3%83%9B%E3%83%BC%E3%82%B9%E3%83%88%E3%83%9E%E3%83%B3/dp/4756139701%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756139701'>コアJava2〈Vol.1〉基礎編</a> (元版不明)</li>
</ul></li>
<li><a data:asin='0201750813' href='http://www.amazon.co.jp/Understanding-Web-Services-Independent-Technology/dp/0201750813%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201750813'>Understanding Web Services</a></li>
<li><a data:asin='0672317842' href='http://www.amazon.co.jp/Php-Mysql-Development-Luke-Welling/dp/0672317842%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0672317842'>PHP and MySQL Web Development</a></li>
</ul>
<h4><a href="http://www.ddj.com/dept/architect/184414869">2001</a></h4>
<p>Jolt Winner:</p>
<p><span class='image'><a href='http://www.amazon.co.jp/Effective-Java-%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E8%A8%80%E8%AA%9E%E3%82%AC%E3%82%A4%E3%83%89-Joshua-Bloch/dp/4894714361%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894714361' class='bookcover'><img data:asin='4894714361' class='asin image-right' src='http://ecx.images-amazon.com/images/I/515MNX5P7FL.jpg'></span></a></span></p>
<ul>
<li><a data:asin='0201310058' href='http://www.amazon.co.jp/Effective-Programming-Language-Guide-Series/dp/0201310058%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201310058'>Effective Java</a><ul>
<li><a href="http://java.sun.com/docs/books/effective/">http://java.sun.com/docs/books/effective/</a></li>
<li><a data:asin='4894714361' href='http://www.amazon.co.jp/Effective-Java-%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E8%A8%80%E8%AA%9E%E3%82%AC%E3%82%A4%E3%83%89-Joshua-Bloch/dp/4894714361%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894714361'>Effective Java プログラミング言語ガイド</a></li>
<li><a href="http://developers.sun.com/learning/javaoneonline/j1sessn.jsp?sessn=TS-1512&amp;yr=2006&amp;track=coreplatform">Effective Java Reloaded, TS-1512, JavaOne Conference 2006</a></li>
</ul></li>
</ul>
<p>Productivity Winners:</p>
<ul>
<li>Agile Software Development (2006 年受賞作の旧版)</li>
<li><a data:asin='0201733862' href='http://www.amazon.co.jp/Software-Craftsmanship-The-New-Imperative/dp/0201733862%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201733862'>Software Craftsmanship</a><ul>
<li><a href="http://www.mcbreen.ab.ca/SoftwareCraftsmanship/">http://www.mcbreen.ab.ca/SoftwareCraftsmanship/</a></li>
<li><a data:asin='4894714418' href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E8%81%B7%E4%BA%BA%E6%B0%97%E8%B3%AA%E2%80%95%E4%BA%BA%E3%82%92%E8%82%B2%E3%81%A6%E3%80%81%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0%E9%96%8B%E7%99%BA%E3%82%92%E6%88%90%E5%8A%9F%E3%81%B8%E3%81%A8%E5%B0%8E%E3%81%8F%E3%81%9F%E3%82%81%E3%81%AE%E9%87%8D%E8%A6%81%E3%82%AD%E3%83%BC%E3%83%AF%E3%83%BC%E3%83%89-Professional-Computing-Series-%E3%83%9E%E3%82%AF%E3%83%96%E3%83%AA%E3%83%BC%E3%83%B3/dp/4894714418%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894714418'>ソフトウェア職人気質: 人を育て、システム開発を成功へと導くための重要キーワード</a></li>
</ul></li>
<li><a data:asin='073561184X' href='http://www.amazon.co.jp/Under-Pressure-Time-Pro-Best-Practices/dp/073561184X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D073561184X'>Under Pressure and On Time</a><ul>
<li><a href="http://www.microsoft.com/mspress/books/4797.aspx">http://www.microsoft.com/mspress/books/4797.aspx</a></li>
</ul></li>
</ul>
<h4><a href="http://www.ddj.com/dept/architect/184414748">2000</a></h4>
<p>Jolt Winner:</p>
<p><span class='image'><a href='http://www.amazon.co.jp/Adaptive-Software-Development-Collaborative-Approach/dp/0932633404%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0932633404' class='bookcover'><img data:asin='0932633404' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51SdtuV9JdL.jpg'></span></a></span></p>
<ul>
<li><a data:asin='0932633404' href='http://www.amazon.co.jp/Adaptive-Software-Development-Collaborative-Approach/dp/0932633404%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0932633404'>Adaptive Software Development</a><ul>
<li><a href="http://www.adaptivesd.com/pubs.html">http://www.adaptivesd.com/pubs.html</a></li>
</ul></li>
</ul>
<p>Productivity Winners:</p>
<ul>
<li><a data:asin='0321344758' href='http://www.amazon.co.jp/Dont-Make-Me-Think-Usability/dp/0321344758%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321344758'>Don&#39;t Make Me Think! A Common Sense Approach to Web Usability</a><ul>
<li><a data:asin='4797315970' href='http://www.amazon.co.jp/%E3%82%A6%E3%82%A7%E3%83%96%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%93%E3%83%AA%E3%83%86%E3%82%A3%E3%81%AE%E6%B3%95%E5%89%87%E2%80%95%E3%82%B9%E3%83%88%E3%83%AC%E3%82%B9%E3%82%92%E6%84%9F%E3%81%98%E3%81%95%E3%81%9B%E3%81%AA%E3%81%84%E3%83%8A%E3%83%93%E3%82%B2%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E4%BD%9C%E6%B3%95%E3%81%A8%E3%81%AF-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96-%E3%82%AF%E3%83%AB%E3%83%BC%E3%82%B0/dp/4797315970%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797315970'>ウェブユーザビリティの法則: ストレスを感じさせないナビゲーション作法とは</a></li>
<li><a href="http://www.sensible.com/buythebook.html">http://www.sensible.com/buythebook.html</a></li>
</ul></li>
<li><a data:asin='0201702258' href='http://www.amazon.co.jp/Writing-Effective-Software-Development-Series/dp/0201702258%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201702258'>Writing Effective Use Cases</a><ul>
<li><a data:asin='4798101273' href='http://www.amazon.co.jp/%E3%83%A6%E3%83%BC%E3%82%B9%E3%82%B1%E3%83%BC%E3%82%B9%E5%AE%9F%E8%B7%B5%E3%82%AC%E3%82%A4%E3%83%89%E2%80%95%E5%8A%B9%E6%9E%9C%E7%9A%84%E3%81%AA%E3%83%A6%E3%83%BC%E3%82%B9%E3%82%B1%E3%83%BC%E3%82%B9%E3%81%AE%E6%9B%B8%E3%81%8D%E6%96%B9-OOP-Foundations-%E3%82%A2%E3%83%AA%E3%82%B9%E3%82%BF%E3%83%BC-%E3%82%B3%E3%83%BC%E3%83%90%E3%83%BC%E3%83%B3/dp/4798101273%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798101273'>ユースケース実践ガイド: 効果的なユースケースの書き方</a></li>
</ul></li>
<li><a data:asin='0471253111' href='http://www.amazon.co.jp/Secrets-Lies-Digital-Security-Networked/dp/0471253111%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0471253111'>Secrets and Lies: Digital Security in a Networked World</a><ul>
<li><a href="http://www.schneier.com/book-sandl.html">http://www.schneier.com/book-sandl.html</a></li>
<li><a data:asin='4881359967' href='http://www.amazon.co.jp/%E6%9A%97%E5%8F%B7%E3%81%AE%E7%A7%98%E5%AF%86%E3%81%A8%E3%82%A6%E3%82%BD-Bruce-Schneier/dp/4881359967%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4881359967'>暗号の秘密とウソ</a></li>
</ul></li>
</ul>
<h4><a href="http://www.ddj.com/dept/architect/184414615">1999</a></h4>
<p>Jolt Winner:</p>
<p><span class='image'><a href='http://www.amazon.co.jp/Software-Use-Practical-Methods-Usage-Centered/dp/0201924781%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201924781' class='bookcover'><img data:asin='0201924781' class='asin image-right' src='http://ecx.images-amazon.com/images/I/519MB6V05HL.jpg'></span></a></span></p>
<ul>
<li><a data:asin='0201924781' href='http://www.amazon.co.jp/Software-Use-Practical-Methods-Usage-Centered/dp/0201924781%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201924781'>Software For Use: A Practical Guide to the Models and Methods of Usage Centered Design</a><ul>
<li><a data:asin='4320097467' href='http://www.amazon.co.jp/%E4%BD%BF%E3%81%84%E3%82%84%E3%81%99%E3%81%84%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E2%80%95%E3%82%88%E3%82%8A%E8%89%AF%E3%81%84%E3%83%A6%E3%83%BC%E3%82%B6%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%95%E3%82%A7%E3%83%BC%E3%82%B9%E3%81%AE%E8%A8%AD%E8%A8%88%E3%82%92%E7%9B%AE%E6%8C%87%E3%81%97%E3%81%A6-Larry-L-Constantine/dp/4320097467%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4320097467'>使いやすいソフトウェア: より良いユーザインタフェースの設計を目指して</a></li>
</ul></li>
</ul>
<p>Productivity Winners:</p>
<ul>
<li><a data:asin='0201616416' href='http://www.amazon.co.jp/Extreme-Programming-Explained-Embrace-Change/dp/0201616416%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201616416'>Extreme Programming Explained</a></li>
<li><a data:asin='0735618798' href='http://www.amazon.co.jp/Software-Requirements-Edition-Developer-Practices/dp/0735618798%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0735618798'>Software Requirements, Second Edition</a><ul>
<li><a href="http://www.processimpact.com/bio.shtml">http://www.processimpact.com/bio.shtml</a></li>
<li><a data:asin='4891003545' href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E8%A6%81%E6%B1%82-Karl-E-Wiegers/dp/4891003545%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891003545'>ソフトウェア要求</a></li>
</ul></li>
<li><a data:asin='0735608776' href='http://www.amazon.co.jp/After-Gold-Rush-Profession-Engineering/dp/0735608776%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0735608776'>After the Gold Rush: Creating a True Profession of Software Engineering</a></li>
</ul>
<h4><a href="http://www.ddj.com/dept/architect/184415703">1998</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Component-Software-Beyond-Object-Oriented-Programming/dp/0201745720%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201745720' class='bookcover'><img data:asin='0201745720' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51Ev6iuBGYL.jpg'></span></a></span></p>
<p>Jolt Winner:</p>
<ul>
<li><a data:asin='0201745720' href='http://www.amazon.co.jp/Component-Software-Beyond-Object-Oriented-Programming/dp/0201745720%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201745720'>Component Software: Beyond Object-Oriented Programming</a></li>
</ul>
<p>Productivity Winners:</p>
<pre></pre>
<ul>
<li><a data:asin='0471197130' href='http://www.amazon.co.jp/AntiPatterns-Refactoring-Software-Architectures-Projects/dp/0471197130%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0471197130'>AntiPatterns: Refactoring Software, Architectures, and Projects in Crisis</a><ul>
<li><a data:asin='4797321385' href='http://www.amazon.co.jp/%E3%82%A2%E3%83%B3%E3%83%81%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E2%80%95%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E5%8D%B1%E7%AF%A4%E6%82%A3%E8%80%85%E3%81%AE%E6%95%91%E5%87%BA-W-J-%E3%83%96%E3%83%A9%E3%82%A6%E3%83%B3/dp/4797321385%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797321385'>アンチパターン ソフトウェア危篤患者の救出</a></li>
</ul></li>
<li><a data:asin='0321154959' href='http://www.amazon.co.jp/Software-Architecture-Practice-Series-Engineering/dp/0321154959%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321154959'>Software Architecture in Practice</a><ul>
<li><a href="http://www.sei.cmu.edu/architecture/products_services/sap_book.html">http://www.sei.cmu.edu/architecture/products_services/sap_book.html</a></li>
<li><a data:asin='4526055239' href='http://www.amazon.co.jp/%E5%AE%9F%E8%B7%B5%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%82%A2%E3%83%BC%E3%82%AD%E3%83%86%E3%82%AF%E3%83%81%E3%83%A3-Len-Bass/dp/4526055239%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4526055239'>実践ソフトウェアアーキテクチャ</a></li>
</ul></li>
<li>Thinking in Java (2002 年受賞作の旧版)</li>
</ul>
<h4><a href="http://www.ddj.com/dept/architect/184415607">1997</a></h4>
<p>Jolt Winner:</p>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E5%85%A5%E9%96%80-%E7%AC%AC2%E7%89%88-%E5%8E%9F%E5%89%87%E3%83%BB%E3%82%B3%E3%83%B3%E3%82%BB%E3%83%97%E3%83%88-Architect%E2%80%99Archive-%E3%82%AF%E3%83%A9%E3%82%B7%E3%83%83%E3%82%AF%E3%83%A2%E3%83%80%E3%83%B3%E3%83%BB%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0/dp/4798111112%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798111112' class='bookcover'><img data:asin='4798111112' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51Y4DWH4N3L.jpg'></span></a></span></p>
<ul>
<li><a data:asin='0136291554' href='http://www.amazon.co.jp/Object-Oriented-Software-Construction-Prentice-Hall-International/dp/0136291554%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0136291554'>Object-Oriented Software Construction, Second Edition</a><ul>
<li><a href="http://archive.eiffel.com/doc/oosc/">http://archive.eiffel.com/doc/oosc/</a></li>
<li><a data:asin='4798111112' href='http://www.amazon.co.jp/%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E5%85%A5%E9%96%80-%E7%AC%AC2%E7%89%88-%E5%8E%9F%E5%89%87%E3%83%BB%E3%82%B3%E3%83%B3%E3%82%BB%E3%83%97%E3%83%88-Architect%E2%80%99Archive-%E3%82%AF%E3%83%A9%E3%82%B7%E3%83%83%E3%82%AF%E3%83%A2%E3%83%80%E3%83%B3%E3%83%BB%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0/dp/4798111112%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798111112'>オブジェクト指向入門 第2版 原則・コンセプト</a></li>
</ul></li>
</ul>
<p>Productivity Winners:</p>
<ul>
<li><a data:asin='0932633390' href='http://www.amazon.co.jp/The-Deadline-Novel-Project-Management/dp/0932633390%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0932633390'>The Deadline: A Novel about Project Management</a><ul>
<li><a href="http://www.dorsethouse.com/books/dl.html">http://www.dorsethouse.com/books/dl.html</a></li>
<li><a data:asin='4822280535' href='http://www.amazon.co.jp/%E3%83%87%E3%83%83%E3%83%89%E3%83%A9%E3%82%A4%E3%83%B3-%E3%83%88%E3%83%A0-%E3%83%87%E3%83%9E%E3%83%AB%E3%82%B3/dp/4822280535%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822280535'>デッドライン—ソフト開発を成功に導く101の法則</a></li>
</ul></li>
<li><a data:asin='0321193687' href='http://www.amazon.co.jp/UML-Distilled-Standard-Addison-Wesley-Technology/dp/0321193687%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321193687'>UML Distilled: A Brief Guide to the Standard Object Modeling Language, Third Edition</a><ul>
<li><a data:asin='4798107956' href='http://www.amazon.co.jp/UML-%E3%83%A2%E3%83%87%E3%83%AA%E3%83%B3%E3%82%B0%E3%81%AE%E3%82%A8%E3%83%83%E3%82%BB%E3%83%B3%E3%82%B9-Object-Oriented-SELECTION/dp/4798107956%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798107956'>UML モデリングのエッセンス 第3版</a></li>
</ul></li>
<li><a data:asin='0521648262' href='http://www.amazon.co.jp/Building-Object-Applications-Step-Step/dp/0521648262%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0521648262'>Building Object Applications that Work</a><ul>
<li><a href="http://www.ambysoft.com/books/buildingObjectApplications.html">http://www.ambysoft.com/books/buildingObjectApplications.html</a></li>
</ul></li>
</ul>
<h4><a href="http://www.ddj.com/dept/architect/184415573">1996</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%A9%E3%83%94%E3%83%83%E3%83%89%E3%83%87%E3%83%99%E3%83%AD%E3%83%83%E3%83%97%E3%83%A1%E3%83%B3%E3%83%88%E2%80%95%E5%8A%B9%E7%8E%87%E7%9A%84%E3%81%AA%E9%96%8B%E7%99%BA%E3%82%92%E7%9B%AE%E6%8C%87%E3%81%97%E3%81%A6-MicrosoftPRESS-Steve-McConnell/dp/4756108032%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756108032' class='bookcover'><img data:asin='4756108032' class='asin image-right' src='http://ecx.images-amazon.com/images/I/318vWvuy4oL.jpg'></span></a></span></p>
<p>Jolt Winner:</p>
<ul>
<li><a data:asin='1556159005' href='http://www.amazon.co.jp/RAPID-DEVELOPMENT-Developer-Best-Practices/dp/1556159005%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1556159005'>Rapid Development: Taming Wild Software Schedules</a><ul>
<li><a data:asin='4756108032' href='http://www.amazon.co.jp/%E3%83%A9%E3%83%94%E3%83%83%E3%83%89%E3%83%87%E3%83%99%E3%83%AD%E3%83%83%E3%83%97%E3%83%A1%E3%83%B3%E3%83%88%E2%80%95%E5%8A%B9%E7%8E%87%E7%9A%84%E3%81%AA%E9%96%8B%E7%99%BA%E3%82%92%E7%9B%AE%E6%8C%87%E3%81%97%E3%81%A6-MicrosoftPRESS-Steve-McConnell/dp/4756108032%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756108032'>ラピッドデベロップメント: 効率的な開発を目指して</a></li>
</ul></li>
</ul>
<p>Productivity Winners:</p>
<ul>
<li><a data:asin='0471129933' href='http://www.amazon.co.jp/Essential-Distributed-Objects-Survival-Guide/dp/0471129933%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0471129933'>The Essential Distributed Objects Survival Guide</a></li>
<li><a data:asin='0932633331' href='http://www.amazon.co.jp/Creating-Software-Engineering-Culture-Wiegers/dp/0932633331%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0932633331'>Creating a Software Engineering Culture</a><ul>
<li><a data:asin='4798108715' href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%81%AE%E6%8C%81%E3%81%A4%E3%81%B9%E3%81%8D%E6%96%87%E5%8C%96-IT-Architects-Archive-%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%81%AE%E8%AA%B2%E9%A1%8C1/dp/4798108715%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798108715'>ソフトウェア開発の持つべき文化</a></li>
</ul></li>
<li><a data:asin='0471958697' href='http://www.amazon.co.jp/Pattern-Oriented-Software-Architecture-System-Patterns/dp/0471958697%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0471958697'>Pattern-Oriented Software Architecture Volume 1: A System of Patterns</a><ul>
<li><a data:asin='4764902834' href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%82%A2%E3%83%BC%E3%82%AD%E3%83%86%E3%82%AF%E3%83%81%E3%83%A3%E2%80%95%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E4%BD%93%E7%B3%BB-F-%E3%83%96%E3%83%83%E3%82%B7%E3%83%A5%E3%83%9E%E3%83%B3/dp/4764902834%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4764902834'>ソフトウェアアーキテクチャ:ソフトウェア開発のためのパターン体系</a></li>
</ul></li>
</ul>
<h4><a href="http://www.ddj.com/dept/architect/184415534">1995</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Thinking-Introduction-Standard-Volume-One/dp/0139798099%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0139798099' class='bookcover'><img data:asin='0139798099' class='asin image-right' src='http://ecx.images-amazon.com/images/I/61YQEKZ8FAL.jpg'></span></a></span></p>
<p>Jolt Winner:</p>
<ul>
<li><a data:asin='0139798099' href='http://www.amazon.co.jp/Thinking-Introduction-Standard-Volume-One/dp/0139798099%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0139798099'>Thinking in C++</a><ul>
<li><a href="http://www.mindview.net/Books/TICPP/ThinkingInCPP2e.html">http://www.mindview.net/Books/TICPP/ThinkingInCPP2e.html</a></li>
</ul></li>
</ul>
<p>Productivity Winners:</p>
<ul>
<li>About Face: The Essentials of User Interface Design (2003 年受賞作の旧版)</li>
<li><a data:asin='0201546108' href='http://www.amazon.co.jp/Discipline-Software-Engineering-SEI-Series/dp/0201546108%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201546108'>A Discipline for Software Engineering</a><ul>
<li><a data:asin='4320120132' href='http://www.amazon.co.jp/%E3%83%91%E3%83%BC%E3%82%BD%E3%83%8A%E3%83%AB%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%97%E3%83%AD%E3%82%BB%E3%82%B9%E5%85%A5%E9%96%80-%E3%83%AF%E3%83%83%E3%83%84-%E3%83%8F%E3%83%B3%E3%83%95%E3%83%AA%E3%83%BC/dp/4320120132%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4320120132'>パーソナルソフトウェアプロセス入門</a></li>
</ul></li>
<li><a data:asin='0932633315' href='http://www.amazon.co.jp/Every-Programmer-Should-Object-Oriented-Design/dp/0932633315%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0932633315'>What Every Programmer Should Know About Object-Oriented Design</a></li>
</ul>
<h4><a href="http://ddj.com/joltawards/year_94.htm">1994</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Client-Server-Survival-Robert-Orfali/dp/0471316156%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0471316156' class='bookcover'><img data:asin='0471316156' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51U5GVSh5rL.jpg'></span></a></span></p>
<p>Jolt Winner:</p>
<ul>
<li><a data:asin='0471316156' href='http://www.amazon.co.jp/Client-Server-Survival-Robert-Orfali/dp/0471316156%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0471316156'>Client/Server Survival Guide, 3rd Edition</a></li>
</ul>
<p>Productivity Winners:</p>
<ul>
<li><a data:asin='1556156502' href='http://www.amazon.co.jp/DEBUGGING-DEVELOPMENT-PROCESS-Steve-Maguire/dp/1556156502%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1556156502'>Debugging the Development Process</a><ul>
<li><a data:asin='475611623X' href='http://www.amazon.co.jp/%E3%83%87%E3%83%90%E3%83%83%E3%82%AE%E3%83%B3%E3%82%B0-%E3%82%B6-%E3%83%87%E3%83%99%E3%83%AD%E3%83%83%E3%83%97%E3%83%A1%E3%83%B3%E3%83%88-%E3%83%97%E3%83%AD%E3%82%BB%E3%82%B9%E2%80%95%E7%90%86%E6%83%B3%E7%9A%84%E3%81%AA%E9%96%8B%E7%99%BA%E5%B7%A5%E7%A8%8B%E3%82%92%E7%9B%AE%E6%8C%87%E3%81%97%E3%81%A6-%E3%83%9E%E3%82%A4%E3%82%AF%E3%83%AD%E3%82%BD%E3%83%95%E3%83%88%E3%83%97%E3%83%AC%E3%82%B9%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA/dp/475611623X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D475611623X'>デバッギング ザ デベロップメント プロセス: 理想的な開発工程を目指して</a></li>
</ul></li>
<li><a data:asin='0201633612' href='http://www.amazon.co.jp/Design-Patterns-Object-Oriented-Addison-Wesley-Professional/dp/0201633612%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201633612'>Design Patterns: Elements of Reusable Object-Oriented Software</a><ul>
<li><a data:asin='4797311126' href='http://www.amazon.co.jp/%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E3%81%AB%E3%81%8A%E3%81%91%E3%82%8B%E5%86%8D%E5%88%A9%E7%94%A8%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3-%E3%82%A8%E3%83%AA%E3%83%83%E3%82%AF-%E3%82%AC%E3%83%B3%E3%83%9E/dp/4797311126%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797311126'>オブジェクト指向における再利用のためのデザインパターン</a></li>
</ul></li>
<li><a data:asin='0201543303' href='http://www.amazon.co.jp/Design-Evolution-The-Bjarne-Stroustrup/dp/0201543303%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201543303'>The Design and Evolution of C++</a><ul>
<li><a data:asin='4797328541' href='http://www.amazon.co.jp/C-%E3%81%AE%E8%A8%AD%E8%A8%88%E3%81%A8%E9%80%B2%E5%8C%96-Bjarne-Stroustrup/dp/4797328541%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797328541'>C++の設計と進化</a></li>
<li><a href="http://lambda-the-ultimate.org/node/2283">http://lambda-the-ultimate.org/node/2283</a></li>
</ul></li>
</ul>
<h4><a href="http://ddj.com/joltawards/year_93.htm">1993</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/CODE-COMPLETE-%E7%AC%AC2%E7%89%88-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96-%E3%83%9E%E3%82%B3%E3%83%8D%E3%83%AB/dp/489100455X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D489100455X' class='bookcover'><img data:asin='489100455X' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51E1DYKHW7L.jpg'></span></a></span></p>
<p>Jolt Winner:</p>
<ul>
<li><a data:asin='1556154844' href='http://www.amazon.co.jp/COMPLETE-Microsoft-Programming-Steve-McConnell/dp/1556154844%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1556154844'>Code Complete, Second Edition</a><ul>
<li><a href="http://cc2e.com/">http://cc2e.com/</a></li>
<li><a data:asin='489100455X' href='http://www.amazon.co.jp/CODE-COMPLETE-%E7%AC%AC2%E7%89%88-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96-%E3%83%9E%E3%82%B3%E3%83%8D%E3%83%AB/dp/489100455X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D489100455X'>Code Complete第2版〈上〉—完全なプログラミングを目指して</a></li>
</ul></li>
<li><a data:asin='020189551X' href='http://www.amazon.co.jp/Object-Oriented-Analysis-Applications-Addison-Wesley-Technology/dp/020189551X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D020189551X'>Object-Oriented Analysis and Design with Applications (3rd Edition)</a><ul>
<li><a data:asin='4795296545' href='http://www.amazon.co.jp/Booch%E6%B3%95-%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E5%88%86%E6%9E%90%E3%81%A8%E8%A8%AD%E8%A8%88-Professional-Computing-Series/dp/4795296545%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4795296545'>Booch法:オブジェクト指向分析と設計</a></li>
</ul></li>
</ul>
<p>Productivity Winners:</p>
<ul>
<li><a data:asin='0471117099' href='http://www.amazon.co.jp/Applied-Cryptography-Protocols-Algorithms-Source/dp/0471117099%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0471117099'>Applied Cryptography</a><ul>
<li><a href="http://www.schneier.com/book-applied.html">http://www.schneier.com/book-applied.html</a></li>
<li><a data:asin='4797319119' href='http://www.amazon.co.jp/%E6%9A%97%E5%8F%B7%E6%8A%80%E8%A1%93%E5%A4%A7%E5%85%A8-%E3%83%96%E3%83%AB%E3%83%BC%E3%82%B9%E3%83%BB%E3%82%B7%E3%83%A5%E3%83%8A%E3%82%A4%E3%82%A2%E3%83%BC/dp/4797319119%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797319119'>暗号技術大全</a></li>
<li><a href="http://cruel.org/books/crypto/">http://cruel.org/books/crypto/</a></li>
</ul></li>
<li><a data:asin='0137213743' href='http://www.amazon.co.jp/Programming-Purpose-Essays-Design/dp/0137213743%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0137213743'>Programming on Purpose</a><ul>
<li><a data:asin='4320027558' href='http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%81%AE%E5%A3%BA-I-%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E8%A8%AD%E8%A8%88%E7%B7%A8-P-J-%E3%83%97%E3%83%AD%E3%83%BC%E3%82%AC/dp/4320027558%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4320027558'>プログラミングの壺〈1〉ソフトウェア設計編</a></li>
</ul></li>
<li><a data:asin='1556155514' href='http://www.amazon.co.jp/WRITING-SOLID-Microsoft-Programming-Series/dp/1556155514%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1556155514'>Writing Solid Code</a><ul>
<li><a data:asin='4756103642' href='http://www.amazon.co.jp/%E3%83%A9%E3%82%A4%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0%E3%82%BD%E3%83%AA%E3%83%83%E3%83%89%E3%82%B3%E3%83%BC%E3%83%89%E2%80%95%E3%83%90%E3%82%B0%E3%81%AE%E3%81%AA%E3%81%84%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%82%92%E7%9B%AE%E6%8C%87%E3%81%97%E3%81%A6-%E3%83%9E%E3%82%A4%E3%82%AF%E3%83%AD%E3%82%BD%E3%83%95%E3%83%88%E3%83%97%E3%83%AC%E3%82%B9%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96-%E3%83%9E%E3%82%B0%E3%83%AF%E3%82%A4%E3%82%A2/dp/4756103642%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756103642'>ライティングソリッドコード: バグのないプログラミングを目指して</a></li>
</ul></li>
</ul>
<h4><a href="http://ddj.com/joltawards/year_92.htm">1992</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Decline-American-Programmer-Yourdon-Computing/dp/013191958X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D013191958X' class='bookcover'><img data:asin='013191958X' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51JN1TDYGFL.jpg'></span></a></span></p>
<p>Jolt Winner:</p>
<ul>
<li><a data:asin='0201608340' href='http://www.amazon.co.jp/Undocumented-Windows-Programmers-Microsoft-Programming/dp/0201608340%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201608340'>Undocumented Windows</a></li>
<li><a data:asin='013191958X' href='http://www.amazon.co.jp/Decline-American-Programmer-Yourdon-Computing/dp/013191958X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D013191958X'>Decline and Fall of the American Programmer</a></li>
</ul>
<p>Productivity Winners:</p>
<ul>
<li><a data:asin='0201403471' href='http://www.amazon.co.jp/Object-Oriented-Software-Engineering-Driven-Approach/dp/0201403471%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201403471'>Object-Oriented Software Engineering: A Use-Case Driven Approach (2nd ed.)</a></li>
<li><a data:asin='0937073806' href='http://www.amazon.co.jp/Literate-Programming-Language-Information-Publication/dp/0937073806%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0937073806'>Literate Programming</a><ul>
<li><a href="http://www.literateprogramming.com/">http://www.literateprogramming.com/</a></li>
<li><a data:asin='4756101909' href='http://www.amazon.co.jp/%E6%96%87%E8%8A%B8%E7%9A%84%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0-SOFTWARE-SCIENCE-Programming-Paradigm/dp/4756101909%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756101909'>文芸的プログラミング</a></li>
</ul></li>
<li><a data:asin='0321334876' href='http://www.amazon.co.jp/Effective-Specific-Addison-Wesley-Professional-Computing/dp/0321334876%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321334876'>Effective C++: 55 Specific Ways to Improve Your Programs and Designs (3rd Edition)</a><ul>
<li><a data:asin='4894714515' href='http://www.amazon.co.jp/Effective-ADDISON-WESLEY-PROFESSIONAL-COMPUTING-SERIES/dp/4894714515%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894714515'>Effective C++ 原著第3版</a></li>
</ul></li>
</ul>
<h4><a href="http://ddj.com/joltawards/year_91.htm">1991</a></h4>
<pre></pre>
<p><span class='image'><a href='http://www.amazon.co.jp/Object-Oriented-Modeling-Design-Alternative-Formats/dp/0130159204%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0130159204' class='bookcover'><img data:asin='0130159204' class='asin image-right' src='http://ecx.images-amazon.com/images/I/511SWCXQEWL.jpg'></span></a></span></p>
<p>Jolt Winner:</p>
<ul>
<li><a data:asin='0805300910' href='http://www.amazon.co.jp/Object-Oriented-Analysis-Design-Applications/dp/0805300910%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0805300910'>Object-Oriented Design with Applications</a></li>
</ul>
<p>Productivity Winners:</p>
<ul>
<li><a data:asin='0201548550' href='http://www.amazon.co.jp/Advanced-Programming-Society-Culture-East-Central/dp/0201548550%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201548550'>Advanced C++: Programming Styles and Idioms</a><ul>
<li><a href="http://users.rcn.com/jcoplien/Books/AdvancedC++/">http://users.rcn.com/jcoplien/Books/AdvancedC++/</a></li>
<li><a data:asin='4775302868' href='http://www.amazon.co.jp/C-%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%81%AE%E7%AD%8B%E3%81%A8%E5%AE%9A%E7%9F%B3-%E6%96%B0%E7%B4%80%E5%85%83%E7%A4%BE%E6%83%85%E5%A0%B1%E5%B7%A5%E5%AD%A6%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E3%82%B8%E3%82%A7%E3%83%BC%E3%83%A0%E3%82%B9%E3%83%BBO-%E3%82%B3%E3%83%97%E3%83%AA%E3%82%A8%E3%83%B3/dp/4775302868%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4775302868'>C++プログラミングの筋と定石</a></li>
</ul></li>
<li><a data:asin='0130159204' href='http://www.amazon.co.jp/Object-Oriented-Modeling-Design-Alternative-Formats/dp/0130159204%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0130159204'>Object-Oriented Modeling and Design with UML (2nd Edition) </a></li>
<li><a data:asin='0136299407' href='http://www.amazon.co.jp/Object-Life-Cycles-Modeling-Computing/dp/0136299407%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0136299407'>Object Lifecycles: Modeling the World in States</a><ul>
<li><a data:asin='4764902389' href='http://www.amazon.co.jp/%E7%B6%9A%E3%83%BB%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0%E5%88%86%E6%9E%90%E2%80%95%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%83%BB%E3%83%A9%E3%82%A4%E3%83%95%E3%82%B5%E3%82%A4%E3%82%AF%E3%83%AB-S-%E3%82%B7%E3%83%A5%E3%83%AC%E3%82%A3%E3%82%A2%E3%83%BC/dp/4764902389%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4764902389'>続・オブジェクト指向システム分析</a></li>
</ul></li>
</ul>
<h4><a href="http://ddj.com/joltawards/year_90.htm">1990</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Annotated-C-Reference-Manual-The/dp/0201514591%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201514591' class='bookcover'><img data:asin='0201514591' class='asin image-right' src='http://ecx.images-amazon.com/images/I/412q6d9Zp2L.jpg'></span></a></span></p>
<p>Jolt Winner:</p>
<ul>
<li><a data:asin='0201514591' href='http://www.amazon.co.jp/Annotated-C-Reference-Manual-The/dp/0201514591%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201514591'>Annotated C++ Reference Manual</a><ul>
<li><a href="http://www.research.att.com/~bs/arm.html">http://www.research.att.com/~bs/arm.html</a></li>
<li><a data:asin='4810180271' href='http://www.amazon.co.jp/%E6%B3%A8%E8%A7%A3-C-%E3%83%AA%E3%83%95%E3%82%A1%E3%83%AC%E3%83%B3%E3%82%B9%E3%83%9E%E3%83%8B%E3%83%A5%E3%82%A2%E3%83%AB-%E3%82%A2%E3%82%B8%E3%82%BD%E3%83%B3-%E3%82%A6%E3%82%A7%E3%82%B9%E3%83%AC%E3%82%A4%E3%83%BB%E3%83%88%E3%83%83%E3%83%91%E3%83%B3%E6%83%85%E5%A0%B1%E7%A7%91%E5%AD%A6%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA/dp/4810180271%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4810180271'>注解 C++リファレンスマニュアル</a></li>
</ul></li>
</ul>
<p>Productivity Winners:</p>
<ul>
<li><a data:asin='0201517973' href='http://www.amazon.co.jp/The-Art-Human-Computer-Interface-Design/dp/0201517973%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201517973'>The Art of Human-Computer Interface Design</a><ul>
<li><a data:asin='4894717719' href='http://www.amazon.co.jp/%E3%83%92%E3%83%A5%E3%83%BC%E3%83%9E%E3%83%B3%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%95%E3%82%A7%E3%83%BC%E3%82%B9%E3%81%AE%E7%99%BA%E6%83%B3%E3%81%A8%E5%B1%95%E9%96%8B%E2%80%95%E4%BA%BA%E9%96%93%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%82%BF%E3%83%BC-%E4%B8%8A%E6%9D%A1-%E5%8F%B2%E5%BD%A6/dp/4894717719%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894717719'>ヒューマンインターフェースの発想と展開: 人間のためのコンピューター</a></li>
</ul></li>
<li><a data:asin='157231995X' href='http://www.amazon.co.jp/Programming-Windows%C2%AE-Edition-Developer-Reference/dp/157231995X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D157231995X'>Programming Windows, Fifth Edition</a><ul>
<li><a href="http://www.charlespetzold.com/pw5/">http://www.charlespetzold.com/pw5/</a></li>
<li><a data:asin='475613601X' href='http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0Windows%E7%AC%AC5%E7%89%88%E3%80%88%E4%B8%8B%E3%80%89Win32-API%E3%82%92%E6%89%B1%E3%81%86%E9%96%8B%E7%99%BA%E8%80%85%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E6%B1%BA%E5%AE%9A%E7%89%88-Microsoft-Programming-Series/dp/475613601X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D475613601X'>プログラミングWindows第5版〈上〉</a></li>
</ul></li>
<li><a data:asin='0078817374' href='http://www.amazon.co.jp/Turbo-C-Disktutor-Book-Disk/dp/0078817374%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0078817374'>Turbo C++ DiskTutor</a></li>
</ul>
<h4>所感</h4>
<p>こうしてみると Jolt Awards はソフトウェア開発に特化しているのがわかる. 
コンピュータサイエンスという感じではない. 
たとえば OS やコンパイラ, アルゴリズムの本は全く入っていない. 
そういうのを読みたい人は他をあたる必要がある. 
General 部門が比較的先鋭的なものを選ぶのに対し, 
Technical 部門は入門書が中心. 要素技術の細かい話もあてにならない. 
量を考えると仕方ないけどね. </p>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%AA%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0%E2%80%95%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%A0%E3%81%AE%E4%BD%93%E8%B3%AA%E6%94%B9%E5%96%84%E3%83%86%E3%82%AF%E3%83%8B%E3%83%83%E3%82%AF-Object-Technology-Series-%E3%83%95%E3%82%A1%E3%82%A6%E3%83%A9%E3%83%BC/dp/4894712288%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894712288' class='bookcover'><img data:asin='4894712288' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51885S48YPL.jpg'></span></a></span></p>
<p>賞の性質上, 次年度以降に重要性が認識されたものは漏れている. 
たとえば 
"<a data:asin='4873112729' href='http://www.amazon.co.jp/%E3%83%97%E3%83%AC%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0-%E2%80%95%E3%83%AA%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0%E8%BB%BD%E6%B8%9B%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E6%96%B0%E8%A8%AD%E8%A8%88-THEORY-IN-PRACTICE/dp/4873112729%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873112729'>プレファクタリング</a>", 
"<a data:asin='4822282384' href='http://www.amazon.co.jp/%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E6%8C%87%E5%90%91%E3%83%AA%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0%E5%85%A5%E9%96%80%7E%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A8%E3%82%A2%E8%A8%AD%E8%A8%88%E3%82%92%E6%94%B9%E5%96%84%E3%81%99%E3%82%8B27%E3%81%AE%E4%BD%9C%E6%B3%95-%E3%82%B8%E3%83%A7%E3%82%B7%E3%83%A5%E3%82%A2%E3%83%BB%E3%82%B1%E3%83%AA%E3%83%BC%E3%82%A8%E3%83%96%E3%82%B9%E3%82%AD%E3%83%BC/dp/4822282384%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822282384'>パターン指向リファクタリング入門</a>", 
"<a data:asin='0321293533' href='http://www.amazon.co.jp/Refactoring-Databases-Evolutionary-Addison-Wesley-Signature/dp/0321293533%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321293533'>Refactoring Databases</a>" があって
本家 "<a data:asin='4894712288' href='http://www.amazon.co.jp/%E3%83%AA%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0%E2%80%95%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%A0%E3%81%AE%E4%BD%93%E8%B3%AA%E6%94%B9%E5%96%84%E3%83%86%E3%82%AF%E3%83%8B%E3%83%83%E3%82%AF-Object-Technology-Series-%E3%83%95%E3%82%A1%E3%82%A6%E3%83%A9%E3%83%BC/dp/4894712288%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894712288'>リファクタリング</a>" がないのは理不尽だ. 
リファクタリングの重要性が広く認識されたのは出版の翌年以降なんだろうね. 
そういう例は他にもありそうだ. 
(そういえば "<a data:asin='4894712741' href='http://www.amazon.co.jp/%E9%81%94%E4%BA%BA%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%83%BC%E2%80%95%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0%E9%96%8B%E7%99%BA%E3%81%AE%E8%81%B7%E4%BA%BA%E3%81%8B%E3%82%89%E5%90%8D%E5%8C%A0%E3%81%B8%E3%81%AE%E9%81%93-%E3%82%A2%E3%83%B3%E3%83%89%E3%83%AA%E3%83%A5%E3%83%BC-%E3%83%8F%E3%83%B3%E3%83%88/dp/4894712741%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894712741'>達人プログラマー</a>" もない.) 
逆にその年の流行りで入れてしまったと思しきものもある. 
年単位の Awards とは別に オールタイム・ベストがあればいいのかも. </p>
<p>それにしても 16 年間の書籍がずらり並ぶと感慨深い. 
まず感じるのは技術的なトレンドの移りかわり. 
当初は毎年のようにランクインしていた C++ は 1995 年で姿を消し, 
Java に座を譲る. 悲しい. その Java もここ二年続けて姿がない. 
かわりに Ruby(Rails) と, なぜか Common Lisp が姿を見せている. 
これらが流行の兆しなのかはわからない. 
言語以外では Client/Server, Distributed Object, Windows といった要素技術が
連続して入賞することはない. 書籍自体が改訂されることも少い. 
たぶん CSS も今回限りだろう. ("<a data:asin='475613601X' href='http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0Windows%E7%AC%AC5%E7%89%88%E3%80%88%E4%B8%8B%E3%80%89Win32-API%E3%82%92%E6%89%B1%E3%81%86%E9%96%8B%E7%99%BA%E8%80%85%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E6%B1%BA%E5%AE%9A%E7%89%88-Microsoft-Programming-Series/dp/475613601X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D475613601X'>プログラミングWindows</a>" はかなり健闘して 5 版まで続いたが, .NET の登場に合わせて終幕した感がある.) 
方法論のトレンドも移り変わる. アジャイルやオープンソースの隆盛は自分の感覚とも一致している. </p>
<p>書籍の内容とは別に時代の流れを感じるのは書籍サイトの登場だ. 
サンプルを公開してるもの, それどころか全文を公開しているもの. 
<a data:asin='4274066304' href='http://www.amazon.co.jp/Joel-Software-Spolsky/dp/4274066304%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066304'>Joel on Software</a> なんて本文も訳も Web 生まれ. 
読者にとってはありがたい時代になったものだと思う．</p>
<p>廃れていく本がある一方で鉄板もある. 
本質的な話題を扱う 
"<a data:asin='489100455X' href='http://www.amazon.co.jp/CODE-COMPLETE-%E7%AC%AC2%E7%89%88-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96-%E3%83%9E%E3%82%B3%E3%83%8D%E3%83%AB/dp/489100455X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D489100455X'>Code Complete</a>", 
"<a data:asin='4798111112' href='http://www.amazon.co.jp/%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E5%85%A5%E9%96%80-%E7%AC%AC2%E7%89%88-%E5%8E%9F%E5%89%87%E3%83%BB%E3%82%B3%E3%83%B3%E3%82%BB%E3%83%97%E3%83%88-Architect%E2%80%99Archive-%E3%82%AF%E3%83%A9%E3%82%B7%E3%83%83%E3%82%AF%E3%83%A2%E3%83%80%E3%83%B3%E3%83%BB%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0/dp/4798111112%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798111112'>OOSC</a>" (読んでない) 
"<a data:asin='4891003545' href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E8%A6%81%E6%B1%82-Karl-E-Wiegers/dp/4891003545%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891003545'>ソフトウェア要求</a>" 
は息が長い. 
"<a data:asin='489100522X' href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E8%A6%8B%E7%A9%8D%E3%82%8A-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96-%E3%83%9E%E3%82%B3%E3%83%8D%E3%83%AB/dp/489100522X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D489100522X'>ソフトウェア見積り</a>" 
もロングセラーになるだろう. 
また要素技術の中でも廃れきらず踏み止まった定番がある. 
"<a data:asin='4798107956' href='http://www.amazon.co.jp/UML-%E3%83%A2%E3%83%87%E3%83%AA%E3%83%B3%E3%82%B0%E3%81%AE%E3%82%A8%E3%83%83%E3%82%BB%E3%83%B3%E3%82%B9-Object-Oriented-SELECTION/dp/4798107956%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798107956'>Fowler の UML</a>", 
"<a data:asin='4894714515' href='http://www.amazon.co.jp/Effective-ADDISON-WESLEY-PROFESSIONAL-COMPUTING-SERIES/dp/4894714515%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894714515'>Effective C++</a>", 
"<a data:asin='0470084111' href='http://www.amazon.co.jp/About-Face-Essentials-Interaction-Design/dp/0470084111%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0470084111'>About Face</a>" (読んでない) は根強い人気. 
"<a data:asin='0201310058' href='http://www.amazon.co.jp/Effective-Programming-Language-Guide-Series/dp/0201310058%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201310058'>Effective Java</a>" も改版の噂があり, 
ロングセラーの予感がする. </p>
<p>"<a data:asin='0471958697' href='http://www.amazon.co.jp/Pattern-Oriented-Software-Architecture-System-Patterns/dp/0471958697%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0471958697'>POSA</a>" や 
"<a data:asin='0201633612' href='http://www.amazon.co.jp/Design-Patterns-Object-Oriented-Addison-Wesley-Professional/dp/0201633612%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201633612'>Design Patterns</a>" も
(個人的には早く廃れて欲しいけれど)まだよく参照される. 
シリーズとして続編も多く出ている: 
"<a href="http://www.awprofessional.com/series/series.asp?st=44117">Software Patterns Series</a>", "<a href="http://www.cs.wustl.edu/~schmidt/POSA/">Books on Pattern-Oriented Software Architecture</a>"</p>
<p>こういうご長寿本は歴史が鉄板を保証してくれる. 挫けない範囲で読んでいいと思う. </p>
<pre></pre>
<h4>積読アワード</h4>
<p>そういえば気になる読みこぼしを探すのが当初の目的だった. 
忘れないうちにまとめておこう. 以下はまったく個人的なメモです. </p>
<ul>
<li><a data:asin='4873112729' href='http://www.amazon.co.jp/%E3%83%97%E3%83%AC%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0-%E2%80%95%E3%83%AA%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0%E8%BB%BD%E6%B8%9B%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E6%96%B0%E8%A8%AD%E8%A8%88-THEORY-IN-PRACTICE/dp/4873112729%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873112729'>プレファクタリング</a>: トンデモ本だと思ってた...</li>
<li><a data:asin='4798111112' href='http://www.amazon.co.jp/%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E5%85%A5%E9%96%80-%E7%AC%AC2%E7%89%88-%E5%8E%9F%E5%89%87%E3%83%BB%E3%82%B3%E3%83%B3%E3%82%BB%E3%83%97%E3%83%88-Architect%E2%80%99Archive-%E3%82%AF%E3%83%A9%E3%82%B7%E3%83%83%E3%82%AF%E3%83%A2%E3%83%80%E3%83%B3%E3%83%BB%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0/dp/4798111112%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798111112'>オブジェクト指向入門 第2版 原則・コンセプト</a>: ごめん. きっと読む. でも厚すぎ.</li>
<li><a data:asin='4798107956' href='http://www.amazon.co.jp/UML-%E3%83%A2%E3%83%87%E3%83%AA%E3%83%B3%E3%82%B0%E3%81%AE%E3%82%A8%E3%83%83%E3%82%BB%E3%83%B3%E3%82%B9-Object-Oriented-SELECTION/dp/4798107956%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798107956'>UML モデリングのエッセンス 第3版</a>: 新版の差分が知りたい.</li>
<li><a data:asin='4822281868' href='http://www.amazon.co.jp/%E7%86%8A%E3%81%A8%E3%83%AF%E3%83%AB%E3%83%84%E3%82%92-%E3%83%AA%E3%82%B9%E3%82%AF%E3%82%92%E6%84%89%E3%81%97%E3%82%80%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E7%AE%A1%E7%90%86-%E3%83%88%E3%83%A0%E3%83%BB%E3%83%87%E3%83%9E%E3%83%AB%E3%82%B3/dp/4822281868%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822281868'>熊とワルツを</a>: デマルコは数が多くてどれが良いのかわからなかった. これにしよう.</li>
<li><a data:asin='4797319119' href='http://www.amazon.co.jp/%E6%9A%97%E5%8F%B7%E6%8A%80%E8%A1%93%E5%A4%A7%E5%85%A8-%E3%83%96%E3%83%AB%E3%83%BC%E3%82%B9%E3%83%BB%E3%82%B7%E3%83%A5%E3%83%8A%E3%82%A4%E3%82%A2%E3%83%BC/dp/4797319119%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797319119'>暗号技術大全</a>: こいつも厚いなあ...</li>
</ul>
<p>次点:</p>
<ul>
<li><a data:asin='4797328541' href='http://www.amazon.co.jp/C-%E3%81%AE%E8%A8%AD%E8%A8%88%E3%81%A8%E9%80%B2%E5%8C%96-Bjarne-Stroustrup/dp/4797328541%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797328541'>C++の設計と進化</a>: 教養として必要な気もする. 気のせいかもしれない.</li>
<li><a data:asin='4839919798' href='http://www.amazon.co.jp/Code-Quality-%7E%E3%82%B3%E3%83%BC%E3%83%89%E3%83%AA%E3%83%BC%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0%E3%81%AB%E3%82%88%E3%82%8B%E9%9D%9E%E6%A9%9F%E8%83%BD%E7%89%B9%E6%80%A7%E3%81%AE%E8%AD%98%E5%88%A5%E6%8A%80%E6%B3%95%7E-Diomidis-Spinellis/dp/4839919798%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4839919798'>Code Quality</a>: このシリーズは語りが多すぎて肌に合わないんだけれど, 心の積読にはしておく.</li>
<li><a data:asin='4873112494' href='http://www.amazon.co.jp/Head-First%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3-%E2%80%95%E9%A0%AD%E3%81%A8%E3%81%8B%E3%82%89%E3%81%A0%E3%81%A7%E8%A6%9A%E3%81%88%E3%82%8B%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%81%AE%E5%9F%BA%E6%9C%AC-Eric-Freeman/dp/4873112494%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873112494'>Head First デザインパターン</a>: あのフォーマット以外でどうパターンを扱うのか気になる.</li>
<li><a data:asin='487311201X' href='http://www.amazon.co.jp/%E8%BB%BD%E5%BF%AB%E3%81%AAJava%E2%80%95Better-Faster-Lighter-Java-%E3%83%96%E3%83%AB%E3%83%BC%E3%82%B9%E3%83%BBA/dp/487311201X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D487311201X'>軽快な Java—Better</a>: 最近ちゃんと Java を勉強してない. 仕事で使わないからね...</li>
<li><a data:asin='4756149480' href='http://www.amazon.co.jp/The-UNIX-Programming-Eric-S-Raymond/dp/4756149480%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756149480'>The Art of Unix Programming</a>: 自分の中にある Unix プログラマへの偏見を正す機会としたい.</li>
<li><a data:asin='4756108032' href='http://www.amazon.co.jp/%E3%83%A9%E3%83%94%E3%83%83%E3%83%89%E3%83%87%E3%83%99%E3%83%AD%E3%83%83%E3%83%97%E3%83%A1%E3%83%B3%E3%83%88%E2%80%95%E5%8A%B9%E7%8E%87%E7%9A%84%E3%81%AA%E9%96%8B%E7%99%BA%E3%82%92%E7%9B%AE%E6%8C%87%E3%81%97%E3%81%A6-MicrosoftPRESS-Steve-McConnell/dp/4756108032%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756108032'>ラピッドデベロップメント—効率的な開発を目指して</a>: Agile の流れで obsolete になっていないか不安だけれど, McConnell を信じてみたい.</li>
<li><a data:asin='0321127420' href='http://www.amazon.co.jp/Enterprise-Application-Architecture-Addison-Wesley-Signature/dp/0321127420%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321127420'>Patterns of Enterprise Application Architecture</a> : 教養として読みたいけれど, 仕事とは遠い..</li>
</ul>
<p>それにしてもリスト作りは苦行だった. ひたすら検索とコピペの繰り返し. 
世間のアフィリエート人はエライ. 
金に目の眩んだ私が愚かだったと反省しております. もうやりません. 
紹介するのは自分の読んだ本だけで十分. </p>
