---
title: "最近読んだ本"
date: 2007-05-06
---
<h3>最近読んだ本</h3>
<p>まず arai さん推薦の二冊. </p>
<h4><a data:asin='4492443398' href='http://www.amazon.co.jp/%E3%81%82%E3%81%AA%E3%81%9F%E3%81%AET%E3%82%B7%E3%83%A3%E3%83%84%E3%81%AF%E3%81%A9%E3%81%93%E3%81%8B%E3%82%89%E6%9D%A5%E3%81%9F%E3%81%AE%E3%81%8B-%E2%80%95%E8%AA%B0%E3%82%82%E6%9B%B8%E3%81%8B%E3%81%AA%E3%81%8B%E3%81%A3%E3%81%9F%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%90%E3%83%AA%E3%82%BC%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%81%AE%E7%9C%9F%E5%AE%9F-%E3%83%94%E3%82%A8%E3%83%88%E3%83%A9-%E3%83%AA%E3%83%9C%E3%83%AA/dp/4492443398%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492443398'>あなたの T シャツはどこから来たのか?</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%81%82%E3%81%AA%E3%81%9F%E3%81%AET%E3%82%B7%E3%83%A3%E3%83%84%E3%81%AF%E3%81%A9%E3%81%93%E3%81%8B%E3%82%89%E6%9D%A5%E3%81%9F%E3%81%AE%E3%81%8B-%E2%80%95%E8%AA%B0%E3%82%82%E6%9B%B8%E3%81%8B%E3%81%AA%E3%81%8B%E3%81%A3%E3%81%9F%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%90%E3%83%AA%E3%82%BC%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%81%AE%E7%9C%9F%E5%AE%9F-%E3%83%94%E3%82%A8%E3%83%88%E3%83%A9-%E3%83%AA%E3%83%9C%E3%83%AA/dp/4492443398%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492443398' class='bookcover'><img data:asin='4492443398' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51n19NzwDNL.jpg'></span></a></span></p>
<p>面白かった. </p>
<p>アメリカで作られた綿は中国に輸出されて T シャツになり, 
中古シャツとして売り払われアフリカに輸出される. 
その流れを追いながら, 
綿産業/繊維産業を中心にアメリカ経済と世界経済の関係を読み解く. </p>
<p>アメリカの綿農家は奴隷制の時代から競争を避けることで大きく成長してきた. 
繊維産業は産業革命の時代から, 英国, 日本, 中国と比較優位を渡りあるき, 
中国は不当なまでに高い米国の関税をバネに革新を続けている...
こう書くと重苦しい経済学の本のように見えるけれど, 
著者の見事なところは T シャツという題材を軸に民族誌ばりのインタビューを重ね, 
これを物語として描いてみせたところ. 
当事者の声と歴史を交えた語りが重なり, めちゃめちゃ読ませる. </p>
<p>著者には人類への信頼のようなものがあって, その楽観と達観が底にある. 
奴隷制の農場にしろ綿工場の女工にしろ東アフリカの現状にしろ, 
描きようによっては陰惨なものになりかねない話題だ. ところがそうはならない. 
読み終えたあとに残るのは, 物語のフィナーレを迎える感動. 
久しぶりに心底楽しめた読み物だった. </p>
<p>最近は下心のある読書ばかりして, 
小説すらある種の感情を呼び出す材料みたいに扱っていた気がする. 
読み物の快楽を忘れかけてたと反省. </p>
<h4><a data:asin='4022579293' href='http://www.amazon.co.jp/%E3%82%AB%E3%83%A9%E3%82%B7%E3%83%8B%E3%82%B3%E3%83%95-%E6%9D%BE%E6%9C%AC-%E4%BB%81%E4%B8%80/dp/4022579293%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4022579293'>カラシニコフ</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%AB%E3%83%A9%E3%82%B7%E3%83%8B%E3%82%B3%E3%83%95-%E6%9D%BE%E6%9C%AC-%E4%BB%81%E4%B8%80/dp/4022579293%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4022579293' class='bookcover'><img data:asin='4022579293' class='asin image-right' src='http://ecx.images-amazon.com/images/I/510ABE7AJQL.jpg'></span></a></span></p>
<p>ロシア生まれの自動小銃 "カラシニコフ" をめぐる現状を, 
アフリカ地域の内戦を中心に描くノンフィクション. 
こっちも面白かったけれど, 読後感は複雑. 
著者はソマリアの街を取材し, ロシアでカラシニコフ氏(まだ生きてる)にインタビューし, 
AK47 が広まった経路を推理し, そこからアフリカ内戦のひどさをレポートする. </p>
<p>カラシニコフ(AK47) はすごくよくてきた銃で, とにかくメンテナンスが簡単らしい. 
部品は 8 個しかなく, バラして掃除して組み立てるのを 15 分でできる. 
ちょっと砂やゴミが入るくらいでは弾詰まりしない. 
圧倒的な使いやすさと東側諸国の管理の甘さから
カラシニコフは世界各地の紛争に使われている. 
今でも内戦つづくアフリカで圧倒的なシェアを誇っているという. 
子どもでも使える簡単さゆえに多くの少年/少女兵を生み, 
国を滅ぼすまでになってしまった. 原爆と同じく, ルールを変えたテクノロジーと言える. </p>
<p>...と, 序盤は AK47 が中心で話が進むのだが, 
中盤からはアフリカの内戦事情に切り込んでいく. </p>
<p>ソマリアでは警察が軍隊が機能しておらず, 
国民は自前の銃で身を守りながら, 
あるいは隣人の銃に怯えながら底辺の暮らしを続けるしかない. 
NGO がでかけていっても, 強盗に遭うなどして定着できない. </p>
<p>英国作家のフォーサイスは, インタビューのなかで
アフリカなどのダメになってしまっている国を "失敗国家" と呼んでいる. 
ひどい話だけれど, 言いえて妙だと思う. 
警察や破綻している上に銃が野放しだから治安を保てず, 
法が意味を持たない. だからモダンな経済なんて成立しない. 
軍隊も維持できないから独裁国家ですらない. 
国として体を無すのに失敗しちゃっているわけ. 
そういう国に支援金を送っても, 
窓口になっている人の懐に入っておわりなのはよくわかる. 
フォーサイズは "失敗国家" を判断する簡単な基準として, 
"警察や軍隊の給料がちゃんと払われているか" を挙げている. </p>
<p>思わず戦国時代を連想したけれど, もっと酷い. ただ野蛮なだけでなく, 
石油や宝石で権力者に外貨が入ってくるから正しい淘汰も進まない. 
その状況から近代的な国家が立ち上がる様はとても想像できない. </p>
<p>本の最後で, ソマリアで銃の管理を徹底した "ソマリランド" 地域の復興の兆しが語られる. 
部族の長を説得し, ほとんどボランティア同然で国家を作ろうとする住民たち. 
その様には心うたれるが, 未来への道の長さと困難さを思うと気が遠くなる. </p>
<p>人類から国家が生まれるというの奇跡に近い偉業だとわかる. 
日本はよく崩壊せず国家になれたもんだなあと変に関心し, 先祖に感謝した.</p>
<h4><a data:asin='4894715899' href='http://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%82%B9%E3%82%AF%E3%83%A9%E3%83%A0-%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E3%82%B1%E3%83%B3-%E3%82%B7%E3%83%A5%E3%82%A8%E3%82%A4%E3%83%90%E3%83%BC/dp/4894715899%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894715899'>アジャイルソフトウェア開発スクラム</a>, <a data:asin='4891004401' href='http://www.amazon.co.jp/%E3%82%B9%E3%82%AF%E3%83%A9%E3%83%A0%E5%85%A5%E9%96%80-%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88-%E3%82%B1%E3%83%B3%E3%83%BB%E3%82%B7%E3%83%A5%E3%82%A8%E3%82%A4%E3%83%90%E3%83%BC/dp/4891004401%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891004401'>スクラム入門</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%82%B9%E3%82%AF%E3%83%A9%E3%83%A0-%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E3%82%B1%E3%83%B3-%E3%82%B7%E3%83%A5%E3%82%A8%E3%82%A4%E3%83%90%E3%83%BC/dp/4894715899%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894715899' class='bookcover'><img data:asin='4894715899' class='asin image-right' src='http://ecx.images-amazon.com/images/I/513C5E7XP7L.jpg'></span></a></span> <span class='image'><a href='http://www.amazon.co.jp/%E3%82%B9%E3%82%AF%E3%83%A9%E3%83%A0%E5%85%A5%E9%96%80-%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88-%E3%82%B1%E3%83%B3%E3%83%BB%E3%82%B7%E3%83%A5%E3%82%A8%E3%82%A4%E3%83%90%E3%83%BC/dp/4891004401%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891004401' class='bookcover'><img data:asin='4891004401' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41ZR898K95L.jpg'></span></a></span></p>
<p>ここからは下心本です. </p>
<p>以前から Scrum には興味を持っていた. 友人から良いと勧められていたからだ. 
先の Video を見たこともあり, ちょっと勉強してみる気になった. 
調べてみると Google だけでなく Microsoft でも試みがあったらしい. 
("<a href="http://www.eweek.com/article2/0,1895,1885883,00.asp">Microsoft Lauds 'Scrum' Method for Software Projects</a>", "<a href="http://www.testingreflections.com/node/view/1595">Scrum at Microsoft</a>"). Video では Nokia についても紹介があった. 
気にもなるでしょ. </p>
<p>で, 読んでみた. "開発" の方が先に出た入門編. "入門" はあとから出たケーススタディ中心の本. 
"開発" だけ読めばよさそう. もともとプロセス自体はシンプルで, 
実施は個人の能力に大きく依存している. 
(個人の自律性とコミットを引き出すってことになってるから.) 
なので従うべきプラクティスは少い. 
導入自体も incremental にできそうだし, たしかに悪くない気がする. </p>
<p>ところで翻訳のプロセス本って読み辛いね...この手のアジャイル本は久し振りに読んだけれど, 
こんなにきつかったっけ. 訳が悪いのか元が悪いのかわからんけど, 
あまり好きな文章ではないなあ ... "入門" は特につらかった. 
アジャイルらしく, もっと平易な言葉で訳していいと思う. 
半分精神論なんだから, よしわかった, できる, やるぞ, という身体感覚を大切にしたい. 
ひっかかって意味をとるのに苦労するようだと自己啓発効果が下がってしまう. 
導入したい時に "読んどいて" と気楽に渡すのは気がひける. 
"<a data:asin='4274066568' href='http://www.amazon.co.jp/Ship-%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88-%E6%88%90%E5%8A%9F%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E9%81%94%E4%BA%BA%E5%BC%8F%E3%82%AC%E3%82%A4%E3%83%89%E3%83%96%E3%83%83%E3%82%AF-Jared-Richardson/dp/4274066568%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066568'>Ship It!</a>" くらいのカジュアルさだといいのになあ.</p>
<h4><a data:asin='4492520813' href='http://www.amazon.co.jp/%E7%9F%A5%E8%AD%98%E5%89%B5%E9%80%A0%E4%BC%81%E6%A5%AD-%E9%87%8E%E4%B8%AD-%E9%83%81%E6%AC%A1%E9%83%8E/dp/4492520813%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492520813'>知識創造企業</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E7%9F%A5%E8%AD%98%E5%89%B5%E9%80%A0%E4%BC%81%E6%A5%AD-%E9%87%8E%E4%B8%AD-%E9%83%81%E6%AC%A1%E9%83%8E/dp/4492520813%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492520813' class='bookcover'><img data:asin='4492520813' class='asin image-right' src='http://ecx.images-amazon.com/images/I/519HR6BNZSL.jpg'></span></a></span></p>
<p>Scrum のネタ元のひとつに出てきたので読んでみた. 
80-90 年代の日本企業を題材に, 革新や改善を続けていく企業のありかたを説明している. 
全体的に堅めの話. 
暗黙知と形式知の間のフィードバックループとか, ハイパーテキスト型企業とか, そういうの. 
でてくる日本企業のケーススタディが プロジェクト X ぽくて面白い. 
松下の自動パン焼き機開発で, こね方の極意を学ぶためにパン職人のところに行く話とか. </p>
<p>一方でプロジェクトというものは本質的に再現不可能という印象も深まる. 
著者がモデル化している知識創造のフレームワークがどういうものかは
そこそこ理解できたけれど, それをどう implement すればいいのか見当がつかない. 
私はどうもプラグマティクス/プラクティス学派に慣れすぎている気がする. 
プロジェクトのケーススタディを分析し, 
そこからあるべき企業組織を提案するといった
曖昧で大風呂敷な議論についていけない. </p>
<p>Scrum との類似に目をやると, 
具体的な話としては目標にコミットして権限を持つチームを作るあたりが似ている. 
あとはカオスや自律性に着目し, それを引き出そうとする思想は共通しているのかもしれない. 
どちらにも私がピンとこないのは, 
カオスの中から起こる革新なんてのにあまり覚えがないからだろうか. 
創造性を欠く自分の気付くのは悲しい. </p>
<h4><a data:asin='4569690645' href='http://www.amazon.co.jp/%E3%83%88%E3%83%A8%E3%82%BF%E3%81%AE%E4%B8%8A%E5%8F%B8%E3%81%AF%E7%8F%BE%E5%A0%B4%E3%81%A7%E4%BD%95%E3%82%92%E4%BC%9D%E3%81%88%E3%81%A6%E3%81%84%E3%82%8B%E3%81%AE%E3%81%8B-PHP%E6%96%B0%E6%9B%B8-%E8%8B%A5%E6%9D%BE-%E7%BE%A9%E4%BA%BA/dp/4569690645%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4569690645'>トヨタの上司は現場で何を伝えているのか</a></h4>
<p>いかにもなトヨタ本. 
短いトピックが色々列挙されているから, 
一般自己啓発教養としてトヨタネタを仕入れるには良さそう. 
ソフトウェア開発で参考になる気はしない. </p>
