---
title: "最近みた TechTalks"
date: 2007-01-29
---
<h3>最近みた TechTalks</h3>
<h4><a href="http://video.google.com/videoplay?docid=2728972720932273543">Ubuntu Linux</a></h4>
<p></p>
<p>Ubuntu Linux の紹介. technical side と social side を, 
という触れ込みだったけれど, 
おおよそ social side の話だった気がする. 
そもそもプロジェクト管理の話は technical と social のどちらなのか. 
よくわからない... </p>
<p>私は social な話にあまり興味が持てない...というより聞きとれないので, 
いまいちピンとこない話だった. でもいくつか面白い話もあったのでメモしておく.</p>
<ul>
<li>機能よりリリース周期を重視する. 機能はほとんどコントロールできないから.</li>
<li>なるべく upstream に近い最新版を使う. そうすると, patch を作った時などに本家へ feedback しやすい. 古いパッチは嬉しくない.</li>
<li>他の distro や, あわよくば BSD とも連携したい.<ul>
<li>そこで <a href="https://launchpad.net/">launchpad.net</a> というサイトを使い初めた. バグや翻訳などを共有するサービス.</li>
</ul></li>
<li>次のリリースは 4 月. .Desktop Effect が default で有効, Telepathy も入る.</li>
</ul>
<p>それにしても, social どうこう以前に Distro を作る仕事は全貌がわかりにくいなあ. 
色々やっているんだろうけれど, 色々ありすぎて. </p>
<p>そういう意味で, launchpad.net は面白い. 
distro を支援するサイトなので, やっていることがよく見える. 
3 年くらい前からあるらしいのに, ぜんぜん知らなかった. </p>
<p>機能は sourceforge に近い. 
ただし既にある他のプロジェクトにくっついて作業するのに特化している. 
たとえば本家の trunk をミラーするサービスがあったりする.
bugtrack も, 本家へのレポート機能がある, みたい. 
(ちょっと眺めただけだと具体例はみあたらず.) 
あと翻訳支援がある. 
いわれて見れば distros はそこらへんのソフトウェアより翻訳に熱心な気はする. </p>
<p>そんなわけでちょっと Ubuntu が使いたくなった. 
Leopard が出たら mac mini をもう一台買って, 古い方に Ubuntu を入れようかな. </p>
<h4><a href="http://video.google.com/videoplay?docid=5390756157577204650">Seamless Information Capture and Discovery for Corporate Memory</a></h4>
<p></p>
<p>"企業の記憶" を集め, 検索する仕組みをつくろうという研究の話. 
<a href="http://www.fxpal.com/">富士 XEROX の研究所(FXPAL)</a> による. デモつき. 
聴衆はまばらだ. 検索の話なのに...</p>
<p>私が corporate memory と聞いて連想したのは "暗黙知" だった. 
どうも少しちがう話らしい. 
冒頭, そのの定義として "It allows a company to know that it knows" 
というのを紹介する. また比喩として "corporate memex" とも言っている. </p>
<p>つかみは抽象的だけれど, 中味はもう少し具体的. 
まず問題意識として, 
世の中すでにコンテンツはあるのにそれらが corporate memory として活用されていない, 
という認識がある. 
なぜか? それを整理したり引き出したりするのには何かしら手間があるからだ. 
だから手間フリーな方法を考えました. という話だった. 
紹介される試作品は二種類. 
それぞれが情報の Capture (収集) と Discovery (検索) に対応している. </p>
<p>前半が Capture 用の試作品である <a href="http://www.fxpal.com/?p=PBox">ProjectorBox</a> 
の紹介. 会議室のプロジェクタ用ディスプレイ端子につないで, 
ノート PC とプロジェクタの間で動く. 
PC から出力される映像をすべて録画し, その内容を文字認識して保存, 索引づけする. </p>
<p>企業の知識の多くがプロジェクタに投影されるという洞察は面白い. 
たしかにこの方法なら手間フリーだ. 
使ったスライドを CMS にアップロードする手間はかけてもらえない現状を
うまいハックで乗り越えている. 容量は 30MB/hour. 
スライドの画像と同時に音声も取っているらしいけれど, 
音声認識はなし. 保存された映像の閲覧 UI では聞くことができるらしい. 
保存したスライドは Web の UI から検索できる. デザインが Google モドキなのが微笑ましい. 
検索結果は動画と音声なんだけれど, 
スライドの情報を使って色々な支援が入っているのが便利そう. 
文字認識のついでにスライドの改ページも認識しているらしい. </p>
<p>プロトタイプは企業や大学に設置してフィードバックを得たという. 
学生はノートをとらず, そのぶん話に集中するようになったという. いいな. 
黒板を写すのってかったるいからね. </p>
<p>セキュリティの問題もあり, 全ての会議を録画するのは無理かもしれない. 
一方でそこは企業文化も関係しているだろう. 
手間の次にある情報共有の障壁は, おそらくデフォルト非公開の文化だろうな. 
逆にプレインテキストと CMS の文化圏なら, そもそもこの仕組みはいらないだろうから. </p>
<p>...</p>
<p>後半は Discovery のための試作品 <a href="http://www.fxpal.com/?p=PALBar">PAL Bar</a>. 
ブラウザのツールバーとして動くソフトウェアで, ユーザが見ているページを監視して
そのページの内容に応じた社内の情報をユーザに提示する. 
これは検索エンジン各社がみなやりたくて, でもやってしまうと職権濫用で叩かれそうだから
できない類の話だなあ. 企業内システム+研究という切り口でやってしまうとは...</p>
<p>実際にやってみた甲斐あって発見はあったようす. 
当初は閲覧ページの関連情報が社内ライブラリにあるとツールバーの一部が赤く光る仕様だったが, 
利用者は気付いてくれなかった. ポップアップで出してみると邪魔だった. 
そこで, 週単位で関連情報をまとめたサマリページをユーザ毎に生成することにしたという. 
これはまあまあ好評だったらしい. 
邪魔はせず, しかし必要な情報を見落させない, 妥当な切り口に見える.  </p>
<p>といったところでありました. </p>
