---
title: "本当にあった BLOB の話"
date: 2007-10-06
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?TheTrueStoryOfBlobs">本当にあった BLOB の話</a></h3>
<p><a href="http://www.ospn.jp/osc2007-fall/">OSC2007 Tokyo/Fall</a> で 
<a href="http://dev.mysql.com/doc/falcon/en/index.html">MySQL Falcon</a> 
の話を聞いた. (<a href="http://www.mysql-ucj2007.jp/session/index.html">関連スライド</a>.) 
色々すごそうだということがわかった. </p>
<p>話によると, Falcon を作ったのは 
<a href="http://en.wikipedia.org/wiki/Jim_Starkey">Jim Starkey</a> という凄腕データベース
エンジニア. もとは InterBase を作っていた人で, BLOB なんかも彼の発明だという. 
はて, その話はどこかで聞いたことがあるような...とブックマークを漁る. 
あった. 
<a href="http://www.cvalde.net/misc/blob_true_history.htm">The true story of BLOBs</a>. 
ちょっと面白かったので訳して YukiWiki に置かせてもらいました: 
<a href="http://www.hyuki.com/yukiwiki/wiki.cgi?TheTrueStoryOfBlobs">本当にあった BLOB の話</a>. 割とどうでもいい話ではあるけどね...</p>
