---
title: "XMLHTTP の話。"
date: 2007-03-17
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?StoryOfXmlhttp">XMLHTTP の話。</a></h3>
<p>なにか面白い話はないかなーとブックマークを物色, 
めぼしいのを訳しました. 
<a href="http://www.hyuki.com/yukiwiki/wiki.cgi?StoryOfXmlhttp">YukiWiki</a> へ. 
個人的には WebDAV の話がショック. 君の仕業だったかと...</p>
<p>著者への連絡はこれから.</p>
