---
title: "C10K 問題"
date: 2007-03-04
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?TheC10kProblem">C10K 問題</a></h3>
<p>訳してみた. 
また <a href="http://www.hyuki.com/yukiwiki/wiki.cgi?TheC10kProblem">YukiWiki に置かせてもらってます</a>. 元ネタは "<a href="http://www.kegel.com/c10k.html">The C10K Problem</a>".</p>
<p>年末年始に訳しかけたけれど時間切れで放置してあった. 
今日はいまいち新しいことをやる気がおきず, 外出する財力もなく, 
後始末でもするかと再開して完了. </p>
<p>引用される割に読まれていないと感じたのが訳そうと思った動機. 
資料的価値は高いのかもしれないけれど, たしかに読み物としてはあまりよくない. 
特に後半はトピックの列挙と箇条書きばかりで訳すのは退屈. 
まあ, 仕方ないんだけど. 資料だし... 
読み物として面白くないものは訳すのも辛いと学びました. </p>
<p>長いのと退屈なのとでかなり雑になってしまった. 
機械翻訳に毛が生えたものと割り切り, 
気になる部分は添削してもらえると嬉しゅうございます. 
あらあらかしこ. </p>
