---
title: "Daddy Long Legs"
date: 2007-01-06
---
<h3>Daddy Long Legs</h3>
<p><span class='image'><a href='http://www.amazon.co.jp/Daddy-Long-legs-%E3%82%AF%E3%82%A4%E3%83%BC%E3%83%B3%E3%82%BA%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9-%E5%8B%9D%E7%94%B0/dp/4088653378%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4088653378' class='bookcover'><img data:asin='4088653378' class='asin image-right' src='http://ecx.images-amazon.com/images/I/31SCM0N8SPL.jpg'></span></a></span></p>
<p>少し前に読んだ勝田文のマンガ "<a data:asin='4088653378' href='http://www.amazon.co.jp/Daddy-Long-legs-%E3%82%AF%E3%82%A4%E3%83%BC%E3%83%B3%E3%82%BA%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9-%E5%8B%9D%E7%94%B0/dp/4088653378%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4088653378'>Daddy Long Legs</a>" が面白かった. 
勢いで原案の "<a data:asin='4102082018' href='http://www.amazon.co.jp/%E3%81%82%E3%81%97%E3%81%AA%E3%81%8C%E3%81%8A%E3%81%98%E3%81%95%E3%82%93-%E6%96%B0%E6%BD%AE%E6%96%87%E5%BA%AB-%E3%82%B8%E3%83%BC%E3%83%B3-%E3%82%A6%E3%82%A7%E3%83%96%E3%82%B9%E3%82%BF%E3%83%BC/dp/4102082018%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4102082018'>あしながおじさん</a>" も読む. こちらも楽しい. 
名の知れた古典な上に, 
"<a href="http://ja.wikipedia.org/wiki/%E7%A7%81%E3%81%AE%E3%81%82%E3%81%97%E3%81%AA%E3%81%8C%E3%81%8A%E3%81%98%E3%81%95%E3%82%93">ハウス名作劇場</a>" 
になり, 孤児支援の偶像でもある. 
そうした道徳的な臭いに近付き難さを感じていたけれど, 偏見だった. 単純にいい. </p>
<p>勝田バージョンは舞台を大正日本 ("<a data:asin='4063411729' href='http://www.amazon.co.jp/%E3%81%AF%E3%81%84%E3%81%8B%E3%82%89%E3%81%95%E3%82%93%E3%81%8C%E9%80%9A%E3%82%8B-%E8%AC%9B%E8%AB%87%E7%A4%BE%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9%E3%83%87%E3%82%B6%E3%83%BC%E3%83%88-172%E5%B7%BB-%E5%A4%A7%E5%92%8C-%E5%92%8C%E7%B4%80/dp/4063411729%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4063411729'>はいからさんが通る</a>" ですね.) 
に移したリメイク. 
登場する古典文学は若草物語でなく漱石, 詩人はエリオットでなく与謝野晶子, 
観劇に出かけるのはニューヨークでなく東京. 
このへんの移しかえがいちいち上手く, 学生ぐらしの雰囲気を損ねない. 
もっとも現代から見れば大正日本と十九世紀アメリカはどちらも遠い異国の話だ. 
オリジナルにないエピソードもさりげなく挟まれ, 大正の舞台を引き立てている. 
学園物をよくわかっている書き手だなと思う. </p>
<p>勝田バージョンを読んでからオリジナル(?)の松本訳に戻ると, 
文章が堅苦しく, 古くさい. 
最初は面食らって, 誰かモダン口語に訳しなおせばいいのにと思う. 
でも読み進めるとこれも悪くない. 
主人公のやんちゃさと慇懃のギャップが可笑しくて, 
手紙の向こうで舌を出して笑う主人公の顔が目にうかぶ. 
読み終えたあとは, もうこの訳しかないだろうという気にすらなる. 
勝田バージョンもこの訳の影響下にあることがわかる. 
若草物語も読まねばなるまい. </p>
<p>これを読むのが文学少女なら, おそらく描かれている学園生活に夢を馳せて楽しむのだろう. 
でもこれを読む中年は, その上におじさんビューも重ねあわせる. 
自分の資産で大学に送りこんだ娘から来た手紙を楽しむわけ. まったくろくでもない. 
よく少年コミック誌に連載されている妄想具現化カテゴリと同じようなもの. 
でも私はむしろ, そういう読み方 &lt;も&gt; できる懐の広さを強調したい. 
たとえば同じ古典少女ジュブナイルの系譜にある "赤毛のアン" は, 
そうした中年視点を許さないだろうから. 許されても困るけど. </p>
<h4>古典を聴く</h4>
<p>原著者の Webster は 1917 年没. なので Daddy Long Legs は 
<a href="http://www.gutenberg.org/etext/157">Project Gutenberg</a> から手に入れることができる. 
そのへんのページを眺めていたら, <a href="http://librivox.org/">LibriVox</a> というサイトがあった. 
"LibriVox volunteers record chapters of books in 
the public domain and release the audio files back onto the net." だそうな. 
要は Gutenberg のオーディオ版か. 
<a href="http://librivox.org/daddy-long-legs-by-jean-webster/">Daddy Long Legs</a> もあった. 
よく見ると <a href="http://www.gutenberg.org/etext/19782">Gutenberg にもオーディオ版がある.</a> 
さすが朗読の国. 活字と音声がセットで手に入るとはすばらしい. 
でも結局は知らない単語が多すぎて, 早々に挫けた私でありました. あらあらかしこ. </p>
<p>あなたをこころから愛する <br />
omo より.</p>
