---
title: "生命を吹き込む魔法"
date: 2007-12-07
---
<h3>生命を吹き込む魔法</h3>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%87%E3%82%A3%E3%82%BA%E3%83%8B%E3%83%BC%E3%82%A2%E3%83%8B%E3%83%A1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3-%E7%94%9F%E5%91%BD%E3%82%92%E5%90%B9%E3%81%8D%E8%BE%BC%E3%82%80%E9%AD%94%E6%B3%95-The-Illusion-Life/dp/4198615004%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4198615004' class='bookcover'><img data:asin='4198615004' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51TB5SQB7GL.jpg'></span></a></span></p>
<p>Amazon から包みがとどき, 中から 
<a data:asin='0125320000' href='http://www.amazon.co.jp/Computer-Animation-Second-Edition-Algorithms/dp/0125320000%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0125320000'>Computer Animation: Algorithm and Techniques</a> がでてきた. 
なんだこりゃ... どうやら前によっぱらいの勢いで注文したものが今頃になって届いた様子. 
でも勢いで積むにはちょっと高い. アルコールのばか... 
もったいないので積読へ葬る前に一章だけ読んでみる. 
すると "Principles of Animation" なんて話があり, もう一冊の積読を記憶から呼び覚ました. </p>
<p><a data:asin='4198615004' href='http://www.amazon.co.jp/%E3%83%87%E3%82%A3%E3%82%BA%E3%83%8B%E3%83%BC%E3%82%A2%E3%83%8B%E3%83%A1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3-%E7%94%9F%E5%91%BD%E3%82%92%E5%90%B9%E3%81%8D%E8%BE%BC%E3%82%80%E9%AD%94%E6%B3%95-The-Illusion-Life/dp/4198615004%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4198615004'>生命を吹き込む魔法</a> という本がある. 
ディズニーのアニメーション技法をその歴史に絡めつつまとめた教科書. 私の積読コレクションに眠っている. 
原題は 
<a data:asin='0786860707' href='http://www.amazon.co.jp/Illusion-Life-Disney-Editions-Deluxe/dp/0786860707%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0786860707'>The Illusion of Life</a>. 初めて本を見かけたとき, 邦題に感心したのを覚えている. </p>
<p>この教科書の一節に Disney の principles of animation が紹介されている. 
1981 年に書かれたセル・アニメーションの "原則" が 
2007 年出版の CG アニメーションの本にも息づいてるのは面白い. 
アイデアの影響力が伺える. 
CG への応用は早くも 1987 年に提案されている: 
"<a href="http://www.siggraph.org/education/materials/HyperGraph/animation/character_animation/principles/prin_trad_anim.htm">Principles of Traditional Animation Applied to 3D Computer Animation</a>". </p>
<p>...とここまでは届いた本の受け売り. 少しはもとがとれたかしら. 
そういえば私が '生命を吹き込む魔法' の存在を知ったのもアニメーション・アルゴリズムの記事から
参照されていたのがきっかけだった. 
<a href="http://scholar.google.com/scholar?hl=en&amp;lr=&amp;cites=12870886142351486377">Google Scholar で調べる</a> と 171 の引用がある. 論文ではないことを考えると大した数だと思う. </p>
<p>さて, 件の principle は全部で 12 種類ある. 
セルアニメーション固有の話 ("Straight Ahead Action and Pose-to-Pose Action") や
抽象度が高くむずかしい話 ("Staging", "Appeal") もあるけれど, 
アルゴリズムで解決したくなるくらい具体的なものもあるし, セルアニメーションに限った話ばかりでもない. 
先の <a href="http://www.siggraph.org/education/materials/HyperGraph/animation/character_animation/principles/prin_trad_anim.htm">応用記事</a> には割と詳しい説明がある. 
読み物として面白い. それに対話的なアプリケーションでオブジェクトを動かしてみたけどいまいち冴えない, 
というプログラマはヒントになるかもしれない. 
本家の教科書にはディズニーの挿絵(というか原画)つきで解説がある. それは立ち読みまでのお楽しみ.</p>
<h4>魔法使いの弟子たち</h4>
<p>家にテレビもないテキスト原理主義者兼メディア音痴の私からすると, 
アニメーションはほんとうに "生命を吹き込む魔法" だ. 
魔法使いへの道は平坦でない. 
第一の原則 "Squash and Stretch" を身につける訓練は, 
ゴムボールが跳ね返る様子といった単純なアニメーションをうまく描けるようになることだという. 
下手なアニメーションはねぼけたカエルみたいに見えてしまう. 
ためしにやってみたら, カエルどころか物理法則を無視した異次元の何かになってしまった. ひどい...</p>
<p>著者はこんな逸話を披露する(私訳):</p>
<blockquote><p>見習いのアーティストはみな独創的で, 様々なバリエーションを試します. 
いろいろと試すごとに, 彼らはアニメーションをやりとげるにはどうすべきか, 
シーンの中で重要なのは何かを身につけていくのです. 
あるアーティストは最初のバウンドを大きく描くことで違いをつくりました. 
跳ね返りは徐々に小さくなり, 弾力を失っていくわけです. 
視点に動きをくわえ, 難しい課題をこなせると訴える者もいます. 
ボールに縞模様をつけて回転の様子をあらわす者もします. 
こういう工夫をする連中はすぐエフェクト部門に引っ張られます.
そこで人工的な種類のアニメーションを担当するのです. 
もっと鮮やかで楽しいのがいい人もいて, 彼らはあっと驚くエンディングを好みます: 
ぶつかって爆発するボール, 二度目のバウンドで卵のように割れるボール, 
羽根を生やし, どこかに飛び立っていくボールもありました. </p>
</blockquote>
<p><a href="http://www.faqs.org/docs/artu/ch11s01.html">Least surprise</a> を好むプログラマには
できない仕事だと思った次第でございます. あらあらかしこ.</p>
