---
title: "最近みた TechTalks"
date: 2007-01-17
---
<h3>最近みた TechTalks</h3>
<p>毎日一本を目標にみているんだけれど, メモを書くペースが追いつかない. 
時間がかかりすぎる. どれもそこそこ面白いだけに悲しいけれど, 
Google Video だけに貴重な余暇を食い潰されるのも困る. 
テレビっ子ならぬビデオ中年になってしまう. 
ABSTRACT を訳すだけにしようか... ぜんぜん ABSTRACT のないやつもあるなあ. 
なにしろ比較的ぱっとしなかったやつの紹介は軽く済ませたい. </p>
<h4><a href="http://video.google.com/videoplay?docid=2728972720932273543">Ubuntu Linux</a></h4>
<p></p>
<p>というわけでぱっとしなかったやつ. 
Ubuntu がぱっとしないんじゃなくて, 話の内容が私に興味の薄いものだったということね. </p>
<p>Ubuntu Linux の紹介. もっぱらプロセスとかコミュニティの話だった. 
機能よりもリリース間隔を重視するというのは面白い. 
機能はコミュニティの外にあってコントロールできないから, らしい. 
まあ継続的にバージョンがあがると作っている感じはするよね. 
あとソフトウェアはなるべく最新のバージョンを使うという話も. 
distro は自分で何かパッチをあてることが多いんだけれど, 
そういうパッチを本家に還元しようと思った時に古いパッチは嫌われる. 
だから最新のを使うようにする, のだそうな. 
ライブラリのバージョンはどう足並みを揃えるんだろうか. </p>
<p>私は distro の仕事というのをよくわかっていない. 
なので Ubuntu で使っている disro 支援ウェブアプリケーションの
<a href="https://launchpad.net/">launchpad.net</a> は面白かった. 
あーこういう仕事なのねと. 本家のブランチ管理(同期機能も), バグ管理, 翻訳, など. 
distro 固有のソフトウェアに対しては sf.net 相当の機能も提供する. 
特に Malone という "collaborative" BTS が面白そうだった. 
メタ BTS というか, 複数の BTS にまたがってバグを管理できるらしい. 
でも仕組みはよくわからん...</p>
<p>そのほか 4 月リリース次版の機能について, 
Desktop Effect や Telepathy が入るんだそうな. 
ちょっと Ubuntu が使いたくなってきた. 
Leopard が出たら mac mini をもう一台買って, 古い方に Ubuntu を入れようかな. </p>
<h4><a href="http://video.google.com/videoplay?docid=-8967914974980683249">Developing JavaScript with Chickenfoot</a></h4>
<p></p>
<p>こいつは ABSTRACT がある. 訳そう. </p>
<p>ABSTRACT:</p>
<blockquote><p>Chikenfoot は Firefox の拡張です.  
ブラウザの Sidebar に JavaScript の開発環境を埋めこむことができます. 
DOM へのアクセスを提供するだけの JavaScript シェルとは異り, 
Chikenfoot はユーザに高位の API を提供し, 
エンドユーザからハッカーにまでが使えるweb scripting を実現します. 
この講演で, 我々は Chikenfoot の設計と実装を紹介します. 
特に, キーワードパターンを用いる革新的なページ部品の特定技法を説明します. 
また, Chikenfoot を使ってウェブアプリをデバッグしたり, 
プロトタイプを作る方法についてのデモも行います. 
実際に Firefox の拡張を一分以内に作ってみせます. できなかったらお代はお返しします.</p>
</blockquote>
<p>Selenium と Greasemonky の間の子みたいのを作る UI を 
Firefox の Extension で作りましたという話. </p>
<p>Greasemonkey は(たしか)ページをまたげないし, 
ページをまたげる Selenium はテスト用. 
これはユーザ向けにページをまたいだ自動化を支援する. ちょっといいかも. 
研究の肝としてはキーワードから DOM の subtree を推定する scraping 機能. 
実装はいまいちな雰囲気だけれど, ページをまたぐ自動化まで許すブラウザ向けシェル環境や
対話的に部分 HTML を抜き出す UI は割と promissing な路線には思える. 
実装までをがんばった決定版が欲しい. </p>
