---
title: "最近読んだ本"
date: 2007-08-26
---
<h3>最近読んだ本</h3>
<p>前回は <a href="http://dodgson.org/omo/t/?date=20070506">5 月</a>. </p>
<h4><a data:asin='4756148239' href='http://www.amazon.co.jp/%E3%82%BB%E3%82%AD%E3%83%A5%E3%82%A2%E3%82%B3%E3%83%BC%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0-SEI-SERIES%E3%83%BBA-CERT-BOOK/dp/4756148239%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756148239'>C/C++ セキュアコーディング</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%BB%E3%82%AD%E3%83%A5%E3%82%A2%E3%82%B3%E3%83%BC%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0-SEI-SERIES%E3%83%BBA-CERT-BOOK/dp/4756148239%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756148239' class='bookcover'><img data:asin='4756148239' class='asin image-right' src='http://ecx.images-amazon.com/images/I/513oAI3EWzL.jpg'></span></a></span></p>
<p>中味はバッファオーバーランとその亜種で半分くらい, 残りは整数演算と競合条件の話. 
バッファオーバーランは C 標準のダメ API を使わなければだいたい防げるからいいとして, 
整数演算と競合条件は怖い. 
特に競合条件は OS の資源を使う各所で起こりそうだから, 防ぎ切るのは大変そう... </p>
<p>そのほか C/C++ コードに対するセキュリティ強化用のツールやライブラリが紹介されている. </p>
<h4><a data:asin='4822282716' href='http://www.amazon.co.jp/%E3%83%87%E3%82%B9%E3%83%9E%E3%83%BC%E3%83%81-%E7%AC%AC2%E7%89%88-%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A8%E3%82%A2%E9%96%8B%E7%99%BA%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%81%AF%E3%81%AA%E3%81%9C%E6%B7%B7%E4%B9%B1%E3%81%99%E3%82%8B%E3%81%AE%E3%81%8B-%E3%82%A8%E3%83%89%E3%83%AF%E3%83%BC%E3%83%89%E3%83%BB%E3%83%A8%E3%83%BC%E3%83%89%E3%83%B3/dp/4822282716%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822282716'>デスマーチ</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%87%E3%82%B9%E3%83%9E%E3%83%BC%E3%83%81-%E7%AC%AC2%E7%89%88-%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A8%E3%82%A2%E9%96%8B%E7%99%BA%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%81%AF%E3%81%AA%E3%81%9C%E6%B7%B7%E4%B9%B1%E3%81%99%E3%82%8B%E3%81%AE%E3%81%8B-%E3%82%A8%E3%83%89%E3%83%AF%E3%83%BC%E3%83%89%E3%83%BB%E3%83%A8%E3%83%BC%E3%83%89%E3%83%B3/dp/4822282716%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822282716' class='bookcover'><img data:asin='4822282716' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51ZPF06AV9L.jpg'></span></a></span></p>
<p>一冊くらいデマルコを読んでおこうと手にとった. 
ら, デマルコじゃなくてヨードンだった...</p>
<pre></pre>
<p>ヨードンは "プロジェクトのパラメータが正常値を50%以上超過したもの" 
とデスマーチを定義している. 
デスマーチというと非人道的なものを連想するけれど, そうとは限らない. 
たとえば一山あてようと熱心に働いている(失敗と隣り合わせの)ベンチャーも
デスマーチだにあたる でも当人に不満はないだろう. 
本の内容は, デスマーチの実体はどういうものかの説明が半分, 
どうやってその中を生き延びるかという話がもう半分. </p>
<p>その中で労働時間と生産性の関係について記述があり, 
ヨードンはもっともアウトプットが多いのは週に 60-80 時間の労働だと主張している. 
たしかに身に覚えがある. XP が主張する週 40 時間労働でのアウトプットを私は疑問に思っていた. 
週 80 時間のハードワークが嫌なのは, 
生産性が下がるからではなくて人間的な暮らしがしたいからだ. 
生産性を理由にした短時間労働の主張はいまいち実感とあわずうさんくさい. 
その点でこの主張は信用できる. ヨードンは 80 時間働けと主張しているわけではない. 
生産性と人生は別の問題だという当たり前だが見落されがちな前提がある. </p>
<h4><a data:asin='0132392275' href='http://www.amazon.co.jp/Distributed-Systems-Principles-Andrew-Tanenbaum/dp/0132392275%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0132392275'>Distributed Systems: Principles and Paradigms (2nd Edition)</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Distributed-Systems-Principles-Andrew-Tanenbaum/dp/0132392275%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0132392275' class='bookcover'><img data:asin='0132392275' class='asin image-right' src='http://ecx.images-amazon.com/images/I/518hGvqORpL.jpg'></span></a></span></p>
<p>ネットワークのミドルウェア屋さん勤務ということで読む. 
勉強にはなったがしんどかった. 
理論の話(様々な一貫性の定義, 失敗の種類など) と
アーキテクチャやアプリケーションの話(分散 FS がどうとか) の二本立て. 
序盤で概要やアーキテクチャの話をしてそのあとに理論の話, 
理論の上でアプリケーションの話と進む. </p>
<p>アプリケーションやアーキテクチャの話は良くかけているし, 
知らないことも多く勉強になった. 
一方で理論やアルゴリズムの説明はわかりづらい. 
もともと複雑な問題な上に応用がわかりにくく, 気付くと寝ている読書の日々が続いた. </p>
<p>アーキテクチャやアプリケーションの話は適当なサーベイを読んだり
実装のマニュアルを読んだりした方がよくわかる面がある. 
でも理論やアルゴリズムを実装から読み解くのは難しい. 
教科書にはそこをフォローして欲しいんだけどなあ... </p>
<p>分散システムの理論的な核にあるのは
一貫性, 同期, 耐障害性のモデル化とアルゴリズムだということはわかったので, 
また気合が溜まったらアルゴリズムに焦点を合わせた教科書を読むことにしよう. 
だいぶ先になりそうだけど. あと参考文献は充実しているので, 
面白そうなのを端から読んでいくのは良いかもしれない. 
この二版が出たのは 2006 年なので, それなりに新しい話題も入っている. GFS とか. </p>
<p>ところでこの本の <a href="http://www.amazon.com/dp/0132392275/">Amazon の星</a> は 3 つ. 
レビューも全体に辛辣. 
以前 <a href="http://www.amazon.com/dp/0072465638">牛の本</a> のレビューが低いのを見て以来, 
教科書に対するスコアは信用せずレビュー数だけを見るようになっていた. 
今回もレビューの評価が低いのは知っていたれど, 
どうせ根性なしのやつらが不当に低い星をつけているんだろうと甘くみていた. 
ところが自分も根性なしだったという ... レビューを活かすのは難しい. 
洋書は読むのが大変だから, ハズレはひきたくないんだよなあ. 
分散システムの本は軒並み星が少くて困ります.  </p>
<h4><a data:asin='4756117457' href='http://www.amazon.co.jp/%E3%83%87%E3%83%90%E3%83%83%E3%82%AC%E3%81%AE%E7%90%86%E8%AB%96%E3%81%A8%E5%AE%9F%E8%A3%85-ASCII-SOFTWARE-SCIENCE-Language/dp/4756117457%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756117457'>デバッガの理論と実装</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%87%E3%83%90%E3%83%83%E3%82%AC%E3%81%AE%E7%90%86%E8%AB%96%E3%81%A8%E5%AE%9F%E8%A3%85-ASCII-SOFTWARE-SCIENCE-Language/dp/4756117457%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4756117457' class='bookcover'><img data:asin='4756117457' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41DXsWNM6IL.jpg'></span></a></span></p>
<p>面白かった. 著者はまず OS や CPU に用意されたデバッグ支援機能を概観し, 
その上でデバッガの仕組みを順番に組み立てていく. </p>
<p>OS 提供のデバッグ機能を見るとなんとなくもうデバッガくらい作れる気になるが, 
読みすすめるほど話が単純でないことを思いしる. 
各種ステップ実行を行うべくいかにコードを書き換え, 書き戻すか. 
(リリースビルドのライブラリから呼び戻される関数はどうトラップするの?)
限られた資源の上で競合がおきないデータ構造をどう組み立てるか. 
(式を評価するために関数を呼んじゃうけど, そのなかにブレークポイントがあったら?) 
最適化されたコードからいかに文脈を引き出すか. </p>
<p>いやー大変だわ, デバッガ. いつも遅くて不便で腹をたてることが多いけれど, 
動いているだけで感謝しないといけないのかも知れない. </p>
<h4><a data:asin='4797336021' href='http://www.amazon.co.jp/%E3%81%B5%E3%81%A4%E3%81%86%E3%81%AEHaskell%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0-%E3%81%B5%E3%81%A4%E3%81%86%E3%81%AE%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E9%96%A2%E6%95%B0%E5%9E%8B%E8%A8%80%E8%AA%9E%E5%85%A5%E9%96%80-%E9%9D%92%E6%9C%A8-%E5%B3%B0%E9%83%8E/dp/4797336021%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797336021'>ふつうの Haskell プログラミング</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%81%B5%E3%81%A4%E3%81%86%E3%81%AEHaskell%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0-%E3%81%B5%E3%81%A4%E3%81%86%E3%81%AE%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E9%96%A2%E6%95%B0%E5%9E%8B%E8%A8%80%E8%AA%9E%E5%85%A5%E9%96%80-%E9%9D%92%E6%9C%A8-%E5%B3%B0%E9%83%8E/dp/4797336021%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797336021' class='bookcover'><img data:asin='4797336021' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41mJTrvw2pL.jpg'></span></a></span></p>
<p>なんとなく読んだ. よく書けていて, サクサク読めた. 
Haskell は周辺の話題が硬派すぎていまいち近付きがたかったけれど, 
さわってみるとけっこう良いなあ. 文法もミタメとは裏腹に案外書きやすいし, 
emacs の mode はよくできているし, 
コンパイルエラーのメッセージも C++ よりは親切. 
scheme, SML とさわった中では Haskell がいちばん馴染みやすいかもしらん. 
Monad はよくわからないけれど, わからなくても当面は困らなそうだしね. </p>
<p>でもいまいち使いみちがなく読後の学習はすすまず. 
"<a href="http://www.realworldhaskell.org/blog/">Real World Haskell</a>" がでたら
読んでみようかな. </p>
<h4><a data:asin='489100522X' href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E8%A6%8B%E7%A9%8D%E3%82%8A-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96-%E3%83%9E%E3%82%B3%E3%83%8D%E3%83%AB/dp/489100522X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D489100522X'>ソフトウェア見積り</a></h4>
<p>マコネルなので読んだ. いろいろ正しい主張をしている. 
読んだのは二ヶ月くらい前だけれど, 全然活かしてない... 
という話を友達にしたら, 
"見積は普段からやってないとクリティカルな場面で使えないよ" と諭された. 
わかってる. わかってるけど ... これまで何度もひどい目に遭っているのに, 
我ながらキリギリス体質. 泣ける. </p>
<h4><a data:asin='4152088265' href='http://www.amazon.co.jp/%E7%A5%9E%E3%81%AF%E5%A6%84%E6%83%B3%E3%81%A7%E3%81%82%E3%82%8B%E2%80%95%E5%AE%97%E6%95%99%E3%81%A8%E3%81%AE%E6%B1%BA%E5%88%A5-%E3%83%AA%E3%83%81%E3%83%A3%E3%83%BC%E3%83%89%E3%83%BB%E3%83%89%E3%83%BC%E3%82%AD%E3%83%B3%E3%82%B9/dp/4152088265%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4152088265'>神は妄想である</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E7%A5%9E%E3%81%AF%E5%A6%84%E6%83%B3%E3%81%A7%E3%81%82%E3%82%8B%E2%80%95%E5%AE%97%E6%95%99%E3%81%A8%E3%81%AE%E6%B1%BA%E5%88%A5-%E3%83%AA%E3%83%81%E3%83%A3%E3%83%BC%E3%83%89%E3%83%BB%E3%83%89%E3%83%BC%E3%82%AD%E3%83%B3%E3%82%B9/dp/4152088265%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4152088265' class='bookcover'><img data:asin='4152088265' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51I5LTei7JL.jpg'></span></a></span></p>
<p>ドーキンスがひたすら神と宗教を糾弾する本. 
日本はそれほど宗教(一神教)の影響は強くないし私自身も無宗教だから, 
さほどページを割くまでもなく神様がいないだろうという主張に異論はない. 
それにこの本を読んでも既に信仰をもっている人の気持ちは揺るがないだろうなとは思う. 
(ぐぐってみるとわかる.) 
ドーキンスも宗教を信じることができず苦しんでいる人を対象読者としている. </p>
<p>それでも読んでいて面白かったのは, 神がいるかどうかはわからない 
"不可知論" の立場の内訳を細かく議論しているところ. 
<a href="http://en.wikipedia.org/wiki/Russell's_teapot">teapot 信仰</a> を例に挙げながら, 
"わからない" といってもどちらかと言えばいると思うかいないと思うか, 
本質的にわからないものなのか, 人類が進歩すれいずれわかるのか. 
そうした点も含めて立場をはっきりしろと迫り, 議論を掘り進める. </p>
<p>こうした議論とは別に, なぜ人は (存在するわけでもない) 神を信じるのかも議論する. 
個人的にはこの議論の方がドーキンス的で面白かった. 
一つのアイデアは, 宗教の求める一連のプラクティスや倫理が
人間が生きていく上で有効なものだというもの. 嘘をつくなとか. 
こうしたプラクティスを動機づける上で神様を想定すると都合がよかったというわけ. 
ドーキンスは社会のメカニズムを紐解きながら, 
宗教にたよらなくても人は倫理的でいることができると主張する. </p>
<p>もうひとつ, より興味深い(ドーキンスらしい)アイデアが示される. 
それは宗教をウイルスばりの感染力をもつミームとみなすものだ. 
人間の特徴を逆手にとって勢力を伸ばすミーム. 
もう少し穏当な類似の考えとして, 何か他の遺伝的特性の副作用と見ることもできる. </p>
<p><a href="http://grape.c.u-tokyo.ac.jp/pub/people/makino/articles/worse-is-better-ja.html">&lt;悪い方がよい&gt;原則</a> では, UNIX と C を "究極のコンピュータウィルス" と呼んでいる. 
UNIX は必ずしも最善な解ではないけれど, 計算機や利用者の特性にうまくマッチしたという話だった. そして感染後も支配は続いたと. 
宗教が持つなんらかの戦略は, 感染力という点で UNIX みたいなものだったのかもしれない. 
ドーキンスはその戦略の候補として, 子供が大人の言うことに従うよう躾ることを考えている. 
この戦略は未開の社会では有効だったが, 強力すぎて悪用されがちだと主張する. 
Richard Gabriel は, 
UNIX の戦略をインターフェイスの単純さより実装の単純さを選ぶことだと考えた. 
その時からは大して時が流れていないから, これはまだ優れたアイデアであり続けている(と思う). </p>
<p>ドーキンスは, 人間がどれだけ宗教のウィルスに弱いかを示す例として 
<a href="http://ja.wikipedia.org/wiki/%E3%82%AB%E3%83%BC%E3%82%B4%E3%83%BB%E3%82%AB%E3%83%AB%E3%83%88">積荷信仰</a> を挙げている. 思わずドキリとする. 
<a href="http://www.construx.com/Page.aspx?hid=1187">プログラマだってカルトに弱い</a> 
からね...</p>
<h4><a data:asin='4414304164' href='http://www.amazon.co.jp/%E5%BD%B1%E9%9F%BF%E5%8A%9B%E3%81%AE%E6%AD%A6%E5%99%A8-%E7%AC%AC%E4%BA%8C%E7%89%88-%E2%80%95%E3%81%AA%E3%81%9C%E3%80%81%E4%BA%BA%E3%81%AF%E5%8B%95%E3%81%8B%E3%81%95%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%8B-%E3%83%AD%E3%83%90%E3%83%BC%E3%83%88%E3%83%BBB%E3%83%BB%E3%83%81%E3%83%A3%E3%83%AB%E3%83%87%E3%82%A3%E3%83%BC%E3%83%8B/dp/4414304164%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4414304164'>影響力の武器</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%BD%B1%E9%9F%BF%E5%8A%9B%E3%81%AE%E6%AD%A6%E5%99%A8-%E7%AC%AC%E4%BA%8C%E7%89%88-%E2%80%95%E3%81%AA%E3%81%9C%E3%80%81%E4%BA%BA%E3%81%AF%E5%8B%95%E3%81%8B%E3%81%95%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%8B-%E3%83%AD%E3%83%90%E3%83%BC%E3%83%88%E3%83%BBB%E3%83%BB%E3%83%81%E3%83%A3%E3%83%AB%E3%83%87%E3%82%A3%E3%83%BC%E3%83%8B/dp/4414304164%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4414304164' class='bookcover'><img data:asin='4414304164' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51pgx0tWooL.jpg'></span></a></span></p>
<p>人間は状況判断のリアルタイム性を実現するために色々なヒューリスティクスをつかう. 
それを逆手にとって悪さをするやつがいるから気をつけろ, という話. 
著者はヒューリスティクスの枠組みとして次のようなものを挙げている: 
"返報性" (おかえしをしたい), 
"コミットメントと一貫性" (言うことはコロコロ変えたくない), 
"社会的証明" (他の人がやっているから自分も), 
"好意" (好かれた相手を好きになる), 
"権威" (医者がいうから間違いない). 
20 年前の本なので, 紹介されている実例は素朴に感じる. 
ただヒューリスティクスを欺こうとする商業的な手口自体はなくならないだろうし, 
より洗練されているのだろうと思う. </p>
<p>プログラマのまわりを見ても, 認知のヒューリスティクス/ある種の心理的傾向を
逆手にとることは日常的に行なわれていると感じる. 
古いものでは "銀の弾丸" を信じたくなる気持ち. 
新しいもの, 複雑で洗練されたものへの偏愛. 無闇なアナーキズム. 
情報産業の buzz にはこうした戦略が溢れている. 製品だけが相手ではない. 
たとえばアジャイルな開発プラクティスの中には, 
生産性向上の役には立たないけれど
プログラマ(やマネージャ)を吸い寄せる "影響力の武器" がまざっているかもしれない. </p>
<p>自分の心理的傾向を自覚するのは免疫になる. 
たとえば "俺ってばスゲー感" という言い回しは
自嘲をほのめかす軽やかなワクチンなのだと思う. </p>
<p>(もうすぐ 2 版がでるらしい. 初版平積み紀伊国屋のアホーー!!)</p>
<h4><a data:asin='4569692923' href='http://www.amazon.co.jp/%E3%82%AA%E3%83%83%E3%83%9A%E3%83%B3%E3%83%8F%E3%82%A4%E3%83%9E%E3%83%BC-%E4%B8%8A-%E3%80%8C%E5%8E%9F%E7%88%86%E3%81%AE%E7%88%B6%E3%80%8D%E3%81%A8%E5%91%BC%E3%81%B0%E3%82%8C%E3%81%9F%E7%94%B7%E3%81%AE%E6%A0%84%E5%85%89%E3%81%A8%E6%82%B2%E5%8A%87-%E3%82%AB%E3%82%A4%E3%83%BB%E3%83%90%E3%83%BC%E3%83%89/dp/4569692923%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4569692923'>オッペンハイマー</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%AA%E3%83%83%E3%83%9A%E3%83%B3%E3%83%8F%E3%82%A4%E3%83%9E%E3%83%BC-%E4%B8%8A-%E3%80%8C%E5%8E%9F%E7%88%86%E3%81%AE%E7%88%B6%E3%80%8D%E3%81%A8%E5%91%BC%E3%81%B0%E3%82%8C%E3%81%9F%E7%94%B7%E3%81%AE%E6%A0%84%E5%85%89%E3%81%A8%E6%82%B2%E5%8A%87-%E3%82%AB%E3%82%A4%E3%83%BB%E3%83%90%E3%83%BC%E3%83%89/dp/4569692923%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4569692923' class='bookcover'><img data:asin='4569692923' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51f17ThoxPL.jpg'></span></a></span></p>
<p>ピューリツァー賞を受賞したオッペンハイマーの伝記にして原子力読み物. 
原題は "American Prometheus". 
内容が重くて読むのは疲れたけれど, 面白かった. 読み応えはたしか. 
前半は普通の伝記だけれど, 原爆投下後の後半は圧巻. 
政治の波に飲まれたオッペンハイマーが
物理学のメインストリームから姿を消し, 更に冷戦の風潮の中で政敵にやられるまでを描く. 
途中からオッペンハイマーが窮地に陥っていく話が続き, 辛くてなかなかページが進まなかった. 
打ちのめされた読後感がのこる. 
(このごろ割とハッピーエンドの話ばかり読んでいたせいもあるけども.)</p>
<p>"原子爆弾の誕生" を読み直したくなったけど絶版か...</p>
<h4>そのほか</h4>
<p>いちおう所属元を明かしている手前,  
会社の話を書くにも気を使わなきゃいかんかもなーと読んだのが 
<a data:asin='4822245292' href='http://www.amazon.co.jp/%E3%83%96%E3%83%AD%E3%82%B0%E3%82%B9%E3%83%95%E3%82%A3%E3%82%A2-%E3%82%A2%E3%83%A1%E3%83%AA%E3%82%AB%E4%BC%81%E6%A5%AD%E3%82%92%E5%A4%89%E3%81%88%E3%81%9F100%E4%BA%BA%E3%81%AE%E3%83%96%E3%83%AD%E3%82%AC%E3%83%BC%E3%81%9F%E3%81%A1-%E3%83%AD%E3%83%90%E3%83%BC%E3%83%88%E3%83%BB%E3%82%B9%E3%82%B3%E3%83%BC%E3%83%96%E3%83%AB/dp/4822245292%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822245292'>ブログスフィア</a>. 
著者の示しているラインは妥当な気がするけれど, 
考えてみるとプログラマのふだんの仕事は別に秘密ってほどのものでもないよね. 
ましてミドルウェアだし. 
コードそのもの, 顧客, 金周りの話を避ければあとは特に隠しだてすることもない気がする. 
コード書き周辺以外には話して面白いこともそんなに多くないし. </p>
<p>その流れで 
<a data:asin='4061498770' href='http://www.amazon.co.jp/%E4%BC%9A%E7%A4%BE%E3%82%B3%E3%83%B3%E3%83%97%E3%83%A9%E3%82%A4%E3%82%A2%E3%83%B3%E3%82%B9%E2%80%95%E5%86%85%E9%83%A8%E7%B5%B1%E5%88%B6%E3%81%AE%E6%9D%A1%E4%BB%B6-%E8%AC%9B%E8%AB%87%E7%A4%BE%E7%8F%BE%E4%BB%A3%E6%96%B0%E6%9B%B8-%E4%BC%8A%E8%97%A4-%E7%9C%9F/dp/4061498770%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4061498770'>会社コンプライアンス</a> 
も読んだ. この文脈で得るものはなかったけれど, 
情報産業がなぜコンプライアンスで儲けようとしているのかはわかった. 
色々文書化して蓄積しろと法律で決まったのか. 納得. </p>
<p>たまには自己啓発本を読むかと 
<a data:asin='4492042806' href='http://www.amazon.co.jp/%E3%83%AC%E3%83%90%E3%83%AC%E3%83%83%E3%82%B8%E3%83%BB%E3%82%B7%E3%83%B3%E3%82%AD%E3%83%B3%E3%82%B0-%E7%84%A1%E9%99%90%E5%A4%A7%E3%81%AE%E6%88%90%E6%9E%9C%E3%82%92%E7%94%9F%E3%81%BF%E5%87%BA%E3%81%994%E3%81%A4%E3%81%AE%E8%87%AA%E5%B7%B1%E6%8A%95%E8%B3%87%E8%A1%93-%E6%9C%AC%E7%94%B0-%E7%9B%B4%E4%B9%8B/dp/4492042806%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492042806'>リバレッジ・シンキング</a> 
を読む. 
でも自己啓発な気分じゃなかったことに気付く. 
人生そのものをプロジェクトっぽく目的指向で
運用するというメンタリティに共感できない. 私生活くらいグダグダさせてほしい. 
読書ノートはいいかもなーと思ってつけてみたけれど, 
ノートを書くのに本を読むのと同じくらい時間がかかってしまう. 
速くノートをつける技術があるのかもしれない. あるなら知りたい. </p>
<p><a data:asin='4492313788' href='http://www.amazon.co.jp/%E3%83%A4%E3%83%90%E3%81%84%E7%B5%8C%E6%B8%88%E5%AD%A6-%E5%A2%97%E8%A3%9C%E6%94%B9%E8%A8%82%E7%89%88-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%B4%E3%83%B3%E3%83%BBD%E3%83%BB%E3%83%AC%E3%83%B4%E3%82%A3%E3%83%83%E3%83%88-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%B4%E3%83%B3%E3%83%BBJ%E3%83%BB%E3%83%80%E3%83%96%E3%83%8A%E3%83%BC/dp/4492313788%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492313788'>ヤバい経済学 増補改訂版</a> は arai さん推薦. 
読みそこねていたら増補されたので読んだ. おもしろかった. </p>
<p><a data:asin='4582853331' href='http://www.amazon.co.jp/%E5%A5%B3%E3%81%AF%E8%A6%8B%E3%81%9F%E7%9B%AE%E3%81%8C10%E5%89%B2-%E5%B9%B3%E5%87%A1%E7%A4%BE%E6%96%B0%E6%9B%B8-%E9%88%B4%E6%9C%A8-%E7%94%B1%E5%8A%A0%E9%87%8C/dp/4582853331%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4582853331'>女は見た目が10割</a> は 
<a data:asin='4106101092' href='http://www.amazon.co.jp/%E5%A4%A2%E3%81%A8%E6%AC%B2%E6%9C%9B%E3%81%AE%E3%82%B3%E3%82%B9%E3%83%A1%E6%88%A6%E4%BA%89-%E6%96%B0%E6%BD%AE%E6%96%B0%E6%9B%B8-%E4%B8%89%E7%94%B0%E6%9D%91-%E8%95%97%E5%AD%90/dp/4106101092%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4106101092'>夢と欲望のコスメ戦争</a> に類する化粧本. 
たいして洞察はないが, 細かいウンチクや本音っぽいグチが面白い. 
同じ著者の <a data:asin='4768467016' href='http://www.amazon.co.jp/%E3%83%A9%E3%83%96%E3%83%9B%E3%83%86%E3%83%AB%E3%81%AE%E6%96%87%E5%8C%96%E8%AA%8C-%E8%8A%B1%E7%94%B0-%E4%B8%80%E5%BD%A6/dp/4768467016%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4768467016'>ラブホテルの力</a> も
けっこうアホらしくて面白かった気がする. </p>
<p>最近はエッセー集ばかりで喰いたりない斎藤美奈子が去年 
<a data:asin='4004310040' href='http://www.amazon.co.jp/%E5%86%A0%E5%A9%9A%E8%91%AC%E7%A5%AD%E3%81%AE%E3%81%B2%E3%81%BF%E3%81%A4-%E5%B2%A9%E6%B3%A2%E6%96%B0%E6%9B%B8-%E6%96%8E%E8%97%A4-%E7%BE%8E%E5%A5%88%E5%AD%90/dp/4004310040%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4004310040'>冠婚葬祭のひみつ</a> 
なんてのを
書いていたのに気付き, 読む. やっぱりこの人は調べて書くのが向いてるひとだよなあ. 
結婚式や葬式のマナーを知らない自分は世間知らずだと恥じていたが, 
そうしたマナーは日本の伝統なのではなく, 
冠婚葬祭業界とマニュアル本によって作られたものだと説く. 
つまりマニュアルを読んでおけばいいんだな, と妙に安心. 
著者はそんな祭事を揶揄しているわけだけれど... </p>
<p>職場にいるオープンソース指数の高い同僚をみて, 
比べると自分はそんなにオープンソース寄りでもないかもしれないなどと思いながら 
<a data:asin='4839916586' href='http://www.amazon.co.jp/%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%82%BD%E3%83%BC%E3%82%B9%E3%81%AE%E6%88%90%E5%8A%9F%E2%80%95%E6%94%BF%E6%B2%BB%E5%AD%A6%E8%80%85%E3%81%8C%E5%88%86%E6%9E%90%E3%81%99%E3%82%8B%E3%82%B3%E3%83%9F%E3%83%A5%E3%83%8B%E3%83%86%E3%82%A3%E3%81%AE%E5%8F%AF%E8%83%BD%E6%80%A7-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96%E3%83%B3-%E3%82%A6%E3%82%A7%E3%83%90%E3%83%BC/dp/4839916586%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4839916586'>オープンソースの成功</a> 
を読んだ. 
なにか色々考えた気がするけれどいまいち覚えていない. 本の内容はよく書けている. </p>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%96%E3%83%AD%E3%82%B0%E3%82%B9%E3%83%95%E3%82%A3%E3%82%A2-%E3%82%A2%E3%83%A1%E3%83%AA%E3%82%AB%E4%BC%81%E6%A5%AD%E3%82%92%E5%A4%89%E3%81%88%E3%81%9F100%E4%BA%BA%E3%81%AE%E3%83%96%E3%83%AD%E3%82%AC%E3%83%BC%E3%81%9F%E3%81%A1-%E3%83%AD%E3%83%90%E3%83%BC%E3%83%88%E3%83%BB%E3%82%B9%E3%82%B3%E3%83%BC%E3%83%96%E3%83%AB/dp/4822245292%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822245292' class='bookcover'><img data:asin='4822245292' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51JgCfjSc9L.jpg'></span></a></span>
<span class='image'><a href='http://www.amazon.co.jp/%E3%83%AC%E3%83%90%E3%83%AC%E3%83%83%E3%82%B8%E3%83%BB%E3%82%B7%E3%83%B3%E3%82%AD%E3%83%B3%E3%82%B0-%E7%84%A1%E9%99%90%E5%A4%A7%E3%81%AE%E6%88%90%E6%9E%9C%E3%82%92%E7%94%9F%E3%81%BF%E5%87%BA%E3%81%994%E3%81%A4%E3%81%AE%E8%87%AA%E5%B7%B1%E6%8A%95%E8%B3%87%E8%A1%93-%E6%9C%AC%E7%94%B0-%E7%9B%B4%E4%B9%8B/dp/4492042806%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492042806' class='bookcover'><img data:asin='4492042806' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51h5mFhI60L.jpg'></span></a></span>
<span class='image'><a href='http://www.amazon.co.jp/%E3%83%A4%E3%83%90%E3%81%84%E7%B5%8C%E6%B8%88%E5%AD%A6-%E5%A2%97%E8%A3%9C%E6%94%B9%E8%A8%82%E7%89%88-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%B4%E3%83%B3%E3%83%BBD%E3%83%BB%E3%83%AC%E3%83%B4%E3%82%A3%E3%83%83%E3%83%88-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%B4%E3%83%B3%E3%83%BBJ%E3%83%BB%E3%83%80%E3%83%96%E3%83%8A%E3%83%BC/dp/4492313788%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492313788' class='bookcover'><img data:asin='4492313788' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41C-VhgG8CL.jpg'></span></a></span>
<span class='image'><a href='http://www.amazon.co.jp/%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%82%BD%E3%83%BC%E3%82%B9%E3%81%AE%E6%88%90%E5%8A%9F%E2%80%95%E6%94%BF%E6%B2%BB%E5%AD%A6%E8%80%85%E3%81%8C%E5%88%86%E6%9E%90%E3%81%99%E3%82%8B%E3%82%B3%E3%83%9F%E3%83%A5%E3%83%8B%E3%83%86%E3%82%A3%E3%81%AE%E5%8F%AF%E8%83%BD%E6%80%A7-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96%E3%83%B3-%E3%82%A6%E3%82%A7%E3%83%90%E3%83%BC/dp/4839916586%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4839916586' class='bookcover'><img data:asin='4839916586' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41lljdvbrIL.jpg'></span></a></span> </p>
