---
title: "最近みた Google Video : Competing On The Basis Of Speed"
date: 2007-02-25
---
<h3>近況</h3>
<p>ウェブをみていたら, agile 界で名を馳せる kakutani.com の人が 
tdiary の Google Video 用 plugin を 
<a href="http://kakutani.com/20070223.html">作っていた</a>. 
tdiary のツリーに入ったらしい. 
私も適当にでっちあげたのを使っているけれど, ここは寄らば大樹の陰. 
本家のやつに乗り換えよう...と思ったら, 微妙に都合が悪い. 
私は右寄せしたり<a href="http://googlesystem.blogspot.com/2006/11/customize-embedded-google-video-player.html">モード</a>を変えたりしたい. 
本家を改造すれば簡単だけれど, 非互換になると大樹に寄れない. 
いっそ本家 contrib を目指して色々設定できるやつを作ろう. 作った: 
<a href="http://dodgson.org/omo/t/misc/plugin/google_video.rb">google_video.rb</a> </p>
<p>これから ML に入って contrib 願いをだす予定. </p>
<h3>最近みた Google Video : <a href="http://video.google.com/videoplay?docid=-5105910452864283694">Competing On The Basis Of Speed</a></h3>
<p></p>
<p>最近しばらくさぼっていたら, また Tech Talks が増えていた. 
インターンの学生が 
"有名人の講演を毎日やっているから, それを聞いてるだけで一日終わっちゃう" と
<a href="http://tastyresearch.wordpress.com/work-stories/">言っている</a>だけのことはある. 
たしかに目移りを堪えるのは大変そうだ. </p>
<blockquote><p>概要:</p>
<p>スピードを基盤に競争力を持つ企業は大きな強みを生み出している. 
しかしスピードを出すのは簡単なことではない. 
スピードをだすには価値について精密に理解する必要がある: 誰が, 何を, いつ, どこで, 
どうやって, なぜあなたの製品を愛してくれるのか. 
スピードを出すというのは, あなたの製品やプロセスや忍び寄る複雑さを退けながら, 
その価値をユーザに届けることなのだ. </p>
<p>複雑さの要因は主に三種類ある. 
1. 矛盾 - 何か平等でないもの, 釣り合わないもの, 一様でないもの. 
2. 過剰 - 不要な, 理由づけできない要素. 
3. 浪費 - 時間, 労力, 場所, 金を無駄にするあらゆるもの. </p>
<p>これら複雑さの三大要素はどれもソフトウェア開発プロセスに散在している. 
これらを撲滅しないとスピートを出すことはできないい. </p>
<p>理解を深めるために, Mary と Tom の両 Poppendieck による
複雑さ, 待ち行列, 継続的なイノベーションに関する議論に参加してほしい. </p>
</blockquote>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A8%E3%82%A2%E9%96%8B%E7%99%BA%EF%BD%9E%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E9%96%8B%E7%99%BA%E3%82%92%E5%AE%9F%E8%B7%B5%E3%81%99%E3%82%8B22%E3%81%AE%E6%96%B9%E6%B3%95%EF%BD%9E-%E3%83%A1%E3%82%A2%E3%83%AA%E3%83%BC%E3%83%BB%E3%83%9D%E3%83%83%E3%83%9A%E3%83%B3%E3%83%87%E3%82%A3%E3%83%BC%E3%82%AF/dp/4822281930%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822281930' class='bookcover'><img data:asin='4822281930' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51ZPY244MRL.jpg'></span></a></span></p>
<p>この講演は, <a data:asin='4822281930' href='http://www.amazon.co.jp/%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A8%E3%82%A2%E9%96%8B%E7%99%BA%EF%BD%9E%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E9%96%8B%E7%99%BA%E3%82%92%E5%AE%9F%E8%B7%B5%E3%81%99%E3%82%8B22%E3%81%AE%E6%96%B9%E6%B3%95%EF%BD%9E-%E3%83%A1%E3%82%A2%E3%83%AA%E3%83%BC%E3%83%BB%E3%83%9D%E3%83%83%E3%83%9A%E3%83%B3%E3%83%87%E3%82%A3%E3%83%BC%E3%82%AF/dp/4822281930%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822281930'>リーンソフトウェア開発</a> の著者によるリーンな話. 
スピードが競争力になると主張をする. 
ここでいうスピードは, もっぱら注文を受けてからリリースまでの速度. 
トヨタと Dell を例にスピードが生む競争力について議論し, 
そのための原則やベストプラクティスを示す. 
面白い...んだけれど, 私は件の本を読んでいるはずなんだよなあ. 
ビデオを見たあと目次を眺めて, 
ああ, そういえば同じことが書いてあったかもと曖昧な記憶をたどった. ほとんど覚えてない. 
経営者が意識を変えないと無理な類の話だと感じた無力感だけを覚えている. 
読み直そうかな....</p>
