---
title: "健康になりたい"
date: 2007-04-15
---
<h3>健康になりたい</h3>
<p>最近体調を崩していて, やるべきことができてない. 
今も所用をこなす元気がでず, 
昼間寝てしまったので眠れもせず, 
Web を見るのも疲れて進まず,  消去法的に日記を買いている. 
いつになく身のある話はありません.</p>
<p>自分の暮らしを改善したいと思ったとき, どこで時間を浪費しているか考える. 
朝起きられない. どうでもいいウェブページを無駄に長く眺めている. 
一人で酒を飲んでいる. こういうのはまだいい. 腹を括れば止められる(と思う).</p>
<p>深刻なのは体調不良によるダウン. 
この時間が結構長い. 年々長くなっている気がする. 
去年から今年にかけては隔月で風邪を引いている. ひどい. 
しかも一回ダウンしてから回復にかかる時間が延びている. 
一週間は直らない. 私は喉が特に弱いから, 咳がずっととれない. 辛い. ゲホゲホ. 
下手をすると年間の 1/10 くらいは体調不全の状態で過ごしているかもしれない. </p>
<p>なんとかしたい. 健やかに楽しく日々を送りたい. 
健康的な暮らしについてまとまったガイドラインを求めて書店に行くも, 
まともな本は見つからない. どれもピンポイントかカルトすぎる. 
成人病の予防, ガンを直す. これさえ飲めば万事解決の秘薬. 
私が知りたいのはもっと初歩的なことだ. 
早起きと睡眠不足のトレードオフをとる方法. 
なるべく金をかけずにバランスの良い食事をとり続ける方法. 
時間効率のよい運動の種類. 有事(風邪ひいたとき)の対処, そのほか様々なチップス. 
いってみれば "Going Solid Life". (結局これか...) 
あるいは中年向けの "Going Effectively with Legacy Body". 
"Life Complete" ほどごつくなくていい, 
ごく初歩的なレベルの常識をひととおり知りたい. 
一年の 1/10 を不調で過ごすくらいなら, 多少のコストを負担しても健康な方がいいだろう. 
酒を止めろというなら止めよう. 7 時に起きろというなら起きよう. 
走れというなら走ろう...できることなら, できる範囲で. </p>
<p>だからその意欲を支える, カルト抜きの説得力ある根拠を示してほしい. 
最近は富より健康が羨しいです. ほんとに. あたまいたい. </p>
