---
title: "最近みた Google Video: Lecture 1a: Overview and Introduction to Lisp"
date: 2007-01-19
---
<h3>最近みた Google Video: <a href="http://video.google.com/videoplay?docid=5546836985338782440">Lecture 1a: Overview and Introduction to Lisp</a></h3>
<p></p>
<p>TechTalks は面白いんだけれど, 娯楽色が強いのと内容が駆け足なので毎日見るのは疲れる. 
適度にかったるいのを混ぜることにした. 
そこで <a href="http://mitpress.mit.edu/sicp/">SICP</a> の講義がいつか公開されていたはず, 
と検索したら見事発見, 視聴. 期待どおりのかったるさだった. テンポがちょうどいい. 
MIT だろうが日本の私大だろうがだるい授業はあるんだなあと安心した. 
今回は define と lambda と cond と if を勉強しました. 
いきなり metalinguistic ナントカなんて言われてもわかんねーよ... 
(<a href="http://mitpress.mit.edu/sicp/full-text/book/book-Z-H-9.html#%_chap_1">一章</a>)</p>
<p>なお, 私はかつて SICP 日本語版を 2/3 くらいで挫折し, 
腹いせでブックオフに売ってしまったような不敬なプログラマであることを
ここに disclose いたします. 反省してます. </p>
<h3>最近みた TechTalks : <a href="http://video.google.com/videoplay?docid=-6972678839686672840">A New Way to look at Networking</a></h3>
<p></p>
<p>ABSTRACT:</p>
<blockquote><p>今日, 研究者達は Internet の成功を自ら称え, 
サーキットとデータグラムが唯一の正解であるかのように吹聴している. 
その一方で未解決問題のリストは増え続けている. </p>
<p>セキュリティ, 移動性, ユビキタス・コンピューティイング, 無線, 自律的センサ, 
コンテンツ配信, デジタル・デバイド, 第三世界のインフラなど, 
そうした問題はどれも研究者や市場からの関心が薄い. 
この講演ではきわどい比喩や巧みな例をあげ, ネットワークの研究が死に体であることを示す. 
みな二つのアプリケーションがする対話についてを細々とつつくことしかできない. 
60 年代と同様, 今日の問題が未解決のまま放置されているのは, 
視野狭窄のためであって本質的な難しさによるものではない. 
だからこそ, 単に今から物の見方を改めれば多くの難題が簡単に思えてくる. </p>
</blockquote>
<p>わけのわからん ABSTRACT だ...</p>
<p>話はもうすこし面白い. 
TCP/IP のように end-to-end での通信に主眼を置くのが 
Internet だとしたら, これから必要とされているのはもっとデータ主体のアプローチだ, 
という主張. データ主体というのは Web みたいのを想像すればいい. 
URL のような名前から対応するデータが取得できるようなモデル. 
今日のネットワーキングは対話的であるよりそうしたデータが主役のモデル
(dissermination based architecture) が主体になっていると
講演者の Van Jacobson は主張する. 
だからネットワーク全体でそれをサポートすれば色々都合がいいですよ, という話. 
でもどちらかというと, 主張にいたる過程のインターネット前史に関する話が面白かった. </p>
<p>dissermination based architecture は どこか DHT ぽい. 
BitTorrent や Winny を連想する. 
(講演の中でも BitTorrent などは ad-hoc な dissermination の実装として挙げられている.)
キャッシュサーバみたいのが今のネットワークにおけるルータくらい普遍的になるような
世界を想像すればいいのかな. たしかに possible な気はするが, 
インフラ屋さんのコストはかさみそうだなあ...と思っていたら, 
やはり incentive の問題はあるのだといっていた. 他にも問題は多そう. 
Moonshot だな. </p>
