---
title: "最近みた TechTalks"
date: 2007-04-21
---
<h3>最近みた TechTalks</h3>
<p>これも溜めてしまった. 微妙に最近でないのも (そして中味を覚えてないのも) ある...
見た順でメモしとこう. </p>
<h4><a href="http://video.google.com/videoplay?docid=6127548813950043200">The Paradox of Choice - Why More Is Less</a></h4>
<p></p>
<p>う. abstract がない... 
同名の<a data:asin='0060005696' href='http://www.amazon.co.jp/The-Paradox-Choice-More-Less/dp/0060005696%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0060005696'>書籍</a>をネタにしゃべったもの. 
選択肢が多すぎると選ぶコストなどからかえって不幸になるよね, という話. 
スーパーでシリアルを選ぶところからインフォームド・コンセントまで, 話題は幅広い. 
本は <a data:asin='4270000384' href='http://www.amazon.co.jp/%E3%81%AA%E3%81%9C%E9%81%B8%E3%81%B6%E3%81%9F%E3%81%B3%E3%81%AB%E5%BE%8C%E6%82%94%E3%81%99%E3%82%8B%E3%81%AE%E3%81%8B%E2%80%95%E3%80%8C%E9%81%B8%E6%8A%9E%E3%81%AE%E8%87%AA%E7%94%B1%E3%80%8D%E3%81%AE%E8%90%BD%E3%81%A8%E3%81%97%E7%A9%B4-%E3%83%90%E3%83%AA%E3%83%BC-%E3%82%B7%E3%83%A5%E3%83%AF%E3%83%AB%E3%83%84/dp/4270000384%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4270000384'>和訳</a> も出ている. けっこう面白かった. </p>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%81%AA%E3%81%9C%E9%81%B8%E3%81%B6%E3%81%9F%E3%81%B3%E3%81%AB%E5%BE%8C%E6%82%94%E3%81%99%E3%82%8B%E3%81%AE%E3%81%8B%E2%80%95%E3%80%8C%E9%81%B8%E6%8A%9E%E3%81%AE%E8%87%AA%E7%94%B1%E3%80%8D%E3%81%AE%E8%90%BD%E3%81%A8%E3%81%97%E7%A9%B4-%E3%83%90%E3%83%AA%E3%83%BC-%E3%82%B7%E3%83%A5%E3%83%AF%E3%83%AB%E3%83%84/dp/4270000384%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4270000384' class='bookcover'><img data:asin='4270000384' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41GJWYMME9L.jpg'></span></a></span></p>
<p>本は消費者向けにかかれたものなのだけれど, 
more is less 理論をサービスの提供者の視点から見るとどうなるのか.  
後半はそういう話に進む. これは本に書かれていない議論. 
多機能 UI よりシンプル UI, というような話題に通じる話だけれど, 
聴衆が Google 社員だけに "google は more is less の解決に役立っている" なんて話も. 
大量にあるウェブページは過剰な選択肢そのものというわけ. 
過剰な選択肢を絞りこんであげる商売は promising だよなと思わせる. 
ただ, そうなると今度は <a href="http://en.wikipedia.org/wiki/Principal-agent_problem">principal agent problem</a> が起きるため, そこでどう振る舞うかが大事だというような
結論だった, と記憶しております. </p>
<h4><a href="http://video.google.com/videoplay?docid=2575564563023304756">Crime: The Real Internet Security Problem</a></h4>
<p></p>
<p>要約:</p>
<blockquote><p>Internet の犯罪は深刻かつ増大している問題だ. フィッシング, 高度な支払いや消費者向けの詐欺は警告すべきところまで増え続けている. Internet 犯罪は一部の人にとって莫大な富を生むビジネスになっている. 過去十年, セキュリティはユーザの最優先事項に挙がっていたにもかかわらず, インターネット犯罪に退行し, それを効率的に抑える仕組みはほとんど何も開発されていない. </p>
</blockquote>
<p>インターネット犯罪の歴史を概観し, それから現状の問題点や演者らのとりくみを紹介する. 
クレジットカート番号を売買するブラック商取引サイトみたいのが出てきてびびった. 
ふつうに web で売り買いするのか...</p>
<p>そういえば ACMQ の cybercrime 特集にあった <a href="http://www.acmqueue.org/modules.php?name=Content&amp;pa=showpage&amp;pid=435">Criminal Code: The Making of a Cybercriminal</a> は
似たような話題を扱っている. 
ロシア系の国で仕事がなくプータラしているハッカーが, 
ひょんなことからネット犯罪に手を染めていく. そして...というフィクション仕立ての物語. 
面白かった. </p>
<h4><a href="http://video.google.com/videoplay?docid=6474169875352273382">You Are What You Say: Privacy Risks of Public Mentions</a></h4>
<p></p>
<p>要約:</p>
<blockquote><p>データに恵まれた今日のネットワーク界で, 人々は多くの側面からその生活をオンラインに表現している. 側面が変われば表現する場所もかわるのが普通だ. 匿名のブログで映画の感想を書きつつ, 実名のフォーラムで医療倫理に関する学術的な議論をするといった具合に. しかし, これら別々のアイデンティティを紐付けることができてしまうかもしれない. なぜならあなたが言及する映画や論文, 著者などは関連をあらわす疎な空間(数人のユーザだけに関連づいた要素など)にあり, その特性からアイデンティティを特定しなおすことができるからだ. この一般的な問題を具体的な設定の元で試してみた: 映画に関するウェブの公開フォーラムを使い, 匿名の映画格付けデータからユーザを再特定する. </p>
</blockquote>
<p>匿名のつもりが文脈のせいで誰だかバレバレというケースを, 
具体的にアルゴリズムで再現しましたという話. 
想像はつくけれど, 実例をまのあたりにすると少しぎょっとするね. </p>
<h4><a href="http://video.google.com/videoplay?docid=-2077755378178864152">Compiling Dynamic Languages</a></h4>
<p></p>
<p>python のコードを OCaml のコードに変換するという話. 
色々期待外れだった. 静的型に落とす以上 python のコードも
なんとか型推論っぽいことをするのかなーと思ったら全然そういうのはないし, 
実現されている機能の subset もだいぶ小さい. しょんぼり. 
まあ難しい問題ということなんだろうけれど. </p>
<p>どうせなら IronPython とか JRuby の人の話が聞きたいなあ. 
どっちも CLR/JVM 向けにコンパイルするらしいから. </p>
<h4><a href="http://video.google.com/videoplay?docid=-1790714981047186825">Concepts Extending C++ Templates For Generic Programming</a></h4>
<p></p>
<p>探したら日本語の紹介があった. ありがたや: <a href="http://cpplover.blogspot.com/2007/03/concepts-extending-c-templates-for.html">本の虫: Concepts Extending C++ Templates For Generic Programming</a></p>
<p>もう C++ に機能を追加するのはやめてよ...という善良な弱音をさておくと, 
まともな機能ではある. 本体の定義と別にあとだしできる型システムは ML とかに近いかんじ. 
どうせ普通に使えるようになるのは 5 年後くらいだろうから, 
細かい話は気にしなくてもいいかな. その頃には忘れてるよきっと...</p>
<h4>最近みた Channel9 : <a href="http://channel9.msdn.com/Showpost.aspx?postid=273697">Anders Hejlsberg, Herb Sutter, Erik Meijer, Brian Beckman: Software Composability and the Future of Languages</a></h4>
<p><img class="googlevideo" src="http://channel9.msdn.com/Photos/273697.jpg"></p>
<p>最近といっても年明けくらいです... </p>
<p>概要:</p>
<blockquote><p>並列と合成の時代, 手続型の言語は開発者の要求からどんな姿に進化するのだろうか? 真の合成可能性を実現するのに, プログラミング言語が果たすべき役割は何だろうか? LINQ が意味するものとは, マネージド(CLSベース)言語と非マネージド(C++)言語の未来は? ぼくらの手続き型(や静的型)言語はどうやって関数型(や動的型)言語に変化してくのだろうか. 開発者のもつ静的言語での "経験" を生かしすにはどうしたらいい? <br />
こうした問いの答え, それ以上のものが, Microsfot の言語設計リーダーたち数人に対するこのインタビューであきらかになる. Anders Hejlsberg, 技術で C# のチーフ・アーキテクト., Herb Sutter, C++ 言語設計グループのアーキテクト.  Erik Meijer VB.net と C# 言語設計グループのアーキテクトであり, プログラミング言語のグル. そして Brian Beckman, 物理学者, VB.net のアーキテクト. <br />
この座談会はすごい. 業界随一の影響力をもつプログラミング言語設計者が数人あつまっている. 耳を澄ませ. 君は自分が学ぶことに驚くかもしれない.</p>
</blockquote>
<p>基本的には MS 職業言語おたくの社内オフ会というかんじ. 色々面白い. 
MS は CLR という基盤があるおかげで複数言語の共存が楽だから, 
不毛な争いにはなりにくいのかも. 言語が複数のあるのは大前提で議論が進むのは新鮮. </p>
<p>個人的に面白かったのは, 
F# を使ったユーザに "これは最高の動的型言語だ" と言う人がいたという話. 
要するに型名を書かないのが重要みたいだね, というような議論があった. 
F# は VisualStudio の plugin があって, こいつはコード補完も効くらしい. 
いいなあ. Scala の Eclipse plugin がそのくらい動けばみんな使うだろうに. </p>
