---
title: "Google Earth の <ほんとの> 仕組み"
date: 2007-07-16
---
<pre></pre>
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?HowGoogleEarthReallyWorks">Google Earth の &lt;ほんとの&gt; 仕組み</a></h3>
<p>訳した. もとねたは <a href="http://www.realityprime.com/articles/how-google-earth-really-works">How Goole Earth (Really) Works</a>. 
また <a href="http://www.hyuki.com/yukiwiki/wiki.cgi?HowGoogleEarthReallyWorks">YukiWiki に置かせてもらいました</a>. </p>
<p>記事を書いているのは Keyhole の元社員で, パテントゴロを心配する前に 
元同僚からの苦情を心配した方がいいのではないかと思わなくもない. 
まあこれを NDA 違反とか言った日には幻滅だけどね. </p>
<p>文中に出てくる clip map は RTR の 5.3 にチラっと出てくるけど, 
この記事の方が詳しい. あとテクスチャの配信だけを議論しているけれど, 
地形の形状データをどう扱っているかは気になるところ. </p>
<p>話としては面白いけど, 文章は結構くどかったなあ. 
あんまし推敲できてない. 疲れた...</p>
