---
title: "Eventually Consistent"
date: 2007-12-26
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?EventuallyConsistent">Eventually Consistent</a></h3>
<p><span class='image'><a href='http://www.amazon.co.jp/Distributed-Systems-Principles-Andrew-Tanenbaum/dp/0132392275%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0132392275' class='bookcover'><img data:asin='0132392275' class='asin image-right' src='http://ecx.images-amazon.com/images/I/518hGvqORpL.jpg'></span></a></span></p>
<p>訳して <a href="http://www.allthingsdistributed.com/2007/12/eventually_consistent.html">YukiWiki</a> に置かせてもらいました. 
<a href="http://www.hyuki.com/yukiwiki/wiki.cgi?ConsistentHashing">Consistent hashing</a> 
にならぶ dynamo 復習シリーズ第二弾というかんじ. 
用語の訳は適当なのでオフィシャルなのを知ってる人は直してもられるとありがたいです. </p>
<p>個人的にはなかなかわかりやすい説明で満足だった. 
<a data:asin='0132392275' href='http://www.amazon.co.jp/Distributed-Systems-Principles-Andrew-Tanenbaum/dp/0132392275%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0132392275'>タネン本</a> にも同じ話が(より詳しく)載っているんだけれど, 
そっちを読んだ時は頭がこんがらがって睡魔にやられ, 結局よくわからなかった. 
ざっと眺めると同じような話をしている気がするので, 
時とともに睡眠学習の効果が現れたのかもしらんけど...(CAP 定理も睡眠学習済.)</p>
<p>それにしても Amazon CTO はさっさと一山あてて引退し, 分散の教科書を書いてほしいです. 
協力を惜しまない私は来年も amazon 三昧の予定. </p>
