---
title: "最近みた TechTalks: Should Google Go Nuclear? Clean, cheap, nuclear power (no, really)"
date: 2007-01-14
---
<h3>最近みた TechTalks: <a href="http://video.google.com/videoplay?docid=1996321846673788606">Should Google Go Nuclear? Clean, cheap, nuclear power (no, really)</a></h3>
<p></p>
<p>他の talk を圧倒する多数の rating が気になって試聴. でもむずかしい. 挫けた. 
内容は, Buzzard という物理学者が自分の発明した画期的な核融合発電装置を解説し, 
その素晴しさを Google 社員に売りこむというもの, らしい. </p>
<p>序盤は核融合の基本のおさらいらしいのだが, 最初からさっぱりわかんねー. 
後半は具体的な装置の紹介(写真つき)や, 具体的にはいくらでできるかという話につづく. 
物理の教養がないとわからん...
全体 90 分のうち, 後半の 30 分は Google 社員と Buzzard の質疑に割かれている. 
会場は立ち見ができる盛況ぶり. 
ちゃんと勉強してきた理系なひとは物理もわかるのかもね. </p>
<p>悔しいので周辺をぐぐることに. 
<a href="http://en.wikipedia.org/wiki/Robert_Bussard">Wikipedia によると</a>, 
この Buzzard という人はなかなかすごい mad scientist のようだ. 
60 年代は水素核融合を使った 星間航行(!) の研究をしていた. </p>
<p>その後もあちこちから fund されながら核融合周辺で研究を続け, 
80 年代には Energy Matter Conversion Corporation (EMC2!) を found する. 
ここで発明した Polywell という装置の末裔がこの TechTalks で紹介されたものらしい. </p>
<p>最近になってついに会社の資金が尽きてしまったらしく, 
Buzzard は出資者を求め講演や発表などをしているようす. 
この TechTalks はその一環. ($200M の出資を求めている.) 
しかしいくら金あまりの Google とはいえ $200M は厳しいだろ... 250 億円くらい? 
ネタにしてもすごい額だなあ. 
AMD や Dell あたりに出資して省電力技術を後押しした方が安上りかもしらん. </p>
<p>それにしてもこの人は生ける SF だね. 
物理でSFな人には楽しい話なのだと思います. たぶん. </p>
<p>参考リンク:</p>
<ul>
<li><a href="http://hardware.slashdot.org/article.pl?sid=06/11/18/0616205">slashdot</a></li>
<li><a href="http://futurepower.org/nuclear_energy_experiments.html">Clean, cheap, nuclear power: Should Google go nuclear?</a> : 詳しいレビュー</li>
</ul>
