---
title: "花見終了"
date: 2007-03-31
---
<h3>花見終了</h3>
<p>参加してくださった皆様ありがとうございました. 
場所とりに協力してくれた人は特にありがとう. 
花見のあいだの雨は降りそうで降らず, 帰宅直後に強風と豪雨. 
花見の精にも感謝せねばなりますまい. </p>
<h4>不正会計と情報漏洩</h4>
<ul>
<li>宴会だけ参加の方からも宴会+花見に参加の方と同じ費用を集めてしまいました. すみません. 会う機会をみつけて返金します. およそ \1000 です.</li>
<li>前回の花見基金を還元し忘れました. 今回余った予算を加えた上で, とりあえず私がお預かりしておきます.</li>
<li>web からは unavailable な人のメールアドレスが To に含まれたメールを送信してしまいました. すみません. 受けとった方は消すなり見ないふりをするなり証拠隠滅に協力ください.</li>
</ul>
<h4>勝手に検死</h4>
<ul>
<li>20 人で 6.5m x 3.4m (だっけ) のシート二枚は広過ぎたかも.</li>
<li>開始時刻を明示しないと人が集らなくて寂しい. 11 時などと指定した方が待つ側は不安に驅られずに済む.<ul>
<li>でも 11 時は早過ぎか...なんかうまい方法が欲しいなあ.</li>
</ul></li>
<li>人を待つ間ははとにかく寒かった.<ul>
<li>普段の外出と違い座っているだけなぶん体温が上がらない. 道具を揃えるだけでなく, いつもより厚着する.</li>
</ul></li>
<li>必要な道具を揃える時間が遅かった: 品切れで焦った.<ul>
<li>品切れの場合の対策ができるよう早い時間に揃える.</li>
</ul></li>
<li>ビールは体温が下がる.<ul>
<li>ビール以外のアルコールを充実したい.</li>
</ul></li>
<li>夜の宴会は花見で満腹気味なせいか食すすまず</li>
<li>予約後に宴会の人数が増えたら座席が窮屈に.<ul>
<li>20 -&gt; 25 くらいは人数を増やす余地のある飲み屋を選ぶ. 物理的に増やせないと厳しい.</li>
</ul></li>
<li>場所とりはやはり面倒.<ul>
<li>若者におしつける. こういう時だけ年功序列で.</li>
<li>花見はウォークスルーだけにして, 宴会中心にする?</li>
</ul></li>
<li>持っていって役に立ったもの<ul>
<li>でかいゴミ袋 (現地にあるゴミ袋までゴミを運ぶのに便利だった.)</li>
<li>ペーパータオル (粗相の後始末)</li>
<li>タオル (手洗い, 洗顔)</li>
</ul></li>
<li>忘れて焦ったもの<ul>
<li>参加者リスト(!)</li>
</ul></li>
<li>持っていって役に立たなかかったもの<ul>
<li>本: 待ち時間は本が読めるほどリラックスできない.</li>
</ul></li>
<li>他のシマにあって便利そうだったもの<ul>
<li>張り紙/カンバン : 目印に</li>
<li>ガムテープ: シートの固定に</li>
<li>ホッカイロ (途中から差し入れられ救われた)</li>
<li>毛布/タオルケット: 待ち時間の保温に.</li>
<li>段ボール： シートの上に敷き, 保温する.</li>
<li>プチプチシートのロール: シートの上に敷き, 保温する. でもどこで売ってんの?</li>
<li>ロールペーパー (トイレ紙切れ対策. optional)</li>
<li>湯のポット (カップ麺, スープ, お茶などを作りたい.)</li>
</ul></li>
</ul>
