---
title: "最近みた TechTalks: The Scala Experiment"
date: 2007-01-31
---
<h3>最近みた TechTalks: <a href="http://video.google.com/videoplay?docid=553859542692229789">The Scala Experiment</a></h3>
<p></p>
<p><a href="http://www.scala-lang.org/">Scala</a> という Java based な ML 系言語の紹介. 
Scala は興味があり, 前にちょっとさわったことがあった. 
(最近 Standard ML を勉強したのは Scala の予習という面もある.) </p>
<p>講演はスライドの文字が小さくて辛かった. 
内容はよく覚えてない. (すんません... スライドは<a href="http://lampwww.epfl.ch/~odersky/talks/google06.pdf">これ</a>.) </p>
<p>Scala は関数型とオブジェクト指向の統合を目指しているといい, 
けっこう色々と機能が入っているようだった. mixin とかもある. 
微妙に Java っぽい文法が好みに合う. 馴染めそう. </p>
<p>あとは Scala コンパイラを Java でなく Scala で書き直したら行数が半分になった, 
という話があった. 凄いのか凄くないのかわからん. 
文法が簡潔で二度目だったらそのくらいにはなる気もするし. 
とはいえ Standard ML よりはこっちが良いや. Java のライブラリが使えるからね. 
あとは "Modern Compiler Implementationi with Scala" さえあればなあ...</p>
