---
title: "最近読んだ本"
date: 2007-04-19
---
<h3>最近読んだ本</h3>
<p>また溜めてしまったよ. しかも計算機の本がない. まったく...</p>
<h4><a data:asin='4102142118' href='http://www.amazon.co.jp/%E5%81%9C%E9%9B%BB%E3%81%AE%E5%A4%9C%E3%81%AB-%E6%96%B0%E6%BD%AE%E6%96%87%E5%BA%AB-%E3%82%B8%E3%83%A5%E3%83%B3%E3%83%91-%E3%83%A9%E3%83%92%E3%83%AA/dp/4102142118%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4102142118'>停電の夜に</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%81%9C%E9%9B%BB%E3%81%AE%E5%A4%9C%E3%81%AB-%E6%96%B0%E6%BD%AE%E6%96%87%E5%BA%AB-%E3%82%B8%E3%83%A5%E3%83%B3%E3%83%91-%E3%83%A9%E3%83%92%E3%83%AA/dp/4102142118%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4102142118' class='bookcover'><img data:asin='4102142118' class='asin image-right' src='http://ecx.images-amazon.com/images/I/410FKHS04YL.jpg'></span></a></span></p>
<blockquote><p>「そう、停電と言えば。祖母の家でね、一人ずつ何かを言わされたのよ」
ショーバは話を続けた。ろくに顔は見えないが声音からすれば、
遠くのものを見るように目を細めているはずだ。そういう癖がある。
「言わされる?」</p>
</blockquote>
<p><a href="http://www.shinchosha.co.jp/yomyom/">yomyom</a> という雑誌で
岸本佐知子が何冊かの文庫本を推薦していた. そのうちの一冊. 
ラヒリって読んだことあるような... っと思ったら
<a href="http://www.dodgson.org/omo/t/?date=200501">読んでいた.</a> 
表題作は, 停電の夜にある夫婦が互いの秘密をひとつづつ語っていく, という話. 
かなり心臓に悪い. この調子で応酬が続くのは読むに耐えないと思ったら短編だった. </p>
<p>そのほか, "三度目で最後の大陸" は胸に沁みる. 全体にとてもうまい. </p>
<h4><a data:asin='4309462308' href='http://www.amazon.co.jp/%E8%A5%BF%E7%93%9C%E7%B3%96%E3%81%AE%E6%97%A5%E3%80%85-%E6%B2%B3%E5%87%BA%E6%96%87%E5%BA%AB-%E3%83%AA%E3%83%81%E3%83%A3%E3%83%BC%E3%83%89-%E3%83%96%E3%83%AD%E3%83%BC%E3%83%86%E3%82%A3%E3%82%AC%E3%83%B3/dp/4309462308%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4309462308'>西瓜糖の日々</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E8%A5%BF%E7%93%9C%E7%B3%96%E3%81%AE%E6%97%A5%E3%80%85-%E6%B2%B3%E5%87%BA%E6%96%87%E5%BA%AB-%E3%83%AA%E3%83%81%E3%83%A3%E3%83%BC%E3%83%89-%E3%83%96%E3%83%AD%E3%83%BC%E3%83%86%E3%82%A3%E3%82%AC%E3%83%B3/dp/4309462308%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4309462308' class='bookcover'><img data:asin='4309462308' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51BM70GX79L.jpg'></span></a></span></p>
<blockquote><p>わたしが誰か、あなたは知りたいと思っていることだろう。
わたしはきまった名前を持たない人間のひとりだ。
あなたがわたしの名前をきめる。あなたの心に浮かぶこと、
それが私の名前なのだ。</p>
<p>たとえば、ずっと昔に起こったことについて考えていたりする。 ---
誰かがあなたに質問をしたのだけれど、あなたはなんと答えてよいかわからなかった。</p>
<p>それが私の名前だ。</p>
<p>そう、もしかしたら、そのときはひどい雨降りだったかもしれない。</p>
<p>それが私の名前だ。</p>
</blockquote>
<p>これも岸本レコメンド. この名作を読みのがしていたとは... 我ながら得した気分. 
ブローティガンの文章は距離があるというか, 薄情というか, どこか不安なかんじがする. </p>
<p>訳者の藤本和子は柴田元幸がリファレンスとするだけあって見事. 
柴田元幸にしろ岸本佐知子にしろ, たしかにこの影響がある気はする. 角の無い翻訳調. </p>
<h4><a data:asin='4309005047' href='http://www.amazon.co.jp/%E5%84%AA%E9%9B%85%E3%81%A7%E6%84%9F%E5%82%B7%E7%9A%84%E3%81%AA%E6%97%A5%E6%9C%AC%E9%87%8E%E7%90%83-%E9%AB%98%E6%A9%8B-%E6%BA%90%E4%B8%80%E9%83%8E/dp/4309005047%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4309005047'>優雅で感傷的な日本野球</a></h4>
<p>ブローティガンを読んだらなんとなく高橋源一郎が読みたくなった. 
着陸しない日本語が欲しい, そんなかんじ. 期待は裏切られなった. </p>
<p>関係ないけどブローティガンと高橋源一郎はちょっと顔が似てる気がする. 
気のせい?</p>
<h4><a data:asin='4560071187' href='http://www.amazon.co.jp/%E3%82%82%E3%81%97%E3%82%82%E3%81%97-%E7%99%BD%E6%B0%B4U%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9%E2%80%95%E6%B5%B7%E5%A4%96%E5%B0%8F%E8%AA%AC%E3%81%AE%E8%AA%98%E6%83%91-%E3%83%8B%E3%82%B3%E3%83%AB%E3%82%BD%E3%83%B3-%E3%83%99%E3%82%A4%E3%82%AB%E3%83%BC/dp/4560071187%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4560071187'>もしもし</a></h4>
<p>渋谷 Book1st の岸本佐知子コーナーにあったのをつい. </p>
<p>テレクラ(?)での会話を延々と一冊つづけるという本. 
電話でつながった男女が互いの性癖を告白しながら延々とアホエロ話をするという. 
ニコルソン・ベイカーは前に読んだ <a data:asin='4560071241' href='http://www.amazon.co.jp/%E3%83%95%E3%82%A7%E3%83%AB%E3%83%9E%E3%83%BC%E3%82%BF-%E7%99%BD%E6%B0%B4U%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9%E2%80%95%E6%B5%B7%E5%A4%96%E5%B0%8F%E8%AA%AC%E3%81%AE%E8%AA%98%E6%83%91-%E3%83%8B%E3%82%B3%E3%83%AB%E3%82%BD%E3%83%B3-%E3%83%99%E3%82%A4%E3%82%AB%E3%83%BC/dp/4560071241%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4560071241'>フェルマータ</a> も
時間を泊めて他人の下着を覗く話しだし, しょうもないエロ作家だなあ...</p>
<h4><a data:asin='4480814841' href='http://www.amazon.co.jp/%E3%81%AD%E3%81%AB%E3%82%82%E3%81%A4%E3%82%BF%E3%82%A4%E3%83%97-%E5%B2%B8%E6%9C%AC-%E4%BD%90%E7%9F%A5%E5%AD%90/dp/4480814841%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480814841'>ねにもつタイプ</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%81%AD%E3%81%AB%E3%82%82%E3%81%A4%E3%82%BF%E3%82%A4%E3%83%97-%E5%B2%B8%E6%9C%AC-%E4%BD%90%E7%9F%A5%E5%AD%90/dp/4480814841%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480814841' class='bookcover'><img data:asin='4480814841' class='asin image-right' src='http://ecx.images-amazon.com/images/I/310Z6LSyEAL.jpg'></span></a></span></p>
<p>で, 岸本佐知子に戻ってくるのだった. 
エッセイ集. 感覚が現実ばなれしているせいか, ショートショートの趣きもある. 
引用するところはないかとパラパラめくっていたけれど, 
言葉の選択以上に話の運び型や速度調節が絶妙で, 
5 ページくらいで終わるエッセイの最後ではきちっと落とす. 
ピタゴラスイッチ的快感. というのはちょっと褒めすぎかな...</p>
<p>寝る前に読む類の本. </p>
<h4><a data:asin='4840118167' href='http://www.amazon.co.jp/%E3%82%82%E3%81%97%E3%82%82%E3%81%97%E3%80%81%E9%81%8B%E5%91%BD%E3%81%AE%E4%BA%BA%E3%81%A7%E3%81%99%E3%81%8B%E3%80%82-%E3%83%80%E3%83%BB%E3%83%B4%E3%82%A3%E3%83%B3%E3%83%81%E3%83%BB%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9-%E7%A9%82%E6%9D%91-%E5%BC%98/dp/4840118167%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4840118167'>もしもし、運命の人ですか。</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%82%E3%81%97%E3%82%82%E3%81%97%E3%80%81%E9%81%8B%E5%91%BD%E3%81%AE%E4%BA%BA%E3%81%A7%E3%81%99%E3%81%8B%E3%80%82-%E3%83%80%E3%83%BB%E3%83%B4%E3%82%A3%E3%83%B3%E3%83%81%E3%83%BB%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9-%E7%A9%82%E6%9D%91-%E5%BC%98/dp/4840118167%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4840118167' class='bookcover'><img data:asin='4840118167' class='asin image-right' src='http://ecx.images-amazon.com/images/I/31iUKpG1UJL.jpg'></span></a></span></p>
<blockquote><p>以前、別のところにも書いたことがある話だが、お互いにいい雰囲気になりかけて、
このままいくとつきあえるかもと思っていた相手から、
突然、こんなメールを受けとったことがある。</p>
<pre>追伸 {{'&lt;br /&gt;'}}
恋人ができちゃった。 {{'&lt;br /&gt;'}}
裏切ってごめんね。{{'&lt;br /&gt;'}}</pre>
<p>ショックだったが、腹は立たなかった。がっかりもしなかった。
それどころか、これらの文字を繰り返し眺めてはうっとりする。
私はおかしいのだろうか。でも、僕とはまだ何も始まっていないこのタイミングで
「裏切ってごめんね」と書ける彼女はやっぱりすてきだ、と思ってしまう。</p>
</blockquote>
<p>なんだかんだでまた読んでしまった穂村弘...
持ち味の不適応自慢と妄想癖がだいぶ板についてきて, 
読者に目くばせしなくなった気がする. 私が慣れただけかもしらんけど,  
文体のうっとおしさも軽減されたような.</p>
<h4><a data:asin='4104733024' href='http://www.amazon.co.jp/%E4%B9%9D%E6%9C%88%E3%81%AE%E6%81%8B%E3%81%A8%E5%87%BA%E4%BC%9A%E3%81%86%E3%81%BE%E3%81%A7-%E6%9D%BE%E5%B0%BE-%E7%94%B1%E7%BE%8E/dp/4104733024%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4104733024'>九月の恋と出会うまで</a></h4>
<blockquote><p>「男はみんな軌跡を起こしたいと思ってる。好きになった女の人のために」</p>
</blockquote>
<p>大森望絶賛につき. タイムスリップねたの SF 風ミステリ. 
普通に面白かったです. 鉄板の気張らし. </p>
<p>引用は帯からだけど、実際のところ中味とはあまり関係ない気がする...</p>
<h4><a data:asin='4480422978' href='http://www.amazon.co.jp/%E3%82%8F%E3%81%9F%E3%81%97%E3%81%AF%E9%A9%A2%E9%A6%AC%E3%81%AB%E4%B9%97%E3%81%A3%E3%81%A6%E4%B8%8B%E7%9D%80%E3%82%92%E3%81%86%E3%82%8A%E3%81%AB%E3%82%86%E3%81%8D%E3%81%9F%E3%81%84-%E3%81%A1%E3%81%8F%E3%81%BE%E6%96%87%E5%BA%AB-%E9%B4%A8%E5%B1%85-%E7%BE%8A%E5%AD%90/dp/4480422978%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480422978'>わたしは驢馬に乗って下着をうりにゆきたい</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%8F%E3%81%9F%E3%81%97%E3%81%AF%E9%A9%A2%E9%A6%AC%E3%81%AB%E4%B9%97%E3%81%A3%E3%81%A6%E4%B8%8B%E7%9D%80%E3%82%92%E3%81%86%E3%82%8A%E3%81%AB%E3%82%86%E3%81%8D%E3%81%9F%E3%81%84-%E3%81%A1%E3%81%8F%E3%81%BE%E6%96%87%E5%BA%AB-%E9%B4%A8%E5%B1%85-%E7%BE%8A%E5%AD%90/dp/4480422978%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480422978' class='bookcover'><img data:asin='4480422978' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41CsuQ6xbqL.jpg'></span></a></span></p>
<blockquote><p>私はメガホンをもった運動家ではない。
下着屋の私は多くの人々の心であり、生活であり、ミシンである。
みんなが望んでいる生活の歌を、下着の歌を、
ミシンはカタカタと音たててうたいあげるだろう。</p>
</blockquote>
<p>タイトルに惹かれ読んでみたら, 下着デザイナである著者の半世記だった. </p>
<p>'50 年代に新しい下着を作ろうと起業し, それから会社を大きくしていく仮定を回想する. 
新興下着ベンダ(当時)の a founder at work というかんじ. 
まったく理路整然としていないぶん, かえって生々しく迫力がある. 
昭和テイストと合わせて面白く読めた. 戦後というのは妙な魅力があるよな. </p>
<h4><a data:asin='4480422978' href='http://www.amazon.co.jp/%E3%82%8F%E3%81%9F%E3%81%97%E3%81%AF%E9%A9%A2%E9%A6%AC%E3%81%AB%E4%B9%97%E3%81%A3%E3%81%A6%E4%B8%8B%E7%9D%80%E3%82%92%E3%81%86%E3%82%8A%E3%81%AB%E3%82%86%E3%81%8D%E3%81%9F%E3%81%84-%E3%81%A1%E3%81%8F%E3%81%BE%E6%96%87%E5%BA%AB-%E9%B4%A8%E5%B1%85-%E7%BE%8A%E5%AD%90/dp/4480422978%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480422978'>「ニッポン社会」入門—英国人記者の抱腹レポート</a></h4>
<p>イギリスの新聞の日本駐在員である著者が書いた日本ネタのコラム. 
日本人の読者向けに書かれたもので, 毒もなくおおむね好意的な内容. 楽しく読める. </p>
<p>ビール好きらしく, ここ数年でおきた日本のビール環境の改善を褒め称えている. 
そんなに大きく変わったのか. 私も地ビール飲み歩きをしようかなあ...
特にエッセイ "トーキョー「裏」観光ガイド" に登場した <a href="http://www.lares.dti.ne.jp/~ppy/index2.htm">ポパイ</a> にはなんとしても行こうと誓う. </p>
<h4><a data:asin='4822283100' href='http://www.amazon.co.jp/%E3%82%BB%E3%82%AD%E3%83%A5%E3%83%AA%E3%83%86%E3%82%A3%E3%81%AF%E3%81%AA%E3%81%9C%E3%82%84%E3%81%B6%E3%82%89%E3%82%8C%E3%81%9F%E3%81%AE%E3%81%8B-%E3%83%96%E3%83%AB%E3%83%BC%E3%82%B9%E3%83%BB%E3%82%B7%E3%83%A5%E3%83%8A%E3%82%A4%E3%82%A2%E3%83%BC/dp/4822283100%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822283100'>セキュリティはなぜやぶられたのか</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%BB%E3%82%AD%E3%83%A5%E3%83%AA%E3%83%86%E3%82%A3%E3%81%AF%E3%81%AA%E3%81%9C%E3%82%84%E3%81%B6%E3%82%89%E3%82%8C%E3%81%9F%E3%81%AE%E3%81%8B-%E3%83%96%E3%83%AB%E3%83%BC%E3%82%B9%E3%83%BB%E3%82%B7%E3%83%A5%E3%83%8A%E3%82%A4%E3%82%A2%E3%83%BC/dp/4822283100%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822283100' class='bookcover'><img data:asin='4822283100' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51-pZ52JsUL.jpg'></span></a></span></p>
<p>arai さん推薦による. 計算機固有でない社会のセキュリティの話. 
テロの話題が多い. アメリカらしい. </p>
<p>セキュリティの "五段階評価法" が紹介される.</p>
<ul>
<li>守るべき資産は何か</li>
<li>その資産はどのようなリスクにさらされているのか</li>
<li>セキュリティ対策によって, リスクはどれだけ低下するか</li>
<li>セキュリティ対策によって, どのようなリスクがもたらされるか</li>
<li>対策にはどれほどのコストとどのようなトレードオフが付随するか</li>
</ul>
<p>ふだんからこれを意識しろというのだけれど, 
リスクって列挙してもしきれないよなあ. むずかしい. </p>
<h4><a data:asin='4492521631' href='http://www.amazon.co.jp/%E3%82%B7%E3%83%A3%E3%83%89%E3%83%BC%E3%83%AF%E3%83%BC%E3%82%AF%E2%80%95%E7%9F%A5%E8%AD%98%E5%89%B5%E9%80%A0%E3%82%92%E4%BF%83%E3%81%99%E7%B5%84%E7%B9%94%E6%88%A6%E7%95%A5-%E4%B8%80%E6%A2%9D-%E5%92%8C%E7%94%9F/dp/4492521631%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492521631'>シャドーワーク</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%B7%E3%83%A3%E3%83%89%E3%83%BC%E3%83%AF%E3%83%BC%E3%82%AF%E2%80%95%E7%9F%A5%E8%AD%98%E5%89%B5%E9%80%A0%E3%82%92%E4%BF%83%E3%81%99%E7%B5%84%E7%B9%94%E6%88%A6%E7%95%A5-%E4%B8%80%E6%A2%9D-%E5%92%8C%E7%94%9F/dp/4492521631%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492521631' class='bookcover'><img data:asin='4492521631' class='asin image-right' src='http://ecx.images-amazon.com/images/I/31wgLLBOTlL.jpg'></span></a></span></p>
<p>20% 制度的な非業務仕事をどう活用するかという話. 
ケーススタディー, 社員サイドの方策, マネジメントの方策, というような構成になっている. 
ケーススタディーは読み物的には面白いけれどふーん, というかんじ. 
何か新しいことをやる時はシャドーワークっぽくなるのは自然な気がするし. 
マネジメントの話はいまいちピンとこない. リーダーシップを育成すれば, 
そのリーダー達がうまいことプロデューサ肌を発揮して色々面白いことをやってくれるから
リーダー指向がいいじゃないか, と主張する. 
でもいまいちリーダーシップとシャドーワークの関係が腑に落ちない. </p>
<p>で, あとは個人の方策の話. ここはそこそこ面白かった. 
いかに根回しや説得をして "壁" を超えていくかという話が中心なのだけれど, 
企業内で何かする上で根回しは割と本質的な活動だというのはわかる. 
自分でぜんぶできるなら起業すりゃいいからね...大変だな. </p>
<h4><a data:asin='4334033709' href='http://www.amazon.co.jp/%E8%8B%A5%E8%80%85%E3%81%AF%E3%81%AA%E3%81%9C3%E5%B9%B4%E3%81%A7%E8%BE%9E%E3%82%81%E3%82%8B%E3%81%AE%E3%81%8B-%E5%B9%B4%E5%8A%9F%E5%BA%8F%E5%88%97%E3%81%8C%E5%A5%AA%E3%81%86%E6%97%A5%E6%9C%AC%E3%81%AE%E6%9C%AA%E6%9D%A5-%E5%85%89%E6%96%87%E7%A4%BE%E6%96%B0%E6%9B%B8-%E5%9F%8E-%E7%B9%81%E5%B9%B8/dp/4334033709%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4334033709'>若者はなぜ3年で辞めるのか?</a>, <a data:asin='4061498274' href='http://www.amazon.co.jp/%E4%BB%96%E4%BA%BA%E3%82%92%E8%A6%8B%E4%B8%8B%E3%81%99%E8%8B%A5%E8%80%85%E3%81%9F%E3%81%A1-%E8%AC%9B%E8%AB%87%E7%A4%BE%E7%8F%BE%E4%BB%A3%E6%96%B0%E6%9B%B8-%E9%80%9F%E6%B0%B4-%E6%95%8F%E5%BD%A6/dp/4061498274%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4061498274'>他人を見下す若者たち</a>, <a data:asin='4480063463' href='http://www.amazon.co.jp/%E8%81%B7%E5%A0%B4%E3%81%AF%E3%81%AA%E3%81%9C%E5%A3%8A%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%8B%E2%80%95%E7%94%A3%E6%A5%AD%E5%8C%BB%E3%81%8C%E8%A6%8B%E3%81%9F%E4%BA%BA%E9%96%93%E9%96%A2%E4%BF%82%E3%81%AE%E7%97%85%E7%90%86-%E3%81%A1%E3%81%8F%E3%81%BE%E6%96%B0%E6%9B%B8-%E8%8D%92%E4%BA%95-%E5%8D%83%E6%9A%81/dp/4480063463%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480063463'>職場はなぜ壊れるのか</a></h4>
<p>この手のやつはまあいいよね... </p>
<p>成果主義がいかんというのはあるんだろうけれど, 
そもそも人件費や福利厚生という実質の手取りが減ってるんだから
働く側が不満になるは割と当たり前な気はする. </p>
