---
title: "翻訳不完全リスト補足 と 馴染系ソフトウェア"
date: 2007-09-08
---
<h3><a href="http://d.hatena.ne.jp/yomoyomo/20070907/omotrans">翻訳不完全リスト</a>補足 と <a href="http://www.hyuki.com/yukiwiki/wiki.cgi?SituatedSoftware">馴染系ソフトウェア</a></h3>
<p>人様にリストを作らせてしまいました. ありがとうございます. すみません...
あと <a href="http://www.hyuki.com/yukiwiki/wiki.cgi?VectorDrawing">VectorDrawing</a> 
は私ではないです. どなたかです. (今初めて読んだ. へー...) 
というのをコメント欄に書こうと思うもはてなアカウントがなくて挫けたので
ここで申告いたします. </p>
<p>あとは自分のところにも少し置いているので宣伝...もともと広く読まれたいわけでは
ないものを自分のところに置いているので, 宣伝のしがいはないけれども. </p>
<ul>
<li><a href="http://dodgson.org/omo/t/?date=20070328">パーティーで会った素敵な女の子が君のプログラミング言語に思うこと</a></li>
<li><a href="http://dodgson.org/omo/t/?date=20070517">Reddit の 良心 - 最初のお願い</a></li>
<li><a href="http://dodgson.org/omo/t/?date=20070217">親愛なるジョン(デバッガ)へ</a></li>
</ul>
<p>ほんとにしょうもないやつばっかしだな.</p>
<p>そういえばしばらく翻訳してないなあ. そもそもあまり web を読んでいない. 
bloglines の未読は一度たまりだすと気力が萎えてしまう. また気がむいたら. </p>
<p>そういえば, だいぶ前に訳したのが一つあった. 
せっかくなので公開しておこう: <a href="http://www.hyuki.com/yukiwiki/wiki.cgi?SituatedSoftware">馴染み系ソフトウェア</a>. 元ねたは <a href="http://www.shirky.com/writings/situated_software.html">Situated Software</a>. 訳したのは 2005 年のどこかだと思う. (<a href="http://www.dodgson.org/omo/t/?date=20050116">そのころの日記で参照している</a>.) 友達に手伝ってもらったのに原著者と連絡がつかず埋もれてしまっていた. 申しわけない. その節はありがとうございました &gt; A さんと F さん. 著者にはさっきメールを送りなおしたので, そのうち連絡がくるはず. 許可がおりなかったら取り下げることにします. </p>
<p>著者の Clay Shirky は NYU の先生だそうで, 
social software について色々書いたり教えたりしているらしい. 
Google に買収され(て, しばらく後に<a href="http://googlesystem.blogspot.com/2007/04/dodgeball-founders-leave-google.html">創業者が辞めて</a>しまっ)た 
<a href="http://www.dodgeball.com/">dodgeball.com</a> の創業者も<a href="http://itp.tisch.nyu.edu/object/itpnews_dodgeball.html">教え子</a>とのこと. 
言われてみると dodgeball.com って東海岸だね. </p>
<p>最近は <a href="http://many.corante.com/archives/authors/Clay.php">Many-To-Many</a> という
サイトで書いているようす. フレーム合戦なんかもあって面白い. </p>
<h4>追記</h4>
<p>こんどはすぐ返事がきた. Shirky 先生ありがとうございます.  
Clay Shirky の読み物は他にもいくつか面白いのがあるので, 
そのうちまた訳したいとおもいます. (という返事を書いた.)</p>
