---
title: "今年書いたコード"
date: 2007-12-31
---
<h3>今年書いたコード</h3>
<p>年の瀬のこと. 知り合いの若者は言った. "来年は長く続けるプロジェクトに手をつけたい." 
仕事ではなく余暇コードの話. 
これまでは書けそうと思いついたものを書いてしまったので小物やハックばかりになり, 
かえって保守が面倒だとか. そんな話だった. 腰をすえてやりたいのだと. 
実際に彼は色々作っている. ハックという割に広く使われているものもある. 
私から見ればあれだけ色々つくれる時点で大したものだと思う. 志が高い. </p>
<p>学生のころから, 私はあまりコードを書かない. 
今年はもう少し手を動かそうといくつか小さいものを書いた. 一歩前進. 
でも先の若者のような良いプログラマとは程遠い. 
質は及ばず, 絶対量もすくない. 質の改善にアイデアはないから, まず絶対量を増やしていきたい. </p>
<p>ライフワークになるコードが欲しい. 漠然とそんな憧れがある. 
(ライフワークなんて口にする中年が ソウルメイトを探す OL と同程度にアレなのは
承知しております.) 
ライフワークを持つプログラマは, 
そのプレイグラウンドで着々とコードを書き進めているように見える. </p>
<p>ライフワークは自分で使えるものでないといけない. 
他人のために何かできるほど, 私には良心がない. 
かといって野心的な目標をたてると, 自分で使うまえに挫けてしまう. 
野望のために動かない下積みを続けられるほど, 私には根気がない. 
小さく使い始めて, 少しづつ改善していく. 
そんなものがつくりたいとずっと思っているけれど, いまだ達成できず. </p>
<p>こうして漠とした憧れに焦がれながら今年も終わります. よいおとしを. </p>
