---
title: "Wiki小話"
date: 2007-01-10
---
<h3>近況</h3>
<p><a href="http://wikibana.socoda.net/wiki.cgi?Wiki%be%ae%cf%c3%2fVol%2e7">Wiki小話/Vol.7</a> を聞いた. <a href="http://podcastle.jp/">podcastle</a> の話.</p>
<p>私は <a href="http://www.mellowtone.co.jp/cv.html">arai さん</a> をひやかすという
割と不純な動機で参加したのだけれど, とても面白かった. 色々と良くできていた. 
なんといっても画期的なのは, 
最先端(であるらしい)音声認識の研究成果を本来の性能を落とすことなしに 
Web とつないた点だと思う. </p>
<p>世の中には良い研究をしている人もすごい Web プログラマも一定数いると思うけれど, 
その両方が揃うことは少なそうだ. 
両方揃って, かつそれが正しくつながるとこういう大層なものができるのだな. </p>
<p>計算機科学の研究を見ていると, 中には実装として Web に繋げているものもある. 
でもふつう出来はいまいち. 
研究している当人が Web アプリケーションを実装しており, 
その人は Web の専門家じゃないから仕方ない. 
一方で, そういうしょぼい実装が常態化しているとしたらそれは 
just works であることの価値を (当人よりむしろコミュニティが) 軽視していることの
あらわれかもしれない. 
Podcastle チームの人々は動かすことのインパクトを理解しそれを実現している. </p>
<p>...なんて抽象的な話はさておき, ハイテクですよ. すごい. 
うちの mac+ff2 では動いてくれないのが悲しい. </p>
