---
title: "最近(でもなく)読んだ本"
date: 2007-01-02
---
<h3>近況</h3>
<p><span class='image'><a href='http://www.amazon.co.jp/Working-Effectively-With-Legacy-Code/dp/0131177052%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0131177052' class='bookcover'><img data:asin='0131177052' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51H6SHy6g2L.jpg'></span></a></span></p>
<p>親元に帰っておせちをつまみ, 本を読み, 
天皇杯を見ようとテレビをつけたら試合は終わっていて, 帰宅. 
また本を読む. いつも, どこにいてもやることはそう変わらない... </p>
<p>そういえば本の記録をウェブに載せてなかったと思いだす. 載せておこう. 
自分の日記を見ると毎年同じことをしている. 
<a href="http://dodgson.org/omo/t/?date=200601">去年</a>, 
<a href="http://dodgson.org/omo/t/?date=200501">一昨年</a>, 
<a href="http://dodgson.org/omo/t/?date=200401">その前の年</a>. 
年始に前年の後半で読んだ本をまとめてメモするのは, どうも私の傾向らしい. 
ヒマなんだな...</p>
<pre></pre>
<p>ついでに去年のナンバーワンをあげておこう.
"<a data:asin='0131177052' href='http://www.amazon.co.jp/Working-Effectively-With-Legacy-Code/dp/0131177052%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0131177052'>Working Effectively With Legacy Code</a>" 
(<a href="http://www.dodgson.org/omo/t/?date=20060331">読書記録</a>). 
きっと訳が出ると信じて待っているけれど, まだみたい.</p>
<h3>最近(でもなく)読んだ本</h3>
<p>そういえば前回読んだ本のことを書いたのはいつだっけと手元のメモを検索する. 
8 月...と思ったら書きかけじゃん. その書きかけもまとめて. </p>
<h4><a data:asin='4022501871' href='http://www.amazon.co.jp/%E3%82%A4%E3%83%B3%E3%83%87%E3%82%A3%E3%82%A2%E3%83%8A%E3%80%81%E3%82%A4%E3%83%B3%E3%83%87%E3%82%A3%E3%82%A2%E3%83%8A-%E3%83%AC%E3%82%A2%E3%83%BC%E3%83%89%E3%83%BB%E3%83%8F%E3%83%B3%E3%83%88/dp/4022501871%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4022501871'>インディアナ・インディアナ</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A4%E3%83%B3%E3%83%87%E3%82%A3%E3%82%A2%E3%83%8A%E3%80%81%E3%82%A4%E3%83%B3%E3%83%87%E3%82%A3%E3%82%A2%E3%83%8A-%E3%83%AC%E3%82%A2%E3%83%BC%E3%83%89%E3%83%BB%E3%83%8F%E3%83%B3%E3%83%88/dp/4022501871%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4022501871' class='bookcover'><img data:asin='4022501871' class='asin image-right' src='http://ecx.images-amazon.com/images/I/4131H17MB0L.jpg'></span></a></span></p>
<p>まいった. 
あとがきで柴田元幸が "これだ" と思った作家としてケリー・リンクと並べて紹介しているけれど, 
説明のしようがない点で共通しているな. 
ノアという老人が現在と回想の間をぼんやりと行き来している. 
何かが失なわれていて, 最初それが何かはわからないけれど, だんだん輪郭があらわれていく. 
その仕掛けがさりげなくも鮮かで, 無闇に感傷に流れることもなく, 静かに引き込まれる. </p>
<p>近代アメリカにはきっと黄金の時代があったんだろうね. 
良く知らないけれど, 50-60 年代あたりだろうか. ベトナム戦争の前あたり. 
その輝きを失った喪失感は色々な形で反復されていないか. 
この話にしても, ノアの幸福な日々がそのまぶしさに重なることは, 
ないかな. わかりません. </p>
<h4><a data:asin='4403210902' href='http://www.amazon.co.jp/%E7%9F%AD%E7%AF%87%E9%9B%86-%E3%83%90%E3%83%AC%E3%83%B3%E3%82%BF%E3%82%A4%E3%83%B3-%E6%9F%B4%E7%94%B0-%E5%85%83%E5%B9%B8/dp/4403210902%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4403210902'>短篇集 バレンタイン</a></h4>
<p>柴田元幸の短編小説集. 翻訳じゃなくて当人の書いたもの. 
ついに出してしまったか...そして買ってしまった私...</p>
<p>雰囲気はユアグローと椎名誠を足して割ったかんじ. 
面白いけれど, 基本はファンブックです. たぶん.
<a data:asin='4101279314' href='http://www.amazon.co.jp/%E6%84%9B%E3%81%AE%E8%A6%8B%E5%88%87%E3%82%8A%E7%99%BA%E8%BB%8A-%E6%96%B0%E6%BD%AE%E6%96%87%E5%BA%AB-%E6%9F%B4%E7%94%B0-%E5%85%83%E5%B9%B8/dp/4101279314%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4101279314'>愛の見切り発車</a> あたりのくエッセイなら
ファンでなくても楽しめると思うけれども. </p>
<h4><a data:asin='4403210880' href='http://www.amazon.co.jp/%E7%BF%BB%E8%A8%B3%E6%95%99%E5%AE%A4-%E6%9F%B4%E7%94%B0-%E5%85%83%E5%B9%B8/dp/4403210880%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4403210880'>翻訳教室</a></h4>
<pre></pre>
<p><span class='image'><a href='http://www.amazon.co.jp/%E7%BF%BB%E8%A8%B3%E6%95%99%E5%AE%A4-%E6%9F%B4%E7%94%B0-%E5%85%83%E5%B9%B8/dp/4403210880%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4403210880' class='bookcover'><img data:asin='4403210880' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51FW5511M1L.jpg'></span></a></span></p>
<p>柴田元幸依存だ...
本屋ではもう依存しないぞと心に決めて棚を眺めるんだけど, つい日和ってしまう. </p>
<p>これは柴田元幸が大学で行った翻訳の授業を再録したもの. 
英文の抜粋を学生が訳して提出し, 授業ではそれを直しながら学生と翻訳話をする. 
章末には教師訳もついている. </p>
<p>直すポイントは, 単純に翻訳として(意味が)間違っているというものから
文章の雰囲気のようなものまで色々ある. 面白いのは後者のような, いかにも翻訳な話題. 
読み易さと原文尊重のトレードオフ, 意訳の許容範囲, リズム. 
学生訳をどんどん直していく様子が鮮かで, 
ふだんは(翻訳家らしく)身を潜めている柴田元幸の技術がよくわかる. 
学生も物怖じせず口を挟み, テンポのよい授業の雰囲気が伝わってきて楽しい. </p>
<p>柴田元幸も学生達も, 違和感を言語化する能力がとても高い. 
たとえば登場する学生訳には, 私が読んでいてもなにかヘンだと感じる場所がある. 
でもそれは "なにかヘン" という程度でしかない. 
彼ら(といっても大体は講師の柴田元幸だけれど)はそれをきちんと言語化して議論している. 
ふつうできない. まして小説という曖昧な代物が相手. 
言葉の専門家というのはこういうことができるのかと驚いた. </p>
<p>この授業は要するにレビューなわけだ. 翻訳レビュー. 
そういう視点でみても柴田元幸の話の進め方はうまい. 
直す時は元の訳の意思をなるべく尊重するし, 
授業中に出た学生の発言も面白がってどんどん取り入れていく. 
エゴレス. 揉めそうな部分でも, "ここは訳者の趣味の問題" みたいに流す. 
一方で間違いと確信している部分は断固と直す. 
圧倒的な実力が根本にあって, それに基いて議論するから主張はとてもクリアだし, 
かといって威圧的でもない. 理想のレビューに近い. 
学生に対する教師という立場の非対称性も効いているけれど, それだけじゃないよな. </p>
<p>そういうお仕事ビューはさておき, 翻訳をやりたくなる本だった. 
ジャンルも程度も全然違うけれど, 私も今年は少しがんばって計算機文書を訳していきたい. </p>
<h4><a data:asin='4101001502' href='http://www.amazon.co.jp/%E7%A5%9E%E3%81%AE%E5%AD%90%E3%81%A9%E3%82%82%E3%81%9F%E3%81%A1%E3%81%AF%E3%81%BF%E3%81%AA%E8%B8%8A%E3%82%8B-%E6%96%B0%E6%BD%AE%E6%96%87%E5%BA%AB-%E6%9D%91%E4%B8%8A-%E6%98%A5%E6%A8%B9/dp/4101001502%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4101001502'>神の子どもたちはみな踊る</a></h4>
<p>翻訳教室に出てきたので読んでみた. まあ村上春樹といかんじ.</p>
<p>村上春樹を読んだ日は脳内モノローグが村上風になるという症状がある. 
それは耳に馴染むメロディーを口ずさんでしまうようなものだと気付いた. 
言葉のリズムってあるよな. </p>
<h4><a data:asin='4480705619' href='http://www.amazon.co.jp/%E8%8C%A8%E6%9C%A8%E3%81%AE%E3%82%8A%E5%AD%90%E9%9B%86-%E8%A8%80%E3%81%AE%E8%91%89%E3%80%881%E3%80%89-%E8%8C%A8%E6%9C%A8-%E3%81%AE%E3%82%8A%E5%AD%90/dp/4480705619%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480705619'>茨木のり子集 言の葉 (1)</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E8%8C%A8%E6%9C%A8%E3%81%AE%E3%82%8A%E5%AD%90%E9%9B%86-%E8%A8%80%E3%81%AE%E8%91%89%E3%80%881%E3%80%89-%E8%8C%A8%E6%9C%A8-%E3%81%AE%E3%82%8A%E5%AD%90/dp/4480705619%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480705619' class='bookcover'><img data:asin='4480705619' class='asin image-right' src='http://ecx.images-amazon.com/images/I/3160XY0X8CL.jpg'></span></a></span></p>
<p>書店の追悼セールで亡くなっていたことを知った. 
そのうち現代詩文庫で読もうと思っていたこともあり購入. 
茨木のり子の詩は "わたしが一番きれいだったとき" がよく知られている. 
たしかにこれはいい. 
"わたしが..." は著者のそのたくましさががぴたりとはまっているからいいけれど, 
全体的にはいくらかたくましすぎる嫌いはある. 
私はもう少しわかりやすい繊細さを期待していたらしく, ちょっとあてがはずれた. 
まあ筋違いな文句だけれど. </p>
<p>この選集は詩に加えてエッセイも収められている. 
こちらは持ち前のあっけらかんとした逞しさが時代背景に映え, 楽しく読めた. 
著者が川崎洋と同人詩集をだすために新宿でうちあわせをした話のくだり, </p>
<blockquote><p>帰宅した川崎さんが水尾さんに今日の経過を報告すると,
"うむ、中村屋でライスカレーを食べて、紀伊国屋で珈琲というのは一流のコースだ"
と断固として言ったそうである. 昭和二十八年頃の一流コースとは, まったくなつかしい限りである. </p>
</blockquote>
<p>という一節がある. なぜかとても可笑しかった. 
"一番きれいだったとき" を失ったとうたう茨木のり子も, その後は楽しくやっていたんだな. 
どこか安心し, そのうち紀伊国屋で選集の続きを買って中村屋でカレーを食べようと思うも
今のところ果たせていない. (ジュンク堂ができたため.) </p>
<h4><a data:asin='4783720088' href='http://www.amazon.co.jp/%E8%A9%A9%E3%81%AE%E5%B1%A5%E6%AD%B4%E6%9B%B8%E2%80%95%E3%80%8C%E3%81%84%E3%81%AE%E3%81%A1%E3%80%8D%E3%81%AE%E8%A9%A9%E5%AD%A6-%E8%A9%A9%E3%81%AE%E6%A3%AE%E6%96%87%E5%BA%AB-%E6%96%B0%E5%B7%9D-%E5%92%8C%E6%B1%9F/dp/4783720088%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4783720088'>詩の履歴書—「いのち」の詩学</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E8%A9%A9%E3%81%AE%E5%B1%A5%E6%AD%B4%E6%9B%B8%E2%80%95%E3%80%8C%E3%81%84%E3%81%AE%E3%81%A1%E3%80%8D%E3%81%AE%E8%A9%A9%E5%AD%A6-%E8%A9%A9%E3%81%AE%E6%A3%AE%E6%96%87%E5%BA%AB-%E6%96%B0%E5%B7%9D-%E5%92%8C%E6%B1%9F/dp/4783720088%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4783720088' class='bookcover'><img data:asin='4783720088' class='asin image-right' src='http://ecx.images-amazon.com/images/I/31SDVMR42TL.jpg'></span></a></span></p>
<p>詩人つながり. 新川和江のエッセイをまとめたもの. 
新川和江は茨木のり子とは逆で, 詩の方がいいな. 
このエッセイは自分がかつて書いた詩を肴によもやま話をするというものなんだけれど, 
なんというかネタバレが明らさますぎる. 興醒めしてしまう. 
詩人や作家が自分のことを書くのは難しいんだろうね. </p>
<h4><a data:asin='4101167524' href='http://www.amazon.co.jp/%E3%81%97%E3%82%92%E3%82%93%E3%81%AE%E3%81%97%E3%81%8A%E3%82%8A-%E6%96%B0%E6%BD%AE%E6%96%87%E5%BA%AB-%E4%B8%89%E6%B5%A6-%E3%81%97%E3%82%92%E3%82%93/dp/4101167524%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4101167524'>しおんのしおり</a></h4>
<p>三浦しおんの <a href="http://www.boiledeggs.com/siori/sback.html">ウェブでの連載</a> を
まとめたもの(だとおもう). バカでいいなあ... 
amazon のレビューに "電車の中などでパクパク読んでいけます" とあるが, 
実際は電車で読むと危険. ブフッとか笑って気味悪がられること請け合い. </p>
<h4><a data:asin='4492222642' href='http://www.amazon.co.jp/%E3%83%8F%E3%83%BC%E3%83%89%E3%83%AF%E3%83%BC%E3%82%AF%7E%E4%BD%8E%E8%B3%83%E9%87%91%E3%81%A7%E5%83%8D%E3%81%8F%E3%81%A8%E3%81%84%E3%81%86%E3%81%93%E3%81%A8-%E3%83%9D%E3%83%AA%E3%83%BC%E3%83%BB%E3%83%88%E3%82%A4%E3%83%B3%E3%83%93%E3%83%BC/dp/4492222642%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492222642'>ハードワーク~低賃金で働くということ</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%8F%E3%83%BC%E3%83%89%E3%83%AF%E3%83%BC%E3%82%AF%7E%E4%BD%8E%E8%B3%83%E9%87%91%E3%81%A7%E5%83%8D%E3%81%8F%E3%81%A8%E3%81%84%E3%81%86%E3%81%93%E3%81%A8-%E3%83%9D%E3%83%AA%E3%83%BC%E3%83%BB%E3%83%88%E3%82%A4%E3%83%B3%E3%83%93%E3%83%BC/dp/4492222642%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492222642' class='bookcover'><img data:asin='4492222642' class='asin image-right' src='http://ecx.images-amazon.com/images/I/519D58N63EL.jpg'></span></a></span></p>
<p>仕事に暇ができた英国人ジャーナリストの著者が, 
その暇を生かしロンドンで最低賃金の生活をしてみたレポート. 
色々な仕事をこなしつつ, その辛さをレポートしていく. 
ノリとしては <a data:asin='4795843422' href='http://www.amazon.co.jp/%E3%82%A2%E3%83%9E%E3%82%BE%E3%83%B3%E3%83%BB%E3%83%89%E3%83%83%E3%83%88%E3%83%BB%E3%82%B3%E3%83%A0%E3%81%AE%E5%85%89%E3%81%A8%E5%BD%B1-%E6%A8%AA%E7%94%B0%E5%A2%97%E7%94%9F/dp/4795843422%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4795843422'>アマゾン・ドット・コムの光と影</a> に近い. 
違うのは, 労働だけでなく住宅も公団に入り, 貧乏ライフを徹底するところ. 
公団といっても日本のやつを想像するとズレがあって, たぶんずっと酷い. </p>
<p>労働のつらさなどの描写はそれなりに興味深いが, それより国の制度について考えさせられる. 
たとえば様々な公共サービスが(おそらくコスト減を目的として)民間に受託され, 
それが低賃金労働の受け皿となっている. 競争のために給料は安くなる. 
またサービスは個々の仕事毎に異なる業者が請けるため, 縦割りの弊害みたいなことが起こる. 
そうやって政府の直接雇用を減らすのは小さな政府のアプローチなわけだけれど, 
その結果限度を超えて給料の安い仕事が生まれてしまうのはなかなか厳しい. 
この本は後半でこうした点を議論しているけれど, 市場主義者と折り合えそうなかんじではない. 難しい. </p>
<p>著者は最低ラインの生活をしようとするのだが, すぐに赤字になり(架空の)借金をしてしまう. 
金がないから最低ラインの暮らしをしようとするわけで, もちろん返せるあてはない. 
これもなかなか困った事実だ. 端的に最低賃金では暮らせないというわけだから. 
貧乏ながら慎ましく暮らしていく, というのが(英国では)無理難題であることがわかる. </p>
<p>あとは隣人や仕事場で出会う同僚達に, もともと定職を持っていた人がけっこう出てくるのも怖い. 
なにかの拍子にクビになったり病気で休んでいたら復帰できなくなったりした時, 
その先にあるのが過労赤字生活だと思うと恐怖を覚える. 
日本はこれほど厳しい状況でもないんだろうけれど, 
市場主義の行き先としては割と自然だとも思う. 気が沈んだ. </p>
<h4><a data:asin='4393643011' href='http://www.amazon.co.jp/%E3%83%91%E3%83%BC%E3%82%BD%E3%83%8A%E3%83%AB%E3%83%95%E3%82%A1%E3%82%A4%E3%83%8A%E3%83%B3%E3%82%B9%E5%85%A5%E9%96%80%E2%80%95%E5%AE%B6%E8%A8%88%E3%81%AE%E9%87%91%E8%9E%8D%E7%B5%8C%E6%B8%88%E8%AB%96-%E7%89%87%E5%B2%A1-%E9%9A%86/dp/4393643011%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4393643011'>パーソナルファイナンス入門—家計の金融経済論</a></h4>
<p>低所得つながり. たとえば今, じゃなくても何年後か, 
あるいは本格的な中年になってからその時の仕事を失なったら経済的にやっていけるのだろうか. 
そう考えて読んでみた. 結論: ダメそう. 自分のキリギリス生活を自覚し, かなりへこむ. </p>
<p>内容は, 個人が自分の資産をどう運用していくかというもの. 
運用といっても投資をしろという話だけではなく(後半はそういう話), 
まずは貯金や出費などのキャッシュフローをどんな指針で運営するかという, 割と基本的なことを説明してくれる.
そのほか税, 住居, 保険, 年金のような主だった資産の出入りなど. 
投資の話は後半 1/3 くらいで, 全般に保守的な地に足のついた本. 
なぜか先物の話もでてくる. この守りの姿勢で先物はやらんだろ...</p>
<p>文章は易しいものの読み物としては特に面白くない. 
教科書なので仕方なし. </p>
<h4><a data:asin='4004310253' href='http://www.amazon.co.jp/%E8%AA%B0%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E4%BC%9A%E7%A4%BE%E3%81%AB%E3%81%99%E3%82%8B%E3%81%8B-%E5%B2%A9%E6%B3%A2%E6%96%B0%E6%9B%B8-%E3%83%AD%E3%83%8A%E3%83%AB%E3%83%89-%E3%83%89%E3%83%BC%E3%82%A2/dp/4004310253%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4004310253'>誰のための会社にするか</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E8%AA%B0%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AE%E4%BC%9A%E7%A4%BE%E3%81%AB%E3%81%99%E3%82%8B%E3%81%8B-%E5%B2%A9%E6%B3%A2%E6%96%B0%E6%9B%B8-%E3%83%AD%E3%83%8A%E3%83%AB%E3%83%89-%E3%83%89%E3%83%BC%E3%82%A2/dp/4004310253%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4004310253' class='bookcover'><img data:asin='4004310253' class='asin image-right' src='http://ecx.images-amazon.com/images/I/31YZ97QSM3L.jpg'></span></a></span></p>
<p>お仕事つながり. 
まず日本の企業がかつての家族的経営からどうやって株主重視の US 風に姿を変えていったかを概観する. 
またそれを批判し, 会社の stakeholder は株主だけじゃない, 
社員や顧客も権利者だということを忘れるなと主張する. 
面白いのは, こうしたアイデアを支持するために法整備が必要だとするところ. 
逆に言うと今の法制度では株主重視の方が都合がいいということになる. 
だから著者のいう "民主主義企業構想" は, 合理性よりは倫理にもとづくものに見える. </p>
<p>それにしてもえらく博識な人だ. 議論も堂に入っていて, 迫力と説得力がある. 
おそるべき年寄りという印象.  </p>
<h4><a data:asin='4790708039' href='http://www.amazon.co.jp/%E7%AE%A1%E7%90%86%E3%81%95%E3%82%8C%E3%82%8B%E5%BF%83%E2%80%95%E6%84%9F%E6%83%85%E3%81%8C%E5%95%86%E5%93%81%E3%81%AB%E3%81%AA%E3%82%8B%E3%81%A8%E3%81%8D-A-R-%E3%83%9B%E3%83%83%E3%82%AF%E3%82%B7%E3%83%BC%E3%83%AB%E3%83%89/dp/4790708039%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4790708039'>管理される心—感情が商品になるとき</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%B7%E3%83%A7%E3%83%83%E3%82%AD%E3%83%B3%E3%82%B0PINK-SKY-%E5%B0%8F%E5%AD%A6%E9%A4%A8%E6%96%87%E5%BA%AB-%E3%81%82A-31-%E7%A7%8B%E9%87%8C-%E5%92%8C%E5%9B%BD/dp/4091917313%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4091917313' class='bookcover'><img data:asin='4091917313' class='asin image-right' src='http://ecx.images-amazon.com/images/I/31GD7ZA610L.jpg'></span></a></span></p>
<p>これもお仕事つながり. 1983 年の話なのでちょっと古い. 
もともとはタイトルにあるような内容を期待していたけれど, 
どちらかというと飛行機の客室乗務員の話が面白かった. 
彼女ら(もっぱら女性)がケーススタディーの対象になっている. 
航空サービスの競争が加熱し, コスト減のために従業員の人数を減らさしつつ一台あたりの顧客数が増えていく. 
そんな中, "上質のサービス" を求められつづける矛盾にどう折り合いをつけていくのか. 
従業員の性格を制約したい雇用者の思惑やセクハラ無法地帯を跋扈する顧客などをやりすごす姿が印象深い. 
スッチー版 <a data:asin='4822244679' href='http://www.amazon.co.jp/%E6%B4%97%E8%84%B3%E3%81%99%E3%82%8B%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%7E%E4%BC%81%E6%A5%AD%E6%96%87%E5%8C%96%E3%82%92%E6%93%8D%E4%BD%9C%E3%81%9B%E3%82%88-%E3%82%AE%E3%83%87%E3%82%AA%E3%83%B3%E3%83%BB%E3%82%AF%E3%83%B3%E3%83%80/dp/4822244679%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822244679'>洗脳するマネジメント</a> だな. </p>
<p>いま 20 年後の日本に視線をやると, 
ほぼ全ての非コモディティなサービス業は何らかの感情管理をしているように見える. 
一方で国際線(エコノミー)の乗務員は割と無愛想だし, だからどうということもない. 
人類は色々と適応を進めておりますな. </p>
<p>そういえば友達の家で読んだ 
<a data:asin='4091917313' href='http://www.amazon.co.jp/%E3%82%B7%E3%83%A7%E3%83%83%E3%82%AD%E3%83%B3%E3%82%B0PINK-SKY-%E5%B0%8F%E5%AD%A6%E9%A4%A8%E6%96%87%E5%BA%AB-%E3%81%82A-31-%E7%A7%8B%E9%87%8C-%E5%92%8C%E5%9B%BD/dp/4091917313%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4091917313'>ショッキングPINK-SKY</a> が面白かった. 応用編に. </p>
<h4><a data:asin='4791763076' href='http://www.amazon.co.jp/%E5%83%8D%E3%81%8B%E3%81%AA%E3%81%84%E2%80%95%E3%80%8C%E6%80%A0%E3%81%91%E3%82%82%E3%81%AE%E3%80%8D%E3%81%A8%E5%91%BC%E3%81%B0%E3%82%8C%E3%81%9F%E4%BA%BA%E3%81%9F%E3%81%A1-%E3%83%88%E3%83%A0-%E3%83%AB%E3%83%83%E3%83%84/dp/4791763076%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4791763076'>働かない—「怠けもの」と呼ばれた人たち</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%83%8D%E3%81%8B%E3%81%AA%E3%81%84%E2%80%95%E3%80%8C%E6%80%A0%E3%81%91%E3%82%82%E3%81%AE%E3%80%8D%E3%81%A8%E5%91%BC%E3%81%B0%E3%82%8C%E3%81%9F%E4%BA%BA%E3%81%9F%E3%81%A1-%E3%83%88%E3%83%A0-%E3%83%AB%E3%83%83%E3%83%84/dp/4791763076%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4791763076' class='bookcover'><img data:asin='4791763076' class='asin image-right' src='http://ecx.images-amazon.com/images/I/511dxBNqpGL.jpg'></span></a></span></p>
<blockquote><p>労働に対するふたつの立場は, お互いを煽りたててより極端になっていくかもしれない.
だが, ふたつはともに, 反対からの圧力にもまれながら, 働くことをめぐる私達の感情をかたちづくっていく.
私達の文化に存在し, 私達の原動力となっているふたつの主要な幻想 --- 
すなわち, 完璧に実現された天職という夢と, 罪悪感ぬきでのんびり暮らす夢 --- を打ち砕いていきながら.
労働倫理とスラッカー倫理は, こうした幻想に意義を申し立て, 労働生活に対する私たちの考え方を改めさせる.
そしてこのプロセスは, 人々の生活が絶え間なく変化していくにつれ, 繰り返し必要となるのである.  </p>
</blockquote>
<p>仕事をせずに生きたとされる人々の歴史をまとめた読み物. 
もっぱらアメリカ中心. 日本のフリーターもちょこっと出てくる. 
いかんせんアメリカの話だから, あっちの文化に通じていないとわからないことが多い. 
私にはちょっと難しかった. </p>
<p>数百年前から "働かない" 倫理があったという話は面白いけれど, 
個人的には二つ転換点があるように感じた. 
一つ目はブルーワーカーがだんだんと姿を消し, ホワイトワーカーの時代になるところ. 
内容が危険で, 仕事をしないことが生命の安全につながるブルーワーカーの時代と, 
現代のような過労はさておき生命は保障されている状態では仕事から逃れる意味が違う. 
生きていくので精一杯なら自己実現とか言う暇はないしね. </p>
<p>もう一つは仕事が遊びをとりこむような ニュー・エコノミー だの dot-com だのを始めとする
クリエイチブと言われる仕事の台頭. 
ラフな格好で出勤できて職場にはビリヤードやピンボール台があって, 
残業は月 200 時間でもハッピーに働いている(ことになっている). 
こういう culturaly-engineered な中毒仕事をしているのは幸せなのか. 
仕事への熱中を雇用側に操作されているとしてもその仕事は天職と言えるのか. 
そういう疑問は割と新しいものな気がする. 
まあ日本の高度経済成長の時代というのは, ある意味でこれの仲間だったのかも知れないけれど. </p>
<p>ハードワークをしているとさっさと帰ってしまう同僚に腹が立つ. 
一方で自分がさっさと帰りたい時に仕事を押し付けられる不愉快もある. 
こういうコンフリクトは異なる倫理観の対決であって, 
職場内の価値観ではともかく大局的にはどちらが正しいというものでもないのだなあと
しみじみ納得したのでした. </p>
<h4><a data:asin='4480063129' href='http://www.amazon.co.jp/%E5%BF%83%E8%84%B3%E3%82%B3%E3%83%B3%E3%83%88%E3%83%AD%E3%83%BC%E3%83%AB%E7%A4%BE%E4%BC%9A-%E3%81%A1%E3%81%8F%E3%81%BE%E6%96%B0%E6%9B%B8-%E5%B0%8F%E6%A3%AE-%E9%99%BD%E4%B8%80/dp/4480063129%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480063129'>心脳コントロール社会</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%BF%83%E8%84%B3%E3%82%B3%E3%83%B3%E3%83%88%E3%83%AD%E3%83%BC%E3%83%AB%E7%A4%BE%E4%BC%9A-%E3%81%A1%E3%81%8F%E3%81%BE%E6%96%B0%E6%9B%B8-%E5%B0%8F%E6%A3%AE-%E9%99%BD%E4%B8%80/dp/4480063129%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480063129' class='bookcover'><img data:asin='4480063129' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41BHH9WG1DL.jpg'></span></a></span></p>
<p>マーケターや政治家どもは心理学を使って
広告やプロパガンダを作ってるんだぜ! 
という話を, 最近のケーススタディも織り混ぜて主張する話. 
みのもんたの登場する CM の話は面白い. (でもテレビがないので実物は見たことがない...) 
そのほかには アメリカの温暖化政策や湾岸戦争, 日本の小泉政権などが遡上にあがる. 
全体的に総論でさわりだけなのだけれど, 参考文献を明示しているのはいい.
メモしておこう.</p>
<ul>
<li><a href="http://www.pbs.org/wgbh/pages/frontline/shows/persuaders/">The persuaders</a> :アメリカの心理マーケティングの現状に関するテレビ番組. オンラインで見られる(まだ見てない.) 資料も豊富.</li>
<li><a data:asin='4478502161' href='http://www.amazon.co.jp/%E5%BF%83%E8%84%B3%E3%83%9E%E3%83%BC%E3%82%B1%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0-%E9%A1%A7%E5%AE%A2%E3%81%AE%E7%84%A1%E6%84%8F%E8%AD%98%E3%82%92%E8%A7%A3%E3%81%8D%E6%98%8E%E3%81%8B%E3%81%99-Harvard-Business-School/dp/4478502161%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4478502161'>心脳マーケティング 顧客の無意識を解き明かす</a> : 無意識を利用するマーケティング手法をあれこれ書いた本らしい. 実際のマーケターによるとおぼしき Amazon のレビューは割と否定的.</li>
<li><a data:asin='4140910313' href='http://www.amazon.co.jp/%E3%83%A1%E3%83%87%E3%82%A3%E3%82%A2%E5%8D%B1%E6%A9%9F-NHK%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9-%E9%87%91%E5%AD%90-%E5%8B%9D/dp/4140910313%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4140910313'>メディア危機</a> : 安直な思考を誘導する小泉政権に関するメディアの問題などを遡上に, こまった報道を批判する本. らしい.</li>
<li><a data:asin='4794211295' href='http://www.amazon.co.jp/%E6%88%A6%E4%BA%89%E3%83%97%E3%83%AD%E3%83%91%E3%82%AC%E3%83%B3%E3%83%80-10%E3%81%AE%E6%B3%95%E5%89%87-%E3%82%A2%E3%83%B3%E3%83%8C%E3%83%BB%E3%83%A2%E3%83%AC%E3%83%AA/dp/4794211295%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4794211295'>戦争プロパガンダ 10の法則</a> : まあそんな本. (以前読んだ気がしたが, 読んだのは <a data:asin='4622036819' href='http://www.amazon.co.jp/%E6%88%A6%E4%BA%89%E3%81%A8%E3%83%97%E3%83%AD%E3%83%91%E3%82%AC%E3%83%B3%E3%83%80-%E3%82%A8%E3%83%89%E3%83%AF%E3%83%BC%E3%83%89%E3%83%BBW-%E3%82%B5%E3%82%A4%E3%83%BC%E3%83%89/dp/4622036819%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4622036819'>戦争とプロパガンダ</a> だった. たぶん...)</li>
</ul>
<h4><a data:asin='4492531122' href='http://www.amazon.co.jp/%E3%83%AD%E3%82%B8%E3%82%AB%E3%83%AB%E3%83%BB%E3%82%B7%E3%83%B3%E3%82%AD%E3%83%B3%E3%82%B0%E2%80%95%E8%AB%96%E7%90%86%E7%9A%84%E3%81%AA%E6%80%9D%E8%80%83%E3%81%A8%E6%A7%8B%E6%88%90%E3%81%AE%E3%82%B9%E3%82%AD%E3%83%AB-Best-solution-%E7%85%A7%E5%B1%8B-%E8%8F%AF%E5%AD%90/dp/4492531122%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492531122'>ロジカル・シンキング—論理的な思考と構成のスキル</a> / <a data:asin='4492555544' href='http://www.amazon.co.jp/%E3%83%AD%E3%82%B8%E3%82%AB%E3%83%AB%E3%83%BB%E3%83%A9%E3%82%A4%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0-SOLUTION%E2%80%95LOGICAL-COMMUNICATION-SKILL-TRAINING/dp/4492555544%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492555544'>ロジカル・ライティング</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%AD%E3%82%B8%E3%82%AB%E3%83%AB%E3%83%BB%E3%82%B7%E3%83%B3%E3%82%AD%E3%83%B3%E3%82%B0%E2%80%95%E8%AB%96%E7%90%86%E7%9A%84%E3%81%AA%E6%80%9D%E8%80%83%E3%81%A8%E6%A7%8B%E6%88%90%E3%81%AE%E3%82%B9%E3%82%AD%E3%83%AB-Best-solution-%E7%85%A7%E5%B1%8B-%E8%8F%AF%E5%AD%90/dp/4492531122%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492531122' class='bookcover'><img data:asin='4492531122' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41G50VJN0JL.jpg'></span></a></span></p>
<p>上司を説得するための文章を書こうとして購入. (でも結局書かなかった気がする.) 
"ロジカル・シンキング" では MECE という論理構成の方法を紹介する. 
"ロジカル・ライティング" はそれに従って文章を書く話. 
個人的には "ライティング" だけで十分な印象. こっちには "シンキング" の復習も含まれている.</p>
<p>"ロジカル" というから全称記号やら帰納法やらが出てくる話かと思いきや全然違った. 
説得力のある議論や文章のためのデザイン・パターンやフレームワークの紹介という趣. 
たしかにそこで示されている形に従って構成をすれば, それらしい文章になる気がする.
ただし著者も "筋力と同じ" と言っているとおり, 
すぐに身につく技術でもない. 教科書を参照しながら文章を作る訓練をして, 
それでようやくできるかんじ. 
なにしろ面倒が多い. それに説得力を与えようとすると文章を書くだけでは済まず, 
色々と材料を集める必要がある. 
この本は文章の話だからそのへんは所与になっているけれど, 
実際は材料集めが一番大変なんじゃないかなあ. 
せっかく集めた資料を無駄にしないための方法論だと思えばいいのか. </p>
<p>私は仕事ではほとんどまったく文章を書かないから, その訓練が割に合うかはわからない. 
ただ文章を書くのが仕事ならやっていい訓練だとは思う. コンサルタントはそういう仕事なのかもね. </p>
<p>たとえば Web の日記や blog にこの方式で文章を書く練習をするのはどうだろう. 
少し考えてみたけれど, あまり乗り気にはなれない. 
私はロジカル・ライティングの作りだす "納得感" があまり好きでない. 
"納得感" というのは本書の中でたびたび強調される "腑に落ちる感じ" のこと. 
いかにこの納得感をつくりだすかがロジカル・ライティングの中心的課題にある. </p>
<p>納得感のにおいは強い. 文章がもつもともとの "声" を消してしまう. 私はそれが嫌なのだと思う. 
声を残しながら納得感をだすこともできるだろうけれど, それは熟練の技に思える. 
その熟練を手に入れるまで声を殺し続けるしんどさを想像すると気が滅入る. 
訓練なら仕方ないだろうけれど. Web に何か書くのは道楽だからねえ. 
ストイックな気分の時にはいいかもしらん. </p>
<h4><a data:asin='4480089624' href='http://www.amazon.co.jp/%E3%83%97%E3%83%A9%E3%82%B0%E3%83%9E%E3%83%86%E3%82%A3%E3%82%BA%E3%83%A0%E3%81%AE%E6%80%9D%E6%83%B3-%E3%81%A1%E3%81%8F%E3%81%BE%E5%AD%A6%E8%8A%B8%E6%96%87%E5%BA%AB-%E9%AD%9A%E6%B4%A5-%E9%83%81%E5%A4%AB/dp/4480089624%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480089624'>プラグマティズムの思想</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%97%E3%83%A9%E3%82%B0%E3%83%9E%E3%83%86%E3%82%A3%E3%82%BA%E3%83%A0%E3%81%AE%E6%80%9D%E6%83%B3-%E3%81%A1%E3%81%8F%E3%81%BE%E5%AD%A6%E8%8A%B8%E6%96%87%E5%BA%AB-%E9%AD%9A%E6%B4%A5-%E9%83%81%E5%A4%AB/dp/4480089624%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480089624' class='bookcover'><img data:asin='4480089624' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41HJPNV6GNL.jpg'></span></a></span></p>
<p><a href="http://dodgson.org/omo/t/?date=20060728">このあいだ</a></p>
<blockquote><p>とはいえアジャイルがもつこの二つの特性: 人間性と合理主義の間には, 本質的な緊張関係がある. 
その均衡が崩れる危険は常にあると思う. それを乗りこなすバランス感覚を, 
ひとは pragmatism と呼ぶのかもしれない.</p>
</blockquote>
<p>と書いたのだけれど, 我ながらわけわからんと思っていた. 
そもそもプラグマティズムがよくわかってない気がする. 
<a href="http://ja.wikipedia.org/wiki/%E3%83%97%E3%83%A9%E3%82%B0%E3%83%9E%E3%83%86%E3%82%A3%E3%82%BA%E3%83%A0">Wikipedia</a> をみると更にわからなくなる.  
思想の言葉を "よくわかる" のは難しいにしろ, 
プログラマの教養としてさわりくらい知っておいてもいいだろう. 
すくなくとも "<a data:asin='4894712741' href='http://www.amazon.co.jp/%E9%81%94%E4%BA%BA%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%83%BC%E2%80%95%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0%E9%96%8B%E7%99%BA%E3%81%AE%E8%81%B7%E4%BA%BA%E3%81%8B%E3%82%89%E5%90%8D%E5%8C%A0%E3%81%B8%E3%81%AE%E9%81%93-%E3%82%A2%E3%83%B3%E3%83%89%E3%83%AA%E3%83%A5%E3%83%BC-%E3%83%8F%E3%83%B3%E3%83%88/dp/4894712741%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894712741'>達人</a>" の意味はない気がする. 
ということで読んでみた. </p>
<p>この本ではプラグマティズムに寄与した思想家の主張をなぞりながらその歴史を追う. 
けっこう眠くて辛い. 
話は独立宣言から始まる. なかなか由緒正しいアメリカ思想. </p>
<p>結論の部分だけ引用:</p>
<blockquote><p>アメリカの現代思想の核心を形成するプラグマティズムの現代的意義はいまや明らかである.
(1) 有限の存在である私たちの意見あるいは信念は, つねに誤りをふくむものであることをみとめる可謬(かびゅう)主義.
(2) 他の人の権利を侵害しない限り, すべての人の信じる権利を認める多元主義.
(3) しかし, 探求のかなたに実在をとらえることができるという実在仮説にもとづく, 探求ないし会話の継続. 
これらの三点が, 私たちの日常生活上の思想をふくめて, あるいは西洋と東洋の思想を含めて, 
21 世紀の思想にたいしてもつ意義には, はかりしれないものがある, と思う.</p>
</blockquote>
<p>(2) だけだと相対主義に陥る危険があるわけだけれど, 
プラグマティズムは (3) にある "実在仮説" を信じてその危険を退けるのがミソらしい. </p>
<p>この原則から pragmatic programmers 的な "実用主義" を導きだす
道程はこんなかんじだろうか: 
ほんとは ruby/scheme/Haskell が最高だと信じているけれど ("実在仮説"), 
"普通の奴らの上を行け" などとは言わず VB も C# も Java も使い ("多元主義"), 
疎結合な EJB/SOAP は素晴らしいと思っていた事実について
ごめん気のせいだったと認めるのもやぶさかでない ("可謬主義"). </p>
<p>なかなかいいプログラマかも.  </p>
<h4><a data:asin='4106101939' href='http://www.amazon.co.jp/%E3%82%A6%E3%82%A7%E3%83%96%E4%BA%BA%E9%96%93%E8%AB%96-%E6%96%B0%E6%BD%AE%E6%96%B0%E6%9B%B8-%E6%A2%85%E7%94%B0-%E6%9C%9B%E5%A4%AB/dp/4106101939%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4106101939'>ウェブ人間論</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A6%E3%82%A7%E3%83%96%E4%BA%BA%E9%96%93%E8%AB%96-%E6%96%B0%E6%BD%AE%E6%96%B0%E6%9B%B8-%E6%A2%85%E7%94%B0-%E6%9C%9B%E5%A4%AB/dp/4106101939%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4106101939' class='bookcover'><img data:asin='4106101939' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41xfVZIgT3L.jpg'></span></a></span></p>
<p>ファンブックとして. </p>
<p>平野啓一郎が, 
blog の持つ独自の語法が書き手本来の声を隠してしまう, というようなことを言っている. 
ちょっとわかる気がする. 
blog は feed と permalink のようなインフラとしての面と, 
書き物のジャンルとしての面を持っている. 
ただジャンルという面は形式やインフラと比べて見えにくいから, 
声がひきずられると違和感があるんだろうね. </p>
<p>blog からジャンルの制約を切り離してインフラだけを抜き出したものが CMS なのかもしれない. 
そう考えると CMS の持つもどかしさもわかる. blog では語法が書き手を引っぱってくれたのに, 
CMS はその牽引力を捨ててしまった. だから独自に代替品を発明する必要がある. 
それがうまくいかないと(個人 Wiki のように)さびれてしまうのだろう. 
Wikipedia やプロジェクトの Wiki みたいに目的がはっきりしているものは自分の声を持っている. 
おかげでうまくいくという面はあるように見える. 
だからジャンルを発見/発明するのには意味がある. 
たとえば "まとめサイト" なんてのはうまくいってるよね. </p>
<p>それはさておきこの本の話に戻ると, 対談形式でささっと読めるから
"Web 進化論" を読んだ人は復習がてら丁度いいかんじ. 
平野啓一郎のつっこみはっけっこういいです. </p>
<h4><a data:asin='4797324295' href='http://www.amazon.co.jp/Ruby%E3%83%AC%E3%82%B7%E3%83%94%E3%83%96%E3%83%83%E3%82%AF-268%E3%81%AE%E6%8A%80-%E9%9D%92%E6%9C%A8-%E5%B3%B0%E9%83%8E/dp/4797324295%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797324295'>Ruby レシピブック</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Ruby%E3%83%AC%E3%82%B7%E3%83%94%E3%83%96%E3%83%83%E3%82%AF-268%E3%81%AE%E6%8A%80-%E9%9D%92%E6%9C%A8-%E5%B3%B0%E9%83%8E/dp/4797324295%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797324295' class='bookcover'><img data:asin='4797324295' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51M15FFSH6L.jpg'></span></a></span></p>
<p>最近の ruby+DSL 流行りを見ていて, 私も "ruby っぽい書き方" をしたいなーと思い購入. 
でもそういう本じゃなかった.</p>
<p>いわゆる逆引きの本. 期待とは違ったけれど手元にあると便利ではある. 
(そもそも根拠のない期待という気もするし.) 
<a href="http://ruby-lang.org/ja/man/">本家のドキュメント</a> もいいけれど, 
サンプルコードがある方が話が早い. 
最近もコマンドラインのパースをしたいと思って
パラパラめくるとちゃんとサンプルつきが載っていた. なかなかいい. </p>
<h4><a data:asin='4873112885' href='http://www.amazon.co.jp/Binary-Hacks-%E2%80%95%E3%83%8F%E3%83%83%E3%82%AB%E3%83%BC%E7%A7%98%E4%BC%9D%E3%81%AE%E3%83%86%E3%82%AF%E3%83%8B%E3%83%83%E3%82%AF100%E9%81%B8-%E9%AB%98%E6%9E%97-%E5%93%B2/dp/4873112885%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873112885'>Binary Hacks —ハッカー秘伝のテクニック100選</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Binary-Hacks-%E2%80%95%E3%83%8F%E3%83%83%E3%82%AB%E3%83%BC%E7%A7%98%E4%BC%9D%E3%81%AE%E3%83%86%E3%82%AF%E3%83%8B%E3%83%83%E3%82%AF100%E9%81%B8-%E9%AB%98%E6%9E%97-%E5%93%B2/dp/4873112885%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873112885' class='bookcover'><img data:asin='4873112885' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41TNSPT9VVL.jpg'></span></a></span></p>
<p>読んだ. 思ったより知らない話が多かった. 半分以上は知らなかったなあ. 
特に GNU の binutil 周辺は未知の世界だね. 
実用的に役に立ちそうなのはセキュリティの話全般. とりあえず -Wextra を Makefile に書き足しました. 
あと g++ の例外の話もよかった. g++ -S であらわれる色々なうだうだの中味がちょっとわかって安心した. </p>
<h4><a data:asin='4891003545' href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E8%A6%81%E6%B1%82-Karl-E-Wiegers/dp/4891003545%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891003545'>ソフトウェア要求</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E8%A6%81%E6%B1%82-Karl-E-Wiegers/dp/4891003545%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891003545' class='bookcover'><img data:asin='4891003545' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51P3657NCTL.jpg'></span></a></span></p>
<p>要求定義の教科書. 一冊くらいは読んでおこうということで読んだ. 
とてもまっとうな内容だった. 枠組みだけでなく,
たとえば仕様には ID より短い(human readable) な名前をつけると良いなど, 
こまかい話でも色々参考になった.
とはいえ実際に bootstrap するには, 
これを踏まえた上でもう少し軽量な方法に落とす必要はあるだろうね. 
上司をちょろまかしつつシレっとやるのはとても無理そう. </p>
<p>あと, 要求仕様を記録するデータベースが欲しくなった. オープンソースでいいのは無いものだろうか. 
今の仕事は小規模だから Trac で "要求" カテゴリに割り振って管理しているけれど, どうにもいまいちだ. 
たとえば顧客とのコミュニケーションに使う必要があるから, 本文込みの仕様書っぽい体裁でエクスポートしたい. 
ウェブベースの BTS は社内で使うなら十分だけれど, 
レガシー的用途(= MS Office書式でのインポートやエクスポート)はちょっと弱い. 
以前 ruby の win32ole で Trac の CSV から顧客仕様の .xsl を生成したころがあるけれど, 
あまりに非生産的で涙が出そうだった. もうやりたくない. </p>
<h4><a data:asin='4797337206' href='http://www.amazon.co.jp/Java%E4%B8%A6%E8%A1%8C%E5%87%A6%E7%90%86%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0-%E2%80%95%E3%81%9D%E3%81%AE%E3%80%8C%E5%9F%BA%E7%9B%A4%E3%80%8D%E3%81%A8%E3%80%8C%E6%9C%80%E6%96%B0API%E3%80%8D%E3%82%92%E7%A9%B6%E3%82%81%E3%82%8B%E2%80%95-Brian-Goetz/dp/4797337206%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797337206'>Java並行処理プログラミング —その「基盤」と「最新API」を究める</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Java%E4%B8%A6%E8%A1%8C%E5%87%A6%E7%90%86%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0-%E2%80%95%E3%81%9D%E3%81%AE%E3%80%8C%E5%9F%BA%E7%9B%A4%E3%80%8D%E3%81%A8%E3%80%8C%E6%9C%80%E6%96%B0API%E3%80%8D%E3%82%92%E7%A9%B6%E3%82%81%E3%82%8B%E2%80%95-Brian-Goetz/dp/4797337206%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4797337206' class='bookcover'><img data:asin='4797337206' class='asin image-right' src='http://ecx.images-amazon.com/images/I/511lSU4bcXL.jpg'></span></a></span></p>
<p>良い本だった. とても明快に Java のマルチスレッド・プログラミングを解説してくれる. 
私は Java のスレッドはわかった気でいたけれど, 全然わかっていなかった. 
それに java.util.concurrent なんて使わねーよと思っていたけれど, これを読んでかなり気に入った.
flino では車輪の再生産をしまくっていたと反省. 次からはきっと使います.</p>
<p>C/C++ プログラマは どうせ Java の話だからとパスするかもしれないけど, 
個人的にはこのくらいの抽象度で理解してから C/C++ 固有の話題に下りた方が
複雑さの勾配が緩くて楽な気がする. 特に java.util.concurrent は
手堅いマルチスレッドライブラリのお手本みたいなもの. 
うかつなものを作ってから泣くよりはこれを真似しておくのがいいと思う. </p>
<p>参考文献リストが無いのが唯一の大きな不満. 
[Fowler 2005] みたいな参照だけじゃわからない. なんとかしてほしい. </p>
<p>そういえば同じ著者の本で 
<a data:asin='4881359185' href='http://www.amazon.co.jp/Java%E3%82%B9%E3%83%AC%E3%83%83%E3%83%89%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E2%80%95%E4%B8%A6%E5%88%97%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%81%AE%E8%A8%AD%E8%A8%88%E5%8E%9F%E7%90%86-OO-SELECTION-%E3%83%80%E3%82%B0-%E3%83%AA%E3%83%BC/dp/4881359185%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4881359185'>Java スレッドプログラミング</a> というのもある. 
これも読んだはずなのに, まったく中味を覚えていない. 
確認すると内容が難しい上に訳がいまいちだ. 新しい方だけ読めばよさそう. </p>
<h4><a data:asin='4894714515' href='http://www.amazon.co.jp/Effective-ADDISON-WESLEY-PROFESSIONAL-COMPUTING-SERIES/dp/4894714515%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894714515'>Effective C++ 原著第3版</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Effective-ADDISON-WESLEY-PROFESSIONAL-COMPUTING-SERIES/dp/4894714515%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894714515' class='bookcover'><img data:asin='4894714515' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51TFT3FMS1L.jpg'></span></a></span></p>
<p>2 版からだいぶ書き足されたとのことなので一応読んでみた. 
それなりに新しい発見があった. 体が覚えてると思っていたのに, そうでもなかったのが悲しい...</p>
<ul>
<li>explicit なコンストラクタ : さぼってた</li>
<li>new 生成したオブジェクトをスマートポインタに渡すのは独立したステートメントで : うげー</li>
<li>typename の二つの意味を理解しよう : コンパイルエラーが出るたびに泥縄で直してた</li>
</ul>
<p>そのほか趣味にあわないから使わないものもある. 
メンバ関数より free floating な関数を使えとか, NVI パターンとか. 
このへんは丁重にパス. </p>
<p>処分しようと本棚から抜いた 2 版は 98 年発行. 時は流れたり...</p>
<h4><a href="http://webstore.ansi.org/ansidocstore/product.asp?sku=INCITS%2FISO%2FIEC+14882-2003">Programming languages - C++ - INCITS/ISO/IEC 14882-2003</a></h4>
<p>C++ の仕様書. 今まで持っていなかったことを慎んでお詫び申しあげます. 
普通にライブラリのリファレンスとして便利. 学生のうちにさっさと買っておくんだった. 
リファレンス系の本や <a href="http://www.sgi.com/tech/stl/">STL のページ</a> 
はこいつがあれば不要.</p>
