---
title: "並列プログラマに 10 の質問 (1)"
date: 2007-03-22
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?TenQuestionsWithJoeArmstrong">並列プログラマに 10 の質問 (1)</a></h3>
<p>訳した. いつものように <a href="http://www.hyuki.com/yukiwiki/wiki.cgi?TenQuestionsWithJoeArmstrong">YukiWiki だのみです.</a> (<a href="http://www.thinkingparallel.com/2007/03/20/ten-questions-with-joe-armstrong-about-parallel-programming-and-erlang/">元記事</a>.) インタビューは前から訳してみたかったんだよね. なりきり度が高くて楽しかった. 満足. </p>
<p><a href="http://www.artima.com/index.jsp">Artima</a> とか
<a href="http://acmqueue.com/">ACMQ</a> にはいつも面白いインタビューがあるんだけれど, 
商業的なサイトだから勝手に訳すのはまずそうで諦めていた. 
今回は個人の blog だけに 許してくれるのを期待. (でも連絡はこれから.)</p>
<p>シリーズの続きも気がむいたらやります.</p>
