---
title: "近況."
date: 2008-01-11
---
<h3>近況.</h3>
<p>とっくに明けてますがおめでとうございます. 
親元には WiiFit がありました. また負けた. 
悔しいので世の中にはニコニコ動画というのがあって...
とまだまだ若いところがあるのを見せようとしたらアカウントがなくて, 
仕方ないので金を払ってプレミアム会員になり, 
猫鍋やらアホな料理を見ていたら年が明けていました. </p>
<h3>最近読んだ本</h3>
<p>前回は <a href="http://dodgson.org/omo/t/?date=20070826">8 月</a>. 全然最近じゃない...</p>
<h4><a data:asin='4798111112' href='http://www.amazon.co.jp/%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E5%85%A5%E9%96%80-%E7%AC%AC2%E7%89%88-%E5%8E%9F%E5%89%87%E3%83%BB%E3%82%B3%E3%83%B3%E3%82%BB%E3%83%97%E3%83%88-Architect%E2%80%99Archive-%E3%82%AF%E3%83%A9%E3%82%B7%E3%83%83%E3%82%AF%E3%83%A2%E3%83%80%E3%83%B3%E3%83%BB%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0/dp/4798111112%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798111112'>オブジェクト志向設計入門 第2版 原則, コンセプト</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%AA%E3%83%96%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E6%8C%87%E5%90%91%E5%85%A5%E9%96%80-%E7%AC%AC2%E7%89%88-%E5%8E%9F%E5%89%87%E3%83%BB%E3%82%B3%E3%83%B3%E3%82%BB%E3%83%97%E3%83%88-Architect%E2%80%99Archive-%E3%82%AF%E3%83%A9%E3%82%B7%E3%83%83%E3%82%AF%E3%83%A2%E3%83%80%E3%83%B3%E3%83%BB%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0/dp/4798111112%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798111112' class='bookcover'><img data:asin='4798111112' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51Y4DWH4N3L.jpg'></span></a></span></p>
<p>古典ということで読んでおく. 厚い. 辛かった. 
古さは感じるが, しっかりとした内容でそこそこ満足. 継承の話以外は. </p>
<p>1/3 くらいは継承の話で, そこは辛い. 
もう多重継承とかやめてよ... 継承付近のつじつまあわせで Effiel の言語仕様は
やたらと面倒になっている気がする. 使うことはないからいいけれど. </p>
<p>基準, 規則, 原則の議論はよく引用されるだけあって力強い. 
DbC はもちろん, そのほか抽象データ型や共変など理論的な話も案外詳しくて勉強になった. </p>
<p>継承への殺意はさておき, どのへんに古さを感じるのか考えてみる. 
おそらく "変更" に対する扱いが軽いからだろう. 
ソフトウェアの仕様は変わるし, 自分の最初の設計はまずい. 
だから現実問題としてソフトウェアは "閉じて" ばかりもいられない. 
Meyer の方法論は, ソフトウェアの成長シナリオとして "拡張"(追加) 
に主眼を置いている気がする. 
でも実際には既存のコードを開いて書き直したり, 部分を差し替えたりしたい. 
(継承など)結合の密になりがちなアプローチだとそういう組替えがきついんだけど, 
拡張が主体だと目立たないんだろうな. </p>
<p>一方で近代的なソフトウェア開発では成長に伴う変化を一級市民として扱う. 
リファクタリングや TDD がそれを象徴している. 
皮肉なことに, 今となっては暫定/抽象クラスを用いるアプローチが 
Meyer の挙げる "単一責任選択の原則" に合致するとはとても思えない. 
原則は変わらず, 解決方法は変化していく. </p>
<h4><a data:asin='0131486829' href='http://www.amazon.co.jp/Optimizing-Linux-Performance-Hands-On-Professional/dp/0131486829%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0131486829'>Optimizing Linux Performance</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Optimizing-Linux-Performance-Hands-On-Professional/dp/0131486829%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0131486829' class='bookcover'><img data:asin='0131486829' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51m-eRvnNkL.jpg'></span></a></span></p>
<p>プロファイラの話を書いたついでになんとなく読む. 
カーネル・パラメータをチューニングする話かと思ったら, 
Linux 上で動くプログララムを様々な計測に基いて高速化するための話だった. 
予想は裏切られたがとても面白かった. </p>
<p>一章は高速化の概要. 
自分のしたことがわかるよう, とにかく全て記録に残せ. 
面倒な計測作業を自動化しろ. オーバーヘッドの低いツールを選べ. 
複数ツールで問題を理解しろ. 他人の経験を(慎重に)頼れ, などガイドラインが並ぶ. 
アルゴリズムが重要, みたいなわかりきった話をしないあたりがわかってる.</p>
<p>2-8 章が各種集計/計測ツールの紹介. 
CPU 負荷をはかるツールだけでなく, メモリ, ディスク, ネットワークの状態を
監視する様々なコマンドを紹介する. 知らないツールも多かった. slabtop なんてあるんだ... 
そのほか名前は知っていても(私が)使いかたを知らないツールもサンプルつきで紹介されており, 
そういう風に使うのかと勉強になった. xxstat 類とか. </p>
<p>9 章は問題分析のためのフローチャート. 遅いアプリがあったとき, 
何を調べて問題を絞りこんでいくかという表がある. 
こんな機械的に高速化できたらかっこいいよなあ. </p>
<p>10, 11, 12 が一番の読みどころ. 
実際のアプリケーション (GIMP, nautilus, prelink) を
高速化したケーススタディを紹介している. 読み物としてめちゃめちゃ面白い. 
スーパーハカーの実況中継というかんじ. 
高速化について自分がいかに素人かを思い知る. </p>
<p>厚さは 350 ページ. 
半分以上はコマンドと出力のダンプなので, 体感は 100 ページくらい. さっくり読める. </p>
<h4><a data:asin='097669400X' href='http://www.amazon.co.jp/Agile-Web-Development-With-Rails/dp/097669400X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D097669400X'>Agile Web Developmen with Rails 2nd edition</a></h4>
<p>初版は読んでいるので, 差分をぱらぱらめくる. migration とか.
色々と便利になっていて驚く. みんな熱心に追いかけるわけだ.</p>
<p>買った半月後に <a data:asin='4274066967' href='http://www.amazon.co.jp/Rails%E3%81%AB%E3%82%88%E3%82%8B%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%ABWeb%E3%82%A2%E3%83%97%E3%83%AA%E3%82%B1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E9%96%8B%E7%99%BA-%E7%AC%AC2%E7%89%88-Dave-Thomas/dp/4274066967%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066967'>日本語版</a> が出でがっくり...</p>
<h4><a data:asin='0596510047' href='http://www.amazon.co.jp/Beautiful-Code-Leading-Programmers-Practice/dp/0596510047%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596510047'>Beautiful Code</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Beautiful-Code-Leading-Programmers-Practice/dp/0596510047%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596510047' class='bookcover'><img data:asin='0596510047' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41KgoUYIbiL.jpg'></span></a></span></p>
<p>"Beautiful Code" というお題で 33 人の著者が思い思いの話を書いたエッセイ集. 
夏ごろに出た本で, 翻訳がでるかなーと思って待っていたけど諦めて読んだ. 
役には立たないが面白かった. 基本的にプログラマによるお気に入りコード自慢. 
こいつはビューティホーだと思うのもあれば, ひどいコードだなアホめと思うものもある. 
そういうツッコミも含めて楽しい. プログラマで良かったなーと思う. 
こればかりはプログラマにしか判らない楽しみだからね. </p>
<p>話題はサーバからゲノム解析, ホーキング博士用の入力デバイスまで, 
言語は C++ から Perl, Lisp, FORTRAN, Matlab まで. 幅広い. 
私は 1/3 くらいわからず読み飛ばした. つかみとまとめを読み, 面白そうなら残りも読むといい. 
割とどうでもいい話もそこそこ混じってるし. 
一方でコードとしての楽しさだけでなく, 
書き手の個性や信条が伝わってくるものもある. 
ときに深く共感し, わかりあった喜びが残る. </p>
<p>個別の紹介は面倒なので割愛. 
<a href="http://www.oreilly.com/catalog/9780596510046/toc.html">目次</a> を参照のこと.</p>
<h4><a data:asin='4845907119' href='http://www.amazon.co.jp/%E6%98%A0%E7%94%BB%E7%9B%A3%E7%9D%A3%E3%83%BB%E3%82%AD%E3%83%A3%E3%83%A1%E3%83%A9%E3%83%9E%E3%83%B3%E3%81%AB%E3%81%AA%E3%82%8B%E3%83%97%E3%83%AD%E3%83%95%E3%82%A7%E3%83%83%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%AB%E6%92%AE%E5%BD%B1%E6%8A%80%E6%B3%95-%E3%83%96%E3%83%A9%E3%82%A4%E3%83%B3%E3%83%BB%E3%83%96%E3%83%A9%E3%82%A6%E3%83%B3/dp/4845907119%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4845907119'>プロフェッショナル撮影技法</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E6%98%A0%E7%94%BB%E7%9B%A3%E7%9D%A3%E3%83%BB%E3%82%AD%E3%83%A3%E3%83%A1%E3%83%A9%E3%83%9E%E3%83%B3%E3%81%AB%E3%81%AA%E3%82%8B%E3%83%97%E3%83%AD%E3%83%95%E3%82%A7%E3%83%83%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%AB%E6%92%AE%E5%BD%B1%E6%8A%80%E6%B3%95-%E3%83%96%E3%83%A9%E3%82%A4%E3%83%B3%E3%83%BB%E3%83%96%E3%83%A9%E3%82%A6%E3%83%B3/dp/4845907119%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4845907119' class='bookcover'><img data:asin='4845907119' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51hf0InVAwL.jpg'></span></a></span></p>
<p>仕事でウォークスルーっぽいアプリケーションのカメラ位置を決める必要があり泥縄的に読む. </p>
<p>あまりわかりやすい本ではない. 
文章の筋立てが弱く, 展開についていけないことが多い. 
ただページ数自体は編集やカメラワークの話題に多く割いており, 
映画の世界にある色々なカメラやその取り方の定石がいくらかわかった. 
普段はあまり気にして見てないから新鮮. 
あとは映画の人々が CG に夢を見た理由がよくわかった. 
映画は物理的な制約がとても多い. 
だから最初のころ, 自由にカメラを操り録り直しもできる CG に夢を見たんだね. </p>
<p>逆にゲームのように CG 前提の世界だと物理的な制約なんてのはないから
カメラは映画とはまったく別の常識で動く. (描画負荷を減らすとか.) 
そんなわけで物理的な映画の話が直接私の役に立つことはなさそうだった. 
イベントなんかで映画的な演出をしたい時は別なんだろうけれど.</p>
<p>後半 1/3 は光画部寄りの話題が多く興味から外れたため読まず. 
<a href="http://www.daionet.gr.jp/~masa/column/2007-10-01.html">CEDEC光画部</a>
に入りたくなったら読みます...</p>
<h4><a data:asin='4798112593' href='http://www.amazon.co.jp/%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%81%AB%E3%82%88%E3%82%8B%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E6%A7%8B%E6%88%90%E7%AE%A1%E7%90%86-IT-Architects%E2%80%99-Archive%E2%80%95%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%81%AE%E8%AA%B2%E9%A1%8C-%E3%82%B9%E3%83%86%E3%83%95%E3%82%A1%E3%83%B3%E3%83%BBP%E3%83%BB%E3%83%90%E3%83%BC%E3%83%81%E3%83%A3%E3%83%83%E3%82%AF/dp/4798112593%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798112593'>パターンによるソフトウェア構成管理</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%81%AB%E3%82%88%E3%82%8B%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E6%A7%8B%E6%88%90%E7%AE%A1%E7%90%86-IT-Architects%E2%80%99-Archive%E2%80%95%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E9%96%8B%E7%99%BA%E3%81%AE%E8%AA%B2%E9%A1%8C-%E3%82%B9%E3%83%86%E3%83%95%E3%82%A1%E3%83%B3%E3%83%BBP%E3%83%BB%E3%83%90%E3%83%BC%E3%83%81%E3%83%A3%E3%83%83%E3%82%AF/dp/4798112593%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798112593' class='bookcover'><img data:asin='4798112593' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41NDRM7JD9L.jpg'></span></a></span></p>
<p>だいたい実践している話だった. だからパターンとしては悪くないと言える. 
...だいたい実践しているといのはややブラフ. 
やらなきゃなーと思いつつやっていないものもある. というかやってない. 
数えてみたら 16 個パターンがあって, 
実施してるのが 5, 実施してるけど不完全なのが 2, 実施してないのが 3, 
プロジェクトの規模のおかげで不要と思われるものが 6, という分配だった. 
勝率 (5+0.5*2)/10 で 6 割か...</p>
<p>パターンの記述はややわかり辛い. 
ちゃんと読めば問題の文脈と解決が書いてあるとわかるけれど, 
ぱらぱらページをめくりながらピックアップできる感じではない. </p>
<p>Mercurial ユーザとしては, 
分散 SCM を使うことでブランチを使うパターンがぐっと楽になる点を強調したい. 
Private Versions, Task Branch あたりは 分散 SCM にとっては標準の動作だからね. </p>
<h4><a data:asin='4274066983' href='http://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%83%AC%E3%83%88%E3%83%AD%E3%82%B9%E3%83%9A%E3%82%AF%E3%83%86%E3%82%A3%E3%83%96%E3%82%BA-%E5%BC%B7%E3%81%84%E3%83%81%E3%83%BC%E3%83%A0%E3%82%92%E8%82%B2%E3%81%A6%E3%82%8B%E3%80%8C%E3%81%B5%E3%82%8A%E3%81%8B%E3%81%88%E3%82%8A%E3%80%8D%E3%81%AE%E6%89%8B%E5%BC%95%E3%81%8D-Esther-Derby/dp/4274066983%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066983'>アジャイル レトロスペクティブズ</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%83%AC%E3%83%88%E3%83%AD%E3%82%B9%E3%83%9A%E3%82%AF%E3%83%86%E3%82%A3%E3%83%96%E3%82%BA-%E5%BC%B7%E3%81%84%E3%83%81%E3%83%BC%E3%83%A0%E3%82%92%E8%82%B2%E3%81%A6%E3%82%8B%E3%80%8C%E3%81%B5%E3%82%8A%E3%81%8B%E3%81%88%E3%82%8A%E3%80%8D%E3%81%AE%E6%89%8B%E5%BC%95%E3%81%8D-Esther-Derby/dp/4274066983%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066983' class='bookcover'><img data:asin='4274066983' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51c-0ixFQUL.jpg'></span></a></span></p>
<p>"ふりかえり" の方法論. 
定量的な観測や問題解決よりも
チーム内の不和や感情的なしこりを取り除くことに注力している. それがなんというか, 興味深い. </p>
<p>そういえば少し前にプロジェクトのふりかえり 
(社内ではポストモーテムと呼ぶ.) があった. 
初体験. 不満や問題点を書き出し, 議論するのはなかなか面白かった. 
ただそれを具体的な改善に結びつけるのは難しいとも感じた. 
そのポストモーテムも問題点のリストや改善アクションの候補を出すところまでは進めたけれど, 
実行の割り振りや追跡が出来ないまま放置されている. 
言いたいことを言って憂さ晴らしができると自分の中の不満レベルが下がって
面倒を後回しにしてしまうのかもしれない. 
割り当てを決め, 次フェーズのタスクに紛れこませることがきればいいんだけれどなあ. 
相談してみよう...</p>
<p>感情的な面では, 
私は不満を持った瞬間にブチブチ文句を言ってしまうので
口に出せずに溜めるものは多くない. 
どちらかというと, 
感情的になってしまったり感謝を表明しそこねたりして
溜まっていく後ろめたさの方が多い. 
だから "ふりかえり" という形式を借りて, 
ごめん, ありがとうと言えることの方が嬉しい. </p>
<p>話がそれた. </p>
<p>この本で紹介されている方法はけっこうヘビーウェイトなので, 
"ふりかえり" 入門としてはオブジェクト倶楽部の <a href="http://www.objectclub.jp/community/pf/">プロジェクトファシリテーション実践編：ふりかえりガイド</a> の方がコンパクトで良いとおもう. </p>
<h4><a data:asin='4798110817' href='http://www.amazon.co.jp/%E5%AE%9F%E5%8B%99%E3%81%A7%E5%BD%B9%E7%AB%8B%E3%81%A4-%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%83%95%E3%82%A1%E3%82%B7%E3%83%AA%E3%83%86%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3-PM-magazine-%E4%B8%AD%E8%A5%BF/dp/4798110817%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798110817'>実務で役立つプロジェクトファシリテーション</a></h4>
<p>こんなのばっかり読んでるな. 
会社でやったポストモーテムの予習用. すげー付け焼刃ですが...</p>
<p>ミーティングにはシナリオ(アジェンダより細かい時間割)を作って望むというのと, 
ホワイトボード(のかわりに同僚の趣味で模造紙)を区切って
議論のフレームを見えやすくするというのを試した. </p>
<p>いまパラパラとページをめくるとかなり内容を忘れているなあ. 
もともと人間関係や感情に興味が薄いので覚えが悪い. 会社に置いといた方がいいかも. </p>
<h4><a data:asin='4872686721' href='http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%83%BB%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A3%E3%83%BC%E3%81%AE%E4%BA%BA%E9%96%93%E8%A1%93-Steven-Flannes-Ginger-Levin/dp/4872686721%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4872686721'>プロジェクト・マネジャーの人間術</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%83%BB%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A3%E3%83%BC%E3%81%AE%E4%BA%BA%E9%96%93%E8%A1%93-Steven-Flannes-Ginger-Levin/dp/4872686721%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4872686721' class='bookcover'><img data:asin='4872686721' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51U5T0P%2Bu5L.jpg'></span></a></span></p>
<p>また似たようなやつ. 
私は別にマネジャーでもなくマネジャーになる予定もない. 
マネジャーな人に迷惑をかけないポイントを知りたくて読む. </p>
<p>この本はとてもうまく整理されており, 
マネジャーが対処すべき人間がらみの問題についてよく理解できた. 
私だったら面倒がって放置したりなす術もなく振り回される問題を, 
マネジャーな人々はなんとか片付けているのだなーと溜息. </p>
<p>動機付けに関する章の末尾にある "討議用課題" の示す困難は象徴的. 
ちょっと引用してみる: </p>
<pre>アンジェリカは, ソフトウェア開発プロジェクトのプロジェクト・マネージャです.
...(略)...社内では人員削減が実施されるとの噂も流れています...(略)...
メンバーの一人は内向的なベテラン社員で14ヶ月後には退職します.
また, 他国で学位を取得して帰国したばかりの新入社員もいます.
また, 二人の技術契約社員は期限未定でプロジェクトに出向してきています.
さらに, 自分がプロジェクト・マネジャーに選ばれるはずだったと不満げな通研技術者がいます.
あとの二人は, 若いエリート技術者で革新的な技術を持っていますが, 仕事のツメは
甘いとみられています. ...(略)...

1. あなただったら個別にどのような動機付けを行いますか
2. まずは手始めに何を行えばよいでしょうか.
3. 効果測定はどのように行いますか。</pre>
<p>いやはや. 手始めに逃げるね. 自分だったら...</p>
<h4><a data:asin='1930699751' href='http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%E7%9F%A5%E8%AD%98%E4%BD%93%E7%B3%BB%E3%82%AC%E3%82%A4%E3%83%89%E7%AC%AC3%E7%89%88-Guide-Project-Management-Knowledge/dp/1930699751%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1930699751'>プロジェクトマネジメント知識体系ガイド第3版</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%E7%9F%A5%E8%AD%98%E4%BD%93%E7%B3%BB%E3%82%AC%E3%82%A4%E3%83%89%E7%AC%AC3%E7%89%88-Guide-Project-Management-Knowledge/dp/1930699751%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1930699751' class='bookcover'><img data:asin='1930699751' class='asin image-right' src='http://ecx.images-amazon.com/images/I/4124YY7WPWL.jpg'></span></a></span></p>
<p>プロジェクト管理の公式教科書. PMBOK ってやつですね. 
日頃の暮しで特段役に立つ感じはないけれど, 語彙の獲得にはなる. 
こういう基盤の上で stakeholder が議論を勧められたら話は楽だろうね. 
一方で形式だけ整っていて実の無い運用をしているプロジェクトもある. 
それならぐだぐだの方がマシかもしれず, 難しい. </p>
<p>教科書の冒頭にはこれをフルセットで使うことはまずないと書いてある. 
せっかくなら色々なバリエーションを見てみたい. 
もっともそれは他の教科書の仕事とも言える. 
McConnell の
<a data:asin='4891004762' href='http://www.amazon.co.jp/%E6%96%B0%E8%A8%B3-%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%82%B5%E3%83%90%E3%82%A4%E3%83%90%E3%83%AB%E3%82%AC%E3%82%A4%E3%83%89-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96-%E3%83%9E%E3%82%B3%E3%83%8D%E3%83%AB/dp/4891004762%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891004762'>新約 ソフトウェアプロジェクトサバイバルガイド</a> も 
PMBOK に合わせて訳されなおしている. 
このように開発方法論の教科書が PMBOK の語彙に合わせていくのは名案な気がする. 
比べやすくなる. </p>
<h4><a data:asin='4478820090' href='http://www.amazon.co.jp/%E5%AE%8C%E5%85%A8%E7%8B%AC%E7%BF%92-%E7%B5%B1%E8%A8%88%E5%AD%A6%E5%85%A5%E9%96%80-%E5%B0%8F%E5%B3%B6-%E5%AF%9B%E4%B9%8B/dp/4478820090%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4478820090'>完全独習統計学入門</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%AE%8C%E5%85%A8%E7%8B%AC%E7%BF%92-%E7%B5%B1%E8%A8%88%E5%AD%A6%E5%85%A5%E9%96%80-%E5%B0%8F%E5%B3%B6-%E5%AF%9B%E4%B9%8B/dp/4478820090%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4478820090' class='bookcover'><img data:asin='4478820090' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41OfaN1i6qL.jpg'></span></a></span></p>
<p>著者の小島寛之は他の書籍 ( <a data:asin='4140019913' href='http://www.amazon.co.jp/%E7%A2%BA%E7%8E%87%E7%9A%84%E7%99%BA%E6%83%B3%E6%B3%95%7E%E6%95%B0%E5%AD%A6%E3%82%92%E6%97%A5%E5%B8%B8%E3%81%AB%E6%B4%BB%E3%81%8B%E3%81%99-%E5%B0%8F%E5%B3%B6-%E5%AF%9B%E4%B9%8B/dp/4140019913%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4140019913'>確率的発想法</a> ) が結構面白かった.
なので読んでみた. (数学苦手コンプレクスを突かれると弱いというのもある.)</p>
<p>この本も内容はかなり易しいが, ちょろまかして誤魔化そうとするところはない. 
著者のこういう姿勢が好き. このヌルさで学部レベルの統計を網羅してくれたら
全十巻でも読むんだけどなー. </p>
<p>そしてページをめくり, 内容を半分以上覚えてない自分に驚く. 確実に脳が劣化している...</p>
<h4><a data:asin='4798111228' href='http://www.amazon.co.jp/%E3%83%AF%E3%82%A4%E3%83%B3%E3%83%90%E3%83%BC%E3%82%B0%E3%81%AE%E6%96%87%E7%AB%A0%E8%AA%AD%E6%9C%AC-Gerald-M-Weinberg/dp/4798111228%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798111228'>ワインバーグの文章教室</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%AF%E3%82%A4%E3%83%B3%E3%83%90%E3%83%BC%E3%82%B0%E3%81%AE%E6%96%87%E7%AB%A0%E8%AA%AD%E6%9C%AC-Gerald-M-Weinberg/dp/4798111228%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798111228' class='bookcover'><img data:asin='4798111228' class='asin image-right' src='http://ecx.images-amazon.com/images/I/417FCcqsp2L.jpg'></span></a></span></p>
<p>どうやって書くねたを集めるか, どんなねたを集めるか. 
集めたねたをどう整理して示すかに焦点を置いている. 
ねたを "石" と呼び, <a href="http://images.google.com/images?q=fieldstone">石の壁</a>
を積みあげるメタファーで話を進める. </p>
<p>私はねたを集める必要性に追われていないから, 作家は大変だなーと思いながら読んだ. 
ただ文章にかぎらず面白いねたを集めておくのは
その人の interestingness という観点からは意味があることかもしれない. </p>
<p>後半は少し文章構成の話が入っている. このへんはよくある話ではあるが面白い. 
またワークショップの題材として使うことを意図した話題が多い. 
一人で読んでもつまらないけれど, 文章を書きたい人が集まって
ワークショップをするのは面白そう. ワインバーグ勉強会みたいなの. やるなら行く. </p>
<h4>そのほか</h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%83%95%E3%81%AF%E3%83%9E%E3%82%BC%E3%83%A9%E3%83%B3%E3%81%A8%E6%97%85%E3%81%97%E3%81%9F-%E3%82%B9%E3%83%81%E3%83%A5%E3%82%A2%E3%83%BC%E3%83%88%E3%83%BB%E3%83%80%E3%82%A4%E3%83%99%E3%83%83%E3%82%AF/dp/4560027412%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4560027412' class='bookcover'><img data:asin='4560027412' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41XZPR6QFGL.jpg'></span></a></span></p>
<p>"<a data:asin='4796661557' href='http://www.amazon.co.jp/%E3%82%B5%E3%83%96%E3%83%97%E3%83%A9%E3%82%A4%E3%83%A0%E5%95%8F%E9%A1%8C%E3%81%A8%E3%81%AF%E4%BD%95%E3%81%8B-%E3%82%A2%E3%83%A1%E3%83%AA%E3%82%AB%E5%B8%9D%E5%9B%BD%E3%81%AE%E7%B5%82%E7%84%89-%E5%AE%9D%E5%B3%B6%E7%A4%BE%E6%96%B0%E6%9B%B8-254-%E6%98%A5%E5%B1%B1/dp/4796661557%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4796661557'>サブプライム問題とは何か</a>" は <a href="http://lucille.atso-net.jp/blog/">lucille の人</a> 
が勧めていたのを見て. 税制の歪みは昔からありそうな話だけれど, 
証券化されて危険が隠されてしまうというのは現代的だ. </p>
<p>もちおファンとして "<a data:asin='4480063870' href='http://www.amazon.co.jp/%E3%82%A6%E3%82%A7%E3%83%96%E6%99%82%E4%BB%A3%E3%82%92%E3%82%86%E3%81%8F-%E2%94%80%E3%81%84%E3%81%8B%E3%81%AB%E5%83%8D%E3%81%8D%E3%80%81%E3%81%84%E3%81%8B%E3%81%AB%E5%AD%A6%E3%81%B6%E3%81%8B-%E3%81%A1%E3%81%8F%E3%81%BE%E6%96%B0%E6%9B%B8-%E6%A2%85%E7%94%B0-%E6%9C%9B%E5%A4%AB/dp/4480063870%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4480063870'>ウェブ時代をゆく</a>". 
私のように薄情なひきこもりには厳しい時代になったなと, 
けものみちで野垂れ死ぬ予感に怯えた. 
いや, いろんな人に会ったりもしたんだけれど, 
対話能力って使わないと指数的に劣化してくんだよね...</p>
<p>"<a data:asin='4492761640' href='http://www.amazon.co.jp/%E8%8B%A5%E8%80%85%E3%81%AF%E3%81%AA%E3%81%9C%E3%80%8C%E4%BC%9A%E7%A4%BE%E9%81%B8%E3%81%B3%E3%80%8D%E3%81%AB%E5%A4%B1%E6%95%97%E3%81%99%E3%82%8B%E3%81%AE%E3%81%8B-%E6%B8%A1%E9%82%89-%E6%AD%A3%E8%A3%95/dp/4492761640%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4492761640'>若者はなぜ「会社選び」に失敗するのか</a>" は
インタビュー集とあったのでエスノグラフィーを期待したけれど, だいぶ違った. 
各種大企業を色々なカラーの軸にプロットし, 
社風のほんとのところというのを炙りだそうとしている. 
野次馬としては面白い. 信憑性はどうなんだろう. 
私の知り合いのいる会社もいくつかけなされていたけれど, 
彼らは楽しそうにやってるからなあ. もっとも数千, 数万人の集団がそう一様なはずはないか. </p>
<p>イアン・スチュアートなので著者買いした 
"<a data:asin='4822283097' href='http://www.amazon.co.jp/%E8%8B%A5%E3%81%8D%E6%95%B0%E5%AD%A6%E8%80%85%E3%81%B8%E3%81%AE%E6%89%8B%E7%B4%99-%E3%82%A4%E3%82%A2%E3%83%B3%E3%83%BB%E3%82%B9%E3%83%81%E3%83%A5%E3%82%A2%E3%83%BC%E3%83%88/dp/4822283097%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822283097'>若き数学者への手紙</a>". 
著者が仮想の姪である "メグ" に送った手紙という設定で書かれた数学(者)エッセイ. 
高校生のメグに送る手紙からはじまり, 章を追うごとにキャリアを勧めていく. 
イアン・スチュアートの描く数学者コミュニティがどこか庭園的な平穏を含んでいるのは, 
イギリス人だからかなあ. </p>
<p>梨木香歩 "<a data:asin='4104299049' href='http://www.amazon.co.jp/%E3%81%90%E3%82%8B%E3%82%8A%E3%81%AE%E3%81%93%E3%81%A8-%E6%A2%A8%E6%9C%A8-%E9%A6%99%E6%AD%A9/dp/4104299049%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4104299049'>ぐるりのこと</a>" も著者買い. 
"<a data:asin='4101253366' href='http://www.amazon.co.jp/%E6%98%A5%E3%81%AB%E3%81%AA%E3%81%A3%E3%81%9F%E3%82%89%E8%8B%BA%E3%82%92%E6%91%98%E3%81%BF%E3%81%AB-%E6%96%B0%E6%BD%AE%E6%96%87%E5%BA%AB-%E6%A2%A8%E6%9C%A8-%E9%A6%99%E6%AD%A9/dp/4101253366%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4101253366'>春になったら苺を摘みに</a>" にあった
幻想的な語りはいくらか影を潜め, 
日常におちる不穏な翳とどう折り合いをつけるか, そんな話が多くなっている. 
雑誌の連載だったからかもしれない. </p>
<p>"<a data:asin='4560027412' href='http://www.amazon.co.jp/%E5%83%95%E3%81%AF%E3%83%9E%E3%82%BC%E3%83%A9%E3%83%B3%E3%81%A8%E6%97%85%E3%81%97%E3%81%9F-%E3%82%B9%E3%83%81%E3%83%A5%E3%82%A2%E3%83%BC%E3%83%88%E3%83%BB%E3%83%80%E3%82%A4%E3%83%99%E3%83%83%E3%82%AF/dp/4560027412%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4560027412'>僕はマゼランと旅した</a>" </p>
<blockquote><p>けれど僕たちはしなかった. 月の光を浴びながらも, 君のアパートの裏庭で燐光性のカンテラみたいに光るホタルたちに照らされながらも, 僕らには見えない, ましてや解読しようのない星座の下でも, もはや僕たちから盗まれてしまった夜の真の闇にとって代わった暗い薄光のなかでも, 僕たちはしなかった. 街がじわじわと朽ちていくにつれてビルの谷が僕らの背後で次第にのぼってくるさなかにも, 冷戦が荒れ狂う夏の暑さのさなかにも, 僕たちはしなかった. 若さゆえの自由にもかかわらず, 初恋ゆえの気ままさにもかかわらず, 運命のせいで, 業のせいで, 運の悪さのせいで --- 何だって同じことじゃないか? --- 僕たちは, しない, ということをひとつの驚異に仕立て上げたのだった. そしてなお, 僕たちはしなかった. 僕たちはしなかった. ただの一度もしなかった. </p>
</blockquote>
