---
title: "The Flawed Theory Behind Unit Testing"
date: 2008-06-14
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?FlawedTheoryBehindUnitTesting">The Flawed Theory Behind Unit Testing</a></h3>
<p>訳しました, みんな大好き <a href="http://michaelfeathers.typepad.com/">Michael Feathers</a>.
いつものように <a href="http://www.hyuki.com/yukiwiki/wiki.cgi?FlawedTheoryBehindUnitTesting">YukiWiki</a> を使わせてもらっております.</p>
<p>個人的には色々としっくりくる話だった.
QA チームによるテストがあっても開発者の書いた単体テストがないときの 
confidence の低さ, 不安, 不快, 視界不良をうまく説明してくれている. 
人間というのは...というと強気すぎるけれど, 
少くとも自分は by nature でぼんやりした生き物だと常日頃から感じているので, 
何も仕掛けがなければぼんやりしたコードになるよね. それは.</p>
