---
title: "Opera Dragonfly Architecture"
date: 2008-05-07
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?OperaDragonflyArchitecture">Opera Dragonfly Architecture</a></h3>
<p>朝おきてウェブをみていたら 
<a href="http://jp.techcrunch.com/archives/20080506opera-releases-firebug-alternative-dragonfly/">ニュース</a>
があって, クラサバとはやるなーなと思い勢い余って訳してみた. <a href="http://www.hyuki.com/yukiwiki/wiki.cgi?OperaDragonflyArchitecture">Opera Draongly のアーキテクチャ</a>
(<a href="http://dev.opera.com/articles/view/opera-dragonfly-architecture/">元ねた</a>) 
けど, 遅刻しそうなのでみなおす暇がありません. すんません. 誰か直して...</p>
