---
title: "Flickr でエロ画像を探すには"
date: 2008-01-17
---
<h3>Flickr でエロ画像を探すには</h3>
<p>スパム記事です.</p>
<p><a href="http://favidle.net/">favidle.net</a> の評判をウェブを眺めていたら, 
flickr でエロ画像をみつけられず無念がってる人がいた. でも探し方がいただけない. 
<a href="http://www.flickr.com/help/filters/">safe search</a> を切らないと. 
ちょっとぐぐった範囲では案外知られていないようなので紹介. 
私も API のマニュアルを読むまで知らなかったしね...</p>
<p>方法:</p>
<ul>
<li>アカウントを作ってサインイン</li>
<li><a href="http://www.flickr.com/account/prefs/safesearch/">設定</a> で safe search をオフにする.</li>
<li>"hot girl nude", "woman porn" などエロ英単語で検索 -&gt; 所望の画像が表示される</li>
<li>一通り鼻の下を伸ばしたら safe search を有効に戻す (重要)</li>
</ul>
<p>なおアイドル写真みたいのは safe search を切らなくても表示される.
(cf. "<a href="http://yusukebe.com/archives/08/01/13/191331.html">Flickr には某氏厳選47人のグラビアアイドルにおいて画像が8407枚あり、そのうち2670枚は小倉優子</a>") 
個人的にはこのレベルで十分 <a href="http://en.wikipedia.org/wiki/NSFW">NSFW</a> 
だと思うけど, flickr の safe は safe for workers ではなく
safe for children なので仕方なし.
それにアイドル画像のような legally-unsafe な画像はその旨の自己申告を期待できないため, 
flickr に管理を求めても酷な気はする. </p>
<p>上の検索でみつかる自称エロ画像はなんというか, あんまし美人じゃない. エロより美人をお求めの方は, 
ちょっぴり速度の戻ってきた <a href="http://favidle.net/">favidle.net</a> をどうぞよろしく:D</p>
