---
title: "日頃から相手に「伝わる話し方」を意識しよう"
date: 2008-03-14
---
<h3><a href="http://itpro.nikkeibp.co.jp/article/COLUMN/20080306/295583/?P=2&amp;ST=bizskill">日頃から相手に「伝わる話し方」を意識しよう</a></h3>
<pre>（1）一文を短く簡潔に述べる
（2）話す前に一度考えを整理する
（3）相手のレベルに合わせた用語を使う
（4）適度に間を取り，聞き手の反応を確認する</pre>
<h3><a href="http://research.yahoo.com/workshops/spot/rs/">Optimizing Nearest-Neighbor Methods, Dennis DeCoste</a></h3>
<p>多次元の空間データ構造の話。あとで単語コピる。</p>
<p>近傍キャッシュは前計算でバッチしなくても index で頑張ればよくね？ と思っていたが, 
まさにそういう話っぽい. でも思ったより大変そう.</p>
