---
title: "Feels Socially Too Isolated"
date: 2008-03-07
---
<h3>Feels Socially Too Isolated</h3>
<p>ためしに twitter と mixi をやめてみたら
えらく isolated な気分になってしまった. 
なのでうだうだ書く場所を確保. </p>
<p>今時の blogware を試そうとするも
Wiki 記法に依存しすぎていて挫折. </p>
<p>twitter は字数が短すぎる. mixi は愚痴を書きすぎる. 
. </p>
<h3>Too Complaining To Keep In Touch</h3>
<p>愚痴がよくないってのはわかっている. 
mixi を書いていて失敗したと思ったのは, 
愚痴が多すぎて, 新しい connection をためらってしまったことだった. </p>
<p>愚痴が多いのもよくないが, 人格の裏表があるのはもっとよくないと
個人的には思う. consistency に価値を置いているから. 
まだ web に書いた方がよかろう. </p>
<p>読者が多いと困るのは, 
僕の愚痴を読んで会社がダメだと思う人の数が多くなっちゃうことだ. 
そりゃサンプル数すくなすぎだろという. 
ひとり不満をもつ社員がいる, イコール駄目な会社, という短絡は恐しい. 
仕事に不満があるのは会社のせいとは限らんだろ. 
ほっといてほしい. </p>
<p>が, 愚痴は書きたいの? というと, まあそう. 
mixi の嫌なところは, 
他人に反応を求めてしまうようなアーキテクチャになってるところ. 
他人に feed されてる事実がスルーしずらさを醸している, 気がする. 
考えすぎかもしらんけど. </p>
<p>僕が愚痴や近況に期待している反応は, たぶん, 
まあそういうこともあるよね, とか, そりゃ困ったねハハハ, とか, 
困った奴だねおまえも, とか, そのくらいの距離であって, 
親身の相談とかはそんなに求めてないことが多い. </p>
<p>たぶん愚痴ってのは書いた時点で 5 割くらいは目的を果たしていて, 
知り合いにそれが伝わったと感じた時点で更に 3 割くらいプラス. 
で, 親身なコメントを貰うとプラス 4 割, しまった 10 割越えちゃったよ, と. </p>
<p>そういう loosely coupled な関係というのは 
twitter や mixi みたいな hyper-connected なのとは違う気がする. 
このへんは世代格差かもしらん.</p>
<p>web に愚痴を書くことが将来の人間関係や雇用を損ねることもあるだろう. 
けど, それは自分がそういう人間だってことで, ほっといてほしい. 
人格の未成熟がもたらす様々な flaw はどうせ日々実感している.</p>
<h3>Exporting...</h3>
<p>社内に書いてたメモのうち機密でないものを移植...</p>
<h3>会社にも</h3>
<p>ゆびピアノが。しかも二台・・・。</p>
<h3><a href="http://spectrum.ieee.org/print/6019">IEEE Spectrum: People Who Read This Article Also Read...</a></h3>
<p>via reddit. </p>
<ul>
<li>Google News: MinHash, PLSI 二種類の clustering, covisitation は recommendation</li>
<li>なぜ contents を見るか？ -&gt; 新記事の cold startup を解決するため.</li>
</ul>
<ul>
<li>Greg Linden は以前も Netflix Prize について "コンテンツの中身を見るべき" と言ってた.<ul>
<li><a href="http://glinden.blogspot.com/2007/06/latest-on-netflix-prize.html">http://glinden.blogspot.com/2007/06/latest-on-netflix-prize.html</a></li>
</ul></li>
</ul>
<h3><a href="http://blog.recommenders06.com/wp-content/uploads/2006/09/bennett.pdf">The Cinematch System: Operation, Scale Coverage, Accuracy Impact (PDF)</a></h3>
<ul>
<li>Netflix の現状 (2006), recomendation engine である cinematch の紹介</li>
<li>5M active customers</li>
<li>1.4B ratings, 2M ratings per day, 1B prediction per day</li>
<li>2days to retrain</li>
<li>cold startup には主導で登録したデータを使う</li>
</ul>
<h3>Strict Or Relaxed</h3>
<p>僕はバグを嫌って割とキチっと締めたコードを書くけれど, 締めてあると変更が大変だ.
世間には変更しやすくするイディオムってのがいくつかった気がするが, 
たぶん古い悪癖がまざってあまり良いものではなかろう. 
あまりウゲってかんじにもならず, かつ型付けとかがキツくならないデザイン
てのがあるはずだ. アプリケーションに依存する部分が多いにしても, 
パターンとしていくつか定番がありそうなもんだけどなー. </p>
<h3>Tired</h3>
<p>どうもやる気でねーなーと思っていたが, 
これは疲れてるんだと気がついた. 
そういえばハードワーク・モードって週末になるとダレるんだったなあ. 
懐しい(思いだしたくない)感覚. </p>
<h3>Erlang での Actor の寿命管理</h3>
<p>そういえば link というのがあるんだった. 
Revokable みたいな poll based な方法よりはこっちが筋なのかもねえ...
一度ひととおり作ってみないとな. </p>
