---
title: "Design/code reviews in a startup"
date: 2008-03-21
---
<h3><a href="http://news.ycombinator.com/item?id=141679">Design/code reviews in a startup</a></h3>
<p>レビューか. 最近はあんまりやりたくないあ. 
目にしたら直して欲しくなるけど, キリがない... 
アレなのは仕方ないから目につかないところでやってほしい. 
ほんとろくでなしになったな我ながら. 情けない. </p>
<h3>2-month</h3>
<p>ふと考えてみると, 仕事の失敗で 2 ヶ月近く浪費してると気付いた. 
無能と言われても仕方ない. ペナルティにペナルティを重ね, 日々の苦痛は増していく. 
もう自力で挽回できることはないだろう.
失敗を冒しすぎた. </p>
<p>なんてこんなことになっちゃったんだろう. 
嫌なことから目を背けようとすると, 
目を背けているうちに嫌なことが育ってしまうというのはある. 
原因の所在がどこであれ, 自分の身は自分で守るしかないのに. </p>
<p>自分がまったく成長していないことに思い至らざるをえない.</p>
<p>問題の答えがわからないのではなくて, 
答えがグロテスクだから直視できないだけだったのだな. 
そういう事は多いが, しばらくなかったから忘れていた.</p>
<p>実現できる最良の答えがグロテスクなものしかない状況は辛いが, 
中年が給料もらおうと思ったら汚物処理するしかないよね. とも思う.
楽しい人生とは言えないものの, なんだかんだで衣食住は完備なわけだから
贅沢は言えないのかもしらん.</p>
<h3><a href="http://www.cs.cmu.edu/~elaw/papers/pca.pdf">A Tutorial on Principal Component Analysis</a></h3>
<p>読み終わった. </p>
<p>PCA を計算するには, 行列の covariant の eigenvectors を求めればよい. 
そのために SVD を使える. </p>
<p>PCA の他に ICA というのがあるらしい. </p>
<p>というわけでまた queue が一つ減った! </p>
<p>しかし eigenvector 視点の PCA の導出はマスターしてもいいかもしらんなー.</p>
