---
title: "Slope One and Netflix"
date: 2008-03-12
---
<h3>Slope One and Netflix</h3>
<p>0.95 とかそのへんらしい. つまり cinematch と同じくらい. 
まあ, いいんじゃね？ という気はするが...
Slope One は速いとか scalable を売りにしてるけど, 
Korbell とかはどうなんだろねー...</p>
<ul>
<li><a href="http://www.netflixprize.com/community/viewtopic.php?pid=4297">http://www.netflixprize.com/community/viewtopic.php?pid=4297</a></li>
</ul>
<h3>Vogoo</h3>
<p>日本語でも記事あり. Slope One で検索するとこんくらいしかないね.</p>
<ul>
<li><a href="http://blog.y-110.net/log/eid130.html">http://blog.y-110.net/log/eid130.html</a></li>
<li><a href="http://labs.unoh.net/2006/04/_vogoo.html">http://labs.unoh.net/2006/04/_vogoo.html</a></li>
</ul>
<h3><a href="http://www.serpentine.com/blog/2006/12/12/collaborative-filtering-made-easy/">Collaborative filtering made easy</a></h3>
<p>Mercurial の人じゃん...わかりやすい予習になった.</p>
<h3>Netflix clip</h3>
<ul>
<li><a href="http://www.timelydevelopment.com/Demos/NetflixPrize.htm">http://www.timelydevelopment.com/Demos/NetflixPrize.htm</a></li>
</ul>
<p>初歩的な項目へのリンクが good.</p>
<h3><a href="http://www.daniel-lemire.com/fr/abstracts/SDM2005.html">Slope-One</a></h3>
<p>読み中. 論文は式をノートに書き写しながら読んだ方がいいのではないか, 
と思いたち, ためしてる. 写経だね. しばらくやってみる. </p>
