---
title: "Become Evil"
date: 2008-03-08
published: false
---
<h3>Become Evil</h3>
<p>最近の自分の精神状態が悪いのはわかっていたが, 性格も悪くなった. 
いろいろ酷いことを口にしている. </p>
<p>精神状態と, 性格と, コードの質には正の相関を感じている. 
因果関係は自明でない. </p>
<h3>Meditation</h3>
<p>必要なのは瞑想かもしれない. もう一年くらいしていない. </p>
<p>あれは生理的なレベルで色々効き目を感じていたけれど, 
今はもっと深いレベルで求めている気がする. 
人生を as is で受け入れるような姿勢があるじゃん. あれを求めてる. 
たびたび自分を襲う, この辛さをなんとかしたい. </p>
<h3>Over</h3>
<p>まともに生きている人の話を聞くのが辛い. 
自分の人生に起きた非可逆な変化, 後戻りのできない下り坂を意識せざるをえない. 
人生の分岐が起こる前の知り合いの発言を目にするのは, そんな辛さがある. </p>
<p>どうにもできないが, 望んではいない事というのはある. 折り合いをつける必要がある. 
そのために, 目に付かないところに離れる, という手をとる. 
本当は, 側にいるのに耐える方が社会的な観点から望ましいのは知ってる. </p>
<p>でもそれができたら, こんなろくでもないことになっていない.</p>
<p>何も考えたくない.</p>
<h3>Tired</h3>
<p>だめだ。眠い以前にほんと疲れてる。
寝よう。</p>
<h3>Holiday Coding</h3>
<p>ghn 氏と H 田家にノート PC 持ってお邪魔してコード書いてた. 
人がいると適度に息が抜けるので作業がはかどった, 気がする. </p>
<p>中身は C# でお仕事用のツール書き. 実際に C# で何か作るのは始めてだ. 
VC#2008 を入れたから WPF も使えるのだけれど, 
あまりに勝手がわからず giveup し, forms を使うことに. 
文法はよくわかってないけど IDE がよろしくしてくれる. 
でも設計はどうしても Java っぽくなってしまうな. 
property とか event とか使ってみるも, いまいち板に付かないかんじ. </p>
<p>休みの日はどうせコード書いてるので, こういうのっていいな. 
いついっても人がいてコード書いてる家とか部屋みたいのがあればいいのにね. </p>
<h3>Wannabe</h3>
<p>我ながら驚くほどワナビーだよな. 
そのせいで何も身についてない. この歳で. 
何もコミットできてない. 情けない. </p>
<h3>Current TODO</h3>
<ul>
<li>読みかけを読み終える<ul>
<li>Programming Erlang</li>
<li>Collective Intelligence</li>
</ul></li>
<li>お仕事的な趣味<ul>
<li>C++ で actor 書く</li>
<li>C++ で書いた actor に squirrel つなぐ</li>
<li>Online Game Development 読み終える</li>
</ul></li>
<li>趣味<ul>
<li>Scala Actor code 読む</li>
<li>Patan 修正して回しなおす</li>
<li>MySQL Internals 読む</li>
<li>CF まわり基本的な文献読む</li>
<li>Simen 構想始める, のはまだムリかな..</li>
</ul></li>
</ul>
