---
title: "Wash Hair"
date: 2008-03-18
---
<h3>Wash Hair</h3>
<p>痒みに耐え切れず洗髪. すげーすっきりした... 
ストレスの一因はここにもあったなあ. 洗わざるもの伸ばすべからず.</p>
<h3>清原なつの</h3>
<pre>うそつきで策略家で恋敵のおかま
ぶざまで悲しくて懐しくていとしい
もう帰らない日々</pre>
<h3>Unplugged</h3>
<p>頭をぶつけてから完全に緊張の糸が切れてしまったなあ. 
例年は風邪で切れるけど, 今年は怪我か... 
まあ, 翻訳だけはなんとか進めつつ仕事もだましだましで
グータラすごそう. こればかりはなんともならん. 
また夏になれば元気も出るだろう. </p>
