---
title: "favidle.net : a photo collection for rest of us"
date: 2008-01-14
---
<h3><a href="http://favidle.net/">favidle.net</a> : a photo collection for rest of us</h3>
<p><img src='/bn/images/20080114_0.png' class='image-right'></p>
<p><a href="http://favidle.net/">favidle.net</a> というサイトをつくりました. 
<a href="http://flickr.com/">Flickr</a> で公開されている写真から
美人を探すアプリケーションです. 
表示された写真に対して &lt;好みだ&gt;, &lt;美人じゃない(そもそも女の子じゃない)&gt;, &lt;他の人なら好みかも&gt; という選択肢に答え続けていきます. (要するに人力で探します.) </p>
<p>探しだした美人は <a href="http://favidle.net/album/omo">自分のアルバムページ</a> で眺めたり, Flickr のアカウントがあれば favorite として書き戻して眺めたりできます. 
<a href="http://favidle.net/cover">カバーページ</a> には他のユーザの集めた写真が一覧され, 
そこから自分好みの女の子を探すこともできます. 
(まあ他のユーザといっても今はほとんど私か友人数名ですが...)</p>
<p>Flickr は写真好きのコミュニティなので, 写真としての面白さに関心がいきがちです. 
写真の面白さより美人に興味がある私は, そういう写真をがんばって集めることにしました. </p>
<p>興味のある方はおためしください. </p>
<h4>動機</h4>
<p>なぜこんな役に立たないアプリをつくったかというと, 
デプロイというのをやってみたかったから. 
私はこれまでウェブアプリケーションを公開したことがない. 
そのせいでちょっと何か作りたいと思っても腰が重く, 残念な気分になることがよくあった. 
だから本当はどのくらい面倒なのか, 
自分で書いた RoR (じゃなくてもいいけど) アプリケーションのデプロイを
一度やってみることにした. </p>
<p>今までも localhost で動く, チュートリアルに毛が生えたようなオレオレ rails アプリを
作ったことはあったけれど, 公開目的で作ったことはなかった. 
最初はそのローカルアプリを公開しようかと思ったものの, 
色々手抜きをしていて脆弱すぎる. 直すのも面倒. なので新しく作ることにした. 
ちょうど年末年始でヒマがあったしね. </p>
<p>デプロイが目的だから, あまり気張ったものを作ろうとして挫けては困る. 
なるべく簡単なのがいい. ということで簡単そうなものになった. 
無事デプロイも済み, めでたしめでたし. </p>
<p>でデプロイはどうだったかというと, 
ホスティング先の <a href="http://www.slicehost.com/">Slicehost</a> に
用意されている <a href="http://articles.slicehost.com/">チュートリアル</a> が 
for dummies な感じで書かれており, それに従うとあっさり動いた. 
めでたい. これで今度からはデプロイにおびえずにすむ. 
そのほかいまどきのウェブっぽくする遊びということで, 
<a href="http://blog.favidle.net/">公式 blog</a> 
をでっちあげたり(公式ってなんだよ...), 
Google Apps でメールを受けてみたり(誰も使わないけど...), 
Feed に対応してみたり (仕事中にみるのかおまえは...) と, 
ひととおりやってみたかったことができて満足した. 
あと最近のホスティング(VPS?)はポチっとやるだけで OS インストール済の VM が
使えるようになっているのに感動し, すげーよハイテクだよと一人はしゃいだ. </p>
<p>アプリ自体も友人一名がちょこちょこ触ってくれているみたいだし, 
私自身も案外気に入って使っている. 
最近書いたコードの中では一番実用(?)してる. 手抜きなはずなのに... 
今後もチマチマといじっていく予定. 要望などあればおしらせください. </p>
<p>最初は名前を favidol(好きなアイドルを探せ)にしようと思っていたけれど
ぐぐるともうあったので, 音は同じで favidle(楽しくさぼろう) にした. 
tagline はもちおリスペクト. 
アイデア自体にオリジナティはなく, 投票サイトの素朴なやつというかんじ. 
主に <a href="http://www.hotornot.com/">HOT or NOT</a> を真似しながら作った. 
似たようなサイトとして 
<a href="http://www.flickrcombat.com/">Flickr Combat</a>, 
<a href="http://www.quickonlinetips.com/projects/flickr-girls.html">Girls on Flickr</a> 
などもある. Flickr の美人写真を集めた blog も多い. 
やっぱりみんな女の子が好きなんだよね. </p>
