---
title: "Continous Integration"
date: 2008-03-05
---
<h3>Continous Integration</h3>
<p>「一撃でビルドできる」にはたぶん三段階ある. </p>
<ul>
<li>ビルドして動かせる</li>
<li>ビルドしてコードを書ける</li>
<li>ビルドしてオーサリングできる</li>
</ul>
<p>一番下はゲーム屋固有な気はするけど.</p>
