---
title: "Going Wrong"
date: 2008-03-17
---
<h3>Going Wrong</h3>
<p>ここ一ヶ月弱くらい, また仕事と生活が混乱してきている. 
仕事ではたて続けに自分の無能を痛感する場面にあった. 
問題は, それを解決しようとする意欲が自分に薄いことだ. 
問題は解決したいが, 熱意が足りない. 熱意ってのは過剰なコミットのこと. </p>
<p>とはいえ仕事は仕事なので, 遅れを取り戻すべく残業しているが
まったく好転しない. わかってはいるが. アリバイ残業だよな. </p>
<p>現実逃避の色が強まって Netflix とか recommender 言いだしたが, 
そのせいで今度はやらせてもらっている翻訳が進まなくなった. 
翻訳ははじめてなので, 単に訳すだけじゃなくて他の人の訳を読んで
勉強しないといけない. これが思ったより負担で, 本筋の訳も進まなくなってしまった. 
そんで PCA だなんだと逃避してんの. ろくでもない. 
もともと翻訳だって逃避だろうに. </p>
<p>recommender 自身は前から作りたいと思っていたけれど, 別に今じゃなくていいだろう. 
他人の関係しているものを優先すべきなのはわかっている. </p>
<p>客観的にみれば, 
仕事では技能向上に全力を注ぎつつ, 
余暇は全て翻訳にあてる, くらいが正解なのだろう. 
そうできてない理由はわかっている. まあ, ろくでなしなのだ. 
あげくのはてにのんだくれて頭打って救急車って. アホじゃねーか. まるきり.
同情の余地がない. </p>
<p>自分の言動に責任を持てない. 人としておわってる. 
ここ数年はなんとか自分の不義理と無計画をとりもどすべく堪え忍ぼうと思っていたが, 
忍耐すらできないことが明らかになりつつある. 
おわってる. </p>
<p>世の中にはろくでもない中年というのがいるが, 自分はああなるんだろうと思う. 
人生おわった人間でも死なずに済むのが現代社会の良いところではあるな. 
自分をだましながら余生を生きるのは楽しくはないが, 死ぬよりはラクだろう. </p>
<h3></h3>
<p>私より若い同僚の K は, いまは経験のぶんだけ私の方が良いプログラマだと思うけれど, 
一年もすれば彼の方が良いゲームプログラマになるだろう. 言動を見ていると確信する. 
彼はゲームを愛しているし, 作っているものも愛している. 
私にとってゲームはどうでもいい. 
作っているものは, 嫌いではないけどお仕事に過ぎない. 
愛している人間が熱心につくる方が良いものができるし, 
稼ぎ口としての仕事を越えて情熱を持って働く方がずっと身になる. 
自分がそうだったこともあるからわかる. </p>
<p>愛や興味を持たずに働くというのは, すくなくともゲーム屋では負け戦だ. 
もともと経済的合理性の働く世界じゃない. 娯楽は over achieve のカタマリなのだから. 
最初は仕事が sucks だと思っていたが自分が sucks なのだと考えを改めた. 
その方が辻褄があう. どうにも私が間違っている. 他人に文句を言う筋合いではない. 
しかし自分が間違っている状態で働き続けるのは辛い. 
別に世間でいう 3K みたいな酷い目に遭わされているわけではないから, 
仕事のなかに局所的な楽しみを見出すことはできるし, 現にそうしている. 
ただそれで仕事の質が上がるわけじゃないし, 自分の腕もよくならない. 
問題解決に寄与しない gold-plating だ. </p>
<p>自分が無能だとわかっているのに, それを改善する気になれないという話. 
つまり, 自分がろくでなしだという話. 
ろくでなしに生き辛い世の中なのは, まあ仕方ないとは思うけど.</p>
<h3>dadamore</h3>
<pre>http://www.page.sannet.ne.jp/hirasho/diary.html</pre>
<p>なんとなくだだもれ日記と似たような雰囲気になりつつある気がするが、
根本的な部分での業界への愛の欠落というのがどうしょもない。
まああんまし愚痴ばっかり書いても仕方ないというのはある。
憂さ晴らしはほどほどに。</p>
