---
title: "今年果たされなかった期待"
date: 2008-12-27
---
<h3>今年果たされなかった期待</h3>
<p>今年は自分の無能を痛感する年だった. 
箸にも棒にもかからない...というほど酷くはないと信じているけれど
(さすがにもう中年ですからね), 
かといって期待に応えられてもいないとおもう. 
期待の中には, それ自体が不条理なものもあれば, 応えてしかるべきものもあった. 
前者は早めにいなしつつ, 後者には折り合いのつく範囲で応えられるようになっていきたい. </p>
<p>他人からの期待はさておき, 自分自身からの期待とも落差がある. これは問題だ. 
内訳を鑑みると, 量の問題が主だっている気がする. 
自分が暗に期待しているほど自分は働いていない...
いちおう言い訳しておくと, さぼっているという話じゃない. 
仕事中はちゃんと働いている. ただ仕事中<em>しか</em>働かないのはきっと, 
私の中にある暗黙の期待に反している.</p>
<p>その期待とはどんなものだろう. </p>
<p>仕事中ずっとコードを書いて, 帰路ではさっきまで書いていたロジックの続きを考えバグに気付き, 
家についたらそのバグの在処をメモに残し, 
風呂の中では現状のまずい設計に代替案を練り, 
ウェブを見ているときは将来のロードマップの材料を探し, 
本を読んではそのアイデアを自分のコードに持ち込めないか頭をひねり, 
布団の中ではバグにうなされ, 翌朝はシリアルを食べながら昨日の作業を思いだし, 
その作業の手はずを仕事場に向かいながら整える. 
PC の電源を入れたら昨日のメモを読み, 帰り道に気づいたバグを直し, 
今朝たてた予定のとおりにコードを書き, 風呂で考えたとおりにリファクタリングして...</p>
<p>こんな風に仕事をしていると, 勤務中はバグ以外で行き詰まることがない. 
何をするかはそれ以外の場所や時間に決めてあるからだ. 
傍目には凄い勢いでコードを書いているように見える. 
これを<em>ワーカホリック</em>流と呼ぼう. </p>
<p>一方, 仕事中はぼちぼちコードを書いて, 
帰路は晩飯に何を食べようか考え, 揚げ物禁止令を思いだしてへこみ, 
風呂の中では iPod でビデオを見て, 
ウェブではおもしろガジェットを眺めつつ酒を飲み, 
本を読んでは涙を流し, 
布団の中ではその小説の仄暗い結末にうなされ, 
翌朝はシリアルを食べながら捨てそびれた生ゴミを呪い, 
仕事場に向かいながら昼飯に思いを馳せる. 
PC の電源を入れたら昨日の作業を思いだし, 
続きを書いたらバグが出て行き詰まり予定どおりに昼飯, 
食後はさてどうしようとデバッガをつつきながら悩み, 
バグがとれたはいいが積みあがったコード負債が無視できなくなり, 
どうリファクタリングしたものかと悩み, 
コーヒーを飲み同僚を冷やかし, 席に戻ってコードを眺めなおし, 
小手先の修正を試みるもサードパーティのライブラリが思ったように動かず
悪態をついて revert し, 緑茶を飲み別の同僚を冷やかし晩飯, 
味噌汁を啜りながら別の手を考え, 
図でも書いてみるかとノートに箱と矢印を並べ, ようやく目星がついてエディタに向かい...</p>
<p>こんな風に仕事をしていると, 勤務中はとても猛烈にコードを書く感じじゃない. 
時間の大半が次の手を考えたり, 行き詰まってコーヒーを飲んだり, 
同僚を冷やかしたり, 悪態をついたりで占められている. 
これを<em>アドホック</em>流と呼ぼう. </p>
<p>私は, 自分がワーカホリックであることを期待していた. 
けれど現実の私はワーカホリックとは程遠いアドホックなプログラマだった. </p>
<h4>ワーカホリック中毒</h4>
<p>ワーカホリック流に働けることは少ない. 
いつも考えずにはおれないほど面白い問題が現れることは稀だし, 
いつも考えずにはおれないほど強い圧力に晒されることもそうない. 
日常の大半はアドホックに過ぎていく. </p>
<p>けれどワーカホリックに働いている瞬間には強い達成感があるから, 
心の奥に刻まれれたその手ざわりはなかなか消え去らない. 
そしていつも忘れかけた頃にワーカホリックはやってきて, 
一匙の高揚を私の舌に移したあと, 鮮明な輪郭だけを残しすぐに腕の中から姿を消す.
その甘い感触やぬくもりに呆けていると, 
まるで自分がいつもワーカホリックであるかのような錯覚に陥ってしまう. </p>
<p>普段はそれでも困らないけれど, 
事態が切迫して目一杯の成果を求められたとき, 
ワーカホリックの錯覚は罠になる. 
埃を被った逢瀬の記憶に騙され仕事を確約しても, 
現実にはアドホック流プログラマがちょっと残業したくらいじゃワーカホリックに遠く及ばない. 
より厄介なことに, 切迫したプロジェクトほどワーカホリックが舞い降りる割合は小さくなる. 
(プログラミング上の興味深い問題が立ち塞がったせいでプロジェクトが遅延するなんて, 
どれくらいあることだろう？)</p>
<p>今年はプロジェクトが切迫した(させてしまった)とき, 
ワーカホリックの幻に足元をすくわれることがあった. 中毒症状を反省している. 
一方であのぬくもりを, 甘い舌ざわりを, まだ忘れられずにいる. </p>
