---
title: "祭りのあと"
date: 2008-11-03
---
<h3>祭りのあと</h3>
<p><a href="http://techon.nikkeibp.co.jp/article/HONSHI/20081029/160369/">日経エレクトロニクス</a> に
記事を書かせてもらいました. 初の紙媒体! で V8 の話です. 
(日経 BP 大森さんが書いてくれたティーザーは
<a href="http://techon.nikkeibp.co.jp/article/TOPCOL/20081030/160524/">こちら</a>.) 
都心のでかい本屋では売ってるらしいので, 
見かけたらひやかして頂ければ光栄でございます. </p>
<p>私の Google ウォッチャーぶりも来るところまで来たなあ...とかいう感慨はさておき, 
<a href="http://steps.dodgson.org/?date=20080907">日記に</a>
<a href="http://steps.dodgson.org/?date=20080908">書いた</a> ような
ぐちゃぐちゃっとした空気読まないかんじのテキストを提出したら, 
日経 BP マジックによって雑誌記事化されて読めるものになる様はおどろきでありました. 
紙媒体おそるべし.</p>
<p>組み込み以外のプログラマの仕事とは縁遠い日経 NE だけれど, 読んでみると結構おもしろかった. 
実際のところ "日経ガジェット" という感じの内容. Engadget とかが好きな人には楽しめると思う. 
買い物ガイドじゃないけどね. </p>
