---
title: "友人が結婚した"
date: 2008-04-05
---
<h3>近況</h3>
<p>友人が結婚した. めでたい. 広い家に引越すという. </p>
<p>一つだけ困ったことがある. 
友人の部屋にあるまんがの一部を引き取る必要ができてしまった. </p>
<p>数年前, 私はその友人に自分のまんが群を寄贈...押し付けた. 
まんがに逃避する自分に困り, 時間をつくるためにまんがを断とうと決めた私は, 
まんが仲間であるその男にまんが入りのダンボール数箱を送りつけたのだった. 
我ながらひどい. 今でも関係が続いているのは彼の人徳というほかない. ほんとに...</p>
<p>残念ながら私のまんが群は彼の奥さんの趣味に合わなかったらしく, 
処分の対象となることが決まった. 当初は全部売り払うつもりでいた. 
でも箱詰めを手伝っていたらどうにも惜しくなり, 
結局もとの半分, ダンボール二箱のまんがをひきとった. </p>
<p>おかえり, まんがたち. 本棚を増やそうか. 
ぼんやりそんなことを考えながら, 封を切って中身を眺める. 
そして気がつけばこの一週間は帰宅後ずっとまんがを読んでいた. 
生活は乱れ遅刻つづき. いかん. 
本棚に並べようものならかつてのまんが中毒な日々が戻り, 
うっかりニートになりかねない. </p>
<p>後ろ髪をひかれつつまんがの山をダンボールに戻し, 部屋の隅へ押しやった. </p>
<h4>まんがの記憶</h4>
<p>まんがの半数を処分する中で, 数年の間にまんがの好みがほぼ固まったのを自覚した.
吉野朔美, 大島弓子, 谷川史子があればなんとかやっていける. 
盲点だったのが清原なつの. 読み返すとすごく面白い. 
しかもまだ全部読んでいない. 思わぬ楽しみができた. 
ongoing なまんが家では, 勝田文, 小玉ユキ, 岩本ナオは今後も読み続けそうな気がする. </p>
<p>最初は個々のまんがの話を延々書こうと思ったけれど, あまりにも個人的で躊躇が勝った. 
会社にマンガを転送しようと考えたときの躊躇と同じものだ. 
(公私混同を躊躇する常識は別にありますよ, もちろん...) </p>
<p>読んだまんがのリストは, 私にとってたいしたプライバシーではない. 
でもまんがを読む姿は人目に晒したくない. 
まんがを読むとき, 私の中にある主体はすっかりどこかへ行ってしまう. 
まんがの導くままノーガードの感情をばたつかせている. 
まんがに枕を濡らす中年というのは, 
字で書くぶんにはねたで済むけれど, 実物は救いがたく醜い. 
目につかない方がお互い幸せだと思う. </p>
<p>私がまんがや小説を読むのは, 
感情をある特定の状態に移す手段なのだとほぼ確信している. 
古いまんがを何度も読み返すのは, それがもたらす効用を知っているから. 
私にとってのまんがは感情再生装置だ. 
その感情を介して, ようやく平静な心を取り戻すことができる. 
気持ちがすさんでいるとき, 大抵はマンガか小説が足りていない. </p>
<p>好きなまんがを読み返すうち, 段々と刺激が薄れていくのは悲しい. 
だから効用をたもちつつ摩耗しないマンネリが好きだ. 
谷川史子なんて粗筋のプロトタイプはたぶん 10 種類くらいしかない. 
でも手を変え品を変えてそれを語りなおし続けるから, 
読み手の私は安心して身を任せることができる. </p>
<p>逆に新しいまんがを読むのは少し警戒する. (ノーガードだしね.) 
私は特段まんがに新しさや驚きを求めていない. 
目新しいまんがを読むのは楽しいけれど, 一度で十分. 
手元に残しておきたいとは思わない. 
読み返すのは, どこか似通ったまんがが多くなる. </p>
<p>そんなろくでなしのまんが群をどうしたものか. 
なんて悩みながら気がつけばまた箱をあけ読みふける春. 
夜も更けていく. </p>
<p><span class='image'><a href='http://www.amazon.co.jp/%E8%A8%98%E6%86%B6%E3%81%AE%E6%8A%80%E6%B3%95-%E5%B0%8F%E5%AD%A6%E9%A4%A8%E6%96%87%E5%BA%AB-%E3%82%88E-19-%E5%90%89%E9%87%8E-%E6%9C%94%E5%AE%9F/dp/4091915396%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4091915396' class='bookcover'><img data:asin='4091915396' class='asin image-right' src='http://ecx.images-amazon.com/images/I/31RJ497K5AL.jpg'></span></a></span>
<span class='image'><a href='http://www.amazon.co.jp/%E8%8A%B1%E3%81%A8%E6%83%91%E6%98%9F-%E3%82%8A%E3%81%BC%E3%82%93%E3%83%9E%E3%82%B9%E3%82%B3%E3%83%83%E3%83%88%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9-%E3%82%AF%E3%83%83%E3%82%AD%E3%83%BC-%E8%B0%B7%E5%B7%9D-%E5%8F%B2%E5%AD%90/dp/4088566963%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4088566963' class='bookcover'><img data:asin='4088566963' class='asin image-right' src='http://ecx.images-amazon.com/images/I/31X0BT5Z6XL.jpg'></span></a></span>
<span class='image'><a href='http://www.amazon.co.jp/Daddy-Long-legs-%E3%82%AF%E3%82%A4%E3%83%BC%E3%83%B3%E3%82%BA%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9-%E5%8B%9D%E7%94%B0/dp/4088653378%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4088653378' class='bookcover'><img data:asin='4088653378' class='asin image-right' src='http://ecx.images-amazon.com/images/I/31SCM0N8SPL.jpg'></span></a></span>
<span class='image'><a href='http://www.amazon.co.jp/%E5%85%89%E3%81%AE%E6%B5%B7-%E3%83%95%E3%83%A9%E3%83%AF%E3%83%BC%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9-%E5%B0%8F%E7%8E%89-%E3%83%A6%E3%82%AD/dp/4091308406%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4091308406' class='bookcover'><img data:asin='4091308406' class='asin image-right' src='http://ecx.images-amazon.com/images/I/31LIFpP9EbL.jpg'></span></a></span>
<span class='image'><a href='http://www.amazon.co.jp/Yesterday-Yes-day-%E3%83%95%E3%83%A9%E3%83%AF%E3%83%BC%E3%82%B3%E3%83%9F%E3%83%83%E3%82%AF%E3%82%B9-%E5%B2%A9%E6%9C%AC/dp/4091307582%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4091307582' class='bookcover'><img data:asin='4091307582' class='asin image-right' src='http://ecx.images-amazon.com/images/I/319M2qWIsUL.jpg'></span></a></span></p>
