---
title: "Translation"
date: 2008-03-23
---
<h3>Translation</h3>
<p>お. ちょっと手を動かしたら再会できそうな気がしてみた. 
ついでに雑務を tadalist.com に登録. 
正直そんなに良いツールにも見えないけど, 
手元の windows マシンの setup が適当なので
ローカルで TODO 管理できる気がしない. 仕方ない.</p>
<p>TODO は理想的には直列化されているべきなんだけど, 
どうしてもその時やりたくない仕事がトップにくるとブロックしてしまう. 
別の種類の作業をしたい, という時に一本しかリストがないと詰まる.
そういうのを何とかしてほしい. 
仕事なら一本でもいいんだろうけど...
いや, 複数プロジェクトかけもちだとダメだけど, 
プログラマにそういう仕事させている時点でダメだ. その仕事は. </p>
<h3>PRML</h3>
<p>買った! でも一緒に買った best software writing が面白くて
こっちは読んでない...</p>
<p>教科書と読みもの比べちゃダメだろ自分.</p>
<p>とりあえず「ちゃんと手を動かす」がテーマ。
ノートも買ってくるんだったな。</p>
