---
title: "ポールグラハムの「気晴らしを断ち切る」を読んだ"
date: 2008-06-07
---
<p>ポールグラハムの「<a href="http://d.hatena.ne.jp/lionfan/20080523">気晴らしを断ち切る</a>」を読んだ. 
私もウェブは中毒的暇潰し(=気張らし) だと <a href="http://www.dodgson.org/omo/t/?date=20050925">思っている</a> 派閥なので, おおおそ同意した. </p>
<p>実際, たまにケーブルを抜いて暮らすことがある. 
今の家に引っ越してきた当時, オフライン主義の友人を真似して半年ほど ISP の契約を更新しなかった. だから自宅は IP unreachable だった. 
それでも生活できたし, 読書や勉強ははかどった. 
しばらくして mac mini を買ってみたらあまりに勝手がわからず, 仕方なく ISP に契約しなおした. 中毒の日々が戻った. 
けれどケーブルなしで暮らせることもわかったので, まとまった作業をしたい時はその後もたびたび自宅を断線している. 
これをプチ断線とでも呼ぼう. </p>
<h4>プチ断線概観</h4>
<p>友人達の中には, 集中しようとオフラインのコーヒー屋に避難する人が多い. 
プチ断線はその自宅バージョンと言える. 出かけなくていいぶん安上りなのと, 
"でかける" という行動に出るまでもなくオフラインになるところが違う. 意思や資本の弱い人に向く. </p>
<p>回線を引き抜くときは他人に迷惑がかからない前提がある. 
家族恋人兄弟その他と暮らしている人はこの先の話に該当しづらいとおもう. 
線を抜いた宅内は無差別で IP unreachable になるからね. 
遠隔ログインで 24 時間保守する仕事のひとにも向かない. </p>
<p>"回線を引き抜く" はメタファでなく, 実際に線を抜く. 
私の場合はモデムとルータをつなぐ LAN ケーブルを抜く. 
抜いたケーブルは会社に持っていく. 断線したい期間が終わったら持って帰る. 
私の場合は月曜朝に引き抜いて出社, 金曜夜に持って帰ることが多かった. 平日断線. 
一週間は丁度いい長さだと思う. 毎日だと抜き差しが面倒だし, 一ヶ月だと長すぎて躊躇がある. </p>
<p>ケーブルを引き抜き中毒材から離れると, 平日の夜の長さを実感する. 
ささいな達成感もある. 予定した作業が終わらずやる気が続いていたら, 翌週もまた断線する. </p>
<h4>準備</h4>
<p>ケーブルを抜く前の日曜(じゃなくてもいいけど)は, オフライン生活の準備をしよう. 
コードを書くならマニュアルやコードをダウンロードしておく. 
Google には頼れないので, 利用するライブラリはドキュメントだけでなくコードも持っておくと良い. 
新しいコードを書くなら, 断線する前に雛形くらいは動くようにしておこう. 
検索に頼りたいのはだいたいコードの書き始めだから. </p>
<p>音信不通になる前に, 身近な知り合いにはその旨をアナウンスする. 
オンライン中毒者なら mixi や blog が手軽だとおもう. </p>
<p>POP のメールを使っているなら gmail などのウェブメールに転送しよう. (もうやってると思いますが...) 
職場で昼休みや帰宅前にチェックできる. さすがに長い返事は書けないけど, 宴会のお知らせを逃すことはなくなる. </p>
<p>オフラインへの不安を拭い切れない人は, <a href="http://www.hotspot.ne.jp/">hotspot</a> をはじめとする無線 LAN サービスに入ろう. 
最寄りのファーストフード店などを調べ, その店が対応しているサービスに揃える. 
断線に慣れない間, 家のそばにオンラインの場所がある安心感は嬉しい. もっとも, いずれ余計な心配だったと気付き解約するとも思う. 安心料ですね. 
無線 LAN に頼るならノート PC は必須. こればかりは仕方ない. 
持ってない人は <a href="http://japanese.engadget.com/2008/05/21/hp-2133-6-5-9850/">HP の安いやつ</a> でも買ってください. 
安心料にしては高いけど. </p>
<p>漫画喫茶が近所にあるなら, それを頼ってもいい. </p>
<h4>断線生活初日</h4>
<p>最初は Google 欠乏症で苦しむかもしれない. 気がつくと Ctrl-K をしている自分に気付き愕然とする. ああもうだめだ, とすら思うかもしれない. 
慌てないで. まず手持ちのドキュメントをよく読もう. サンプルも検索しよう. google ではなく grep で. </p>
<h4>遅延 HTTP</h4>
<p>それでもわからないことはある. 仕方ない. 検索キーワードをテキストファイルにメモしておこう. 
検索キーワードだけでなく, ダウンロードする必要のあるもの, 送るべきメールの草稿なども同じメモにまとめる. 
こうして "オンラインでやることリスト" ができあがる. 
オンラインになったら, そのメモをもとに検索をする. 
管理がうるさくない会社なら, 翌日に USB メモリなどで会社に持っていき調べる. 簡単なことなら紙のメモで済ますこともできる. 
週末にオンラインへ復帰してから処理してもいい. </p>
<p>調べたことは同じテキストに追記する. 
ただしリファレンスなどまとめに向かないものは, ページごとダウンロードしておく. </p>
<p>以前のメモを抜粋してみた. 一部抜粋:</p>
<pre>= g: Gray Code, Mathematical Games, Martin Gardner
= g: PostScript 仕様書
= g: ruby の reference
= g: jetty 資料
= g: pdf 刷るやつ
= g: カーテンの掃除方法
- g: Signaling NaN, Quiet NaN
- g: svn book
- g: ruby style guide
- g: 免許証 更新の場所, 必要なもの (住民票はいるのか？)
- g: sdic
= g: 家賃振込み
= g: ColorTable, ConvolutionFilter2D, Histgram は何に使うのか？
= g: rails の本買う
= g: USB メモリの価格
= g: Exception-Safety in Generic Components
= g: 近所の耳鼻科</pre>
<p>こんなかんじのリストができる. "g:" はあとからメモを検索するためのマーク. 
(実際はまず "G:" でマークをつけ, 調べたものを小文字に直した.) 
上の抜粋にはキーワードしかないけれど, 実際のテキストには調べたメモが続く: </p>
<pre>= g: SQLite の資料.
- データ型とか.
  datetime はないっぽいので int で代用. bind が勝手にやってるかもしらん.
- 複数 primary key は可能？
  わからん. でも rails の制限でやらない方がよさそう.
- インクリメント
  Short answer: A column declared INTEGER PRIMARY KEY will autoincrement.
  CREATE TABLE t1(
    a INTEGER PRIMARY KEY,
    b INTEGER
  );
- 文字コード
  わからん. bind に依存っぽい.
- ソース
  dl-ed. ま読まんけど...</pre>
<p>この g: メモはちょっと面白い. まず, 自分が本当に知らなくて困ったことしか検索しない. 
しかも後で参照する前提でメモをする. だから否応なしにメモをとるコツがわかる. 
面倒なのは確かだから, オンラインの時にはなかなかこんなメモをとらない. 
でもこうやってとったメモを後からみなおすと, 当時の記憶が蘇る. </p>
<h4>failsafe</h4>
<p>上のように検索を遅延すると, 結果がわかるまでは作業がブロックする. 
せっかく雑念を排したのにこれでは寂しい. </p>
<p>とはいえ諦めも肝心. ある作業に詰まったら, 何か違うことに手をつけよう. 
そんな時のため, 断線中にやることは複数用意しておくといい. 
コードを書くのがダメならコードを読む. または本を読む. 
活字を追うのに疲れたら音楽を聞く. たまってみる未消化ビデオを見る. 
本も硬派なのからどうでもいい小説まで何冊かあると万全. </p>
<p>さっさと寝るのも悪くない. </p>
<h4>そのほかやってみたいこと</h4>
<p>こんなところかしら. </p>
<p>まだやったことがないけれど試してみたいのが, 定期断線と断線部. 
定期断線は, ある間隔での断線を続けること. 毎月第一週は断線, などと生活に組み込んでみたい. 
断線部は定期断線したい中毒仲間をつのってグループをつくること. 
月曜はケーブル持ち寄ってランチ, 週末は断線の成果を自慢しあうというような. 
アル中脱出の自助グループみたいだな...</p>
<p>多くのウェブ中毒者にとって, 断線がどのくらい困難なのかには興味がある. 
私はもともと付き合いが疎な人間なので, 
平日夜に一週間くらいオンラインの対話経路が閉じても普段は特に困らない. 
stay in touch with な人にとって断線がどれくらい不自由なのか, 経験者の感想が知りたい気はする.</p>
<h4>まとめ</h4>
<p>プチ断線をしてみたよ:</p>
<ul>
<li>ケーブルを抜いて会社に持っていく. 一週間くらい.</li>
<li>事前の資料集めは入念に</li>
<li>作業がブロックしても困らないよう, やることは複数用意しておく.</li>
<li>遅延 HTTP でバッチ Google. 調べたことはメモにまとめる.</li>
<li>断線部に入りたい</li>
</ul>
<p>そういえば <a href="http://www.dodgson.org/omo/t/?date=20060816">flino</a> は断線生活を支援するのが当初の目論見だった. 
会社でばばっとウェブを保存し, 持ち帰って読むという. でも開発にはオンラインが必要なのに後から気付いた. アホめ...</p>
