---
title: "work is hard"
date: 2008-04-04
published: false
---
<h3>work is hard</h3>
<p>つらい.</p>
<h3>What suffers</h3>
<p>なんでこんなに辛いんだろう. </p>
<p>仕事がつまらないから？
そうじゃない気がする. 
仕事は別に面白くはないけど, それが辛さにつながるわけじゃない. 
ここ二年くらいはずっとそんななわけだし.</p>
<p>コードがナニだから？
最初はそうだと思っていたけれど, 
これだけが原因じゃない気がしている. 
ナニなコードでもそれを乗り込なせれば何とかなるはず. </p>
<p>自分のコードがひどいから？
これはある. 結局, 既存のコードがアレなのは
与えられた問題なわけで, それを解決できてない自分の無力を
認めるのが辛い面はある. 
既存のコードをなんとかできないばかりか, 
自分も似通った質の, あるいはもっとひどいコードを書いている. 
自分が嫌いなものを, 自ら生み出し続ける苦痛. </p>
<p>期待にこたえられないからか？
これもある. 結局, 雇用側は自社がある程度アレなのは自覚しているわけで, 
それをなんとかしたい期待があって自分に給料を払っているはずだ. 
なのに何も改善に寄与できず, それどころか任せたプロジェクトはボロボロ. 
期日は遅れ人を吸い込む. 利益はどんどん薄れていく. 
それなりの期待をうけ, 自分も当然それに答える気でエラソーな態度をとったにも関わらず, 
まったく成果をだせない期待はずれ. みっともなさ. 嘘つき具合. 
そんな苦痛がある. </p>
<p>期待にこたえるべく頑張ろうという気にもなれないのも辛い.  
このアプリケーションにまったく関心が持てない. 
正直なところ, ここまで苦手だとは思わなかった. ほとんど生理的に忌み嫌っている. 
がんばって期待に応えたいし, プログラマとしての腕も磨きたい. 
でもこの分野で歩みを進めていく気にすこしもなれない. 
勉強する気になれない. まったく意欲がわかない. 逃げだしたいくらい. </p>
<p>こうして, 苦境を乗り越える実力もなく, そのくせ期待をさせる態度をとり, 
しかもこの先その期待を裏切り続けることがわかっている. </p>
<p>他人や自分自身の期待に応えられない苦痛. 将来もそれが続くという絶望の苦痛. 
越えるべき壁を前に気力がなく圧迫され続ける苦痛. 
そうした苦痛から逃げるだけで時が流れ, ますます無能になる自己嫌悪の苦痛. </p>
<p>結局は自分の無能と怠慢による苦痛なんだよな. </p>
<p>死にたい. なんていって死ねないのは経験的にわかってる. 
辛い年月が続くのだろう. </p>
