---
title: "数学な不条理な効力"
date: 2008-06-28
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?UnreasonableEffectivenessOfMathematics">数学な不条理な効力</a></h3>
<p><a href="http://www.kmonos.net/wlog/86.html#_1026080628">Derive Your Dreams</a> 
に「コンピュータ科学での論理学の便利さは異常」という話があった. 
どこかで似たようなことを聞いたことがあるなーと検索... 
これか. 元ねたは "<a href="http://www.lecb.ncifcrf.gov/~toms/Hamming.unreasonable.html">The Unreasonable Effectiveness of Mathematics</a>" 
じゃないかしら. たぶん. 
(実は更に元ねたがある: "<a href="http://www.dartmouth.edu/~matc/MathDrama/reading/Wigner.html">The Unreasonable Effectiveness of Mathematics in the Natural Sciences</a>")</p>
<p>上のやつは面白そうなので去年の夏に訳しかけたんだけれど, 途中で挫けていた. 
今のところ続きを訳せる見込みもないので諦めて序説だけだしてみます. 例のごとく YukiWiki へ: 
"<a href="http://www.hyuki.com/yukiwiki/wiki.cgi?UnreasonableEffectivenessOfMathematics">数学の不条理な効力</a>" </p>
<p>これで 1/4 くらいかなあ. 
数学リテラシーが足りない上に, 内容のシリアスさに付き合う体力が続かず挫けたのでした. すんません. 
元気が出たら続きをやるかもしれないけれど, 誰かがやってくれたら有り難く読みます.</p>
