---
title: "SquirrelFish Extreme の紹介"
date: 2008-09-19
---
<h3><a href="http://trac.webkit.org/wiki/Introducing%20SquirrelFish%20Extreme.ja">SquirrelFish Extreme の紹介</a></h3>
<p>"<a href="http://webkit.org/blog/214/introducing-squirrelfish-extreme/">Introducing SquirrelFish Extreme</a>" 
を訳して YukiWiki に置こう...としたらなぜか NG ワードフィルタにひっかかり投稿できなかったので, 
空気を読まずこっそり 
<a href="http://trac.webkit.org/wiki/Introducing%20SquirrelFish%20Extreme.ja">本家 Webkit Wiki に置かせてもらってみました</a>.
微妙に怒られそうだけど, 
&lt;people in the dynamic language community say, "you can cheat as long as you don't get caught".&gt; 
という本文中の言葉を信じてみることに. 削除されたら残念でしたと反省して他の場所を考えます. </p>
<p>当面コードを読む予定はなし. </p>
