---
title: "キスの仕方を教えてください"
date: 2008-09-15
---
<h3><a href="http://boboc.tumblr.com/">キスの仕方を教えてください</a></h3>
<p>夏休みの間に "<a href="http://www.craigslist.org/about/best/all/">best of craigslist</a>"
を知り, その日は一日むさぼるように読んでいた. こんなすばらしいサイトを永年見落してきたとは! </p>
<p>このしょうもなく普遍的な面白さを伝えるのは難しい. 
たとえば "<a href="http://www.craigslist.org/about/best/sfo/725756615.html">Rant of a copy girl</a>" 
を読んで, これはそばかすメガネのちょっとかわいい女の子が
仕事で不愉快なことがあった夜に憂さ晴らしで書き始めたけど
段々と興に乗り, 書き上げて投稿した時にはその出来栄えにいくらか高揚し, 
風呂に入ってビールを飲んでいい気分で眠りについたに違いない, 
と想像して悶絶するというサイトなんですよ
...なんて説明したところで broad range of audience に理解を得られる自信はない. 
ためしに<a href="http://boboc.tumblr.com/">いくつか訳してみたものがある</a>ものの, 
もとの面白さはぜんぜん再現できかった. くやしい. 
でも人の集まるところにはアホ譚が集まるの原則を鑑みるなら, 
米国有数の掲示板サイトである craigslist が抱えるアホ譚に期待しても道理にかないはするだろう. </p>
<p>宴会でそんな話をしたところ, 
<a href="http://www.craigslist.org/about/best/bos/533096562.html">RMS が恋人探しをしたのも craigslist</a> 
だと教わった. (<a href="http://boboc.tumblr.com/post/50115925/intelligent-atheist-white-man-seeks-sweetie">訳</a>.) 
人が集まるところには...</p>
<p>しばらく続きを読む/訳すヒマを作れないのが残念. 
そのうちまたちまちま読んで訳して...いきたい気も少しはするけれど, 
でもやっぱり誰か機微のわかるひとに訳してほしいなあこれは.</p>
