---
title: "[favidle] update"
date: 2008-01-16
---
<h3>[favidle] update</h3>
<p><a href="http://favidle.net/">favidle.net</a> を 
思ったよりだいぶ色々な方に試していただけているようでありがとうございます. 
founder の名にかけてがんばって使っているものの何人かの方にぶっちぎられています. 
アプリの更新は <a href="http://blog.favidle.net/">公式風 blog</a> に書いていますが, 
下手な英語を読めというのもひどい話なので簡単なお知らせはここに書くことにします. </p>
<ul>
<li>フィードのバグがなおりました. (たぶん.)</li>
<li>遅い: アホな SQL があるっぽいのですが特定できてません. 週末に直せると思います. たぶん.</li>
<li>エロすぎる: 私も職場でちょっとピンチでした. エロ画像は本来 Flickr の <a href="http://www.flickr.com/help/filters/">Safe Search</a> で弾かれているはず(というか認証なしの API だと取れない)なのですが, ちゃんと申告してないやつが紛れこんでいるみたいです. これも人力で除外していけないか考えています. お仕事モードみたいのね.</li>
<li>キーボードショートカットがあります. "Y", "M", "N", "P" をおためしください.</li>
</ul>
<p>それにしても遅くて困るってウェブアプリっぽくていいね. 作った甲斐がありました. 
(よくないので直すけど...)</p>
