---
title: "Rewrite"
date: 2008-04-06
published: false
---
<h3>Rewrite</h3>
<p>やっぱりどう考えても, 考えれば考えるほど自分がやって上手くいくとは思えない. 
しかし他人がうまくやるのを信じることもできない. 
夢も希望もない. 人生詰んだ感がある. 
こんなに八方塞がりなのは人生初じゃなかろうか. 
少しずつ道を塞いで生きてきた結末ということなんだろうけれど. 
結局, Rewrite からして逃避なわけだし. 現実をみよ.</p>
<p>自分が嫌いなものより自分が劣っていることを自覚するのは苦しい. 
間違っているものを直すことができないと認めるのは苦しい. </p>
<p>こんな状態で働いても減俸は時間の問題だろうし. まいったねえ. </p>
<h3>go away</h3>
<p>逃げるしかないのかな. また, いつものように. 
いつか逃げきれなくなるのはわかっているけれど. </p>
<h3>achivement</h3>
<p>結局職業プログラマとして身を立てるには会社で成果をあげるしかないんですよ. 
OSS なんて幻想だよ. OSS で成功する人は会社でもエースだよ. 
そんで身をたてる目論みは入社早々に崩れ, 打開策も無いことがわかった. 
まともなプログラマとしての道は閉ざされた. 
ろくでなしのまま細々と生きるしかない. </p>
<p>ろくでなしとして生きるなら, 謙虚になった方がいいな. 
これまでの傲慢を悔いよう.
謙虚であろう. 事実無能なのだから.</p>
<h3>public blog</h3>
<p>しばらく更新はやめよう. おまえに何かを批判する資格はない. 
自分の首を絞めるだけだ. 影でこそこそ恨みごとを呟くのが似合う.</p>
