---
title: "recommender asp"
date: 2008-04-28
published: false
---
<h3>recommender asp</h3>
<ul>
<li><a href="http://www.ec1stop.jp/lp/logreco/">http://www.ec1stop.jp/lp/logreco/</a></li>
<li>10k JPYmonth<ul>
<li>upto 2M pv/month</li>
</ul></li>
</ul>
<ul>
<li>2M/month := 10K/day = 1k/h = 0.3/s<ul>
<li>毎秒 1-10 リクエストくらいはこなせないとまずいわけね...</li>
</ul></li>
</ul>
<h3>code reading</h3>
<p>そいや最近やってないなー. なんかねたを考えよう.</p>
