---
title: "Joel Test"
date: 2008-04-20
---
<h3>Joel Test</h3>
<p>キライ。免罪符になるから。</p>
<p>たとえば面接でコードを書かせたとして、
そのコードを理由に何割かをリジェクトしてないならそんなのは飾りだ。
でも弱小企業なら実際は社会人としてマトモなレベルを確保するのがやっとだろし、 
大企業ならコードなんて書かないだろう。</p>
<p>ワンショットのビルドができたところで, 成果物のバイナリが動かないならビルドは飾りだ。
アプリの構成が複雑になるほどコンパイルが保証する範囲は狭くなる。
スクリプトが増えればそもそもビルドなんてしない。</p>
<p>バグトラックがあったところで運用がゴミなら飾りだ。</p>
<p>「静か」の基準は何だ？社員がおとなしきゃいいのか？
テスターがテストしてるのは書かれたコードの何割？
下請けした non-UI の部品にユーザビリティ測定なんてできるのか？</p>
<p>固有の文脈から切り離されたチェックリストなんて無意味だ。
Joel の語り口に騙されて低いレベルや間違った方向に基準を起くのはくだらない。
自分達に必要なものは自分達で定義しろ。
Joel Test なんてスタートラインにすらならない。
売れっ子ブロガーが面白おかしく書いたケーススタディにすぎない。
自社開発のウェブ版バグトラックシステムを売る会社。社長は MS 出身のスターブロガー、
なんて会社、どんだけあてはまるよ。ふつうに。</p>
