---
title: "もう酒をのむのはやめることにした"
date: 2008-03-15
---
<h3>近況</h3>
<p>もう酒をのむのはやめることにした. </p>
<p>昨日の夜のこと. よっぱらって気を失い, 頭を打って救急車で運ばれた. 救急車は十数年ぶり. 
駅のホームで電車を待っていた. 
ふと, あれ, なんか倒れてない？ と戸惑っていると "救急車呼びますから" とか言ってる人がいて, 
なんのことだよと怪訝に思ったら手に血糊がついている. 
あれれといううちに担架が到着し, 三回くらい乗り換えたら病院だった. 
我ながらひどい. いい歳してなんたる迷惑. </p>
<p>バチンバチンと頭を縫われ, よくわからないまま説明の紙をうけとり, 支払いを済ませ, 
頭にネットを巻いたまま深夜の麻布に放りだされたあとタクシーを拾って帰宅. 散財. 頭痛. 
救急車に飾ってあったカレーパンマンのぬいぐるみだけが印象にに残っている. </p>
<p>そんなに飲んだわけじゃない. 普段の 8 割くらいのアルコール. おかしい. 
一方で, 年末にもいちど気を失って倒れたのを思いだした. 
この時は友人宅だったので, 私にはダメージがなく, かわりに彼の部屋が破損してしまった. ごめん. 
やはりアルコール摂取量は多くなかった. </p>
<p>アルコールの代謝能力が落ちているのだろう. 歳ってやつだ. 
体調には波があるから, 好調時は何事も起きない. 
けれどうっかり不調な時に飲むと気を失う. 
困ったことに, アルコール的な体調の善し悪しは自覚と一致していない. 
だから倒れちゃうんだね...</p>
<p>気を失う危険を侵してまで酒を飲みたいとは思わない. 
倒れた先がホームの外側だったら. そんな想像にぞっとする. </p>
<p>もともと酒は飲めなかったけれど, 
社会人になってつきあいで飲むようになった. 
やがて自分で好んで飲むようになった. 
酒に強くなった気がしていたけれど, 
若さによる一時的なものだったんだろうな. 今は二日酔いも辛いし. 
酒を飲めない自分を思いだした. 
もうさよならだ. 宴会でもウーロン茶を飲もう.</p>
<p>tribute:</p>
<pre>こんにちはビール。　こんばんわかな？
これからビールにお別れを言おうと
思います。ちょっと悲しいけど、でも
悲しいだけでもありません。
いずれにしても、ビールと同じ銘柄の
同じ杯を煽れたことを、愛してやみません。
ビール？　今が愛しいよ、　ビールとお別れ
する　今この時を、やっぱりいとしく思える
から、あたしのこれからはきっと大丈夫って
思えます。ビールと出会えて、ちょっと人生
得したかなって。
サヨナラは言いません　約束もしません。
でもまた会えるよね？</pre>
