---
title: "週末, favidle を色々なおすぜ! と"
date: 2008-01-21
---
<h3>近況</h3>
<p>週末, <a href="http://favidle.net">favidle</a> を色々なおすぜ! と
張り切っていたのに計算機の調子が悪い. 
仕方ないので OS を入れ直すことに. せっかくなので Ubuntu にしてみる.
無線 LAN の設定がうまくいかずしばらく手こずるも
そのうちなんとなくつながり, favidle 開発環境も動いた. よしよし. 
でも旅行などでとった写真一式をすっかりバックアップしわすれていたことにふと気付く. 
悲しい. 人はこうして過去を失なっていくんだね...</p>
<p>私にとって mac の killer-app は 
Quicksilver と Omnigraffle. あと AquaSKK だった. 
linux には Quicksilver のパチモノで 
<a href="http://do.davebsd.com/">GNOME-Do</a> というのがある. 
入れてみた. 細かいところはおおざっぱだけど悪くない. 
GTK# はこのごろ良く使われている気がする. 
AquaSKK は scim-skk で OK. Omnigraffle は諦めよう. 最近は出番もなかった. </p>
<p>などとちまちまといじっていたらもう火曜...</p>
<p>近況そのに. 同僚の圧力に屈して
<a href="https://plus.ce-lab.net/plus-stream">会社 blog</a> をはじめました. 
興味のあるかたは subscribe ください. たまに更新. 本業が燃えると停滞. 
あと plone で全文配信する方法を教えてほしいです. 
お客様の中に蛇使いはいらっしゃいませんか. </p>
