---
title: "ECMAScript Harmony"
date: 2008-08-15
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?ECMAScriptHarmony">ECMAScript Harmony</a></h3>
<p>"<a href="https://mail.mozilla.org/pipermail/es4-discuss/2008-August/003400.html">ECMAScript Harmony</a>" 
を訳し, <a href="http://www.hyuki.com/yukiwiki/wiki.cgi?ECMAScriptHarmony">YukiWiki におきました</a>. 
ES4 はやめるって Mozilla の親玉が ECMA で決めてきちゃったらしい. まじかよ, という話. </p>
<p>1-pass なので JS 詳しいひとはどうか添削をおねがいします. 関連リンクとかは気がむいたらあとで. </p>
<p>Microsoft と Adobe は災難だなあ. 
少し前に <a href="http://blog.unto.net/open/on-fighting-the-web-itself">Web の進化は遅いが仕方ないんだぜ</a> 
という話があって, 今回のはそれを象徴している気がする. 
独走して独占というモデルを前提に技術資本を集めてプラットホームを作るのが割に合わなくなったのか, 
戦いの舞台が別の層に移っただけなのか...両社のファンとしてはやや気の毒な気分.</p>
<h4>追記:</h4>
<p><a href="http://malblue.tumblr.com/post/45903229/ecmascript-harmony">mal_blue@tumblr</a>:</p>
<pre>/be の人一人で決めたわけでないし、
Adobe はともかく、MS はES4 の実装はじめてたわけじゃないので実害はないでしょ。
JScript.Net をなんか勘違いしてる？</pre>
<p>たしかに. (JScript.NET はきっと勘違いしてます.)</p>
