---
title: "日記を http:"
date: 2008-08-13
---
<h3>近況</h3>
<p>日記を <a href="http://steps.dodgson.org/">http://steps.dodgson.org/</a> に移動しました.  feed の URI は
<a href="http://steps.dodgson.org/index.rdf">http://steps.dodgson.org/index.rdf</a> (コメントあり) か
<a href="http://steps.dodgson.org/no_comments.rdf">http://steps.dodgson.org/no_comments.rdf</a> (コメントなし) です. 古いフィー
ドからはリダイレクトしているので, feed の処理系が勝手に移動してくれる場合もあるらしいです. 
古い日記自体はそのまま残っています.</p>
