---
title: "スレッドセーフな Rails ってどういうこと?"
date: 2008-08-18
---
<h3><a href="http://www.hyuki.com/yukiwiki/wiki.cgi?WhatThreadsafeRailsMeans">スレッドセーフな Rails ってどういうこと?</a></h3>
<p>"<a href="http://blog.headius.com/2008/08/qa-what-thread-safe-rails-means.html">Q/A: What Thread-safe RailsMeans</a>" 
を訳してみました. <a href="http://www.hyuki.com/yukiwiki/wiki.cgi?WhatThreadsafeRailsMeans">YukiWiki を使わせてもらってます</a>. </p>
<p>Rails 素人の立場から個人的な感想:</p>
<ul>
<li>ほんとにそんなひどいつくりなの? 誇張じゃないの?</li>
<li>MySQL のドライバみたいにライブラリの中でブロックしてもスケジュールしてくれるの?<ul>
<li>非同期の MySQL ドライバってほんとにないの? (仕事でほしい)</li>
</ul></li>
<li>Sun はこれで T1 が売れるといいね.</li>
</ul>
<p>ところでこのごろは勢いに任せて訳してみているんだけれど, 
だんだん機械翻訳っぽくなってきたなあ... すんません. 
今度からは勢い余ってやるのは自粛して, 気に入ったやつを丁寧に訳す路線を試してみます. たぶん.</p>
<h4>追記:</h4>
<p>URL を修正</p>
