---
title: "日記をここ http:"
date: 2008-08-11
---
<h3>近況</h3>
<p>日記をここ <a href="http://steps.dodgson.org/">http://steps.dodgson.org/</a> に移動しました. 
feed の URI は <a href="http://steps.dodgson.org/index.rdf">http://steps.dodgson.org/index.rdf</a> (コメントあり) か
<a href="http://steps.dodgson.org/no_comments.rdf">http://steps.dodgson.org/no_comments.rdf</a> (コメントなし) です. 
古いフィードからはリダイレクトしているので, 
feed の処理系が勝手に移動してくれる場合もあるらしいです. 
古い日記自体はそのまま残っています. </p>
<p>スパムから逃げるのと, ブックマーカビリティの向上が移動の目的. 
古いサイトは tdiary のバージョンが古いなどの理由で, スパムがえらいことにいなっていた. 
tdiary のバージョンをあげ, akismet の設定をするなどして少しは改善されるはず. </p>
<p>ブックマーカビリティは, URL を適当につけていたせいでおこっていた. 
これまでは, ひとつの記事に対し</p>
<ul>
<li><a href="http://dodgson.org/omo/t/?date=20080806">http://dodgson.org/omo/t/?date=20080806</a></li>
<li><a href="http://dodgson.org/omo/t/?date=20080806#p01">http://dodgson.org/omo/t/?date=20080806#p01</a></li>
<li><a href="http://www.dodgson.org/omo/t/?date=20080806">http://www.dodgson.org/omo/t/?date=20080806</a></li>
<li><a href="http://www.dodgson.org/omo/t/?date=20080806#p01">http://www.dodgson.org/omo/t/?date=20080806#p01</a></li>
</ul>
<p>と 4 つも URL があった. 面倒なので放置していたけれど, 
ブックマークのコメントを読むのが不便という苦情もあって直してみた. 
具体的には URL を steps.dodgson.org に統一するのと, 
tdiary をぱちって #p01 のついたフィードを出力しないようにした. 
これからは</p>
<ul>
<li><a href="http://steps.dodgson.org/?date=20080811">http://steps.dodgson.org/?date=20080811</a></li>
</ul>
<p>という形式で一本化される, はず...</p>
<p>テーマは<a href="http://www.dodgson.org/omo/t/?date=20060625">前回</a>のように
wordpress 用をポートした. 
(<a href="http://tequilo.de/wordpress/light-green-template/">もとねた</a>.) 
白地が多すぎる気もするけれど, しばらくはこれで. 
かっこいいのを見付けたら乗り換えることにします. </p>
<p>ほんとはモダーンなかんじのツールやサービスに乗り換える気でいたんだけれど, 
plugin を含めて Wiki syntax に対応しているものは相変らず見当らなかった. 
はてなダイアリーくらい. 
いっそ wiki の hosting を使おうかとちょっと物色したところ, 
<a href="http://www.wikidot.com/">wikidot</a> はけっこういいかんじ. 
でも feed が全文入っておらずあきらめた. がっくし... 
というわけで今後もしばらく tdiary を使ってゆきます. </p>
