---
title: "今週の断線活動"
date: 2009-03-08
---
<h3>今週の断線活動</h3>
<p>めずらしく宴会が二件あり, あとはお仕事がたてこみ, 帰宅して寝るだけの日々でした. 
断線に挫ける気はまったくしないけれど, 何もない日々の話をここに書くのは心苦しい... 
しばらく似たような生活が続きそうなので, 断線報告は月次にしようと思います. 次回は 4/6. </p>
<p><iframe src='//www.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ki9bmkccbuik4h4sl1bdtjsvm0%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=Asia%2FTokyo' style=' border-width:0 ' width='400' height='400' frameborder='0' scrolling='no'></iframe></p>
