---
title: "情報は自由を欲しているけれど"
date: 2009-01-10
---
<h3>情報は自由を欲しているけれど</h3>
<p><span class='image'><a href='http://www.amazon.co.jp/The-Media-Lab-Inventing-Future/dp/0140097015%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0140097015' class='bookcover'><img data:asin='0140097015' class='asin image-right' src='http://ecx.images-amazon.com/images/I/71PJ3BGNFZL.gif'></span></a></span></p>
<p>iTunes Music Store の音楽が DRM free になったと, 同僚のアップルファンが喜んでいた. 
Windows 入りのノート PC が壊れて以来 iPod に音楽をとりこめないままの私は
iTunes に腹が立っていたので, 
(VirtualBox + Windows XP 上の iTunes は音楽 CD のとりこみに失敗する.) 
つい "でも AAC が patented なので free とはいえませんね" などと毒づいてしまった. 
大人気なかったと反省している. 
前よりはよくなったのだから文句を言う筋合いじゃない. 
Linux ユーザに iPod は身に余る. Macbook がほしい...</p>
<p>奇しくも同じ日, Stewart Brand の "<a data:asin='0140097015' href='http://www.amazon.co.jp/The-Media-Lab-Inventing-Future/dp/0140097015%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0140097015'>The Media Lab</a>" 
が届いた. 
1980 年代に出版された本で, 古本屋に注文したまま忘れていた. 
Steward Brand は "Information wants to be free" という
有名な台詞の言いだしっぺとして知られている. 
"The Media Lab" は出典の一つだ. (Brand はあちこちでこの台詞を使っていた.) </p>
<p>"Information wants to be free" / "情報は自由を欲している" は
ヒッピー文化からオープンシステムまで
様々な活動家のプロパガンダに広く使われてきた. 
けれど実は "Information also wants to be expensive." という続きがある, 
なんてのもそれなりに知られた話. 
この続きを読むと, 情報は "自由を欲している" というより 
"タダになりたがっている" といった方が妥当そうだ. 
実際プロパガンダ目的以外で引用されるときには, そのような日本語をあてがわれることが多い. </p>
<p>結局 Brand は何を言いたかったのか. 
権威主義者の私は原典を当たろうと件の本を注文したのだった. 
以下は該当箇所の引用:</p>
<blockquote><p>Information wants to be free. Information also wants to be expensive.
Information wants to be free becasuse it has become so cheap to distribute, copy, and recombine - 
too cheap to meter. It wants to be expensive because it can be immeasurably valuable to the recipient. 
That tension will not go away. It leads to endless wrenching debate about price, copyright, 
"intellectual property", and the moral rightness of casual distribution, because each round of
new devices amake the tension worse, not better.</p>
</blockquote>
<blockquote><p>情報はタダになりたがっている. 情報は高価にもなりたがっている. 
情報がタダになりたいのは, 配布や複製, 再結合が安価になったからだ. 安過ぎて価格がわからないくらいだ. 
情報が高価になりたいのは, それが受け手にとって大きな価値を持ちうるからだ. 
この葛藤がなくなることはないだろう. 価格, 著作権, "知的財産", カジュアルな配布の倫理的正しさを巡る身を裂くような議論が, 
終わることなく続くだろう. 新しい機器の登場によって状況が悪くなることはあっても, 良くなることはないからだ. </p>
</blockquote>
<p>Brand は特段 free を支持していたわけでもなく, expensive の肩を持つでもなく, 
情報の電子化によって両者の緊張が強まるのと主張していたのだった. 
because 以下の説得力はいまいちな気もするけれどそれは時代というもの. 
テクノロジーが庶民に広まりはじめて間もない 1987 の本ですからね... 
(初代 CD プレイヤー発売が 1982 年.)</p>
<p>議論の中で, Brand はソフトウェアのコピーに関する面白いエピソードを紹介している. 
Borland が "Sidekick" という PIM ソフトを販売する際, 
55 ドルのコピープロテクト版と 85 ドルのコピーフリー版を用意した. 
するとコピーフリー版の方が 5 倍も売れたというのだ. 
人々は 30 ドル多く(expensive)払うことでコピーの自由(free)を買いとった. 
iTunes Plus の手口は 20 年来のものだったわけ. </p>
<p>そのほか, 
コピーのコストが低い結果として東京のレンタルビデオ屋にある 70% のビデオが
海賊版だったという, 
今となっては冗談みたいな調査結果が紹介されたり, 
情報そのものより発信者の権威に金を払う傾向を指摘し, 広告時代の到来を予測したり, 
"Information wants to be (politically) free" と censorship について議論したり. 
古いなりに面白い本だった. </p>
<h4>レトリックの力</h4>
<p>主張の是非はさておき Brand の技巧には目をひかれる. 
"information" は人間ではないのだから, 何かを want することはない. 
けれど Brand はそれをさらりと擬人化(?)し, 
free であること(あるいは expensive であること)を
情報自身の意思であるかのように語った. </p>
<p>そして &lt;free&gt; のメタファが生き残った. &lt;expensive&gt; は, 
今やせいぜい &lt;free&gt; に付き添って現れるばかりだ. 
なぜ "information wants to be free" が人々の心を捉え生き残ったのか, 
理由は色々だと思う.
けれどレトリックの技巧に着目するなら, 
"wants to be free" は人としての共感のしやすさに秀でていたのではないか. 
私たちは自由でありたい. だから自由でありたいという訴えには共感をおぼえる. 
私たちは同時に(年収などが)高価でもありたいけれど, それは自由ほど声高な訴えではない. 
メタファがモノやアイデアに意思を与えるとき, 
それは人としての共感をあてにしているのかもしれない. 
情報の自由/無償化は, テクノロジーの進歩だけでなく, 
私たち自身がもつ自由への欲望に背中を押され広まった. 
それを精神的に支えたのが Brand の言葉だった...というのは過大評価だろうけれど, 
話としてはちょっと面白い. </p>
<p>さて本当のところ, information のヤツは何を望むのだろう. 
ドーキンスファンとしては "information wants to be selfish" を推したい. 
(ミームですね.) 
もちおファンは 
"information wants to survive" あたりを支持すればいいとおもう. 
いつかインフォたん同人が登場する日を願ってやまない. </p>
<h4>参考リンク</h4>
<ul>
<li><a href="http://www.asahi.com/tech/sj/long_n/03.html">ロング・ナウ協会代表、スチュアート・ブランド氏に聞く (asahi.com)</a></li>
</ul>
