---
title: "第二回 LLVM 勉強会 に出席"
date: 2009-03-25
---
<h3>近況</h3>
<p><a href="http://atnd.org/events/381">第二回 LLVM 勉強会</a> に出席. 
<a href="http://d.hatena.ne.jp/miura1729/">miura さん</a> の yarv2llvm の話を聞いて
ほーとかはーとか感心してきました. 
厳しいつっこみをしている人が隣の席にいて, 
妙に YARV に詳しいと思ったら中の人だったのが面白かった. </p>
<p>yarv2llvm は ruby というから色々大変なようだったけれど, 
ruby であれ python であれ, 既存言語の文法やバイトコードを再利用した
高速演算用言語内ミニ言語はあれば便利そう. 
何かをちょっとだけ速くしたいことはあるだろうから. </p>
<p>そのあと宴会までの時間つぶしをすこし手伝いました: 
<a href="http://www.slideshare.net/omododgsonorg/clangintro">スライド</a>.</p>
<p>年度末につき余談を書く気力なし. </p>
