---
title: "[断線部] 先週の断線活動"
date: 2009-01-25
---
<h3>[断線部] 先週の断線活動</h3>
<p>断線部員(?) が増えました. </p>
<ul>
<li><a href="http://d.hatena.ne.jp/ytomo2005/20090111">http://d.hatena.ne.jp/ytomo2005/20090111</a></li>
<li><a href="http://blog.8-p.info/2009/01/unwired-life">http://blog.8-p.info/2009/01/unwired-life</a></li>
</ul>
<p>先週は <a href="http://d.hatena.ne.jp/kousuke-i/20081203/1228314824">この紹介記事</a> 
をみて, なんとなく速読を練習してみた. 
リンク先の記事だけでは訓練の動機や根拠がよくわからなかったから, 
まず <a data:asin='073520019X' href='http://www.amazon.co.jp/Breakthrough-Rapid-Reading-Peter-Kump/dp/073520019X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D073520019X'>元ねた</a> の本を読んでみる. 
で, やってみたけれど上手くいく手応えがない. 
元ねたの手法は(つまりリンク先の手法も), 主に眼球の移動速度不足と, 意識とびによるスキップがボトルネックだと仮定している. 
だから行を指でなぞることで, 
意識的に速度を引き上げつつ読み直し (regress) しないように矯正する. 
これは英語ネイティブな人には有効な方法なのかもしれないけれど, 
私のように眼球移動以外がボトルネックだと役に立たない. 
理解速度が指においつかず, 内容のわからないナナメ読みになってしまう. 
2 分毎の思いだし作業 (recall) をしてみると, ほんとに理解してなくて愕然とする. 
I/O が遅いと思って SSD を買ったら CPU が ARM7 でコードの中身は有限要素法だった気分. 
除算も浮動小数点もねーですよ... 
もうしばらく練習を続けようかとも思ったけれど, 
この話をした読書術マニアの友人も同じ結論だという. 
うまい話はなかった. そのうち気がむいたら真面目に英語を勉強しよう. 
ちなみに速読マニアのニルバーナは集中力を保つ方法論にあるとのこと. </p>
<p>ただ速読の技法自体には多少の説得力を感じた. 
同じ方法論を日本語に転用することはできそうなので, 日本語で練習すると良いかもしれない. 
アルゴリズムの本なんかは日本語でも眼球以外がボトルネックになるけれど, 
世間の話題についていくためだけに読んでいるような啓蒙書の類を飛ばしよみするのには使えそう. </p>
<p>あとは<a href="http://codezine.jp/devsumi/2009/">でぶさみ</a>の
スライドを作ったりしていたけれど, 
これもあらすじを友人に話したところ "嘘じゃん" という指摘をうけたので直すことに. とほほ...
(追記: 直しは済んでだいぶ進んだ.)</p>
<p>そのほか <a href="http://www.masonchang.com/2009/01/tamarin-tracing-published-paper.html">もうすぐ Tamarin Tracing の paper がでるよ</a> というので, 
"ファンなので早くよみたいです" とメールでおねがいし, 独占(でもない)入手. 
当人たちが書いているだけあって詳しい. 
トレードオフの判断理由などコードからはわからない話も多く楽しめた. 
3 月の conference が終わったら公開されるらしいので, 
ファンの皆様は楽しみにしておくと良いのではないでしょうか. </p>
<h5><a href="http://steps.dodgson.org/?date=20090102">断線部</a>カレンダー:</h5>
<p><iframe src='//www.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ki9bmkccbuik4h4sl1bdtjsvm0%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=Asia%2FTokyo' style=' border-width:0 ' width='400' height='400' frameborder='0' scrolling='no'></iframe></p>
