---
title: "[断線部] ハイテク企業文化をめぐる数冊"
date: 2009-04-18
---
<h3>[断線部] ハイテク企業文化をめぐる数冊</h3>
<p>ろくに勉強もせずコードも書かず(いつも書いてませんが), もそもそと本ばかり読んでいた. </p>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%AA%E3%83%BC%E3%83%80%E3%83%BC%E3%83%BB%E3%82%BB%E3%83%A9%E3%83%94%E3%83%BC-%E3%83%9E%E3%82%A4%E3%82%AF%E3%83%AD%E3%82%BD%E3%83%95%E3%83%88%E3%81%AE%E5%BC%B7%E3%81%95%E3%81%AE%E7%A7%98%E5%AF%86-%E3%82%A2%E3%83%B3%E3%83%8A%E3%83%BB%E3%83%AD%E3%83%BC%E3%83%AA%E3%83%BC/dp/4484091046%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4484091046' class='bookcover'><img data:asin='4484091046' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41Voxn2V0hL.jpg'></span></a></span></p>
<p>まず Microsoft ファンとして <a data:asin='4484091046' href='http://www.amazon.co.jp/%E3%83%AA%E3%83%BC%E3%83%80%E3%83%BC%E3%83%BB%E3%82%BB%E3%83%A9%E3%83%94%E3%83%BC-%E3%83%9E%E3%82%A4%E3%82%AF%E3%83%AD%E3%82%BD%E3%83%95%E3%83%88%E3%81%AE%E5%BC%B7%E3%81%95%E3%81%AE%E7%A7%98%E5%AF%86-%E3%82%A2%E3%83%B3%E3%83%8A%E3%83%BB%E3%83%AD%E3%83%BC%E3%83%AA%E3%83%BC/dp/4484091046%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4484091046'>リーダー・セラピー</a> から. 
Microsoft の専属カウンセラーである著者が, 
自身が STCT(Short Term Corporate Therapy) と呼ぶ技法で
どのように悩めるリーダー達の手助けをしているかという話. 
信念, 自信, 自己認識, 信頼, 権力といったリーダチックなトピックに対し, 
セラピストとしてどのように問題を扱ってきたかを説明していく. 
社内セラピストのいない会社に勤める身としては基本的に他人事な内容. </p>
<p>心理学用語と自己啓発用語が混在しているのは面白かった. 
リーダーが信念を貫くには自信を持つ必要がある...
という自己啓発テイストの課題にむけたカウンターに認知療法が登場したり, 
ビジョンや信念を支える物語...の出所を幼少期の体験に求めてみたり, 
逆に自分という人間を見直すカウンセリングのプロセス...に同僚からの 360 度評価が登場したり. 
あふれるハイブリッド感. </p>
<p>全体としては面白いようなよくわからないような本だったけれど, 
信念を支えるには物語が必要だという下りに触発され, "洗脳するマネジメント" を読み直した. </p>
<h4><a data:asin='4822244679' href='http://www.amazon.co.jp/%E6%B4%97%E8%84%B3%E3%81%99%E3%82%8B%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%7E%E4%BC%81%E6%A5%AD%E6%96%87%E5%8C%96%E3%82%92%E6%93%8D%E4%BD%9C%E3%81%9B%E3%82%88-%E3%82%AE%E3%83%87%E3%82%AA%E3%83%B3%E3%83%BB%E3%82%AF%E3%83%B3%E3%83%80/dp/4822244679%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822244679'>洗脳するマネジメント</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E6%B4%97%E8%84%B3%E3%81%99%E3%82%8B%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%7E%E4%BC%81%E6%A5%AD%E6%96%87%E5%8C%96%E3%82%92%E6%93%8D%E4%BD%9C%E3%81%9B%E3%82%88-%E3%82%AE%E3%83%87%E3%82%AA%E3%83%B3%E3%83%BB%E3%82%AF%E3%83%B3%E3%83%80/dp/4822244679%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822244679' class='bookcover'><img data:asin='4822244679' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41Ulw-qZgWL.jpg'></span></a></span>
今はなき DEC をめぐる企業民族誌. 
もとは <a data:asin='1592135463' href='http://www.amazon.co.jp/Engineering-Culture-Commitment-High-tech-Corporation/dp/1592135463%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1592135463'>Engineering Culture</a> というタイトルだった. ひどい邦題だ. 
著者のクンダは DEC の企業文化を調査するため, 
半年かけて実際の DEC オフィスをフィールドワークする. 
この本はその成果を民族誌としてまとめたもの. 
調査は 1985 に行われたとあるから, DEC がまだ元気だったころの話だとわかる. </p>
<blockquote><p>服装は規定がゆるいどころか, 味もそっけもない. ビジネススーツは仰々しく場違いに見えるし, 
普通は "ビジネスタイプ" の外の世界を連想させる. 
社員は全般に, 不自然なほど気楽に構え, 一見自信がりそうな, 
猛烈に働きそれを楽しんでいることを妙に印象づけようとする態度が入り混じった感じがする. 
...
平日のリンズヴィルには, 努力と気楽さ, 自由と規律, 仕事と遊びの混じりあった住人気質が
出ているようだ. 早朝, オープンカフェテリアでコーヒーや朝食をとったあとは, 
屋内の大半を占めるブースの迷宮が一日の舞台となる. 
そこでは, コンピュータの端末, キーボード, プリンターからの静かだが途切れることない
機械音を背景に, 見たところ雑多な個人の活動と複雑なやりとり(相互行為)の
ネットワークが展開される. オフィスを一見しただけでは, 
持ち主の身分, 地位, 権力の違いを見分けるのは難しい. 
...
観察者はリンズヴィルでかいま見た光景と, 企業組織における労働生活の
伝統的, 常識的なイメージを比べて, これはいったい何だろうと思うかもしれない. </p>
</blockquote>
<p>クンダは DEC の文化がどのようにメンテナンスされ, 
社員はそれをどう受けとめているかに焦点をあわせ, 
インタビューもまじえながら DEC での生活を綴っている. 
社内のあちこちに展示された企業理念や経営者の言葉, 新人研修の内容といった
トップダウンの文化エンジニアリングの様子を伝える一方で, 
そうした研修や社内のイベントに参加する社員の様子, パーティションの内側, 
クリスマスの夜に帰宅する正社員に視線をおくる警備員のひとこまなど, 
下位文化や周縁への観察もある. </p>
<p>私個人はこれを, ハイテク企業での暮らしをつづるある種のファンタジーとして読んだ. 
数年前に読んだときは, 企業民族誌の面白さに熱狂したのを覚えている. 
けれど読みなおしてみると, あの熱狂は民族誌の面白さよりむしろ
私のハイテクコンピュータ企業への強い憧れを反映したものだったことに気がつく. 
(じっさい, 私は最初にこれを読んだあと何冊か民族誌関係の本を読んだのだけれど, 
期待したほどの興奮はなかった.) 
この中で綴られる DEC の暮らしは, 
私たちが報道などで伝えきく独占的アメリカハイテク企業のそれと良く似ている. 
1980 年代にはまだ特異だったかもしれない DEC 的企業観が 
その後のコンピュータ産業の発展に伴い一定の地位を得たのだろうか. </p>
<p>私の憧れとは裏腹に, クンダは DEC の "文化工学" に醒めた目を向ける. 
それを &lt;誘惑と強制の絶妙なバランスと模範的圧力を組み合わせた "文化のワナ"&gt; 
と批判し, 支配下にある従業員の自律性が損なわれる心配をする. 
一方で手口の巧妙さ, そして "自律的" に振る舞うことを "求める" 文化の強さや矛盾への興味は隠さない. 
しかし関心のの軸はあくまで人の自由にある印象をうけた. </p>
<h4><a data:asin='0691127956' href='http://www.amazon.co.jp/Gurus-Hired-Guns-Warm-Bodies/dp/0691127956%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0691127956'>Gurus, Hired Guns, and Warm Bodies</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Gurus-Hired-Guns-Warm-Bodies/dp/0691127956%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0691127956' class='bookcover'><img data:asin='0691127956' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51yyJ6mEz-L.jpg'></span></a></span></p>
<p>クンダの新しい著作は, ハイテク産業の契約社員を主役に据えている. </p>
<blockquote><p>ライトブルーの T シャツにチノパンという Kent Cox のいでたちからは, 
彼の中に翻る雇用への反旗を伺うことはできない.
アメリカ産業の地平にはいま, そうした反旗が拡がりつつある. 
Kent はタトゥーもピアスもしていないし, 労働組合のカードも持っていない. 
世界を変えようなんて思っていない. 彼の情熱はコードに, 
そして社交ダンスと SF に注がれている. 
政治に興味はない ... なかでも組織の政治というやつには無関心だ. </p>
</blockquote>
<p>題材の選択に自由や文化的周縁といったクンダの興味が反映されていて面白い. 
"Gurus..." のあとがきで, クンダは自由と仕事のバランスをとる新しい働きかたとして, 
保留つきながら "Itinerant Experts" に期待をしていた気がする. 
(前に読んだので覚えてない...)
ただ取材が行なわれた 2001 年頃は dot-com バブルだったはず. 
不景気下の itinerant experts がどんなものになるのかはよくわからない. </p>
<p>表題の Gurus, Hired Guns, Warm bodies はそれぞれ契約社員のステレオタイプをあらわしている. 
一目おかれたテクノロジーのグルから, 一山いくらの頭数要員まで, というわけ. 
個人的には取材対象の中に人材斡旋業者が含まれているのが面白かった.  
雇う側と雇われる側に仲介する側を加え三者三様の思惑が交互にあらわれるストーリー構成で, 
売り買いだけの素朴な市場観より立体的な視点で雇用市場を眺めることができた. </p>
<h4><a href="http://item.rakuten.co.jp/book/4488912/">DEC の興亡</a></h4>
<p><img width='106' src='http://www.kamedabook.com/sozai/book26.gif' class='right' /></p>
<p>クンダの指導教官の一人であり企業文化の専門家でもあるエドガー・シャインにも, 
DEC に関する著作がある. <a href="http://item.rakuten.co.jp/book/4488912/">DEC の興亡</a> は, 
DEC がどのように隆盛を誇り, その後どう滅びていくのかを, 
企業文化を切り口に掘り下げていく. (なぜか amazon で売ってない. 楽天 books で注文.)</p>
<blockquote><p>DEC の終焉は, 単純に語られることが多いが, 納得のいく説明を得られることはほとんどない. 
単純な説明によれば, ケン・オルセンはビジョンを失い, 適切な行動を取れず, 
もはや当時のビジネス状況からは時代遅れになっていたにも関わらず, 
自分の価値観に固執したため, DEC は終焉を迎えたという. 
このような説明は, かなり粗雑であり, 事実ともかけはなれている. 
ケン・オルセンがあと10年早く引退していたら, 今頃 DEC はどうなっていたかということは, 
誰にもわからない. しかし, 本書で分析していくように, 1980 年代以降に DEC に
起こったことは, 1960 年代に起こったことから予想できたことであり, 
DEC が陥った苦難の多くは, 従業員やマネージャたちが心から愛し, 
価値を置き, どんなことがあっても残しておきたいと願った文化や経営システムから生じた, 
順調な成長と差別化が原因であった. 文化そのものが, 技術や組織と共に
進化することはなかった. 私たちは,文化をそれほどまでに強固なものにし, 
進化を許さなかった力関係が何であったのかについて, より深く理解しなければならない. </p>
</blockquote>
<p>著者のシャインは, DEC の CEO ケン・オルセンのコンサルタントとして 30 年間 DEC に
出入りし, 経営の会議に参加したりオルセンに提言を行ったりしている. 
先の "洗脳するマネジメント" と比べ分析的な筆致ではあるが, 
シャインの DEC に対する思い入れの強さは読者に伝わってくる. 
DEC 文化と遭遇したときの感動, やがて訪れる落胆...  </p>
<p>DEC の終わりを説明するもう一つのよく知られた説は,
<a data:asin='4798100234' href='http://www.amazon.co.jp/%E3%82%A4%E3%83%8E%E3%83%99%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3%E3%81%AE%E3%82%B8%E3%83%AC%E3%83%B3%E3%83%9E%E2%80%95%E6%8A%80%E8%A1%93%E9%9D%A9%E6%96%B0%E3%81%8C%E5%B7%A8%E5%A4%A7%E4%BC%81%E6%A5%AD%E3%82%92%E6%BB%85%E3%81%BC%E3%81%99%E3%81%A8%E3%81%8D-Harvard-business-school-press/dp/4798100234%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798100234'>イノベーションのジレンマ</a> に登場する破壊的イノベーション理論だと思う. 
シャインの説明はそれと重複する部分もあるけれど, 
経営者がジレンマを制御可能であるというアイデアは &lt;粗雑にすぎる&gt; とみなすかもしれない. </p>
<p>一方でゴードン・ベルによるあとがきは, 
文化的な見方だけでもやはり片手落ちなのだと "文化理論" 厨な気分に釘を刺す. 
ベルは DEC の失敗をこう切りすてる:</p>
<blockquote><p>実際には, これは単純に, 
DEC のトップを占めたを占めたリーダー数名の無知や無能のせいであり, 
そしてある程度は, ほとんど効力の無かった取締役会のせいだった. ...
DEC のリーダー達は, きわめて重要な技術分野や製品分野の面において表面化していた
コンピュータ業界をまったく理解していなかった.</p>
</blockquote>
<p>&lt;無知や無能&gt; でない企業の例として Sun Microsystems が上げられているのは
皮肉というか切ないというか... (原書は 2003 年出版.)</p>
<p>本書後半は DEC の遺産にも言及している. さまざまなテクノロジが DEC から生まれた. 
また DEC 出身のギョーカイ人は各社で活躍している. 
Microsoft の "戦うプログラマ" デイブ・カトラー, 
あとがきを書いたゴードン・ベルを筆頭に, 
HP や Sun の取締役にも DEC 出身者が幅を聞かせていると紹介されている. 
そういえば Google で MapReduce や BigTable を作ったインフラのエース
<a href="http://research.google.com/people/sanjay/index.html">Sandy Ghemawat</a> や 
<a href="http://research.google.com/people/jeff/index.html">Jeff Dean</a>, 
<a href="http://research.google.com/pubs/author24014.html">Michael Burrows</a> 
も DEC 出身者だった. (Michael Burrows については <a href="http://stnjs.civicactions.net/node/60">この読み物</a> が
しびれる.)</p>
<p>自由闊達な, 今や陳腐ですらある "大学の研究室のような" 雰囲気をもつ
情報ハイテク企業のステレオタイプも DEC の影響はあるだろう. 
DEC という大樹が朽ちて積もった大地の上に今の情報産業がある...
なんてのは 4 割がファンタジー, 4 割が感傷だとしても, のこりはそこそこ事実かもしれない.</p>
<h4><a data:asin='4561233938' href='http://www.amazon.co.jp/%E4%BC%81%E6%A5%AD%E6%96%87%E5%8C%96%E2%80%95%E7%94%9F%E3%81%8D%E6%AE%8B%E3%82%8A%E3%81%AE%E6%8C%87%E9%87%9D-%E3%82%A8%E3%83%89%E3%82%AC%E3%83%BC%E3%83%BBH-%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3/dp/4561233938%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4561233938'>企業文化 生き残りの指針</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E4%BC%81%E6%A5%AD%E6%96%87%E5%8C%96%E2%80%95%E7%94%9F%E3%81%8D%E6%AE%8B%E3%82%8A%E3%81%AE%E6%8C%87%E9%87%9D-%E3%82%A8%E3%83%89%E3%82%AC%E3%83%BC%E3%83%BBH-%E3%82%B7%E3%83%A3%E3%82%A4%E3%83%B3/dp/4561233938%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4561233938' class='bookcover'><img data:asin='4561233938' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51DTVNRS9BL.jpg'></span></a></span></p>
<p>シャインの企業文化論に興味が湧いたので, そのものずばりな著作を読んでみた. 
&lt;生き残りの指針&gt; と書くと大仰だけれど, 原題は &lt;survival guide&gt;. 
ケーススタディである "DEC の興亡" に対する教科書という位置付けで捉えて良いくらい
関係の深い内容になっている. ただこっちは DEC がどうでもいい人にも興味深く読めると思う. </p>
<blockquote><p>文化, 特にその本質を操っているのは, 学習され共有された暗黙の仮定である. 
人々はその仮定をもとにして毎日の行動をとる. 
その結果, "ここでのやり方" と一般に思われていることができあがってくる. 
しかし, 組織で働く従業員であっても毎日の行動のもとになっている仮定を, 
助言なしには再構築することはできない. 
彼らは, こういうやり方をするものだと知っていて, 
そのやり方でうまくいくと思っているだけだ.
彼らの行動が予測可能なものとなり, 意味があるもとなるのかは, 暗黙の仮定に依存する. 
そのような仮定を知ることにより, なぜ彼らが観察したような行動を取るのに至ったかを
理解しやすい. しかし, その逆は大変困難である. 
行動を観察するだけでは, 仮定を推測することはできない. 
...</p>
</blockquote>
<p>まず(企業)文化のレベルには表層の目に見える "文物" と
社訓みたいな "標榜されている価値観" があるが, 
その奥深くには "背後に潜む基本的仮定" があると指摘する. 
基本的仮定は定義からふつう言語化されていないが, 
あたりまえのことだけに一番強力に根付いている. 
けれど言語化されていないため上のレイヤにある "標榜されている価値観" や
組織での新しい試みと食い違うことがある. 
そして, その食い違いによって "標榜されている価値観" を損ねたり, 試みが失敗したりする. </p>
<p>なので組織を変えようとする人はまずは根にある言語化されていない文化を
知ることが大事だけれど, なかなか大変だという話をして, 
文化の構築プロセスやアセスメントの方法を紹介してから変革の手口を議論する. 
変革のプロセスでは既存の文化を捨てる "アンラーニング" がおこるため, 
その不安や不満をどう扱おうかなど, とても面白かった.</p>
<p>会社生活にありがちな, なんのコピペだとぼやきたくなる数々の提言や改革におびえながら, 
私はその無茶振りの程度や &lt;白々しさ&gt; は何なのだろうと思っていた. 
明示された価値観と暗黙の前提のギャップが正体だという説明はとても腑に落ちる. 
読後は意思決定への見方をゆさぶられ, もう組織の決定が刻む企業文化の造形一つ一つから
目をそらせなくなる. </p>
<p>自然と自分のいる/いた組織のもつ暗黙の仮定に興味の中心は向かうけれど, 
それを明らかにするのがなかなか大変なのはこの教科書にあるとおり. むむ...</p>
<h4><a data:asin='4641161682' href='http://www.amazon.co.jp/%E7%B5%84%E7%B9%94%E3%81%A8%E7%B5%8C%E5%96%B6%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6%E7%9F%A5%E3%82%8B%E3%81%9F%E3%82%81%E3%81%AE%E5%AE%9F%E8%B7%B5%E3%83%95%E3%82%A3%E3%83%BC%E3%83%AB%E3%83%89%E3%83%AF%E3%83%BC%E3%82%AF%E5%85%A5%E9%96%80-%E4%BD%90%E8%97%A4-%E9%83%81%E5%93%89/dp/4641161682%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4641161682'>実践フィールドワーク入門</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E7%B5%84%E7%B9%94%E3%81%A8%E7%B5%8C%E5%96%B6%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6%E7%9F%A5%E3%82%8B%E3%81%9F%E3%82%81%E3%81%AE%E5%AE%9F%E8%B7%B5%E3%83%95%E3%82%A3%E3%83%BC%E3%83%AB%E3%83%89%E3%83%AF%E3%83%BC%E3%82%AF%E5%85%A5%E9%96%80-%E4%BD%90%E8%97%A4-%E9%83%81%E5%93%89/dp/4641161682%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4641161682' class='bookcover'><img data:asin='4641161682' class='asin image-right' src='http://ecx.images-amazon.com/images/I/518BSBCPPGL.jpg'></span></a></span></p>
<p>そんじゃフィールドワークで企業文化を明らかにするぜ, ということで読んでみた. 
副題に "組織と経営について知るための" とあることだし...</p>
<blockquote><p>フィールドワーカーというのは, 自分自身をどんな些細なことに対しても
新たな驚きと発見を忘れない "異人" にしておく必要があるのだと言えます.
そして, 異人であるフィールドワーカーは, 異文化との出会いによる
カルチャーショック体験や "居心地の悪さ" をてこにして, 
単に研究対象となっている社会の成り立ちやその文化のあり方について理解するだけでなく, 
自分が生まれ育ってきた社会のあり方についても理解を深めていくのだと言えます. </p>
</blockquote>
<p>結論からいうと会社員が自分の勤め先をフィールドワークするのは全然ムリそう. 
基本的によそもの, &lt;異人&gt; としてのフィールドワーカーが部外者の目で観察するからこそ
文化の "基本的仮定" を明らかにすることができるのであり, 
すっかり適応してしまった organizational-dog には難しい相談だ. </p>
<p>それでもこの本自体はなかなか面白かった. 
フィールドワークのやりかたを紹介しながら, 
良いフィールドワークのためには名作を読もうと
多くのエスノグラフィーや周辺図書を紹介している. 
このブックガイドが良い. 十数冊紹介されているなかで, 
私が読んでいた三冊
("管理される心", "フィールドワークの物語", あと例の "洗脳するマネジメント") は, 
どれも例外なく面白い読み物だった. 他のにも期待してしまう. </p>
<p>フィールドワークの方法論で個人的に目を引かれたのは, 
"フィールドノート" のつけかたと, それをもとにした民族誌本体の書き方の話. 
フィールドノートは, 実際に参与しているあいだリアルタイムでつけるものと, 
あとから(その日の夜などに)清書するものがあるらしい. 
リアルタイムのメモをおおっぴにやるのは印象が悪い一方で, 
最終的な民族誌にリアリティをあたえる記憶は残したい. 
正攻法のないそんな葛藤の中でも, 最終的な文章を思いうかべながら観察をして, 
自分の記憶をうまくおぎなう(覚えるのが苦手なことを中心に書く), 
そういう "物書きモード" のノートが大切であるという. </p>
<p>これは面白い指摘だとおもう. 
私も仕事の様子を文章にすることには少し興味があるので, 隙あらばこっそりやってみたい. 
あとは新卒で入社した若者たちが組織に馴染む前に会社の様子を書いたら
面白いものが出来ると思うんだけどなー. 
会議の様子を綴るスレ, とかを匿名掲示板でたてるのがいいかもしらん. 
若者の方が読まれておられましたら社外秘に配慮のうえご検討ください. 
匿名掲示板じゃなくてもいいけど. </p>
<p>まあフィールドワークに限らず, 人々や自分自身の様子を注意深く観察することが
意義深い行いであるのは, 先の "リーダーセラピー" の自己アセスメントのくだりや
ワインバーグ "スーパーエンジニアへの道" などを読めばなんとなく納得できるよね. </p>
<h4><a data:asin='4532311659' href='http://www.amazon.co.jp/%E5%88%B6%E5%BA%A6%E3%81%A8%E6%96%87%E5%8C%96%E2%80%95%E7%B5%84%E7%B9%94%E3%82%92%E5%8B%95%E3%81%8B%E3%81%99%E8%A6%8B%E3%81%88%E3%81%AA%E3%81%84%E5%8A%9B-%E4%BD%90%E8%97%A4-%E9%83%81%E5%93%89/dp/4532311659%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4532311659'>制度と文化 組織を動かす見えない力</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%88%B6%E5%BA%A6%E3%81%A8%E6%96%87%E5%8C%96%E2%80%95%E7%B5%84%E7%B9%94%E3%82%92%E5%8B%95%E3%81%8B%E3%81%99%E8%A6%8B%E3%81%88%E3%81%AA%E3%81%84%E5%8A%9B-%E4%BD%90%E8%97%A4-%E9%83%81%E5%93%89/dp/4532311659%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4532311659' class='bookcover'><img data:asin='4532311659' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51K0226PXJL.jpg'></span></a></span></p>
<p>同じ著者(ら)による企業文化論. </p>
<blockquote><p>無条件に統一文化仮説を謳う野放図な態度を改め, 
組織をめぐる様々な文化現象を丹念にひもといていくならば, 
そこには組織体全体の水準での文化だけでなく, 個々の組織を越えた業界の持つ文化や, 
また各々の組織の中に存在する各種の部門の持つ文化が見えてくる. </p>
<p>しかしながら, 前の章の最後に述べたように, もはや単純素朴な統一文化仮説
に安住してはいられないにしても, それでおなお各々の組織が他の組織とは異なる
ユニークな存在として考えられ, また生きられているというのも, 厳然たる事実だ. 
では, より広い制度的文脈ではなく, 組織内の諸々の下位集団や人間関係だけでもなく, 
あくまでも組織体それ自体の水準でユニークさが浮き彫りになりうるというのは, 
いったいどのようなメカニズムによるのであろうか. 
あるいはもう少し身近なことで言えば, 
どうして人は業界を生きたり小さな職場を生きたりするだけでなく(あるいはそれ以上に), 
会社全体をも生きているのだろう. </p>
</blockquote>
<p>これは難しかった... 既存の研究を概観しながら, 
企業文化の定義, 性質, 様々な解釈を順に議論し, 
企業論ではどのような文化を良しとする流儀があるのか, 
またそれぞれへの批判, トレンドはどう遷移してきたのかを解説していく. 
私のようなにわか読者にはしんどい. きちんと勉強したい人には良いのかもしれない. 
参考文献もきちんとして, さながらサーベイのよう. </p>
<p>個人的に一つおもしろかったのは, まあ当たり前の話なんだけれど, 
組織の文化は外側にある業界の文化に影響を受けるし, 
個人も組織の文化だけではなく外側の, たとえば職能の文化にも影響されているという話. 
本文中では医者が職能の例にあがっていた. </p>
<p>プログラマにも職能独自の文化やイデオロギーはあるだろう. 
&lt;三大美徳&gt;, &lt;それが僕には&gt;, &lt;コード面接&gt; といった明文化されたイデオロギー, 
セールスパーソンに対するコンプレクスや自然言語への反目のような暗黙の了解, 
YAGNI や DRY のようなサブカルチャーから, 書いたコードで一山あてる野望の原型まで. 枚挙に暇がない. </p>
<p>私は会社の価値観と意見があわないときは会社が間違っていると感じるけれど, 
プログラマの価値観と自分に食い違いがあると自分が間違っていると感じる. 
これは会社がダメでプログラマが偉いという話ではなく, 
私がプログラマの文化, 価値観に強く支配されているということだと思う. 
ウェブの台頭がプログラマの職能文化を強めたことを思えば, 
私のようなウェブ中毒者がその支配下にあるのは自然なことに違いない. </p>
<p>文化について色々考えることはあるけれど, どうにも繊細な話題だけに書くのがはばかられてしまう. 
民族誌の語法がその敷居を下げてれればいいのにとおもう. 練習しないとね. </p>
