---
title: "ハードディスクに耳をすませば"
date: 2009-02-14
---
<h3>ハードディスクに耳をすませば</h3>
<p>"<a href="http://berkeleyclouds.blogspot.com/2009/02/above-clouds-released.html">Above the Clouds: A Berkeley View of Cloud Computing</a>" を読んだ. 
UC Berkley の <a href="http://radlab.cs.berkeley.edu/wiki/RAD_Lab">RAD Lab</a> 
が書いたクラウドのまとめ記事. 
RAD Lab は今時の分散システムを相手にした研究室で, 
スポンサーも Google, Sun, Microsoft といった分散システム持ちの大企業が名を連ねている. 
研究員に David Patterson (パタヘネのパタ) が入っているあたりからも読み物への期待は高い. 
実際よく書けていた. 私が読んだクラウド読み物の中ではいちばんくっきりしていたと思う. </p>
<p>記事ではクラウドを "公共設備としての計算機" という長年の夢の延長と位置付けた上で, 
その新規性や利点, 可能性を概観する. 
そして現存するクラウドサービスを計算モデルの抽象度に応じて分類し, 
更にコストモデルの検討, クラウド普及を妨げている 10 大障害と解決策の提案へ話は続く. </p>
<p>Jim Gray が 2003 年に書いた 
"<a href="http://research.microsoft.com/apps/pubs/default.aspx?id=70001">Distributed Computing Economics</a>" 
から &lt;データセンタのコスト性能比を検討しないシステムベンダは早晩滅びる&gt; 
という Gray 預言(誇張あり)を引き, 
コスト計算のパラメタにコスト/性能比のリストを引用する.  
そして数字を最新のものに更新した上で Amazon S3 のおトク度などを議論している. 
非常に興味深い比較ではあるものの, 私は正直クラウドとかよくわかんないのでこの話は終わり. 
それより Jim Gray に宛てられた追悼記事をひとつ読んでみたい. 
紹介しわすれていたのを預言で思いだした. </p>
<h4>"Give me your 20 most important questions you would like to ask your data system"</h4>
<p><a href="http://mags.acm.org/communications/200811/">CACM 2008 年 11 月号</a> は Jim Gray 特集だった. 
なかでも共同研究者の一人 <a href="http://www.sdss.jhu.edu/~szalay/">Alex Szalay</a> 博士による 
"<a href="http://portal.acm.org/citation.cfm?id=1400214.1400231">Jim Gray, Astronomer</a>" は, 
Jim Gray の近年の成果から人柄までをあまねく伝える愛に溢れた文章で心を打たれた. </p>
<p>Szalay 博士は天文物理学の研究者だ. 
あるとき Charles Simonyi (!) に紹介され食事をしたのを
きっかけに Gray と意気投合し, 一緒に研究できないかと話が進んだことを回顧している. 
研究を始めるにあたって議論した時の Gray の言葉を, Szalay は覚えている:</p>
<blockquote><p>Jim は私たちの "20 のクエリー" を尋ねました. 
これは彼がアプリケーションに切り込む手口です.  
一見難しい質問に見えますが, これで彼(データベースの専門家)とこちら
(天文学者や, あらゆる科学者)が
同じ会話に飛び込めるのです. Jim は言いました.
"君がデータシステムに投げている問い合わせを, 重要なものから順に 20 個教えてくれないか. そしたら君の使うシステムを設計するよ."
経験を頼るこの簡素な方法が, Jim の想像力と組み合わさるといかに上手く働き, 
すぐ結果を出すか, 私は驚いたものです. </p>
</blockquote>
<p>回想はつづく:</p>
<blockquote><p>そのあと, Jim は私たちの計算機室を見学しようと Baltimore までやってきました.
部屋に入って 30 秒, 彼はニヤリとしました. そして, 
君達のデーターベースは設計がまずいね, と言うのです. 
私も同僚もドン引きです. あとから話したところによると, 
彼には稼働中のマシンの音が聞こえたとのこと ...
ディスクがカリカリいいすぎだから, ランダムアクセスが多すぎるとわかったんだとか. 
(...略...) 
Dell の安サーバの低レベル IO を検証して間もなく, 
ディスクはずっと静かに, そして効率よく動くようになりました. </p>
</blockquote>
<p>少年マンガ誌の連載も真っ青な逸話に, 読者である私もドン引きした. </p>
<p>このあとも Gray と著者の共同研究の話が続くのだが, 
その成果以上に Gray の精力的な人柄が印象に残る. 
朝の 7 時から夜の 11 時までぶっつづけでデバッグを続け, 
ようやく (Gray によって) バグがつぶれたものの, あたりのレストランはしまっている. 
しかし Gray は諦めずに食事を求め, サンフランシスコのはずれで
ようやくイタリアンにありつけたという話. 
サバティカルの折には天文学の教科書数冊を例のヨットに積みこんで船出, 
帰ってきたときには一端の専門家になっていた話. 
過負荷に困る SkyServer (著者らのシステム) に, 
機転の利いたストアドプロシージャのトリックを仕込んで切り抜けた話... 
挿話の一つ一つが尊敬に満ちた文章で綴られる. 
Gray の活躍, そして著者の眼差しに読者(私)は感嘆する. </p>
<p>記事では, Gray が天文学だけでなく生物学にも守備範囲を拡げたこと, 
共著者としてもプログラマとしても頼もしい存在だったこと, 
Gray の成果は今でも共同研究の中心にあることなどが続けて語られ, 
Gray の友情, 著者の人生を変えた磁力を称える. Szalay は
"All of us privileged enough to call Jim a friend will forever be trying to turn at least some of the 
projects we dreamed of together into reality." と締め括っている. </p>
<h4>計算機界のプレスリー</h4>
<p>Jim Gray は 1944 年生まれ. けっこうな年だったはずだが, 
この記事を読むかぎり失踪直前までばりばり活躍していたようだ. 
これが弔事にありがちな感傷でないことは, 
<a href="http://research.microsoft.com/en-us/um/people/gray/">MS Research のホームページ</a> を見るとわかる. 
"彼と共同研究をしていた方で仕事が進められなくなってしまった方は, grayproj@microsoft.com までメールをください." 
と案内が書かれている. 新しい paper も山ほどあり, どうみても隠居ではない. 
"Distributed Computing Economics" にしても
早い段階からクラウド時代を予見していたと見ることはできるわけで, 
まったくとんでもない男だと思う. 
いまごろ無人島でデータセンターつき原潜を作り Google 帝国への反逆を指揮してるんだよ実は...
などといわれても, さもありなんと思えてしまいかねない. あの白ヒゲも船長ぽいしね. </p>
