---
title: "あけました"
date: 2009-01-02
---
<h3>近況</h3>
<p>あけました. </p>
<p>去年のひそかな目標は, "コンビニに行かない" だった. 
マンガ中毒かつジャンクフード中毒の私にとって, 
コンビニは(買い食いと立ち読みによって)財布と時間と健康を食い潰す恐しい誘蛾灯だ. 
立ち読みや買い食いを選択的に我慢しようと思ったこともあったけれど, 
その切り口は私の意思の強さというか弱さに釣り合わなかった. 
あの空間に踏みこんだ時点で網にかかっていることを認め, 近寄らないことにした. </p>
<p>この目標はおおよそ達成された. 去年はせいぜい月に一度, 
友達と遊んでいるときくらいしかコンビニを使ってないはず. 
インコンビニエントな生活にも慣れた. 今年も継続したい. </p>
<h4>断線部</h4>
<p>去年は(コンビニを断ったにも関わらず)勉強しない年だった. よくない. 
今年はもう少し勉強したい. 主に読書時間を確保したい. 
勉強/読書をしなかった原因の一つはウェブ中毒の悪化だとおもうので, 
今年はちょっと頑張ってウェブ中毒を改善...したいところだけれど, 
一人暮らしとプログラマを続けながら中毒を改善できるとは正直とても思えない. 
仕事中はどうしたってウェブを使うわけだし. 
従ってウェブ中毒が抜けない状態でもウェブの時間を減らす方策を考える方が現実的な気がしている. 
そのために, まず上半期は念願の断線部をやってみることにする. </p>
<p>断線部については <a href="http://dodgson.org/omo/t/?date=20080607">前にもちょっと書いた</a>. 
平日は隔週でケーブルを抜き, 自宅をオフラインにする. それだけだといまいち部活感がでないから, 断線した翌週は断線中の成果(読んだ本とか)をウェブに書くことにしよう. </p>
<p><iframe src='//www.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ki9bmkccbuik4h4sl1bdtjsvm0%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=Asia%2FTokyo' style=' border-width:0 ' width='400' height='400' frameborder='0' scrolling='no'></iframe></p>
<p>断線前日のリマンド用にカレンダー↑も作った. 
断線レポートが途切れたら, ああ挫けたんだなと憐憫嘲笑いただければと思います. 
部員募集中. </p>
