---
title: "日経コンピュータの Google 特集号 に"
date: 2009-09-04
---
<h3>近況</h3>
<p><a href='http://ec.nikkeibp.co.jp/item/backno/NC0738.html'><img class='right' width='160' src='http://ec.nikkeibp.co.jp/item/image/h_NC0738.jpg' /></a>
<a href="http://ec.nikkeibp.co.jp/item/backno/NC0738.html">日経コンピュータの Google 特集号</a> に
ちょっとだけ記事を書かせていただき, また一つ Google ウォッチャーとしてのカルマを積んでしまいました... </p>
<p>依頼をいただいたとき, 最近の景気後退やら規模拡大やらプライバシーやら著作権やらと
向かい風の強さを煽る企画なのかと勝手に思いこみ, 
<del>僕は新世界のもちおになるという</del>いち Google ファンとしての使命感から楽観的でうかつな話を書いてみたら, 
実は企画自体が Google 大絶賛な感じだった. 
だいたい 3 月以降は <a href="http://www.google.com/finance?client=ob&amp;q=NASDAQ:GOOG">株価も普通に持ち直して</a>, 
景気後退なんてしてないじゃん...</p>
<p>私のうかつ話はさておき, インサイダーのインタビューが色々載っているのは面白かった. 
"伝説のエンジニアに聞く" という囲み記事では トンプソン, ロブ・パイク, グイドが登場. すげー. 
伝説各氏は製品開発を統括してたりはしないから, あまり表に出てこない. 
だからわざわざインタビューに行っているのはすばらしいです. 
囲み記事じゃなくて別枠でばばーんとロングインタビューしてほしいけれど, 
雑誌の趣旨と合わない気はする. "日経プログラマ" の創刊求む. </p>
<p>うかつ指数も &lt;グーグルは '異形' のメーカー/ここが違う, 10 個のポイント&gt; という "グーグルコンピューティング" 絶賛記事に完敗. 
新世界に君臨するのは諦めました. その手の話が好きな人も楽しめるのではないかと思います. </p>
