---
title: "WEB+DB Press で連載をさせてもらうことになりました"
date: 2009-04-22
---
<h3>近況</h3>
<p><span class='image'><a href='http://www.amazon.co.jp/WEB-DB-PRESS-Vol-50-%E6%9D%89%E5%B1%B1/dp/477413838X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D477413838X' class='bookcover'><img data:asin='477413838X' class='asin image-right' src='http://ecx.images-amazon.com/images/I/61Co2FMWsRL.jpg'></span></a></span></p>
<p>WEB+DB Press で連載をさせてもらうことになりました. 
"WebKit Quest" と題して WebKit の話を書いています. 
このページと同じく役に立つ話はありませんが, 箸休めになればとおもいます. 
表題は勤務先親会社へのリスペクトです. ほんとに. </p>
<p>個人的には git 特集がタイムリー. 
早速仕事のツリーで git-svn を使おうとしたら日本語のファイル名が...s*cks! 
趣味のコードを書かないとなー. 
なお webkit のコードは git でもミラーされています. 
(<a href="http://trac.webkit.org/wiki/UsingGitWithWebKit">手順解説</a>.)</p>
<p>あとはなぜかインタビューされており, うかつなことを口走る様子に冷や汗がでました. 
気に入らない/根も葉もない/エラそうな言動があっても, 
それは発言者のうかつさゆえとスルーしていただければ幸いです. 
日頃の言動を反省しました. ほんとに...</p>
<h4>電子ブックリーダの話</h4>
<p>比較的うかつでない範囲では, 
去年の終わりごろから使っている電子ブックリーダの話をした. </p>
<p>電子ブックリーダというのは PDF やらテキストやらの活字データを読むのに
特化したデバイス. 一部に熱烈なファンがいる. 
私に電子ブックリーダを勧めた友人もそうしたファンの一人で,  
啓示をうけた信徒となって電子ブックリーダを絶賛している
彼の熱烈な推薦を受け, 私は電子ブックリーダを使いはじめた. </p>
<p>評判は必ずしもマニアだけに留まらない. 
最近は Amazon <a href="http://www.amazon.com/Kindle-Amazons-Wireless-Reading-Generation/dp/B00154JDAI">Kindle2</a> の評判に引っぱられ, いくらか流行る兆しを感じる...気もする. </p>
<p>私が使っているのは ドイツ iRex Technolgies 社製の
<a href="http://www.irextechnologies.com/products/bookedition">iLiad Book Edition</a>. 
ちょっと高かったけれど, 昨年末の円高と JavaScript 特需に便乗した. 
Kindle と比べて一回り画面が大きく, 技術書でも楽に読めるのがいい. </p>
<p>もう少し手軽な機種もある. Sony 製 <a href="http://www.sonystyle.com/webapp/wcs/stores/servlet/CategoryDisplay?catalogId=10551&amp;storeId=10151&amp;langId=-1&amp;categoryId=8198552921644523779">Sony Reader</a> は廉価モデルが $300 で売っている. iLiad の XGA に対して Sony Reader は SVGA. 一回り小さい. ちなみに Kindle2 も SVGA. 
このサイズが現行電子ブックリーダのボリュームゾーンになっているらしい. 
典型的な単行本なら普通に読める. 技術書は工夫が必要. 2 column の論文はムリ, 
という感触. XGA だと技術書は普通によめるし, 論文もがんばれば読める. 
ちなみに画面サイズを除いたデバイスとしての出来は 
iLiad より Sony Reader の方がだいぶ良い. </p>
<p>電子ブックリーダの潜在的な比較対象は, 紙の本と PC の画面だろう. 
紙の本はさておき, PC のディスプレイよりは電子ブックリーダの方が良いところは多い. 
これは iPod の方が PC よりビデオを見るのが楽なのに似ている. 
モニタが固定されていて持ち回れない不自由は, 持ち回れる道具を使ってみるとわかる. 
電子ブックリーダは持ち回れるだけでなく目が疲れない利点もある.
また E-ink という表示技術は光が出ず目にやさしい. 
反射で読む E-ink を使うと, 
発光している画面をじっと睨むのはそれなりに負担だったとわかる. </p>
<p>紙の本と比べてどうか. 読みやすさではまだ紙に勝てない. 
一方で軽さは圧勝. 電車の中で重い技術書を読むのはしんどいけれど,  
電子ブックリーダならどれだけデータを入れても普通の単行本一冊分くらいの重さ. 
だから積読はとりあえずぜんぶ入れておく. 鞄に入れる本を迷うことはなくなった. </p>
<p>あとはこのごろケータイで活字を読む人も増えているらしいけれど, 
電子ブックリーダは画面の大きさで勝っている.</p>
<h4>読むものをどう手に入れるか(1) : 電子系</h4>
<p>私が電子ブックリーダで読む活字は, 
おおきくわけて PDF 由来のものと書籍由来のものがある. 
熱心なユーザの中にはウェブやフィードをパックして読んでいる人もいる. </p>
<p>PDF 由来の活字というのは, マニュアルや論文, 仕様書, 一部の雑誌などがある. 
私は一時期キンコーズで印刷製本するのにはまっていたけれど, 
いまや製本にはまったく魅力を感じなくなった. </p>
<p>PDF で買える本もある. 計算機系出版社だと
<a href="http://oreilly.com/store/">O'Reilly</a>, 
<a href="http://www.pragprog.com/">pragprog</a>, 
<a href="http://www.manning.com/">Manning</a> などが PDF 版書籍を売っている. 
中でも pragprog は活字の大きさなど編集が PDF にチューンされている気がする. </p>
<p>そのほかの出版社の中にも 
<a href="http://my.safaribooksonline.com/">Safari Books Online</a> から
電子版を提供しているところは多い. 
感触としては, 計算機系洋書の新刊で, 
読みたい本の 2/3 は何らかの方法で電子版を購入できる. 
技術系出版社以外にも, 洋書に限ればそこそこ電子ブックでの提供はある. 
私はそういうのは読まないのであまり興味を持っていないけれど...
日本だと 
<a href="http://www.oreilly.co.jp/ebook/">O'Reilly Japan</a> が PDF 販売を始めている.</p>
<p>概して紙より安いのも電子版の良いところ. </p>
<h4>読むものをどう手に入れるか(2) : 自炊系</h4>
<p>技術書かそれ以外かによらず, 日本語の書籍はほとんど電子版がない. 
仕方ないので紙の本をばらしてスキャンしている. </p>
<p>本のスキャンを, 2ch 用語で "自炊" というらしい. 
その手の人達による <a href="http://wikiwiki.jp/bookjisui/">まとめ Wiki</a> は
スキャナや裁断機選びにとても役立った. 敬意を表して自炊と呼ぼう. </p>
<p>室内での存在感がありすぎる 
<a href="http://www.amazon.co.jp/dp/B001RKL0E裁">断器</a>を買うのは
必ずしもお勧めしない. でもあると重宝はする. 
裁断からスキャンまで, 慣れると一冊およそ 20-30 分くらいで片付く. 
スキャナが騒々しく, 集中のいる作業は並列できないのはいまいちだけれど, 
ウェブ中毒者ならフィードでも消化していればそのうち終わる. </p>
<p>私は新しく購入した技術書はほとんど自炊している. 
それ以前に買った本も自炊をはじめている. 
本棚の体積不足でリストラをせずに済むのは助かるから,
完全電子化まで長い道程をちまちまでも進めたい. </p>
<h4>コミュニティ</h4>
<p>英語圏の電子ブックリーダコミュニティは, 
<a href="http://www.mobileread.com/forums/">mobileread</a> がほぼ一手に引き受けている. 
機種の選定にはこのサイトの Wiki を調べるといい. 
<a href="http://www.mobileread.com/">トップページのニュース</a>も耳が早い. 
あとは各機種ごとのハック情報が充実している. 
私の使っている iLiad を含め, 電子ブックリーダのいくつかは SDK を提供している. 
それら SDK を使った開発者の情報交換も mobileread のフォーラムが熱心だ. 
全体的にソフトウェアの出来が酷い iLiad も, 
有志のサードパーティソフトウェアのおかげでだいぶマシに使えている. ありがたい. </p>
<p>日本では 2ch <a href="http://gimpo.2ch.net/dgoods/">デジタルモノ板</a> の
電子書籍スレがほとんど唯一のコミュニティらしい. そこそこ活発. </p>
<h4>推薦の辞</h4>
<p>PDF の仕様書やマニュアル, 電子版のある技術書が読み物の中心である人は, 
おそらく電子ブックリーダの恩恵を一番うけやすい. 
論文なんかの印刷/後始末の手間がなくなるし, 場所は食わないし, PC より疲れない. </p>
<p>自炊の必要な本が読書の中心な人は, 裁断する意欲がないと電子ブックリーダは活用できないだろう. 
裁断して捨てれば本は減るので, 部屋が狭い人は動機を得やすいとおもう. 
もし既に <a data:asin='B001QXCZ12' href='http://www.amazon.co.jp/%E5%AF%8C%E5%A3%AB%E9%80%9A-FI-S1500-FUJITSU-ScanSnap-S1500/dp/B001QXCZ12%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB001QXCZ12'>ScanSnap</a> などを活用できているなら, 
裁断とスキャンの壁は越えている. </p>
<p>裁断に踏み切る気になったなら強力な裁断器を勧める. 
しょぼい裁断器は疲れて挫けがちな印象を世評から受けた. 
そのほかキンコーズの裁断サービスを利用する手もある. </p>
<p>本や活字に溺れていない人には, まったく役立たない機会だとおもう. 
電子ブックリーダを自慢した時の反応のポジティブさとその人の活字依存度は
おおよそ比例しているように思える. 
(たとえばインタビューしてもらった小飼弾さんなんかは典型的な活中者の反応で
自慢した側としてはうれしかった.) 
興味を示さない人の典型は本を読まないガジェット愛好家. 
キビキビ動くとかデザインが格好いいといった物欲刺激度は低い機械なので, 
彼らの反応は概してネガティブだった. 
物欲ガジェット視点で冷たくあしらわれているのを見ると悲しい. 
きみらは iPhone でもさわってなさい. </p>
<p>電子ブックリーダは Apple 製品に代表される "所有する満足" が大きくない. 
ケータイのような競争もないから価格も高めだし, UI も未成熟でしょぼい. 
使っているといまいちなところは沢山ある. 地雷読書家以外には勧められない. </p>
<p>一方で不満を垂れつつ使い続けるだけの有用性もある. 
私は過去に二回くらい PDA を買ったけれどほとんど活用できず埃をかぶせた. 
ケータイ電話も留守電以上の使い方はしていない(し, 平日は面倒なので持ち歩いてない...). 
それでも電子ブックリーダはいつも持ち歩いて, 移動中でも自宅でも使っている. 
ガジェットとしての満足感より生活へのインパクトが大きい不思議な機械だとおもう. </p>
