---
title: "ウェブ中毒にフタ"
date: 2009-10-12
---
<h3>ウェブ中毒にフタ</h3>
<p><a href="http://steps.dodgson.org/?date=20090102">断線部</a>に入らざるを得ないほどウェブ中毒の私だけれど, 
無意識に <strong>C-l t w ENTER</strong> などとタイプしている自分に気付いた時にはさすがに雇用の不安を覚えた. 
おまえはウェブばっかり見てるからクビ, と言われても文句は言えない. 
かといって会社を断線するわけにもいかないし... 
困り果ててつつ気がつくと指は <strong>C-l b . ENTER</strong> などとタイプしており, 
<a href="http://code.google.com/chrome/extensions/index.html">Google Chrome に Extension がついた</a>
ことを知る. 藁にもすがる思いで拡張を書いてみることにした. </p>
<p>この拡張 <a href="http://capyoura.appspot.com/">Capyoura</a> (かぴゅーら - <strong>CAP YOUR Addicton</strong>) は, 
事前に登録したウェブサイト(=中毒サイト)毎に閲覧回数を監視し, 一日の閲覧回数が所定の上限を越えたら教えてくれる.</p>
<p><img src='/bn/images/20091012_0.png' class='diagram'></p>
<p>...だと中毒者には生温かったので, 強い警告を表示してから数秒後にウィンドウを閉じる. </p>
<p><img src='/bn/images/20091012_1.png' class='image-right'></p>
<p>また中毒サイトの閲覧中は画面右上に閲覧回数を表示して中毒症状をほのめかしもする. </p>
<p>似たような拡張は他にあるんだろうけれど, 覚悟のあらわれとして自分で書いたものを使っている. 
しばらく試してみるとそれなりに効果があった, ビルド待ち, テスト待ち, バグで手詰り, 電話で中断, など
心の隙をつかれたブラウザが中毒サイトを開いても, ページを覆う白いスクリーンを前にすると我に返る. 
昼休み後の休憩などで中毒しているときも, 
画面右隅のカウンタが目につくと, もう少し生産的なことをするかという気になる.</p>
<p>日常を記録し定量化する行動そのものにある程度の抑止力がある. 
こんなに Twitter ばっかりみてるんだ...そんな後ろめたさが中毒に歯止めをかけてくれる. 
レコーディング・ダイエットに通じるものがあるのかもしれない. (やったことないけど.) 
レコーディングのよろこびを少しは応援しようと一日の閲覧量をチャートで見られるようにした. </p>
<p><img src='/bn/images/20091012_2.png' class='diagram'></p>
<p>ウェブ中毒の同僚に紹介してみたところ, 
"あー俺は Ajax の代替サイトで Twitter みてるんでこれじゃダメですねー" とのこと. 
同情して Ajax なサイトもサポートしてみた. </p>
<p><img src='/bn/images/20091012_3.png' class='image-right'></p>
<p>サイト毎のオプションで指定した単位時間を越えると, 
閲覧一回とみなしカウンタを増やす. 表に出ているタブのページだけをカウントする. 右隅の表示にも単位時間の経過を紛れこませた. 
私はこの機能が必要なほど重症ではないので, 有用性はわかっていない. それっぽいミタメにはなったと思う. お大事に. </p>
<p>Chrome 拡張はまだ開発中なためか結構よくわらないところがあったけれど, 
Twitter で文句を言っていたら色々教えてくれた詳しい方々や
<a href="http://gihyo.jp/dev/feature/01/chromeExt">gihyo.jp の連載</a> のおかげでなんとかなりました. 
ありがとうございます. おかげで中毒から脱出できそうです. 
今日以降の私が勤務時間中に Twitter で何か言っていたとしても
それは dogfood 目的の止むにやまれぬデバッグ行為です. 
中毒ではありません. 断じて.</p>
<h4>使い方</h4>
<ul>
<li><a href="http://dev.chromium.org/getting-involved/dev-channel">Dev channel</a> (開発版) の Chrome を使う (バグ注意.)</li>
<li>拡張を <a href="http://capyoura.appspot.com/releases/capyoura.crx">ダウンロード</a> する. (とインストールされる.)</li>
<li>Google アカウントで <a href="http://capyoura.appspot.com/">サイト</a> にログインする</li>
<li>中毒サイトと一日あたりの閲覧回数を登録する</li>
<li>中毒サイトに行ってみる. 右上隅にカウンタが表示されれば OK.</li>
<li>ログインや dashboard はステータスバーのアイコンから.</li>
</ul>
<p>Capyoura は拡張からサーバに閲覧情報を送信しますが, 送信するのは事前に登録したサイトのドメイン名だけです. 
他のサイトの情報や, URL まるごとは送信しません. </p>
<p>Chrome でそのうえ dev channel, かつ表示その他が私の中毒症状向けに調整してあるので
あまり使う人はいないと思いますが, 興味のある方はおためしください.	
<a href="http://github.com/omo/capyoura">ソースコードなどは github におきました.</a></p>
