---
title: "[断線部] 先週の断線活動"
date: 2009-01-12
---
<h3>[断線部] 先週の断線活動</h3>
<p>先週は断線したものの, 特に何かがはかどることはなかった. 
体調を崩したままグダグダと年始から仕事に入ってしまったのを立て直すなどしていた. 
それでも軽めの本を少し読んだ. </p>
<p>"<a data:asin='4419050500' href='http://www.amazon.co.jp/%E5%BD%B1%E9%9F%BF%E5%8A%9B%E3%81%AE%E6%B3%95%E5%89%87%E2%80%95%E7%8F%BE%E4%BB%A3%E7%B5%84%E7%B9%94%E3%82%92%E7%94%9F%E3%81%8D%E6%8A%9C%E3%81%8F%E3%83%90%E3%82%A4%E3%83%96%E3%83%AB-%E3%82%A2%E3%83%A9%E3%83%B3-R-%E3%82%B3%E3%83%BC%E3%82%A8%E3%83%B3/dp/4419050500%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4419050500'>影響力の法則</a>" は, 
人にものを頼む時には相手の欲しいものを差し出しましょうね,
頼み事は "交換" ですからね, という主張を軸に, 人に頼みごとをするときの原則を示した本. 
うさんくさいタイトルとは裏腹にまっとうな内容だった. 
(腹黒い話を読みたい人は "<a data:asin='4414302692' href='http://www.amazon.co.jp/%E5%BD%B1%E9%9F%BF%E5%8A%9B%E3%81%AE%E6%AD%A6%E5%99%A8%E2%80%95%E3%81%AA%E3%81%9C%E3%80%81%E4%BA%BA%E3%81%AF%E5%8B%95%E3%81%8B%E3%81%95%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%8B-%E3%83%AD%E3%83%90%E3%83%BC%E3%83%88%E3%83%BBB%E3%83%BB%E3%83%81%E3%83%A3%E3%83%AB%E3%83%87%E3%82%A3%E3%83%BC%E3%83%8B/dp/4414302692%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4414302692'>影響力の武器</a>" あたりをどうぞ.)</p>
<p>相手の欲しいものを明かにするために相手をよく知りましょうという話と, 
自分が差し出せるものは色々あるんだから, それを自覚して使いこなしましょうという話. 
お仕事のコミュニケーションというは結局, その相手に何かアクションをとってもらうもので, 
openness とか friendliness はそのための布石だと考えることができる. 
布石というと聞こえが悪いから, 日頃の行いと言えばいいか. 
そう考えると "影響力の法則" に示される交換の原則というのは, 
お仕事コミュニケーションの原則と言っても良いものだろう. 
相手を気遣う心を欠く私はだいぶ反省した. </p>
<p>たまにはビジネス書もいいもんだなあと続けて読んだ 
"<a data:asin='4478770239' href='http://www.amazon.co.jp/%E3%83%AD%E3%82%B8%E3%82%AB%E3%83%AB%E3%83%BB%E3%83%AA%E3%82%B9%E3%83%8B%E3%83%B3%E3%82%B0-%E8%88%B9%E5%B7%9D-%E6%B7%B3%E5%BF%97/dp/4478770239%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4478770239'>ロジカル・リスニング</a>" は駄本で, 
自分の中のにわかビジネス書ブームを一気にクールダウンしてくれた. 
ビジネス書はまだ衝動書いできる眼ぢからがない. </p>
<p>ロジカルシンキングやクリティカルシンキングのような "理論派" のアプローチと 
カウンセリングやコーチングのような "感情派" のアプローチの
どちらか一方が書けても仕事のコミュニケーションは駄目なんだぜ, という
前振りからその統合を企る野心的な試みなんだけれど, だいぶ力不足なかんじだった. 
双方の話題をつまみぐいするばかりで終わっている. 
体験談を交えることで議論に説得力を与えようとしているんだけれど, 
体験談から原則への橋渡しがうまくいっておらず, かえって散漫に. 
というか原則の軸がようわからん. 
熱意ばかりが空回りし, 理論体系を作る難しさを感じる悲しい一冊だった. んー...</p>
<p>あとは 
<a href="http://www.seshop.com/event/dev/2009/timetable/">Developers Summit 2009</a> 
というのに呼んでいただくことになり, スライド作成/再生用に macbook を買った. 
マルチタッチ便利. 家に Excel がないので書類は明日だしますごめんなさい. </p>
<p><iframe src='//www.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ki9bmkccbuik4h4sl1bdtjsvm0%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=Asia%2FTokyo' style=' border-width:0 ' width='400' height='400' frameborder='0' scrolling='no'></iframe></p>
