---
title: "[断線部] 先週の断線活動"
date: 2009-02-09
---
<h3>[断線部] 先週の断線活動</h3>
<p>プロジェクトでひとつふたつ厄介な事があり, その考えごとをしている時間が長かった. 
作業がブロックする類の問題じゃないから良いといえば良いんだけれど, 
たぶん放置しておくと虫歯や腰痛のようにコードの健康を妨げそうなので
早めに片付けておきたい. この日記にもアイデアを記録しようと思ったものの, 
何度か書きかけて挫けた. (没の量を数えたら 7000 字くらいあった...) 
分野の問題と, 言語の問題と, 既存のコードベースの問題とが混りあっていて, 
たぶん自分は問題からして正しく理解できていない. 
説明できない問題を片付けられるはずもなく, うーむ...</p>
<p>そのほかの勉強は進まず. 
とはいえ脳の負荷が高いときウェブに逃避できない断線は, 考えごとをするのには向いている. </p>
<p><iframe src='//www.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ki9bmkccbuik4h4sl1bdtjsvm0%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=Asia%2FTokyo' style=' border-width:0 ' width='400' height='400' frameborder='0' scrolling='no'></iframe></p>
