---
title: "先週の断線活動"
date: 2009-02-23
---
<h3>先週の断線活動</h3>
<p>主に書きものをしていた. 草稿はできた. 
週末はそれを友達にレビューしてもらい, 意見をうけて直すなど. 
協力ありがとうございます &gt; レビューしてくれたみなさま. つぎ会うときには食事かお茶を...</p>
<p><iframe src='//www.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ki9bmkccbuik4h4sl1bdtjsvm0%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=Asia%2FTokyo' style=' border-width:0 ' width='400' height='400' frameborder='0' scrolling='no'></iframe></p>
