---
title: "最近でもなく読んだ本"
date: 2010-02-14
---
<h3>最近でもなく読んだ本</h3>
<p>裁断とスキャンが停滞している間にまた部屋の蔵書が幅をきかせ始めた. 
"最近読んだ本" で自分のページを検索したら, 
最後は <a href="http://www.dodgson.org/omo/t/?date=200801">2008-01-11</a>. 二年分か. そりゃかさばるわ. 
さっさとメモして処分したい. 順不同. </p>
<p>(もうすぐ処分します. めぼしいのがあって物理的に無事なら差し上げますのでご連絡を.)</p>
<h4><a data:asin='4873113539' href='http://www.amazon.co.jp/RESTful-Web%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9-Leonard-Richardson/dp/4873113539%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873113539'>RESFful Web サービス</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/RESTful-Web%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9-Leonard-Richardson/dp/4873113539%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873113539' class='bookcover'><img data:asin='4873113539' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51ojIhXBP3L.jpg'></span></a></span></p>
<p>わかった気になっていたけれどわかっていなかった話が多く, 面白かった. 
私が REST だと思っていたのは REST-RPC ハイブリッドだったのかとか, 
connectedness がないと REST としてはいまいちだとか. 
特に 8 章のベストプラクティスについては, 
トランザクションや一括取得のように素人が考えたらうまく設計できなそうな
話題に定型を与えているのがよかった. </p>
<p>実際のデータは階層化されていなかったり 
unified interface では記述しにくい操作を色々もっていたりするわけで, 
本を読んだだけでは REST にはならない. 
REST にするという意思を持って制約を受け入れたりデータモデルを調整したりという
経験をつまないと, RESTful な資源を持つことはできそうにない. </p>
<p>私はいまいち RESTful であろうとする動機を感じられていないけれど, 
それは Web の仕事をしているわけではないからだろうね. 
あとは一般的なデータモデリングの技量がが足りてないせいで, 
実際のシステムを RESTful にするイメージを持てなかった. (RESTful の前段階でイメージを欠いている.)
RESTful な設計がそれなりに険しい道程だと理解できたこと自体は収穫だと思う. 
あと REST と口にする人の理解の程度を推し量りやすくなった. </p>
<p>(状態: 分割済)</p>
<h4><a data:asin='4873113954' href='http://www.amazon.co.jp/%E3%82%A2%E3%83%BC%E3%83%88%E3%83%BB%E3%82%AA%E3%83%96%E3%83%BB%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB-%E3%83%87%E3%83%99%E3%83%AD%E3%83%83%E3%83%97%E3%83%A1%E3%83%B3%E3%83%88-%E2%80%95%E7%B5%84%E7%B9%94%E3%82%92%E6%88%90%E5%8A%9F%E3%81%AB%E5%B0%8E%E3%81%8F%E3%82%A8%E3%82%AF%E3%82%B9%E3%83%88%E3%83%AA%E3%83%BC%E3%83%A0%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0-THEORY-PRACTICE/dp/4873113954%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873113954'>アート・オブ・アジャイルデベロップメント</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A2%E3%83%BC%E3%83%88%E3%83%BB%E3%82%AA%E3%83%96%E3%83%BB%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB-%E3%83%87%E3%83%99%E3%83%AD%E3%83%83%E3%83%97%E3%83%A1%E3%83%B3%E3%83%88-%E2%80%95%E7%B5%84%E7%B9%94%E3%82%92%E6%88%90%E5%8A%9F%E3%81%AB%E5%B0%8E%E3%81%8F%E3%82%A8%E3%82%AF%E3%82%B9%E3%83%88%E3%83%AA%E3%83%BC%E3%83%A0%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0-THEORY-PRACTICE/dp/4873113954%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873113954' class='bookcover'><img data:asin='4873113954' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51bWSe172CL.jpg'></span></a></span></p>
<p>もらいものです(が, 結局 PDF を買ってよみました).
何か書こうと思ったけれど, Amazon を見たら <a href="http://sho.tdiary.net/">ただただし</a> さんの
<a href="http://www.amazon.co.jp/review/R7TLEA2IPZJMI/ref=cm_cr_rdp_perm">レビュー</a> が大変まとを射ていたので気が済んでしまった...
要するに <a data:asin='4274066940' href='http://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%83%97%E3%83%A9%E3%82%AF%E3%83%86%E3%82%A3%E3%82%B9-%E9%81%94%E4%BA%BA%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%81%AB%E5%AD%A6%E3%81%B6%E7%8F%BE%E5%A0%B4%E9%96%8B%E7%99%BA%E8%80%85%E3%81%AE%E7%BF%92%E6%85%A3-Venkat-Subramaniam/dp/4274066940%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274066940'>適当な薄い本</a> を読んで Agile なり XP に興味が持てたならこれ読めばいいんじゃない, 
といえる網羅的な教科書だった. </p>
<p>著者はソフトウェア開発の敷居を下げるのではなく, 高い理想を示すことでそのバーを上げる.
私はもともと重量プロセスが大変そうだからアジャイルに興味を持ったクチなので, 
この本に出てくる割と大変なかんじの Agile には現実をつきつけられた感じで少し気が滅入った. 
各章に "こんな(困った)時はどうすればいいでしょう?" という問いに応えるコーナーがあるんだけれど, 
最終的には "メンターに相談せよ" としている部分が多い. 
草の根的に野良ジャイルをしている身からすると, これは "なんとか自分で考えろ" という意味になる. 
教科書を読むだけじゃダメだからアタマ使えよな, という当たり前の結論から逃避させてはくれない. 
アンナ・カレーリナの法則 ("<a href="http://www.gutenberg.org/etext/1399">Happy families are all alike; every unhappy family is unhappy in its own way.</a>") 
は遍在している. </p>
<p>(状態: スキャン済, PDF)</p>
<h4><a data:asin='1591841992' href='http://www.amazon.co.jp/The-Back-Napkin-Problems-Pictures/dp/1591841992%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1591841992'>The Back of The Napkin</a> / <a data:asin='4062146908' href='http://www.amazon.co.jp/%E6%8F%8F%E3%81%84%E3%81%A6%E5%A3%B2%E3%82%8A%E8%BE%BC%E3%82%81-%E8%B6%85%E3%83%93%E3%82%B8%E3%83%A5%E3%82%A2%E3%83%AB%E3%82%B7%E3%83%B3%E3%82%AD%E3%83%B3%E3%82%B0-%E3%83%80%E3%83%B3%E3%83%BB%E3%83%AD%E3%83%BC%E3%83%A0/dp/4062146908%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4062146908'>描いて売り込め! 超ビジュアルシンキング</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E6%8F%8F%E3%81%84%E3%81%A6%E5%A3%B2%E3%82%8A%E8%BE%BC%E3%82%81-%E8%B6%85%E3%83%93%E3%82%B8%E3%83%A5%E3%82%A2%E3%83%AB%E3%82%B7%E3%83%B3%E3%82%AD%E3%83%B3%E3%82%B0-%E3%83%80%E3%83%B3%E3%83%BB%E3%83%AD%E3%83%BC%E3%83%A0/dp/4062146908%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4062146908' class='bookcover'><img data:asin='4062146908' class='asin image-right' src='http://ecx.images-amazon.com/images/I/61niWR-l2cL.jpg'></span></a></span></p>
<p>図を描けば一目瞭然でみんなハッピー, という話. 
定量的なデータを手書きで可視化しましょうだとか, 
可視化するにあたって大量のデータの肝となる部分を
見抜くにはどうするかだとか, そういう話だった. </p>
<p>説明に登場する図や絵は確かに高い説得力を持っているけれど, 
本の中で説明されている技法に則ってもこの絵に辿りつける気がしなかった. 
著者は何か重要なことを説明していないと思う... </p>
<p>それはさておき "量" が色々と図示されていく様子を見ていて思ったことがある.
ソフウェアを図示するための記法...というか UML は, 
ソフトウェアやシステムの構造(要素の幾何的な関係)をうまくとらえているものの, 
量に関する情報は十分に扱えていない. 
サーバサイドのシステムだと, 性能やスケーラビリティといった量の問題が
ソフトウェアの設計を決める上で大きな関心事になる. それをうまく扱えないのは問題だと思う. 
たとえばクライアントとサーバの関係を図に描くと, A より B の方が "量" の情報を
うまくとらえていると思う. 
(ケタが違うはずので不正確には違いないれど.) </p>
<p><img src='/images/20100214_0.png' class='diagram'></p>
<p>性能だけでなくコード規模だとか価格だとか, ソフトウェアにも関心を払うべき量は色々ある. 
ソフトウェアの記法を使う上でそうした量の扱いに工夫の余地があると気付けたのは収穫だった. 
そのうち Martin Fowler が Quantitative UML とか言いださないかなあ. </p>
<p>(状態: たぶん無事)</p>
<h4><a data:asin='4072638056' href='http://www.amazon.co.jp/%E6%96%B0%E8%A3%85%E7%89%88-%E3%81%B2%E3%82%8D%E3%81%93%E3%81%A3%E3%81%A1%E3%81%AE%E3%81%9F%E3%81%AE%E3%81%97%E3%81%84%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%E3%82%A4%E3%83%A9%E3%82%B9%E3%83%88%E7%B7%B4%E7%BF%92%E5%B8%B3-%E5%9D%82%E6%9C%A8-%E6%B5%A9%E5%AD%90/dp/4072638056%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4072638056'>ひろこっちのたのしいかんたんイラスト練習帳</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E6%96%B0%E8%A3%85%E7%89%88-%E3%81%B2%E3%82%8D%E3%81%93%E3%81%A3%E3%81%A1%E3%81%AE%E3%81%9F%E3%81%AE%E3%81%97%E3%81%84%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%E3%82%A4%E3%83%A9%E3%82%B9%E3%83%88%E7%B7%B4%E7%BF%92%E5%B8%B3-%E5%9D%82%E6%9C%A8-%E6%B5%A9%E5%AD%90/dp/4072638056%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4072638056' class='bookcover'><img data:asin='4072638056' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41jNZkh%2BhuL.jpg'></span></a></span></p>
<p>Napkin 本著者が描く図の説得力は, 実は結局絵が上手いんじゃないか？ という疑惑により. 
でもたぶん濡れ衣. </p>
<p>ノート片手に友達と酒を飲みながら読むと楽しい.
チュートリアルに従って描いた絵をお互い馬鹿にしあってあそぼう. 
ただ下書きにペン入れするスタイルを想定しており, ホワイトボード用じゃないかんじ. 
下書きレイヤのあるホワイトボードが欲しい. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='0201722291' href='http://www.amazon.co.jp/Performance-Solutions-Responsive-Addison-Wesley-Technology/dp/0201722291%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201722291'>Performance Solutions</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Performance-Solutions-Responsive-Addison-Wesley-Technology/dp/0201722291%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0201722291' class='bookcover'><img data:asin='0201722291' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41vw-R8FoYL.jpg'></span></a></span></p>
<p>そういえば一時期性能問題について真面目に理解しようと思いたち, 何冊か読んだのだった.
(でも理解には辿りつかなかった...)</p>
<p>Performance Solution は Code Complete の参考文献にあったので読んでみた. 
これは開発プロセスも含めて性能を意識しましょう, という話. 
性能評価を開発プロセスのどの段階でやるかという主張, 
設計段階での性能評価の仕方, 性能の原則, 性能のでる設計のパターンとアンチパターンなど, 
網羅的に性能の話題を扱っている. 
(去年の私が待ち行列理論の授業を受けたのは, この本の性能評価で待ち行列が出てきたからだった.)</p>
<p>たださすが Code Complete から参照されているだけあって, 
言ってることは正しいがすみません無理です, という風情がある. 
2001 年刊と古いせいもあり, BDUF ありきな開発プロセスを想定している. 
序盤の設計からボトルネックになりそうなユースケースをピックアップし, 
その性能モデルをたてて, 検証して, 代替案を検討して...
コード抜きの設計をきっちりやることができない身には辛い. 
もう少しインクリメンタルにならないものか...</p>
<p>もっともハードウェアの調達を事前にやるなら, 
性能の設計も事前にやることになるのは仕方ない. 
インクリメンタルな開発手法では性能リスクを回避できない気がする. 
うまいやり方があるなら知りたい. 
Amazon とか Rackable とか GAE がはやく普及するといいなあほんとに...</p>
<p>プロセスの話は全般にしんどいけれど, 性能の原則やパターンは読んだ甲斐があった. </p>
<p>(状態: スキャン済)</p>
<h4><a data:asin='4274067491' href='http://www.amazon.co.jp/Release-It-%E6%9C%AC%E7%95%AA%E7%94%A8%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E8%A3%BD%E5%93%81%E3%81%AE%E8%A8%AD%E8%A8%88%E3%81%A8%E3%83%87%E3%83%97%E3%83%AD%E3%82%A4%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AB-Michael-Nygard/dp/4274067491%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274067491'>Release It!</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Release-It-%E6%9C%AC%E7%95%AA%E7%94%A8%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E8%A3%BD%E5%93%81%E3%81%AE%E8%A8%AD%E8%A8%88%E3%81%A8%E3%83%87%E3%83%97%E3%83%AD%E3%82%A4%E3%81%AE%E3%81%9F%E3%82%81%E3%81%AB-Michael-Nygard/dp/4274067491%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274067491' class='bookcover'><img data:asin='4274067491' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51NljyGganL.jpg'></span></a></span></p>
<p>これも性能に関する本だけれど, 性能だけでなく安定性や運用までを扱っている. 
Performance Solution ほど包括的ではないけれど, そのぶん現実的な内容. </p>
<p>とても良い本だった. 
読み終わったあとは自分のコードの申しわけなさと腑甲斐無さに逃げたしたくなった. 
感想を書こうとすると生々しく角が立つのを避けられないくらい
サーバシステムの問題をよく捉えていた. </p>
<p>私が本を絶賛する時は, 
自分は本に書いてある内容をいくらか日々の作業に取り込んでうまくいった感触に基いている. 
この本も絶賛したいけれど, それは自分が本の内容を取り込めておらず非常にやばいどうしようああ...という焦燥や憤りに基いている. 
読まずに炎上してから騒ぐ方が幸せかもしれない. ほんと胃が痛い...</p>
<p>著者の経験から説明が Java 寄りなのがいまどきは少し珍しかった. 
何かとデッドロックで困っているのは御愛嬌.</p>
<p>(状態: PDF)</p>
<h4><a data:asin='4873114241' href='http://www.amazon.co.jp/%E3%82%A2%E3%83%BC%E3%83%88%E3%83%BB%E3%82%AA%E3%83%96%E3%83%BB%E3%82%A2%E3%83%97%E3%83%AA%E3%82%B1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3-%E3%83%91%E3%83%95%E3%82%A9%E3%83%BC%E3%83%9E%E3%83%B3%E3%82%B9%E3%83%86%E3%82%B9%E3%83%88-Theory-practice-Molyneaux/dp/4873114241%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873114241'>The Art of Application Performance Testing</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A2%E3%83%BC%E3%83%88%E3%83%BB%E3%82%AA%E3%83%96%E3%83%BB%E3%82%A2%E3%83%97%E3%83%AA%E3%82%B1%E3%83%BC%E3%82%B7%E3%83%A7%E3%83%B3-%E3%83%91%E3%83%95%E3%82%A9%E3%83%BC%E3%83%9E%E3%83%B3%E3%82%B9%E3%83%86%E3%82%B9%E3%83%88-Theory-practice-Molyneaux/dp/4873114241%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873114241' class='bookcover'><img data:asin='4873114241' class='asin image-right' src='http://ecx.images-amazon.com/images/I/415OazmueWL.jpg'></span></a></span></p>
<p>性能試験をどうやるかの話. その主題についてはよく書けていたけれど, 
私の興味はもう少し手前の取り組みにあったのであまり関心がもてなかった. 
ただ実際に性能試験をやる前には読んで良いと思う. 薄いしね. </p>
<p>それにしても Web まわりは性能試験のツールが充実していて羨しい. HTTP はエライ. 
私もたまに独自プロトコル(内製 RPC)で性能試験用 bot を書くけれど, 
これはかったるい上に案外ちゃんと動かすのが難しい. (落ちる, 切れる, 止まる, 遅い, サボる, 嘘つき...)
bot のせいで試験に失敗することもよくある. 
高負荷でちゃんと動くコードを書くのって難しいんだよね. 一通り全てのエラーがおこるから...</p>
<p>そういう問題を克服しないと, リアリティのあるシナリオをどう作るかといった
もう少し水準が上の話題(この本の主題)に進めない. HTTP が大変羨しい. </p>
<p>(状態: PDF)</p>
<h4><a data:asin='0596518579' href='http://www.amazon.co.jp/The-Capacity-Planning-John-Allspaw/dp/0596518579%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596518579'>The Art of Capacity Planning</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/The-Capacity-Planning-John-Allspaw/dp/0596518579%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596518579' class='bookcover'><img data:asin='0596518579' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51-ozwNzmeL.jpg'></span></a></span></p>
<p>こっちはマシンを買い足すタイミングをどうしようという話. 
買い足すための情報収集として性能監視の話を手厚く扱っている. 
実データからとったと思われるグラフが色々出てきて, それがとても面白い. 
そのデータをその粒度で集めるのかと, 監視初心者の私には新鮮だった.</p>
<p>そのほかなぜかデプロイの話も扱っている. まあマシン買う人とデプロイする人はふつう一緒なんですね... 
詳しいツールの使い方は紹介されていないけれど, 
ツール名はそれなりに列挙されているのであとは調べればいい.
この姿勢が薄さに貢献している. </p>
<p>著者は Flickr の中の人. 正直なところ半分は野次馬精神で読んだ. 
それなりに野次馬向けサービスもあってよかった.</p>
<p>(状態: PDF)</p>
<h4><a data:asin='4822221067' href='http://www.amazon.co.jp/%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%82%BF%E3%83%8D%E3%83%83%E3%83%88%E3%83%AF%E3%83%BC%E3%82%AF%E7%AC%AC4%E7%89%88-A%E3%83%BBS%E3%83%BB%E3%82%BF%E3%83%8D%E3%83%B3%E3%83%90%E3%82%A6%E3%83%A0/dp/4822221067%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822221067'>コンピュータネットワーク</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%B3%E3%83%B3%E3%83%94%E3%83%A5%E3%83%BC%E3%82%BF%E3%83%8D%E3%83%83%E3%83%88%E3%83%AF%E3%83%BC%E3%82%AF%E7%AC%AC4%E7%89%88-A%E3%83%BBS%E3%83%BB%E3%82%BF%E3%83%8D%E3%83%B3%E3%83%90%E3%82%A6%E3%83%A0/dp/4822221067%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822221067' class='bookcover'><img data:asin='4822221067' class='asin image-right' src='http://ecx.images-amazon.com/images/I/5136KN57YHL.jpg'></span></a></span></p>
<p>ネットワークの古典. ネットワークスタックの上から下までを網羅的に扱っており, 
お仕事上読んでないとまずいと思い読んだ. </p>
<p>そして読んでないのは大変まずかった...
これを読んでいたら今つかってるライブラリももう少しマシなデザインになったのにと後悔が募る. 
HTTP より下で働くなら読んでおいて良い気がする. </p>
<p>物理層に近い波長の話なんかはさっぱりわからなかったけれど, 
スイッチの話やルーティングの話は知らなかったことを恥じた. 
まあルーティングの話は説明しろと言われてもまず無理だから要復習. 
輻輳制御まわりや性能に関する議論も姿勢を正して読んだ. 
アプリケーション層の話は読んでない. </p>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%88%86%E6%95%A3%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0-%E7%AC%AC%E4%BA%8C%E7%89%88-%E3%82%A2%E3%83%B3%E3%83%89%E3%83%AA%E3%83%A5%E3%83%BC%E3%83%BBS%E3%83%BB%E3%82%BF%E3%83%8D%E3%83%B3%E3%83%90%E3%82%A6%E3%83%A0/dp/4894714981%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894714981' class='bookcover'><img data:asin='4894714981' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51zOfqbGCyL.jpg'></span></a></span></p>
<p>前に同じタネンバウムの 
<a data:asin='4894714981' href='http://www.amazon.co.jp/%E5%88%86%E6%95%A3%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0-%E7%AC%AC%E4%BA%8C%E7%89%88-%E3%82%A2%E3%83%B3%E3%83%89%E3%83%AA%E3%83%A5%E3%83%BC%E3%83%BBS%E3%83%BB%E3%82%BF%E3%83%8D%E3%83%B3%E3%83%90%E3%82%A6%E3%83%A0/dp/4894714981%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4894714981'>分散システム</a> を読んだ時に感じた物足りなさは, 
ビルディングブロックとしてのネットワークに関する知識が説明されていない(前提知識になっている)
からだったと気がついた. (たとえばオーバーレイ "ネットワーク" なわけですね.)</p>
<p>私がネットワーク素人なせいもあるけれど, 2001 年出版なのにあまり古さを感じない. 
無線(Wifi, 3G), とか光ファイバーとか Gbit のイーサカードとか, 普及したのってここ数年だもんねえ. 
次版が出たらきっと未来の読み物みたいに感じるんじゃなかろうか. </p>
<p>(状態: スキャン済)</p>
<h4><a data:asin='1933988355' href='http://www.amazon.co.jp/jQuery-Action-Bear-Bibeault/dp/1933988355%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1933988355'>jQuery in Action</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/jQuery-Action-Bear-Bibeault/dp/1933988355%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1933988355' class='bookcover'><img data:asin='1933988355' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41xoiw-VC-L.jpg'></span></a></span></p>
<p>JS 野郎ぽく振る舞うには jQuery を使えばいいのでは？と思い至って読んだ. 
その後しばらく使っているけれどいまいち馴染めない. 
DOM まわりの支援が厚いのはいいけどデータ構造とか文字列とかがないとツライ. 
ちょこちょこっとやっつけたい時にはいいのかも知れない. </p>
<p>...というのは jQuery 自体の話で, この本は jQeury の説明という目的をきちんと果たしていた. 
もっともオンラインのリファレンスも充実しているから, それで十分という気もする.  
私は断線中に読んだ.</p>
<p>(状態: PDF)</p>
<h4><a data:asin='4873113911' href='http://www.amazon.co.jp/JavaScript-The-Good-Parts-%E2%80%95%E3%80%8C%E8%89%AF%E3%81%84%E3%83%91%E3%83%BC%E3%83%84%E3%80%8D%E3%81%AB%E3%82%88%E3%82%8B%E3%83%99%E3%82%B9%E3%83%88%E3%83%97%E3%83%A9%E3%82%AF%E3%83%86%E3%82%A3%E3%82%B9/dp/4873113911%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873113911'>Javascript: The Good Parts</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/JavaScript-The-Good-Parts-%E2%80%95%E3%80%8C%E8%89%AF%E3%81%84%E3%83%91%E3%83%BC%E3%83%84%E3%80%8D%E3%81%AB%E3%82%88%E3%82%8B%E3%83%99%E3%82%B9%E3%83%88%E3%83%97%E3%83%A9%E3%82%AF%E3%83%86%E3%82%A3%E3%82%B9/dp/4873113911%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873113911' class='bookcover'><img data:asin='4873113911' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41H0Dk-K3PL.jpg'></span></a></span></p>
<p>JavaScript を書くのが一向にうまくならないため, 藁にもすがる思いで読んだ. 薄いし. </p>
<p>私のように JS 全然ダメな人が読むよりも, よくない JS で経験を積んでしまったプログラマが
"bad parts" を unlearn するために読む本のような気がした. 
JS の good parts は普通にやっていれば身につくと思うので, 
現実にはどんな bad parts が現れるのか, それををいかに回避するかを教えてほしかった. 
単純に私が経験不足なのかもしれないけど.</p>
<p>(状態: PDF)</p>
<h4><a data:asin='4798120723' href='http://www.amazon.co.jp/Linux-DB-%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0%E6%A7%8B%E7%AF%89-%E9%81%8B%E7%94%A8%E5%85%A5%E9%96%80-Magazine-SELECTION/dp/4798120723%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798120723'>Linux DB システム構築運用入門</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Linux-DB-%E3%82%B7%E3%82%B9%E3%83%86%E3%83%A0%E6%A7%8B%E7%AF%89-%E9%81%8B%E7%94%A8%E5%85%A5%E9%96%80-Magazine-SELECTION/dp/4798120723%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798120723' class='bookcover'><img data:asin='4798120723' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51fSSetl7gL.jpg'></span></a></span></p>
<p>主に MySQL の高可用性構成に興味があって読んだ. 
勉強になった. 詳しい感想は生々しくなるので割愛. </p>
<p>高可用性の部分に限らず, 性能改善についても特に DB 本体以外の部分の話がとても新鮮だった. 
でも仕事でファイルシステムのパラメタや I/O のスケジューラを変更するのは嫌だなあ何となく...
誰かにうまいことやってほしいです. Amazon とか.</p>
<p>(状態: スキャン済)</p>
<h4><a data:asin='427406767X' href='http://www.amazon.co.jp/%E5%85%A5%E9%96%80git-Travis-Swicegood/dp/427406767X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D427406767X'>入門 git</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%85%A5%E9%96%80git-Travis-Swicegood/dp/427406767X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D427406767X' class='bookcover'><img data:asin='427406767X' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41k7xonwpdL.jpg'></span></a></span></p>
<p>github のチュートリアルより高度な git の使い方はしてこなかったんだけれど, 
WebKit ウォッチの都合で必要に迫られ購入. おかげで branch と素朴な rebase はできるようになってきた. 
コンパクトなのがとても良い. (でもそのうち厚い方も読みたい.)</p>
<p>私はもともと Mercurial から DSCM に入ったので, git は複雑そうで敬遠していた. 
でもその複雑さの半分くらいは概念の一貫性より常用するケースの利便性を優先した結果なのだと理解した. </p>
<p>(状態: 無事 - カンペとして手元に残す予定.)</p>
<h4><a data:asin='0596155891' href='http://www.amazon.co.jp/CouchDB-Definitive-J-Chris-Anderson/dp/0596155891%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596155891'>CouchDB: The Definitive Guide</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/CouchDB-Definitive-J-Chris-Anderson/dp/0596155891%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0596155891' class='bookcover'><img data:asin='0596155891' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51vj9FOVH6L.jpg'></span></a></span></p>
<p>Rough Cut の時に買ったせいで半分くらいしか読んでない. リリースされたらしいので読み直したい.</p>
<p>Erlang でコードを書くのに良い題材はないかと読んだ. (そしてユーザとして使う分には Erlang は無関係だった...)
CouchDB でいう Map-Reduce が何を指すかわかったのはよかった. 
JSON を保存して クエリーに JS を使うのは面白いと思ったものの, これといって用途を思いつかず. 
Erlang だけで Blog を実装するチュートリアルがあったので, ああいうノリで何か作ればいいのかもしれない. </p>
<p>ただその後ちょっと CouchDB のコードを読みがっかりしたので熱は冷め気味. </p>
<ul>
<li>超高速/並列とかいいながらファイル IO は単一(Erlang)プロセスへのメッセージに直列化されている.</li>
<li>MVCC はいいけどその代償が手動のコンパクションなのはちょっと...<ul>
<li>しかもコンパクションの実装って B-Tree を一旦ぜんぶメモリに読んでない？</li>
</ul></li>
<li>一度読んだデータはページ単位でキャッシュしようよ...<ul>
<li>IO を直列化しちゃってるんだから OS のキャッシュは頼れないじゃん?</li>
</ul></li>
</ul>
<p>など. buzz 先行なところが Erlang の質実剛健さと似合ってない. 
そのうち良くなるのかもしれない. </p>
<p>(状態: PDF)</p>
<h4><a data:asin='4320122399' href='http://www.amazon.co.jp/Google-PageRank%E3%81%AE%E6%95%B0%E7%90%86-%E2%80%95%E6%9C%80%E5%BC%B7%E6%A4%9C%E7%B4%A2%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%B3%E3%81%AE%E3%83%A9%E3%83%B3%E3%82%AD%E3%83%B3%E3%82%B0%E6%89%8B%E6%B3%95%E3%82%92%E6%B1%82%E3%82%81%E3%81%A6%E2%80%95-Amy-N-Langville/dp/4320122399%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4320122399'>PageRank の数理</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Google-PageRank%E3%81%AE%E6%95%B0%E7%90%86-%E2%80%95%E6%9C%80%E5%BC%B7%E6%A4%9C%E7%B4%A2%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%B3%E3%81%AE%E3%83%A9%E3%83%B3%E3%82%AD%E3%83%B3%E3%82%B0%E6%89%8B%E6%B3%95%E3%82%92%E6%B1%82%E3%82%81%E3%81%A6%E2%80%95-Amy-N-Langville/dp/4320122399%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4320122399' class='bookcover'><img data:asin='4320122399' class='asin image-right' src='http://ecx.images-amazon.com/images/I/418QiJnf16L.jpg'></span></a></span></p>
<p>ファン読み物として. </p>
<p>PageRank のアルゴリズムとその改善, 類似アルゴリズム等を延々と紹介している本. 
PageRank アルゴリズムの基本的なところは読んでわかった
(というか前に別のところで読んだのものの復習になった) 
けれど, 数式の性質を利用して高速化していく話はまったくさっぱりだった. 
もっともこれがスルスルわかるくらいなら機械学習の仕事をして一山あててると思う.
感度(堅牢性のようなもの?) パーソナライズ, 行列の更新といった話は
そういう問題意識があるのね, というところはわかった... </p>
<p>固有値とか固有ベクトルって学生の頃はほんとに何に使うかわからなくて退屈だったけれど, 
PageRank で使うと言われればもう少し膝を正して勉強したと思うんだよね. 
もしかしたら. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='4891006765' href='http://www.amazon.co.jp/NET%E3%81%AE%E3%82%AF%E3%83%A9%E3%82%B9%E3%83%A9%E3%82%A4%E3%83%96%E3%83%A9%E3%83%AA%E8%A8%AD%E8%A8%88-Microsoft-net-Development-Krzysztof-Cwalina/dp/4891006765%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891006765'>.NET のクラスライブラリ設計</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/NET%E3%81%AE%E3%82%AF%E3%83%A9%E3%82%B9%E3%83%A9%E3%82%A4%E3%83%96%E3%83%A9%E3%83%AA%E8%A8%AD%E8%A8%88-Microsoft-net-Development-Krzysztof-Cwalina/dp/4891006765%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891006765' class='bookcover'><img data:asin='4891006765' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51fhcJDt-ZL.jpg'></span></a></span></p>
<p>.NET の周辺の API がどんな方針で設計されているかを説明した本. とても面白かった. 
命名, クラスやインターフェイス, イベントやプロパティ, 例外, パターンまで, 隈無く .NET way を説明している. 
特徴的なのは, IDE での使いやすさを重視していることと, ユーザビリティ試験の結果を反映していること. </p>
<p>たとえば例外はかなり丁寧に設計, スローするよう念を押しているけれど, 
これは Visual Studio がスローされた例外を GUI 上で目立たせてくれることと対になっている. 
引数ありコンストラクタよりも, 引数なしコンストラクタとプロパティセットを推奨するのは, 
プロパティは IntelliSence のおかげで探しやすい(引数の一覧はやや見づらい)ことに関係しているだろう. 
ユーザビリティテストについては <a href="http://www.dodgson.org/omo/t/?date=20080517">前に紹介した</a>. 
Java になくて .NET にあるのはこれだよ.</p>
<p>ユーザビリティテストを含め, このガイドラインには API の設計(と実装)にかなりコストをかける前提がある. 
だからインハウスツールなど, 限られた範囲でしか使われないものにはオーバースペックな方針も混ざっているような気がする. 
逆に Microsoft はライブラリを作るのに金かけているな, というか金のかけ方を知ってるなと改めて感心した. 
開発者向けツールにここまで投資できる組織ってそうそうないよね. </p>
<p>もう一つ, この本は原書 2 版の翻訳なんだけれど, 
2 版には 1 版の内容に MS 内外の識者から寄せられたコメントがたくさん載っていて面白い. 
各ガイドラインの末尾にカコミとしてコメントがくっついている. 
コメントの中身は, ガイドラインに至った歴史的事情(.NET 初期の設計ミスで仕方ないんだよ, とか)や
ガイドランを適用できない場面への警告など幅広い. 
API ユーザビリティの専門家 Steven Clarke も多くのコメントをつけており, 楽しく読めた. 満足. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='4891006625' href='http://www.amazon.co.jp/SOLID-CODE-%E9%AB%98%E5%93%81%E8%B3%AA%E3%81%AA%E3%82%B3%E3%83%BC%E3%83%89%E3%82%92%E7%94%9F%E3%81%BF%E5%87%BA%E3%81%99%E5%AE%9F%E8%B7%B5%E7%9A%84%E9%96%8B%E7%99%BA%E6%89%8B%E6%B3%95-Donis-Marshall/dp/4891006625%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891006625'>Solid Code</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/SOLID-CODE-%E9%AB%98%E5%93%81%E8%B3%AA%E3%81%AA%E3%82%B3%E3%83%BC%E3%83%89%E3%82%92%E7%94%9F%E3%81%BF%E5%87%BA%E3%81%99%E5%AE%9F%E8%B7%B5%E7%9A%84%E9%96%8B%E7%99%BA%E6%89%8B%E6%B3%95-Donis-Marshall/dp/4891006625%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4891006625' class='bookcover'><img data:asin='4891006625' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51KYBM7YnxL.jpg'></span></a></span></p>
<p>一般的なソフトウェア開発の本. 位置付けとしては "達人プログラマ" のあたりを狙っているのだと思う.</p>
<p>アジャイル, TDD からはじまり, 性能, スケーラビリティ, セキュリティ, デバッグ...といった章立てで話が進むんだけど, 
トピックが網羅的すぎて個々の説明が全然足りてない. 講演は効かずスライドだけ読まされるもどかしさに近い. 
参考文献もすくないので興味のあるトピックがあっても追いかけられない. </p>
<p>また一般的な話をしているはずなのに VisualStudio を使った説明が出てきたり, 
上記の章立ての中で唐突に "マネッジドコード" の話があらわれ, ファイナライザとかラージヒープなんて話をはじめる. 
全然粒度があってないよ...</p>
<p>Solid Code を襲名するところへの期待が大きかった分がっかり感も大きかった. 
半分くらいで放りだした. 後半が面白かったらすみません.</p>
<p>(状態: 無事)</p>
<h4><a data:asin='4873114039' href='http://www.amazon.co.jp/%E3%83%AA%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0%E3%83%BB%E3%82%A6%E3%82%A7%E3%83%83%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2-%E2%80%95%E9%81%94%E4%BA%BA%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%83%BC%E3%81%AE%E6%80%9D%E8%80%83%E6%B3%95%E3%81%A8%E5%AD%A6%E7%BF%92%E6%B3%95-Andy-Hunt/dp/4873114039%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873114039'>リファクタリング・ウェットウェア</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%AA%E3%83%95%E3%82%A1%E3%82%AF%E3%82%BF%E3%83%AA%E3%83%B3%E3%82%B0%E3%83%BB%E3%82%A6%E3%82%A7%E3%83%83%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2-%E2%80%95%E9%81%94%E4%BA%BA%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%83%BC%E3%81%AE%E6%80%9D%E8%80%83%E6%B3%95%E3%81%A8%E5%AD%A6%E7%BF%92%E6%B3%95-Andy-Hunt/dp/4873114039%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873114039' class='bookcover'><img data:asin='4873114039' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41cOFPQCwXL.jpg'></span></a></span></p>
<p>なんとなく読んだ. 朝一番に日記をつける "モーニングページ" をためしてみたものの, 
さして変化なし. </p>
<p>年寄に必要なのは, 効率より好奇心や情熱, 体力といった何かを成し遂げるエネルギーではないかと思った. 
燃料があってはじめて効率を議論できる気がする. 私は自分の QoL とかキャリアへの関心が足りてないなあ. </p>
<p>ただ, この本を読んで, ワインバーグが昔 "毎日メモをとれ" と言っていた(たぶんスーパーエンジニアへの道だったはず.)のを
思いだして仕事で日々のメモをとるようにしてみた. これは今でも継続している. 
今年, 自分の中でいちばん進歩したのはメモをとれるようになったことかもしれない. 
その話はいずれ書こうと思っていたけれど, 忘れてた. そのうち.</p>
<p>(状態: 無事)</p>
<h4><a data:asin='4320025377' href='http://www.amazon.co.jp/%E3%82%B3%E3%83%B3%E3%82%B5%E3%83%AB%E3%82%BF%E3%83%B3%E3%83%88%E3%81%AE%E7%A7%98%E5%AF%86%E2%80%95%E6%8A%80%E8%A1%93%E3%82%A2%E3%83%89%E3%83%90%E3%82%A4%E3%82%B9%E3%81%AE%E4%BA%BA%E9%96%93%E5%AD%A6-G-M-%E3%83%AF%E3%82%A4%E3%83%B3%E3%83%90%E3%83%BC%E3%82%B0/dp/4320025377%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4320025377'>コンサルタントの秘密</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%B3%E3%83%B3%E3%82%B5%E3%83%AB%E3%82%BF%E3%83%B3%E3%83%88%E3%81%AE%E7%A7%98%E5%AF%86%E2%80%95%E6%8A%80%E8%A1%93%E3%82%A2%E3%83%89%E3%83%90%E3%82%A4%E3%82%B9%E3%81%AE%E4%BA%BA%E9%96%93%E5%AD%A6-G-M-%E3%83%AF%E3%82%A4%E3%83%B3%E3%83%90%E3%83%BC%E3%82%B0/dp/4320025377%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4320025377' class='bookcover'><img data:asin='4320025377' class='asin image-right' src='http://ecx.images-amazon.com/images/I/418S5FJ6RHL.jpg'></span></a></span></p>
<p>でワインバーグ. オレンジジュースの法則とラズベリージャムの法則. 
飲み食いの絡む法則しか覚えてないことに愕然とした. 処分は延期していずれ読み直そう...</p>
<p>それにしても, ワインバーグって話はとても面白いんだけれど, それが血肉となるかは別問題な気がする. </p>
<h4><a data:asin='4798118397' href='http://www.amazon.co.jp/%E3%83%9E%E3%82%A4%E3%82%AF%E3%83%AD%E3%82%BD%E3%83%95%E3%83%88-%E3%83%93%E3%83%AB%E3%83%BB%E3%82%B2%E3%82%A4%E3%83%84%E4%B8%8D%E5%9C%A8%E3%81%AE%E6%AC%A1%E3%81%AE10%E5%B9%B4-%E3%83%A1%E3%82%A2%E3%83%AA%E3%83%BC%E3%83%BB%E3%82%B8%E3%83%A7%E3%83%BC-%E3%83%95%E3%82%A9%E3%83%AA%E3%83%BC/dp/4798118397%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798118397'>マイクロソフト ビルゲイツ不在の次の10年</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%9E%E3%82%A4%E3%82%AF%E3%83%AD%E3%82%BD%E3%83%95%E3%83%88-%E3%83%93%E3%83%AB%E3%83%BB%E3%82%B2%E3%82%A4%E3%83%84%E4%B8%8D%E5%9C%A8%E3%81%AE%E6%AC%A1%E3%81%AE10%E5%B9%B4-%E3%83%A1%E3%82%A2%E3%83%AA%E3%83%BC%E3%83%BB%E3%82%B8%E3%83%A7%E3%83%BC-%E3%83%95%E3%82%A9%E3%83%AA%E3%83%BC/dp/4798118397%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798118397' class='bookcover'><img data:asin='4798118397' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51MfT8fCp0L.jpg'></span></a></span></p>
<p>ファン読み物として. </p>
<p>自分がにわかマイクロソフトファンであることを認めざるをえない読後感だった. 
Microsoft のビジネス構成から VP に類する有名人の紹介と分析まで, すごい情報量. 
マイクロソフトの事業全体を俯瞰する内容で, かわりに読み物としてのストーリーはない. 
それにしても Microsoft はでかい会社だなあ. 
輝かしい成功のストーリーがひとつくらいあっても維持できる事業規模じゃない. </p>
<p>ファン読み物としては <a data:asin='0735624356' href='http://www.amazon.co.jp/Wrights-Hard-Code-Developer-Practices/dp/0735624356%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0735624356'>Hard Code</a> の方が面白いらしいので, そのうち探して読んでみたい. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='4822283801' href='http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%83%BC%E3%81%AE%E3%82%B8%E3%83%AC%E3%83%B3%E3%83%9E-%E5%A4%A2%E3%81%A8%E7%8F%BE%E5%AE%9F%E3%81%AE%E7%8B%AD%E9%96%93-%E3%82%B9%E3%82%B3%E3%83%83%E3%83%88%E3%83%BB%E3%83%AD%E3%83%BC%E3%82%BC%E3%83%B3%E3%83%90%E3%83%BC%E3%82%B0/dp/4822283801%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822283801'>プログラマーのジレンマ</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%83%BC%E3%81%AE%E3%82%B8%E3%83%AC%E3%83%B3%E3%83%9E-%E5%A4%A2%E3%81%A8%E7%8F%BE%E5%AE%9F%E3%81%AE%E7%8B%AD%E9%96%93-%E3%82%B9%E3%82%B3%E3%83%83%E3%83%88%E3%83%BB%E3%83%AD%E3%83%BC%E3%82%BC%E3%83%B3%E3%83%90%E3%83%BC%E3%82%B0/dp/4822283801%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822283801' class='bookcover'><img data:asin='4822283801' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51dTcwyDMsL.jpg'></span></a></span></p>
<p>いただきました. </p>
<p>帯には "人月の神話" と書いてあったけれど, 
人月の神話というより "闘うプログラマ" だとおもう. 
オープンソースのカレンダーアプリケーション "Chandler" の開発を数年にわたり取材した読み物. </p>
<p>かつての成功で財をなしたファウンダー(ミッチ・ケイパー)が優秀なプログラマを集め, 
私財を投じて Outlook+Exchange の対抗馬を作ろうとしてもがく様を描いている. </p>
<p>著者のスコット・ローゼンバーグはその苦闘の様子を 
"ソフトウェアを作るのは難しい" と一般化しているけれど, 個人的にはいまいち共感できなかった. 
ソフトウェアを作るのが難しいことは何も否定しないけれど, 
難しいのがわかっている以上, 最初から無闇に複雑なものを作ろうとするのは理にかなっていない. 
手元に何もないなら, 小さくはじめてフィードバックを集めながら成長させていくことしかできないと思う. 
大きなソフトウェアを作れるのは既に大きなソフトウェアを持っている人々だけだ.</p>
<p>もっともこうした考えが Chandler のうまれた 2001 年に一般的だったのかわからない. 
そういう意味で, Chandler は最後の徒花的な大プロジェクトの一つなのかもしれない. 
もっとも同じくらいの時期に同じようなコンセプトでうまれた Groove は MS に買収されたわけだから, 
野心的なソフトウェアが失敗する, というのは軽率すぎるかな. ただ博打には違いないよね. </p>
<p>あと本筋じゃないものの, 
テクノロジーの選択がいちいち地雷方面に進むため読んでいると胃がキリキリしてくる. 
P2P, RDF, wxWindows(wxWidgets), GCJ で AOT した Lucene を Python から呼び出す...
あいたたたな印象は拭えない. これもあとだしならではの印象だけれど. </p>
<p>(状態: スキャン済)</p>
<h4><a data:asin='4822247570' href='http://www.amazon.co.jp/%E9%97%98%E3%81%86%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%83%BC-%E6%96%B0%E8%A3%85%E7%89%88-G%E3%83%BB%E3%83%91%E3%82%B9%E3%82%AB%E3%83%AB%E3%83%BB%E3%82%B6%E3%82%AB%E3%83%AA%E3%83%BC/dp/4822247570%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822247570'>闘うプログラマー</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E9%97%98%E3%81%86%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9E%E3%83%BC-%E6%96%B0%E8%A3%85%E7%89%88-G%E3%83%BB%E3%83%91%E3%82%B9%E3%82%AB%E3%83%AB%E3%83%BB%E3%82%B6%E3%82%AB%E3%83%AA%E3%83%BC/dp/4822247570%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822247570' class='bookcover'><img data:asin='4822247570' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51kV6tOSplL.jpg'></span></a></span></p>
<p>"プログラマーのジレンマ" をよんだあと, 友達と "闘うプログラマ" の話になった. 
彼は "カトラーやばいよ, デスマーチすぎる. 絶対一緒に働けない" という. 
ちょうど復刊したこともあり, そんな話だったっけと読み直した; 
カトラーやばい. 怖い. 
そして技術的にも政治的にも無茶すぎるデスマーチ. 
翻される指針, 燃え尽きたエース, 腐った C++ のコード, チーム感の鍔迫り合い, 
うっかり約束した機能...プロジェクト中ずっとそんな調子. セクハラもパラハラもひどい. 
有名なフレーズ "人生を書き換えた者すらいた." はデスマで離婚することだった. 
もうちょっと englighten な含みがあるものと誤解してたよ...</p>
<p>一番恐しいのはこれだけひどいデスマなのに製品が成功, それも大成功を収めるところ. 
デスマーチの成果物はひどいものになるという通説/大半の真実を打ち破っている. 
ただこれは稀代のデスマ奉行カトラー, ぼくらの billg, 
そしてパーソナルコンピューティングという時代の風が
あわさっておきた奇跡であって, デスマーチも成功することがあるという事例には数えてほしくない. 
間違ってもステークホルダーには読まれたくない一冊. </p>
<p>でも NT リリース後の最後の場面, 
次のデスマを求めて Windows95 のプロジェクトに飛び込んでいくカトラーの姿には
ちょっとしびれてしまったりもした. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='4822247783' href='http://www.amazon.co.jp/%E7%8F%BE%E4%BB%A3%E3%81%AE%E4%BA%8C%E9%83%BD%E7%89%A9%E8%AA%9E-%E3%82%A2%E3%83%8A%E3%83%AA%E3%83%BC%E3%83%BB%E3%82%B5%E3%82%AF%E3%82%BB%E3%83%8B%E3%82%A2%E3%83%B3/dp/4822247783%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822247783'>現代の二都物語</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E7%8F%BE%E4%BB%A3%E3%81%AE%E4%BA%8C%E9%83%BD%E7%89%A9%E8%AA%9E-%E3%82%A2%E3%83%8A%E3%83%AA%E3%83%BC%E3%83%BB%E3%82%B5%E3%82%AF%E3%82%BB%E3%83%8B%E3%82%A2%E3%83%B3/dp/4822247783%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822247783' class='bookcover'><img data:asin='4822247783' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51cXTTLrPLL.jpg'></span></a></span></p>
<p>復刊つながり.. 兼, <a href="http://steps.dodgson.org/?date=20090418">DEC 滅亡</a>つながり.</p>
<p>カトラーといば VAX, VAX といえば DEC. 現代の二都物語は, 
DEC のような東海岸(ルート128)の企業と西海岸(シリコンバレー)の企業の文化の違いを地域的なものと見なし, 
ハイテク産業では {形式/家族/自己完結/閉鎖}的 な東海岸カルチャーが, 
{開放/流動/地域コミュニティ}的な西海岸カルチャーに破れたのだと主張する. 1996 年頃の本だけれどなかなか面白かった. 
DEC 滅亡の理由が地域の文化によるものだとしたら, 文化というのは避けがたい強力な磁場だということになる. </p>
<p>地域の文化を育てる地理的な要因に関する指摘も興味深かった. 
ルート 128 では各企業がヘリで行き来するくらい離れて点在するのに対し, 
シリコンバレーはお互いとても近くにある. だから交流もしやすかったというような話や, 
西海岸はワシントンから遠くてロビー活動なんかをがんばれなかったので, 
政府の資金が入らないぶん勝手なことがやれたという話など. 
地理的な類似性から "おらが町にもシリコンバレーを!" と思う読者がいても不思議ではない. 
むかしビットバレーとか言ってた人達はこういう主張がきっかけだったのかも. </p>
<p>もともと 90 年代に出た本なので, 
今やハイテク企業はこうした地域的, 文化的特性にはものすごく自覚的に違いない. 
だから今の西海岸ハイテク企業がこの本でいう "シリコンバレー的" かというと, そんなことはないと思う. 
企業の性格のどこまでがコントロールできる要素で, どこからが逆らうことのできない引力なのか
興味が湧いた.</p>
<p>(状態: 無事)</p>
<h4><a data:asin='4883043339' href='http://www.amazon.co.jp/%E3%82%A4%E3%83%B3%E3%83%86%E3%83%AB%E6%88%A6%E7%95%A5%E8%BB%A2%E6%8F%9B-%E3%82%A2%E3%83%B3%E3%83%89%E3%83%AA%E3%83%A5%E3%83%BC%E3%83%BBS-%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%96/dp/4883043339%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4883043339'>インテル戦略転換</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A4%E3%83%B3%E3%83%86%E3%83%AB%E6%88%A6%E7%95%A5%E8%BB%A2%E6%8F%9B-%E3%82%A2%E3%83%B3%E3%83%89%E3%83%AA%E3%83%A5%E3%83%BC%E3%83%BBS-%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%96/dp/4883043339%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4883043339' class='bookcover'><img data:asin='4883043339' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51SBM6H6STL.jpg'></span></a></span></p>
<p>むかしから "<a data:asin='0385483821' href='http://www.amazon.co.jp/Only-Paranoid-Survive-Exploit-Challenge/dp/0385483821%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0385483821'>Only the Paranoid Survive</a>" は名著だと聞いており読みたかったんだけど, 
こんな名前でとっくに(1997 年)翻訳されていた. わかんないよ... 
基本的には情勢に敏感で変化に強くあれという話. 
インテルがメモリ事業から CPU 事業に乗り換える際の苦難を引き合いに出し, 
がんばれば大きな変化 (10X の変化) も乗り切れるのだと説く. 
Intel の(元)社長がいうと説得力があるなあ. </p>
<p>ある種の革新的企業系自己啓発本は特定のパターンに従えば未来は薔薇色という風な話をしたがるけれど, 
アンディ・グローブにそういう気配はない. 
変化を乗り切るためには経営陣も含め "資源の再配分" をすることに躊躇がない. すごい. </p>
<p>しかしパラノイアと言いながら, 例の <a href="http://en.wikipedia.org/wiki/Pentium_FDIV_bug">Pentium バグ</a> が
あれほどの一大事になるとは思わなかったといい, なぜなら Intel はまだまだベンチャー企業に過ぎないと思っていたからだ...
と振り返っているのは面白い. 自分の姿って見えないものなんですね. </p>
<h4><a data:asin='4798117501' href='http://www.amazon.co.jp/Eric-Sink-Business-Software-%E9%9D%A9%E6%96%B0%E7%9A%84%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E4%BC%81%E6%A5%AD%E3%81%AE%E4%BD%9C%E3%82%8A%E6%96%B9/dp/4798117501%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798117501'>Eric Sink on the Business of Software</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Eric-Sink-Business-Software-%E9%9D%A9%E6%96%B0%E7%9A%84%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E4%BC%81%E6%A5%AD%E3%81%AE%E4%BD%9C%E3%82%8A%E6%96%B9/dp/4798117501%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4798117501' class='bookcover'><img data:asin='4798117501' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51AATxAG7bL.jpg'></span></a></span></p>
<p>いまちらっと読み返して思ったことを書いてみる. </p>
<p>Eric Sink は "パッケージソフトウェアの世界" を 
Paul Graham (や Joel Spolsky) のいう "ハッカーの世界" と少し違ったものとして描いている. 
そして二つの差分を "開発者" や "ハーモニー" という言葉であらわしている. 
それでもパッケージソフトウェア, 製品開発には一山あたる可能性があるから, 
ベンチャー指向 "ハッカーの世界" とも共通点がある. 
とびぬけて素晴しいものを作れば, 大きな見返りが得られる. </p>
<p>受託開発だとそうはいかない. ふつう実入りの上限は決まっている. 
だから Eric Sink が 開発者/ハーモニー として描いた差分, 
Eric 成分こそが受託開発プログラマに重要な素養だといえるのではないか. </p>
<p>受託開発プログラマもコードは書けないと...いってみれば "中音域" くらいは出せないとまずい. 
一方でなんとか中音域くらいは出せても Eric 成分が足りていないプログラマはそれなりに目にする. 
コミュニケーションスキルやビジネススキル(お目汚しすみません)でもハッカー的プログラミング技能でもない
この領域について, 受託プログラマはもう少し議論していいのかもしれない. 
SE になる他にもやることあんだろと主張する上での骨子になりうると思う. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='4478004595' href='http://www.amazon.co.jp/%E3%80%90%E6%96%B0%E7%89%88%E3%80%91%E7%B5%84%E7%B9%94%E8%A1%8C%E5%8B%95%E3%81%AE%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%E2%80%95%E5%85%A5%E9%96%80%E3%81%8B%E3%82%89%E5%AE%9F%E8%B7%B5%E3%81%B8-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96%E3%83%B3-P-%E3%83%AD%E3%83%93%E3%83%B3%E3%82%B9/dp/4478004595%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4478004595'>組織行動のマネジメント</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%80%90%E6%96%B0%E7%89%88%E3%80%91%E7%B5%84%E7%B9%94%E8%A1%8C%E5%8B%95%E3%81%AE%E3%83%9E%E3%83%8D%E3%82%B8%E3%83%A1%E3%83%B3%E3%83%88%E2%80%95%E5%85%A5%E9%96%80%E3%81%8B%E3%82%89%E5%AE%9F%E8%B7%B5%E3%81%B8-%E3%82%B9%E3%83%86%E3%82%A3%E3%83%BC%E3%83%96%E3%83%B3-P-%E3%83%AD%E3%83%93%E3%83%B3%E3%82%B9/dp/4478004595%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4478004595' class='bookcover'><img data:asin='4478004595' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41Flgam1kLL.jpg'></span></a></span></p>
<p>チームというのもの価値を正しく説明できるようになりたいと思って読んだ(のだった気がする).</p>
<p>以前から, 私は成果をあげるには(特定の性質をもった)チームが有効であると主張したかった. 
(年末には<a href="http://steps.dodgson.org/?date=20091231">ちょっと主張してみた</a>.) </p>
<p>この本を読んだあと, 成果以前にヒトは社会的な生き物である事実は無視することができないと考えを改めた. 
"人はなぜ集団に参加するのか" を, 著者は "安心感", "ステータス", "自尊心", "親密さ", "力", "目標達成" 
という軸で説明している. こうした(なかば本能的な)背景を無視し, 
得られる成果だけを軸にチームの価値を主張するというのは, 人間の社会性を無視しているし, 
自分自身の本能的動機づけを明らかにしておらずフェアじゃない. 
人間は本能的に群れたがるものなのだから, それを活用するチームをつくる方が良い. </p>
<p>それにこうした側面を無視すると, スキルベースで適当にシャッフルしてチームをつくるのが
なぜ上手くいかないのか説明するのが難しくなる. 
チームの価値を説明するには, もう少し社会学/人類学的なアプローチが必要だとおもう. </p>
<p>(状態: スキャン済)</p>
<h4><a data:asin='4419050500' href='http://www.amazon.co.jp/%E5%BD%B1%E9%9F%BF%E5%8A%9B%E3%81%AE%E6%B3%95%E5%89%87%E2%80%95%E7%8F%BE%E4%BB%A3%E7%B5%84%E7%B9%94%E3%82%92%E7%94%9F%E3%81%8D%E6%8A%9C%E3%81%8F%E3%83%90%E3%82%A4%E3%83%96%E3%83%AB-%E3%82%A2%E3%83%A9%E3%83%B3-R-%E3%82%B3%E3%83%BC%E3%82%A8%E3%83%B3/dp/4419050500%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4419050500'>影響力の法則</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%BD%B1%E9%9F%BF%E5%8A%9B%E3%81%AE%E6%B3%95%E5%89%87%E2%80%95%E7%8F%BE%E4%BB%A3%E7%B5%84%E7%B9%94%E3%82%92%E7%94%9F%E3%81%8D%E6%8A%9C%E3%81%8F%E3%83%90%E3%82%A4%E3%83%96%E3%83%AB-%E3%82%A2%E3%83%A9%E3%83%B3-R-%E3%82%B3%E3%83%BC%E3%82%A8%E3%83%B3/dp/4419050500%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4419050500' class='bookcover'><img data:asin='4419050500' class='asin image-right' src='http://ecx.images-amazon.com/images/I/31Gh-tGZzcL.jpg'></span></a></span></p>
<p>人にお願いをする時には相手の欲しがるものを差し出しましょう. という話. 
人はどういうものを欲しがるのか, 自分は何を差し出せるのかといった "通貨", 
通貨を交換するプロトコルに関する議論をしたあと, 
上司や部下といったよくあるパターンでのケーススタディーが続く. 
表題から想像するよりずっとまっとうな本だった. </p>
<p>たぶん誰かにお願いをするのを苦手に感じて読んだと思われる. 
いまちょっと読み返し, まったく進歩がないことに気付いた... </p>
<p>(状態: スキャン済)</p>
<h4><a data:asin='4757122233' href='http://www.amazon.co.jp/%E4%BA%BA%E3%81%AF%E3%81%AA%E3%81%9C%E5%BD%A2%E3%81%AE%E3%81%AA%E3%81%84%E3%82%82%E3%81%AE%E3%82%92%E8%B2%B7%E3%81%86%E3%81%AE%E3%81%8B-%E9%87%8E%E5%B3%B6-%E7%BE%8E%E4%BF%9D/dp/4757122233%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4757122233'>人はなぜ形のないものを買うのか</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E4%BA%BA%E3%81%AF%E3%81%AA%E3%81%9C%E5%BD%A2%E3%81%AE%E3%81%AA%E3%81%84%E3%82%82%E3%81%AE%E3%82%92%E8%B2%B7%E3%81%86%E3%81%AE%E3%81%8B-%E9%87%8E%E5%B3%B6-%E7%BE%8E%E4%BF%9D/dp/4757122233%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4757122233' class='bookcover'><img data:asin='4757122233' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41PBEK5bQWL.jpg'></span></a></span></p>
<p>オンラインゲームのユーザが "アイテム課金" に金を払う動機を理解したかったために読んだ(のだと思う). 
実際には仮想世界の課金モデルや, オンラインゲームやコミュニティについて
非専門家向けに概観した内容で, 期待とはやや違っていた. 
もっと社会的な動機や関心を説明してほしかった.
そういう意味では著者が実際にハンゲームをした記述が
面白いといえば面白かったかもしれない. この分野のエスノグラフィーが待たれる. 
<a href="http://www.danah.org/papers/">Dana Boyd が MySpace や Facebook にやったようなこと</a>を, 
モバゲーや GREE に対してやった研究はないものかしら. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='4788505843' href='http://www.amazon.co.jp/%E3%83%8D%E3%83%83%E3%83%88%E3%83%AF%E3%83%BC%E3%82%AF%E5%88%86%E6%9E%90%E2%80%95%E4%BD%95%E3%81%8C%E8%A1%8C%E7%82%BA%E3%82%92%E6%B1%BA%E5%AE%9A%E3%81%99%E3%82%8B%E3%81%8B-%E3%83%AF%E3%83%BC%E3%83%89%E3%83%9E%E3%83%83%E3%83%97-%E5%AE%89%E7%94%B0-%E9%9B%AA/dp/4788505843%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4788505843'>ネットワーク分析 - 何が行為を決定するか</a></h4>
<p>ネットワーク分析(社会ネットワーク分析)というのは友人関係とか会社の取引関係といっった
現実のネットワーク(グラフ)構造を分析してあれこれいう学問で, これはその入門というか啓蒙書. 
自分の social stickiness のの低さというか薄情さは人として問題じゃなかろうか, 
とか考えているうちに気がついてたら読んでいた. </p>
<p>この本では前半でネットワーク分析に使う基本的な指標(密度, 中心性, 構造同値, クラスタ, 拘束度...)を
簡単に紹介してから, 後半で実際に行なわれたネットワーク分析をいくつか紹介している. 
会社員の人間関係と出世の速度, 夫婦がもつ人間関係, コミュニティ, 企業取引といった話題を扱う. 
紹介がおおざっぱすぎて印象の薄いものも多いけれど, 
前に途中まで読んだまま挫けている <a data:asin='0521387078' href='http://www.amazon.co.jp/Social-Network-Analysis-Applications-Structural/dp/0521387078%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0521387078'>Social Network Analysis</a> の 
motivated example にはなった気がする. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='4326601949' href='http://www.amazon.co.jp/%E3%83%AA%E3%83%BC%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0%E3%82%B9-%E3%83%8D%E3%83%83%E3%83%88%E3%83%AF%E3%83%BC%E3%82%AF%E8%AB%96%E2%80%95%E5%AE%B6%E6%97%8F%E3%83%BB%E3%82%B3%E3%83%9F%E3%83%A5%E3%83%8B%E3%83%86%E3%82%A3%E3%83%BB%E7%A4%BE%E4%BC%9A%E9%96%A2%E4%BF%82%E8%B3%87%E6%9C%AC-%E9%87%8E%E6%B2%A2-%E6%85%8E%E5%8F%B8/dp/4326601949%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4326601949'>リーディングス ネットワーク論</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%AA%E3%83%BC%E3%83%87%E3%82%A3%E3%83%B3%E3%82%B0%E3%82%B9-%E3%83%8D%E3%83%83%E3%83%88%E3%83%AF%E3%83%BC%E3%82%AF%E8%AB%96%E2%80%95%E5%AE%B6%E6%97%8F%E3%83%BB%E3%82%B3%E3%83%9F%E3%83%A5%E3%83%8B%E3%83%86%E3%82%A3%E3%83%BB%E7%A4%BE%E4%BC%9A%E9%96%A2%E4%BF%82%E8%B3%87%E6%9C%AC-%E9%87%8E%E6%B2%A2-%E6%85%8E%E5%8F%B8/dp/4326601949%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4326601949' class='bookcover'><img data:asin='4326601949' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41T55DJ5QNL.jpg'></span></a></span></p>
<p>ネットワーク分析の古典論文から代表的なものを翻訳し, まとめた本. </p>
<p>これはとても面白かった. 
上の "ネットワーク分析" に登場する事例のもとねたがいくつか収録されている他, 
たとえば有名なミルグラムの "6 次の隔り" や "弱い靭帯の力" も原典が掲載されており,
野次馬精神が満たされもした. </p>
<p>特に "弱い靭帯の力" は, 
三者関係(triad)におけるごく単純な過程から強い結論=弱い靭帯の力を導き, 
また調査でそれを裏付けていく様子が面白い. 
知人を通じて転職をした人に "その知人とどういう関係だったか" をアンケートしたところ, 
ときどき合うだけ(年に数度) と答えた人が 55%, また滅多にあわない(数年に一度)  27% だったという. 
この調査は 1974 年の話だけれど, 今でもありそうな話に思えてしまう. </p>
<p>そのほかには社会関係資本をめぐる二つの研究も面白かった. 
一つ目は "社会関係資本(social capital)" と言いだした人の論文 "人的資本の形成における社会関係資本" で, 
人間関係を財産と考えることで合理性の元に色々説明できることが増える, と主張する. 
おっしゃるとおりでございますな. 続いでどのような関係がより強い影響力を持つのかと議論を進める. </p>
<p>著者のコールマンは "閉鎖性" のあるネットワークが強力だと主張する. 
閉鎖性があるというのは, 要するに高密度のネットワークだと考えればだいたい正しいようだ. 
閉鎖性のあるネットワークは規範や精細が強力に働く. 
したがって &lt;閉鎖性は社会構造への信頼性を生み出すといってよいだろう&gt; と結論づけている. </p>
<p>こうしたコールマンの主張に, 二つ目の論文 "社会関係資本をもたらすのは構造的隙間かネットワーク閉鎖性か" は異議を唱える. 
著者のバートは, "構造的隙間(structural hole)" を持つ関係に社会関係資本としての価値を見出す. 
要するに, "まわりの人が知らない人" を知っている方が, 
まわりの皆すべてと仲良し, というより強力だと主張しているわけ. 
構造的隙間を持つ関係は自分を情報のハブにできるので, 新しい/希少な情報を早く手に入れたり制御したりでいる. 
だから価値があるとバートは主張している. </p>
<p>この二つの主張の対比は面白い. 
近所/職場の人とは仲良くしなさい, 外の世界で知り合いを作りなさい, どちらが正しい主張なのだろうか？
バートは論文の後半で, これら二つは相補的な関係にあると議論している. </p>
<p>すべての論文には訳者が解説をつけている. その解説がよく書かれており有り難い. 
時代背景や文脈, 著者近況, 日本での類似研究を紹介している. 
参考文献も豊富なので, また気がむいたら適当にみつくろって読んでみたい. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='1934356506' href='http://www.amazon.co.jp/Pomodoro-Technique-Illustrated-Easy-Pragmatic/dp/1934356506%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1934356506'>Pomodoro Technique Illustrated</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/Pomodoro-Technique-Illustrated-Easy-Pragmatic/dp/1934356506%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D1934356506' class='bookcover'><img data:asin='1934356506' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51Ll9qONugL.jpg'></span></a></span></p>
<p>おおまかにいうと, 30 分単位で仕事をしましょうという話. 
そのために脳の仕組みを理解して集中力を保ったり割り込みを防いだりする方法を
丁寧に説明してるんだけど...</p>
<p>実際にやってみて一番むずかしかったのは, 
計画時に仕事を 30 分単位に切り分けたりまとめたりするところと, 
作業を 30 分という予測通りに終わらせること. 
レビューやメールの返事みたいな細かい仕事は, 集めても案外 30 分もなかったりする. 
逆にコード書きに 30 分で区切りを探すのは大変. 
ちょっと行き詰まって調べものをするとすぐタイムオーバーになってしまう. 
世間の Promodo な人がどういう風に作業を区切っているのか, 実物を見てみたい. </p>
<p>というかんじで挫折中. タイマーだけは何かと便利に使ってるけどね...</p>
<p>(状態: PDF)</p>
<h4><a data:asin='4757160119' href='http://www.amazon.co.jp/%E8%AA%98%E6%83%91%E3%81%95%E3%82%8C%E3%82%8B%E6%84%8F%E5%BF%97-%E4%BA%BA%E3%81%AF%E3%81%AA%E3%81%9C%E8%87%AA%E6%BB%85%E7%9A%84%E8%A1%8C%E5%8B%95%E3%82%92%E3%81%99%E3%82%8B%E3%81%AE%E3%81%8B-%E3%82%B8%E3%83%A7%E3%83%BC%E3%82%B8%E3%83%BB%E3%82%A8%E3%82%A4%E3%83%B3%E3%82%BA%E3%83%AA%E3%83%BC/dp/4757160119%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4757160119'>誘惑される意志</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E8%AA%98%E6%83%91%E3%81%95%E3%82%8C%E3%82%8B%E6%84%8F%E5%BF%97-%E4%BA%BA%E3%81%AF%E3%81%AA%E3%81%9C%E8%87%AA%E6%BB%85%E7%9A%84%E8%A1%8C%E5%8B%95%E3%82%92%E3%81%99%E3%82%8B%E3%81%AE%E3%81%8B-%E3%82%B8%E3%83%A7%E3%83%BC%E3%82%B8%E3%83%BB%E3%82%A8%E3%82%A4%E3%83%B3%E3%82%BA%E3%83%AA%E3%83%BC/dp/4757160119%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4757160119' class='bookcover'><img data:asin='4757160119' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41KGPAECFCL.jpg'></span></a></span></p>
<p>双曲割引というアイデアで色々なものを説明していく. 
経済学でには将来価値は現在価値を指数的に割引く (毎年一定の割合で減衰していく) けれど, 
ヒトの認知はなぜかそのカーブが指数じゃなくて双曲線になっているため, "意志の弱さ" が
あらわれるという話. 意志の弱さ以外にも色々なものを説明しようとするんだけれど, 
難解すぎておいてけぼられた. 訳者(山形浩生) の解説でちょっとわかった気が回復. </p>
<p>もともとマクド依存対策にと読んだのだけれど, 
改めてマクドナルドの巧みさを確認する結果となった. 
双曲線が十分に低減する範囲からマクドを駆逐できる気がしません. </p>
<h4><a data:asin='4822246671' href='http://www.amazon.co.jp/%E5%B8%82%E5%A0%B4%E3%83%AA%E3%82%B9%E3%82%AF-%E6%9A%B4%E8%90%BD%E3%81%AF%E5%BF%85%E7%84%B6%E3%81%8B-%E3%83%AA%E3%83%81%E3%83%A3%E3%83%BC%E3%83%89%E3%83%BB%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9%E3%83%86%E3%83%BC%E3%83%90%E3%83%BC/dp/4822246671%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822246671'>市場リスク 暴落は必然か</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%B8%82%E5%A0%B4%E3%83%AA%E3%82%B9%E3%82%AF-%E6%9A%B4%E8%90%BD%E3%81%AF%E5%BF%85%E7%84%B6%E3%81%8B-%E3%83%AA%E3%83%81%E3%83%A3%E3%83%BC%E3%83%89%E3%83%BB%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9%E3%83%86%E3%83%BC%E3%83%90%E3%83%BC/dp/4822246671%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822246671' class='bookcover'><img data:asin='4822246671' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51u6Rz8QVhL.jpg'></span></a></span></p>
<p>よく覚えてないけれど金融関係者だった著者の行く先々でおこる損失を
半生記風に紹介しながら, 最後は "ハイテク金融はもう制御するの無理じゃね？" 
みたいな結論をだしており, 散々稼いだあとにそういうことを言うかと呆れた記憶がある.
あと出てくる金額の桁がおかしくて金銭感覚にインパクトがあった. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='4313860223' href='http://www.amazon.co.jp/%E4%BE%9D%E5%AD%98%E7%97%87%E3%81%A8%E5%AE%B6%E6%97%8F-%E6%96%8E%E8%97%A4-%E5%AD%A6/dp/4313860223%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4313860223'>依存症と家族</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E4%BE%9D%E5%AD%98%E7%97%87%E3%81%A8%E5%AE%B6%E6%97%8F-%E6%96%8E%E8%97%A4-%E5%AD%A6/dp/4313860223%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4313860223' class='bookcover'><img data:asin='4313860223' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41uQk4WGaSL.jpg'></span></a></span></p>
<p>Twitter 依存症にどう取り組もうかと考えるために. 
表題からわかるように, 本書の立場は "依存症の症状は個人に出るが, それは家族が抱える問題の表出である" というもの. 
ケーススタディー風に症例を紹介しながら心的なメカニズムや解決の取り組みを示す. 
が, 独り暮らしの身にはいまいち興味が持てず. 娘が登校拒否で奥さんが Twitter 中毒といった家庭の人は
興味深く読めるんだろうけど... "依存症と独身" だったら食い入るように読んだかも. </p>
<p>個人的には Twitter に限らず social media 依存症は SE の鬱病と同程度には深刻な問題になりうると思っているので
専門家による真剣な取り組みを待ちたい.</p>
<p>(状態: 無事)</p>
<h4><a data:asin='4822247740' href='http://www.amazon.co.jp/%E3%82%A4%E3%83%B3%E3%82%BB%E3%83%B3%E3%83%86%E3%82%A3%E3%83%96-%E8%87%AA%E5%88%86%E3%81%A8%E4%B8%96%E7%95%8C%E3%82%92%E3%81%86%E3%81%BE%E3%81%8F%E5%8B%95%E3%81%8B%E3%81%99-%E3%82%BF%E3%82%A4%E3%83%A9%E3%83%BC%E3%83%BB%E3%82%B3%E3%83%BC%E3%82%A8%E3%83%B3/dp/4822247740%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822247740'>インセンティブ</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%A4%E3%83%B3%E3%82%BB%E3%83%B3%E3%83%86%E3%82%A3%E3%83%96-%E8%87%AA%E5%88%86%E3%81%A8%E4%B8%96%E7%95%8C%E3%82%92%E3%81%86%E3%81%BE%E3%81%8F%E5%8B%95%E3%81%8B%E3%81%99-%E3%82%BF%E3%82%A4%E3%83%A9%E3%83%BC%E3%83%BB%E3%82%B3%E3%83%BC%E3%82%A8%E3%83%B3/dp/4822247740%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4822247740' class='bookcover'><img data:asin='4822247740' class='asin image-right' src='http://ecx.images-amazon.com/images/I/517wlmPy%2BDL.jpg'></span></a></span></p>
<p>最近多い経済学読み物の一冊. </p>
<p>まずインセンティブの概念をを "汚い皿", "駐車券", "セールスマン" の喩え話を軸に説明していく...
のかと思ったら, 半分くらい経済学用語を肴にしたしょうもないライフハックみたいな内容で
ややがっかりだった. もう半分くらいは, 一冊使って書いてほしいようなテーマをさらっと扱う感じ. 
経済学の中心にインセンティブがあるのは確かだけれど, 
これを単一の関心事として切り出すアプローチはうまくいかないのかも. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='4861822386' href='http://www.amazon.co.jp/%E3%83%90%E3%82%A4%E3%82%A2%E3%82%B0%E3%83%A9%E6%99%82%E4%BB%A3%E2%80%95%E2%80%95%E2%80%9C%E9%AD%94%E6%B3%95%E3%81%AE%E3%81%B2%E3%81%A8%E7%B2%92%E2%80%9D%E3%81%8C%E5%BC%95%E3%81%8D%E8%B5%B7%E3%81%97%E3%81%9F%E5%8A%9F%E7%BD%AA-%E3%83%A1%E3%82%A4%E3%82%AB%E3%83%BB%E3%83%AB%E3%83%BC/dp/4861822386%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4861822386'>バイアグラ時代 - &quot;魔法のひと粒&quot;が引き起した功罪</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%90%E3%82%A4%E3%82%A2%E3%82%B0%E3%83%A9%E6%99%82%E4%BB%A3%E2%80%95%E2%80%95%E2%80%9C%E9%AD%94%E6%B3%95%E3%81%AE%E3%81%B2%E3%81%A8%E7%B2%92%E2%80%9D%E3%81%8C%E5%BC%95%E3%81%8D%E8%B5%B7%E3%81%97%E3%81%9F%E5%8A%9F%E7%BD%AA-%E3%83%A1%E3%82%A4%E3%82%AB%E3%83%BB%E3%83%AB%E3%83%BC/dp/4861822386%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4861822386' class='bookcover'><img data:asin='4861822386' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41cwLtBrrhL.jpg'></span></a></span></p>
<p>米国でおきたバイアグラをめぐる悲喜を批判的な視点で描く. 
いかにバイアグラが生まれたかという話から, "女性向けバイアグラ" を巡る探求まで. 
米国ではおそらく日本よりだいぶ盛んに使われているらしく, それだけ話題も多岐にわたる. 大変面白かった. </p>
<blockquote><p>本書は, バイアグラ現象の温床を生んだ社会的, 歴史的, 経済的, 政治的要因に始まる.
つまり, 勃起不全という社会問題の創出, ファイザーにおる ED のブランド化, 性機能不全の男性大衆の構築,
バイアグラとの関連における &lt;男&gt; についての男性患者や医師による多様な解釈を可能にした要因である. 
その後, 分析の焦点は, 性機能障害のカップルである大衆の "お相手" - 女性 - に移行する. 
私はこれを, バイアグラ現象の "第二段階" と呼び, 結果として生じる "女性用バイアグラ" の探求について記述する. 
本書は, 自分の体や性欲, そして(最近亡くなったばかりの)夫を理解しようとする年配女性たちの努力を探り, 
女性の性の問題を定義, 治療しようとする権威の競争が起きる科学領域に入る. </p>
</blockquote>
<p>個人的に面白かったのは勃起不全が "発明" であるというアイデア. 
肥満や鬱など, 人や社会が "発明" したと捉えることができる病気(や不都合な身体的特徴)は他にもある. 
バイアグラを取り巻く物語が面白いのは, バイアグラはその登場から高々十年程度であっという間に広まり, 
社会の認知の認知も急激に変化した点だと思う. おかげで著者のような社会学者がその変化の様子を
包括的に調べることができたし, 時間をかけて変化すれば隠れてしまうような問題も歪みとして表面化した. 
"社会によって発明される病気" をうつす鏡としてのバイアグラを, 著者はうまく描いている. </p>
<p>正直なところ, 際どい領域の "病気" に "勃起不全" というクリアな名前とを発明して
それを撲滅するのが(まるでマラリア撲滅のような)人類への善行であるようなイメージで広報を行い
錠剤のブルーを健全さのイメージカラーに据え, 
高齢男性を制覇したら若年, そして女性とスコープを広げていくファイザーの手腕は不謹慎ながら鮮やかで, 
倫理的な問題は差し置き惚れ惚れするところがあった. 西新宿の例のビルは敬意を込め勃起御殿と呼びたい. </p>
<h4><a data:asin='479670289X' href='http://www.amazon.co.jp/%E5%BD%BC%E5%A5%B3%E3%81%9F%E3%81%A1%E3%81%AE%E3%80%8ESex-City%E3%80%8F%E2%80%95%E6%B5%B7%E5%A4%96%E3%83%89%E3%83%A9%E3%83%9E%E8%A6%96%E8%81%B4%E3%81%AE%E3%82%A8%E3%82%B9%E3%83%8E%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3-%E6%B2%B3%E6%B4%A5-%E5%AD%9D%E5%AE%8F/dp/479670289X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D479670289X'>彼女たちの Sex And The City</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%BD%BC%E5%A5%B3%E3%81%9F%E3%81%A1%E3%81%AE%E3%80%8ESex-City%E3%80%8F%E2%80%95%E6%B5%B7%E5%A4%96%E3%83%89%E3%83%A9%E3%83%9E%E8%A6%96%E8%81%B4%E3%81%AE%E3%82%A8%E3%82%B9%E3%83%8E%E3%82%B0%E3%83%A9%E3%83%95%E3%82%A3-%E6%B2%B3%E6%B4%A5-%E5%AD%9D%E5%AE%8F/dp/479670289X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D479670289X' class='bookcover'><img data:asin='479670289X' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41KkncjU19L.jpg'></span></a></span></p>
<p>"Sex And The City" 視聴者 ("30 代キャリア女性") へのインタビューを通じ, 同ドラマの同時代性を描く. 
バイアグラ時代にあわせエスノグラフィーブームだったので読んでみた. TV シリーズは見てない. (テレビないしね.) 
キャリア女性の皆様は大変なのだなあと, ジェンダー的特権にあずかりながら
逆サイドでちんたら生きてる同世代として若干申しわけない気持になった. 
キャリア(でなくても)男性の危機はリストラとか定年だというから, 
カウンターがあるとしたら "俺たちの島耕作" だろうか. こっちの方がよっぽど共感できなそうだけど...</p>
<p>(状態: 無事)</p>
<h4><a data:asin='4560058326' href='http://www.amazon.co.jp/%E3%82%AF%E3%83%AC%E3%82%AA%E3%83%BC%E3%83%AB%E8%AA%9E-%E6%96%87%E5%BA%AB%E3%82%AF%E3%82%BB%E3%82%B8%E3%83%A5-%E3%83%AD%E3%83%99%E3%83%BC%E3%83%AB-%E3%82%B7%E3%83%A7%E3%83%80%E3%83%B3%E3%82%BD%E3%83%B3/dp/4560058326%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4560058326'>クレオール語</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%AF%E3%83%AC%E3%82%AA%E3%83%BC%E3%83%AB%E8%AA%9E-%E6%96%87%E5%BA%AB%E3%82%AF%E3%82%BB%E3%82%B8%E3%83%A5-%E3%83%AD%E3%83%99%E3%83%BC%E3%83%AB-%E3%82%B7%E3%83%A7%E3%83%80%E3%83%B3%E3%82%BD%E3%83%B3/dp/4560058326%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4560058326' class='bookcover'><img data:asin='4560058326' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41CJBQHE7KL.jpg'></span></a></span></p>
<p>"<a data:asin='0321125215' href='http://www.amazon.co.jp/Domain-Driven-Design-Tackling-Complexity-Software/dp/0321125215%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0321125215'>Domain Driven Design</a>" の中で Evans が "Universal Language" を
"クレオール" と比喩したのをみて,
UL のような希望に満ちたアイデアに植民地の奴隷に押し付けた欧州の言葉をあてるメタファーの適切さに疑問があって読んだ. 
この本によると, クレオール語の起源や発生過程, たとえば誰から誰に広がったのか, 
どのくらい土着の言葉の特徴を残しているのかについて, あまり決定的な合意がないらしい. 
なのでクレオールを持ち出した Evans の民族主義(?)
を批判することもできないけれど, 
クレオールというメタファがソフトウェア開発者に豊かな意味をもたらすこともない気がした. 
まあピジンじゃないんだぜ, という意味ではいいのかもしらん. </p>
<p>あと一口にクレオールと言っても <a href="http://ja.wikipedia.org/wiki/クレオール言語">沢山ある</a> ことを知った. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='4004311578' href='http://www.amazon.co.jp/%E5%AD%90%E3%81%A9%E3%82%82%E3%81%AE%E8%B2%A7%E5%9B%B0%E2%80%95%E6%97%A5%E6%9C%AC%E3%81%AE%E4%B8%8D%E5%85%AC%E5%B9%B3%E3%82%92%E8%80%83%E3%81%88%E3%82%8B-%E5%B2%A9%E6%B3%A2%E6%96%B0%E6%9B%B8-%E9%98%BF%E9%83%A8-%E5%BD%A9/dp/4004311578%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4004311578'>子供の貧困</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%AD%90%E3%81%A9%E3%82%82%E3%81%AE%E8%B2%A7%E5%9B%B0%E2%80%95%E6%97%A5%E6%9C%AC%E3%81%AE%E4%B8%8D%E5%85%AC%E5%B9%B3%E3%82%92%E8%80%83%E3%81%88%E3%82%8B-%E5%B2%A9%E6%B3%A2%E6%96%B0%E6%9B%B8-%E9%98%BF%E9%83%A8-%E5%BD%A9/dp/4004311578%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4004311578' class='bookcover'><img data:asin='4004311578' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41KI5pK%2BtQL.jpg'></span></a></span></p>
<p>子供というか子供のいる家庭の貧困について. 
貧困が世代間で伝播するといった話は他でも読んだことがあったけれど, 
世帯所得が "その社会で一番標準的(中央値)の '手取り' の '世帯所得' の半分以下" と
相対的貧困を定義し, 格差との違いを議論するくだりが興味深かった. </p>
<p>著者は日本にあるのは格差問題(だけ)ではなく貧困問題であるという主張を軸に
政府による所得再配分の失敗を含めた様々な問題を指摘する. 
特に日本人が貧困の問題を直視しようとしないという指摘や, 
子供に対して冷たい傾向への危惧など, 耳の痛い話が印象的だった. </p>
<p>子供に対する扱いの悪さや貧困問題の忌避といった問題にうっすらと絶望するのは, 
自分自身がこうした問題と積極的に闘う様子をまったく想像できないからかもしれない. </p>
<p>(状態: 無事)</p>
<h4><a data:asin='4004311128' href='http://www.amazon.co.jp/%E3%83%AB%E3%83%9D-%E8%B2%A7%E5%9B%B0%E5%A4%A7%E5%9B%BD%E3%82%A2%E3%83%A1%E3%83%AA%E3%82%AB-%E5%B2%A9%E6%B3%A2%E6%96%B0%E6%9B%B8-%E5%A0%A4-%E6%9C%AA%E6%9E%9C/dp/4004311128%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4004311128'>ルポ 貧困大国アメリカ</a></h4>
<p>貧困つづき. アメリカやばい. 貧乏だと軍隊に送られてしまう. 世代間伝播とかいうレベルじゃない. 
"子供の貧困" で紹介されていた子どもの貧困率もアメリカが突出していた. 
情報産業で働いているとアメリカ最強な感じがしてしまうけれど, 国家としてはだいぶ軋んでるよね. </p>
<p>(状態: 無事)</p>
<h4>そのほか新書など</h4>
<ul>
<li><a data:asin='4022732806' href='http://www.amazon.co.jp/%E6%9D%B1%E4%BA%AC%E3%80%8C%E9%80%B2%E5%8C%96%E3%80%8D%E8%AB%96-%E4%BC%B8%E3%81%B3%E3%82%8B%E8%A1%97%E3%83%BB%E5%A4%89%E3%82%8F%E3%82%8B%E8%A1%97%E3%83%BB%E5%84%B2%E3%81%8B%E3%82%8B%E8%A1%97-%E6%9C%9D%E6%97%A5%E6%96%B0%E6%9B%B8-%E5%A2%97%E7%94%B0-%E6%82%A6%E4%BD%90/dp/4022732806%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4022732806'>東京 「進化」 論</a>: は散歩ガイドに.</li>
<li><a data:asin='4140881631' href='http://www.amazon.co.jp/%E3%83%95%E3%83%AA%E3%83%BC%E3%82%BA%E3%81%99%E3%82%8B%E8%84%B3%E2%80%95%E6%80%9D%E8%80%83%E3%81%8C%E6%AD%A2%E3%81%BE%E3%82%8B%E3%80%81%E8%A8%80%E8%91%89%E3%81%AB%E8%A9%B0%E3%81%BE%E3%82%8B-%E7%94%9F%E6%B4%BB%E4%BA%BA%E6%96%B0%E6%9B%B8-%E7%AF%89%E5%B1%B1-%E7%AF%80/dp/4140881631%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4140881631'>フリーズする脳</a>: フリーズしてます,</li>
<li><a data:asin='4140882026' href='http://www.amazon.co.jp/%E8%84%B3%E3%81%8C%E5%86%B4%E3%81%88%E3%82%8B15%E3%81%AE%E7%BF%92%E6%85%A3%E2%80%95%E8%A8%98%E6%86%B6%E3%83%BB%E9%9B%86%E4%B8%AD%E3%83%BB%E6%80%9D%E8%80%83%E5%8A%9B%E3%82%92%E9%AB%98%E3%82%81%E3%82%8B-%E7%94%9F%E6%B4%BB%E4%BA%BA%E6%96%B0%E6%9B%B8-%E7%AF%89%E5%B1%B1-%E7%AF%80/dp/4140882026%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4140882026'>脳が冴える 15 の習慣</a>: ムリです. 生きる気力とかそういう問題じゃないか. Amazon のレビュー件数がすごいな.</li>
<li><a data:asin='4344980506' href='http://www.amazon.co.jp/%E5%8B%9D%E6%89%8B%E3%81%AB%E7%B5%B6%E6%9C%9B%E3%81%99%E3%82%8B%E8%8B%A5%E8%80%85%E3%81%9F%E3%81%A1-%E5%B9%BB%E5%86%AC%E8%88%8E%E6%96%B0%E6%9B%B8-%E8%8D%92%E4%BA%95-%E5%8D%83%E6%9A%81/dp/4344980506%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4344980506'>勝手に絶望する若者たち</a>: いまいち共感せず, 自分が若者じゃないことを思い知った.</li>
<li><a data:asin='4166601105' href='http://www.amazon.co.jp/%E3%80%8C%E7%A4%BE%E4%BC%9A%E8%AA%BF%E6%9F%BB%E3%80%8D%E3%81%AE%E3%82%A6%E3%82%BD%E2%80%95%E3%83%AA%E3%82%B5%E3%83%BC%E3%83%81%E3%83%BB%E3%83%AA%E3%83%86%E3%83%A9%E3%82%B7%E3%83%BC%E3%81%AE%E3%81%99%E3%81%99%E3%82%81-%E6%96%87%E6%98%A5%E6%96%B0%E6%9B%B8-%E8%B0%B7%E5%B2%A1-%E4%B8%80%E9%83%8E/dp/4166601105%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4166601105'>社会調査のウソ</a>: ニュースのグラフなどを読む気が失せてくる, グラフ以前の話.</li>
<li><a data:asin='4396111703' href='http://www.amazon.co.jp/%E3%82%B3%E3%83%B3%E3%83%93%E3%83%8B%E9%A3%9F%E3%81%A8%E8%84%B3%E7%A7%91%E5%AD%A6-%E3%80%8C%E3%81%8A%E3%81%84%E3%81%97%E3%81%84%E3%80%8D%E3%81%A8%E6%84%9F%E3%81%98%E3%82%8B%E7%A7%98%E5%AF%86-%E7%A5%A5%E4%BC%9D%E7%A4%BE%E6%96%B0%E6%9B%B8170-%E5%8A%A0%E8%97%A4-%E7%9B%B4%E7%BE%8E/dp/4396111703%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4396111703'>コンビニ食と脳科学</a>: 文章にぜんぜん relevance がなくて疲れた.</li>
<li><a data:asin='4478770239' href='http://www.amazon.co.jp/%E3%83%AD%E3%82%B8%E3%82%AB%E3%83%AB%E3%83%BB%E3%83%AA%E3%82%B9%E3%83%8B%E3%83%B3%E3%82%B0-%E8%88%B9%E5%B7%9D-%E6%B7%B3%E5%BF%97/dp/4478770239%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4478770239'>ロジカルリスニング</a>: おぼえてないけどたぶんどうでもいい. ロジカルシリーズは著者を揃えてほしいな.</li>
<li><a data:asin='4314010479' href='http://www.amazon.co.jp/%E7%B5%8C%E6%B8%88%E3%81%AF%E6%84%9F%E6%83%85%E3%81%A7%E5%8B%95%E3%81%8F%E2%80%95%E2%80%95-%E3%81%AF%E3%81%98%E3%82%81%E3%81%A6%E3%81%AE%E8%A1%8C%E5%8B%95%E7%B5%8C%E6%B8%88%E5%AD%A6-%E3%83%9E%E3%83%83%E3%83%86%E3%82%AA-%E3%83%A2%E3%83%83%E3%83%86%E3%83%AB%E3%83%AA%E3%83%BC%E3%83%8B/dp/4314010479%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4314010479'>経済は感情で動く</a>: さらっと読むには良いのでは.</li>
<li><a data:asin='430901917X' href='http://www.amazon.co.jp/%E6%9F%B4%E7%94%B0%E3%81%95%E3%82%93%E3%81%A8%E9%AB%98%E6%A9%8B%E3%81%95%E3%82%93%E3%81%AE%E5%B0%8F%E8%AA%AC%E3%81%AE%E8%AA%AD%E3%81%BF%E6%96%B9%E3%80%81%E6%9B%B8%E3%81%8D%E6%96%B9%E3%80%81%E8%A8%B3%E3%81%97%E6%96%B9-%E6%9F%B4%E7%94%B0-%E5%85%83%E5%B9%B8/dp/430901917X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D430901917X'>小説の読み方, 書き方, 訳し方</a>: おすすめ本さがしに. ぜんぜん読んでない...</li>
<li><a data:asin='4877710787' href='http://www.amazon.co.jp/%E4%BB%95%E4%BA%8B%E3%81%AF%E6%A5%BD%E3%81%97%E3%81%84%E3%81%8B%E3%81%AD-%E3%83%87%E3%82%A4%E3%83%AB-%E3%83%89%E3%83%BC%E3%83%86%E3%83%B3/dp/4877710787%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4877710787'>仕事は楽しいかね?</a>: は友達より.</li>
</ul>
<p>以下小説. 小説はだいたい無事. </p>
<h4><a data:asin='430962202X' href='http://www.amazon.co.jp/%E3%83%96%E3%83%A9%E3%83%83%E3%82%AF%E3%82%B8%E3%83%A5%E3%83%BC%E3%82%B9-%E5%A5%87%E6%83%B3%E3%82%B3%E3%83%AC%E3%82%AF%E3%82%B7%E3%83%A7%E3%83%B3-%E3%83%9E%E3%83%BC%E3%82%B4-%E3%83%A9%E3%83%8A%E3%82%AC%E3%83%B3/dp/430962202X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D430962202X'>ブラックジュース</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%96%E3%83%A9%E3%83%83%E3%82%AF%E3%82%B8%E3%83%A5%E3%83%BC%E3%82%B9-%E5%A5%87%E6%83%B3%E3%82%B3%E3%83%AC%E3%82%AF%E3%82%B7%E3%83%A7%E3%83%B3-%E3%83%9E%E3%83%BC%E3%82%B4-%E3%83%A9%E3%83%8A%E3%82%AC%E3%83%B3/dp/430962202X%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D430962202X' class='bookcover'><img data:asin='430962202X' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51F5UTIlbwL.jpg'></span></a></span></p>
<blockquote><p>"ああ, 愛しい子" ぼくの後ろで, マイがすすり泣いた. "ちっちゃなかわいい子"</p>
<p>抱っこしてあげるにはちょっと遅過ぎるよ, とぼくはもう少しで口に出しかけた. ぼくはいらいらして怯えていたし,
ばかみたいなことをいうマイにつきあうには大きくなり過ぎていた. </p>
<p>"さあイック, これからわたしたちできれいい飾ってあげるからね" イックの頭を囲むように花輪を置きながら, 
母さんがいった. "おまえが逝ってしまっても,ここにくれば花があるから, おまえがいた場所がわかるわ" </p>
<p>"花なんか, ほんとうにすぐ枯れてしまうわよ --- 見たことがあるもの" 
閉じた口の隙間から押し出されるイックの声は, くぐもった響きを帯びはじめていた. "熱で萎れてしまうんだから"</p>
</blockquote>
<p>短編集. 読み口は軽いけれど印象は新鮮. </p>
<h4><a data:asin='4863320507' href='http://www.amazon.co.jp/%E3%83%8A%E3%82%A4%E3%83%B3%E3%83%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AA%E3%83%BC%E3%82%BA-J-D-%E3%82%B5%E3%83%AA%E3%83%B3%E3%82%B8%E3%83%A3%E3%83%BC/dp/4863320507%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4863320507'>ナイン・ストーリーズ</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%8A%E3%82%A4%E3%83%B3%E3%83%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AA%E3%83%BC%E3%82%BA-J-D-%E3%82%B5%E3%83%AA%E3%83%B3%E3%82%B8%E3%83%A3%E3%83%BC/dp/4863320507%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4863320507' class='bookcover'><img data:asin='4863320507' class='asin image-right' src='http://ecx.images-amazon.com/images/I/319Cn2TAnXL.jpg'></span></a></span></p>
<blockquote><p>彼女は電話が鳴ってもいっさい何も中断しないタイプの女の子だった.
電話なんて思春期に達して以来ずっと絶え間なく鳴っているみたいな顔をしていた. </p>
<p>小さなマニキュアのブラシを手に, 女の子は電話が鳴っているのをよそに, 
小指の爪にとりかかり, 爪半月のところにアクセントをつけていった. 
それからマニキュアの瓶に蓋をして, 立ち上がり, 左の --- 濡れた方の --- 手を宙で前後に振った.
そして乾いた方の手で, 吸殻の詰まった灰皿を窓際の椅子から取り上げ, 
ナイトテーブルまで運んでいった. 電話はそのナイトテーブルに載っている. 
メークしてあるツインベッドの一方に女の子は腰を下ろし, それから ---五回目か六回目のベルで --- 
電話器を手にとった. </p>
</blockquote>
<p>柴田元幸による新訳. 
自分の中にあるバブル期 OL のステレオタイプのプロトタイプは
これ(の<a data:asin='4102057013' href='http://www.amazon.co.jp/%E3%83%8A%E3%82%A4%E3%83%B3%E3%83%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AA%E3%83%BC%E3%82%BA-%E6%96%B0%E6%BD%AE%E6%96%87%E5%BA%AB-%E3%82%B5%E3%83%AA%E3%83%B3%E3%82%B8%E3%83%A3%E3%83%BC/dp/4102057013%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4102057013'>野崎訳</a>)だったと気付いてショックを受けるなどした. </p>
<h4><a data:asin='4105900358' href='http://www.amazon.co.jp/%E3%82%B7%E3%82%A7%E3%83%AB%E3%83%BB%E3%82%B3%E3%83%AC%E3%82%AF%E3%82%BF%E3%83%BC-%E6%96%B0%E6%BD%AE%E3%82%AF%E3%83%AC%E3%82%B9%E3%83%88%E3%83%BB%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9-%E3%82%A2%E3%83%B3%E3%82%BD%E3%83%8B%E3%83%BC-%E3%83%89%E3%83%BC%E3%82%A2/dp/4105900358%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4105900358'>シェル・コレクター</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%82%B7%E3%82%A7%E3%83%AB%E3%83%BB%E3%82%B3%E3%83%AC%E3%82%AF%E3%82%BF%E3%83%BC-%E6%96%B0%E6%BD%AE%E3%82%AF%E3%83%AC%E3%82%B9%E3%83%88%E3%83%BB%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9-%E3%82%A2%E3%83%B3%E3%82%BD%E3%83%8B%E3%83%BC-%E3%83%89%E3%83%BC%E3%82%A2/dp/4105900358%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4105900358' class='bookcover'><img data:asin='4105900358' class='asin image-right' src='http://ecx.images-amazon.com/images/I/515JC26EZKL.jpg'></span></a></span></p>
<blockquote><p>彼女の人生のすべては --- 健康, 幸福, 愛さえも --- 風景によって決定された. 
彼女はそのことに気づきはじめていた. 住む世界の天候は彼女の魂の天候と分かちがたく結びついていた. 
動脈の風はやみ, 肺には灰色の空が垂れこめた. 耳の奥で脈動が, 流れる血の響きが聞こえた.
それは時そのものだった. なめらかに過ぎゆき, とりかえすことはできず, 永遠に失われる瞬間を着々と刻んでいた. 
彼女はそのひとつひとつを悼んだ. </p>
</blockquote>
<h4><a data:asin='4105900439' href='http://www.amazon.co.jp/%E5%A5%87%E8%B7%A1%E3%82%82%E8%AA%9E%E3%82%8B%E8%80%85%E3%81%8C%E3%81%84%E3%81%AA%E3%81%91%E3%82%8C%E3%81%B0-%E6%96%B0%E6%BD%AE%E3%82%AF%E3%83%AC%E3%82%B9%E3%83%88%E3%83%BB%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9-%E3%82%B8%E3%83%A7%E3%83%B3%E3%83%BB%E3%83%9E%E3%82%B0%E3%83%AC%E3%82%AC%E3%83%BC/dp/4105900439%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4105900439'>奇跡も語るものがいなければ</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%A5%87%E8%B7%A1%E3%82%82%E8%AA%9E%E3%82%8B%E8%80%85%E3%81%8C%E3%81%84%E3%81%AA%E3%81%91%E3%82%8C%E3%81%B0-%E6%96%B0%E6%BD%AE%E3%82%AF%E3%83%AC%E3%82%B9%E3%83%88%E3%83%BB%E3%83%96%E3%83%83%E3%82%AF%E3%82%B9-%E3%82%B8%E3%83%A7%E3%83%B3%E3%83%BB%E3%83%9E%E3%82%B0%E3%83%AC%E3%82%AC%E3%83%BC/dp/4105900439%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4105900439' class='bookcover'><img data:asin='4105900439' class='asin image-right' src='http://ecx.images-amazon.com/images/I/412G895H4JL.jpg'></span></a></span></p>
<blockquote><p>ねえ, わたしたちのお話を聞かせてよ, いつかわたしたちの子供たちがせがんだとき, 聞かせるみたいに聞かせてよ, 
と彼女は言った.</p>
<p>結婚して最初の数年, 悲しい気分のときや体の調子が悪いとき, それから夜に眠れないとき, 
よく彼女はそう言った. 頭を彼の胸にのせ, 両手をあごの下にそっと寄せ, ねえ, わたしたちのお話を聞かせてよ, 
子供たちがいたら聞かせるみたいに聞かせてよ, と彼女は言った.</p>
<p>そして彼はいつも決まって, 昔, 昔, あるところに, 軍服姿もりりしい若くてハンサムな兵士がおりまして, 
ある日, 仲間とダンスパーティーに出かけていき, 目もあげられずにおりあした, とはじめ, 
するといつもきまって彼女はむっくり頭をもたげ, あきれた顔をしてみせて, 目もあげられなくなんかなかったじゃない, 
あの晩ずっとわたしに色目を使ってたくせに, と言うのだった. </p>
<p>そして彼はいつもきまって二本の指を彼女の唇に当て, ですから若くてハンサムな兵士は, 
気づくと目の前に若くて素敵な女性が立っていて, しかも踊りませんかと誘ってくれるのですから驚きました, 
と続け, すると彼女は, それからどうなったの? ふたりは踊ったの? ふたりは上手に踊った? と聞くのだった.</p>
</blockquote>
<p>特徴的な文体の種明しは訳者あとがきに. </p>
<h4><a data:asin='4054037747' href='http://www.amazon.co.jp/%E5%AE%8C%E5%85%A8%E7%89%88-%E6%9C%80%E5%BE%8C%E3%81%AE%E3%83%A6%E3%83%8B%E3%82%B3%E3%83%BC%E3%83%B3-%E3%83%94%E3%83%BC%E3%82%BF%E3%83%BC%E3%83%BBS-%E3%83%93%E3%83%BC%E3%82%B0%E3%83%AB/dp/4054037747%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4054037747'>最後のユニコーン</a></h4>
<p><span class='image'><a href='http://www.amazon.co.jp/%E5%AE%8C%E5%85%A8%E7%89%88-%E6%9C%80%E5%BE%8C%E3%81%AE%E3%83%A6%E3%83%8B%E3%82%B3%E3%83%BC%E3%83%B3-%E3%83%94%E3%83%BC%E3%82%BF%E3%83%BC%E3%83%BBS-%E3%83%93%E3%83%BC%E3%82%B0%E3%83%AB/dp/4054037747%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4054037747' class='bookcover'><img data:asin='4054037747' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51ZSyINjxQL.jpg'></span></a></span></p>
<blockquote><p>"それで, いつか魔法を見つけたら --- どうなるのさ?"</p>
<p>"そうしたら, あの呪文が解ける. そしてぼくは死に近づきはじめる. 生まれたときと同じように.
どんなに偉大な魔術師でも, 普通の人間と同じように年をとる. そして死ぬんだ"</p>
</blockquote>
<p>きちんとファンタジーで嬉しかった. </p>
<h4>そのほか小説</h4>
<ul>
<li><a data:asin='4309622038' href='http://www.amazon.co.jp/TAP-%E5%A5%87%E6%83%B3%E3%82%B3%E3%83%AC%E3%82%AF%E3%82%B7%E3%83%A7%E3%83%B3-%E3%82%B0%E3%83%AC%E3%83%83%E3%82%B0-%E3%82%A4%E3%83%BC%E3%82%AC%E3%83%B3/dp/4309622038%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4309622038'>TAP</a>: イーガンも初期は割と素朴だったのね. 山場の作り方なんかはそのまんまだけど.</li>
<li><a data:asin='4309205097' href='http://www.amazon.co.jp/%E5%B9%BD%E9%9C%8A%E3%82%B3%E3%83%AC%E3%82%AF%E3%82%BF%E3%83%BC-%E3%83%A6%E3%83%BC%E3%83%87%E3%82%A3%E3%83%83%E3%83%88-%E3%83%98%E3%83%AB%E3%83%9E%E3%83%B3/dp/4309205097%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4309205097'>幽霊コレクター</a>: ドイツだなーというかんじ.</li>
<li><a data:asin='4152089229' href='http://www.amazon.co.jp/%E3%82%A8%E3%82%A2-%E3%83%97%E3%83%A9%E3%83%81%E3%83%8A%E3%83%BB%E3%83%95%E3%82%A1%E3%83%B3%E3%82%BF%E3%82%B8%E3%82%A4-%E3%82%B8%E3%82%A7%E3%83%95%E3%83%BB%E3%83%A9%E3%82%A4%E3%83%9E%E3%83%B3/dp/4152089229%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4152089229'>エア</a>: 中国辺境(とチベット)がエキゾチックな異国として描かれているのに時代を感じた.</li>
<li><a data:asin='4270003286' href='http://www.amazon.co.jp/%E7%B5%82%E3%82%8F%E3%82%8A%E3%81%AE%E8%A1%97%E3%81%AE%E7%B5%82%E3%82%8F%E3%82%8A-%E3%82%B1%E3%83%B4%E3%82%A3%E3%83%B3-%E3%83%96%E3%83%AD%E3%83%83%E3%82%AF%E3%83%9E%E3%82%A4%E3%83%A4%E3%83%BC/dp/4270003286%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4270003286'>終わりの町の終わり</a>: 雰囲気はいいんだけど話のおわらせ方が適当すぎるとおもう.</li>
<li><a data:asin='4560090025' href='http://www.amazon.co.jp/%E3%82%A4%E3%82%A8%E3%83%A1%E3%83%B3%E3%81%A7%E9%AE%AD%E9%87%A3%E3%82%8A%E3%82%92-%E3%82%A8%E3%82%AF%E3%82%B9%E3%83%BB%E3%83%AA%E3%83%96%E3%83%AA%E3%82%B9-%E3%83%9D%E3%83%BC%E3%83%AB-%E3%83%88%E3%83%BC%E3%83%87%E3%82%A3/dp/4560090025%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4560090025'>イエメンで鮭釣りを</a>: そこそこには面白かった. 法螺っぷりはアーヴィングっぽい気もする.</li>
</ul>
<p>...</p>
<p>技術書やビジネス書の読み方が年々雑になっていてよくない. 
すくなくとも読んだ本の話はもう少しこまめに書かないと中身をすっかり忘れてしまうと反省. </p>
<p>小説はなんとか柴田依存を回避しようと右往左往したら全然読めなかった. 
嗜好が完全に支配されちゃってるので, 独占を認めて依存しとこう. </p>
