---
title: "2 月末でこれまでの勤め先を退職し, 3 月から渋谷のグーグルで働いています"
date: 2010-03-12
---
<h3>近況</h3>
<p>2 月末でこれまでの勤め先を退職し, 3 月から渋谷のグーグルで働いています. 
前職のみなさまお世話になりました. 
もうちょっとコードにコメントを書いておくんだったと後悔しつつ後の祭りです. ごめん. 
新しい職場のみなさまよろしくおねがいします. 
というか既にだいぶよろしくされてます. ありがとうございます.
4 月から入ってくると思われる新卒社員の方, は読んでないと思いますが, 
ときどき研修に混じってくるおっさんがいても適当にスルーしてくださいませ.</p>
<p>カルマを高めてきたグーグルウォッチャー業は廃業です. 機会を頂いたのにすみません. 
でもさすがにウォッチャー社員はよくない. ドントビーイービル.
新しいウォッチ対象を探したい気もするけれど, 
その前にもうちょっと(というかだいぶ)
コードを書いたり英語を話したりできるようにならないとまずそうで手いっぱい. 
両隣の同僚が書くパッチの量に気圧され, 英語 Techtalk のジョークに笑えず, 
WebKit のとれないバグに悶絶する日々です. ぬぬぬ...</p>
<p>食生活とビルド時間は劇的に改善しました. </p>
<p>あとはええと, 今までもこれからもこのサイトの内容は私的なものであり, 
私の勤務先の見解を反映するものではありません. 
まったく.</p>
