---
title: "ピンポン怪談と Conjunction fallacy"
date: 2011-03-14
---
<h3>ピンポン怪談と Conjunction fallacy</h3>
<blockquote><p>ついに家にも来た！「輪番停電の作業のためおうかがいしました。」とピンポンする人たち。
インターホンの画面に映ったのは深々と帽子被った男数人。
でも耳たぶにたくさんのピアス見えた。作業があるなんて市役所から連絡ないし。
この手口で家に入られそうになる人多いらしい。みなさんも気をつけて！</p>
</blockquote>
<p>巷で噂になっているような Twitter デマ情報や怪談の類が届かず
寂しい思いをしている私を気遣ってか, 
following の一人が新しいのを一つ retweet してくれた.
ありがとう.</p>
<p>この怪談はいくつかの点でよく書けている. 
なんといってもつかみがいい. <em>ついに家にも来た!</em> 
前例を仄めかし, 読み手に自分の知らない流行があったと焦らせる煽りがバズに初速を与える. 
伝聞ではない当事者の語り口が retweet の敷居を下げる. 
体験談でありながら同時に後半の伝聞パート <em>この手口で...</em> を補強しているのも見事だ. </p>
<p>次もいい. <em>でも...ピアス見えた</em> ...
狐や狸の昔話, 騙そうとする相手の尻尾をつかむエピソードを今風にアレンジできている. 
インターホンの前で舌なめずりする狐の姿が頭にうかび, 陳腐なのにどこかぞっとする.
短いフレーズで鮮烈な印象をうみだすのに原型は頼りになる. </p>
<p>ピアスを選んだのもうまい. なんだかおっかない若者の影をうまく捉えている. 
<em>市役所から連絡ないし</em> と一枚上手になり溜飲を下げる相手は, 
ピアスのイメージが示す &lt;何を考えてるかわからないない若者&gt; がいいよね. 
たぶん茶髪だぜ. </p>
<p>書きぶりだけでなく話題もいい. 
公的アナウンスをフライングしたような発言は最終的に公文書や報道をみれば
だいたい正誤に決着がつく. でもこの手の逸話は事実を知りようがない. 
厳密な正誤がないから気軽に広まる. </p>
<h4>怪談の誕生</h4>
<p>この怪談は新鮮そうだから, どうにか生まれたところまで遡れないだろうか. 
<a href="http://www.google.com/realtime">リアルタイムサーチ</a> で適当に調べると, 
14 時ちょっとすぎから始まって 15 時半ごろに最初の山がある. 
そのあと 17 時半にもう一つ小さな山ができ, あとは細々. </p>
<p>同僚にこの話をしたら器用に検索ページの時系列を辿り最古のものらしき発言をみつけてくれたけれど, 
そのアカウントは消えていた. ただ同アカウントに対する mention を見る限り, 
bot などではなく普通に個人づかいのアカウントだったようす. 
たぶん発言が広まりすぎ怖くなって消しちゃったんだろうな. 気持ちはわかる. </p>
<p>正直なところ, 話の真偽は割とどうでもいい. 
それよりこの怪談がどんな風に加工されるのかに興味津々で, 
しばらく検索ストリームを眺め楽しんだ. 普段は見えない Twitter の姿がある.</p>
<p>加工には大きくわけてツールの不出来や悪戯による機械的なものと, 人手による書き換えとがある. 
機械的な加工というのは要するに retweet のし損ない. &lt;非公式&gt; ではなく &lt;公式&gt; RT を使えという
<a href="http://blog.twitter.jp/2011/03/blog-post_12.html">アナウンス</a> があったけれど, 
それ以前なものもあることを知った. まず "RT" と書きながら発言者の名前を消してしまうもの. </p>
<blockquote><p>危険！皆さん注意！RT ついに家にも来た！「輪番停電の作業のため、お伺いしました。」とピンポンする人たち。
インターホンの画面に映ったのは深々と帽子被った男数人。
でも耳たぶにたくさんのピアス見えた。作業があるなんて市役所から連絡ないし。
この手口で家に入られそうになる人多いらしい。</p>
</blockquote>
<p>"RT" すらつけないのもある. 
これは性質の悪い bot やユーザによるものと Twitter というツールへの無知によるものがあるようす. 
無知なコピーの中には, その後の会話で follower から "どうしたの?" と聞かれているのに 
"戸を開けなければいいんです" などと微妙に勘違いな返事をし, 
お互い誤解したままになっていると思しきケースもある. もう少しマシなのだと慌てて訂正していたりする. 
(性質のわるいユーザは基本的に友達いないっぽい人が多くあまり広がりはない.)</p>
<p>人間による加工はもっと面白い. 
最初に目についたのは, 冒頭の "ついに家にも来た!" を取るパターン.</p>
<blockquote><p>ヒドイ！ お年寄りのお住まいが心配RT 
@xxxxxxxxx: 「輪番停電の作業のためおうかがいしました。」とピンポンする人たち。
インターホンの画面に映ったのは深々と帽子被った男数人。でも耳たぶにたくさんのピアス見えた。
この手口で家に入られそうになるらしい。みなさんも気をつけて！</p>
</blockquote>
<p>オリジナルの字数が目一杯なので, 一言添えるために削ったんだろうね.
この削りやすさもオリジナルの出来のうちに思えてくる. </p>
<p>もっとはっきり要約して...というか完全にウワサ化したものも多い.</p>
<blockquote><p>@xxxxxxxx RTお願いします。
「輪番停電の作業のため、おうかがいしました。」とピンポンする男の人たちがいるみたいで、
この手口で家に入られそうになる人が多いらしいです。女性の方、ドアを開けないようにお願いします。</p>
</blockquote>
<p>女性じゃなくても開けたくないです.</p>
<h4>尾鰭の交配</h4>
<p>最初は "<em>輪番停電 ピンポン</em>" の検索結果を眺めていたけれど, 
ちょっと趣向をかえオリジナルバージョンにない単語を使ってみよう. 
"<em>輪番停電 強盗</em>" で検索すると更なるウワサ化をみることができた. あとは "<em>輪番停電 詐欺</em>" もおすすめ.</p>
<blockquote><p>友達から！拡散希望！ 輪番停電・節電停電の点検ですって装って強盗や性犯罪する事件があったみたい(;_;)
みんなそんな点検ないから絶対鍵あけちゃだめだよ(&gt;_&lt;)</p>
</blockquote>
<p>顔文字がかわいい. 
こうした変種バージョンのトレンドは 15 時半頃からはじまり, 18 時頃に小さなピークがあるなど断続的に続いている.</p>
<blockquote><p>輪番停電は仕方ないことだけどその作業のために伺いましたなんて言って人の家に押し掛けたりしてるらしいです。
強盗強姦狙いか知らないけど偽って訪問してるって。今日もスーパーすっからかん。物流が滞る可能性も。
値上がりも考慮しなくちゃ。必要な物が、ない。こわくなってきちゃった＞＜</p>
</blockquote>
<p>全然関係ないスーパーの世間話とまじりあってみたりもする. 
常識として定着していく様子が面白い. </p>
<blockquote><p>知人の女性の友人宅に東電作業員を偽装の詐欺グループ。
「輪番停電の作業のためお伺い……」と数人の男がやってくるらしい。
若い女性のひとり暮らしを狙って来るという情報もあるのでご注意を。できればRT願います。</p>
</blockquote>
<blockquote><p>[拡散希望]輪番停電に伴い、警察官または東京電力を装って家庭を訪問する人があらわれています。
警察も東電もそのようなことはおこなってませ開けないようにしてください。</p>
</blockquote>
<blockquote><p>「輪番停電の作業に来ました」や「安全保安協会の者ですがブレーカーは落ちてませんか？」などと語って
家に入ろうとする強盗とおぼしき輩が出てきているそうです！
みんな簡単にドアを開けないように注意して下さい！！</p>
</blockquote>
<p>怪談の基本 <em>友達の友達</em> が登場! 期待を裏切らない発言に心がうきたつ.
<em>若い女性のひとりぐらし</em>, <em>警察官</em>, <em>ブレーカー</em> といった表現も見落せない.
要約をこえたベタな尾鰭がうまれている. ブレーカーは古典すぎる気もするけど...
何かアナウンスがあったような口振りもいい. </p>
<h4>あなたの隣でその名前を</h4>
<p>次は共通認識となった怪談が土着化する様子をみていこう.</p>
<blockquote><p>RT @xxxxxxxxxxx: #jishin #teiden #ebina 
「輪番停電の作業のためおうかがいしました。」と
作業服で訪れる怪しいグループが各地で出没しているらしいです。
強盗作業ということですか？海老名市民も注意！！</p>
</blockquote>
<p>おそらく自分の地元に呼び掛けているのだろう. hashtag にも地名が入った. </p>
<blockquote><p>RT @xxxxxxxxxx: #jishin #teiden #hachioji #hachiouji 
「輪番停電の作業のためおうかがいしました。」と
作業服で訪れる怪しいグループが各地で出没しているらしいです。
強盗作業ということですか？八王子市民も注意！！</p>
</blockquote>
<p>まるっきり同じバージョンで地名だけちがう. 
郊外と怪談の交配が進み, そして突然変異がおこる...</p>
<blockquote><p>【注意】世田谷区奥沢に輪番停電を装った強盗？詐欺？グループが出没！！ 
『輪番停電の作業に来ました』と言って入ろうとするとのこと。 周りにいたら知らせてあげて！</p>
</blockquote>
<p>ついに発生地域が特定された! 引っ越す前の近所だこわいたすけて拡散希望! 
(直後の発言でデマだったと訂正しているが非公式 RT の速度には敵わない.) </p>
<p>しかもこれは大規模な犯行の一部に過ぎないのである!! </p>
<blockquote><p>茨城県下つくば市等で、東京電力の社員を名乗るもの数人が
「輪番停電の作業ため」と訪問するという報告がありました、
事前の通知も無しに訪問することはありません。お気をつけ下さい。</p>
</blockquote>
<p>こっちの方が文章が客観的なぶんステキ. 東京だけじゃないんだぜ. </p>
<p>おそらくこれらの発言をうけ, </p>
<blockquote><p>ついに茨城に「輪番停電の作業のため、おうかがいしました。」ってのが現れたらしいね。
訪問された人はインターホン画面を撮影、時間と大まかな住所を晒して逮捕しよーぜ。</p>
</blockquote>
<p>と発言した人が, しばらくあとで</p>
<blockquote><p>輪番停電詐欺の男達が誤ってガチホモの家を訪ねて『点検に参りましたー』ガチャッ「や ら な い か」
『アッアーッ！』なんてことにならないかと密かに期待している。…すみませんほんとすみません。笑</p>
</blockquote>
<p>と書いている. (これだからふじょしは...) とにかく怪談はついに <em>輪番停電詐欺</em> という通り名を授かった. 
明日以降の展開が楽しみでならない. ほんとにやって逮捕されるアホがでないかとそわそわしまう.</p>
<p>(追記: 15 日朝, <a href="http://www.tepco.co.jp/cc/pressroom/attention/index-j.html">東京電力から詐欺全般へ注意をうながすアナウンスがでた</a>...
なお "詐欺" でニュースを検索すると, 振り込め詐欺の記事が一件だけみつかった.) </p>
<h4>錯誤過剰</h4>
<p>以前 NY Times に載った "<a href="http://opinionator.blogs.nytimes.com/2010/10/24/stories-vs-statistics/">Stories vs. Statistics</a>" 
というコラムに, <a href="http://en.wikipedia.org/wiki/Conjunction_fallacy">Conjunction fallacy</a>(<a href="http://ja.wikipedia.org/wiki/%E8%AA%A4%E8%AC%AC">連言錯誤</a>)
という論理学のアイデアが紹介されていた. Wikipedia によると:</p>
<blockquote><p>ある前提について A という推論と A &amp; B という推論を提示したとき、A だけの方が可能性が高いにも関わらず A &amp; B の方を尤もらしいと感じてしまうこと。
「K氏が関西弁をしゃべるとき、彼が大阪出身である確率と、大阪出身で阪神ファンである確率はどちらが高いか」</p>
</blockquote>
<p>ちょっと極端にいうなら <em>話は細部があるほどそれらしい嘘になる</em> という主張. ストーリーが言説に力を与える. 
ピンポン怪談...あるいは &lt;輪番停電詐欺&gt; のオリジナル・バージョンは, 短いながら語りのディティールを持っていた. 
"深々と" 帽子を被った男. そして "たくさんのピアス". このリアリティが怪談に説得力を与え話の広がりを助けたと思う.</p>
<p><span class='image'><a href='http://www.amazon.co.jp/%E3%83%8A%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%AB%E3%83%BB%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AA%E3%83%BC%E3%83%BB%E3%83%97%E3%83%AD%E3%82%B8%E3%82%A7%E3%82%AF%E3%83%88%E3%80%881%E3%80%89-%E6%96%B0%E6%BD%AE%E6%96%87%E5%BA%AB-%E3%83%9D%E3%83%BC%E3%83%AB-%E3%82%AA%E3%83%BC%E3%82%B9%E3%82%BF%E3%83%BC/dp/4102451110%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4102451110' class='bookcover'><img data:asin='4102451110' class='asin image-right' src='http://ecx.images-amazon.com/images/I/41LnNGKut%2BL.jpg'></span></a></span></p>
<p>この &lt;本当らしさ&gt; はオリジナルにだけ許された特権で, 話は広まるにつれ簡素な伝聞となり声を失なう. 
けれど所々で思いだしたようにふと陳腐な尾鰭を生やし, ひと跳ねして, また簡素な, そしてどこか公的な響きをもった言葉へと姿を変える. 
やがて事実として結晶する頃には, きっとつまらないニュースや警句の一つになってしまう. (いやいいんだけど.)</p>
<p>それに怪談の真偽や書き手の意図はさておき, 
結果としてオリジナル・バージョンはこの連言錯誤, あるいは &lt;語りの力&gt; を使いすぎたと個人的には思う. 
怒りや警戒心をかきたてるのに語りを頼ると大抵ろくなことがない. 
そうした刺々しい感情は, 件のコラムに倣うなら Statistics, ちょろまかせない事実の果てにあればいい. 
語りは...どうある &lt;べき&gt; という類のものであってほしくないと願っております. </p>
<p>あらあらかしこ.</p>
<h4>関連</h4>
<ul>
<li><a href="http://www.tepco.co.jp/cc/pressroom/attention/index-j.html">詐欺・窃盗にご注意ください｜TEPCOニュース｜東京電力</a> (15 日追記)</li>
<li><a href="http://homepage3.nifty.com/hirorin/bonotegami.htm">棒の手紙</a> (教えてくれたひとありがとう.)</li>
</ul>
<hr>
<h4>つづき (翌日追記)</h4>
<p>NAVER まとめにいくつか似たような趣旨の tweet をまとめたページがあり, 
特にこの "<a href="http://matome.naver.jp/odai/2130008652448220101">震災後の都内、東京ガスなどを装った不審者の出没について</a>" は
異なるオリジナル片をいくつもとらえていた. えらい.</p>
<blockquote><p>世田谷・杉並区の一人暮らしの女性へ。安否確認という男性たちが早朝に訪ね
て来ました。怖くてカメラ覗いてないため服装等は確認出来ませんでしたが話
し声は拾えました。若い複数の男性です。同じ建物の他の部屋には行ってない
ので便乗したバカの可能性が高いと思うんです。気をつけて下さい。</p>
</blockquote>
<blockquote><p>ピンポンが鳴って、「東京ガスです、念のための点検と、食料お持ちしました」
との怪しい男性がモニターに。後ろに三人くらいの人影が見えます。間に合っ
ています、とガチャンしたら、しつこくピンポンしてきました。今TLに流れて
いる要注意の人？当方、港区在住です。皆様お気をつけください。</p>
</blockquote>
<blockquote><p>【都内拡散希望】 東京ガスでーす。玄関まで行き居留守したら、チッと舌
打ち。窓越しに見えた人数は4人組。 杉並区永福付近に在住の方気を付けて下
さい。</p>
</blockquote>
<blockquote><p>昨晩、家に東京電力を装った人が「若い女性向けに点検を行っ
てます」といってやってきました。怖くてまだ震えてます。世田谷区のみなさ
ん、またそれ以外の一人暮らしのみなさんも気を付けてください。東京電力の
方が室内の点検にくることはまずありません。拡張希望です</p>
</blockquote>
<p>最初の二つは 12 日に発言があり, 一方は早朝, もう一方は深夜の出来事としている. 
検索すると 12 日から 13 日にかけ大きなトレンドになっていた. 
この二つは冒頭のピアスの話より前におきた. 
件の語り手はこうした発言を目にしたから "ついに家にも来た" と声をあげたのだろう.</p>
<p>3 つめは 14 日, 4 つ目は 15 日. これらも多く retweet されている. 
(4 つ目はほとんど冗談にしか見えない. 若い女性向けにって...悪ふさげした知り合いじゃない?)</p>
<p>4 つのうち 3 つのアカウントは健在だった. 
その後の発言を見てみると, 警察に相談したから心配するなといった旨のことを書いており, 
話に連続性がある. そしてみな RT の嵐に驚いている. ごく普通の個人アカウントに見える.</p>
<p>嵐のような retweet にもよらず, これらの tweet にはピアス編と違い, 
大胆な改版はあまり見られない. なぜだろう. </p>
<p>すぐ目につく特徴として, どの発言にも地名が入っている. 
地名は改変やばらまきの自由度を大きくしばる. 
港区の出来事に "海老名市民も注意!" とは言えないし, 
地名の部分を削る気にもなれない. 
二つ目の変形で "当方" と "皆様..." を削除し中括弧のラベルをつけたバージョンはあったが, 
それでも地名は残していた. 1 つ目は RT のトリム後もうまく地名が残っている:</p>
<blockquote><p>今隣の家に来てました。。RT @koishiusa: うちにも今知らない男の人が3人
でピンポンってきた！こわい…“@miki1107: 世田谷・杉並区の一人暮らしの女性
へ。安否確認という男性たちが早朝に訪ねて来ました。怖くてカメラ覗いてな
いため服装等は確認出来ませんでしたが話し声</p>
</blockquote>
<p>(ところでピアス編もこのひとも, ほとんど詐欺師の訪問を待ちかねているみたいだね. つぎはうちかしら...?)</p>
<p>地名に限らず, 特に冒頭二つの tweet は報告としての体裁が整っている. 
人数, 服装(わからなかった), 他の家の様子. tweet に続くフォローアップもある. 
ストーリーの細部というより事実の列挙に近い.</p>
<p>語り口も落ちついている. "まだ震えている" 四番目の人も "昨晩" と事件から発言まで時間があいているし, 
一つ目はおかーさん風のたくましさがある. 二つ目は興味もなさそうだ.  
このアカウントの後続発言をみると笑ってしまう:</p>
<blockquote><p>さて、ピンポン鳴り止んだし、寝るかな。眠れますように。</p>
</blockquote>
<blockquote><p>おはよーん(*´∀`*)昨夜の、偽装東ガスピンポン野郎のポストがRTされまくっ
ててびびった。我が家にはたまにピンポンダッシュ野郎が来るので、ようやる
わーくらいに思って全然気にしてなかったけど、通報するほどの事態なのか……？</p>
</blockquote>
<p>ピンポン野郎って...頼もしい.</p>
<p>改めてピアス・オリジナルの巧みさが浮かびあがる. 
場所はわからず人数も "数名", 転送前に整理したくなる感情的な日本語ながら, 
同時に "輪番停電" の強い遺伝子がどこまでも面影を残していく. 
昨日は語りのうまさにだけ気をとられていたけれど, 語りなおしを誘う隙の見せ方もよかったんだね. </p>
<h4>怪談番外編</h4>
<p>やはり冷静に事実を伝えようとする頼もしさより, 得体のしれない恐しさが怪談には似合う. 
ピアスとは少し毛色が違うけど, 印象で肩を並べる巧みな語りがひとつ見つかった. </p>
<blockquote><p>真偽不明だけど、一人暮らしは用心すべき さっき知らない男の人が来た ガ
ス大丈夫ですか？ 食料お持ちしましたって。</p>
</blockquote>
<blockquote><p>喋ってる人は1人なのに液晶モニターには4人の男の人写ってた
大丈夫って言っても何回も何回もインターホン押してドアを開けようとしてた。
4人とも笑ってた みんな寝てるし電気ついてないし本当に怖かったよ。。</p>
</blockquote>
<blockquote><p>なんかさっき東京電力の人が来たけど…夜中だし、不自然過ぎだよね？
モニター越しの対応だったが、大丈夫って言ってるのに、中に入って確認させて下さいと。 怖いから無視したら、ドアドンドンガチャガチャされるし。</p>
</blockquote>
<blockquote><p>結局舌打ちしてどっか行ったけど、窓の方からも「すいませーん!!すいませー
ん!!」って声して怖かった。 本当に東京電力の人じゃないよね？;</p>
</blockquote>
<p>ただし...</p>
<blockquote><p>という、のがmixiコミュに上がってました。真偽は分からないけれど戸締り
は気をつけて置いた方が良いかもしれませんね</p>
</blockquote>
<p>とオチがつく. 怪談たるもの伝聞でないとね. 
もちろん印象的な断片はそれぞれ非公式 RT として流布している. </p>
<p>出回ったのは 13 日らしい. 適当に検索すると 2ch の引用 blog が沢山みつかる. 
どこかの mixi コミュニティが 2ch から引用したか, その逆なのだろう. 
尺にあった居場所をみつける怪談の生命力に感心する. </p>
<p>引用 blog の中にはもう少し原型を留めているものがあり, 
上の断片は複数の, おそらく別のアカウントの tweet などを繋げたものらしいことがわかった. </p>
<blockquote><p>さっき知らない男の人が来た
ガス大丈夫ですか？ 食料お持ちしましたって。
喋ってる人は1人なのに液晶モニターには4人の男の人写ってた
大丈夫って言っても何回も何回もインターホン押してドアを開けようとしてた。
4人とも笑ってた みんな寝てるし電気ついてないし本当に怖かったよ。。</p>
</blockquote>
<p>ここまでが一つの tweet らしい. Tweet 引用サイトに残骸をみつけた. 
残りはどこか別のところからもってきたもののようす. </p>
<p>ただその出所はよくわからない. realtime サーチでみつかる一番古いものは 2ch のコピペだった. 
由来がわからず, 地名もなく, みな寝静まった夜中の出来事, 
窓からは顔の見えない男達の笑い声が聞こえる. 
乱暴にドアノブをまわす音がしたあと, <em>すいませーん すいませーん</em> 
と悲痛なリフレインが響きわたったんだってさ...<em>ピンポーン</em>.</p>
