---
title: "Moving to Octopress"
date: 2011-11-26
---
<h3>Moving to Octopress</h3>
<p>Blog を移動しました。
ページの URL はかわってませんが
フィードの URL がかわってます。このページを目にしている人は
いないと思いますが移動をおねがいいたします: </p>
<ul>
<li><a href="http://steps.dodgson.org/">http://steps.dodgson.org/</a></li>
<li><a href="http://steps.dodgson.org/atom.xml">http://steps.dodgson.org/atom.xml</a> (feed)</li>
</ul>
