---
title: "最近もらった本: Being Geek"
date: 2011-07-16
---
<h3>最近もらった本: <a data:asin='4873114993' href='http://www.amazon.co.jp/Being-Geek-%E2%80%95%E3%82%AE%E3%83%BC%E3%82%AF%E3%81%A7%E3%81%82%E3%82%8A%E7%B6%9A%E3%81%91%E3%82%8B%E3%81%9F%E3%82%81%E3%81%AE%E3%82%AD%E3%83%A3%E3%83%AA%E3%82%A2%E6%88%A6%E7%95%A5-Michael-Lopp/dp/4873114993%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873114993'>Being Geek</a></h3>
<p><span class='image'><a href='http://www.amazon.co.jp/Being-Geek-%E2%80%95%E3%82%AE%E3%83%BC%E3%82%AF%E3%81%A7%E3%81%82%E3%82%8A%E7%B6%9A%E3%81%91%E3%82%8B%E3%81%9F%E3%82%81%E3%81%AE%E3%82%AD%E3%83%A3%E3%83%AA%E3%82%A2%E6%88%A6%E7%95%A5-Michael-Lopp/dp/4873114993%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4873114993' class='bookcover'><img data:asin='4873114993' class='asin image-right' src='http://ecx.images-amazon.com/images/I/416%2Bo3COOCL.jpg'></span></a></span></p>
<p>いただきました. ありがとうございます. </p>
<p>プログラマのキャリアに関する話題を中心に書かれた本で, 
<a href="http://www.randsinrepose.com/about.html">Blog</a> ををまとめて書き足したもの, らしい. 
そうした出自の性質上, 読み物として完結した感じはない. そのぶん気楽によめた. 
他人の blog をまとめ読みする楽しみってあるよね. </p>
<p>キャリア(仕事探し)の他にマネジメントやライフハックぽい話も扱っている. 
でもそういうのは話題を絞ってかかれた本を読めばいいと思う. 
この本の面白いところは仕事探し/仕事選びに関するところ. 
同じ話題を扱った本はたしかに結構あるけれど, 
だいたい人事コンサルタントや転職斡旋業者, 
あるいは一山あたってリタイア済の老人や
独立して事業を営むアドレナリン的ヒーローによって書かれている. 
営業, 説教, 黙示録に類する読み物を読むのは楽しい時もあるけど食傷しがち. </p>
<p>対する著者の Michael Loop は会社勤めの元プログラマ管理職. 
西海岸的に会社を渡りあるく著者の働きぶりは日本だと参考にならない気もする.
それでもウェブの会社に限っていえば私のまわりでも雇用は流動的に見える. 
大企業勤めてもない限り, どこも案外似たようなものなのかもしれない.</p>
<p>Loop の話には同じ会社員同士で共感できるところがある. 
ただ共感できないところも結構あり, それがかえって面白かった. 
教科書として読む本ではなく, 著者の人となりの輪郭を考えながら読む本だとおもう.
これは blog らしさかもしれない. </p>
<p>全体にてきぱきした人だ.
何が興味深い話題があったとする. 
たとえば採用面接. たとえば傾きつつある会社の様子. 
面接の話題でであれば面接官を分類し, 対策を提案する. 
傾いた会社ではリストラの様子をフェーズにわけ, 立ち振舞いを助言する.
私はもっとぼんやりと物をみているので, こうした類型化は面白く読んだ. 
若干身も蓋もないことをいうのでむっとすることもあるけれど, 
それは痛いことを突かれたせいだろう. </p>
<p>独立心の強い人でもある. 誰かと対峙するのを恐れない. 
困った人をミーティングでどう扱うか, 仕事ぶり/困ったことを上司にどう訴えるか, 
プレゼンでの厳しいつっこみのをどうあしらううか, 
採用がきまる時にどう給料をゴネるか. そんな話が並ぶ. 
私にとって仕事でつきあう他人は多かれ少なかれ頼りにする仲間であり
泣きつく先の助っ人だから, 間合いを図ってずばっとやる Loop のスタイルは新鮮というか, 
そういえばこういう考え方の人もいるなを思いながら読んだ.
彼がアメリカ的なのか, 私がしゃきっとしないだけか...</p>
<h4>仕事の話を読むたのしみ</h4>
<p>Loop に限らず, 他のひとが仕事で食いつなぐ様子を聞くのはいつもそれなりに楽しい. 
ストーリーがあるし, ゴシップとしても面白い. 
(たとえば <a href="http://engineer.typemag.jp/elife/2011/07/4-13.php">ogijun の話はよかった</a>.)
ただ場面によって語り口が類型化する嫌いもあり, そこは好きになれない. 
転職斡旋業者によるインタビューは背後にある意図を隠し切れないし, 
若者向けに書かれた話はどうにも偉そうで, 拝聴モードに入るまで時間がかかる. 
退職の挨拶は挨拶だけに細部が美化されすぎる. </p>
<p>こうしたよくある文脈以外で話を聞きたいとよく思う.
私も何度か書こうとしたことがあるけれど, だいたい説教か懺悔になってしまい挫けている. </p>
<p><span class='image'><a href='http://www.amazon.co.jp/Coders-Work-%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%81%AE%E6%8A%80%E3%82%92%E3%82%81%E3%81%90%E3%82%8B%E6%8E%A2%E6%B1%82-Peter-Seibel/dp/4274068471%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274068471' class='bookcover'><img data:asin='4274068471' class='asin image-right' src='http://ecx.images-amazon.com/images/I/51QbSMFXssL.jpg'></span></a></span></p>
<p>そういえば <a data:asin='4274068471' href='http://www.amazon.co.jp/Coders-Work-%E3%83%97%E3%83%AD%E3%82%B0%E3%83%A9%E3%83%9F%E3%83%B3%E3%82%B0%E3%81%AE%E6%8A%80%E3%82%92%E3%82%81%E3%81%90%E3%82%8B%E6%8E%A2%E6%B1%82-Peter-Seibel/dp/4274068471%3FSubscriptionId%3D0SRV0GVS2Q5FGJTWHV82%26tag%3Dstepstophanta-22%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D4274068471'>Coders At Work</a> は良く書けていた. 
まずインタビュアが転職斡旋業者ではない. そして必ずしも説教じみていない. 
インタビュアの Peter Seibel はいつも話の最後に若者への助言を求める. 
でも話し手の答えはまちまちで, 必ずしも自信に溢れたものではない. その謙虚さがいい. 
(多くの話し手は世界を代表するプログラマなわけだから...) ただし大物すぎて身近さはない.</p>
<p>身近な人の話は宴会のように顔を合わせて聞くしかないのだろうか.
それでもいいけれど, テキスト愛好家としては文字になったのを読みたい. 
仕事選びや仕事探しの話をしなくてもいい. 同じ人が書いたものを沢山読めば伝わることはある. 
世の blog 書きも Michael Loop にならいもっと仕事の話を書いてほしいと思いました. </p>
