---
title: "このページはもともと近況や日記だったはずがいつの間にか日記でなくなる"
date: 2011-01-28
---
<h3>近況</h3>
<p>このページはもともと近況や日記だったはずがいつの間にか日記でなくなる
ウェブ日記にありがちな落日に向かいつつあり気に入らない。
もっとどうでもいいことも書こう。というわけで日記のようなもの。</p>
<p>このごろチーム編成のなりゆきで英語な人々と昼飯をたべることが多い。
タダメシがあるというのに彼らはビルの外の食事が好きで、
おかげで少しは近所のピザ屋などに詳しくなった。
八割がた聞きとれない会話をにこにこ聞き流しながらピザ(など)をかじる日々がつづく。</p>
<p>パレートの法則に助けられ二割の範囲でわかることもある。
彼ら日本人と働く愉快な仲間たちにはいくつかお約束のジョークがあり、
呼称に関する話題もレパートリーのようだ。
いわく: 日本人の呼称は名字のあとに san をつけるものだけれど、ルールにあてはまらない人がいて困る。
たしかに<a href="http://www.google.com/search?q=honorifics+san">ちょっと検索した</a>だけで英語圏な人々がなやむ様子を窺える。</p>
<p>たとえば私の上司の日本人は名字ではなく名前(ファーストネーム)で呼ばれている。
メールアドレスにも名前を使う。でも上司なので...という以前に日本人同士なので
みな san (というか「さん」)をつけて呼ぶ。こうして「名前-san」という不規則なパターンが生まれる。
よく見ると上司以外にも何人か「名前-san」の人がいることに気がつく。
彼らはみな名前をメールアドレスにしている。</p>
<p>だから現実に運用されているルールは「メールアドレス-san」に近い。
より一般的な「名字-san」と互換性がないこのルールが愉快な仲間達にとって混乱のもとらしい。</p>
<p>更に面倒なことに、「メールアドレス-san」すら正確なルールではない。
たとえば名前空間の都合で「やまだ なおと」さんのメールアドレスが「nyamada」になることがよくある。
ルールどおりなら「にゃまだ-san」と呼べばいいが、実際のところにゃまださんと呼ばれる人は少ない。
同じようにでメールアドレスが「naotoy」のひとを「なおとい-san」とはあまり呼ばない。
現実に運用されている正確なルールは「メールアドレスから名字か名前っぽい部分を抜き出したもの-san」
だといえる。それ辞書なしでわかんないじゃん... (メールなら名前も書いてあるからわかるけど。) </p>
<p>更にややこしい事態がある。世の中にはアメリカ人のような日本人というのがいて、
たとえばアメリカの大学を卒業したのちしばらくそこらで働いたあと日本に帰ってきていたりする。
彼らは英語圏の人からみるとまるで英語圏の人なので、自然と名前(san なし)で呼ばれる。
けれど日本人からみると日本語圏のひとなので、名字-san と呼ばれる。
しかしメールアドレスにファーストネームを選んでいる人も多く、そうるすと日本人からは名前-san と呼ばれる。
でも形式ばった場面で出番の多い人だと名字-san で呼ばれることもある。
覚えられている名前が人によって違うため、
「ほらこないだのミーティングでいたあのひと...」「山田さん？」「違う気がする...」「あの小柄なひとでしょ」「Naoto のこと？」みたいな会話がおこる。
お互い気の毒でならない。もうにゃまだでいいじゃん...</p>
<p>この混乱をみると、規則的に「名字.名前」といったメールアドレスを割り振る会社があるのもわかる。
けれど個人的には狭い名前空間を巡って争い混乱する方がウェブっぽくて面白いと思う。
私は前の勤務先では勢いで omo@ をメールアドレスにしていた。
今度は 名字@ のアドレスを選んでいる。でも今おもえば omo@ にしておけば色々面白かったに違いない。
実際よくわからないメールアドレスの人もけっこういる。名字でも名前でもない識別子には-san をつけるのか？
試してみたかった... 30 過ぎたおっさんがハンドルを名乗るとか痛々しい、なんて怯んだことを後悔している。</p>
<p>私が日本人の呼称に -san をつけるルールを知ったのは最初に勤めた会社でのこと。
どこかのオフィスからきたメールに -san がついていておかしく思ったのを覚えている。
これは中心が日本にある組織の特殊ルールだと思っていたけれど、米国資本の会社でも普通に使われていた。
一方で参加するメーリングリストによっては名字-san ではなく名前のみ(または名字のみ)で
呼ばれることもある。san の使いどころや普及率がいまいちわからない。やっぱり omo にしとくんだったな。</p>
<p>...</p>
<p>ところで、英語圏の人をファーストネームで呼ぶのは(ほとんど形骸化した)親密さの現れだと思うけれども、
日本語で親密さをあらわす方法を実のところ私はよくわかってない。san には親密さが足りない。
大学時代の古い友人は san なしで呼ぶことがある。これは親密さのあらわれな気もするけれど、
「呼び捨て」というくらいだから傍目には若干見下した感もある。
見下し感に目をつぶり同僚と san なしで会話している場面を想像してみる...なんか体育会系ぽい...</p>
<p>なんてことをぼんやり考えつつ愉快な仲間たちが二枚目のピザを平らげるのを見届けた。</p>
