---
title: "呼び出しプラス記法の由来, そのほか瑣細なメール技法のこと"
date: 2011-07-18
---
<h3>呼び出しプラス記法の由来, そのほか瑣細なメール技法のこと</h3>
<p><img class='right' src='http://upload.wikimedia.org/wikipedia/en/archive/0/0a/20110509184959%21Gmail_logo.png'></p>
<p>そんなわけで仕事の話を書いてみよう.</p>
<p>どこかで誰かの名前を呼ぶとき, Twitter が @ で mention するように <a href="http://google.com/+">Google+</a> では "+名前" と書く. 
人の名前の所は名字でもメールアドレスでも適当に補完してくれる. "+" の記法はきっとサービス名にちなんだのだろうけど, 
以前からメールの中で使われてきた慣習でもある. </p>
<p>今の勤務先にやってきて, かつてよりだいぶ多くのメールを読むようになった. 
以前は会社もチームも小さかったし分散開発でもなかったから, 一日の有効メール量は 10 通くらいだった気がする. 
私は朝と晩の二回しかメールを読まなかったけれど, ほとんど支障はなかった. </p>
<p>今や私の Gmail は pin tab され, 一日 50 通くらい届くメールをさばいている. 
これは webkit-dev や chromium-dev, webkit-bugzilla (これだけで 100 通くらい) を含まない. 
あと社内の細々した(読まなくていい)メーリングリストからのメールも数えていない. 
Inbox に残るメールがこれくらい. 標準よりはたぶんまだだいぶ少ない. </p>
<p>必ずしも通読するとは限らないものの, Inbox に届いたものなら Subject と冒頭くらいには目を通す. 
メール好きでない私にとって, 列をなした Subject の山はまったく嬉しくない. 
一方でケチをつける気にもならない. 巨大組織や分散開発なりに transparency を保とうとする試みを支持したいから. 
情報って隠そうとしなくても知らせるのをさぼるだけで不透明になるよね. </p>
<p>同僚の中にはかなりアグレッシブに読まない人もいる. 私はまだ匙加減を見極められていない. </p>
<h4>Recipient Juggling</h4>
<p>大量のメールをやりとりするためか, これまで見たことのなかったスタイルのメッセージを目にするようになった. 
勤務先固有のものでもないだろうけれど, 私には珍しかったので紹介してみたい.</p>
<p>いちばん面白いと思ったのは会話の途中で To や Cc を書き換えるスタイルと, 書き換えをあらわす略記法. 
人の名前をよぶ Google+ 風の <strong>+名前</strong> は, メールの中で使われると誰かが To: に加えられたことを知らせる.</p>
<p>たとえば必読マンガを勧めあうスレッドがどこかのメーリングリストで勃発したとする. 
私はそのメーリングリストをとっていないが, 誰かが私を巻き込んで bikeshed すべきだと考えた.
そしてこんなメールが届く.</p>
<blockquote><p>&gt; Personally, I don't recommend any Fumiko Tanigawa's pieces as staring points. <br>
&gt; They are too stereo-typical and full of naive and sentiment.<br>
&gt; How about Ai Yazawa's?<br>
&gt;<br>
<strong>+omo</strong> should have strong opinion in this area.<br></p>
</blockquote>
<p>このときメールの To: には元のリストの他に私が追加されている. </p>
<p>意見を求めるのに "To:" を使う方法は割と広く認められている気がする. 
メール読まない陣営の多くは Inbox に残すメールのフィルタに "to:me" を指定している. 
だからフィルタを突破して意見を求めるためメーリングリストのメンバ相手でも改めて To: に加えることがある.</p>
<p>同じメーリングリストで, 今度は新刊/既刊情報がやりとりするスレッドがあらわれた. 
私は新刊に関して特に意見はないけれど, どんなマンガが出たかになら少しは興味がある.    
それを知る同僚が気をきかせてくれるとこうなる.</p>
<blockquote><p>&gt;&gt; Hi folks, <br>
&gt;&gt; As you might know, "Poison Berry in My Brain" by Setona Mizushiro is just shipped!<br>
&gt;&gt; This new series is simply a MUST read<br>
&gt;&gt; for anyone who loves "Un cholatier de I'amour perdu". <br>
&gt;&gt; <br>
&gt; Yeah, I've just read it and got fascinated!<br>
&gt; And FYI, I also found a paperback version of her old work <br>
&gt; "Diamond Head" at Shibuya TSUTAYA. It's also fun.<br>
<strong>cc: omo</strong><br></p>
</blockquote>
<p>先の To と同じように, 私が今度は Cc: に追加される.
"+" と違い, cc: の人は特に意見を求められていない. </p>
<p>"+" や cc: は個人宛だけでなくメーリングリストのアドレスにも使われる. 
議論用リストである製品への苦情があわれたら, 該当製品開発チームのリストが "+" されたりする.</p>
<p>さて冒頭のスレッドが炎上し, なぜか話題が尾田栄一郎に移ったとしよう.</p>
<blockquote><p>&gt;&gt;&gt;&gt; ...<br>
&gt;&gt;&gt; ....<br>
&gt;&gt; For me, it's hard to follow such kind of looong (and sometimes boring) story.<br>
&gt; Could you elaborate what part of the story is boring? <br>
&gt; If you read it careful enough, it should be occupied by non-stop excitements, hidden romances <br>
&gt; and, most importantly, we can always see the beleaf in friendships there. <br>
<strong>bcc: omo</strong> because he doesn't have any interest on this topic.<br>
<br>
I personally sympathize your feeling that is longing for thoughtful readers.<br>
But to be realistic, we should know that not every reader actually does it.<br>
...<br></p>
</blockquote>
<p>bcc: された私は To から外される.</p>
<p>誰かを外して議論を続けることはこれまでもよくあったけれど, 
bcc: を使うことで議論から外した旨を端的に伝えることができる. 
はじめて bcc の有用な使い道を知った気がした. </p>
<p>なお bcc: はその意図から単に "-" と書かれることも多い. 
また "+" と "-" を同時に書くこともある.
典型的にはメーリングリストを切り替えるのに使う.</p>
<p>たとえば新刊案内のスレッドに, 
暗黙の了解を忘れつい(あちら側系である)東京漫画社の話を切り出してしまった人がいたとしよう.</p>
<blockquote><p>&gt; On Yamashita Tomoko, I once thought her finest part is from the short stories<br>
&gt; on Marble Comics.<br>
<strong>-jinbocho-users</strong><br>
<strong>+ikebukuro-users</strong><br>
Achievement unlocked!<br>
You've finally jumped into our side ;-)</p>
</blockquote>
<h4>"You can stop reading now"</h4>
<p>アナウンスに類するメールは大抵こんな風に書き出される:
"<strong>If you</strong> don't care about any new arrivals from Shogakukan, <strong>you can stop reading now</strong>."</p>
<p>特定の聴衆向けに書いたメールだから, 関係ない人はよみとばしていいですよというわけ.
(<a href="https://groups.google.com/forum/#!searchin/chromium-dev/%22You$20can$20stop$20reading$20now%22">Chromium-dev を検索しても沢山みつかる</a>.)
あまりに多用される常套句なので, 誰もが読むべきアナウンスすらこの書式に従うことがある. 
たとえば "If you don't care about code quality, you can stop reading now." なんて書かれたら読まざるを得ない. </p>
<p>ヘッドラインにはこのほか
"<a href="https://groups.google.com/forum/#!searchin/chromium-dev/%22ACTION$20REQUIRED%22">ACTION REQUIRED</a>" や
"<a href="https://groups.google.com/forum/#!searchin/chromium-dev/PSA">PSA</a>" をよく見かける.</p>
<p><strong>ACTION REQUIRED</strong> は何かやらないとビルドが壊れるとか, 放置するとひどい目にあう知らせ.
<strong>PSA</strong> (Public Service Announcement)はサーバ止めますの類. 
どちらも <a href="https://groups.google.com/forum/#!searchin/chromium-dev/Important">Important</a> よりはニュアンスがあって良い. </p>
<h4>作法と理想</h4>
<p>皆が Gmail を使っている前提があるためか, 昔ながらのメールの作法はまったく守られない. 
わかりやすいのは引用部分を削らないこと. 
Gmail に限らず最近わざわざ引用を削る人は減った気がするけれど, 
それにしても削らない. それどころか巨大な引用の山の中にインラインで二三行だけの返信をすることがよくある. 
Gmail の引用折り畳みをあてにしている. たしかに折り畳まれる前提なら
返信元の文脈を残しつつチャットのように話を進められて便利ではある.</p>
<p>他にも (おそらく dogfood 時代の名残りで) 絵文字や HTML mail を容赦なく使ったり, 
宴会の日程調整などで <a href="https://docs.google.com/support/bin/answer.py?hl=en&amp;answer=151187">Docs のフォーム作成機能</a> や
カレンダーの invitation の通知が次々と届くのに最初は閉口した(が慣れると便利だった).</p>
<p>プラス, cc, bcc が頻繁に使われるのも, 返信メールが細かい枝に分岐せず一列にならぶ Gmail の UI と関係がある気がする. 
返信用テキストボックスが会話の末尾にあるおかげで標準の送信先が最後のメールに倣うからこそ, 宛先ジャグリングが威力を発揮できる.</p>
<p>Gmail の強力さをあてにしたメールが打ち寄せる様をみると複雑な気分になる. 
私にとってメールは終わったテクノロジであり, レガシーとして仕方なく付き合うものだった. 
ところが今や完全にメールべったりで仕事をしている. 
しかも本来メールでやるべきでない文書の校正や書類の交換なんかは外に追い出せているのに, 
なおこれだけ大量のメールが残っている. いつか Eclipse の時代が来ると信じていたはずなのに
気がつくと .emacs を書き足している自分に気付くあの感覚と少し似ている. 強力すぎるツールが理想を歪めてしまう.</p>
<p>なんて書いていているうちに脱メールを目指す地道な試みを再開する意欲がちょっと湧いてきた. 
まず Bugzilla の通知メールあふれをなんとかしたいよな...</p>
<p>そんな事を考えた連休の夜でありました. あらあらかしこ.</p>
