<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/bn/stylesheets/style.css">
<link href='http://fonts.googleapis.com/css?family=Vollkorn|Source+Code+Pro' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<meta charset="utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
<title> <%= current_article.title + ' - ' unless current_article.nil? %>Backnumbers: Steps to Phantasien</title>
<%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
</head>
<body>
<div id="nav"><a href="/"><i class="fa fa-archive"></i>.dodgson.org</a></div>
<div id="main" role="main">
<% unless current_article.nil? %>
<h2 class="article-date"><%= link_to current_article.date.strftime('%Y-%m-%d'), current_article %></h2>
<% end %>
  <%= yield %>
</div>
<div id="footer">
<% unless current_article.nil? %>
<a href="/"><i class="fa fa-archive"></i></a>
<% end %>
</div>
</body>
</html>
